<div data-sly-use.model="com.techcombank.core.models.CardInfoModel"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test.hasContent="${model.cardInfoItemList}">
    <sly data-sly-test="${hasContent}">
        <section class="list-card-info ${model.theme}-theme">
            <div class="list-card-info__container ${model.viewMoreButton ? 'view-more' : ''}">
                <div class="list-card-info__list-item ${model.displayVariation} ${model.viewMoreButton ? 'view-more' : ''}">
                <div class="list-card-info__item img-${item.imagePosition} effects-${model.cardInfoEffects}" data-sly-repeat="${model.cardInfoItemList}"
                        data-sly-test="${!item.cardTitle}">
                        <span class="list-card-info__item--box" data-sly-test="${item.webImagePath}">
                            <picture>
                                <source media="(max-width: 360px)"
                                    srcset="${item.mobileImagePath}"/>
                                <source media="(max-width: 576px)"
                                    srcset="${item.mobileImagePath}"/>
                                <source media="(min-width: 1080px)"
                                    srcset="${item.webImagePath}"/>
                                <source media="(min-width: 1200px)"
                                    srcset="${item.webImagePath}"/>
                                <img class="list-card-info__item-img" alt="${item.altText}"
                                    src="${item.webImagePath}">
                            </picture>
                        </span>
                        <div class="list-card-info__item-wrapper">
                            <div class="list-card-info__item-content">
                                <div class="list-card-info__item-info-description">
                                    <div class="list-card-info__item-info-title">${item.cardTitle @ context='html'}</div>
                                    <div class="list-card-info__item-info-card-description" data-sly-test="${item.cardDescription}">${item.cardDescription @ context='html'}</div>
                                </div>
                                <div class="list-card-info__item-info-footer"
                                         data-sly-test="${item.cardDescription2}">
                                    ${item.cardDescription2 @ context='html'}
                                </div>
                                <div class="list-card-info__item-action" data-sly-test="${item.ctaNeeded}">
                                    <sly data-sly-resource="${ itemList.index @ resourceType='techcombank/components/button'}"></sly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-card-info__view-more-btn" data-sly-test="${model.viewMoreButton}" viewMoreLabel="${model.viewMoreLabel}" viewLessLabel="${model.viewLessLabel}">
                <a class="cta-button view-more">
                    <span class="cmp-button__text">${model.viewMoreLabel}</span>
                    <img class="cmp-button__icon"
                        src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-dropdown-arrow.svg" />
                </a>
            </div>
        </section>
    </sly>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>
