<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
  data-sly-use.ld="com.kemin.redesign.core.models.explorefocus.ExploreByFocusAnchor"
  data-sly-test.hasChild="${ld.links.size > 0}">
  <div class="focus_anchor explore-by-focus-in-author">
    <div class="focus_anchor_items">
      <span class="foucs_anch_heading">${'kemin.explore-by-focus' @i18n}</span>
      <div class="focus_anc_pre"> 
        <span class="icon-chevron-left pre_button"></span> 
      </div> 
      <ul data-sly-list.item="${ld.links}" class="focus_item_links">
        <li><a data-cta="${item.title}" data-at="${item.title}" data-nav="ExploreByFocus" data-cta-type="link" href="${item.url @ extension = 'html'}">${item.title}</a></li>
      </ul>
      <div class="focus_anc_next"> 
        <span class="icon-chevron-right next_button"></span> 
      </div>
    </div>
  </div>
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasChild}"></sly>