<sly data-sly-test="${wcmmode.edit}">
  <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.currencyConvertorModel="com.techcombank.core.models.CurrencyConvertorModel">
<section class="container">
    <div class="currency-converter" data-url="${currentPage.path}/_jcr_content.exchange-rates.integration.json">
        <div class="priority-exchange__container">
                <div class="priority-exchange__panel">
                    <div class="panel-item">                       
                        <div class="analytics-active-link panel-item__exchange-section" data-tracking-click-event="calculator"
                                            data-tracking-click-info-value = "{'CalculatorName': 'Currency Exchange','CalculatorFields': '${currencyConvertorModel.calculatorField}'}"
                                            data-tracking-web-interaction-value = "${currencyConvertorModel.interactionNameType}">
                            <div class="exchange-section__transaction-type-selector">
                                <h3 class="exchange-section__label">${currencyConvertorModel.transaction}</h3>
                                <div class="exchange-section__tab-wrapper">                                
                                    <div class="exchange-section__tabs analytics-transaction-tab">
                                        <sly data-sly-list.transactionTabItem="${currencyConvertorModel.transactionTypeTab}">
                                        	<span data-type="${transactionTabItem.transactionType}" class="exchange-section__tabs-item ${transactionTabItemList.first ? 'tab-active' : ''}" aria-hidden="true">${transactionTabItem.transactionLabel}</span>
                                        </sly> 
                                    </div>  								 
                                </div>
                            </div>
                            <div class="exchange-section__currency-selector">
                                <div class="currency-selector__currency-item">
                                    <h3 class="exchange-section__label">${currencyConvertorModel.foreignCurrency}</h3>
                                    <div class="currency-item__inner">
                                        <div class="exchange-section__tabs scroll-currency-converter">
                                            <div class="exchange-section__tabs-scroller scroller analytics-currency-tab">
                                             <sly data-sly-list.sourceCurrencyTabItem="${currencyConvertorModel.sourceCurrencyTab}">
                                                 <div data-index="0" tabindex="-1" aria-hidden="true">
                               						 <span class="exchange-section__tabs-item ${sourceCurrencyTabItemList.first ? 'tab-active' : ''}" aria-hidden="true" tabindex="-1">${sourceCurrencyTabItem.sourceCurrency}</span>
                                                </div>
  											 </sly>
                                            </div>
                                        </div>
                                        <div class="exchange-section__input">
                                            <div class="item__input-fields">
                                                <div class="input-field__currency-field" inputmode="numeric">
                                                    <input
                                                            aria-invalid="false"
                                                            type="text"
                                                            placeholder="${currencyConvertorModel.sourceCurrencyPlaceholder}"
                                                            maxlength="25"
                                                            name="totalPrice"
                                                            class="date-time-wrapper__input money__input-field"
                                                            value=""
                                                            pattern="[0-9]" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="currency-selector__currency-item">
                                    <h3 class="exchange-section__label">${currencyConvertorModel.exchangeInfo}</h3>
                                    <div class="currency-item__inner">
                                        <div class="exchange-section__tabs">
                                            <div class="exchange-section__tabs-scroller single-item">
                            <span class="exchange-section__tabs-item tab-active" aria-hidden="true" tabindex="-1">${currencyConvertorModel.targetCurrency}
                            </span>
                                            </div>
                                        </div>
                                        <div class="exchange-section__input">
                                            <div class="item__input-fields">
                                                <div class="input-field__currency-field" inputmode="numeric">
                                                    <input
                                                            aria-invalid="false"
                                                            type="text"
                                                            placeholder="${currencyConvertorModel.targetCurrencyPlaceholder}"
                                                            maxlength="25"
                                                            name="tranferPrice"
                                                            class="money__output-field"
                                                            value=""
                                                            pattern="[0-9]"
                                                            readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="exchange-section__note">
                                ${currencyConvertorModel.currencyChangeNote}
                            </div>
                            <div class="exchange-section__error">
                                ${currencyConvertorModel.errorNote}
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
</sly>
