<!--/*
    Copyright 2017 Adobe Systems Incorporated

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/-->

<!--/*
    Redirect user to login page if current page require authentication
*/-->
<sly data-sly-test="${!wcmmode.edit}">
    <script>
	var custData = JSON.parse(localStorage.getItem("mage-cache-storage"));
    var isAuthenticated = "${currentPage.jcr:mixinTypes @context = 'scriptString'}";
    var authenticationUrl = "${currentPage.granite:loginPath @context = 'scriptString'}";
	if(isAuthenticated && authenticationUrl){

    	if(custData==null || (typeof custData=='undefined')){
        	location.href = authenticationUrl;
        }else if(custData.customer==null || (typeof custData.customer=='undefined')){
			location.href = authenticationUrl;
        }else if(custData.customer.dish_customer_id==null || (typeof custData.customer.dish_customer_id=='undefined')){
			location.href = authenticationUrl;
        }
    }

    </script>
</sly>

<sly data-sly-test="${caconfig['com.dish.dopweb.core.configs.ChatConfig'].chatEnabled}">
    <script>
    	if (!document.cookie.split(';').some((item) => item.trim().startsWith('dopwebSession='))) {
                var date = new Date();
                document.cookie = "dopwebSession="+date+";secure";
        }

    </script>
    <!--/* ASAPP Chat SDK Embed */-->
    <script>
        (function(w,d,h,n,s){
            s=d.createElement('script');
            w[n]=w[n]||function(){
                (w[n]._=w[n]._||[]).push(arguments)
            },
            w[n].Host=h,s.async=1,s.src=h+'/chat-sdk.js',s.type='text/javascript',d.body.appendChild(s)
        }(window,document,'https://sdk.asapp.com','ASAPP'));

    </script>
    <!--/* ASAPP Chat SDK Embed End */-->
</sly>

<sly data-sly-test="${caconfig['com.dish.dopweb.core.configs.ChatConfig'].chatEnabled}"
     data-sly-use.chatBox="com.dish.dopweb.core.configs.ChatBoxConfig">
    <script>
        document.addEventListener('DOMContentLoaded',
        function () {
                    var customerData;
                    if(localStorage.getItem("mage-cache-storage") === null){
                     ASAPP('load', chatboxObject(customerData));
                    }else{
                    var storeKey = localStorage.getItem("mage-cache-storage");
                    var parsedStoreKey = JSON.parse(storeKey);
                    customerData = parsedStoreKey.customer;
                    ASAPP('load', chatboxObject(customerData));
            }
        });

        function chatboxObject(customerData){
            var intentCode = new URLSearchParams(window.location.search).get('intent');
           if((typeof customerData != 'undefined') && ${caconfig['com.dish.dopweb.core.configs.ChatConfig'].chatAuthenticationEnabled || false @context = "scriptString"} == true){
              var obj = {
                APIHostname: '${chatBox.aPIHostName @ context='scriptString'}',
                AppId: '${chatBox.appId @ context='scriptString'}',
                Display: {
                        AlwaysShowMinimize: true,
                        FrameDraggable: false,
                        FrameStyle: "default",
	                    },
                CustomerId: customerData.dish_customer_id,
                ContextProvider: function(callback){
					var contextObject = {
					CompanySubdivision: '${caconfig['com.dish.dopweb.core.configs.SiteBrandNameCaConfig'].siteBrandName @ context='scriptString'}',
                		Auth: {
                             Body: {
                              token_expiry: "86400",
                              token_scope: 'dishwireless'
                             },
                             Token: customerData.ping_access_token,
                             ExternalSessionId: customerData.session_id,
                             ExternalSessionType: 'AEM'
                             }
            		};
                    callback(contextObject);
                }
            }
           }else if(typeof customerData === 'undefined' || ((typeof customerData != 'undefined') && ${caconfig['com.dish.dopweb.core.configs.ChatConfig'].chatAuthenticationEnabled || false @context = "scriptString"} == false)){
               var dopwebSessionValue = document.cookie.split('; ').find(row => row.startsWith('dopwebSession=')).split('=')[1];
               var date = new Date(dopwebSessionValue);
               var dopwebSessioninMillisec = date.getTime();

               var obj = {
                APIHostname: '${chatBox.aPIHostName @ context='scriptString'}',
                AppId: '${chatBox.appId @ context='scriptString'}',
                Display: {
                        AlwaysShowMinimize: true,
                        FrameDraggable: false,
                        FrameStyle: "default",
	            },
                ContextProvider: function(callback){
					var contextObject = {
                		ExternalSessionId: dopwebSessioninMillisec.toString(),
                		ExternalSessionType: 'AEM'
            		};
                    callback(contextObject);
                },
            }
           }
            if(intentCode){
                obj.Intent = {
                	Code: intentCode,
                }
            }
            return obj;
        }

    </script>
</sly>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='dopweb.base'}"/>
    <sly data-sly-call="${clientlib.js @ categories='dopweb.navigation'}"/>
    <sly data-sly-call="${clientlib.js @ categories='dopweb.cif'}"/>
</sly>


