<sly data-sly-use.managementTeamPanelModel="com.techcombank.core.models.ManagementPanelModel"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test.hasContent="${managementTeamPanelModel.panelBgImage}">
    <sly data-sly-test="${hasContent}">
        <div class="management-team-panel tab-horizontal-report">
            <div class="tab-horizontal-report__container">
                <div class="tab-horizontal-report__tab-content">
                    <div class="tab-horizontal-report__tab-content-card" data-tab-content="directory">
                        <div class="tab-horizontal-bio__list-card">
                                <sly data-sly-list.panel="${managementTeamPanelModel.profileItem}">
                                <div class="tab-horizontal-bio__card">
                                    <div class="tab-horizontal-bio__card-container">
                                        <picture>
                                            <source media="(max-width: 360px)" srcset="${panel.profileImageMobile}"  />
                                            <source media="(max-width: 576px)" srcset="${panel.profileImageMobile}" />
                                            <source media="(min-width: 1080px)" srcset="${panel.profileImage}" />
                                            <source media="(min-width: 1200px)" srcset="${panel.profileImage}" />
                                            <img src="${panel.profileImage}" alt="Profile image" />
                                        </picture>

                                        <div class="tab-horizontal-bio__card-content">
                                            <div class="tab-horizontal-bio__card-content-role">
                                                ${panel.designation}
                                            </div>
                                            <div class="tab-horizontal-bio__card-content-title">
                                                ${panel.name}
                                            </div>
                                            <div class="tab-horizontal-bio__card-content-description">
                                                ${panel.description @ context = 'html'}
                                            </div>
                                            <div class="tab-horizontal-bio__card-action">
                                                <button class="tab-horizontal-bio__card-action-btn">
                                                    ${managementTeamPanelModel.cardText}
                                                    <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-arrow.svg"
                                                         style="width:16px; height: 17px;" alt="close"/>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </sly>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bio-popup">
                <div class="bio-popup-content">
                    <picture class="background">
                        <source media="(max-width: 360px)" srcset="${managementTeamPanelModel.panelBgMobile}"  />
                        <source media="(max-width: 576px)" srcset="${managementTeamPanelModel.panelBgMobile}" />
                        <source media="(min-width: 1080px)" srcset="${managementTeamPanelModel.panelBgImage}" />
                        <source media="(min-width: 1200px)" srcset="${managementTeamPanelModel.panelBgImage}" />
                        <img src="${managementTeamPanelModel.panelBgImage}" alt="Panel background image" />
                    </picture>
                    <div class="personal-info">
                        <div class="info">
                            <h4 class="position"></h4>
                            <h3 class="name"></h3>
                            <p class="detail-info"></p>
                        </div>
                        <div class="avatar">
                            <img src="" alt=""/>
                        </div>
                    </div>
                    <div class="close-btn">
                        <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/icon_close_white.svg?w=1920&q=75"
                             alt="close"/>
                    </div>
                </div>
            </div>
            <div class="management-team-panel__load-more">
                <button type="button" class="load-more__button"
                        data-tracking-click-event="linkClick"
                        data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': 'other'}}"
                        data-tracking-click-info-value="{'linkClick':'${managementTeamPanelModel.viewMore}'}">
                    <span> ${managementTeamPanelModel.viewMore}</span>
                    <div class="load-more__button-icon">
                        <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-arrow.svg?w=1920&q=75" alt="Red arrow" />
                    </div>
                </button>
            </div>
        </div>
    </sly>
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>
