<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2019 Adobe
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<template data-sly-template.simple="${ @ container, containerHelper, containerPaddingModel, containerModel,containerMarginModel}">
    <sly data-sly-test="${wcmmode.edit}" data-sly-use.allowed="com.day.cq.wcm.foundation.AllowedComponentList"></sly>

    <sly data-sly-test.containerUnits="${properties.containerUnits}"></sly>
    <sly data-sly-test.containerTopMargin="${'margin-top : {0}{1};' @format=[properties.containerTopMargin,containerUnits]}"></sly>
    <sly data-sly-test.marginTop="${properties.containerTopMargin ? containerTopMargin  :''}"></sly>

    <sly data-sly-test.containerRightMargin="${'margin-right: {0}{1}; float:right;' @format=[properties.containerRightMargin,containerUnits]}"></sly>
    <sly data-sly-test.marginRight="${properties.containerRightMargin ? containerRightMargin  :''}"></sly>

    <sly data-sly-test.containerBottomMargin="${'margin-bottom: {0}{1};' @format=[properties.containerBottomMargin,containerUnits]}"></sly>
    <sly data-sly-test.marginBottom="${properties.containerBottomMargin ? containerBottomMargin  :''}"></sly>

    <sly data-sly-test.containerLeftMargin="${'left: {0}{1};' @format=[properties.containerLeftMargin,containerUnits]}"></sly>
    <sly data-sly-test.marginLeft="${properties.containerLeftMargin ? containerLeftMargin  :''}"></sly>

    <div data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
         id="${container.id}"
         data-padding-desktop="${containerPaddingModel.styleDesktopClasses}"
         data-padding-tablet="${containerPaddingModel.styleTabletClasses}"
         data-padding-mobile="${containerPaddingModel.styleMobileClasses}"
         data-padding-desktop-dialog="${containerModel.desktopPaddingMenuItems @ join=','}"
         data-padding-tablet-dialog="${containerModel.tabletPaddingMenuItems @ join=','}"
         data-padding-mobile-dialog="${containerModel.mobilePaddingMenuItems @ join=','}"
         data-margin-desktop-dialog="${containerMarginModel.desktopMarginMenuItems @ join=','}"
         data-margin-tablet-dialog="${containerMarginModel.tabletMarginMenuItems @ join=','}"
         data-margin-mobile-dialog="${containerMarginModel.mobileMarginMenuItems @ join=','}"
         class="cmp-container${wcmmode.edit ? ' {0}': '' @ format=[allowed.cssClass]}"
         style="${marginTop @ context='styleString'}${marginRight @ context='styleString'}${marginBottom @ context='styleString'}${marginLeft @ context='styleString'}${container.backgroundStyle @ context='styleString'} ${containerHelper.containerStyle @ context='styleString'} ${containerHelper.border.styles @ context='styleString'}">
        <sly data-sly-test.isAllowedApplicable="${allowed.isApplicable}"
             data-sly-test="${isAllowedApplicable}"
             data-sly-use.allowedTemplate="allowedcomponents.html"
             data-sly-call="${allowedTemplate.allowedcomponents @ title=allowed.title, components=allowed.components}"></sly>
        <sly data-sly-test="${!isAllowedApplicable}"
             data-sly-repeat="${container.items}" data-sly-resource="${item.path @ decoration=true}"></sly>
        <sly data-sly-test="${!isAllowedApplicable && !wcmmode.disabled}"
             data-sly-resource="${resource.path @ resourceType='core/wcm/components/container/v1/container/new', appendPath='/*', decorationTagName='div', cssClassName='new section'}" />
    </div>
</template>