<div data-sly-use.model="com.techcombank.core.models.CCashScoreBoardModel"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-test.hasContent="${model.title}">
    <sly data-sly-test="${hasContent}">
        <div class="c-cash-score-board">
            <div class="title">${title}</div>
            <div class="criteria-title">${criteriaTitle}</div>
            <div class="average-score-title">${averageScoreTitle}</div>
            <div class="total-score-title">${totalScoreTitle}</div>
            <div class="caption">${caption}</div>
        </div>
    </sly>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>