// Best practice:
// For a good separation of concerns, don't rely on the DOM element names,
// but on dedicated CSS selectors to identify all elements
.coveo-result-frame, .CoveoResult.coveo-result-frame {
  height: auto;
}

.btn {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 2%;
}

@media only screen and (min-width: 767px) {
  .CoveoSearchButton {
    display: none!important;
  }
}

@media only screen and (max-width: 767px) {
  #searchbtn {
    display: none!important;
  }
}
