<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-test.hasContent="${properties.jcr:title}">
<button data-sly-use.button="com.adobe.cq.wcm.core.components.models.form.Button"
        id="${button.id}"
        class="cmp-form-button"
        name="${button.name}"
        value="${button.value}">
        ${button.title}
        <sly data-sly-test="${properties.showIcon}"><img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-arrow-icon.svg"
                alt="" class="cmp-form-button__icon" aria-hidden="true"/></sly>
</button>
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>



