<sly data-sly-test="${wcmmode.edit}">
    <p class="cq-placeholder" data-emptytext="${component.title}"></p>
</sly>
<sly data-sly-use.model="com.techcombank.core.models.ArticleListingModel">
    <section data-sly-test=${model.relatedArticleList} class="article-listing">
        <div class="article-listing_heading">
            <h1 class="tag-title" >${model.tagValue}</h1>
            <h2 class="tag-description">${model.subTitle} ${model.tagValue}</h2>
        </div>
        <div class="article-listing_list" data-sly-list.article="${model.relatedArticleList}">
            <div class="article-card">
                <div class="article-card_container">
                    <div class="article-card_container_image" aria-hidden="true">
                  <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;">
                    <picture>
                          <source media="(max-width: 360px)" srcset="${article.mobileImage}"/>
                          <source media="(max-width: 576px)" srcset="${article.mobileImage}"/>
                          <source media="(min-width: 1080px)" srcset="${article.webImage}"/>
                          <source media="(min-width: 1200px)" srcset="${article.webImage}"/>
                          <img class="home-page-left__item--img" src="${article.webImage}" alt="${article.altText}"/>
                      </picture>
                  </span>
                    </div>
                    <div class="article-card_content">
                        <div class="article-card_content_top">
                            <div class="article-label">
                                <span>${article.articleCreationDate}</span>
                            </div>
                            <h3 class="article-title">${article.title}</h3>
                            <p class="article-content">${article.description}</p>
                        </div>
                        <div>
                            <a href=${article.path} target="${model.newTab == 'true' ? '_blank' : '_self'}" rel="noopener noreferrer" class="article-viewmore" style="justify-content: flex-start;"
                               data-tracking-click-event="articleView"
                               data-tracking-click-info-value="{'articleName': '${article.title}'}"
                               data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': 'other'}}">
                                <span class="button-text">${model.seeDetails}</span>
                                <div class="button-icon">
                                    <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-arrow-icon.svg"/>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="view-more">
            <div class="btn btn-outline">
                <span>${model.loadMore}</span>
                <img width="16" height="10" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/viewmore-icon.svg"/>
            </div>
        </div>
    </section>
</sly>