<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
    <div class="faq-panel">
        <div class="faq-panel-container">
            <div class="list-answer-question">
                <div class="answer-question ${wcmmode.edit ? 'author-margin' : ''}" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                    <div class="question" >
                        <div itemprop="name"><sly data-sly-resource="${ @path='enhancedfaqquesparsys', resourceType='techcombank/components/extended-core/text'}"></sly></div>
                        <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-dropdown-arrow.svg" />
                    </div>
                    <div class="answer" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <div itemprop="text"><sly data-sly-resource="${ @path='filterfaqparsys', resourceType='foundation/components/parsys', decoration=true}"></sly></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
