<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-test.testedit="${wcmmode.preview || wcmmode.edit}"
     data-sly-call="${clientLib.all @ categories='header-author'}"/>
<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-use.userMenu="com.dish.dopweb.core.models.UserMenu"
     data-sly-test.notEmpty="${userMenu.linkItems}">
    <sly data-sly-test="${testedit}">

        <div style="width: 100%; display: inline-block; height: 40px;">
            <div style="width: 25%; display: block; height: 40px; float: left;">
                <sly data-sly-resource="${'signin-button' @ resourceType='/apps/dopweb/components/button', decoration=true}"/>
            </div>
            <div style="width: 25%; display: block; height: 40px; float: left;">
                <sly data-sly-resource="${'signin-text' @ resourceType='/apps/dopweb/components/text'}"/>
            </div>
            <div style="width: 25%; display: block; height: 40px; float: right;">
                <sly data-sly-resource="${'signout-button' @ resourceType='/apps/dopweb/components/button', decoration=true}"/>
            </div>
            <div style="display: none;">
                <ul data-page-path="${currentPage.path}">
                    <sly data-sly-list.linkItems="${userMenu.linkItems}">
                        <li data-sly-use.linkHelper="${'com.dish.dopweb.core.models.LinkHelper' @ link=linkItems.linkUrl}">
                            <a href="${linkHelper.formattedLink}">${linkItems.linkTitle}</a>
                            <sly data-sly-resource="${'spacer-{0}' @ format=[linkItemsList.index], resourceType='/apps/dopweb/components/spacer'}"/>
                            <sly data-sly-resource="${'seperator-{0}' @ format=[linkItemsList.index], resourceType='/apps/dopweb/components/separator'}"/>
                        </li>
                    </sly>
                </ul>
            </div>
        </div>
    </sly>
    <sly data-sly-test="${!testedit}">
        <li>
            <a id="myaccount" href="#" aria-label="my-account">
                <div data-sly-test.myAccount="${userMenu.menuViews == 'myAccount'}" id="account-menu" style="display: block;">
                   <img src="/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/account/Icons_user outline.svg"  class="menu-icon" alt="Menu icon">
                   <span>[[first_name]]</span>
                </div>
                <div data-sly-test="${!myAccount}" id="burger-menu-right" style="display: block;">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
            </a>
        </li>
        <div id="myModal" class="my-account-popup">
            <!-- Modal content -->
            <div class="modal-content">
                <p class="modal-heading" data-sly-test="${userMenu.headingText}">${userMenu.headingText}</p>
                <nav>
                    <ul data-page-path="${currentPage.path}" class="auth-links-menu">
                        <sly data-sly-list.linkItems="${userMenu.linkItems}">
                            <li data-sly-use.linkHelper="${'com.dish.dopweb.core.models.LinkHelper' @ link=linkItems.linkUrl}" data-display-link-prop="${linkItems.displayLinksOnAuth}" class="auth-showhide-links ">
                                <a href="${linkHelper.formattedLink}"><img src="${linkItems.myaacounticons}" alt="user profile icon"/>    ${linkItems.linkTitle}</a>
                                <sly data-sly-test="${linkItems.showMenuSpacer == 'true'}">
                                    <sly data-sly-resource="${'spacer-{0}' @ format=[linkItemsList.index], resourceType='/apps/dopweb/components/spacer', decoration=true}"/>
                                </sly>
                                <sly data-sly-test="${linkItems.showMenuSeperator == 'true'}">
                                    <sly data-sly-resource="${'seperator-{0}' @ format=[linkItemsList.index], resourceType='/apps/dopweb/components/separator', decoration=true}"/>
                                </sly>
                            </li>
                        </sly>
                    </ul>
                </nav>
                <div class="auth">
                    <div class="signIn">
                        <sly data-sly-resource="${'signin-button' @ resourceType='/apps/dopweb/components/button', decoration=true}"/>
                        <sly data-sly-resource="${'signin-text' @ resourceType='/apps/dopweb/components/text'}"/>
                    </div>
                    <div class="signOut">
                        <sly data-sly-resource="${'signout-button' @ resourceType='/apps/dopweb/components/button', decoration=true}"/>
                        <sly data-sly-resource="${'signout-text' @ resourceType='/apps/dopweb/components/text'}"/>
                    </div>
                </div>
            </div>
        </div>
    </sly>
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!notEmpty}"></sly>
