<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-use.creditRating="com.techcombank.core.models.CreditRatingModel"
    data-sly-test.hasContent="${creditRating.creditRatingReportList}">
    <sly data-sly-test="${hasContent}">
        <section class="credit-ranking-component" lang="${creditRating.getLanguageTitle}">
            <div class="select-filter">
                <div data-sly-resource="${'title' @ resourceType='core/wcm/components/title/v3/title'}"></div>
                <div class="select-options">
                  <div class="select">
                    <div class="material-symbols-outlined">calendar_today</div>
                    <h6>${creditRating.filterYearLabel}</h6>
                    <span>${creditRating.filterSelectLabel}</span>
                    <img class="credit-rating-chevron-icon" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/chevron-bottom-icon.svg" />
                  </div>
                  <div class="options">
                    <div>
                      <ul class="filter-options">
                        <li class="selected option" value="select-all">${creditRating.filterAllLabel}</li>
                        <li class="option" data-sly-repeat.yearForFilter="${creditRating.yearForFilterList}" value="${yearForFilter.yearForFilter}">
                            ${yearForFilter.yearForFilter}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            <div class="credits-list">
                <div class="credit" data-sly-repeat.creditRatingReport="${creditRating.creditRatingReportList}">
                    <div class="menu-container">
                        <div class="menu">
                            <button class="menu-item" data-sly-repeat.creditRatingTab="${creditRatingReport.creditRatingTabList}" tabLabel="${creditRatingTab.formattedDate}">
                                <span class="menu-item-tab-label">${creditRatingTab.formattedDate}</span>
                            </button>
                        </div>
                    </div>
                    <div class="list-items">
                        <div class="tab" data-sly-repeat.creditRatingTab="${creditRatingReport.creditRatingTabList}" tabLabel="${creditRatingTab.formattedDate}">
                            <div class="content white-bg">
                                <div class="banner">
                                <div class="image">
                                    <picture>
                                        <source media="(max-width: 360px)"
                                           srcset="${creditRatingReport.mobileCreditRatingLogoImagePath}"/>
                                        <source media="(max-width: 576px)"
                                           srcset="${creditRatingReport.mobileCreditRatingLogoImagePath}"/>
                                        <source media="(min-width: 1080px)"
                                           srcset="${creditRatingReport.webCreditRatingLogoImagePath}"/>
                                        <source media="(min-width: 1200px)"
                                           srcset="${creditRatingReport.webCreditRatingLogoImagePath}"/>
                                        <img alt="${creditRatingReport.logoImageAltText}"
                                           src="${creditRatingReport.webCreditRatingLogoImagePath}">
                                    </picture>
                                </div>
                                </div>
                                <div class="table">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>${creditRatingTab.categoryHeader}</th>
                                        <th>${creditRatingTab.ratingHeader}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-sly-repeat.creditRatingData="${creditRatingTab.creditRatingDataList}">
                                        <td>${creditRatingData.categoryData}</td>
                                        <td>${creditRatingData.ratingData}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </sly>
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>
