<div data-sly-use.model="com.techcombank.core.models.CardSlidePanelModel"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-test.hasContent="${model}">
    <sly data-sly-test="${hasContent}">
        <section class="security-slideshow" style="--bg-color: ${model.backgroundColour @context='styleString'}">
            <div class="security-grid-container width-100">
                <div class="security-grid-root display-flex position-relative">
                    <div class="security-grid-item">
                        <div class="security-slideshow-container position-relative">
                            <div class="security-slideshow-title">
                                <h2 data-sly-test="${model.title}">${model.title}</h2>
                                <p data-sly-test="${model.description}">${model.description @ context='html'}</p>
                            </div>
                            <div class="security-slideshow-gallery security-slider">
                                <div
                                    class="security-gallery-images display-flex security-slider-container not-slider-mobile">
                                    <div class="security-gallery-item" data-sly-test="${model.image1}">
                                        <div class="security-item-outer">
                                            <div class="security-item-inner">
                                                <span>
                                                    <span>
                                                        <img src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27568%27%20height=%27398%27/%3e"
                                                            alt="#" />
                                                    </span>
                                                    <picture>
                                                        <source media="(max-width: 360px)"
                                                            srcset="${model.mobileImage1Path}"/>
                                                        <source media="(max-width: 576px)"
                                                            srcset="${model.mobileImage1Path}"/>
                                                        <source media="(min-width: 1080px)"
                                                            srcset="${model.webImage1Path}"/>
                                                        <source media="(min-width: 1200px)"
                                                            srcset="${model.webImage1Path}"/>
                                                        <img alt="${model.atmIconAlt}" alt="${model.imageAltText1}"
                                                            src="${model.webImage1Path}">
                                                    </picture>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="security-gallery-item" data-sly-test="${model.image2}">
                                        <div class="security-item-outer">
                                            <div class="security-item-inner">
                                                <span>
                                                    <span>
                                                        <img src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27568%27%20height=%27398%27/%3e"
                                                            alt="#" />
                                                    </span>
                                                    <picture>
                                                        <source media="(max-width: 360px)"
                                                            srcset="${model.mobileImage2Path}"/>
                                                        <source media="(max-width: 576px)"
                                                            srcset="${model.mobileImage2Path}"/>
                                                        <source media="(min-width: 1080px)"
                                                            srcset="${model.webImage2Path}"/>
                                                        <source media="(min-width: 1200px)"
                                                            srcset="${model.webImage2Path}"/>
                                                        <img alt="${model.atmIconAlt}" alt="${model.imageAltText2}"
                                                            src="${model.webImage2Path}">
                                                    </picture>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="security-gallery-item security-gallery-center">
                                        <div class="security-item-outer">
                                            <div class="security-item-inner">
                                                <span>
                                                    <span>
                                                        <img src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27472%27%20height=%27658%27/%3e"
                                                            alt="#" />
                                                    </span>
                                                    <picture>
                                                        <source media="(max-width: 360px)"
                                                            srcset="${model.mobileCenterImagePath}"/>
                                                        <source media="(max-width: 576px)"
                                                            srcset="${model.mobileCenterImagePath}"/>
                                                        <source media="(min-width: 1080px)"
                                                            srcset="${model.webCenterImagePath}"/>
                                                        <source media="(min-width: 1200px)"
                                                            srcset="${model.webCenterImagePath}"/>
                                                        <img alt="${model.atmIconAlt}" alt="${model.centerImageAltText}"
                                                            src="${model.webCenterImagePath}">
                                                    </picture>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="security-gallery-item" data-sly-test="${model.image4}">
                                        <div class="security-item-outer">
                                            <div class="security-item-inner">
                                                <span>
                                                    <span>
                                                        <img src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27568%27%20height=%27398%27/%3e"
                                                            alt="#" />
                                                    </span>
                                                    <picture>
                                                        <source media="(max-width: 360px)"
                                                            srcset="${model.mobileImage4Path}"/>
                                                        <source media="(max-width: 576px)"
                                                            srcset="${model.mobileImage4Path}"/>
                                                        <source media="(min-width: 1080px)"
                                                            srcset="${model.webImage4Path}"/>
                                                        <source media="(min-width: 1200px)"
                                                            srcset="${model.webImage4Path}"/>
                                                        <img alt="${model.atmIconAlt}" alt="${model.imageAltText4}"
                                                            src="${model.webImage4Path}">
                                                    </picture>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="security-gallery-item" data-sly-test="${model.image5}">
                                        <div class="security-item-outer">
                                            <div class="security-item-inner">
                                                <span>
                                                    <span>
                                                        <img src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27568%27%20height=%27398%27/%3e"
                                                            alt="#" />
                                                    </span>
                                                    <picture>
                                                        <source media="(max-width: 360px)"
                                                            srcset="${model.mobileImage5Path}"/>
                                                        <source media="(max-width: 576px)"
                                                            srcset="${model.mobileImage5Path}"/>
                                                        <source media="(min-width: 1080px)"
                                                            srcset="${model.webImage5Path}"/>
                                                        <source media="(min-width: 1200px)"
                                                            srcset="${model.webImage5Path}"/>
                                                        <img alt="${model.atmIconAlt}" alt="${model.imageAltText5}"
                                                            src="${model.webImage5Path}">
                                                    </picture>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </sly>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>