<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.js @ categories=['kemin.blog-catalog']}"/>

<sly
        data-sly-use.blogCatalog="com.kemin.redesign.core.models.blog.BlogCatalog"
        data-sly-use.template="core/wcm/components/commons/v1/templates.html"
        data-sly-test.blogType="${blogCatalog.BlogPages}">
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!blogType, classAppend='cmp-title'}"></sly>
<sly data-sly-test="${blogType}">

    <script type='text/javascript'>
   var blogsLength;
   blogsByPage = JSON.parse('${blogCatalog.blogPagesInJson @context = 'scriptString'}');
   useBlogListJSON = [];
   pageToBlockMap = new Map();
   var globalPageCount =10;
   JSONArrayOfBlogs =[];
    </script>
    <div class="container-kemin">
        <div class="blogcatalogue feature-content">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <div class="blog_post">
                        <h2>${'kemin.recent-posts' @i18n}</h2>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12  col-xs-12">
                    <div class="kemin-root-accordian filter-blog-checkbox">
                        <div class="kemkin-pdp-accordian kemin-navigation-mobile">
                            <div class="outer-container-accordian">
                                <div class="accordion accordion-flush">
                                    <div class="accordion-item navigation-item-xs">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                            <sly data-sly-test="${!blogCatalog.isBlogMarketPage}">
                                                <div class="kemin-navigation-mobile">
                                                    <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#flush-collapseOne" aria-expanded="false"
                                                            aria-controls="flush-collapseOne">
                                                <span class="right-triangle">
                                                </span>
                                                        <span class="img-dynamic">
                                                    <!-- based on the AEM page thumnal the icon here:  -->
                                                    <img src="/content/dam/kemin-redesign/icon/Search_White.svg">
                                                </span>
                                                        ${'kemin.view-markets' @i18n}
                                                    </button>
                                                </div>
                                            </sly>
                                        </h2>
                                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                                             aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                            <div class="inner-container-accordian filter-wrap">
                                                <div class="filter-checkbox">
                                                    <div class="filter-category">
                                                        <h2>Content Category:</h2>
                                                    </div>
                                                </div>
                                                <sly data-sly-test="${blogCatalog.blogCategories.size != 0}">
                                                    <sly data-sly-repeat.itemkey="${blogCatalog.blogCategories}">
                                                        <div class="check-filter-box">
                                                            <ul>
                                                                <li class="checkin">
                                                                    <!--
                                                                    <input type="checkbox"
                                                                           name="${itemkey.path @extension='html'}"
                                                                           id="${itemkey.title}"
                                                                           onClick="showBlogPages(this);">-->
                                                                    <a href="${itemkey.path @extension='html'}">
                                                                    <span aria-hidden="true" style="cursor:poinetr;"
                                                                          class="filter-item" >${itemkey.title}</span></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </sly>
                                                </sly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Feature Blog Container-->
            <div class="blogCatalogue-container clearfix">
                <div class="row blogsRow">


                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="catalogue-pagination">
                            <ul class="prev-wrap">
                                <li class="page-item  move-prev"> <span class="icon-chevron-left"
                                                                               style="cursor: pointer;"
                                                                               onclick="gotoPage('prev');">
                            </span></li>
                            </ul>
                            <ul class="pagination">
                                </li>
                                <li class="page-item active"
                                    id="page-item-1"
                                    style="cursor: pointer;"
                                    onclick="gotoPage(this);">1
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="product_result_dropdwn">
                            <span style="font-size: 24px;margin-top: 5px;">Posts per Page:</span>
                            <ul class="pagination">
                                <li class="page-item active"
                                    id="page-item-10" value="10"
                                    style="cursor: pointer;"
                                    onclick="renderBlogPagination(this);">10
                                </li>
                                <li class="page-item "
                                    id="page-item-20" value="20"
                                    style="cursor: pointer;"
                                    onclick="renderBlogPagination(this);">20
                                </li>
                                <li class="page-item "
                                    id="page-item-30" value="30"
                                    style="cursor: pointer;"
                                    onclick="renderBlogPagination(this);">30
                                </li>
                                <li class="page-item "
                                    id="page-item-40" value="40"
                                    style="cursor: pointer;"
                                    onclick="renderBlogPagination(this);">40
                                </li>
                            </ul>
                            <!--
                            <select name="items" id="product_result_dropdown" onChange="renderBlogPagination(this);">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                            </select>-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</sly>