/* Dropdown arrow/caret */
.day {
    .cmp-footer__smoke,
    .cmp-footer__marshmallow {
        .caret {
            width: calculateRem(8);
            height: calculateRem(8);
            margin-top: calculateRem(3);
            margin-right: calculateRem(15);
            background: transparent;
            border-top: calculateRem(2) solid $color-cinder;
            border-left: calculateRem(2) solid $color-cinder;
            text-decoration: none;
            color: transparent;
            transform: rotate( 
        -135deg
         );
            float: right;
            :hover{
                color: $color-charcoal;
            }
        }
        
        .caret.caret-up {
            border-top-width: 0;
            border-bottom: 4px solid #fff;
        }
        
        .btnDropDown {
            background-color: $color-marshmallow;
            color: $color-cinder;
            font-size: calculateRem(14);
            border: none;
            cursor: pointer;
            width: calculateRem(116);
            height: calculateRem(36);
            text-align: left;
            padding-left: calculateRem(10);
            border-radius: calculateRem(5);;
            font-family: "Proximanova";
        }
        
        .dropdown {
            position: relative;
            display: inline-block;
            background-color: $color-marshmallow;
            border-radius: calculateRem(7);
            a:hover{
                background-color: $color-smoke !important;
                color: $color-charcoal;
            }
            a:after, a:hover:after {
                background-color: transparent;
            }
            a:hover::before{    
                content: "";
                border-left: calculateRem(2) solid $color-ash;
                top: calculateRem(13);
                left: calculateRem(6);
                height: calculateRem(15);
                padding-right: calculateRem(10);
            }
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: $color-marshmallow;
            width: calculateRem(116);
            overflow: auto;
            z-index: 1;
            border-radius: calculateRem(5);
            font-family: "Proximanova";
        }
        
        .dropdown-content a {
            color: black;
            padding: calculateRem(9) calculateRem(86) calculateRem(10) calculateRem(10);
            text-decoration: none;
            display: block;
            font-size: calculateRem(14);
            color: $color-cinder;
            font-family: "Proximanova";
            font-weight: $font-weight-extrabold;
        }
        .show {
            display: block;
        }

        .leftBorderStyle {
            // border-left: calculateRem(2) solid $color-link;
            border-left: calculateRem(2) solid var(--primary-color);
        }

        .selectedItem {
            font-size: 0.875rem;
            font-family: Proximanova;
            font-weight: $font-weight-extrabold;
            color: $color-coal;
            padding-left: calculateRem(5);
          }
        
        .btnDropDown:hover {
            color: $color-charcoal;  
        }
        
        .btnDropDown:focus {
            background-color: transparent !important;
        }

    }
    .cmp-footer__marshmallow {
        .btnDropDown,
        .dropdown-content {
            background-color: $color-smoke;
        }

    }
    
}

.night {
    .cmp-footer__coal,
    .cmp-footer__charcoal {
        .caret {
            width: calculateRem(8);
            height: calculateRem(8);
            margin-top: calculateRem(3);
            margin-right: calculateRem(15);
            background: transparent;
            border-top: calculateRem(2) solid $color-ash;
            border-left: calculateRem(2) solid $color-ash;
            text-decoration: none;
            color: transparent;
            transform: rotate( 
        -135deg);
            float: right;
            :hover{
                color: $color-smoke;
            }
        }
        
        .caret.caret-up {
            border-top-width: 0;
            border-bottom: 4px solid #fff;
        }
        
        .btnDropDown {
            background-color: $color-charcoal;
            color: $color-ash;
            font-size: calculateRem(14);
            border: none;
            cursor: pointer;
            width: calculateRem(116);
            height: calculateRem(36);
            text-align: left;
            padding-left: calculateRem(10);
            border-radius: calculateRem(5);
            font-family: "Proximanova";
        }
                
        .dropdown {
            position: relative;
            display: inline-block;
            background-color: $color-charcoal;
            a:hover{
                background-color: $color-charcoal !important;
                color: $color-smoke;
            }
            a:after, a:hover:after {
                background-color: transparent;
            }
            a:hover::before{    
                content: "";
                border-left: calculateRem(2) solid $color-ash;
                top: calculateRem(13);
                left: calculateRem(6);
                height: calculateRem(15);
                padding-right: calculateRem(10);
            }
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: $color-charcoal;
            width: calculateRem(116);
            overflow: auto;
            z-index: 1;
            border-radius: calculateRem(5);
            font-family: "Proximanova";
        }
        
        .dropdown-content a {
            color: black;
            padding: calculateRem(9) calculateRem(86) calculateRem(10) calculateRem(22);
            text-decoration: none;
            display: block;
            font-size: calculateRem(14);
            color: $color-ash;
            font-family: "Proximanova";
            font-weight: $font-weight-extrabold;
        }
        
        .dropdown a:hover {
            background-color: $color-smoke;;
        }

        .show {
            display: block;
        }

        .leftBorderStyle {            
            border-left: calculateRem(2) solid var(--primary-color);
        }

        .selectedItem {
            // border-left: calculateRem(2) solid $color-water-nighty;
            font-size: 0.875rem;
            font-family: Proximanova;
            font-weight: $font-weight-extrabold;
            color: $color-marshmallow;
            padding-left: calculateRem(5);
          }
        
        .btnDropDown:hover {
            color: $color-charcoal;  
        }
        
        .btnDropDown:focus {
            background-color: transparent !important;
        }
    }
    .cmp-footer__charcoal {
        .btnDropDown,
        .dropdown-content {
            background-color: $color-coal;
        }
    }
}
