<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test.empty="${properties.searchPageUrl}" data-sly-use.linkHelper="${'com.dish.dopweb.core.models.LinkHelper' @link=properties.searchPageUrl}">
    <a data-link="${linkHelper.formattedLink}" aria-label="${properties.ariaLabel}" id="searchBox" class="search-container">
        <span class="home-search icon-custom icon-search-day-inactive"></span>
        <div class="input-box">
            <span class="home-search icon-custom icon-search-day-inactive search-icon-placeholder"></span>
            <input type="text" placeholder="Search" aria-label="search">
            <div class="close"></div>
        </div>
    </a>
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!empty}"></sly>
