.header {
    height: 4rem;
    display: block;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    left: 0;
    padding-right: 0;

    .container-header-fluid {
        li.navCmp:hover:before {
            border: none !important;
        }

        .cmp-navigation__group {
            list-style: none;
        }

        .parent-list {
            .floyout-submenu {
                visibility: hidden;
                position: absolute;
                background: grey;
                width: calculateRem(721);
                margin-left: calculateRem(-721) !important;
                left: 0;
                height: 100vh;
                padding-top: calculateRem(129) !important;
                opacity: 0;
                transition: opacity 0.3s ease-in-out 0.12s, margin-left 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0.12s;

                ul:first-child {
                    height: 55%;
                    overflow: hidden;
                }

                .cmp-navigation__item {
                    margin-left: calculateRem(148);
                    width: 100%;

                    &:hover::before {
                        // margin-left: calculateRem(9);
                        display: inline-block;
                        content: "";
                        border-left: calculateRem(4) solid $color-coal;
                        height: calculateRem(36);
                        -webkit-transform: translateY(-1rem);
                        transform: translateY(-1rem);
                        position: relative;
                        top: calculateRem(22);
                    }

                    a:hover:before {
                        border: none;
                    }
                }

                .cmp-navigation__item-link {
                    font-size: calculateRem(36);
                    line-height: calculateRem(40);
                    color: $color-light-grey1;
                    font-weight: 800;
                    letter-spacing: calculateRem(-0.6);
                    text-align: left;
                    text-transform: capitalize;

                    &:hover {
                        color: $color-coal;
                    }

                }

                .cmp-navigation__item-link.active {
                    .floyout-submenu {
                        margin-left: 0 !important;
                        opacity: 1 !important;
                        visibility: visible !important;
                    }
                }

                &.showblock {
                    margin-left: 0 !important;
                    opacity: 1 !important;
                    visibility: visible !important;
                }

                span.iconarrow.icon-arrow_forward-active.children {
                    font-size: calculateRem(18);
                    position: absolute;
                    right: calculateRem(25);
                    cursor: pointer;
                    margin-top: calculateRem(15);
                }

                span.iconarrow.iconarrow.icon-arrow_backward.parent {
                    font-size: calculateRem(18);
                    padding-right: calculateRem(15);
                    cursor: pointer;
                }

                ul.child__menu {
                    margin-top: calculateRem(43);

                    li.cmp-navigation__item {
                        margin-left: 0;
                        width: 100%;
                    }

                    li>a:hover:before {
                        border: none;
                    }
                }

                .removeBorder {
                    .cmp-navigation__item-link.backButtonText {
                        font-size: calculateRem(20);
                        line-height: calculateRem(24);
                    }

                    &:hover:before,
                    &::before {
                        border: none !important;
                        margin-left: calculateRem(-5);
                    }
                }
            }
        }

        .cmp-navigation__item {
            display: inline-block;
            margin-left: calculateRem(48);

            &:hover::before {
                margin-left: calculateRem(-8);
                display: inline-block;
                content: "";
                border-left: calculateRem(2) solid $color-coal;
                height: calculateRem(18);
                -webkit-transform: translateY(-1rem);
                transform: translateY(-1rem);
                position: absolute;
                top: calculateRem(39);
            }
        }

        .cmp-navigation__item-link {
            font-size: calculateRem(16);
            line-height: calculateRem(21);
            color: $color-light-grey2;
            font-weight: 800;

            &:hover {
                color: $color-coal;
            }
        }

        //removing bordre bottom animation from header
        a {
            &:hover {
                &:after {
                    background-color: transparent;
                }
            }

            &:after {
                background-color: transparent;
            }
        }

        .nav-hat {
            // z-index: 99999;
            left: calculateRem(190);
            right: calculateRem(240);
            height: calculateRem(64);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            position: fixed;
            top: 0;

            img {
                width: auto;
                margin: 0 auto;
                position: relative;
                right: 0;
                vertical-align: middle;
                top: 0;
                height: calculateRem(40);
                object-fit: contain;
            }
        }

        .logo-holder {
            // width: 100%;
            margin: 0 auto;
            position: absolute;
            top: calculateRem(16);
            left: calculateRem(32);
            font-size: calculateRem(28);
            line-height: calculateRem(32);
            color: $color-coal;
        }

        .parent-list {
            padding-left: calculateRem(371);
            margin: 0 auto;
            height: calculateRem(64);
            top: 0;
            max-width: initial;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: left;
            -ms-flex-pack: left;
            justify-content: left;
            padding-top: inherit;
            line-height: calculateRem(64);
            z-index: 999;
            height: calculateRem(63);
            overflow-y: initial;
            list-style: none;
            margin-left: calculateRem(48);
            float: left;

            li {
                margin-left: calculateRem(48);

                :before {
                    border: none;
                }

                >a {
                    font-size: calculateRem(16);
                    line-height: calculateRem(24);
                    color: $color-light-grey2;
                    font-weight: 800;
                }

                &:hover:before {
                    margin-left: calculateRem(-8);
                    display: inline-block;
                    content: "";
                    border-left: calculateRem(2) solid $color-coal;
                    height: calculateRem(18);
                    -webkit-transform: translateY(-1rem);
                    transform: translateY(-1rem);
                    position: absolute;
                    bottom: calculateRem(10);
                }
            }

            .cmp-navigation__group {
                padding: 0;
                margin: 0;

                li {
                    margin-left: 0;
                }

                li.cmp-navigation__item.cmp-navigation__item--active:before {
                    margin-left: calculateRem(-8);
                    display: inline-block;
                    content: "";
                    border-left: calculateRem(2) solid $color-coal;
                    height: calculateRem(18);
                    -webkit-transform: translateY(-1rem);
                    transform: translateY(-1rem);
                    position: absolute;
                    bottom: calculateRem(7);
                }
            }
        }

        .left-navigation-extra {
            display: inline-block;
            // margin-left: calculateRem(736);

            ul {
                list-style: none;
                padding: 0;
                display: table;
                margin: 0;
                min-height: 4rem;

                li {
                    display: inline-block;
                    margin-left: calculateRem(31);
                    vertical-align: middle;
                    line-height: calculateRem(31);
                    list-style: none;
                    display: table-cell;
                    text-align: center;
                    // background-color: #f2f2f2;

                    // for activate button beside user menu icon
                    .button {
                        line-height: 0;
                        margin-right: calculateRem(32);
                    }
                }

                li:first-child {
                    margin-left: 0;
                    padding-left: 0;
                }
            }

            .navigation-extra-ul {
                margin: calculateRem(20) auto;
            }
        }

        .experiment-fragment {
            position: relative;
            bottom: 0;
            padding: 0;
            margin-left: 9.25rem;

            &:hover::before {
                border-left: none !important;
            }

            li {
                text-indent: 0;
            }
        }

        .cmp-list__item--list-horizontal {
            .experiment-fragment li {
                display: inline-block;
                font-family: proximanova, Gotham, Montserrat, Trebuchet, sans-serif;
                margin-right: calculateRem(32);

                .cmp-list__item-title {
                    color: $color-light-grey2;
                    font-size: calculateRem(16);
                    line-height: calculateRem(21);
                    text-align: left;
                }
            }
        }
    }

}

.cmp-header {
    width: 100%;
    background-color: $color-coal;
}

.cmp-header__smoke {
    background-color: $color-smoke;
}

.cmp-header__marshmallow {
    background-color: $color-marshmallow;
}

.cmp-header__coal {
    background-color: $color-coal;
}

.cmp-header__charcoal {
    background-color: $color-charcoal;
}

//logo image day and night mode
#dayImage,
#nightImage {
    display: none;
}

.day {
    .header .container-header-fluid {
        .parent-list {
            li {
                &.navLink:hover>a {
                    color: $color-charcoal;
                }

                // &.navLink:first-child {
                //     margin-left: 0 !important;
                // }

                // &.navLink:nth-child(1) {
                //     margin-left: 0 !important;
                // }
            }

            .navLink.active:before {
                margin-left: calculateRem(-8);
                display: inline-block;
                content: "";
                border-left: calculateRem(2) solid var(--primary-color);
                height: calculateRem(18);
                -webkit-transform: translateY(-1rem);
                transform: translateY(-1rem);
                position: absolute;
                bottom: calculateRem(10);

                >a {
                    color: $color-light-grey2;
                }
            }

            .navLink.active {
                a {
                    color: $color-coal;
                }
            }

            .cmp-navigation__group li.cmp-navigation__item.cmp-navigation__item--active>a {
                color: $color-coal;
            }

            .cmp-navigation__item>.cmp-navigation__item-link:hover {
                color: $color-charcoal;
            }

            .cmp-navigation__group .cmp-navigation__item.cmp-navigation__item--active::before {
                border-left: calculateRem(2) solid var(--primary-color);
            }

            .cmp-navigation__group .cmp-navigation__item.active-page-link:before {
                border-left: calculateRem(2) solid var(--primary-color);
                margin-left: calculateRem(-8);
                display: inline-block;
                content: "";
                height: calculateRem(18);
                -webkit-transform: translateY(-1rem);
                transform: translateY(-1rem);
                position: absolute;
                bottom: calculateRem(7);
            }

            .cmp-navigation__group .cmp-navigation__item.active-page-link.removeBorder:before {
                border-left: none;
            }

            .cmp-navigation__group .cmp-navigation__item.cmp-navigation__item--active>.cmp-navigation__item-link,
            .cmp-navigation__group .cmp-navigation__item.active-page-link>.cmp-navigation__item-link {
                color: $color-coal;
            }

            .cmp-navigation__item-link,
            a {
                color: $color-light-grey2;

                &:hover {
                    color: $color-charcoal;
                }
            }
        }


        //logo image day and night mode
        #dayImage {
            display: block;
        }
    }

    .header.cmp-header__smoke .container-header-fluid {
        .parent-list.parentBlock {
            background-color: $color-smoke;
        }

        .cmp-navigation__item:hover::before {
            border-left: calculateRem(2) solid $color-charcoal;
            // margin-left: calculateRem(9);
        }

        .floyout-submenu {
            background-color: $color-smoke;

            .cmp-navigation__item {
                &:hover::before {
                    border-left: calculateRem(4) solid $color-charcoal;
                }
            }

            .cmp-navigation__group .cmp-navigation__item.active-page-link {
                &::before {
                    border-left: calculateRem(4) solid var(--primary-color);
                    // margin-left: calculateRem(9);
                    display: inline-block;
                    content: "";
                    height: calculateRem(36);
                    -webkit-transform: translateY(-1rem);
                    transform: translateY(-1rem);
                    position: relative;
                    top: calculateRem(22);
                }

                .cmp-navigation__item-link {
                    color: $color-coal;
                }
            }

            .cmp-navigation__item-link {
                color: $color-light-grey2;
            }

            span.iconarrow.icon-arrow_forward-active.children,
            span.iconarrow.iconarrow.icon-arrow_backward.parent:before {
                color: $color-light-grey2;
            }
        }

        .experiment-fragment {
            li {
                .cmp-list__item-title {
                    color: $color-light-grey2;
                    cursor: pointer;
                }

                &:hover {
                    .cmp-list__item-title {
                        color: $color-coal;
                    }
                }
            }
        }

    }

    .header.cmp-header__marshmallow .container-header-fluid {
        .parent-list.parentBlock {
            background-color: $color-marshmallow;
        }

        .cmp-navigation__item:hover::before {
            border-left: calculateRem(2) solid $color-light-grey2;
            // margin-left: calculateRem(9);
        }

        .floyout-submenu {
            background-color: $color-marshmallow;

            .cmp-navigation__item {
                &:hover::before {
                    border-left: calculateRem(4) solid $color-charcoal;
                }
            }

            .cmp-navigation__group .cmp-navigation__item.active-page-link {
                &::before {
                    border-left: calculateRem(4) solid var(--primary-color);
                    // margin-left: calculateRem(9);
                    display: inline-block;
                    content: "";
                    height: calculateRem(36);
                    -webkit-transform: translateY(-1rem);
                    transform: translateY(-1rem);
                    position: relative;
                    top: calculateRem(22);
                }

                >.cmp-navigation__item-link {
                    color: $color-coal;
                }
            }

            .cmp-navigation__item-link {
                color: $color-light-grey2;
            }

            span.iconarrow.icon-arrow_forward-active.children,
            span.iconarrow.iconarrow.icon-arrow_backward.parent:before {
                color: $color-light-grey2;
            }
        }

        .experiment-fragment {
            li {
                .cmp-list__item-title {
                    color: $color-light-grey2;
                    cursor: pointer;
                }

                &:hover {
                    .cmp-list__item-title {
                        color: $color-coal;
                    }
                }
            }
        }
    }


    //my account icon
    .active {
        span.icoaccount.icon-user::before {
            color: $color-coal
        }
    }

    span.icoaccount.icon-user::before {
        color: $color-light-grey2;
    }

    span.icoaccount.icon-user:hover::before {
        color: $color-charcoal;
    }

}

.night {
    .header .container-header-fluid {
        .parent-list {
            li {
                &:hover::before {
                    color: $color-smoke;
                    border-left: calculateRem(2) solid $color-smoke;
                }
            }

            li {
                &.navLink:hover>a {
                    color: $color-smoke;
                }

                &.navLink:nth-child(1) {
                    margin-left: 0 !important;
                }
            }

            .navLink.active:before {
                margin-left: calculateRem(-8);
                display: inline-block;
                content: "";
                border-left: calculateRem(2) solid var(--primary-color);
                height: calculateRem(18);
                -webkit-transform: translateY(-1rem);
                transform: translateY(-1rem);
                position: absolute;
                bottom: calculateRem(10);

                >a {
                    color: $color-marshmallow;
                }
            }

            .navLink.active {
                a {
                    color: $color-marshmallow;
                }
            }

            .cmp-navigation__group li.cmp-navigation__item.cmp-navigation__item--active>a {
                color: $color-marshmallow;
            }

            .cmp-navigation__group .cmp-navigation__item:hover::before {
                border-left: calculateRem(2) solid $color-smoke;
            }

            .cmp-navigation__item>.cmp-navigation__item-link:hover {
                color: $color-smoke;
            }

            .cmp-navigation__group li.cmp-navigation__item.cmp-navigation__item--active::before {
                border-left: calculateRem(2) solid var(--primary-color);
            }

            .cmp-navigation__group .cmp-navigation__item.active-page-link {
                &::before {
                    border-left: calculateRem(2) solid var(--primary-color);
                    margin-left: calculateRem(-8);
                    display: inline-block;
                    content: "";
                    height: calculateRem(18);
                    transform: translateY(-1rem);
                    position: absolute;
                    bottom: calculateRem(7);
                }

                >.cmp-navigation__item-link {
                    color: $color-marshmallow;
                }
            }

            .cmp-navigation__group .cmp-navigation__item.active-page-link.removeBorder:before {
                border-left: none;
            }

            .cmp-navigation__group li.cmp-navigation__item.cmp-navigation__item--active>.cmp-navigation__item-link {
                color: $color-marshmallow;
            }

            .cmp-navigation__item-link,
            a {
                color: $color-light-grey1;

                &:hover {
                    color: $color-smoke;
                }
            }
        }

        //logo image day and night mode
        #nightImage {
            display: block;
        }
    }

    .header.cmp-header__coal .container-header-fluid {
        .parent-list.parentBlock {
            background-color: $color-coal;
        }

        .floyout-submenu {
            background-color: $color-coal;

            .cmp-navigation__item {
                &:hover::before {
                    border-left: calculateRem(4) solid $color-smoke;
                }
            }

            .cmp-navigation__group .cmp-navigation__item.active-page-link {
                &::before {
                    border-left: calculateRem(4) solid var(--primary-color);
                    // margin-left: calculateRem(9);
                    display: inline-block;
                    content: "";
                    height: calculateRem(36);
                    -webkit-transform: translateY(-1rem);
                    transform: translateY(-1rem);
                    position: relative;
                    top: calculateRem(22);
                }

                .cmp-navigation__item-link {
                    color: $color-marshmallow;
                }
            }

            .cmp-navigation__item-link {
                color: $color-light-grey1;

                &:hover,
                &:focus {
                    color: $color-smoke;
                }
            }

            span.iconarrow.icon-arrow_forward-active.children,
            span.iconarrow.iconarrow.icon-arrow_backward.parent:before {
                color: $color-light-grey1;
            }
        }

        .experiment-fragment {
            li {
                .cmp-list__item-title {
                    color: $color-light-grey1;
                    cursor: pointer;
                }

                &:hover {
                    .cmp-list__item-title {
                        color: $color-marshmallow;
                    }
                }
            }
        }

        //my account section
        .active {
            span.icoaccount.icon-user::before {
                color: $color-marshmallow
            }
        }

        span.icoaccount.icon-user::before,
        span.icon-custom.icon-cart-day-inactive::before,
        .icon-custom.icon-search-day-inactive::before {
            color: $color-light-grey1;
        }

        span.icoaccount.icon-user:hover::before,
        span.icon-custom.icon-cart-day-inactive:hover::before,
        .icon-custom.icon-search-day-inactive:hover::before {
            color: $color-smoke;
        }
    }

    .header.cmp-header__charcoal .container-header-fluid {
        .parent-list.parentBlock {
            background-color: $color-charcoal;
        }

        .floyout-submenu {
            background-color: $color-charcoal;

            .cmp-navigation__item {
                &:hover::before {
                    border-left: calculateRem(4) solid $color-smoke;
                }
            }

            .cmp-navigation__group .cmp-navigation__item.active-page-link {
                &::before {
                    border-left: calculateRem(4) solid var(--primary-color);
                    // margin-left: calculateRem(9);
                    display: inline-block;
                    content: "";
                    height: calculateRem(36);
                    -webkit-transform: translateY(-1rem);
                    transform: translateY(-1rem);
                    position: relative;
                    top: calculateRem(22);
                }

                .cmp-navigation__item-link {
                    color: $color-marshmallow;
                }
            }

            .cmp-navigation__item-link {
                color: $color-light-grey1;

                &:hover,
                &:focus {
                    color: $color-smoke;
                }
            }

            span.iconarrow.icon-arrow_forward-active.children,
            span.iconarrow.iconarrow.icon-arrow_backward.parent:before {
                color: $color-light-grey1;
            }
        }

        .experiment-fragment {
            li {
                .cmp-list__item-title {
                    color: $color-light-grey1;
                    cursor: pointer;
                }

                &:hover {
                    .cmp-list__item-title {
                        color: $color-marshmallow;
                    }
                }
            }
        }

        //my account section
        .active {
            span.icoaccount.icon-user::before {
                color: $color-marshmallow
            }
        }

        span.icoaccount.icon-user::before,
        span.icon-custom.icon-cart-day-inactive::before,
        .icon-custom.icon-search-day-inactive::before {
            color: $color-light-grey1;
        }

        span.icoaccount.icon-user:hover::before,
        span.icon-custom.icon-cart-day-inactive:hover::before,
        .icon-custom.icon-search-day-inactive:hover::before {
            color: $color-smoke;
        }
    }
}

.logo-wrapper {
    overflow: hidden;
    margin-right: calculateRem(48);
    float: left;
    padding-top: calculateRem(20);
}

.logo-wrapper>.logo {
    width: calculateRem(132);
}

.icon-search-day-hover:before {
    content: "\e900";
    font-family: "oadsf";
}


#burger-menu {
    display: none;
}

#close-menu {
    display: none;
}

#burger-menu {
    position: absolute;
    left: calculateRem(18);
    z-index: 6;
}

#burger-menu div {
    width: calculateRem(14);
    height: calculateRem(2);
    background-color: $color-coal;
    margin: calculateRem(4) 0;
    border-radius: calculateRem(25);
}

.backButtonText1 {
    display: none;
}

.mobile-header-search {
    display: none;
}

// responsive css
@media (min-width: calculateRem(768)) and (max-width: calculateRem(1024)) {
    .header {
        left: 0;
        right: 0;

        .container-header-fluid .nav-hat {
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;
        }

        .nav-hat #close-menu {
            position: absolute;
            left: calculateRem(18);
            font-size: calculateRem(28);
            font-weight: 600;
            color: $color-light-grey1;
            display: none;
            cursor: pointer;
        }

        #burger-menu {
            display: block;
            cursor: pointer;
        }

        #burger-menu div:nth-child(2) {
            width: calculateRem(22);
            margin: calculateRem(4) calculateRem(-4);
        }

        .container-header-fluid .nav-hat img {
            width: auto;
            height: calculateRem(31);
            margin: 0 auto;
            position: relative;
            float: left;
            margin-left: calculateRem(32.04);
        }

        .container-header-fluid .parent-list {
            padding-left: calculateRem(83);
            height: calculateRem(31);
            margin-top: calculateRem(8);
        }

        .showMobileBlock {
            margin-left: 0 !important;
            opacity: 1 !important;
            visibility: visible !important;
        }

        .container-header-fluid .parent-list.parentBlock {
            li {
                margin-left: calculateRem(48);
                display: block;
                position: relative;
                font-size: calculateRem(16);
                line-height: calculateRem(48);
                font-weight: 800;

                &:hover:before {
                    border: none;
                }

                li:last-child {
                    margin: 0;
                }

                a {
                    font-size: calculateRem(16);
                    line-height: calculateRem(24);
                    font-weight: 800;
                    text-align: left;
                }
            }

            .cmp-navigation__group span.iconarrow.icon-arrow_forward-active.children {
                width: calculateRem(16);
                height: calculateRem(16);
                position: absolute;
                right: calculateRem(25);
                cursor: pointer;
                margin-top: calculateRem(14);
            }

            .floyout-submenu {
                padding-top: 0 !important;
            }

            div.floyout-submenu.showBlock {
                margin-left: 0 !important;
                opacity: 1 !important;
                visibility: visible !important;

                li {
                    margin-left: 0;
                }
            }

            .child__menu #parenTextMob {
                display: none;
            }

            div#parenTextMob {
                margin-left: 9.25rem;
                font-size: calculateRem(20);
                line-height: calculateRem(24);
                font-weight: 800;
                letter-spacing: calculateRem(-0.6);
                text-align: left;
                margin-bottom: calculateRem(43);
            }

            .backButtonText1 {
                display: block;
                margin-left: 9.25rem;
                margin-bottom: calculateRem(43);
                z-index: 999;
                position: relative;

                a {
                    font-size: calculateRem(20) !important;
                    line-height: calculateRem(24) !important;
                    color: $color-light-grey2 !important;
                }
            }

            .cmp-navigation__item:hover:before {
                border: none;
                margin-left: calculateRem(9);
            }

            .cmp-list__item--list-horizontal .experiment-fragment li {
                display: inline-block;
            }

            .experiment-fragment {
                position: relative;
                bottom: 0;
                padding: 0;
                margin-left: 0
            }
        }

        .container-header-fluid .left-navigation-extra {
            position: absolute;
            top: 0;
            right: 0;
            margin-right: calculateRem(20);

            ul li {
                margin-left: 32
            }

            ul li:first-child {
                //display: none;
            }
        }

        .mobile-header-search {
            display: block;

            &::before {
                border: none !important;
            }

            .input-box {
                position: relative !important;
                display: block !important;
                top: 0 !important;
                margin-bottom: calculateRem(32);

                .icon-custom.icon-search-day-inactive.search-icon-placeholder {
                    display: block !important;
                }
            }
        }
    }

    .day {
        .header {
            .container-header-fluid {
                .parent-list.parentBlock {
                    .navLink {
                        a {
                            color: $color-cinder;
                        }

                        &:hover::before {
                            display: none;
                        }
                    }

                    .navLink.active {
                        &::before {
                            display: none;
                        }

                        a {
                            color: $color-coal;
                        }
                    }

                    .cmp-navigation__group {

                        //active item in navigation component
                        .cmp-navigation__item.cmp-navigation__item--level-0.removeBorder>.cmp-navigation__item-link {
                            color: $color-coal;
                        }

                        .cmp-navigation__item {
                            span.iconarrow.iconarrow.icon-arrow_backward.parent {
                                padding-right: calculateRem(15);
                            }

                            &.removeBorder .backButtonText {
                                top: calculateRem(-1);
                            }

                            a.cmp-navigation__item-link {
                                color: $color-light-grey2;
                                font-size: calculateRem(20);
                                line-height: calculateRem(24);
                                font-weight: 800;

                                &:hover {
                                    color: $color-charcoal;
                                }
                            }

                            &:hover::before {
                                border: none;
                                margin: 0;
                                display: none;
                            }

                            &.cmp-navigation__item--active {
                                &::before {
                                    display: none;

                                }

                                >.cmp-navigation__item-link {
                                    color: $color-coal;
                                }
                            }

                            &.active-page-link {
                                &::before {
                                    display: none;

                                }

                                >.cmp-navigation__item-link {
                                    color: $color-coal;
                                }
                            }
                        }
                    }


                    div.floyout-submenu {
                        width: 100%;

                        .child__menu {
                            margin: 0;
                        }

                        .floyout-submenu span.iconarrow.iconarrow.icon-arrow_backward.parent {
                            font-size: calculateRem(20);
                        }

                        .removeBorder .backButtonText {
                            top: calculateRem(-4);
                        }
                    }
                }
            }
        }
    }

    .night {
        .header {
            .container-header-fluid {
                .nav-hat #close-menu {
                    color: $color-light-grey1;
                }

                #burger-menu div {
                    background-color: $color-light-grey1;
                }

                .parent-list.parentBlock {
                    .navLink {
                        a {
                            color: $color-light-grey1;
                        }

                        &:hover::before {
                            display: none;
                        }
                    }

                    .navLink.active {
                        &::before {
                            display: none;
                        }

                        a {
                            color: $color-marshmallow;
                        }
                    }

                    .cmp-navigation__group {

                        //active item in navigation component
                        .cmp-navigation__item.cmp-navigation__item--level-0.removeBorder>.cmp-navigation__item-link {
                            color: $color-marshmallow;
                        }

                        .cmp-navigation__item {
                            span.iconarrow.iconarrow.icon-arrow_backward.parent {
                                padding-right: calculateRem(15);
                                cursor: pointer;

                                &::before {
                                    color: $color-light-grey1;
                                }
                            }

                            &.removeBorder .backButtonText {
                                top: calculateRem(-1);
                            }

                            a.cmp-navigation__item-link {
                                color: $color-light-grey1;
                                font-size: calculateRem(20);
                                line-height: calculateRem(24);
                                font-weight: 800;

                                &:hover {
                                    color: $color-smoke;
                                }
                            }

                            &:hover::before {
                                border: none;
                                margin: 0;
                                display: none;
                            }

                            &.cmp-navigation__item--active {
                                &::before {
                                    display: none;
                                }

                                >.cmp-navigation__item-link {
                                    color: $color-marshmallow;
                                }
                            }

                            &.active-page-link {
                                &::before {
                                    display: none;

                                }

                                >.cmp-navigation__item-link {
                                    color: $color-marshmallow;
                                }
                            }
                        }
                    }


                    div.floyout-submenu {
                        width: 100%;

                        .child__menu {
                            margin: 0;
                        }

                        .floyout-submenu span.iconarrow.iconarrow.icon-arrow_backward.parent {
                            font-size: calculateRem(20);
                        }

                        .removeBorder .backButtonText {
                            top: calculateRem(-4);
                        }
                    }
                }
            }
        }
    }
}


@media (min-width: calculateRem(421)) and (max-width: calculateRem(767)) {
    .header .container-header-fluid .parent-list {
        display: none !important;
    }

}


@media (min-width: calculateRem(768)) and (max-width: calculateRem(1024)) {
    .header .container-header-fluid .parent-list {
        width: 50%;
    }
}

@media (min-width: calculateRem(1025)) {
    .header .container-header-fluid .left-navigation-extra {
        display: inline-block;
    }
}

@media (min-width: calculateRem(1025)) and (max-width: calculateRem(1207)) {
    .header .container-header-fluid .left-navigation-extra {
        margin-left: 20rem;
        float: right;
        margin-right: calculateRem(16);
    }

    .header .container-header-fluid .nav-hat {
        left: 0;
    }

    .header .container-header-fluid .parent-list {
        padding-left: calculateRem(120);
    }
}

@media (min-width: calculateRem(1025)) {
    .cmp-container__full-width .header {
        left: 0;
        right: 0;

        .container-header-fluid {
            max-width: 100%;
            position: relative;
            overflow: hidden;
            margin: 0 auto;
            box-sizing: border-box;

            .nav-hat {
                left: calculateRem(48);
                width: 100%;
            }

            .left-navigation-extra {
                margin-right: calculateRem(4);
            }
        }
    }

    .cmp-container__full-width .header .container-header-fluid .parent-list {
        padding-left: calculateRem(120);
    }

    .header .container-header-fluid .nav-hat {
        width: calculateRem(1208);
    }
}

@media (min-width: calculateRem(1208)) {
    .cmp-container__full-width .header {
        .container-header-fluid {
            .nav-hat {
                left: 0;
                width: 100%;
                padding-left: calculateRem(32);
            }

            .left-navigation-extra {
                float: right;
                margin-right: calculateRem(20);
            }
        }
    }
}

@media (min-width: calculateRem(1509)) {
    .cmp-container__full-width .header {
        .container-header-fluid {
            .nav-hat {
                left: auto;
                padding-left: calculateRem(16);
                max-width: calculateRem(1440);
                margin: 0 auto;
                right: auto;
                box-sizing: border-box;
            }
        }
    }
}

@media (min-width: calculateRem(1590)) {
    .header .container-header-fluid .left-navigation-extra {
        float: right;
        margin-right: calculateRem(208);
    }

    header .container-header-fluid .nav-hat {
        left: calculateRem(222)
    }
}


.reducedheader {
    max-width: calculateRem(1440);
    margin: 0 auto;
    box-sizing: border-box;
    float: none !important;

    .cmp-container__full-width {
        padding: calculateRem(16) 0;
        box-sizing: border-box;
    }


    .reduce-header-border-bottom {
        border-bottom: calculateRem(4) solid $color-smoke;
    }

    .cmp-container>div .text {
        padding: 0;
        font-family: var(--font-primary);
    }
}

.reduced-header-v-center .cmp-container>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: calculateRem(320)) and (max-width: calculateRem(767)) {
    .reducedheader {
        padding: 0 !important;
    }

    .header .container-header-fluid .left-navigation-extra {
        position: fixed;
        top: 0;
        right: 0;
        margin: 0 calculateRem(16) 0 auto;
    }

    .header .container-header-fluid .left-navigation-extra ul li {
        display: inline-block;
        margin-left: calculateRem(31);
        vertical-align: middle;
        line-height: calculateRem(31);
        list-style: none;
        display: table-cell;
        text-align: center;

    }

    .header .container-header-fluid .nav-hat img {
        float: left;
        width: auto;
        height: 1.9375rem;
        margin: 0 auto 0 calculateRem(16.04);
    }

    .header .container-header-fluid .left-navigation-extra ul li .button {
        margin-right: calculateRem(44);
        margin-left: calculateRem(43);
    }

    .header .container-header-fluid .nav-hat {
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
}

//Magento order success page
body .headerSection {
    overflow: hidden;

    .container-header-fluid .left-navigation-extra ul {
        margin: 0 !important;
    }
}


/****** Gensis Header Changes ******/
.genesis {
    .container.responsivegrid {
        &.cmp-container__full-width {
            .header {
                padding: 0;
            }
        }

        &.content-width {
            .header {
                padding: 0;
            }

            .container-header-fluid {
                max-width: calculateRem(1208);
                padding: 0 calculateRem(16);

                .nav-hat {
                    padding: 0;
                    position: relative;
                    float: left;
                    max-width: calculateRem(160);

                    .cmp-image {
                        a:hover:after {
                            background-color: transparent !important;
                        }

                        a:after {
                            background-color: transparent !important;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: calculateRem(320)) and (max-width: calculateRem(767)) {
    .genesis {
        .container.responsivegrid {
            &.content-width {
                .container-header-fluid {
                    .nav-hat {
                        float: none;
                    }
                }
            }
        }
    }
}

@media (min-width: calculateRem(320)) and (max-width: calculateRem(767)) {
    .genesis {
        .header .container-header-fluid .nav-hat img {
            float: none;
            max-width: calculateRem(112);
            margin: calculateRem(0);
        }

        .header .container-header-fluid .nav-hat {
            left: calculateRem(0);
            right: calculateRem(0);
            margin: 0 auto;
            text-align: center;
        }
    }
}


/** START: My account Page header Changes **/
.account {
    .header {
        .container-header-fluid {
            .nav-hat img {
                width: calculateRem(81);
            }
        }
    }

    //user menu
    #account-menu {
        display: flex !important;
        justify-content: center;
        align-items: center;

        .menu-icon {
            padding-right: calculateRem(8);
        }

        span {
            font-weight: bold;
        }
    }

    .cmp-lefthandnavmenu {
        width: calculateRem(202);
        padding: calculateRem(14);

        .cmp-lefthandnavmenu--item a {
            font-size: calculateRem(18);
        }
    }
}

/** End: My account Page header Changes **/