<div data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-use.staticGridPanel="com.techcombank.core.models.StaticGridPanelModel"
    data-sly-test.hasContent="${staticGridPanel.layout}">
    <section class="container">
        <div class="SectionHeader_title" data-sly-test="${staticGridPanel.heading}">${staticGridPanel.heading @ context='html'}</div>
        <div class="static-grid-panel ${staticGridPanel.layout}__container">
            <div class="static-grid__container">
                <div class="list__item__wrapper" data-sly-list="${staticGridPanel.staticGridPanelItems}">
                    <div class="static-grid-item static-grid-${staticGridPanel.layout}-item">
                        <div class="icon ${staticGridPanel.iconImageAlignment}">
                            <picture class="${item.webIconImagePath ? '' : 'no-img'}">
                                <source media="(max-width: 360px)"
                                   srcset="${item.mobileIconImagePath}"/>
                                <source media="(max-width: 576px)"
                                   srcset="${item.mobileIconImagePath}"/>
                                <source media="(min-width: 1080px)"
                                   srcset="${item.webIconImagePath}"/>
                                <source media="(min-width: 1200px)"
                                   srcset="${item.webIconImagePath}"/>
                                <img alt="${item.iconImageAltText}"
                                   src="${item.webIconImagePath}">
                            </picture>
                        </div>
                        <div class="content">
                            <div class="title">${item.iconTitle}</div>
                            <div class="description">${item.description @ context='html'}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>
