<sly data-sly-test="${wcmmode.edit}">
    <p class="cq-placeholder" data-emptytext="${component.title}"></p>
</sly>
<sly data-sly-use.fixingRateModel="com.techcombank.core.models.FixingRateModel">
    <section class="container fixing-rate" data-url="${currentPage.path}">
        <div class="exchange-rate__header">
            <div class="title-cmp">
                <div class="title-cmp__title">${fixingRateModel.fixingRateTitle}</div>
            </div>
            <div class="exchange-rate__header-select analytics-active-link"
                 data-tracking-click-event="calculator"
                 data-tracking-click-info-value="{'calculatorName':'${component.title}', 'calculatorField':'TimeStamp' }"
                 data-tracking-web-interaction-value="{'webInteractions': {'name': 'Calculators','type': 'other'}}">
                <div class="header-select__data date-time-wrapper__input-extra">
                    <div class="header-select__data-input calendar_real_estate">
                        <div class="data-input__prefix">
                            <div class="data-input__calendar-icon">
                                <picture>
                                    <source media="(max-width: 360px)"
                                            srcset="${fixingRateModel.dayIconMobileImagePath}"/>
                                    <source media="(max-width: 576px)"
                                            srcset="${fixingRateModel.dayIconMobileImagePath}"/>
                                    <source media="(min-width: 1080px)"
                                            srcset="${fixingRateModel.dayIconWebImagePath}"/>
                                    <source media="(min-width: 1200px)"
                                            srcset="${fixingRateModel.dayIconWebImagePath}"/>
                                    <img alt="${fixingRateModel.dayIconAlt}"
                                         data-nimg="fixed" decoding="async"
                                         src="${fixingRateModel.dayIconWebImagePath}">
                                </picture>
                            </div>
                            <p>${fixingRateModel.dayLabel}</p>
                        </div>
                        <div class="data-input__suffix">
                            <p class="calendar__input-field"></p>
                            <span class="data-input__arrow-icon">
                  <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/viewmore-icon.svg"/>
                </span>
                        </div>
                    </div>
                    <div class="calendar-popup">
                        <div class="month-line">
                            <span class="month-data"></span>
                            <div>
                                <img class="prev-month"
                                     src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/calendar-left-icon.svg"/>
                                <img class="next-month"
                                     src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/calendar-right-icon.svg"/>
                            </div>
                        </div>
                        <div class="date-line">
                        </div>
                        <div class="day-tbl">
                            <div class="week line1"></div>
                            <div class="week line2"></div>
                            <div class="week line3"></div>
                            <div class="week line4"></div>
                            <div class="week line5"></div>
                            <div class="week line6"></div>
                        </div>
                    </div>
                </div>
                <div class="header-select__data time-select"
                     icon-alt="${fixingRateModel.timeIconAlt}"
                     icon-mobile-path="${fixingRateModel.timeIconMobileImagePath}"
                     icon-web-path="${fixingRateModel.timeIconWebImagePath}"
                     title="${fixingRateModel.timeLabel}">
                </div>
            </div>
        </div>
        <div class="table-content-container exchange-rate__table hidden">
            <div class="exchange-rate__table-content">
                <div class="exchange-rate__table-records table-header">
                    <div class="table__first-column first-row first-column">
                        <p>${fixingRateModel.currencyLabel}</p>
                    </div>
                    <div class="table-records__data">
                        <div class="table-records__data-content first-row">
                            <p>${fixingRateModel.colOneHeading}</p>
                        </div>
                        <div class="table-records__data-content first-row last-column">
                            <p>${fixingRateModel.colTwoHeading}</p>
                        </div>
                        <div class="table-records__data-content">
                            <p>${fixingRateModel.colSubHeading}</p>
                        </div>
                        <div class="table-records__data-content last-column">
                            <p>${fixingRateModel.colSubHeading}</p>
                        </div>
                    </div>
                </div>
                <div class="exchange-rate-table-content">
                </div>
            </div>
        </div>
    </section>
</sly>
