.card {}
.product__card {}
.product__card__image {}
.product__image {}
.productcarousel__cardscontainer {}
.productcarousel__root .price .discountedPrice {}
.productcarousel__root .price .regularPrice {}
.productcarousel__root .price {}
.productcarousel__title {}


.productcarousel__root .price,
.productcarousel__root .text {
    @include t-16;
    font-size: calculateRem(16);
    line-height: calculateRem(21);
    font-weight: $font-weight-extrabold;
}

.productcarousel__title {
    @include t-36;
    margin: 0 0 calculateRem(32);
    text-align: center;
}

.productcarousel__arrowicon {
    height: calculatreRem(48);
    width: calculatreRem(48);
    left: 0;
    right: 0;
    box-shadow: 0 calculatreRem(21) calculatreRem(52) calculatreRem(-10) rgba(0,0,0,.16);
}
.product__card {
    width: 20%;
    float: left;
}

.productcarousel__cardscontainer {
    max-width: 50%;
    position: relative;
    margin: 25px auto;
}
.productcarousel__root {
    margin: 0 calculateRem(80) calculateRem(80);
}
.productcarousel__btn {
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    cursor: pointer;
    height: 20px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 20px;
}
.productcarousel__btn--prev {
    border-bottom: 8px solid #aaa;
    border-left: 8px solid #aaa;
    left: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.productcarousel__btn--next {
    border-bottom: 8px solid #aaa;
    border-right: 8px solid #aaa;
    right: 0;
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
}

.productcarousel__root {
    overflow: hidden;
}
.card {
    border: 10px solid #fff;
    float: left;
    font-size: 20px;
    text-align: center;
    width: 15pc;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

// Margin Override Options //
.cmp-productcarousel__margin-0 {
    margin: 0 0 calculateRem(0);
}
.cmp-productcarousel__margin-2 {
    margin: 0 0 calculateRem(2);
}
.cmp-productcarousel__margin-4 {
    margin: 0 0 calculateRem(4);
}
.cmp-productcarousel__margin-8 {
    margin: 0 0 calculateRem(8);
}
.cmp-productcarousel__margin-16 {
    margin: 0 0 calculateRem(16);
}
.cmp-productcarousel__margin-32 {
    margin: 0 0 calculateRem(32);
}
.cmp-productcarousel__margin-64 {
    margin: 0 0 calculateRem(64);
}
.cmp-productcarousel__margin-128 {
    margin: 0 0 calculateRem(128);
}


.day {
    .productcarousel {
        .cmp-productcarousel__standard {
            .product__card {
                background-color: $color-smoke;
            }
            .productcarousel__arrowicon {
                background-color: $color-marshmallow;
                color: $color-cinder;
            }
        }
        .cmp-productcarousel__flipped {
            .product__card {
                background-color: $color-marshmallow;
            }
            .productcarousel__arrowicon {
                background-color: $color-smoke;
                color: $color-cinder;
            }
        }
        .productcarousel__title {
            color: $color-coal;
        }
        .price {
            color: $color-coal;
        }
    }
}
.night {
    .productcarousel {
        .cmp-productcarousel__standard {
            .productcarousel__card {
                background-color: $color-charcoal
            }
            .productcarousel__arrowicon {
                background-color: $color-coal;
                color: $color-ash;
            }
        }
        .cmp-productcarousel__flipped {
            .productcarousel__card {
                background-color: $color-coal;
            }
            .productcarousel__arrowicon {
                background-color: $color-charcoal;
                color: $color-ash;
            }
        }
        .productcarousel__title {
            color: $color-marshmallow;
        }
        .price {
            color: $color-marshmallow;
        }
    }
}

