<sly
    data-sly-use.videoModel="com.kemin.redesign.core.models.video.Video"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-test.videoType="${videoModel.videoType}">
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!videoType, classAppend='cmp-title'}"></sly>
<sly data-sly-test="${videoType}">
    <div class="video_section">
        <script type="text/javascript">
            if (typeof window.digitalData !== "undefined" && typeof window.digitalData.video !== "undefined") {
                window.digitalData.video.videoInfo.videoName = "${videoModel.title @ context='text'}";
                window.digitalData.video.videoInfo.videoID = "${videoModel.videoId @ context='uri'}";
                window.digitalData.video.videoInfo.videoID = "${properties.videoID @ context='text'}";
                window.digitalData.video.videoInfo.videoStart = "yes";
                window.digitalData.video.videoInfo.videoMilestone = "0";
            }
        </script>
        <sly data-sly-test="${videoModel.title}">
            <h3>${videoModel.title}</h3>
        </sly>
        <div class="video_main">
            <div class="video_wrapper">
                <!-- DAM -->
                <sly data-sly-test="${videoType =='dam'}">
                    <script type="text/javascript">
                        var videoId = "${videoModel.damLink @ context='uri'}";
                    </script>
                    <div class="videoCont dam-video-wrap">
                        <video class="dam-video" id="myDamVideo" width="100%" height="100%" controls>
                            <source src="${videoModel.damLink}" type="video/mp4">
                            ${videoModel.metaDescription}
                        </video>
                    </div>
                </sly>
                <!-- YouTube -->
                <sly data-sly-test="${videoType =='youTube'}">
                    <div class="videoCont youtube">
                        <iframe width="100%" height="100%" src="${videoModel.youTubeLink}"
                                modestbranding="0"  controls="0" frameborder="0" allow="accelerometer;
                                autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                            ${videoModel.metaDescription}
                        </iframe>
                    </div>
                </sly>
                <!-- Wistia -->
                <sly data-sly-test="${videoType =='embed'}">
                    <script src="https://fast.wistia.com/embed/medias/${videoModel.embedId}.jsonp" async></script>
                    <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
                    <div class="videoCont wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
                        <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                            <div class="wistia_embed wistia_async_${videoModel.embedId} videoFoam=true" style="height:100%;position:relative;width:100%">
                                <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                    <img src="https://fast.wistia.com/embed/medias/${videoModel.embedId}/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" onload="this.parentNode.style.opacity=1;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </sly>
                <sly data-sly-test="${videoModel.thumbnail}">
                    <div class="video_assets">
                        <div class="video_poster_overlay">
                            <img src="${videoModel.thumbnail}" width="100%" alt="${videoModel.metaDescription}">
                        </div>
                        <div class="play_stop_btn">
                            <span class="icon-play playbtnblack ${videoModel.playButtonColor}" id="play-button"></span></span>
                        </div>
                    </div>
                </sly>
            </div>
            <h3 class="body-small video_caption"><div>${videoModel.caption}</div></h3>
        </div>
    </div>
</sly>