<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.model="com.techcombank.core.models.FinancialFiltersModel"/>
<section class="container statistics-table-component section__margin-medium"
         data-select-label="${model.selectLabel}">
    <div class="statistics-table-container">
        <!-- filter reuse -->
        <div class="select-checkbox-filter">
            <h2>${model.heading @context='html'}</h2>
            <div class="select-options">
                <input type="hidden" class="dropdownAnalytics" data-tracking-click-event="articleFilter" data-tracking-click-info-value="{'articleFilter': '${model.selectLabel}'}" data-tracking-web-interaction-value="{'webInteractions': {'name': '${model.heading @context='html'}', 'type': 'Other'}}">
                <div class="select">
                    <img class="calendar-icon"
                         src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/calendar.svg">
                    <h6>${model.yearLabel}:</h6>
                    <span>${model.selectLabel}</span>
                    <img class="fa-chevron-down"
                         src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/chevron-bottom-icon.svg"/>
                </div>
                <div class="checkbox">
                    <div class="checkbox-list">
                        <div class="type">
                            <div class="year">
                                <p>${model.yearLabel}</p>
                                <ul>
                                    <li data-sly-repeat="${model.highlights}">
                                        <label>
                                            <input type="checkbox" value="${item.year}"/>
                                            <div>${item.year}</div>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="quarter">
                                <p>${model.quarterLabel}</p>
                                <ul>
                                    <li data-sly-repeat="${model.quarters}">
                                        <label>
                                            <input type="checkbox" value="${item.name}"/>
                                            <div>${item.jcr:title}</div>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup"></div>
            <div class="popup-content">
                <div class="title">${model.filtersLabel}</div>
                <div class="content"></div>
                <div class="btn">
                    <button>${model.applyFiltersLabel}</button>
                </div>
            </div>
        </div>
        <div class="list-items">
            <div class="year-item" data-sly-repeat="${model.highlights}" data-year="${item.year}">
                <sly data-sly-resource="${@path=item.path, selectors='content', wcmmode='disabled'}"></sly>
            </div>
        </div>
    </div>
</section>
