<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
data-sly-use.networkGrid="com.techcombank.core.models.NetworkGridModel"
data-sly-test.hasContent="${networkGrid.networkGridItems}">
    <section class="network-grid-component">
        <!-- network-grid.html -->
        <div class="network-grid-component__container">
            <div class="network-grid">
                <div class="slideshow">
                    <div class="item-list">
                        <div class="item" data-sly-repeat="${networkGrid.networkGridItems}">
                        <picture>
                            <source media="(max-width: 360px)"
                                srcset="${item.mobileGridDisplayImagePath}"/>
                            <source media="(max-width: 576px)"
                                srcset="${item.mobileGridDisplayImagePath}"/>
                            <source media="(min-width: 1080px)"
                                srcset="${item.webGridDisplayImagePath}"/>
                            <source media="(min-width: 1200px)"
                                srcset="${item.webGridDisplayImagePath}"/>
                            <img alt="${item.displayImageAltText}"
                                src="${item.webGridDisplayImagePath}">
                        </picture>
                        <div class="content">
                            <span class="tag">${item.gridImageTag}</span>
                            <h3 class="title">${item.gridImageTitle}</h3>
                            <p class="description">${item.gridImageDescription}</p>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="panel-list"> 
                    <div class="panel" data-sly-repeat="${networkGrid.networkGridItems}">
                        <div class="number">
                            <span>${item.gridPanelListNumber}</span>
                        </div>
                        <div class="content">
                            <h3 class="title">${item.gridPanelListTitleText}</h3>
                            <p>${item.gridPanelListSubTitle}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>
