<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.faqPanelModel="com.techcombank.core.models.FAQPanelModel">
    <div class="faq-panel" data-showmore="5">
        <div class="faq-panel-container">
            <div class="list-answer-question" data-id="view-all">
                <sly data-sly-list.faqCF="${faqPanelModel.faqCFList}">
                    <div class="answer-question">
                        <div
                            class="question"
                            data-tracking-click-event="faq"
                            data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': 'other'}}"
                            data-tracking-click-info-value="{'linkClick':'${faqCF.faqTitle}'}"
                        >
                            <p>${faqCF.faqTitle}</p>
                            <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-dropdown-arrow.svg" />
                        </div>
                        <div class="answer">
                            ${faqCF.faqDescription @context='html'}
                        </div>
                    </div>
                </sly>
            </div>
            <sly data-sly-test="${faqPanelModel.viewMoreLabel}">
                <div class="read-more">
                    <span>${faqPanelModel.viewMoreLabel}</span>
                    <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-dropdown-arrow.svg" />
                </div>
            </sly>
        </div>
    </div>
</sly>
