.cmp-lefthandnavmenu{
    padding: 0;
    list-style: none;
    vertical-align: middle;
    text-align: center;
    width: 100%;

    &--item{
        height: 50px;
        display: flex;
        align-items: center;

        img{
            margin-left: 18px;
        }

        a{
            margin-left: 16px;
            font-weight: 500;
            color: #6B737A !important;

            &::after{
                content: none !important;
            }
        }

        &:hover{
            img{
                filter: contrast(4);
            }
            a{
                color: #212121 !important;
            }
            background-color: #F2F2F2;
            border-radius: 5px;
        }

        &__support{

            height: 50px;
            display: flex;
            align-items: center;

            img{
                margin-left: 18px;
                filter: invert(23%) sepia(62%) saturate(6598%) hue-rotate(196deg) brightness(91%) contrast(99%);
            }
            a{
                margin-left: 16px;
                font-weight: 500;
                color: #0165BC !important;

                &::after{
                    content: none !important;
                }
            }
        }
    }
}

