<template data-sly-template.image="${ @ src, alt }">
  <div class="media-container">
    <sly data-sly-resource="${src @ resourceType='kemin-redesign/components/dynamicimage', selectors='presets.imageGallery'}"></sly>
  </div>
</template>