<sly data-sly-use.multimediaText="com.kemin.redesign.core.models.multimedia.MultimediaAndText" data-sly-use.template="core/wcm/components/commons/v1/templates.html" data-sly-call="${template.placeholder @ isEmpty= !multimediaText.mediaType, classAppend='cmp-title'}"></sly>
<div class="multimedia-component"
     data-sly-test=${multimediaText.mediaType}
     data-sly-use.text="text.html"
     data-sly-use.image="image.html">
  <div class="container-kemin">
    <div class="multimedia-container ${multimediaText.backgroundColor} row" >
      <div
              data-sly-test="${multimediaText.layout=='left' && multimediaText.mediaType=='video'}"
              class="col-md-${multimediaText.mediaColumnCount} col-sm img-block my-auto"
              data-sly-resource="${resource @ resourceType='kemin-redesign/components/video'}"></div>
      <div
              data-sly-test="${multimediaText.layout=='left' && multimediaText.mediaType=='image'}"
              class="col-md-${multimediaText.mediaColumnCount} col-sm img-block"
              data-sly-call="${image.image @ src=multimediaText.imageSrc, alt=multimediaText.imageAlt}"></div>
      <div class="col-md-${multimediaText.textColumnCount} col-sm my-auto"

           data-sly-call="${text.text @
          spaceRight=multimediaText.layout=='right',
          title=multimediaText.title,
          description=multimediaText.description,
          firstButtonText=multimediaText.firstButtonText,
          firstButtonLink=multimediaText.firstButtonLink,
          firstButtonStyle=multimediaText.firstButtonStyle,
          secondButtonText=multimediaText.secondButtonText,
          secondButtonLink=multimediaText.secondButtonLink,
          secondButtonStyle=multimediaText.secondButtonStyle}"></div>
      <div
              data-sly-test="${multimediaText.layout=='right' && multimediaText.mediaType=='video'}"
              class="col-md-${multimediaText.mediaColumnCount} col-sm img-block my-auto"
              data-sly-resource="${resource @ resourceType='kemin-redesign/components/video'}"></div>
      <div
              data-sly-test="${multimediaText.layout=='right' && multimediaText.mediaType=='image'}"
              class="col-md-${multimediaText.mediaColumnCount} col-sm img-block"
              data-sly-call="${image.image @ src=multimediaText.imageSrc, alt=multimediaText.imageAlt}"></div>
    </div>
  </div>
</div>