<template data-sly-template.text="${ @ spaceRight, title, description, firstButtonText, firstButtonLink, firstButtonStyle, secondButtonText, secondButtonLink, secondButtonStyle}">
  <div class="media-text-container ${spaceRight ? 'space-right' : 'space-left'}">
    <p data-sly-test="${title}" class="text-heading">${title}</p>
    <p data-sly-test="${description}">${description}</p>
    <a  data-cta="${firstButtonText}" data-at="${firstButtonText}" data-nav="Text" data-cta-type="link" data-sly-test="${firstButtonText}" class="btn ${firstButtonStyle=='primary' ? 'btn-primary' : 'btn-secondary'}" type="button" href="${firstButtonLink}"><span>${firstButtonText}</span></a>
    <a  data-cta=">${secondButtonText}" data-at="${secondButtonText}" data-nav="Text" data-cta-type="link" data-sly-test="${secondButtonText}" class="btn ${secondButtonStyle=='primary' ? 'btn-primary' : 'btn-secondary'}" type="button" href="${secondButtonLink}"><span>${secondButtonText}</span></a> 
  </div>
</template>