<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.enhancedFaqPanelModel="com.techcombank.core.models.EnhancedFAQPanelModel">
    <div data-showmore="5" class="${!wcmmode.edit ? 'hide-faqs' : ''}">
        <div data-id="view-all">
        	<sly data-sly-resource="${ @path='enhancedfaqpanelparsys', resourceType='foundation/components/parsys'}"></sly>
        </div>
        <sly data-sly-test="${enhancedFaqPanelModel.viewMoreLabel}">
            <div class="read-more">
                <span>${enhancedFaqPanelModel.viewMoreLabel}</span>
                <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-dropdown-arrow.svg" />
            </div>
        </sly>
    </div>
</sly>
