<div class="cmp-genesis_checkout" data-controller-url="${properties.magentoControllerUrl}">
    <sly data-sly-resource="${'genesis-checkout-button' @ resourceType='/apps/dopweb/components/button', decoration=true, cssClassName='genesis-checkout-button'}"></sly>
</div>