<div>
    <span data-sly-test="${(wcmmode.edit || wcmmode.design )}" data-sly-test="${!properties.rawCode}" >Configure embed-code Component in Edit Mode</span>
    <sly data-sly-test="${properties.formName && properties.formId}">
        <script type="text/javascript">
			if (typeof window.digitalData !== "undefined" && typeof window.digitalData.form !== "undefined") {
				window.digitalData.form.formInfo.formName = "${properties.formName @ context='text'}";
				window.digitalData.form.formInfo.formID = "${properties.formId @ context='text'}";
				window.digitalData.form.formInfo.formStatus = "view";
				window.digitalData.form.formInfo.formView = "Yes";
			}
		</script>
    </sly>
    ${properties.rawCode @context='unsafe'}
</div>
