<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test.empty="${properties.cartPageUrl}" data-sly-use.linkHelper="${'com.dish.dopweb.core.models.LinkHelper' @ link=properties.cartPageUrl}">
    <a href="${linkHelper.formattedLink}" data-block=\"minicart\" class=\"minicart-wrapper\"
       aria-label="${properties.ariaLabel}">
        <!-- day/night inactive -->
        <span class="home-cart icon-custom icon-cart-day-inactive"></span>
        <!-- day cart has item -->
        <span class="home-cart icon-custom icon-cart-day-filled-inactive">
            <span class="path1"></span>
            <span class="path2"></span>
        </span>
        <!-- night cart has item -->
        <span class="home-cart icon-custom icon-cart-night-filled-inactive">
            <span class="path1"></span>
            <span class="path2"></span>
        </span>
        <span class="home-cart icon-custom icon-cart-night-inactive">
            <span class="path1"></span>
            <span class="path2"></span>
        </span>
    </a>
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!empty}"></sly>
