<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2017 Adobe
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<template data-sly-template.itemContent="${@ item='The navigation item', isParent, authoredName}">
    <a data-sly-use.linkHelper="${'com.dish.dopweb.core.models.LinkHelper' @link=item.URL}"
       href="${isParent ? '#' : linkHelper.redirectURL}"
       title="${(authoredName && authoredName.length != 0) ? authoredName : item.title}"
       aria-current="${item.active && 'page'}"
       data-actual-page-name="${linkHelper.actualPageName}"
       data-cmp-clickable="${item.data ? true : false}"
       class="cmp-navigation__item-link">${(authoredName && authoredName.length != 0) ? authoredName : item.title}</a>
</template>
