<sly data-sly-template.leftContentBanner="${@ param}">
    <div class="contbanner">
        <div class="row">
            <div class="leftimage">
                <sly data-sly-resource="${'image' @ resourceType='/apps/dopweb/components/image'}"></sly>
            </div>
            <div class="rightside">
                <sly data-sly-resource="${'container' @ resourceType='/apps/dopweb/components/container'}"></sly>
            </div>
        </div>
    </div>
</sly>