<sly data-sly-template.rightContentBanner="${@ param}">
<div class="contbanner">
    <div class="row">
        <div class="leftside">
            <sly data-sly-resource="${'container' @ resourceType='/apps/dopweb/components/container'}"></sly>
        </div>
        <div class="rightimage">
            <sly data-sly-resource="${'image' @ resourceType='/apps/dopweb/components/image'}"></sly>
        </div>
    </div>
</div>
</sly>