<sly data-sly-test="${wcmmode.edit}">
  <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.milestonePanelModel="com.techcombank.core.models.MilestonePanelModel">
    <div class="milestone">
        <div class="milestone__bg-image">
            <div class="milestone__body">
                <div class="body-wrapper__time-line">
                    <div class="time-line__left-content">
                        <div class="left-content__wrapper">
                            <div class="left-content__year-slider">
                                <div class="year-slider__slick">
                                    <sly data-sly-list.timelines="${milestonePanelModel.timelines}">
                                        <div class="year-slider__slick-item" tabindex="-1"
                                             data-tracking-click-event="carouselClick"
                                             data-tracking-click-info-value="{'carouselName': '${timelines.timelineYear}'}"
                                             data-tracking-web-interaction-value="${milestonePanelModel.webInteractionValue}">
                                            <h3>${timelines.timelineYear}</h3>
                                        </div>
                                    </sly>
                                </div>
                            </div>
                            <div class="left-content__content-slider">
                                <div class="content-slider__slick">
                                    <sly data-sly-list.timelines="${milestonePanelModel.timelines}">
                                        <div class="content-slider__item" tabindex="-1">
                                            <h3>${timelines.timelineSliderTitle}</h3>
                                            <div class="content-slider__item-text">${timelines.timelineSliderDescriptionText @ context='html'}</div>
                                        </div>
                                    </sly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="time-line__right-content"></div>
                </div>
            </div>
            <div class="milestone__image-card">
                <div class="image-card__left-content"></div>
                <div class="image-card__right-content">
                    <sly data-sly-list.timelines="${milestonePanelModel.timelines}">
                        <div class="content-slider__image">
                            <picture>
                                <source media="(max-width: 360px)" srcset="${timelines.mobileImagePath}" />
                                <source media="(max-width: 576px)" srcset="${timelines.mobileImagePath}" />
                                <source media="(min-width: 1080px)" srcset="${timelines.webImagePath}" />
                                <source media="(min-width: 1200px)" srcset="${timelines.webImagePath}" />
                                <img  alt="${timelines.timelineImageAltText}"
                                    data-nimg="intrinsic"
                                    decoding="async" src="${timelines.webImagePath}"/>
                            </picture>
                        </div>
                    </sly>
                </div>
            </div>
        </div>
    </div>
</sly>
