<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.stepAccordion="com.techcombank.core.models.StepAccordionModel">
    <section class="accordion-inspire-component">
        <div class="accordion-inspire-container" data-sly-list.item="${stepAccordion.stepAccordionItemList}">
            <div class="item ${!wcmmode.edit ? 'hide' : 'show'} ">
                <div class="item-title"
                    data-tracking-click-event="faq"
                    data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': 'other'}}"
                    data-tracking-click-info-value="{'accordionTitle': '${item.accordionItemTitle}'}"
                    data-tracking-click-info-key="offer">
                    <h3 class="item-title-text">${item.accordionItemTitle}</h3>
                    <div class="expand-icon">
                        <img class="add-icon" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/add-icon.svg" />
                        <img class="sub-icon" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/sub-icon.svg" />
                    </div>
                </div>
                <div class="item-description">
                    <sly data-sly-resource="${itemList.index @ resourceType='wcm/foundation/components/parsys'}"></sly>
                </div>
            </div>
        </div>
    </section>
</sly>
