<!--Hubspots Forms-->
<div class="style-guide container">
	<div class="Hubspots-toggle">
		<div class="Hubspots-toggle-bar">
			<div class="hexagon"> <span class="icon-email"></span> </div>
			<div class="hs-msg-heading">
				<p>${properties.title} <span class="icon-chevron-down"></span></p>
			</div>
		</div>
	</div>
	<div class="Hubspots-form">
        <div class="hexagon" id="hexagon"> <span class="icon-email"></span> </div>
        <h3>${properties.title}</h3>
		<p>${properties.desc @context='html'}</p>
		<div class="hs-underline"></div>
		<!--[if lte IE 8]>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
        hbspt.forms.create({
                    region: "na1",
                    portalId: "257852",
                    formId: "${properties.formId @context='scriptString'}"
        });
        </script>
	</div>
	<sly data-sly-test="${properties.formName && properties.formId}">
		<script type="text/javascript">
			if (typeof window.digitalData !== "undefined" && typeof window.digitalData.form !== "undefined") {
				window.digitalData.form.formInfo.formName = "${properties.formName @ context='text'}";
				window.digitalData.form.formInfo.formID = "${properties.formId @ context='text'}";
				window.digitalData.form.formInfo.formStatus = "view";
				window.digitalData.form.formInfo.formView = "Yes";
			}
		</script>
	</sly>
</div>