.md-show~.cmp-md-overlay {
    opacity: 1;
    display: flex;
}

.cmp-md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show {
    visibility: visible;
}

.cmp-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    min-width: calculateRem(320);
    height: auto;
    z-index: 99999;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    overflow-y: hidden;
    overflow-x: hidden;
}

.modal-content {
    word-wrap: break-word;
    position: relative;
    margin: 0 auto;
    min-height: calculateRem(100);
    max-height: 80vh;
    overflow-y: overlay;
    overflow-x: overlay;
}

.md-show.cmp-md-effect-3 .modal-content {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.cmp-md-effect-3 .modal-content {
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    transform: translateY(20%);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal-content .modal-container .section {
    padding: 0;
    // word-break: break-all;
}

// .modal-content .modal-container .cmp-container {
//     word-break: break-all;
// }

.modal-content .modal-container>.container.responsivegrid {
    max-width: 100%;
    background-color: #fff;
}

.modal-content-default-height {
    min-width: calculateRem(320);
}

@media (min-width: calculateRem(993)) {
    // .modal-content-default-height {
    //     width: calculateRem(900);
    // }
}

@media (max-width: calculateRem(767)) {
    .cmp-md-effect-3 .modal-content {
        margin: 0 auto;
    }
}

.w3-black,
.w3-hover-black:hover {
    color: #fff !important;
    background-color: #000 !important;
}

.modal-display-topright {
    width: calculateRem(20);
    height: calculateRem(20);
}

.modal-btn,
.modal-button {
    border: none;
    display: inline-block;
    padding: calculateRem(8) calculateRem(16);
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

@media (min-width: calculateRem(320)) and (max-width: calculateRem(766)) {
    .cmp-modal {
        width: auto !important;
    }

    .modal-content-default-height {
        width: auto;
    }
}

@media (max-width: calculateRem(320)) {
    .modal-content-default-height {
        min-width: calculateRem(300);
        width: calculateRem(300);
    }
    .cmp-modal{
    min-width: 17rem;
    width: 0px!important; 
    }
}

.modal {
    .button.open-modal-center {
        text-align: center !important;
    }

    .button.open-modal-right {
        text-align: right !important;
    }

    .button.open-modal-default {
        text-align: left !important;
    }
}


.genesis {
    .cmp-md-overlay {
        background-color: $color-black;
    }
    .md-show~.cmp-md-overlay{
        opacity: 0.9;
    }
}

//Scrollbar 

.modal-content::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    -webkit-appearance: none;
}

.modal-content::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(255,255, 255, 0);
}

.modal-content::-webkit-scrollbar-corner {
    background-color: rgba(255,255, 255, 0);
}

.modal-content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 10px;
    border: 2px solid #ffffff00;
}

.modal-content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, .5);
}

.scrollbar-visible::-webkit-scrollbar {
    display: block !important;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none !important;
}
