<div data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"></div>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=true}"></sly>
<div>${properties.text @context='html'}</div>
