.cmp-form {
    ::placeholder {
        letter-spacing: 0.18px;
        line-height: 24px;
        color: $color-placeholder-white;
        font-family: var(--font-primary-proximanova);
        vertical-align: middle;
    }

    :-ms-input-placeholder {
        letter-spacing: 0.18px;
        line-height: 24px;
        color: $color-placeholder-white;
        font-family: var(--font-primary-proximanova);
        vertical-align: middle;
    }

    ::-ms-input-placeholder {
        letter-spacing: 0.18px;
        line-height: 24px;
        color: $color-placeholder-white;
        font-family: var(--font-primary-proximanova);
        vertical-align: middle;
    }

    .text {
        margin-bottom: calculateRem(12);
    }

    .cmp-form-text {
        width: 100%;
        float: left;
        position: relative;
    }

    .cmp-form-text label {
        line-height: 1.875rem;
        color: $color-placeholder-white;
        font-family: var(--font-primary-proximanova);
        font-size: 12px;
        letter-spacing: 0.32px;
        line-height: 16px;
        padding-left: 8px;
    }

    .cmp-form-text .cmp-form-text__text,
    .cmp-form-text .cmp-form-text__textarea {
        padding: 0.3125rem;
        float: left;
        width: 100%;
        box-sizing: border-box;
        border: 2px solid $color-light-grey;
        border-radius: 8px;
        padding: 0 32px;
        font-size: 16px;
        background-color: $color-input-background;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        outline: none;

        &:hover {
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            background-color: $color-light-grey-light;
        }

        &:active {
            height: calculateRem(48);
        }

        &:focus {
            height: calculateRem(50);
        }
    }

    .cmp-form-text .cmp-form-text__textarea {
        padding: 0 16px;
    }

    .cmp-form-text .cmp-form-text__text {
        height: 44px;
    }

    .cmp-form-text__help-text {
        color: $color-light-grey3;
        font-family: var(--font-primary-proximanova);
        font-size: 12px;
        letter-spacing: 0.32px;
        line-height: 16px;
        padding-left: 8px;
        display: flex;
        padding-top: 4px;
    }

    .cmp-form-img__left,
    .cmp-form-img__right {
        position: absolute;
        top: calculateRem(37.5);
        overflow: hidden;
        margin: 0;
        height: calculateRem(17.5);
        width: calculateRem(17.5);

        svg {
            width: calculateRem(17.5);
            height: calculateRem(17.5);
        }
    }

    .cmp-form-img__left {
        left: calculateRem(15.5);
    }

    .cmp-form-img__right {
        right: calculateRem(15.5);
    }
}

.cmp-form-text__text:active+.cmp-form-img__left,
.cmp-form-text__text:active+.cmp-form-img__right {
    top: calculateRem(42);
}