.cmp-form-options {}
.cmp-form-options__legend {}
.cmp-form-options__field-label {}
.cmp-form-options__field {}
.cmp-form-options__field--checkbox,
.cmp-form-options__field--radio,
.cmp-form-options__drop-down {
  >label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    text-transform: unset;
    letter-spacing: initial; // added by adobe
    >span {
        color: var(--primary-red);
        padding: 0 12px 0 4px;
        line-height: normal;
    }
  }

  .list-dropdown {
    padding: 0;
  }
}
.cmp-form-options__field-description {}
.cmp-form-options__label {}
.cmp-form-options__drop-down-field {}
.cmp-form-options__multi-drop-down-field {}
.cmp-form-options__help-message {}
.radio,.checkbox,.dropdown {
  padding: 12px 0;
  position: relative;
}

.cmp-form-options__field--term {
  .term-title {
    margin-bottom: 32px;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
  }
  .checkbox-wrapper {
    display: block;
  }
}