.social-share {
  position: fixed;
  right: 56px;
  bottom: 132px;
  z-index: 1298;
  .cmp-social-share {
    list-style: none;
  }
  .cmp-social-share__item {
    line-height: 0;
    margin-bottom: 12px;
    a {
      display: block;
      transition: all .3s ease;
      transform: scale(1);
      border-radius: 50%;
      overflow: hidden;
      background-color: #fff;
      &:hover {
        transform: scale(1.04);
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    img {
      width: 40px;
      height: 40px;
    }
  }

  @media (max-width: 767px) {
    right: 16px;
    bottom: 124px;
    .cmp-social-share__item {
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
