<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html">
	<sly data-sly-test="${properties.id}">
		<div id="anchor-${properties.id}" class="${wcmmode.edit?'':'anchor-jumptarget' @ context='styleString'} section">
		</div>
	</sly>
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=wcmmode.edit}"></sly>