<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2018 Adobe
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->

<div data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
     id="${component.id}"
     class="cmp-separator">

        <sly data-sly-test.isDesktopWidth="${properties.desktopWidth ? 'true' : 'false'}">
                <hr class="cmp-separator__horizontal-rule desktopBg" style="width:calc(0.0625rem * ${properties.desktopWidth @ context='styleString'}); float:left;"/>
        </sly>

        <sly data-sly-test.isTabletWidth="${properties.tabletWidth ? 'true' : 'false'}">
                <hr class="cmp-separator__horizontal-rule tabletBg" style="width:calc(0.0625rem * ${properties.tabletWidth ? properties.tabletWidth : properties.desktopWidth  @ context='styleString'}); float:left;"/>
        </sly>

        <sly data-sly-test.isMobileWidth="${properties.mobileWidth ? 'true' : 'false'}">
                <hr class="cmp-separator__horizontal-rule phoneBg" style="width:calc(0.0625rem * ${properties.mobileWidth? properties.mobileWidth : properties.desktopWidth  @ context='styleString'}); float:left;"/>
        </sly>


        <sly data-sly-test="${!isDesktopWidth}">
                <hr class="cmp-separator__horizontal-rule desktopBg" style="width:${'100%' @ context='styleString'}; float:left;"/>
        </sly>

        <sly data-sly-test="${!isDesktopWidth && !isTabletWidth}">
                <hr class="cmp-separator__horizontal-rule tabletBg" style="width:${'100%' @ context='styleString'}; float:left;"/>
        </sly>

        <sly data-sly-test="${!isDesktopWidth && !isMobileWidth}">
                <hr class="cmp-separator__horizontal-rule phoneBg" style="width:${'100%' @ context='styleString'}; float:left;"/>
        </sly>

        <sly data-sly-test="${isDesktopWidth && !isTabletWidth}">
                <hr class="cmp-separator__horizontal-rule tabletBg" style="width:calc(0.0625rem * ${properties.desktopWidth @ context='styleString'}); float:left;"/>
        </sly>

        <sly data-sly-test="${isDesktopWidth && !isMobileWidth}">
                <hr class="cmp-separator__horizontal-rule phoneBg" style="width:calc(0.0625rem * ${properties.desktopWidth @ context='styleString'}); float:left;"/>
        </sly>

</div>