<sly data-sly-use.card="com.techcombank.core.models.StoryListingModel"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test.hasContent="${card.articleCategoryTags}">
    <sly data-sly-test="${hasContent}">
        <section class="container news-filter" data-ctalabel="${card.ctaLabel}" data-limit="${card.result}" data-defaultImage="${card.image}" data-url="${resource.path}.storylisting.json" data-newtab="${card.newTab}" data-nofollow="${card.nofollow}">
            <div class="category-filter" data-tracking-click-event="articleFilter"
      data-tracking-web-interaction-value="{'webInteractions': {'name': 'Article Filter ','type': 'other'}}"
      data-tracking-click-info-value="{'articleFilter':'article-filter'}">
                <div class="container">
                    <h2 class="category-title">${card.articleCategoryLabel}</h2>
                    <div class="slide-button" data-sly-list.articleCategory="${card.articleCategoryTags}">
                        <button class="btn" id="${articleCategory}" data-articleCategory="${articleCategory}" name="${articleCategory}">${card.articleCategoryTags[articleCategory]}</button>
                    </div>
                </div>
            </div>
            <div id="sticky" class="sticky-filter" style="display: none">
                <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/filter.svg"/>
            </div>
            <div class="content-wrapper news-filter__wrapper">
                <!-- Side bar Offer filter -->
                <div data-sly-test="${card.articleTags}" class="news_filter-group">
                    <!-- Filter title -->
                    <div class="offer-filter__title filter--border-bottom">
                        <h6>${card.articleTagLabel}</h6>
                    </div>
                    <!-- Checkbox list item -->
                    <div class="offer-filter__checkbox" id="newsTypes" data-sly-list.articleTag="${card.articleTags}">
                        <div class="offer-filter__checkbox-item">
                            <label class="checkbox-item__wrapper">
                                <input id="allTypePost" class="input__checkbox" type="checkbox" name="${articleTag}" data-articletag="${articleTag}" />
                                <div>${card.articleTags[articleTag]}</div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="filter-container">
                    <div class="news_open-filter-button" data-title="${card.filter}" data-action="${card.filter}">
                        <button class="btn-open-filter" data-toogle="modal" data-target="open-modal">
                            <span>${card.filter}</span>
                            <div class="btn-open-filter__icon">
                                <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/filter.svg"/>
                            </div>
                        </button>
                    </div>
                </div>

                <!-- Offer cards container -->
                <div class="offer-cards__container ${card.articleTags ? '' : 'full-width'}">
                    <div class="news-list">


                    </div>
                    <div class="not-found">
                        <div class="description">
                            ${card.errorMsg}
                        </div>
                    </div>
                </div>
            </div>
            <div class="information-filter__load-more">
                <button type="button" class="load-more__button" data-tracking-click-event="articleView"
        data-tracking-web-interaction-value="{'webInteractions': {'name': 'View more - Article Filter','type': 'other'}}"
        data-tracking-click-info-value="{'articleFilter':'Article Filters'}">
                    <span> ${card.viewMore}</span>
                    <div class="load-more__button-icon">
                        <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/arrow-down-red.png"/>
                    </div>
                </button>
            </div>
        </section>
        <!-- filter modal for Mobile -->
        <div class="dialog container news-filter" style="display: none">
            <div class="category-filter-mobi">
                <div>
                    <div class="dialog-title">
                        <span class="title">${card.allFilter}</span>
                        <span class="btn-close" style="float: right" >
              <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/icon_close_red.svg"/>
            </span>
                    </div>
                    <div class="dialog-content">
                        <div>
                            <h2 class="category-title">${card.articleCategoryLabel}</h2>
                            <div class="slide-button" data-sly-list.articleCategory="${card.articleCategoryTags}">
                                <button class="btn" id="${articleCategory}-${articleCategoryList.index}" data-articleCategory="${articleCategory}" name="${articleCategory}">${card.articleCategoryTags[articleCategory]}</button>
                            </div>
                            <div>
                                <!-- Filter title -->
                                <div data-sly-test="${card.articleTags}" class="offer-filter__title filter--border-bottom">
                                    <h6>${card.articleTagLabel}</h6>
                                </div>
                                <!-- Checkbox list item -->
                                <div data-sly-test="${card.articleTags}" class="offer-filter__checkbox" id="newsTypes" data-sly-list.articleTag="${card.articleTags}">
                                    <div class="offer-filter__checkbox-item">
                                        <label class="checkbox-item__wrapper">
                                            <input id="allTypePost" class="input__checkbox" type="checkbox" name="${articleTag}"
                                                    data-articletag="${articleTag}" />
                                            <div>${card.articleTags[articleTag]}</div>
                                        </label>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn-close" data-tracking-click-event="articleView"
                                            data-tracking-web-interaction-value="{'webInteractions': {'name': 'Apply - Article Filter','type': 'other'}}"
                                            data-tracking-click-info-value="{'articleFilter':'Article Filters'}"> ${card.apply}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </sly>
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>
