  <div class="genesis-qualification-survey">
    <form name="qualificationsurvey" method="post" action="">
       <sly data-sly-resource="${'container' @ resourceType='/apps/dopweb/components/container'}"/>
    </form>
  </div>