
<sly data-sly-test="${properties.columnType =='2'}">
    <div class="column-two-type">
        <sly data-sly-test="${properties.twocolumnspacing =='50-50'}">
            <div class="container column-fifty-fifty ${properties.checkTablet?'desktop-view-only':''}">
                <div class="row">
                    <div class="col-lg-6 order-lg-1 col-sm-12 ${properties.columnReverse?'order-md-2 order-sm-2':''}  ${properties.columnReverse?'order-md-2 order-sm-2':''} ${properties.checkTablet?'col-md-6':'col-md-12'}">
                        <sly data-sly-resource="${ @path='column-1', resourceType='kemin-redesign/components/container'}"></sly>
                    </div>
                    <div class="col-lg-6 order-lg-2 col-sm-12 ${properties.columnReverse?'order-md-1 order-sm-1':''}  ${properties.columnReverse?'order-md-2 order-sm-2':''} ${properties.checkTablet?'col-md-6':'col-md-12'}">
                        <sly data-sly-resource="${ @path='column-2', resourceType='kemin-redesign/components/container'}"></sly>
                    </div>
                </div>
            </div>
        </sly>
        <sly data-sly-test="${properties.twocolumnspacing =='40-60'}">
            <div class="container column-forty-sixty">
                <div class="row">
                    <div class="col-lg-5 col-sm-12 col-md-12">
                        <sly data-sly-resource="${ @path='column-1', resourceType='kemin-redesign/components/container'}"></sly>
                    </div>
                    <div class="col-lg-7 col-sm-12 col-md-12">
                        <sly data-sly-resource="${ @path='column-2', resourceType='kemin-redesign/components/container'}"></sly>
                    </div>
                </div>
            </div>
        </sly>
        <sly data-sly-test="${properties.twocolumnspacing =='60-40'}">
            <div class="container column-sixty-forty">
                <div class="row">
                    <div class="col-lg-7 order-lg-1 col-sm-12 col-md-12 ${properties.columnReverse?'order-md-2 order-sm-2':''}">
                        <sly data-sly-resource="${ @path='column-1', resourceType='kemin-redesign/components/container'}"></sly>
                    </div>
                    <div class="col-lg-5 order-lg-1 col-sm-12 col-md-12 ${properties.columnReverse?'order-md-1 order-sm-1':''}">
                        <sly data-sly-resource="${ @path='column-2', resourceType='kemin-redesign/components/container'}"></sly>
                    </div>
                </div>
            </div>
        </sly>
        <sly data-sly-test="${properties.twocolumnspacing =='30-70'}">
            <div class="container column-thirty-seventy">
                <div class="row">
                    <div class="col-lg-4 col-sm-12 col-md-12">
                        <sly data-sly-resource="${ @path='column-1', resourceType='kemin-redesign/components/container'}"></sly>
                    </div>
                    <div class="col-lg-8 col-sm-12 col-md-12">
                        <sly data-sly-resource="${ @path='column-2', resourceType='kemin-redesign/components/container'}"></sly>
                    </div>
                </div>
            </div>
        </sly>
        <sly data-sly-test="${properties.twocolumnspacing =='70-30'}">
            <div class="container column-seventy-thirty">
                <div class="row">
                    <div class="col-lg-8 order-lg-1 col-sm-12 col-md-12 ${properties.columnReverse?'order-md-2 order-sm-2':''}">
                        <sly data-sly-resource="${ @path='column-1', resourceType='kemin-redesign/components/container'}"></sly>
                    </div>
                    <div class="col-lg-4 order-lg-2 col-sm-12 col-md-12 ${properties.columnReverse?'order-md-1 order-sm-1':''}">
                        <sly data-sly-resource="${ @path='column-2', resourceType='kemin-redesign/components/container'}"></sly>
                    </div>
                </div>
            </div>
        </sly>
        <sly data-sly-test="${properties.twocolumnspacing =='80-20'}">
            <div class="container column-eighty-twenty">
                <div class="row">
                    <div class="col-lg-10 col-md-12 col-sm-12">
                        <sly data-sly-resource="${ @path='column-1', resourceType='kemin-redesign/components/container'}"></sly>
                    </div>
                    <div class="col-lg-2 col-md-12 col-sm-12">
                        <sly data-sly-resource="${ @path='column-2', resourceType='kemin-redesign/components/container'}"></sly>
                    </div>
                </div>
            </div>
        </sly>
        <sly data-sly-test="${properties.twocolumnspacing =='20-80'}">
            <div class="container column-twenty-eighty">
                <div class="row">
                    <div class="col-lg-2 col-md-12 col-sm-12">
                        <sly data-sly-resource="${ @path='column-1', resourceType='kemin-redesign/components/container'}"></sly>
                    </div>
                    <div class="col-lg-10 col-md-12 col-sm-12">
                        <sly data-sly-resource="${ @path='column-2', resourceType='kemin-redesign/components/container'}"></sly>
                    </div>
                </div>
            </div>
        </sly>
        <sly data-sly-test="${properties.twocolumnspacing =='90-10'}">
            <div class="container column-ninty-ten">
                <div class="row">
                    <div class="col-lg-11 col-md-12 col-sm-12">
                        <sly data-sly-resource="${ @path='column-1', resourceType='kemin-redesign/components/container'}"></sly>
                    </div>
                    <div class="col-lg-1 col-md-12 col-sm-12">
                        <sly data-sly-resource="${ @path='column-2', resourceType='kemin-redesign/components/container'}"></sly>
                    </div>
                </div>
            </div>
        </sly>
        <sly data-sly-test="${properties.twocolumnspacing =='10-90'}">
            <div class="container column-ten-ninghty">
                <div class="row">
                    <div class="col-lg-1 col-md-12 col-sm-12">
                        <sly data-sly-resource="${ @path='column-1', resourceType='kemin-redesign/components/container'}"></sly>
                    </div>
                    <div class="col-lg-11 col-md-12 col-sm-12">
                        <sly data-sly-resource="${ @path='column-2', resourceType='kemin-redesign/components/container'}"></sly>
                    </div>
                </div>
            </div>
        </sly>
    </div>
</sly>
<sly data-sly-test="${properties.columnType =='3'}">
    <sly data-sly-test="${properties.threecolumnspacing =='33-33-33'}">
        <div class="container column-three-type">
            <div class="row column-three-spacing ${properties.checkTablet?'desktop-view-only':''}">
                <div class="col-lg-4 col-sm-12 ${properties.checkTablet?'col-md-4':'col-md-12'}">
                    <sly data-sly-resource="${ @path='column-1', resourceType='kemin-redesign/components/container'}"></sly>
                </div>
                <div class="col-lg-4 col-sm-12 ${properties.checkTablet?'col-md-4':'col-md-12'}">
                    <sly data-sly-resource="${ @path='column-2', resourceType='kemin-redesign/components/container'}"></sly>
                </div>
                <div class="col-lg-4 col-sm-12 ${properties.checkTablet?'col-md-4':'col-md-12'}">
                    <sly data-sly-resource="${ @path='column-3', resourceType='kemin-redesign/components/container'}"></sly>
                </div>
            </div>
        </div>
    </sly>
</sly>
<sly data-sly-test="${properties.columnType =='4'}">
    <sly data-sly-test="${properties.fourcolumnspacing =='25-25-25-25'}">
        <div class="container column-four-type">
            <div class="row column-four-spacing">
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <sly data-sly-resource="${ @path='column-1', resourceType='kemin-redesign/components/container'}"></sly>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <sly data-sly-resource="${ @path='column-2', resourceType='kemin-redesign/components/container'}"></sly>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <sly data-sly-resource="${ @path='column-3', resourceType='kemin-redesign/components/container'}"></sly>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <sly data-sly-resource="${ @path='column-4', resourceType='kemin-redesign/components/container'}"></sly>
                </div>
            </div>
        </div>
    </sly>
</sly>
<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-call="${template.placeholder @ isEmpty=wcmmode.edit, classAppend='cmp-contentfragment'}"></sly>