<div data-sly-use.model="com.techcombank.core.models.CarouselTilesModel"
  data-sly-use.template="core/wcm/components/commons/v1/templates.html" data-sly-test.hasContent="${model.modelItems}">
  <sly data-sly-test="${hasContent}">
    <section class="card-slider-container ${model.inMobileViewIsItASlider ? 'mobile-slide' : ''}"
      num-alias="${model.numberOfTiles}" data-viewmore="${model.viewMoreLabel}">
      <div class="card-slider-wrapper">
        <div class="cardslider-carousel-slickwrapper small-article">
          <div class="cardslider-carousel-slickcontainer mobile-unslide-container">
            <div class="cardslider-carousel-slicklist mobile-unslide-items">
              <sly data-sly-repeat="${model.modelItems}">
                <div class="cardslider-carousel-slickitem ${itemList.index >= 4 ? 'slickitem-hidden' : ''}"
                  card-index="${itemList.index}">
                  <div class="carousel-card-wrapper card-image-type-${item.cardImageType}">
                    <a class="carousel-card-link" href="${item.linkUrl}"
                      target="${item.openInNewTab ? '_blank' : '_self'}" rel="${item.noFollow ? 'nofollow' : ''}"
                      data-tracking-click-event="linkClick"
                      data-tracking-click-info-value="{'linkClick' : '${item.cardDescription}'}"
                      data-tracking-web-interaction-value="{'webInteractions': {'name': 'Carousel Tiles', 'type': '${item.webInteractionType}'}}">
                      <article class="carousel-card-article">
                        <span class="carousel-card-picture" data-sly-test="${item.cardImageType == 'background'}">
                          <picture>
                            <source media="(max-width: 360px)" srcset="${item.mobileCardImagePath}" />
                            <source media="(max-width: 576px)" srcset="${item.mobileCardImagePath}" />
                            <source media="(min-width: 1080px)" srcset="${item.webCardImagePath}" />
                            <source media="(min-width: 1200px)" srcset="${item.webCardImagePath}" />
                            <img alt="${item.cardImageAltText}" class="cardslider-head__image"
                              src="${item.webCardImagePath}">
                          </picture>
                        </span>
                        <div class="cardslider-item-wrapper">
                          <div class="cardslider-item-content">
                            <div class="cardslider-item-body">
                              <div class="cardslider-item-inner">
                                <div
                                  class="cardslider-item-navtext ${item.theme == 'dark' ? 'white-text' : 'black-text'}">

                                  <!-- Foreground Image -->
                                  <picture data-sly-test="${item.cardImageType == 'foreground'}">
                                    <source media="(max-width: 360px)" srcset="${item.mobileCardImagePath}" />
                                    <source media="(max-width: 576px)" srcset="${item.mobileCardImagePath}" />
                                    <source media="(min-width: 1080px)" srcset="${item.webCardImagePath}" />
                                    <source media="(min-width: 1200px)" srcset="${item.webCardImagePath}" />
                                    <img alt="${item.cardImageAltText}" src="${item.webCardImagePath}"
                                      class="cardslider-head-foreground__image">
                                  </picture>

                                  <!-- Nudge -->
                                  <p class="cardslider-item-nudge ${(!item.cardTitle && !item.cardDescription && !item.linkText) ? 'bottom-line' : '' }"
                                    data-sly-test="${item.nudgeText}">${item.nudgeText}</p>

                                  <!-- Title -->
                                  <h4
                                    class="cardslider-item-title ${(!item.cardDescription && !item.linkText) ? 'bottom-line' : '' }"
                                    data-sly-test="${item.cardTitle}">${item.cardTitle}</h4>

                                  <!-- Description -->
                                  <div class="cardslider-item-description ${!item.linkText ? 'bottom-line' : '' }"
                                    data-sly-test="${item.cardDescription}">
                                    ${item.cardDescription @ context='html'}
                                  </div>

                                  <!-- Link Text & Arrow -->
                                  <div class="cardslider-item-action" data-sly-test="${item.linkText}">
                                    <div
                                      class="tcb-button tcb-button--link tcb-button--border-on-mobile center-align ${item.theme == 'dark' ? 'white-text' : 'black-text'}">
                                      ${item.linkText}
                                      <img data-sly-test="${item.theme == 'dark'}"
                                        src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/white-arrow-icon.svg" alt="icon">
                                      <img data-sly-test="${item.theme == 'light'}"
                                        src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-arrow-icon.svg" alt="icon">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </article>
                    </a>
                  </div>
                  <!-- Fixed Arrow -->
                  <div class="cardslider-item-arrow" data-sly-test="${!item.linkText}">
                    <img data-sly-test="${item.theme == 'dark'}"
                      src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/white-arrow-icon.svg" alt="icon">
                    <img data-sly-test="${item.theme == 'light'}"
                      src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-arrow-icon.svg" alt="icon">
                  </div>
                </div>
              </sly>
            </div>
          </div>
        </div>
      </div>
    </section>
  </sly>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>