<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<div data-sly-use.model="com.techcombank.core.models.CarouselImage"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-panelcontainer="${wcmmode.edit && 'Carousel Image'}"
     data-placeholder-text="${wcmmode.edit && 'Please drag CarouselImage Item Component' @ i18n}"
     data-sly-test.hasContent="${model.imageItems}">
    <sly data-sly-test="${hasContent}">
        <section class="container carousel-images section__padding-medium">
            <div class="carousel-images__carousel-img">
                <div class="carousel-images__carousel-img-container">
                    <div class="carousel-images__carousel-item" data-sly-repeat="${model.imageItems}" >

                        <picture>
                            <source media="(max-width: 360px)" srcset="${item.imageMobile}"/>
                            <source media="(max-width: 576px)" srcset="${item.imageMobile}"/>
                            <source media="(min-width: 1080px)" srcset="${item.image}"/>
                            <source media="(min-width: 1200px)" srcset="${item.image}"/>
                            <img alt="${item.imgAltText}" data-nimg="fixed" decoding="async" src="${item.image}">
                        </picture>
                    </div>
                </div>
            </div>
        </section>
    </sly>
</div>

