<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-use.ld="com.kemin.redesign.core.models.footer.LinksAndDisclaimer"
    data-sly-test.hasChild="${ld.links.size > 0}">
</sly>
<div class="kemin-main-footer image-right-corner">
  <div class="container-kemin">
      <div class="kemin-footer-topcontainer">
          <div class="footer-top-leftcontainer">
              <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="logo">
                            <a data-cta="Home" data-at="Footer" data-nav="Footer" data-cta-type="link" href="${ld.logoLink @context='uri'}" title="logo" role="link">
                                <img src="${ld.logo @context='uri'}" role="img">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-12 col-sm-12
                        footer-top-middle-container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 footer_col_1">
                                <sly data-sly-resource="${ @path='column-1',
                                    resourceType='wcm/foundation/components/parsys'}">
                                </sly>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 footer_col_2">
                                <sly data-sly-resource="${ @path='column-2',
                                    resourceType='wcm/foundation/components/parsys'}">
                                </sly>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 footer_col_3">
                                <sly data-sly-resource="${ @path='column-3',
                                    resourceType='wcm/foundation/components/parsys'}">
                                </sly>
                            </div>
                        </div>
                    </div>
              </div>
          </div>
          <div class="footer-top-rightcontainer">
              <sly data-sly-resource="${ @path='column-4',
                  resourceType='wcm/foundation/components/parsys'}">
              </sly>
          </div>
      </div>
      <div class="footer-horizontal-line">
          <hr class="grey-border-line">
      </div>
      <div class="footer-multi-links pipe-separated-list-container">
        <ul data-sly-list.item="${ld.links}">
            <li>        
              <a data-cta="${item.title}" data-at="${item.title}" data-nav="Footer" data-cta-type="link" href="${item.url @ extension = 'html'}">${item.title}</a>
            </li>
        </ul>
        <div class="footer-disclaimer" data-sly-test="${ld.disclaimer}">
          ${ld.disclaimer @context='html'}
        </div>
      </div>
  </div>
</div>
<div class="kemin-last-bottom-container">
  <div class="container-kemin">
        <div class="location-container">
            <div class="map_heading">
                <!-- REMOVING FOR NOW <div class="arrow-bottom arrow-for-mobile"></div> -->
                <p class="pading-header"><span class="icon-globe"></span><span class="text_map">${'kemin.you-are-viewing' @i18n}</span>
                    <span>
                        <a data-cta="location" data-at="location" data-nav="Footer" data-cta-type="link" id="kemin-user-location-footer" href="#" data-location="Sub-Saharan Africa"> ${'kemin.south-africa' @i18n}</a>
                        <span id="icon-button-lang-footer" class="icon-button-lang icon-chevron-up"></span>
                    </span>
                </p>
            </div>
            <div class="map-dropdown map_dropdown-none">
                <!-- Desktop and Tablet -->
                <div class="dropdown-content d-none d-md-block d-lg-block">
                    <div class="row">
                        <div class="pad-right col-lg-3 col-md-3">
                            <div class="map-title">
                                ${'kemin.visit-regional-site' @i18n}
                            </div>
                            <div class="country-links">
                                <ul class="country-location-links">
                                    <div data-location-link="North America">
                                        <div class="accordion">
                                            <div class="accordion-item">
                                                <div class="accordion-header" id="panelsStayOpen-location">
                                                    <button class="accordion-button" type="button"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#panelsStayOpen-locationOne"
                                                        aria-expanded="true"
                                                        aria-controls="panelsStayOpen-collapseOne">
                                                        ${'kemin.north-america' @i18n}
                                                    </button>
                                                </div>
                                                <div id="panelsStayOpen-locationOne"
                                                    class="accordion-collapse collapse show"
                                                    aria-labelledby="panelsStayOpen-location">
                                                    <div class="accordion-body">
                                                        <ul id="north-america-country">
                                                            <li data-location-link="United States">
                                                                ${'kemin.usa' @i18n}</li>
                                                            <li data-location-link="Canada">${'kemin.canada' @i18n}</li>
                                                            <li data-location-link="Mexico">${'kemin.mexico' @i18n}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <li data-location-link="South America">${'kemin.south-america' @i18n}</li>
                                    <li data-location-link="EMEA">${'kemin.emea' @i18n}</li>
                                    <li data-location-link="Sub-Saharan Africa"> ${'kemin.south-africa' @i18n}</li>
                                    <li data-location-link="Russia">${'kemin.russia' @i18n}</li>
                                    <li data-location-link="India">${'kemin.india' @i18n}</li>
                                    <li data-location-link="China">${'kemin.china' @i18n}</li>
                                    <li data-location-link="Asia Pacific"> ${'kemin.asia-pacific' @i18n}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="img-map"></div>
                            <map name="countryFooter">
                                <!-- Alaska -->
                                <area title="USA" onclick="selectCountry('United States')"
                                    coords="119,139,46,126,7,145,0,173,9,203,13,257,65,227,104,214,138,229" shape="poly">
                                <!-- Canada -->
                                <area title="Canada" onclick="selectCountry('Canada')"
                                    coords="121,130,140,230,146,245,183,293,454,325,492,301,475,252,441,213,458,157,381,97,398,54,464,9,372,3,312,22,265,46,211,63" shape="poly">
                                <!-- USA -->
                                <area title="USA" onclick="selectCountry('United States')"
                                    coords="183,299,423,323,389,370,374,421,299,406,183,355" shape="poly">
                                <!-- Mexico -->
                                <area title="Mexico" onclick="selectCountry('Mexico')"
                                    coords="195,364,300,409,308,448,336,437,369,429,433,454,384,457,356,439,343,446,338,465,356,467,386,502,369,510,326,474,300,469,265,450,225,409" shape="poly">
                                <!-- South America -->
                                <area title="South America" onclick="selectCountry('South America')"
                                coords="381,508,386,527,366,568,388,611,414,632,394,798,409,836,439,836,472,815,435,789,489,714,540,654,573,566,508,545,493,517,452,493,407,480" shape="poly">
                                <!-- EMEA -->
                                <area title="EMEA" onclick="selectCountry('EMEA')"
                                    coords="405,57,411,81,461,85,482,139,497,192,527,224,545,186,575,164,622,188,688,229,671,269,691,282,706,317,678,319,676,353,686,366,658,405,675,406,687,394,708,381,701,360,716,349,727,330,755,323,781,351,813,360,828,353,841,362,867,360,858,387,824,385,826,433,858,437,875,417,904,486,964,460,976,433,976,417,972,360,948,357,925,357,914,345,925,336,890,325,865,310,875,295,881,285,866,281,852,271,849,258,843,247,830,235,830,220,833,212,845,197,834,147,853,134,823,126,835,28,757,38,784,78,818,69,804,132,746,184,735,203,702,221,658,190,656,162,615,165,594,158,626,136,639,69,667,22,611,-1,511,-1,453,18" shape="poly">
                                <!-- South Africa -->
                                <area title="Sub-Saharan Africa" onclick="selectCountry('Sub-Saharan Africa')"
                                    coords="657,413,633,462,664,520,707,525,758,525,749,552,771,597,762,627,800,727,841,710,866,667,924,673,931,604,884,582,946,485,904,494,877,454,870,432,860,439,820,439,820,388,806,381,799,398,776,381,758,353,708,363,714,384,681,403,680,412" shape="poly">
                                <!-- Russia -->
                                <area title="Russia" onclick="selectCountry('Russia')"
                                    coords="865,131,839,148,852,200,834,222,833,237,850,246,854,268,862,270,870,277,887,283,888,291,879,306,885,319,922,334,922,304,912,289,916,276,935,273,947,276,974,276,969,264,976,261,974,252,984,254,1014,245,1020,253,1041,252,1057,275,1072,275,1078,283,1087,280,1089,284,1114,276,1133,284,1137,264,1154,276,1164,276,1184,283,1201,279,1212,281,1223,281,1227,261,1254,261,1259,280,1270,285,1277,292,1288,289,1285,311,1276,314,1278,326,1292,323,1307,300,1335,312,1330,257,1297,249,1327,226,1388,221,1374,248,1389,280,1528,175,1490,118,1330,82,1195,75,1126,23,966,13,907,34" shape="poly">
                                <!-- China -->
                                <area title="China" onclick="selectCountry('China')"
                                    coords="924,300,934,323,953,330,950,312,966,305,979,318,996,318,1003,334,1035,320,1061,327,1039,341,1030,345,1035,354,1049,366,1054,381,1060,391,1068,393,1083,404,1097,403,1111,403,1126,395,1134,403,1138,411,1133,426,1145,438,1147,430,1174,430,1174,438,1196,442,1232,419,1238,388,1266,368,1266,346,1272,328,1270,311,1281,308,1282,295,1273,297,1255,283,1249,264,1231,262,1230,273,1224,284,1215,287,1201,284,1181,289,1162,280,1153,281,1146,273,1137,273,1135,284,1118,284,1108,281,1089,289,1076,287,1068,280,1053,276,1041,258,1024,258,1014,251,981,258,976,269,980,276,970,280,952,277,931,276,918,280,916,288" shape="poly">
                                <!-- India -->
                                <area title="India" onclick="selectCountry('India')"
                                    coords="956,312,953,335,938,337,945,349,979,356,981,427,996,418,1051,520,1072,516,1057,491,1107,438,1124,406,1114,402,1105,408,1093,408,1080,407,1064,396,1050,389,1046,379,1051,380,1045,369,1033,360,1029,349,1029,339,1051,329,1033,326,1010,337,997,337,992,325,979,325,968,311" shape="poly">
                                <!-- Asia Pecific -->
                                <area title="Asia Pacific" onclick="selectCountry('Asia Pacific')"
                                    coords="1318,307,1268,376,1219,442,1172,441,1166,433,1151,433,1147,444,1130,429,1130,418,1131,409,1120,413,1119,422,1108,440,1122,522,1158,577,1245,598,1245,614,1197,649,1208,724,1350,776,1443,789,1485,736,1450,715,1368,564,1259,514,1242,450,1273,388,1314,372,1324,333,1341,321" shape="poly">
                            </map>
                            <script>
                                function selectCountry(value){
                                    $(".country-links").find('li[data-location-link="' + value + '"]').click();
                                }
                            </script>
                        </div>
                    </div>
                    <!-- REMOVING FOR NOW <div class="arrow-bottom"></div> -->
                </div>
                <!-- Mobile Only -->
                <div class="dropdown-content d-md-none d-lg-none">
                    <div class="row">
                        <div class="title-location-mobile">
                            <h3> ${'kemin.visit-regional-site' @i18n}</h3>
                        </div>

                        <div class="col-6 country-north-america">
                            <img class="country-north-noactive mobile-map-click-NA"
                                src="/content/dam/kemin-redesign/north-america-mobile.svg"
                                alt="north-america-noactive">
                            <img class="country-north-active mobile-map-click-NA"
                                src="/content/dam/kemin-redesign/north-america-selected-mobile.svg"
                                alt="north-america-active">
                            <div>
                                <div class="accordion">
                                    <div class="accordion-item">
                                        <div class="accordion-header" id="panelsStayOpen-location-footer">
                                            <button class="accordion-button" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#panelsStayOpen-locationOne"
                                                aria-expanded="true"
                                                aria-controls="panelsStayOpen-collapseOne">
                                                ${'kemin.north-america' @i18n}
                                            </button>
                                        </div>
                                        <div id="panelsStayOpen-locationOne"
                                            class="accordion-collapse collapse show"
                                            aria-labelledby="panelsStayOpen-location">
                                            <div class="accordion-body">
                                                <ul id="north-america-country"
                                                    class="north-america-mobile-locations">
                                                    <li class="location-map-title"
                                                        data-location-link="United States">${'kemin.usa' @i18n}
                                                    </li>
                                                    <li class="location-map-title"
                                                        data-location-link="Canada">${'kemin.canada' @i18n}</li>
                                                    <li class="location-map-title"
                                                        data-location-link="Mexico">${'kemin.mexico' @i18n}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 country-south-america">
                            <img class="country-south-noactive mobile-map-click" data-location-link="South America"
                                src="/content/dam/kemin-redesign/south-america-mobile.svg"
                                alt="north-america-noactive">
                            <img class="country-south-active"
                                src="/content/dam/kemin-redesign/south-america-selected-mobile.svg"
                                alt="north-america-active">
                            <div class="location-map-title" data-location-link="South America">
                                ${'kemin.south-america' @i18n}
                            </div>
                        </div>
                        <div class="col-6 country-emea">
                            <img class="country-emea-noactive mobile-map-click" data-location-link="EMEA"
                                src="/content/dam/kemin-redesign/emea-mobile.svg"
                                alt="north-america-noactive">
                            <img class="country-emea-active"
                                src="/content/dam/kemin-redesign/emea-selected-mobile.svg"
                                alt="north-america-active">
                            <div class="location-map-title" data-location-link="EMEA">
                                ${'kemin.emea' @i18n}
                            </div>
                        </div>
                        <div class="col-6 country-south-africa">
                            <img class="country-africa-noactive mobile-map-click" data-location-link="Sub-Saharan Africa"
                                src="/content/dam/kemin-redesign/south-africa-mobile.svg"
                                alt="Africa">
                            <img class="country-africa-active"
                                src="/content/dam/kemin-redesign/south-africa-selected-mobile.svg"
                                alt="Africa">
                            <div class="location-map-title" data-location-link="Sub-Saharan Africa">
                                 ${'kemin.south-africa' @i18n}
                            </div>
                        </div>
                        <div class="col-6 country-russia">
                            <img class="country-russia-noactive mobile-map-click" data-location-link="Russia"
                                src="/content/dam/kemin-redesign/russia-mobile.svg" alt="Russia">
                            <img class="country-russia-active"
                                src="/content/dam/kemin-redesign/russia-selected-mobile.svg"
                                alt="Russia">
                            <div class="location-map-title" data-location-link="Russia">
                                ${'kemin.russia' @i18n}
                            </div>
                        </div>
                        <div class="col-6 country-india">
                            <img class="country-india-noactive mobile-map-click" data-location-link="India"
                                src="/content/dam/kemin-redesign/india-mobile.svg" alt="India">
                            <img class="country-india-active"
                                src="/content/dam/kemin-redesign/india-selected-mobile.svg"
                                alt="India">
                            <div class="location-map-title" data-location-link="India">
                                ${'kemin.india' @i18n}
                            </div>
                        </div>
                        <div class="col-6 country-china">
                            <img class="country-china-noactive mobile-map-click" data-location-link="China"
                                src="/content/dam/kemin-redesign/china-mobile.svg" alt="China">
                            <img class="country-china-active"
                                src="/content/dam/kemin-redesign/china-selected-mobile.svg"
                                alt="China">
                            <div class="location-map-title" data-location-link="China">
                                ${'kemin.china' @i18n}
                            </div>
                        </div>
                        <div class="col-6 country-asia">
                            <img class="country-asia-noactive mobile-map-click" data-location-link="Asia Pacific"
                                src="/content/dam/kemin-redesign/asiapacific-mobile.svg" alt="Asia">
                            <img class="country-asia-active"
                                src="/content/dam/kemin-redesign/asiapacific-selected-mobile.svg"
                                alt="Asia">
                            <div class="location-map-title" data-location-link="Asia Pacific">
                                 ${'kemin.asia-pacific' @i18n}
                            </div>
                        </div>
                    </div>
                    <!-- REMOVING FOR NOW <div class="arrow-bottom"></div> -->
                </div>
            </div>
        </div>
        <div class="map_heading">
            <div class="lang_heading">
                <p>
                    <span class="icon-translate"></span>
                    <a data-cta="language" data-at="language" data-nav="Footer" data-cta-type="link" href="#">English</a>
                    <span data-cta="language" data-at="language" data-nav="Footer" data-cta-type="link" href="#" class="icon-chevron-up"></span>
                </p>
            </div>
            <div class="lang_drop">
            </div>
        </div>
  </div>
</div>

<sly data-sly-call="${template.placeholder @ isEmpty=!hasChild}"></sly>



