<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.error="com.techcombank.core.models.ErrorComponentModel">
    <div class="error-page-component" 
        data-error-message="${error.errorMessage}"
        data-tracking-click-event="pageLoaded"
        data-tracking-click-info-key="errorInfo"
        data-tracking-click-info-value="{'errorType': '${error.errorCode}','errorMessage':'errorMessageText'}"
        data-tracking-user-info-key="userInfo"
        data-tracking-user-info-value="{'status': 'not-logged-in','customerID':'','idfa':'','gaid':''}"
        data-tracking-web-interaction-value="{'webInteractions': {'name': 'error','type': 'other'},'webPageDetail':{'isErrorPage': 'y'}}">
            <sly data-sly-resource="${'resource.path' @ resourceType='wcm/foundation/components/parsys'}"/>
    </div>
</sly>
