<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2019 Adobe
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<sly data-sly-use.container="com.adobe.cq.wcm.core.components.models.LayoutContainer"
     data-sly-use.containerHelper="com.dish.dopweb.core.models.ContainerHelper">

     <sly data-sly-test="${containerHelper.bgDesktopImage && true}">
          <div class="cmp-container__background-content containerDesktopBg ${properties.backgroundImagePosition} ${properties.maxHeight ? 'cmp-container__background-max-height' : ' '}"
               aria-label="${properties.altText}" role="img" data-bgdesktopimage="${containerHelper.bgDesktopImage}">
               <!-- style="background-image:url('${containerHelper.bgDesktopImage @ context='styleString'}');"> -->
          </div>
     </sly>

     <sly data-sly-test="${containerHelper.bgTabletImage && true}" style="display: none;">
          <div class="cmp-container__background-content containerTabletBg ${properties.backgroundImagePosition} ${properties.maxHeight ? 'cmp-container__background-max-height' : ' '}"
               aria-label="${properties.altText}" role="img" data-bgTabletImage="${containerHelper.bgTabletImage}">
               <!-- style="background-image:url('${containerHelper.bgTabletImage @ context='styleString'}');"> -->
          </div>
     </sly>

     <sly data-sly-test="${containerHelper.bgPhoneImage && true}" style="display: none;">
          <div class="cmp-container__background-content containerPhoneBg ${properties.backgroundImagePosition} ${properties.maxHeight ? 'cmp-container__background-max-height' : ' '}"
               aria-label="${properties.altText}" role="img" data-bgPhoneImage="${containerHelper.bgPhoneImage}">
               <!-- style="background-image:url('${containerHelper.bgPhoneImage @ context='styleString'}');"> -->
          </div>
     </sly>

     <sly data-sly-test.responsive="${container.layout == 'RESPONSIVE_GRID'}"
          data-sly-use.responsiveGridTemplate="responsiveGrid.html"
          data-sly-call="${responsiveGridTemplate.responsiveGrid @ container=container,containerHelper=containerHelper}">
     </sly>
     <sly data-sly-test.simple="${!responsive}" data-sly-use.simpleTemplate="simple.html"
          data-sly-call="${simpleTemplate.simple @ container=container,containerHelper=containerHelper}"></sly>
</sly>