<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
	 data-sly-call="${clientlib.js @ categories=['kemin.product-catalog']}"/>
<sly data-sly-use.product="com.kemin.redesign.core.models.product.ProductCatalog"
	 data-sly-use.template="core/wcm/components/commons/v1/templates.html"
	 data-sly-test.tierItemSize="${product && product.tierTagList && product.tierTagList.size != 0}"/>
<sly data-sly-call="${template.placeholder @ isEmpty=!tierItemSize, classAppend='cmp-title'}"/>
<sly data-sly-test="${product && product.tierTagList && product.tierTagList.size != 0}">
	<script type='text/javascript'>
		productsByTagListJson = JSON.parse('${product.allTagsToPageJSON @context = 'scriptString'}');
		productListJSON = JSON.parse('${product.productItemListJSON @context = 'scriptString'}');
		pageToProductMap = new Map();
		userProductListJSON = [];
		mapOfGroup = new Map();
	</script>
	<div>
		<div class="kemin-root-accordian d-lg-none">
			<div class="kemkin-pdp-accordian kemin-navigation-mobile">
				<div class="outer-container-accordian">
					<div class="accordion accordion-flush">
						<div class="accordion-item navigation-item-xs">
							<h2 class="accordion-header" id="flush-headingOne">
								<div class="kemin-navigation-mobile">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
										<span class="right-triangle"/>
										<span class="img-dynamic">
											<!-- based on the AEM page thumnal the icon here:  -->
											<img src="/content/dam/kemin-redesign/icon/Search_White.svg">
										</span>
										${'kemin.filter-products' @i18n}
									</button>
								</div>
							</h2>
							<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
								<div class="inner-container-accordian filter-wrap">
									<div class="filter-checkbox">
										<div class="filter-category">
											<h2>Content Category:</h2>
										</div>
									</div>
									<sly data-sly-repeat.itemkey="${product.tierTagList}">
										<div class="check-filter-box">
											<ul>
												<li class="checkin">
													<input type="checkbox" name="${itemkey.tier1Tag}" id="${itemkey.tier1Tag}" onClick="showTier1TaggedPages(this, true);" value="${itemkey.tier1Tag}">
													<span aria-hidden="true" class="filter-item">${itemkey.tier1Tag}</span>
													<span aria-hidden="true" class="filter-value">(${itemkey.tier1TagCount})</span>
												</li>
												<ul data-sly-list.nav="${itemkey.tier2TagDetails}" class="filter-sub-category ${itemkey.tier1Tag}">
													<li data-sly-list.tier2="${nav}" class="sub-category-item">
														<input type="checkbox" name="${tier2}" onClick="showTier1TaggedPages(this, false);" id="${itemkey.tier1Tag}-${tier2}">
														<span aria-hidden="true" class="filter-item">${tier2}</span>
														<span aria-hidden="true" class="filter-value">(${itemkey.tier2TagDetails[tier2]})</span>
													</li>
												</ul>
											</ul>
										</div>
									</sly>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 order-lg-1 col-sm-12 col-md-12">
				<div class="productcatalogue feature-content">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="product_result">
								<h2/>
							</div>
						</div>
					</div>
					<!-- Product Catalog Container-->
					<div class="productCatalogue-container clearfix">
						<div class="row product-row">
							<!-- Product Catalog Card-->
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-lg-6">
							<div class="catalogue-pagination">
								<ul class="prev-wrap">
									<li class="page-item disable move-prev">
													<span class="icon-chevron-left" style="cursor: pointer;" onclick="gotoPage('prev');">
                            </span>
									</li>
								</ul>
								<ul class="pagination">
									</li>
									<li class="page-item active" id="page-item-1" style="cursor: pointer;" onclick="gotoPage(this);">1</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="product_result_dropdwn">
								<h3>Results per page:</h3>
								<div class="result-per-catalogue">
									<ul class="pagination">
										<li class="page-item active" id="page-item-10" style="cursor: pointer;" onclick="renderPagination(this);">10</li>
										<li class="page-item" id="page-item-20" style="cursor: pointer;" onclick="renderPagination(this);">20</li>
										<li class="page-item" id="page-item-50" style="cursor: pointer;" onclick="renderPagination(this);">50</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 order-lg-2 col-sm-12 col-md-12">
				<div class="kemin-root-accordian filter-main-wrap d-none d-lg-block">
					<div class="kemkin-pdp-accordian  ">
						<div class="outer-container-accordian">
							<div class="hex-conatiner hexagon-wrapper">
								<div id="color2" class="hexagon">
											<span class="img-dynamic">
												<!-- based on the AEM page thumnal the icon here:  -->
												<img src="/content/dam/kemin-redesign/icon/Search_White.svg">
												</span>
								</div>
							</div>
							<div class="inner-container-accordian filter-wrap">
								<div class="pdp-accordian-title">${'kemin.filter-products' @i18n}</div>
								<div class="filter-checkbox">
									<div class="filter-category">
										<h2>Content Category:</h2>
									</div>
								</div>
								<sly data-sly-test="${product.tierTagList.size != 0}">
									<sly data-sly-repeat.itemkey="${product.tierTagList}">
										<div class="check-filter-box">
											<ul>
												<li class="checkin">
													<input type="checkbox" name="${itemkey.tier1Tag}" id="${itemkey.tier1Tag}" onClick="showTier1TaggedPages(this, true);">
													<span aria-hidden="true" class="filter-item">${itemkey.tier1Tag}</span>
													<span aria-hidden="true" class="filter-value">(${itemkey.tier1TagCount})</span>
												</li>
												<ul data-sly-list.nav="${itemkey.tier2TagDetails}" class="filter-sub-category ${itemkey.tier1Tag}">
													<li data-sly-list.tier2="${nav}" class="sub-category-item">
														<input type="checkbox" name="${tier2}" onClick="showTier1TaggedPages(this, false);" id="${itemkey.tier1Tag}-${tier2}">
														<span aria-hidden="true" class="filter-item">${tier2}</span>
														<span aria-hidden="true" class="filter-value">(${itemkey.tier2TagDetails[tier2]})</span>
													</li>
												</ul>
											</ul>
										</div>
									</sly>
								</sly>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</sly>