<sly
    data-sly-use.ftcModel="com.kemin.redesign.core.models.featured.Content"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-test.ftc="${ftcModel.pageItemList.size==0}">
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=ftc, classAppend='cmp-title'}"></sly>
<sly data-sly-test="${!ftc}">
    <div class="container-kemin">
        <div class="feature-content">
            <div class="feature-heading">
                <div class="h2-home"> ${properties.featureContentTitle} </div>
            </div>
                <div class="feature-container feature-flex" data-sly-list.item="${ftcModel.pageItemList}">
                    <div class="feature-card "> <!-- card body--> 
                        <img class="img-fluid" src="${item.publishedThumbnailImage}" alt="">
                        <div class="card-text">
                            <!-- title with description -->
                            <p class="card-title">${item.title}</p>
                            <p class="card-description">${item.description} <a  data-cta="${item.moreLink}" data-at="${item.moreLink}" data-nav="Featured Content" data-cta-type="link" href="${item.URL}"> ${item.moreLink}</a></p>
                            <!-- show on hover link-->
                            <div class="more-text"> <a  data-cta="${item.moreLink}" data-at="${item.moreLink}" data-nav="Featured Content" data-cta-type="link" href="${item.URL}"><span class="icon-chevron-right"></span></a></div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</sly>
