<template data-sly-template.link="${ @ menuItems}">
    <a data-sly-use.linkHelper="${'com.dish.dopweb.core.models.LinkHelper' @ link=menuItems.pagePath}" href="${linkHelper.formattedLink}">${menuItems.title}</a>
</template>