<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-use.topNav="com.dish.dopweb.core.models.TopNav"
     data-sly-test.notEmpty="${topNav.menuItems}">
    <ul class="parent-list auth-links-menu" data-page-path="${currentPage.path}">
        <!-- <li class="active search-container mobile-header-search">
            <div class="input-box" style="position: absolute; top: -12px; right: 0; display: inline-block;">
                <span class="icon-custom icon-search-day-inactive search-icon-placeholder"></span>
                <input type="text" placeholder="Search" aria-label="search">
                <div class="close"></div>
            </div>
        </li> -->
        <sly data-sly-list.menuItems="${topNav.menuItems}">
            <sly data-sly-test.isLink="${menuItems.menuItemType=='link'}">
                <li class="navLink showhidetopnav auth-showhide-links" data-display-link-prop="${menuItems.displayLinksOnAuth}">
                    <sly data-sly-use.topNavTemplate="link.html"
                         data-sly-call="${topNavTemplate.link @ menuItems = menuItems}"></sly>
                </li>
            </sly>
            <sly data-sly-test="${!isLink}">
                <li class="navCmp showhidetopnav auth-showhide-links" data-display-link-prop="${menuItems.displayLinksOnAuth}">
                    <sly data-sly-use.topNavTemplate="subnav.html"
                         data-sly-call="${topNavTemplate.subnav @ menuItems = menuItems, id = menuItemsList.index}"></sly>
                </li>
            </sly>
        </sly>
    </ul>
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!notEmpty}"></sly>