.parent-list > li{
display : none;
}

.hideToNotLoggedInUsersOnly{
display : none !important;
}

.displayToNotLoggedInUsersOnly{
display : list-item !important;
}

.my-account-popup .modal-content nav ul li.auth-showhide-links.hideToNotLoggedInUsersOnly{
    display : none !important;
}