<div data-sly-use.model="com.techcombank.core.models.DeviceLookStepsCarouselModel"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-test.hasContent="${model.numberOfCardTilesToDisplay}">
    <sly data-sly-test="${hasContent}">
        <div class="device-look-carousel layout-${model.layout}"
            slides-to-show-num="${model.numberOfCardTilesToDisplay}">
            <div class="device-look-carousel__container">
                <div class="device-look-carousel-wrapper">
                    <div>
                        <div class="device-look-carousel__list-item">
                            <div class="device-look-carousel__item" data-sly-repeat="${model.listStepItems}">
                                <div class="device-look-carousel__item-image-wrapper" data-sly-test="${(model.layout == 'device-image-step-text' || model.layout == 'image-step-text') && model.isHaveStepImage}">
                                    <picture data-sly-test="${item.image}">
                                        <source media="(max-width: 360px)"
                                            srcset="${item.mobileImagePath}"/>
                                        <source media="(max-width: 576px)"
                                            srcset="${item.mobileImagePath}"/>
                                        <source media="(min-width: 1080px)"
                                            srcset="${item.webImagePath}"/>
                                        <source media="(min-width: 1200px)"
                                            srcset="${item.webImagePath}"/>
                                        <img alt="${item.altText}" class="device-look-carousel__item-image"
                                            src="${item.webImagePath}">
                                    </picture>
                                    <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/1x1.png" data-sly-test="${!item.image}"
                                        class="device-look-carousel__item-blank-image" />
                                </div>
                                <div class="device-look-carousel__item-body">
                                    <p class="device-look-carousel__item-number">${item.stepNumber}</p>
                                    <div class="device-look-carousel__item-content">
                                        ${item.description @ context='html'}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </sly>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>