<sly data-sly-test="${wcmmode.edit}">
    <p class="cq-placeholder" data-emptytext="${component.title}"></p>
</sly>
<sly data-sly-use.quickAccessModel="com.techcombank.core.models.QuickAccessModel">
    <div class="quick-access">
        <div class="quick-access__table-desktop">
            <div class="quick-access-wrapper">
                <div class="table-header">
                    <div class="table-header__items">
                        <button aria-selected="true" class="header__button" data-tracking-click-event="linkClick"
                                data-tracking-click-info-value="{'linkClick' : '${quickAccessModel.tabOneHeading}'}"
                                data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': 'other'}}"                               
                                role="tab"
                                tabindex="0"
                                type="button">
                            ${quickAccessModel.tabOneHeading}
                        </button>
                        <button aria-selected="false" class="header__button" data-tracking-click-event="linkClick"
                                data-tracking-click-info-value="{'linkClick' : '${quickAccessModel.tabTwoHeading}'}"
                                data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': 'other'}}"
                                role="tab"
                                tabindex="-1"
                                type="button">
                            ${quickAccessModel.tabTwoHeading}
                        </button>
                        <button aria-selected="false" class="header__button" data-tracking-click-event="linkClick"
                                data-tracking-click-info-value="{'linkClick' : '${quickAccessModel.tabThreeHeading}'}"
                                data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': 'other'}}"
                                role="tab"
                                tabindex="-1"
                                type="button">
                            ${quickAccessModel.tabThreeHeading}
                        </button>
                    </div>
                </div>
                <div class="table-records">
                    <div class="table-records__inner">
                        <div class="table-records__inner-top">
                            <div class="table-records__inner-top-header">
                                <div class="header__title"></div>
                                <div class="header__title">
                                    <p>
                                        <strong>${quickAccessModel.subbHeadingOne}</strong>
                                    </p>
                                    <sly data-sly-test="${quickAccessModel.subbHeadingColOne}">
                                        <p>${quickAccessModel.subbHeadingColOne}</p>
                                    </sly>
                                </div>
                                <div class="header__title">
                                    <p>
                                        <strong>${quickAccessModel.subbHeadingTwo}</strong>
                                    </p>
                                    <sly data-sly-test="${quickAccessModel.subbHeadingColTwo}">
                                        <p>${quickAccessModel.subbHeadingColTwo}</p>
                                    </sly>
                                </div>
                                <div class="header__title">
                                    <p>
                                        <strong>${quickAccessModel.subbHeadingThree}</strong>
                                    </p>
                                    <sly data-sly-test="${quickAccessModel.subbHeadingColThree}">
                                        <p>${quickAccessModel.subbHeadingColThree}</p>
                                    </sly>
                                </div>
                            </div>
                            <div class="table-records__inner-top-body">
                                <sly
                                        data-sly-list.exchangeRateItem="${quickAccessModel.exchangeRateList}">
                                    <a class="body__item" href="/">
                                        <div class="body__item-flag">
                                            <img alt=""
                                                 data-nimg="fixed"
                                                 decoding="async" src="${exchangeRateItem.flag}"
                                                 srcset="${exchangeRateItem.flag},
                                                ${exchangeRateItem.flag}"/>
                                            <p>${exchangeRateItem.label}</p>
                                        </div>
                                        <p class="body__item-currency-value">
                                            <span>${exchangeRateItem.bidRateCK}</span>
                                        </p>
                                        <p class="body__item-currency-value">
                                            <span>${exchangeRateItem.bidRateTM}</span>
                                        </p>
                                        <p class="body__item-currency-value">
                                            <span>${exchangeRateItem.askRate}</span>
                                        </p>
                                    </a></sly>
                            </div>
                        </div>
                        <div class="table-records__inner-footer">
                            <p class="inner-footer__right-text">
                                ${quickAccessModel.dateChangeNote}</p>
                            <a class="inner-footer__button-link"
                               data-tracking-click-event="linkClick"
                               data-tracking-click-info-value="{'linkClick' : '${quickAccessModel.tabOneViewAll}'}"
                               data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${quickAccessModel.tabOneLinkInteractionType}'}}"
                               href="${quickAccessModel.tabOneLink}"
                               rel="noopener noreferrer ${quickAccessModel.tabOneNoFollow ? 'nofollow' : ''}"
                               target="${quickAccessModel.tabOneTarget}">
                                <span class="button-link__text">${quickAccessModel.tabOneViewAll}</span>
                                <div class="button-link__svg">
                                    <picture>
                                        <source media="(max-width: 360px)"
                                                srcset="${quickAccessModel.tabOneIconMobileImagePath}"/>
                                        <source media="(max-width: 576px)"
                                                srcset="${quickAccessModel.tabOneIconMobileImagePath}"/>
                                        <source media="(min-width: 1080px)"
                                                srcset="${quickAccessModel.tabOneIconWebImagePath}"/>
                                        <source media="(min-width: 1200px)"
                                                srcset="${quickAccessModel.tabOneIconWebImagePath}"/>
                                        <img alt="${quickAccessModel.tabOneIconAlt}"
                                             data-nimg="fixed"
                                             decoding="async" src="${quickAccessModel.tabOneIconWebImagePath}"/>
                                    </picture>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="table-records__inner simple">
                        <div class="table-records__inner-top">
                            <div class="table-records__inner-top-body">
                                <sly
                                        data-sly-list.tabTwoFileItem="${quickAccessModel.tabTwoFileSection}">
                                    <a class="body__item" data-tracking-click-event="linkClick"
                                       data-tracking-click-info-value="{'downlaod' : '${tabTwoFileItem.fileName}'}"
                                       data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${tabTwoFileItem.fileType}'}}"
                                       href="${tabTwoFileItem.filePath}">
                                        <p class="body__item-currency-value">${tabTwoFileItem.fileName}</p>
                                        <span> <picture>
									<source media="(max-width: 360px)"
                                            srcset="${tabTwoFileItem.fileIconMobileImagePath}"/>
									<source media="(max-width: 576px)"
                                            srcset="${tabTwoFileItem.fileIconMobileImagePath}"/>
									<source media="(min-width: 1080px)"
                                            srcset="${tabTwoFileItem.fileIconWebImagePath}"/>
									<source media="(min-width: 1200px)"
                                            srcset="${tabTwoFileItem.fileIconWebImagePath}"/>
									<img alt="${tabTwoFileItem.fileIconAlt}"
                                         src="${tabTwoFileItem.fileIconWebImagePath}"/> </picture>
							</span>
                                    </a></sly>
                            </div>
                        </div>
                        <div class="table-records__inner-footer">
                            <a class="inner-footer__button-link"
                               data-tracking-click-event="linkClick"
                               data-tracking-click-info-value="{'linkClick' : '${quickAccessModel.tabTwoViewAll}'}"
                               data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${quickAccessModel.tabTwoLinkInteractionType}'}}"
                               href="${quickAccessModel.tabTwoLink}"
                               rel="noopener noreferrer ${quickAccessModel.tabTwoNoFollow ? 'nofollow' : ''}"
                               target="${quickAccessModel.tabTwoTarget}">
                                <span class="button-link__text">${quickAccessModel.tabTwoViewAll}</span>
                                <div class="button-link__svg">
                                    <picture>
                                        <source media="(max-width: 360px)"
                                                srcset="${quickAccessModel.tabTwoIconMobileImagePath}"/>
                                        <source media="(max-width: 576px)"
                                                srcset="${quickAccessModel.tabTwoIconMobileImagePath}"/>
                                        <source media="(min-width: 1080px)"
                                                srcset="${quickAccessModel.tabTwoIconWebImagePath}"/>
                                        <source media="(min-width: 1200px)"
                                                srcset="${quickAccessModel.tabTwoIconWebImagePath}"/>
                                        <img alt="${quickAccessModel.tabTwoIconAlt}"
                                             data-nimg="fixed"
                                             decoding="async" src="${quickAccessModel.tabTwoIconWebImagePath}"/>
                                    </picture>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="table-records__inner simple">
                        <div class="table-records__inner-top">
                            <div class="table-records__inner-top-body">
                                <sly
                                        data-sly-list.tabThreeFileItem="${quickAccessModel.tabThreeFileSection}">
                                    <a class="body__item" data-tracking-click-event="linkClick"
                                       data-tracking-click-info-value="{'downlaod' : '${tabThreeFileItem.fileName}'}"
                                       data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${tabThreeFileItem.fileType}'}}"
                                       href="${tabThreeFileItem.filePath}">
                                        <p class="body__item-currency-value">${tabThreeFileItem.fileName}</p>
                                        <span> <picture>
									<source media="(max-width: 360px)"
                                            srcset="${tabThreeFileItem.fileIconMobileImagePath}"/>
									<source media="(max-width: 576px)"
                                            srcset="${tabThreeFileItem.fileIconMobileImagePath}"/>
									<source media="(min-width: 1080px)"
                                            srcset="${tabThreeFileItem.fileIconWebImagePath}"/>
									<source media="(min-width: 1200px)"
                                            srcset="${tabThreeFileItem.fileIconWebImagePath}"/>
									<img alt="${tabThreeFileItem.fileIconAlt}"
                                         src="${tabThreeFileItem.fileIconWebImagePath}"/> </picture>
							</span>
                                    </a></sly>
                            </div>
                        </div>
                        <div class="table-records__inner-footer">
                            <a class="inner-footer__button-link"
                               data-tracking-click-event="linkClick"
                               data-tracking-click-info-value="{'linkClick' : '${quickAccessModel.tabThreeViewAll}'}"
                               data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${quickAccessModel.tabThreeLinkInteractionType}'}}"
                               href="${quickAccessModel.tabThreeLink}"
                               rel="noopener noreferrer ${quickAccessModel.tabThreeNoFollow ? 'nofollow' : ''}"
                               target="${quickAccessModel.tabThreeTarget}">
                                <span class="button-link__text">${quickAccessModel.tabThreeViewAll}</span>
                                <div class="button-link__svg">
                                    <picture>
                                        <source media="(max-width: 360px)"
                                                srcset="${quickAccessModel.tabThreeIconMobileImagePath}"/>
                                        <source media="(max-width: 576px)"
                                                srcset="${quickAccessModel.tabThreeIconMobileImagePath}"/>
                                        <source media="(min-width: 1080px)"
                                                srcset="${quickAccessModel.tabThreeIconWebImagePath}"/>
                                        <source media="(min-width: 1200px)"
                                                srcset="${quickAccessModel.tabThreeIconWebImagePath}"/>
                                        <img alt="${quickAccessModel.tabThreeIconAlt}"
                                             data-nimg="fixed"
                                             decoding="async" src="${quickAccessModel.tabThreeIconWebImagePath}"/>
                                    </picture>

                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="quick-access__table-desktop-mobile">
            <div class="table-mobile__header">
                <div class="table-mobile__header-items">
                    <div class="header-item">
                        <span>${quickAccessModel.tabOneHeading}</span>
                        <div class="header-item__img">
                            <img alt="${quickAccessModel.tabOneIconAlt}"
                                 data-nimg="fixed" decoding="async"
                                 src="${quickAccessModel.tabOneIcon}"/>
                        </div>
                    </div>
                    <div class="header-item">
                        <span>${quickAccessModel.tabTwoHeading}</span>
                        <div class="header-item__img">
                            <img alt="${quickAccessModel.tabTwoIconAlt}"
                                 data-nimg="fixed" decoding="async"
                                 src="${quickAccessModel.tabTwoIcon}"/>
                        </div>
                    </div>
                    <div class="header-item">
                        <span>${quickAccessModel.tabThreeHeading}</span>
                        <div class="header-item__img">
                            <img alt="${quickAccessModel.tabThreeIconAlt}"
                                 data-nimg="fixed"
                                 decoding="async" src="${quickAccessModel.tabThreeIcon}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pop-up">
            <div class="pop-up-content">
                <div class="title">
                    <h6></h6>
                </div>
            </div>
        </div>
    </div>
</sly>
