<sly data-sly-test="${wcmmode.edit}">
    <p class="cq-placeholder" data-emptytext="${component.title}"></p>
</sly>
<sly data-sly-use.article="com.techcombank.core.models.ArticleTagCloudModel" data-sly-test="${!article.hideStatus}">
    <section data-sly-test="${article.articleList}" class="article-tag-cloud">
        <div class="article-tag-cloud_heading">
            <div class="article-tag-cloud_icon">
                <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/icon-tag.svg"/>
            </div>
            <div class="article-tag-cloud_title">
                ${article.tagLabel}:
            </div>
        </div>
    <div class="article-tag-cloud_content" data-sly-list.article="${article.articleList}">
        <a href="${article.path}" target="${article.openInNewTab == 'true' ? '_blank' : '_self'}" x-cq-linkchecker="valid" class="article-tag-cloud_item"
            data-tracking-click-event="linkCLick"
            data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': 'other'}}"
            data-tracking-click-info-value="{'linkClick':'${article.title}'}">
            <span class="article-tag-cloud_item_title">${article.title}</span>
        </a>
    </div>
    </section>
</sly>
