<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2021 Adobe
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<template data-sly-template.head="${ @ page, pwa }" data-sly-use.headlibRenderer="headlibs.html" data-sly-use.headResources="head.resources.html">
    <meta charset="UTF-8" />
    <title>${page.title}${page.brandSlug ? ' | ' : ''}${page.brandSlug}</title>
    <meta data-sly-test.keywords="${page.keywords}" name="keywords" content="${keywords}" />
    <meta data-sly-test.templateName="${page.templateName}" name="template" content="${templateName}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta data-sly-test="${page.robotsTags}" name="robots" content="${page.robotsTags @ join=', '}" />
    <sly data-sly-use.page="com.adobe.cq.wcm.core.components.models.Page"></sly>
    <sly data-sly-use.seoPage="com.techcombank.core.models.SEOPageModel">
        <sly data-sly-list.hrefLang="${seoPage.hrefLangList}">
            <link rel="${hrefLang.rel}" hreflang="${hrefLang.hrefLang}" href="${hrefLang.href}" />
        </sly>
        <sly data-sly-test.seoPageModel="${seoPage.seoObj}">
            <meta data-sly-test.title="${seoPageModel.seoTitle || seoPage.pageTitle || properties['jcr:title']}" name="title" content="${title}" />

            <meta data-sly-test.metaDesc="${seoPageModel.metaDescription || seoPage.pageDescription}" name="description" content="${metaDesc}" />

            <meta data-sly-test.metaKey="${seoPageModel.metaKeyword}" name="keywords" content="${metaKey}" />

	    <meta data-sly-test.metaImg="${seoPageModel.metaImage}" name="image" content="${metaImg}" />

            <meta property="og:title" data-sly-test.ogTitle="${seoPageModel.openGraphTitle || seoPage.pageTitle || properties['jcr:title']}" content="${ogTitle}" />

            <meta property="og:description" data-sly-test.ogDescription="${seoPageModel.openGraphDescription || seoPage.pageDescription}" content="${ogDescription}" />

            <meta property="og:type" data-sly-test.ogType="${seoPageModel.openGraphType || 'website'}" content="${ogType}" />

            <meta property="og:image" data-sly-test.ogImage="${inheritedPageProperties.openGraphImage}" content="${ogImage}" />

            <meta data-sly-test.ogSiteName="${inheritedPageProperties.openGraphSiteName || properties['jcr:title']}" property="og:sitename" content="${ogSiteName}" />

            <meta property="og:url" content="${seoPage.pagePath @context='uri'}" />
            <link rel="canonical" href="${page.canonicalLink}" />
        </sly>
    </sly>

    <sly data-sly-test="${pwa.enabled}">
        <link rel="manifest" href="${pwa.manifestPath}" crossorigin="use-credentials" />
        <meta name="theme-color" content="${pwa.themeColor}" />
        <link rel="apple-touch-icon" href="${pwa.iconPath}" />
        <sly data-sly-use.clientlib="core/wcm/components/commons/v1/templates/clientlib.html" data-sly-call="${clientlib.css @ categories='core.wcm.components.page.v2.pwa'}"></sly>
        <meta name="cq:sw_path" content="${pwa.serviceWorkerPath @ context ='text'}" />
    </sly>
    <sly data-sly-include="customheaderlibs.html"></sly>
    <sly data-sly-test="${page.templateName != 'blank-page' || wcmmode.edit}" data-sly-call="${headlibRenderer.headlibs @
                                page                      = page,
                                designPath                = page.designPath,
                                staticDesignPath          = page.staticDesignPath,
                                clientLibCategories       = page.clientLibCategories,
                                clientLibCategoriesJsHead = page.clientLibCategoriesJsHead,
                                hasCloudconfigSupport     = page.hasCloudconfigSupport}"
    ></sly>
    <sly data-sly-test.appResourcesPath="${page.appResourcesPath}" data-sly-call="${headResources.favicons @ path = appResourcesPath}"></sly>
    <sly data-sly-list="${page.htmlPageItems}"><script data-sly-test="${item.location.name == 'header'}" data-sly-element="${item.element.name @ context='text'}" data-sly-attribute="${item.attributes}"></script> </sly>
</template>
