<sly data-sly-use.columnContainerModel="com.techcombank.core.models.ColumnContainerModel"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-test.hasContent="${columnContainerModel.width}" />
<sly data-sly-test="${hasContent}">
    <div class="column-wrapper">
        <div class="column-container ${columnContainerModel.flipView ? 'column-reverse' : ' '}">
            <sly data-sly-test.fifty="${columnContainerModel.width == '5050'}">
                <div class="column-item col-w50 ${columnContainerModel.activateVerticalDivider ? 'divider--vertical-right' : ''}"
                     style="padding-top:${columnContainerModel.topPadding @context='html'}px; padding-bottom:${columnContainerModel.bottomPadding @context='html'}px; padding-right:${columnContainerModel.rightPadding @context='html'}px;">
                    <sly data-sly-resource="${ @path='column-1', resourceType='foundation/components/parsys'}"></sly>
                </div>
                <div class="column-item col-w50"
                     style="padding-top:${columnContainerModel.topPadding @context='html'}px; padding-bottom:${columnContainerModel.bottomPadding @context='html'}px; padding-left:${columnContainerModel.leftPadding @context='html'}px;">
                    <sly data-sly-resource="${ @path='column-2', resourceType='foundation/components/parsys'}"></sly>
                </div>
            </sly>
            <sly data-sly-test.fifty="${columnContainerModel.width == '6040'}">
                <div class="column-item col-w60 ${columnContainerModel.activateVerticalDivider ? 'divider--vertical-right' : ''}"
                     style="padding-top:${columnContainerModel.topPadding @context='html'}px; padding-bottom:${columnContainerModel.bottomPadding @context='html'}px; padding-right:${columnContainerModel.rightPadding @context='html'}px;">
                    <sly data-sly-resource="${ @path='column-1', resourceType='foundation/components/parsys'}"></sly>
                </div>
                <div class="column-item col-w40"
                     style="padding-top:${columnContainerModel.topPadding @context='html'}px; padding-bottom:${columnContainerModel.bottomPadding @context='html'}px; padding-left:${columnContainerModel.leftPadding @context='html'}px;">
                    <sly data-sly-resource="${ @path='column-2', resourceType='foundation/components/parsys'}"></sly>
                </div>
            </sly>
            <sly data-sly-test.fifty="${columnContainerModel.width == '4060'}">
                <div class="column-item col-w40 ${columnContainerModel.activateVerticalDivider ? 'divider--vertical-right' : ''}"
                     style="padding-top:${columnContainerModel.topPadding @context='html'}px; padding-bottom:${columnContainerModel.bottomPadding @context='html'}px; padding-right:${columnContainerModel.rightPadding @context='html'}px;">
                    <sly data-sly-resource="${ @path='column-1', resourceType='foundation/components/parsys'}"></sly>
                </div>
                <div class="column-item col-w60"
                     style="padding-top:${columnContainerModel.topPadding @context='html'}px; padding-bottom:${columnContainerModel.bottomPadding @context='html'}px; padding-left:${columnContainerModel.leftPadding @context='html'}px;">
                    <sly data-sly-resource="${ @path='column-2', resourceType='foundation/components/parsys'}"></sly>
                </div>
            </sly>
            <sly data-sly-test.fifty="${columnContainerModel.width == '3070'}">
                <div class="column-item col-w30 ${columnContainerModel.activateVerticalDivider ? 'divider--vertical-right' : ''}"
                     style="padding-top:${columnContainerModel.topPadding @context='html'}px; padding-bottom:${columnContainerModel.bottomPadding @context='html'}px; padding-right:${columnContainerModel.rightPadding @context='html'}px;">
                    <sly data-sly-resource="${ @path='column-1', resourceType='foundation/components/parsys'}"></sly>
                </div>
                <div class="column-item col-w70"
                     style="padding-top:${columnContainerModel.topPadding @context='html'}px; padding-bottom:${columnContainerModel.bottomPadding @context='html'}px; padding-left:${columnContainerModel.leftPadding @context='html'}px;">
                    <sly data-sly-resource="${ @path='column-2', resourceType='foundation/components/parsys'}"></sly>
                </div>
            </sly>
            <sly data-sly-test.fifty="${columnContainerModel.width == '7030'}">
                <div class="column-item col-w70 ${columnContainerModel.activateVerticalDivider ? 'divider--vertical-right' : ''}"
                     style="padding-top:${columnContainerModel.topPadding @context='html'}px; padding-bottom:${columnContainerModel.bottomPadding @context='html'}px; padding-right:${columnContainerModel.rightPadding @context='html'}px;">
                    <sly data-sly-resource="${ @path='column-1', resourceType='foundation/components/parsys'}"></sly>
                </div>
                <div class="column-item col-w30"
                     style="padding-top:${columnContainerModel.topPadding @context='html'}px; padding-bottom:${columnContainerModel.bottomPadding @context='html'}px; padding-left:${columnContainerModel.leftPadding @context='html'}px;">
                    <sly data-sly-resource="${ @path='column-2', resourceType='foundation/components/parsys'}"></sly>
                </div>
            </sly>
            <sly data-sly-test.thirty="${columnContainerModel.width == '3col'}">
                <div class="column-item col-w33 ${columnContainerModel.activateVerticalDivider ? 'divider--vertical-right' : ''}"
                     style="padding-top:${columnContainerModel.topPadding @context='html'}px; padding-bottom:${columnContainerModel.bottomPadding @context='html'}px; padding-right:${columnContainerModel.rightPadding @context='html'}px;">
                    <sly data-sly-resource="${ @path='column-1', resourceType='foundation/components/parsys'}"></sly>
                </div>
                <div class="column-item col-w33 ${columnContainerModel.activateVerticalDivider ? 'divider--vertical-right' : ''}"
                     style="padding-top:${columnContainerModel.topPadding @context='html'}px; padding-bottom:${columnContainerModel.bottomPadding @context='html'}px; padding-left:${columnContainerModel.leftPadding @context='html'}px; padding-right:${columnContainerModel.rightPadding @context='html'}px;">
                    <sly data-sly-resource="${ @path='column-2', resourceType='foundation/components/parsys'}"></sly>
                </div>
                <div class="column-item col-w33"
                     style="padding-top:${columnContainerModel.topPadding @context='html'}px; padding-bottom:${columnContainerModel.bottomPadding @context='html'}px; padding-left:${columnContainerModel.leftPadding @context='html'}px;">
                    <sly data-sly-resource="${ @path='column-3', resourceType='foundation/components/parsys'}"></sly>
                </div>
            </sly>
            <sly data-sly-test.fifty="${columnContainerModel.width == '5col'}">
                <div class="column-item col-w20 ${columnContainerModel.activateVerticalDivider ? 'divider--vertical-right' : ''}"
                     style="padding-top:${columnContainerModel.topPadding @context='html'}px; padding-bottom:${columnContainerModel.bottomPadding @context='html'}px; padding-right:${columnContainerModel.rightPadding @context='html'}px;">
                    <sly data-sly-resource="${ @path='column-1', resourceType='foundation/components/parsys'}"></sly>
                </div>
                <div class="column-item col-w20 ${columnContainerModel.activateVerticalDivider ? 'divider--vertical-right' : ''}"
                     style="padding-top:${columnContainerModel.topPadding @context='html'}px; padding-bottom:${columnContainerModel.bottomPadding @context='html'}px; padding-left:${columnContainerModel.leftPadding @context='html'}px; padding-right:${columnContainerModel.rightPadding @context='html'}px;">
                    <sly data-sly-resource="${ @path='column-2', resourceType='foundation/components/parsys'}"></sly>
                </div>
                <div class="column-item col-w20 ${columnContainerModel.activateVerticalDivider ? 'divider--vertical-right' : ''}"
                     style="padding-top:${columnContainerModel.topPadding @context='html'}px; padding-bottom:${columnContainerModel.bottomPadding @context='html'}px; padding-left:${columnContainerModel.leftPadding @context='html'}px; padding-right:${columnContainerModel.rightPadding @context='html'}px;">
                    <sly data-sly-resource="${ @path='column-3', resourceType='foundation/components/parsys'}"></sly>
                </div>
                <div class="column-item col-w20 ${columnContainerModel.activateVerticalDivider ? 'divider--vertical-right' : ''}"
                     style="padding-top:${columnContainerModel.topPadding @context='html'}px; padding-bottom:${columnContainerModel.bottomPadding @context='html'}px; padding-left:${columnContainerModel.leftPadding @context='html'}px; padding-right:${columnContainerModel.rightPadding @context='html'}px;">
                    <sly data-sly-resource="${ @path='column-4', resourceType='foundation/components/parsys'}"></sly>
                </div>
                <div class="column-item col-w20"
                     style="padding-top:${columnContainerModel.topPadding @context='html'}px; padding-bottom:${columnContainerModel.bottomPadding @context='html'}px; padding-left:${columnContainerModel.leftPadding @context='html'}px;">
                    <sly data-sly-resource="${ @path='column-5', resourceType='foundation/components/parsys'}"></sly>
                </div>
            </sly>
        </div>
    </div>
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>
