<nav data-sly-use.breadcrumb="com.adobe.cq.wcm.core.components.models.Breadcrumb"
     data-sly-use.extendModel="com.techcombank.core.models.BreadcrumbModel"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     id="${breadcrumb.id}"
     class="hero-breadcrumb-container tcb-container"
     aria-label="${'Breadcrumb' @ i18n}"
     data-sly-test="${breadcrumb.items.size > 0 && !extendModel.hideBreadcrumb}"
     data-cmp-data-layer="${breadcrumb.data.json}">
    <ol class="cmp-breadcrumb__list"
        itemscope itemtype="http://schema.org/BreadcrumbList"
        data-sly-list.navItem="${breadcrumb.items}">
        <li class="breadcrumb-item cmp-breadcrumb__item${navItem.active ? ' cmp-breadcrumb__item--active' : ''}" style="color:${navItem.active ? properties.activePageColor : properties.previousPagesColor  @ context='styleToken'};"
            aria-current="${navItem.active ? 'page' : false}"
            data-cmp-data-layer="${navItem.data.json}"
            itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a data-sly-attribute="${navItem.link.htmlAttributes}"
               class="cmp-breadcrumb__item-link"
               itemprop="item"
               data-cmp-clickable="${breadcrumb.data ? true : false}"
               data-sly-unwrap="${navItem.active || !navItem.link.valid}"
               data-tracking-click-event="linkClick"
               data-tracking-click-info-value="{'linkClick' : '${navItem.title}'}"
               data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': 'other'}}">
                <span class="breadcrumb-text" itemprop="name">${navItem.title}</span>
            </a>
            <meta itemprop="position" content="${navItemList.count}" />
        </li>
    </ol>
</nav>
<sly data-sly-call="${template.placeholder @ isEmpty=(breadcrumb.items.size == 0 || extendModel.hideBreadcrumb), classAppend='cmp-breadcrumb'}"></sly>