<sly data-sly-use.breadcrumb="com.kemin.redesign.core.models.breadcrumb.Breadcrumb"
     data-sly-test.isHomePage="${breadcrumb.pageList.size == 0}"
     data-sly-test.isParent="${breadcrumb.homePage.title == currentPage.title}">
</sly>
<sly data-sly-test.isSearchPage="${breadcrumb.isSearchPage}"></sly>
<sly  data-sly-test.isProduct="${breadcrumb.isProduct != currentPage.title}">
    <sly data-sly-test="${breadcrumb.pageDepth > 4}" data-sly-test="${!isParent || isSearchPage}" >
        <div class="container kemin-breadcrumb ${properties.background?'breadcrumb-background':''}">
            <!-- Mobile and Tablet items -->
            <sly data-sly-test="${isHomePage}">
                <div class="d-flex d-md-none">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-home breadcrumb-tag icon-breadcrumb-reverse">
                            <a href="${breadcrumb.homePage}.html" class="icon-home">
                            </a></li>
                    </ul>
                </div>
            </sly>

            <sly data-sly-test="${!isHomePage}">
                <div class="d-flex d-md-none">
                    <ul class="breadcrumb">

                        <li class="breadcrumb-tag icon-breadcrumb-reverse"><a
                                href="${breadcrumb.parent.path @extension='html'}">${breadcrumb.parent.title ||
                            breadcrumb.parent.pageTitle || breadcrumb.parent.navTitle}</a></li>
                    </ul>
                </div>
            </sly>


            <!--
        <sly data-sly-test="${!isHomePage ||isSearchPage}">
            <div class="d-flex d-md-none">
                <ul class="breadcrumb">
                <sly data-sly-test="${isSearchPage}">
                  <li class="breadcrumb-home breadcrumb-tag icon-breadcrumb-reverse"><a data-cta="Home" data-at="Breadcrumb" data-nav="Body" data-cta-type="link" href="${breadcrumb.homePageForSearchPage @extension='html'}" class="icon-home"></a></li>
                </sly>
                <sly data-sly-test="${!isSearchPage}">
                    <li class="breadcrumb-tag icon-breadcrumb-reverse">
                        <a data-cta="${breadcrumb.parent.navigationTitle || breadcrumb.parent.pageTitle || breadcrumb.parent.title}" data-nav="Breadcrumb" data-cta-type="link" href="${breadcrumb.parent.path @extension='html'}">${breadcrumb.parent.navigationTitle || breadcrumb.parent.pageTitle || breadcrumb.parent.title}</a>
                    </li>
                 </sly>
                </ul>
            </div>
        </sly>-->
            <!-- Desktop items -->
            <div class="container-kemin d-flex d-none d-md-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-home">
                        <a data-cta="Home" data-at="Breadcrumb" data-nav="Body"
                           data-cta-type="link"
                           href="${isSearchPage ? breadcrumb.homePageForSearchPage : breadcrumb.homePage.path @extension='html'}"
                           class="icon-home"></a></li>
                    <sly data-sly-test="${!isHomePage || !isSearchPage}">
                        <li data-sly-repeat.items="${breadcrumb.pageList}" class="breadcrumb-tag icon-breadcrumb">
                            <a data-cta="${breadcrumb.parent.navigationTitle || breadcrumb.parent.pageTitle || breadcrumb.parent.title}"
                               data-nav="Breadcrumb" data-cta-type="link" href="${items.path}.html">${items.navigationTitle
                                || items.pageTitle || items.title}</a>
                        </li>
                    </sly>
                    <li class="icon-breadcrumb"><span class="breadcrumb-active">${breadcrumb.currentPage.navigationTitle || breadcrumb.currentPage.pageTitle || breadcrumb.currentPage.title}</span>
                    </li>
                </ul>
            </div>
        </div>

    </sly>
</sly>