<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.offerlisting="com.techcombank.core.models.OfferListingModel">
<sly data-sly-test="${!wcmmode.edit}">
<section class="container section__margin-medium">
    <div class="content-wrapper offer-listing-filter__body">
        <div data-url="${resource.path}" data-component-name="${component.title}" data-language-label="${offerlisting.localeLanguage}" data-day-label="${offerlisting.expiryDayLabel}" data-expiry-label="${offerlisting.expiryLabel}" data-empty-promotion-label ="${offerlisting.emptyPromotionLabel}" data-search-count="${offerlisting.resultCountText}" data-view-more="${offerlisting.viewMore}" class="offer-listing-promotions">
            <div class="offer-listing-promotions__wrapper">
                <div class="offer-filter__container enhanced-offer-filter__container" data-tracking-click-event="articleFilter"
                     data-tracking-click-info-value="{'articleFilter':''}"
                     data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': 'other'}}">
                    <div class="offer-filter__title filter--border-bottom">
                        <h6>${offerlisting.sortFilter}</h6>
                    </div>
                    <div class="offer-filter__sort-by-wrap offer-filter__checkbox analytics-ol-sort">
                        <div class="offer-filter__checkbox-item">
                            <div class="checkbox-item__wrapper">
                                <input class="input__radio" name="sort" type="radio" data-sort="${offerlisting.mostPopular}" data-value="most-popular" checked/>
                                <div>${offerlisting.mostPopular}</div>
                            </div>
                        </div>
                        <div class="offer-filter__checkbox-item">
                            <div class="checkbox-item__wrapper">
                                <input class="input__radio" name="sort" type="radio" data-sort="${offerlisting.latest}" data-value="latest"/>
                                <div>${offerlisting.latest}</div>
                            </div>
                        </div>
                        <div class="offer-filter__checkbox-item">
                            <div class="checkbox-item__wrapper">
                                <input class="input__radio" name="sort" type="radio" data-sort="${offerlisting.moreTime}" data-value="more-time-to-consider"/>
                                <div>${offerlisting.moreTime}</div>
                            </div>
                        </div>
                        <div class="offer-filter__checkbox-item">
                            <div class="checkbox-item__wrapper">
                                <input class="input__radio" name="sort" type="radio" data-sort="${offerlisting.expiringSoon}" data-value="expiring-soon"/>
                                <div>${offerlisting.expiringSoon}</div>
                            </div>
                        </div>
                    </div>
                    <div class="offer-filter__title filter--border-bottom">
                        <h6>${offerlisting.cardFilter}</h6>
                    </div>
                    <div class="offer-filter__checkbox product-checkbox analytics-product-type">
                        <sly data-sly-list.filter="${offerlisting.cardTypeTags}">
                            <div class="offer-filter__checkbox-item">
                                <label class="checkbox-item__wrapper">
                                    <input class="input__checkbox" type="checkbox" data-product="${offerlisting.cardTypeTags[filter]}"
                                           value="${filter}">
                                    <span>${offerlisting.cardTypeTags[filter]}</span>
                                </label>
                            </div>
                        </sly>
                    </div>

                    <div class="offer-filter__title filter--border-bottom">
                        <h6>${offerlisting.categoryFilter}</h6>
                    </div>

                    <div class="offer-filter__checkbox category-checkbox analytics-ol-categories">
                        <sly data-sly-list.filter="${offerlisting.filterTags}">
                            <div class="offer-filter__checkbox-item">
                                <label class="checkbox-item__wrapper">
                                    <input class="input__checkbox" data-category="${offerlisting.filterTags[filter]}"
                                           name="${offerlisting.filterTags[filter]}" type="checkbox" value="${filter}">
                                    <span>${offerlisting.filterTags[filter]}</span>
                                </label>
                            </div>
                        </sly>
                    </div>

                    <div class="offer-filter__title filter--border-bottom">
                        <h6>${offerlisting.merchantFilter}</h6>
                    </div>

                    <div class="offer-filter__dropdown analytics-ol-merchant merchant-desktop-element">
                        <div class="dropdown__wrapper">
                            <div class="dropdown__display">
                                <span class="display__text text--ellipsis" data-placeholder="${offerlisting.merchantPlaceholder}">${offerlisting.merchantPlaceholder}</span>
                                <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/chevron-bottom-icon.svg"/>
                            </div>
                            <div class="dropdown__list dropdown--ease-transition --bordered --shadow">
                                <ul>
                                    <li class="dropdown__item" value="all">${offerlisting.selectAllMerchant}</li>
                                    <li data-sly-repeat.merchant="${offerlisting.merchantTypeTags}" class="dropdown__item" data-merchant="${offerlisting.merchantTypeTags[merchant]}"
                                        value="${merchant}">
                                        ${offerlisting.merchantTypeTags[merchant]}
                                    </li>
                                </ul>
                                <input class="dropdown-selected-value merchant-desktop-element" hidden id="merchant" value="-1"/>
                            </div>
                        </div>
                    </div>
                </div>

                <!--RESPONSIVE VIEW-->
                <div class="offer-listing-filter__button">
                    <div class="search-primary-container">
                        <div class="search-box">
                            <div class="input-container">
                                <div class="search-box_icon">
                                    <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/search-primary-icon.svg"/>
                                </div>
                                <input aria-invalid="false" id="searchAreaMobile" autocomplete="off"
                                       placeholder="Search for promotion" type="text" aria-autocomplete="list"
                                       autocapitalize="none" spellcheck="false"
                                       class="ui-autocomplete-input search-input"
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="offer-listing-filter__button">
                    <button class="btn-open-filter">
                        <span>${offerlisting.filter}</span>
                        <span class="tcb-filter-button-icon">
                            <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/filter.svg"/>
                        </span>
                    </button>
                </div>

                <div class="offer-listing-filter__button">
                    <div class="offer-filter__dropdown analytics-ol-sort-mobile sort-mobile-element">
                        <div class="dropdown__wrapper">
                            <div class="dropdown__display">
                                <div class="sort-title">
                                    <small class="display__title">${offerlisting.sortFilter}</small>
                                    <span class="display__text text--ellipsis" data-placeholder="${offerlisting.mostPopular}">${offerlisting.mostPopular}</span>
                                </div>
                                <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/chevron-bottom-icon.svg"/>
                            </div>
                            <div class="dropdown__list dropdown--ease-transition --bordered --shadow">
                                <ul>
                                    <li class="dropdown__item" value="most-popular">${offerlisting.mostPopular}</li>
                                    <li class="dropdown__item" value="latest">${offerlisting.latest}</li>
                                    <li class="dropdown__item" value="more-time-to-consider">${offerlisting.moreTime}</li>
                                    <li class="dropdown__item" value="expiring-soon">${offerlisting.expiringSoon}</li>

                                </ul>
                                <input class="dropdown-selected-value sort-mobile-element" hidden id="merchantTypeMobile"
                                       value="-1"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="offer-cards__container">
                    <div class="offer-cards__wrapper">
                        <div class="search-area">
                            <div class="search-primary-container">
                                <div class="search-box">
                                    <div class="input-container">
                                        <div class="search-box_icon">
                                            <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/search-primary-icon.svg"/>
                                        </div>
                                        <input aria-invalid="false" id="searchAreaDesktop" autocomplete="off"
                                               placeholder="${offerlisting.searchPlaceHolderText}" type="text" aria-autocomplete="list"
                                               autocapitalize="none" spellcheck="false"
                                               class="ui-autocomplete-input search-input"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="news-filter">
                                <div class="information-filter__load-more">
                                    <button type="button" class="load-more__button">
                                        <span>${offerlisting.viewResult}</span>
                                        <span class="load-more__button-icon">
                                                <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-arrow.svg"
                                                     alt="red-arrow"
                                                />
                                            </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!--TOTAL COUNT-->
                        <div class="promotion-total-count"></div>
                        <div class="card-promotion__list"></div>
                        <div class="pagination">
                            <div class="pag-container"></div>
                        </div>
                    </div>
                </div>

                <div class="tcb-modal offer-listing-enhance-mobile" hidden="">
                    <div class="offer-filter__header">
                        <span class="title">${offerlisting.filter}</span>
                    </div>
                    <div class="news_filter-group">

                        <div class="offer-filter__title filter--border-bottom">
                            <h6>${offerlisting.cardFilter}</h6>
                        </div>

                        <div class="offer-filter__checkbox product_filter product-checkbox-mobile">
                            <sly data-sly-list.filter="${offerlisting.cardTypeTags}">
                                <div class="offer-filter__checkbox-item-mobile">
                                    <label class="checkbox-item__wrapper">
                                        <input class="input__checkbox" type="checkbox" data-product="${offerlisting.cardTypeTags[filter]}"
                                               value="${filter}">
                                        <span>${offerlisting.cardTypeTags[filter]}</span>
                                    </label>
                                </div>
                            </sly>
                        </div>
                        <!-- Filter title -->
                        <div class="offer-filter__title filter--border-bottom">
                            <h6>${offerlisting.categoryFilter}</h6>
                            <span class="material-symbols-outlined btn-close hidden">close</span>
                        </div>

                        <div class="offer-filter__checkbox category_filter category-checkbox-mobile">
                            <sly data-sly-list.filter="${offerlisting.filterTags}">
                                <div class="offer-filter__checkbox-item-mobile">
                                    <label class="checkbox-item__wrapper">
                                        <input class="input__checkbox" data-category="${offerlisting.filterTags[filter]}"
                                               name="${offerlisting.filterTags[filter]}" type="checkbox" value="${offerlisting.filterTags[filter]}">
                                        <span>${offerlisting.filterTags[filter]}</span>
                                    </label>
                                </div>
                            </sly>
                        </div>

                        <div class="offer-filter__title filter--border-bottom">
                            <h6>${offerlisting.merchantFilter}</h6>
                        </div>

                        <div class="offer-filter__dropdown analytics-ol-merchant-mobile merchant-mobile-element">
                            <div class="dropdown__wrapper">
                                <div class="dropdown__display merchant-dropdown-display">
                                    <span class="display__text text--ellipsis" data-placeholder="${offerlisting.merchantPlaceholder}">${offerlisting.merchantPlaceholder}</span>
                                    <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/chevron-bottom-icon.svg"/>
                                </div>
                                <div class="dropdown__list merchant-dropdown-list dropdown--ease-transition --bordered --shadow">
                                    <ul>
                                        <li class="dropdown__item" value="all">${offerlisting.selectAllMerchant}</li>
                                        <li data-sly-repeat.merchant="${offerlisting.merchantTypeTags}" class="dropdown__item" data-merchant="${offerlisting.merchantTypeTags[merchant]}"
                                            value="${merchant}">
                                            ${offerlisting.merchantTypeTags[merchant]}</li>
                                    </ul>
                                    <input class="dropdown-selected-value merchant-mobile-element" hidden id="merchant" value="-1"/>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tcb-modal_action-bar">
                        <div class="tcb-apply-filter-button tcb-button--light-black">
                            ${offerlisting.apply}
                            <img alt="Red arrow" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-arrow.svg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</sly>
</sly>
