<div id="myModal" class="my-account-popup">
    <!-- Modal content -->
    <div class="modal-content">
        <p class="modal-heading">My Boost</p>
        <nav>
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Make Payment</a></li>
                <li><a href="#">Account History</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Swap Device</a></li>
                <li><a href="#">Change Plan</a></li>
            </ul>
        </nav>
        <div class="auth">
            <div class="button signIn">
                <button type="button" id="button-93a5672f17" class="cmp-button" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-93a5672f17&quot;:{&quot;@type&quot;:&quot;core/wcm/components/button/v1/button&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T12:37:57Z&quot;,&quot;dc:title&quot;:&quot;Button&quot;}}">
                    <span class="cmp-button__text">Sign In</span>
                </button>
            </div>                    
            <div class="button signOut">
                <button type="button" id="button-93a5672f17" class="cmp-button" data-cmp-clickable="" data-cmp-data-layer="{&quot;button-93a5672f17&quot;:{&quot;@type&quot;:&quot;core/wcm/components/button/v1/button&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T12:37:57Z&quot;,&quot;dc:title&quot;:&quot;Button&quot;}}">
                    <span class="cmp-button__text">Sign out</span>
                </button>
            </div>                    
            <p>Don't have an account? <a href="#" class="signup">Create one</a></p>
        </div>
    </div>

</div>