// my account modal
.my-account-popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: calculateRem(80);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  .top-bot {
    position: absolute;
    top: calculateRem(67);
    right: calculateRem(84);
    border-left: calculateRem(15.58) solid transparent;
    border-right: calculateRem(15.58) solid transparent;
    border-bottom: calculateRem(13) solid #fff;
  }

  /* Modal Content */
  .modal-content {
    width: calculateRem(188);
    // height: calculateRem(301);
    float: right;
    margin-right: calculateRem(48);
    border-radius: calculateRem(15);
    padding: calculateRem(38) calculateRem(32);
    box-shadow: 0 calculaterem(21) calculateRem(52) calculateRem(-100) rgba(0, 0, 0, 0.16);

    a {
      &:hover {
        &:after {
          background-color: transparent;
        }
      }

      &:after {
        background-color: transparent;
      }
    }

    .modal-heading {
      font-size: calculateRem(32);
      text-align: left;
      letter-spacing: calculateRem(-0.2);
      line-height: calculateRem(36);
      color: $color-coal;
      font-weight: 800;

      &::after {
        content: "";
        border-bottom: calculateRem(4) solid var(--primary-color);
        width: calculateRem(32);
        display: block;
        margin: calculateRem(8) 0 calculateRem(16) 0;
      }
    }

    .auth-showhide-links {
      &:hover {
        background-color: #f2f2f2 !important;
        border-radius: calculateRem(5);

        img {
          filter: contrast(4);
        }
      }

      img {
        margin-right: calculateRem(16);
      }
    }

    nav ul {
      display: block;
      list-style: none;
      padding: 0;

      li {
        display: block !important;
        list-style: none;
        padding-bottom: calculateRem(16);
        margin-left: 0 !important;
        padding-left: 0 !important;
        text-align: left !important;
        background-color: transparent !important;

        a {
          font-size: calculateRem(16);
          line-height: calculateRem(19);
          color: #6B737A !important;

          &.active {
            color: #212121 !important;
            // &::before {
            //   content: "";
            //   // border-left: calculateRem(2) solid var(--primary-color);
            //   -webkit-transform: translateY(-1rem);
            //   transform: translateY(-1rem);
            //   position: relative;
            //   top: 0;
            //   padding-left: calculateRem(8);
            // }
          }

          &:hover {
            color: #212121 !important;
            // &::before {
            //   content: "";
            //   // border-left: calculateRem(2) solid $color-light-grey2;
            //   -webkit-transform: translateY(-1rem);
            //   transform: translateY(-1rem);
            //   position: relative;
            //   top: 0;
            //   padding-left: calculateRem(8);
            // }
          }
        }
      }
    }

    .auth {
      .button {
        text-align: center;
        margin-top: calculateRem(17);
        margin-bottom: 0;
      }

      a {
        color: #384aff;
        font-weight: normal;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      p {
        font-size: calculateRem(14);
        line-height: calculateRem(19);
        color: $color-light-grey2;
        text-align: center;
        font-weight: normal;
      }
    }
  }
}

.day .my-account-popup .modal-content {
  background-color: var(--color-smoke);
}

.night .my-account-popup .modal-content {
  background-color: var(--color-coal);
}

.cmp-header__smoke {
  .my-account-popup .modal-content {
    background-color: $color-marshmallow;

    nav ul {
      li {
        a {
          &.active &:active {
            color: $color-coal;

            &::before {
              content: "";
              border-left: calculateRem(2) solid var(--primary-color);
            }
          }

          &:hover {
            color: $color-coal;

            &::before {
              border-left: calculateRem(2) solid $color-light-grey1;
            }
          }
        }
      }
    }

    .auth {
      p {
        color: $color-coal;
      }
    }
  }
}

.cmp-header__marshmallow {
  .my-account-popup .modal-content {
    background-color: $color-marshmallow;

    nav ul {
      li {
        a {
          &.active &:active {
            color: $color-coal;

            &::before {
              content: "";
              border-left: calculateRem(2) solid var(--primary-color);
            }
          }

          &:hover {
            color: $color-coal;

            &::before {
              border-left: calculateRem(2) solid $color-light-grey1;
            }
          }
        }
      }
    }
  }
}

.cmp-header__coal {
  .my-account-popup .modal-content {
    background-color: $color-coal;

    .modal-heading {
      color: $color-marshmallow;
    }

    nav ul {
      li {
        a {
          color: $color-light-grey1;

          &.active,
          &:active {
            color: $color-marshmallow;

            &::before {
              content: "";
              border-left: calculateRem(2) solid var(--primary-color);
            }
          }

          &:hover {
            color: $color-marshmallow;

            &::before {
              border-left: calculateRem(2) solid $color-light-grey2;
            }
          }
        }
      }
    }

    .auth {
      a {
        color: #00e7ff;
      }

      p {
        color: $color-light-grey1;
      }
    }
  }
}

.cmp-header__charcoal {
  .my-account-popup .modal-content {
    background-color: $color-charcoal;

    .modal-heading {
      color: $color-marshmallow;
    }

    nav ul {
      li {
        a {
          color: $color-light-grey1;

          &.active,
          &:active {
            color: $color-marshmallow;

            &::before {
              content: "";
              border-left: calculateRem(2) solid var(--primary-color);
            }
          }

          &:hover {
            color: $color-marshmallow;

            &::before {
              border-left: calculateRem(2) solid $color-light-grey2;
            }
          }
        }
      }
    }

    .auth {
      a {
        color: #00e7ff;
      }

      p {
        color: $color-light-grey1;
      }
    }
  }
}

// responsive css
@media (max-width: 1024px) {
  .my-account-popup .modal-content {
    float: none;
    margin: 0 auto;
    // adjusting height of portrait mode in mobile
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    backface-visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
  }
}

#burger-menu-right {
  display: none;
}

#close-menu {
  display: none;
}

#burger-menu-right {
  left: calculateRem(18);
  z-index: 6;
}

#burger-menu-right div {
  width: calculateRem(16);
  height: calculateRem(2);
  background-color: $color-coal;
  margin: calculateRem(4) 0;
  border-radius: calculateRem(25);
}

#burger-menu-right div:nth-child(2) {
  width: calculateRem(20);
  margin: calculateRem(4) calculateRem(-2.4);
}

#account-menu {
  display: none;

  .menu-icon {
    padding-right: calculateRem(8);
    height: calculateRem(24);
    width: calculateRem(24);
  }
}

#account-menu span {
  font-size: calculateRem(16);
  text-align: left;
  color: #212121;
}


@media (min-width: 320px) and (max-width: 767px) {
  #account-menu span {
    display: none;
  }
}

/* Landscape */
@media (max-height:376px) and (orientation:landscape) {
  .my-account-popup .modal-content {
    max-height: calculateRem(280);
  }
}