<div class="tcb-form-wrapper">
     <form data-sly-use.container="com.adobe.cq.wcm.core.components.models.form.Container"
       data-sly-use.grid="com.day.cq.wcm.foundation.model.responsivegrid.ResponsiveGrid"
       method="${container.method}" action="${container.action @ addSelectors='forms'}" id="${container.id}" name="${container.name}"
       enctype="${container.enctype}"
       class="cmp-form ${grid.cssClass} test"
       data-success-modalId = "${properties.successModelId}"
       data-failure-modalId = "${properties.failureModelId}"
       data-tracking-click-event="formStart"
       data-tracking-click-info-value="{'formName': 'formTitle'}"
       data-tracking-click-info-key="formInfo" 
       data-tracking-web-interaction-value="{'webInteractions': {'name': 'send form','type': 'other'}}"
 >
     <div data-sly-test="${properties.errorMessageInfo}"
          data-sly-list.item="${properties.errorMessageInfo}"
          class="cmp-form-error">
 
     </div>
     <input type="hidden" name=":formstart" value="${resource.path}"/>
     <input type="hidden" name="_charset_" value="utf-8"/>
     <input type="hidden" name="formtype" value="${properties.formType @context='text'}"/>
 
 
     <input data-sly-test="${properties.redirectPage}" type="hidden" name=":redirectPage" value="${properties.redirectPage @ extension='html'}"/>  
 
     <sly data-sly-repeat.paragraph="${grid.paragraphs}"
          data-sly-resource="${paragraph.path @ resourceType=paragraph.resourceType, decorationTagName='div', cssClassName=paragraph.cssClass}"></sly>
     <sly data-sly-resource="${resource.path @ resourceType=container.resourceTypeForDropArea, appendPath='/*', decorationTagName='div', cssClassName='new section aem-Grid-newComponent'}"
          data-sly-test="${wcmmode.edit || wcmmode.preview}"></sly>
      </form>
      <input type="hidden" id="form-submit-analytics" 
     data-tracking-click-event="formComplete"   
     data-tracking-click-info-value="{'formName': 'formTitle','formDetails':'formDetailsVal','hashedEmail':'hashedEmailVal','branchLocation':'branchLocationVal'}" 
     data-tracking-click-info-key="formInfo"
     data-tracking-user-info-key="userInfo"
	data-tracking-user-info-value="{'status': 'not logged-in','customerID':'','idfa':'','gaid':''}" 
     data-tracking-web-interaction-value="{'webInteractions': {'name': 'Send the application','type': 'Other'},'webPageDetail':{'isErrorPage': 'n'}}" 
     />
     <input type="hidden" id="form-error-analytics" 
     data-tracking-click-event="error"   
     data-tracking-click-info-value="{'errorType': 'Form error','errorMessage':'errorMessageVal'}" 
     data-tracking-click-info-key="errorInfo" 
     data-tracking-form-info-value="{'formName': 'Form name'}" 
     data-tracking-form-info-key="formInfo"
     data-tracking-user-info-key="userInfo"
	data-tracking-user-info-value="{'status': 'not logged-in','customerID':'','idfa':'','gaid':''}" 
     data-tracking-web-interaction-value="{'webInteractions': {'name': 'error','type': 'Other'},'webPageDetail':{'isErrorPage': 'n'}}" 
     />
 </div>
