<sly data-sly-use.card="com.techcombank.core.models.ImageCardSlideModel"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-test.hasContent="${card.cardImage || card.cardTitle}">
    <sly data-sly-test="${hasContent}">
        <div class="slide-show__container-item">
            <div class="card-item" style="--bg-color: ${card.cardBackgroundColour @context='styleString'}">
                <div class="card-item__slide-show">
                    <div class="card-image__over-height">
                        <picture>
                            <source media="(max-width: 360px)"
                               srcset="${card.mobileCardImagePath}"/>
                            <source media="(max-width: 576px)"
                               srcset="${card.mobileCardImagePath}"/>
                            <source media="(min-width: 1080px)"
                               srcset="${card.webCardImagePath}"/>
                            <source media="(min-width: 1200px)"
                               srcset="${card.webCardImagePath}"/>
                            <img alt="${card.atmIconAlt}" alt="${card.cardImageAltText}"
                               src="${card.webCardImagePath}" decoding="async" data-nimg="intrinsic">
                          </picture>
                    </div>
                    <div class="card-image__content-text card-image__content-text-align-${card.textAlignmentOnCard}">
                        <h5>${card.cardTitle}</h5>
                        <p>${card.cardDescription}</p>
                    </div>
                </div>
            </div>
        </div>
    </sly>
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>