<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2021 Adobe
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">
    <meta data-sly-call="${clientLib.js @ categories='clientlibs.embed'}" data-sly-unwrap>
    </meta>
</sly>
<input
    id="input-analytics-start"
    type="hidden"
    data-tracking-click-event="videoStart"
    data-tracking-click-info-value="{'videoName':'videoTitle'}"
    data-tracking-web-interaction-value="{'webInteractions': {'name': 'Embed','type': 'Exit'}}"
/>
<input
    id="input-analytics-complete"
    type="hidden"
    data-tracking-click-event="videoComplete"
    data-tracking-click-info-value="{'videoName':'videoTitle'}"
    data-tracking-web-interaction-value="{'webInteractions': {'name': 'Embed','type': 'Exit'}}"
/>
<div
    data-sly-use.embed="com.adobe.cq.wcm.core.components.models.Embed"
    data-sly-use.commonsTemplates="core/wcm/components/commons/v1/templates.html"
    data-sly-test.hasContent="${(embed.result && embed.result.processor) || embed.html || embed.embeddableResourceType}"
    data-cmp-data-layer="${embed.data.json}"
    id="${embed.id}"
    class="cmp-custom-embed"
>
    <sly data-sly-use.youtubeEmbed="com.techcombank.core.models.ExtendedEmbed">
        <input type="hidden" id="embed_video_id" value="${youtubeEmbed.youtubeVideoId}" />
        <input type="hidden" id="embed_video_width" value="${youtubeEmbed.youtubeWidth}" />
        <input type="hidden" id="embed_video_height" value="${youtubeEmbed.youtubeHeight}" />
        <input type="hidden" id="embed_video_aspect_ratio" value="${youtubeEmbed.youtubeAspectRatio}" />
    </sly>
    <input type="hidden" id="embed_id" value="${embed.id}" />
    <input type="hidden" id="embed_url" value="${embed.url}" />
    <input type="hidden" id="embed_html" value="${embed.html}" />
    <input type="hidden" id="embed_type" value="${embed.type}" />
    <input type="hidden" class="embed_video_layout" value="${properties.layout}" />
    <sly data-sly-test="${embed.result && embed.result.processor}" data-sly-use.processorTemplate="processors/${embed.result.processor}.html" data-sly-call="${processorTemplate.render @ options=embed.result.options}"></sly>
    <sly data-sly-test="${embed.html}">${embed.html @context = 'html'}</sly>
    <sly data-sly-test="${embed.embeddableResourceType}" data-sly-resource="${resource.path @ resourceType=embed.embeddableResourceType, wcmmode='disabled'}"></sly>
</div>

<sly data-sly-call="${commonsTemplates.placeholder @ isEmpty = !hasContent}"></sly>
