<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.listEventItem="com.techcombank.core.models.ListEventTileModel">
    <section class="container list-event-tile">
        <div class="list-event-tile__container">
            <div class="list-event-tile__list-item">
                <sly data-sly-list.eventItems="${listEventItem.eventTileItem}">
				<sly data-sly-test="${!eventItems.linkText}">
				
                    <a data-tracking-click-event="linkClick"
                                             data-tracking-web-interaction-value="${eventItems.linkInteraction}"
                                             data-tracking-click-info-value="{'linkClick':'${eventItems.cardTitle}'}" href="${eventItems.linkUrl}" target="${eventItems.openInNewTab}" rel="${eventItems.noFollow}">
					</sly>
                        <div class="list-event-tile__item">
                            <div class="list-event-tile__item-container">
                                <div class="list-event-tile__item-img">
                                    <span>
                                        <img src="${eventItems.cardImage}" alt="${eventItems.cardImageAltText}" />
                                    </span>
                                </div>
                                <div class="list-event-tile__item-body">
                                    <div class="list-event-tile__item-content">
									
									
                                        <div data-sly-test="${!eventItems.linkText && eventItems.cardLabelText }" class="list-event-tile__item-financial-advice" >
									
                                            <span >${eventItems.cardLabelText}</span> 	
                                      										
                                        </div>

                                       <div class="list-event-tile__item-financial-advice" data-sly-test="${eventItems.linkText }" >										
                                            <span>${eventItems.cardLabelText}</span>
                                            <span>${eventItems.eventDate}</span>
										
                                        </div>
							

                                        <div class="list-event-tile__item-title">${eventItems.cardTitle}</div>
                                        <div class="list-event-tile__item-description display-webkit-box">
                                            <span>
                                                ${eventItems.cardDescription @context='html'}
                                            </span>
                                            <span class="link-icon">
                                                <img src="${eventItems.linkIcon}" alt="${eventItems.linkIconAltText}" />
                                            </span>
                                        </div>
                                    </div>
                                    <div class="list-event-tile__item-action" data-sly-test="${eventItems.linkText}">
                                        <a href="${eventItems.linkUrl}" target="${eventItems.openInNewTab}" rel="${tems.noFollow}" class="list-event-tile__item-action-link" data-tracking-click-event="linkClick"
                                             data-tracking-web-interaction-value="${eventItems.linkInteraction}"
                                             data-tracking-click-info-value="{'linkClick':'${eventItems.linkText}'}">
                                            ${eventItems.linkText}
                                            <img src="${eventItems.linkIcon}" alt="${eventItems.linkIconAltText}" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                   <sly data-sly-test="${!eventItems.linkText}">
				
                    </a>
					</sly>
                </sly>
            </div>
        </div>
    </section>
</sly>
