<sly data-sly-test="${wcmmode.edit}">
    <p class="cq-placeholder" data-emptytext="${component.title}"></p>
</sly>
<sly data-sly-use.model="com.techcombank.core.models.ArticlesRelatedPostModel" data-sly-test="${!model.hideStatus}">
    <section data-sly-test=${model.relatedPost} class="article-related-post">
        <h2 class="article-related-post_title">
            ${model.titleText}
        </h2>
        <div class="article-related-post_content">
            <div class="article-related-post_list" data-sly-list.article="${model.relatedPost}">
                <div class="article-card">
                    <div class="article-card_container">
                        <div class="article-card_container_image" aria-hidden="true">
                    <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;">
                      <picture>
                          <source media="(max-width: 360px)" srcset="${article.mobileImage}"/>
                          <source media="(max-width: 576px)" srcset="${article.mobileImage}"/>
                          <source media="(min-width: 1080px)" srcset="${article.webImage}"/>
                          <source media="(min-width: 1200px)" srcset="${article.webImage}"/>
                          <img class="home-page-left__item--img" src="${article.webImage}" alt="${article.altText}"/>
                      </picture>
                    </span>
                        </div>
                        <div class="article-card_content">
                            <div class="article-card_content_top">
                                <div class="article-label">
                                    <span>${article.articleCreationDate}</span>
                                </div>
                                <div class="article-title">${article.title}</div>
                                <p class="article-content">${article.description}</p>
                            </div>
                            <div>
                                <a href="${article.path}" target="${model.newTab == 'true' ? '_blank' : '_self'}" rel="noopener noreferrer" class="article-viewmore" style="justify-content: flex-start;"
                                   data-tracking-click-event="articleView"
                                   data-tracking-click-info-value="{'articleName': '${article.title}'}"
                                   data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': 'other'}}">
                                    <span class="button-text">${model.viewMore}</span>
                                    <div class="button-icon">
                                        <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-arrow-icon.svg"/>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</sly>
