.page{
  .banner{
    color:$color-text-white;
    .h1-home, .h2-home, .h3-home, h1, h2, h3, h4{
      color:$color-text-white;
    }
  }
  .banner-color{
    background: $color-background-banner url('../resources/images/corner.svg');
    background-repeat: no-repeat;
    background-size: 8%;
  }
  .banner-image{
    background-image: url('../resources/images/banner-image1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .banner-container{
    width: 100%;
    padding:85px;
    input, select{
     margin-right: 14px;
    }
  }
  div[class^='col-lg-'] .banner-container{
    padding:36px;
  }
}

@media screen and (max-width: $screen-tablet-min){
  .page{
    .banner-container{
      padding:36px !important;
      input, select, button{
        width: 100%;
        margin-right:0;
      }
      [class*="col-lg"]{
        margin-bottom: 34px;
      }
    }
  }
}

@media screen and (max-width: $screen-mobile){
  .page{
    .banner-container{
      [class*="col-"]{
        margin-bottom: 34px;
      }
      .reverse{
        flex-direction: column-reverse;
      }
    }
  }
}