$max_width_mini_laptop: 1300px;
    
header{
    position: relative;
}
.base_header{
    position: relative;
    background: $color-bg-top-header;
    &:before{
        content: '';
        height: 157px;
        width: 100px;
        background-image: url(/content/dam/kemin-redesign/header_corner_image.png);
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 0;
        background-size: contain;
    }
    .top-header-pd{
        padding-bottom: 16px;
        padding-top: 16px;
    }
    .map_heading{
        margin-left:70px;
        padding-bottom: 16px;
        padding-top: 16px;
        p{
            .icon-globe{
                margin-right: 10px;
                font-size: 24px;
                position: relative;
                top: 4px;
            }
            .icon-chevron-down{
                font-size: 7px;
                margin-left: 7px;
            }
            line-height: 27px;
            font-size: 17px;
            margin-bottom: 0px;
        }
        a{
            text-decoration: underline;
            color:$color-text;
            font-size: 17px;
            line-height: 27px;
        }
    }
    .lang_heading{
        p{
            .icon-translate{
                margin-right: 10px;
                font-size: 24px;
                position: relative;
                top: 4px;
            }
            .icon-chevron-down{
                cursor: pointer;
                font-size: 7px;
                margin-left: 7px;
            }
            font-size: 17px;
            margin-bottom: 0px;
        }
        a{
            text-decoration: underline;
            color:$color-text;
            font-size: 17px;
            line-height: 27px;
        }
    }
}
.header_section_logo{
    .logo_section{
        .xs-drop{
            align-self: center;
        }
        .logo_header{
            align-items: center;
            display: flex;
            .header_drpdwn_link{
                width:50%;
            }
            .lg-search{
                padding: 48px 15px 36px 15px;
                text-align: center;
                width: 15%;
                flex: 0 0 auto;
                .search_icon{
                    position: relative;
                    top: -14px;
                }
            }
            .lg-hover-search{
                background: $color-link;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    width: 0;
                    height: 0;
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-bottom: 15px solid $color-link;
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                    left: 33px;
                    top: 93px;
                    z-index: 4;
                }
            }
            .search_icon{
                .icon-search{
                    font-size:25px;
                    cursor: pointer;
                }
            }
            .logo{
                width: 35%;
                align-self: center;
                position: relative;
                bottom: 9px;
                img{
                    margin-left: 0;
                    width: 80%;
                }
            }
        }
        .self-align{
            align-self: center;
        }
        .xs-show{
            display: none;
        }
        .search-container{
            display: none;
        }
        .popular_searches{
            display: none;
        }
        nav{
            .header_drpdwn_link{
                display: none;
            }
            float:right;
            .navbar-collapse{
                position: relative;
                top: -9px;
            }
            .navbar-toggler{
                span{
                    color:$color-link;
                }
            }
            .navbar-nav{
                .nav-item{
                    margin-right: 15px;
                    .nav-link{
                        font-size: 19px;
                        line-height: 27px;
                    }
                    .nav-link:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
.search_box{
    display: none;
    background: $color-headings;
    padding-top: 40px;
    margin-top: -19px;
    position: absolute;
    width: 100%;
    border-top: 15px solid $color-universal;
    z-index: 3;
    .popular_bg{
        background:$color-universal;
        padding-top: 30px;
        padding-bottom: 30px;
        h3{
            color:$color-text-white;
            font-size: 32px;
            line-height: 80px;
        }
        ul{
            list-style: none;
            padding-left: 0px;
            margin-bottom: 0px;
            li{
                a{
                    font-size: 18px;
                    line-height: 30px;
                    color: $color-text-white;
                    text-decoration: underline;
                }
            }
        }  
    }
    .search_input{
        display: inline-flex;
        width: 100%;
        padding-bottom: 40px;
        input{
            margin-bottom: 0px;
            width: 80%;
            margin-right: 20px;
        }
        button{
            width: 10%;
            border-radius: 3.75px;
            background: transparent;
            border: 2px solid $color-text-white;
            color: $color-text-white;
            font-weight: bold;
            line-height: 28px;
            &:hover{
                background:$color-btn-hover;
                border-color: $color-btn-hover;
            }
        }
    }
}

@media screen and (max-width:$screen-mobile){
    .base_header{
        &:before {
            content: '';
            background-image: url(/content/dam/kemin-redesign/header_corner_image.png);
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            height: 94px;
            background-size: 100% 100%;
            width: 52px;
            top: 0;
        }
        .top-header-pd{
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .text_map{
            display: none;
        }
       
        .lang_header{
            padding: 0px 0px !important;
            .map_heading {
                padding:5px 0;
                margin-left: 20px;
                .icon-globe {
                    font-size: 15px;
                    margin-right: 0px;
                }
                a{
                    font-size: 13px;
                }
            }
            .lang_heading{
                .icon-translate {
                    font-size: 15px;
                    margin-right: 0px;
                }
                a{
                    font-size: 13px;
                }
            }
        }
        
    }
    .header_section_logo{
        .logo_section{
            padding: 0px 15px !important;
            .xs-drop{
                padding: 0px;
                .navbar-collapse{
                    margin-top: -3px;
                    position: absolute;
                    top: 58px;
                    width: 100%;
                    left: -15px;
                    z-index:3;
                    .navbar-nav{
                        background: $color-headings;
                        padding: 0px 15px 10px;
                        border-top: 15px solid $color-universal;
                        .nav-link:first-of-type{
                            display: flex;
                            span{
                                position: relative;
                                top:2px;
                                font-size: 18px;
                                margin-right: 8px;
                            }
                        }
                        .nav-link {
                            color:$color-text-white;
                            font-size: 14px;
                            line-height:20px;
                            margin-bottom: 10px;
                            padding: 4px 0px 0px 0px;
                            text-decoration: underline;
                        }
                    }
                }
                .xs-hover-menu {
                    background:$color-link;
                    position: relative;
                    padding: 15px 15px 15px 15px;
                    z-index: 4;
                    &:before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        width: 0;
                        height: 0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 15px solid $color-link;
                        -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                        left: 12px;
                        top: 55px;
						z-index: 4;
                    }
                }
            }
            .self-align{
                align-self: center;
                display: none;
            }
            .xs-show{
                display: block;
                width:30%;
                img{
                    width: 85%;
                    margin-left: 17px;
                }
            }
            .search-container{
                display: block;
                background: $color-headings;
                padding: 15px;
                border-top: 2px solid $color-universal;
                form{
                    display: inline-flex;
                    width: 100%;
                    input{
                        margin-bottom: 0px;
                        border-radius: 6px 0px 0px 6px;
                        width: 80%;
                    }
                    button{
                        border-radius: 0px 6px 6px 0px;
                        width: 20%; 
                    }
                }
            }
            .popular_searches{
                display: block;
                background: $color-universal;
                padding: 10px 15px 10px 15px;
                h3{
                    color:$color-text-white;
                    font-size: 22px;
                }
                ul{
                    padding-left: 0px;
                    list-style: none;
                    margin-bottom: 0px;
                    li{
                        text-decoration: underline;
                        a{
                            font-size: 14px;
                            color:$color-text-white;
                        }
                    }
                }
            }
            .logo_header{
                .logo{
                    margin-left: 0;
                    img{
                        width: 100%;
                    }
                }
            }
            nav{
                width:100%;
                display: inline-flex;
                position: relative;
                padding-top:0px;
                .header_drpdwn_link{
                    display: block;
                    width:55%;
                    left: 5px;
                    position: relative;
                }
                .navbar-toggler{
                    .icon-menu{
                        font-size: 12px;
                    }
                }
            }
        }
    }   
}

@media screen and (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max){
    .base_header{
        &:before {
            content: '';
            background-image: url(/content/dam/kemin-redesign/header_corner_image.png);
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            height: 135px;
            width: 80px;
            top: 0;
            background-size: contain;
        }
        .lang_header{
            .map_heading{
                p{
                    font-size: 14px;
                    a{
                        font-size: 14px;
                    }
                }
                .icon-globe{
                    font-size: 20px;
                }
            }
            .lang_heading{
                p{
                    font-size: 14px;
                    a{
                        font-size: 14px;
                    }
                }
                .icon-translate{
                    font-size: 20px;
                }
            }
        } 
    }
    .header_section_logo{
        .logo_section{
            .xs-drop{
                .navbar-toggler{
                    display: block;
                }
                .navbar-collapse {
                    margin-top: -3px;
                    display: none !important;
                    position: absolute;
                    top: 85px;
                    z-index: 0;
                    right: 0;
                    width: 738px;
                    .navbar-nav {
                        background: $color-headings;
                        padding: 0px 15px 10px;
                        border-top: 15px solid $color-universal;
                        display: block;
                        .nav-item{
                            .nav-link{
                                color:$color-text-white;
                            }
                        }
                    }
                    .popular_searches {
                        display: block;
                        background: $color-universal;
                        padding: 10px 15px 10px 15px;
                        h3{
                            color:$color-text-white;
                        }
                        ul{
                            list-style: none;
                            padding-left: 0px;
                            li{
                                a{
                                    color:$color-text-white;
                                }
                            }
                        }
                    }
                }
                .open_menu{
                    display: block !important;
                    z-index: 3;
                }
                .close-menu{
                    display: none !important;
                }
                .xs-hover-menu {
                    background: $color-link;
                    position: relative;
                    padding: 25px 15px 25px 15px;
                    z-index:4;
                    bottom:2px;
                    &::before{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        width: 0;
                        height: 0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 15px solid $color-link;
                        -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                        left: 14px;
                        top: 74px;
                    }
                }

            }
            .logo_header{
                .lg-search{
                    width:15%;
                    padding:35px 15px;
                    .search_icon{
                        position:unset;
                        top:unset;
                    }
                }
                .logo{
                    width:30%;
                    img{
                        width: 85%;
                    }
                }
                .search_icon{
                    .icon-search {
                        font-size: 20px;
                        bottom: 6px;
                        position: relative;
                    }
                } 
                .lg-hover-search{
                    &:before{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        width: 0;
                        height: 0;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-bottom: 15px solid $color-link;
                        -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                        left: 16px;
                        top: 76px;
                    }
                }
                .header_drpdwn_link{
                    width:55%;
                    .header-link{
                        a{
                            span{
                                margin-top: 0px;
                            }
                        }
                    }  
                } 
            }
        }
    }
}

@media screen and (min-width: $min_width) and (max-width: $max_width_mini_laptop){
    .logo_section{
        .logo_header{
            .logo{
                img{
                    width: 100%;
                }
            }
            .lg-search{
                .search_icon{
                    .icon-search{
                        font-size: 20px;
                    }
                }
            }
            .lg-hover-search:before {
                content: '';
                left: 23px !important;
                top: 84px !important;
            }
        }
        .header_drpdwn_link{
            .header-link{
                a{
                    font-size: 15px;
                }
            }
        }
        .navbar-collapse{
            .navbar-nav{
                .nav-item{
                    .nav-link{
                        font-size: 14px;
                    }
                }
            }
        }
    }  
}

@media screen and (min-width: $max_width){
    .header_section_logo{
        .logo_section{
            .logo_header{
                .lg-hover-search:before{
                    left: 54px;
                }
            }
        }
    }
}

@media screen and (min-width: 1850px) and (max-width: 2560px){
    .header_section_logo {
        .logo_section {
            .logo_header {
                .logo {
                    img {
                        margin-left: 0;
                        width: 65%;
                    }
                }
            }
        }
    }    
}