.blogcatalogue{
    
    /*Filter Dropdown Start*/
    .kemin-root-accordian {
        &.filter-blog-checkbox{
            .navigation-item-xs {
                .accordion-collapse.collapse.show {
                    border-top: none;
                }
            }
        }
    }
    
    #flush-headingOne .accordion-button {
        padding: 2pt 20px 2pt 0;
    }

    .kemin-root-accordian {
        .kemkin-pdp-accordian{
            .navigation-item-xs{
                .accordion-body{
                    padding:0 12px 0 12px;
                    .accordion-body{
                        padding:0 0 0 12px;
                    }
                }
            }
        }
    }

    .kemin-root-accordian{
        .kemkin-pdp-accordian{
            .accordion-header-xs{
                .navigation-single-url{
                    margin: 0;
                    border-top: none;
                }
            }
            
        }
    } 
    
    .accordion-header {
        position: relative;
    } 
    
    .kemin-root-accordian {
        padding-right: 0;
        .kemin-navigation-mobile {
            .right-triangle {
                background: $color-actions;
                display: inline-block;
                height: 45px;
                top: 0px;
                left: -1px;
                position: relative;
                width: 48px;
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }
            .right-triangle::before {
                border-bottom: 17px solid $color-actions;
                border-left: 24px solid transparent;
                border-right: 24px solid transparent;
                content: "";
                height: 0;
                left: 0;
                position: absolute;
                top: -17px;
                width: 0;
            }
        }

        .kemkin-pdp-accordian {
            span {
                font-size: 25px;
                margin: 0px;
                display: inline-block;
                width: 30px;
                z-index: 1;
                position: relative;
                color: white;
                top: 0px;
                left: -39px;
                img{
                    width: 22px;
                    height: 22px;
                    display: block;
                    margin: auto;
                }
            }
            .accordion-item {
                border-top: none;
                .social-icons{
                    padding-left:27pt;
                }
            }
            
            .inner-container-accordian {
                padding: 12px 16px;
            }
            .accordion-body.accordian-body_mobile {
                padding: 0px;
            }
        
            .pdp-accordian-title {
                font-size: 24px;
                line-height: 36px;
                text-align: left;
                color: $color-headings;
                padding-bottom: 12px;
            }
            .social-icons span{
                display:unset;
            }
        }
        
        .inner-container-accordian{
            .accordion-item {
                &.navigation-item-xs{
                    padding: 0;
                }
                padding: 12px 0 12px 0;
              }
        }


        .kemin-navigation-mobile {
            .accordion-button, .accordion-button:not(.collapsed)  {
                color: $color-headings;

            }
        }

    }
    .navigation-nav-body{
        display: table;
    }
    .navigation-table-cell{
        display: table-cell;
    }

    .filter-checkbox{
        .filter-category{
            h2{
                margin: 0;
                color: $color-copy;
                font-size: 20px;
                letter-spacing: 0;
                line-height: 36px;
                padding-top: 0px;
            }
        }
    }
    .check-filter-box{
        ul{
            padding: 5px 0 0px;
            list-style: none;
            margin-bottom: 0;
    
            li{
                display: flex;
                padding: 5px 0;
                input{
                    height: auto;
                    margin-bottom: 0;
                    position: relative;
                    width: 17px;
                    height: 17px;
                    padding: 0;
                    top:3px;
                    background: $color-background-white;
                    border: 1px solid #7e8c9a;
                    border-radius: 2px;
                    outline: none;
                    transition: all .2s;
                    cursor: pointer;
                }
                .filter-item{
                    margin: 0;
                    font-weight: 400;
                    color: $color-copy;
                    margin-left: 12px;
                    width: auto;
                    font-size: 14px;
                    text-transform: uppercase;
                }
                .filter-value{
                    font-weight: 400;
                    color: $color-copy;
                    margin: 0;
                    margin-left: 5px;
                    width: auto;
                    font-size: 14px;
                }
            }
        }
        .filter-sub-category{
            padding: 0 20px;
            display: none;
        }
    }
    

    .check-filter-box {
        ul{
            li{
                .filter-item{
                    display: block;
                    left: 0;
                }
                .filter-value{
                    left: 0;
                }
            }
        }
    }
    
   
    .check-filter-box {
        ul{
            li{
                .filter-item{
                    display: block;
                    left: 0;
                }
                .filter-value{
                    left: 0;
                }
            }
        }
    }

    /*Filter Dropdown End*/

    .blog_post{
        h2{
            color: $color-headings;
            font-size: 33px;
            letter-spacing: 0;
            line-height: 50px;
       }
    }

    .featureCatalogue{
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    &.feature-content{
        .feature-heading{
            text-align: left;
        }
        .feature-card{
            width: 538px;
            height: 387px;
            display: block;
        }
    }

}
@media screen and(min-width: 1910px) {

.feature-content{
        .feature-heading{
            text-align: left;
        }
        .feature-card{
       .blog-image{
            width: 538px;
            height: 387px;
            display: block;
        }
        }
    }


}