.page {
    .container-fluid-fullwidth{
      width: 100%;
      clear: both;
    }
    .container {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    .container-fullwidth {
        width: 100%;
    }
    .container-kemin {
        max-width: 1920px !important;
        margin: auto;
    }
    .row{
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
        padding-left: 0;
        padding-right: 0;
        }
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-xs-1,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9 {
        padding-right: 0;
        padding-left: 0;
    }
}

/** mobile**/
@media screen and (max-width: 767px) {
    .page {
        .container-kemin {
            padding-right: 30px;
            padding-left: 30px;
        }
    }
}

// Tablet
@media screen and (min-width: 768px) and (max-width: 991px) {
    .page {
        .container-kemin {
            padding-right: 30px;
            padding-left: 30px;
        }
    }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-lpadding($min-vw, $max-vw, $min-padding-left, $max-padding-left) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-padding-left);
  $u4: unit($max-padding-left);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      padding-left: $min-padding-left;
      @media screen and (min-width: $min-vw) {
        padding-left: calc(#{$min-padding-left} + #{strip-unit($max-padding-left - $min-padding-left)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        padding-left: $max-padding-left;
      }
    }
  }
}

@mixin fluid-rpadding($min-vw, $max-vw, $min-padding-right, $max-padding-right) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-padding-right);
  $u4: unit($max-padding-right);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      padding-right: $min-padding-right;
      @media screen and (min-width: $min-vw) {
        padding-right: calc(#{$min-padding-right} + #{strip-unit($max-padding-right - $min-padding-right)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        padding-right: $max-padding-right;
      }
    }
  }
}


.container-kemin {
   $min_lpadding: 30px;
   $max_lpadding: 72px;
   $min_rpadding: 30px;
   $max_rpadding: 72px;

  @include fluid-lpadding($min_width, $max_width, $min_lpadding, $max_lpadding);
  @include fluid-rpadding($min_width, $max_width, $min_rpadding, $max_rpadding);

  @media screen and (max-width: 991px){
    padding-right: 0;
  }
}

