// Margin Override Options //
.cmp-breadcrumb__margin-2{
  margin: 0 0 calculateRem(2);
}
.cmp-breadcrumb__margin-4{
  margin: 0 0 calculateRem(4);
}
.cmp-breadcrumb__margin-8{
  margin: 0 0 calculateRem(8);
}
.cmp-breadcrumb__margin-16{
  margin: 0 0 calculateRem(16);
}
.cmp-breadcrumb__margin-32{
  margin: 0 0 calculateRem(32);
}
.cmp-breadcrumb__margin-64{
  margin: 0 0 calculateRem(64);
}
.cmp-breadcrumb__margin-128{
  margin: 0 0 calculateRem(128);
}

.cmp-breadcrumb__list {
  @include t-14();
  padding-inline-start: 0;
  .cmp-breadcrumb__item {
    display: inline-block;
    .cmp-breadcrumb__item-link {
      text-decoration: none;
      &:after {
        display: inline-block;
        content: "";
        width: calculateRem(10);
        height: calculateRem(10);
        margin: 0 calculateRem(7);
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        position: relative;
        background: center / contain no-repeat url("../../clientlib-site/resources/images/icons/UI/chevron-ash.svg");
      }
      &:hover, &:focus {
        color: $color-charcoal;
      }
      &:active {
        color: $color-coal;
      }
    }
  }
  .cmp-breadcrumb__item--active {
    font-weight: $font-weight-extrabold;
  }
}
.day{
  .cmp-breadcrumb__list {
    .cmp-breadcrumb__item {
      .cmp-breadcrumb__item-link {
        color: $color-cinder;
        &:after {
          background: center / contain no-repeat url("../../clientlib-site/resources/images/icons/UI/chevron-ash.svg");
        }
        &:hover, &:focus {
          color: $color-charcoal;
        }
        &:active {
          color: $color-coal;
        }
      }
    }
    .cmp-breadcrumb__item--active {
      color: $color-coal;
    }
  }
}

.night{
  .cmp-breadcrumb__list {
    .cmp-breadcrumb__item {
      .cmp-breadcrumb__item-link {
        color: $color-ash;
        &:after {
          background: center / contain no-repeat url("../../clientlib-site/resources/images/icons/UI/chevron-cinder.svg");
        }
        &:hover, &:focus {
          color: $color-smoke;
        }
        &:active {
          color: $color-marshmallow;
        }
      }
    }
    .cmp-breadcrumb__item--active {
      color: $color-marshmallow;
    }
  }
}

.left-alignment {
  .cmp-breadcrumb {
    display: flex;
    justify-content: flex-start;
  }
}

.center-alignment {
  .cmp-breadcrumb {
    display: flex;
    justify-content: center;
  }
}

.right-alignment {
  .cmp-breadcrumb {
    display: flex;
    justify-content: flex-end;
  }
}


//Gensis Text Align
.boost,.genesis{
  .cmp-breadcrumb-font-size-label-01{
      .cmp-breadcrumb{
        .cmp-breadcrumb__list{
            font-size: $label-01_breadcum;
          }
        }
    }
    .cmp-breadcrumb-font-size-label-02{
      .cmp-breadcrumb{
        .cmp-breadcrumb__list{
            font-size: $inputenabel-01_breadcum;
          }
        }
    }
    .cmp-breadcrumb-font-size-label-03{
      .cmp-breadcrumb{
        .cmp-breadcrumb__list{
            font-size: $link_large_primary_breadcum;
          }
        }
    }
    .cmp-breadcrumb-font-size-label-04{
      .cmp-breadcrumb{
        .cmp-breadcrumb__list{
            font-size: $product_name_bradcum;
          }
        }
    }
    .cmp-breadcrumb-font-size-label-05{
      .cmp-breadcrumb{
        .cmp-breadcrumb__list{
            font-size:$product_value_primary_breadcum;
          }
        }
    }
  }
 
  


