.page{
    .btn{
        min-width: 100px;
        padding: 10px 32px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 28px;
        text-align: center;
        margin-right: 3px;
        & + .btn{
            margin-left: 14px;
        }
        &.btn-primary{
            background-color: $color-btn-primary;
            border: 2px solid $color-btn-primary;
            color: $color-btn-secondary;
            a{
                color: $color-btn-secondary; 
                cursor: pointer;
                text-decoration: none;
            }
        }
        &.btn-secondary{
            background-color: transparent;
            border: 2px solid $color-btn-primary;
            color: $color-btn-primary;
            a{
                color: $color-btn-primary;
                cursor: pointer;
                text-decoration: none;
            }
        }
        &:hover{
            background-color: $color-btn-hover;
            border: 2px solid $color-btn-hover;
            color: $color-btn-secondary;
            cursor: pointer;
            text-decoration: none;
            a{
                color: $color-btn-secondary;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
    a.btn{
        line-height: 28px;
        display: inline-block;
        min-width:100px;
        max-width: max-content;
    }
    .banner{
        .btn{
            &.btn-primary{
                background-color: $color-btn-secondary;
                border: 2px solid $color-btn-secondary;
                color: $color-btn-primary;
            }
            &.btn-secondary{
                border: 2px solid $color-btn-secondary;
                color: $color-btn-secondary;
            }
            &:hover{
                background-color: $color-btn-secondary;
                border: 2px solid $color-btn-secondary;
                color: $color-btn-hover;
                cursor: pointer;
                text-decoration: none;
                a{
                    color: $color-btn-hover;
                    cursor: pointer;
                    text-decoration: none;  
                }
            }
        }
    }
}