// .cmp-carousel {
//     position: relative;
//     margin-bottom: 4rem;
        
//     .cmp-carousel__content {
//         position: relative;
//         background: transparent;

//         .image{
//             position:relative;
//             top:50%;
//             transform: translateY(-50%);
//         }
//     }
//     .cmp-image {
//         position: relative;
//     }
//     .cmp-image__image{
//         display: block;
//         // width: auto;
//         margin: 0 auto;
//         height: 80vh;
//         transition: width 1s cubic-bezier(0, 0.48, 0.19, 1.01);
//         object-fit: contain;
//         width: 100%;
//     }
//     .cmp-carousel__item {
//         display: none;
//         height: 80vh;
//         margin: 0 calculateRem(72);
//     }
//     .cmp-carousel__item--active {
//         display: block;
//     }
//     .cmp-carousel__actions {
//         display: flex;
//         flex-direction: row;
//         position: absolute;
//         bottom: calculateRem(30);
//         right: 0;
//         top: 0;
//         align-items: center;
//         width: 100%;
//     }
//     .cmp-carousel__action {
//         background-color: #f5f5f5;
//         -webkit-appearance: none;
//         -moz-appearance: none;
//         appearance: none;

//         width: 1.875rem;
//         height: 1.875rem;
//         border: 0;
//         padding: .375rem;
//         line-height: 1.875rem;
//         cursor: pointer;
//         color: inherit;
//         outline: none;
//     }
//     .cmp-carousel__action--previous .cmp-carousel__action-icon:before {
//         // content: 'chevron_left';
//         content: '\e905';
//     }    
//     .cmp-carousel__action--next .cmp-carousel__action-icon:before {
//         // content: 'chevron_right';
//         content: '\e907';
//     }
//     .cmp-carousel__action--pause .cmp-carousel__action-icon:before {
//         content: '\e902';
//         // content: 'pause';
//     }
//     .cmp-carousel__action--play .cmp-carousel__action-icon:before {
//         // content: 'play_arrow';
//         content: '\e903';
//     }
//     .cmp-carousel__action-icon:before {
//         display: inline-block;
//         vertical-align: middle;
//         font-family: 'icon-carousel';
//         font-weight: normal;
//         font-style: normal;
//         font-size: calculateRem(40);
//         line-height: calculateRem(16);
//         margin-left: -calculateRem(-2);
//         text-transform: none;
//         letter-spacing: normal;
//         word-wrap: normal;
//         white-space: nowrap;
//         direction: ltr;
//         -webkit-font-smoothing: antialiased;
//         text-rendering: optimizeLegibility;
//         -moz-osx-font-smoothing: grayscale;
//         font-feature-settings: 'liga';
//     }

//     .cmp-carousel__action-text {
//         display: none;
//     }    
//     .cmp-carousel__action--disabled {
//         display: none !important;
//     }
//     .cmp-carousel__action--previous {
//         position: absolute;
//         left: 0;
//         order: 1;
//         width: 3rem;
//         height: 3rem;
//         box-shadow: 0 1.3125rem 3.25rem -0.625rem rgba(0,0,0,.16);
//         border-radius: 50%;
//         outline: none;
//         margin-left: 3rem;
//         padding-left: 5px;
//     }
//     .cmp-carousel__action--next {
//         position: absolute;
//         right: 0;
//         order: 4;
//         width: 3rem;
//         height: 3rem;
//         box-shadow: 0 1.3125rem 3.25rem -0.625rem rgba(0,0,0,.16);
//         border-radius: 50%;
//         outline: none;
//         margin-right: 3rem;
//     }
//     .cmp-carousel__action--pause {
//         order: 2;
//     }
//     .cmp-carousel__action--play {
//         order: 3;
//     }
//     .cmp-carousel__action-icon {}
//     .cmp-carousel__action-text {}
//     .cmp-carousel__indicators {        
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: center;
//         align-items: center;
//         height: 1.875rem;
//         margin: 0;
//         padding: 0;
//         list-style: none;
//         order: 3;

//         .cmp-carousel__action--pause{
//             background-color: transparent;
//             position: relative;
//             border-radius: 50%;
//             height: calculateRem(18);
//             width: calculateRem(18);
//             border: calculateRem(2) solid #C4C4CA;
//             display: block;
//             margin-right: calculateRem(5);

//             .cmp-carousel__action-icon::before{
//                 font-size: calculateRem(6);
//                 line-height: calculateRem(6);
//                 position: absolute;
//                 top: 50%;
//                 right: calculateRem(4);
//                 transform: translateY(-50%);
//             }
//         }
//         .cmp-carousel__action--play{
//             position: relative;
//             height: calculateRem(18);
//             width: calculateRem(18);
//             display: block;
//             margin-right: calculateRem(5);

//             .cmp-carousel__action-icon::before{
//                 font-size: calculateRem(8);
//                 line-height: calculateRem(8);
//                 position: absolute;
//                 top: 51%;
//                 right: calculateRem(3);
//                 transform: translateY(-50%);
//             }
//         }
//     }
//     .cmp-carousel__indicator {
//         border: calculateRem(2) solid transparent;
//         border-radius: 50%;
//         height: calculateRem(14);
//         width: calculateRem(14);
//         background: transparent;
//         cursor: pointer;
//         outline: none;
//     }
//     .inner {
//         border-radius: 50%;
//         width: 70%;
//         height: 70%;
//         position: absolute;
//         top: calculateRem(2.3);
//         left: 16%;
//         background-color: $color-cinder;
//     }
//     .cmp-carousel__indicator--active {
//         background-color: #171725;
//         border-radius: 50%;
//         height: calculateRem(14);
//         width: calculateRem(14);
//         border: calculateRem(2) solid #C4C4CA;

//         .inner{
//             border-radius: 50%;
//             width: 70%;
//             height: 70%;
//             position: absolute;
//             top: calculateRem(2.3);
//             left: 16%;
//             background-color: #999;
//         }
//     }

//     .cmp-carousel__indicators {
//         .cmp-carousel__action{
//             background-color: transparent;
//         }
//         .cmp-carousel__action-icon:before{
//             font-size: calculateRem(14);
//             line-height: calculateRem(6);
//         }
//     }
//     .hideCarouselbutton{
//         display: none;
//     }
// }

// //bottom margin
// .cmp-carousel__bm-0{
//     margin-bottom: 0rem;
// }
// .cmp-carousel__bm-0125{
//     margin-bottom: 0.125rem;
// }
// .cmp-carousel__bm-025{
//     margin-bottom: 0.25rem;
// }
// .cmp-carousel__bm-05{
//     margin-bottom: 0.5rem;
// }
// .cmp-carousel__bm-1{
//     margin-bottom: 1rem;
// }
// .cmp-carousel__bm-2{
//     margin-bottom: 2rem;
// }
// .cmp-carousel__bm-4{
//     margin-bottom: 4rem;
// }
// .cmp-carousel__bm-8{
//     margin-bottom: 8rem;
// }

// //carousel height
// .cmp-carousel__height-30{
//     .cmp-carousel .cmp-carousel__content .cmp-carousel__item{
//         height: 30vh;
//     }

//     .cmp-carousel .cmp-image__image{
//         height: 30vh;
//     }
// }
// .cmp-carousel__height-50{
//     .cmp-carousel .cmp-carousel__content .cmp-carousel__item{
//         height: 50vh;
//     }

//     .cmp-carousel .cmp-image__image{
//         height: 50vh;
//     }
// }
// .cmp-carousel__height-80{
//     .cmp-carousel .cmp-carousel__content .cmp-carousel__item{
//         height: 80vh;
//     }

//     .cmp-carousel .cmp-image__image{
//         height: 80vh;
//     }
// }
// .day{
//     .carousel{
//         .cmp-carousel__action--previous{
//             .cmp-carousel__action-icon:before {
//                color: $color-cinder;
//             }
//             &:hover{
//                 .cmp-carousel__action-icon:before {
//                     color: $color-charcoal;
//                 } 
//             }
//             &.active{
//                 .cmp-carousel__action-icon:before {
//                     color: $color-coal;
//                 }  
//             }
//         }
//         .cmp-carousel__action--next{
//             .cmp-carousel__action-icon:before {
//                 color: $color-cinder;
//             }
//             &:hover{
//                 .cmp-carousel__action-icon:before {
//                     color: $color-charcoal;
//                 } 
//             }
//             &.active{
//                 .cmp-carousel__action-icon:before {
//                     color: $color-coal;
//                 }  
//             }
//         }
//         .cmp-carousel__indicator {
//             .inner {
//                 background-color: $color-cinder;
//             }
//             &.cmp-carousel__indicator--active{
//                 background-color: transparent;
//                 border: calculateRem(2) solid $color-coal;
//                 .inner{
//                     background-color: $color-coal;
//                 }
//             }
//             &:hover {
//                 border: calculateRem(2) solid $color-ash;
//                 border-radius: 50%;
//                 height: calculateRem(14);
//                 width: calculateRem(14);
//                 background: transparent;
//                 .inner {
//                     border-radius: 50%;
//                     width: 70%;
//                     height: 70%;
//                     position: absolute;
//                     top: calculateRem(2.3);
//                     left: 16%;
//                     background-color: $color-coal;
//                 }
//             }
//         }
        
//     }
//    .cmp-header__smoke{
//         .cmp-carousel__action--previous{
//             background-color: $color-marshmallow;
//         }
//         .cmp-carousel__action--next{
//             background-color: $color-marshmallow;
//         }
//     }
//     .cmp-header__marshmallow{
//         .cmp-carousel__action--previous{
//             background-color: $color-smoke;
//         }
//         .cmp-carousel__action--next{
//             background-color: $color-smoke;
//         }
//     }
// }
// .night{
//     .carousel{
//         .cmp-carousel__action--previous{
//             .cmp-carousel__action-icon:before {
//                color: $color-ash;
//             }
//             &:hover{
//                 .cmp-carousel__action-icon:before {
//                     color: $color-smoke;
//                 } 
//             }
//             &.active{
//                 .cmp-carousel__action-icon:before {
//                     color: $color-marshmallow;
//                 }  
//             }
//         }
//         .cmp-carousel__action--next{
//             .cmp-carousel__action-icon:before {
//                 color: $color-smoke
//             }
//             &:hover{
//                 .cmp-carousel__action-icon:before {
//                     color: $color-ash;
//                 } 
//             }
//             &.active{
//                 .cmp-carousel__action-icon:before {
//                     color: $color-marshmallow;
//                 }  
//             }
//         }
        
//         .cmp-carousel__indicator {
//             .inner {
//                 background-color: $color-ash;
//             }
//             &.cmp-carousel__indicator--active{
//                 background-color: transparent;
//                 border: calculateRem(2) solid $color-marshmallow;
//                 .inner{
//                     background-color: $color-marshmallow;
//                 }
//             }
//             &:hover {
//                 border: calculateRem(2) solid $color-cinder;
//                 border-radius: 50%;
//                 height: calculateRem(14);
//                 width: calculateRem(14);
//                 background: transparent;
//                 .inner {
//                     border-radius: 50%;
//                     width: 70%;
//                     height: 70%;
//                     position: absolute;
//                     top: calculateRem(2.3);
//                     left: 16%;
//                     background-color: $color-smoke;
//                 }
//             }
//         }
//     }
    
//     .cmp-header__coal{
//         .cmp-carousel__action--previous{
//             background-color: $color-charcoal;
//         }
//         .cmp-carousel__action--next{
//             background-color: $color-charcoal;
//         }
//     }
//     .cmp-header__charcoal{
//         .cmp-carousel__action--previous{
//             background-color: $color-coal;
//         }
//         .cmp-carousel__action--next{
//             background-color: $color-coal;
//         }
//     }
// }
// @media only screen and (max-width: 1024px){
//     .cmp-carousel{
//         .cmp-image__image{
//             width: 100%;
//         }
//         .cmp-carousel__actions{
//             display: none;
//         }
//         .cmp-carousel__item {
//             margin: 0 1rem;
//         }
//     }
// }

.carousel{
    display: flex;
    align-items: center;
    justify-content: center;    
    position: relative;

    
.cmp-carousel__content {
    position: relative;
}   
.cmp-carousel__item--active {
    display: block !important;
}
.cmp-carousel__item {
    display: none;
    height: 30vh;
    overflow: hidden;
}
.image{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.cmp-image {
    position: relative;
}
.cmp-image__image {
    display: block;
}
.cmp-image__image {
    width: 100%;
}
.cmp-carousel__actions {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: calculateRem(50);
    right: 0;
    top: 0;
    align-items: center;
    width: 100%;
}

.cmp-carousel__action--previous {
    order: 1;
    position: absolute;
    left: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    outline: none;
    margin-left: -54px;
    padding-left: 5px;
}
.cmp-carousel__action {
    border: 0;
    padding: .375rem;
    line-height: 1.875rem;
    cursor: pointer;
    color: inherit;
    -webkit-appearance: 'none';
    -moz-appearance: 'none';
    appearance: 'none';
    background-color: $color-smoke;
}
.cmp-carousel__action--previous .cmp-carousel__action-icon:before {
    // content: 'chevron_left';
    content: '\e905';
}    
.cmp-carousel__action--next .cmp-carousel__action-icon:before {
    // content: 'chevron_right';
    content: '\e907';
}
.cmp-carousel__action--pause .cmp-carousel__action-icon:before {
    content: '\e902';
    // content: 'pause';
}
.cmp-carousel__action-icon:before {
    display: inline-block;
    vertical-align: top;
    font-family: 'icon-carousel';
    font-weight: normal;
    font-style: normal;
    font-size: 1.125rem;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}
.cmp-carousel__action-text {
    display: none;
}
.cmp-carousel__action--next {
    order: 4;
    position:absolute;
    right: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    outline: none;
    margin-right: -54px;
}
.cmp-carousel__action-icon:before {
    display: inline-block;
    vertical-align: middle;
    font-family: 'icon-carousel';
    font-weight: normal;
    font-style: normal;
    font-size: 2.125rem;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}
.cmp-carousel__indicators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 1.875rem;
    margin: 14px 0 0 0;
    padding: 0;
    list-style: none;
    
    .cmp-carousel__action{
        background-color: transparent;
    }
    .cmp-carousel__action-icon:before{
        font-size: calculateRem(14);
        line-height: calculateRem(6);
    }
    
    .cmp-carousel__indicator {
        // border: calculateRem(2) solid transparent;
        // border-radius: calculateRem(4);
        // height: calculateRem(19);
        // width: calculateRem(3);
        // background: transparent;
        cursor: pointer;
        outline: none;
    }
    .inner {
        border-radius: calculateRem(4);
        height: calculateRem(3);
        width: calculateRem(19);
        position: absolute;
        top: calculateRem(2.3);
        left: 16%;
        background-color: #E0E0E0;
    }
    .cmp-carousel__indicator--active {
        // background-color: #171725;
        // border-radius: calculateRem(4);
        // height: calculateRem(19);
        // width: calculateRem(3);
        // border: calculateRem(2) solid #C4C4CA;
        cursor: pointer;

        .inner{
            border-radius: calculateRem(4);
            height: calculateRem(3);
            width: calculateRem(19);
            position: absolute;
            top: calculateRem(2.3);
            left: 16%;
            background-color: #212121;
        }
    }

    .cmp-carousel__action--pause{
        background-color: transparent;
        position: relative;
        border-radius: 50%;
        height: calculateRem(18);
        width: calculateRem(18);
        border: calculateRem(2) solid #C4C4CA;
        display: block;
        margin-right: calculateRem(5);

        .cmp-carousel__action-icon::before{
            font-size: calculateRem(6);
            line-height: calculateRem(6);
            position: absolute;
            top: 50%;
            right: calculateRem(4);
            transform: translateY(-50%);
        }
    }
    .cmp-carousel__action--play .cmp-carousel__action-icon:before {
        // content: 'play_arrow';
        content: '\e903';
    }
    .cmp-carousel__action--play{
        position: relative;
        height: calculateRem(18);
        width: calculateRem(18);
        display: block;
        margin-right: calculateRem(5);

        .cmp-carousel__action-icon::before{
            font-size: calculateRem(8);
            line-height: calculateRem(8);
            position: absolute;
            top: 51%;
            right: calculateRem(3);
            transform: translateY(-50%);
        }
    }
}
.hideCarouselbutton{
    display: block;
}
.cmp-carousel__action--disabled {
    display: none !important;
}
}
.cmp-carousel__indicator {
    background-color: transparent;
}

//bottom margin
.cmp-carousel__bm-0{
    margin-bottom: 0rem;
}
.cmp-carousel__bm-0125{
    margin-bottom: 0.125rem;
}
.cmp-carousel__bm-025{
    margin-bottom: 0.25rem;
}
.cmp-carousel__bm-05{
    margin-bottom: 0.5rem;
}
.cmp-carousel__bm-1{
    margin-bottom: 1rem;
}
.cmp-carousel__bm-2{
    margin-bottom: 2rem;
}
.cmp-carousel__bm-4{
    margin-bottom: 4rem;
}
.cmp-carousel__bm-8{
    margin-bottom: 8rem;
}

//carousel height
.cmp-carousel__height-30{
    .cmp-carousel .cmp-carousel__content .cmp-carousel__item{
        height: 30vh;
    }

    .cmp-carousel .cmp-image__image{
        height: 30vh;
    }
}
.cmp-carousel__height-50{
    .cmp-carousel .cmp-carousel__content .cmp-carousel__item{
        height: 50vh;
    }

    .cmp-carousel .cmp-image__image{
        height: 50vh;
    }
}
.cmp-carousel__height-80{
    .cmp-carousel .cmp-carousel__content .cmp-carousel__item{
        height: 80vh;
    }

    .cmp-carousel .cmp-image__image{
        height: 80vh;
    }
}
.day{
    .carousel{
        .cmp-carousel__action--previous{
            .cmp-carousel__action-icon:before {
               color: $color-cinder;
            }
            &:hover{
                .cmp-carousel__action-icon:before {
                    color: $color-charcoal;
                } 
            }
            &.active{
                .cmp-carousel__action-icon:before {
                    color: $color-coal;
                }  
            }
        }
        .cmp-carousel__action--next{
            .cmp-carousel__action-icon:before {
                color: $color-cinder;
            }
            &:hover{
                .cmp-carousel__action-icon:before {
                    color: $color-charcoal;
                } 
            }
            &.active{
                .cmp-carousel__action-icon:before {
                    color: $color-coal;
                }  
            }
        }
        .cmp-carousel__indicator {
            .inner {
                background-color: #E0E0E0;
            }
            &.cmp-carousel__indicator--active{
                background-color: transparent;
                border: calculateRem(2) solid transparent;
                .inner{
                    background-color: #212121;
                }
            }
            // &:hover {
            //     border: calculateRem(2) solid $color-ash;
            //     border-radius: 50%;
            //     height: calculateRem(14);
            //     width: calculateRem(14);
            //     background: transparent;
            //     .inner {
            //         border-radius: 50%;
            //         width: 70%;
            //         height: 70%;
            //         position: absolute;
            //         top: calculateRem(2.3);
            //         left: 16%;
            //         background-color: $color-coal;
            //     }
            // }
        }
        
    }
   .cmp-header__smoke{
        .cmp-carousel__action--previous{
            background-color: transparent;
        }
        .cmp-carousel__action--next{
            background-color: transparent;
        }
    }
    .cmp-header__marshmallow{
        .cmp-carousel__action--previous{
            background-color: transparent;
        }
        .cmp-carousel__action--next{
            background-color: transparent;
        }
    }
}
.night{
    .carousel{
        .cmp-carousel__action--previous{
            .cmp-carousel__action-icon:before {
               color: $color-ash;
            }
            &:hover{
                .cmp-carousel__action-icon:before {
                    color: $color-smoke;
                } 
            }
            &.active{
                .cmp-carousel__action-icon:before {
                    color: $color-marshmallow;
                }  
            }
        }
        .cmp-carousel__action--next{
            .cmp-carousel__action-icon:before {
                color: $color-smoke
            }
            &:hover{
                .cmp-carousel__action-icon:before {
                    color: $color-ash;
                } 
            }
            &.active{
                .cmp-carousel__action-icon:before {
                    color: $color-marshmallow;
                }  
            }
        }
        
        .cmp-carousel__indicator {
            .inner {
                background-color: #E0E0E0;
            }
            &.cmp-carousel__indicator--active{
                background-color: transparent;
                border: calculateRem(2) solid transparent;
                .inner{
                    background-color: #212121;
                }
            }
            // &:hover {
            //     border: calculateRem(2) solid $color-cinder;
            //     border-radius: 50%;
            //     height: calculateRem(14);
            //     width: calculateRem(14);
            //     background: transparent;
            //     .inner {
            //         border-radius: 50%;
            //         width: 70%;
            //         height: 70%;
            //         position: absolute;
            //         top: calculateRem(2.3);
            //         left: 16%;
            //         background-color: $color-smoke;
            //     }
            // }
        }
    }
    
    .cmp-header__coal{
        .cmp-carousel__action--previous{
            background-color: $color-charcoal;
        }
        .cmp-carousel__action--next{
            background-color: $color-charcoal;
        }
    }
    .cmp-header__charcoal{
        .cmp-carousel__action--previous{
            background-color: $color-coal;
        }
        .cmp-carousel__action--next{
            background-color: $color-coal;
        }
    }
}
@media only screen and (max-width: 1024px){
    .cmp-carousel{
        .cmp-image__image{
            width: 100%;
        }
        .cmp-carousel__actions{
            display: none;
        }
        .cmp-carousel__item {
            margin: 0 1rem;
        }
    }
}
