// Desktop Only
@media screen and (min-width: 992px) {
    .column-two-type {
        .column-fifty-fifty {
            .col-lg-6:first-of-type {
                padding-right: 32.5px;
            }
            .col-lg-6:last-of-type {
                padding-left: 32.5px;
            }
        }

        .column-forty-sixty {
            .col-lg-5 {
                padding-right: 32.5px;
            }
            .col-lg-7 {
                padding-left: 32.5px;
            }
        }

        .column-sixty-forty {
            .col-lg-7 {
                padding-right: 32.5px;
            }
            .col-lg-5 {
                padding-left: 32.5px;
            }
        }

        .column-thirty-seventy {
            .col-lg-4 {
                padding-right: 32.5px;
            }
            .col-lg-8 {
                padding-left: 32.5px;
            }
        }

        .column-seventy-thirty {
            .col-lg-8 {
                padding-right: 32.5px;
            }
            .col-lg-4 {
                padding-left: 32.5px;
            }
        }

        .column-eighty-twenty {
            .col-lg-10 {
                padding-right: 32.5px;
            }
            .col-lg-2 {
                padding-left: 32.5px;
            }
        }

        .column-twenty-eighty {
            .col-lg-10 {
                padding-left: 32.5px;
            }
            .col-lg-2 {
                padding-right: 32.5px;
            }
        }

        .column-ninty-ten {
            .col-lg-11 {
                padding-right: 32.5px;
            }
            .col-lg-1 {
                padding-left: 32.5px;
            }
        }

        .column-ten-ninghty {
            .col-lg-1 {
                padding-right: 32.5px;
            }
            .col-lg-11 {
                padding-left: 32.5px;
            }
        }
    }

    .column-three-type {
        .column-three-spacing {
            .col-lg-4 {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }

    .column-four-type {
        .column-four-spacing {
            .col-lg-3 {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

//Mobile
@media screen and (max-width: 767px) {
    .col-md-12,
    .col-sm-12 {
        padding-top: 0;
        padding-bottom: 30px;
    }

    .order-sm-2 {
        -webkit-box-ordinal-group: 3 !important;
        -ms-flex-order: 2 !important;
        order: 2 !important;
    }
}

//Tablet
@media screen and (min-width: 768px) and (max-width: 991px) {
    .column-control {
        .desktop-view-only {
            .col-md-12,
            .col-md-6 {
                padding-bottom: 0;
            }
        }
        .col-md-4,
        .col-md-6 {
            padding-left: 12px;
            padding-right: 12px;
        }
        .col-md-12 {
            padding: 0 0 30px 0;
        }
    }

}
