.moleculeBackgroundSidePanel{
    background-image:url('../resources/images/side-background.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 40%;
}

.moleculeBackgroundComponent{
    background-image:url('../resources/images/side-background.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 75%;
}
.moleculeBackgroundComponentInvert{
    background-image:url('../resources/images/side-background-invert.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 62%;
}

.pdptitle{
    max-width: 1800px;
    margin: 0 0 32px;
}

.coveo-main-section{
    .coveo-results-column{ 
        .CoveoResultsPerPage{ 
            .coveo-results-per-page-text {
                margin: 0 15px;
            }
        }
    }
}
#coveoSearchDivSuggestionsDiv{ 
    .searchSuggestions {
        padding-top: 36px;
    }
}

.coveo-main-section{ 
    .coveo-results-column{ 
        .coveo-search-section{ 
            .CoveoSearchbox{
                margin-right: 20px;
            }
        }
    }
}
.coveo-main-section{ 
    .coveo-results-column {
        //padding: 10px 10px 10px 0px;
    }
}
.coveo-dynamic-facet-value {
	.coveo-checkbox-label {
		button+.coveo-checkbox-span-label {
			text-transform: uppercase;
		}
	}
}

/*header search box */
.headerSearchBox{
    .CoveoSearchbox{
        .magic-box-input  {
            input{
                font-size: 17px;
                line-height: 32px;
            }   
        }
    }
} 


.headerSearchBox {
  display:flex!important;
  padding-bottom: 43px;
  
  .CoveoSearchbox {
    width: 80%;
    margin-right: 20px;
  }
  
  .btn-dark {
    width: 10%;
	margin-left:0;
	border-radius: 3.75px;
	background: transparent;
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 28px;
    padding: 10px;
    text-transform: uppercase;
  }
}

.coveo-search{
    .coveo-pager-list-item.coveo-active a, .coveo-pager-list-item:hover a {
        color: $color-universal;
    }
    .CoveoResultList {
        margin-top: 0;
        outline: none;
    }
    #coveoSearchDivSuggestionsHeader{
        .container-kemin{
            padding: 52px 0 0;
            li{
                list-style: none;
            }
        }
    }
    .searchSuggestions{
        ul{
            margin-left: 0;
            padding-left: 0;
            list-style: none;
        }
        .coveo-results-per-page-text {
            padding-right: 15px;
        }
    }
    .kemin-root-accordian{
        .kemkin-pdp-accordian{
            .coveo-checkbox-span-label-suffix{
                padding-left: 5px;
            }
        }    
    }    
    .CoveoSearchInterface{
        font-size: 'inter';
        .coveo-main-section{
            max-width: 1800px;
        }
    }
    .coveo-dynamic-facet-collapse-toggle-svg{
        color: $color-copy;
        visibility: hidden;
    }
    .coveo-search-section{
        margin-top: 39px;
        .btn:hover{
            border: 1px;
        }
    }
    .kemin-root-accordian{
        margin-top: 19px;
        padding-left: 30px;
    }
    .pdp-accordian-title{
        color: $color-headings !important;
        // border-bottom: 2px solid $color-elements;
    }
    .CoveoDynamicFacet {
        background: $color-menus!important;
        &:not(:last-child){
            border-bottom: 1px dashed $color-elements;
        }
        .coveo-dynamic-facet-header-title{
            line-height: 0;
            span{
                margin: 0;
                color: $color-copy;
                font-size: 20px;
                letter-spacing: 0;
                line-height: 36px;
            }
        }
    }
    .coveo-dynamic-facet-values{
        padding: 5px 0 20px 0;
    }
    .coveo-dynamic-facet-value{
        .coveo-checkbox-label{
            span{
                margin: 0;
                width: auto;
                font-weight: normal;
                color: $color-copy;
            }
            &:hover span{
                color: $color-copy;
                opacity: 1;
            }
        }
    }
    .coveo-dynamic-facet-header{
        border-bottom: none;
        padding-top: 15px;
        height: unset;
    }
    .coveo-facet-column{
        background: $color-menus!important;    
        width: 100%!important;
    }
    .CoveoResultList{
        margin-bottom: 37px;
    }
    .coveo-result-frame .coveo-result-cell>*{
        margin: 0;
    }
    .coveo-results-header{
        padding-top: 39px;
        box-shadow: none;
        border-top: 2px solid  $color-elements;
    }
    .coveo-list-layout.CoveoResult{
        border-bottom: 1px dashed $color-elements;
        padding: 25px 0;
    }
    .CoveoQuerySummary, .CoveoQueryDuration{
        color: $color-headings;
        font-size: 33px;
        letter-spacing: 0;
        line-height: 50px;
    }
    .CoveoQueryDuration{
        display: none !important;
    }
    .CoveoPager{
        margin-left: 0;
    }
    .CoveoLogo{
        display: none;
    }
    .coveo-pager-list-item, .coveo-results-per-page-list-item{
        padding: 8px 0;
        margin: 3px;
        height: 48px;
        width: 48px;
        border-radius: 8px;
        border: 2px solid $color-headings;
        text-align: center;
        background-color: $color-background-white;
        &.coveo-active, &:hover{
            background-color: $color-highlights;
            border: 2px solid $color-highlights;
            text-decoration: none;
            a{
                text-decoration: none;
            }
        }
        a{
            color: $color-universal;
            font-size: 16px;
            letter-spacing: 1px;
            line-height: 28px;
            text-align: center;
            &:hover{
                text-decoration: none;
            }
        }
        &:hover{
            text-decoration: none;
        }
        .coveo-pager-next-icon-svg, .coveo-pager-previous-icon-svg{
            height: 12.13px;
            width: 7.56px;
        }
    }
    .CoveoSearchInterface .coveo-search-section{
        padding: 0;
        margin: 52px 0 ;
    }
    .coveo-result-cell{
        padding-left: 0 !important;
        a.CoveoResultLink{
            color:$color-actions;
            font-size: 28px;
            letter-spacing: 0;
            line-height: 42px;
            &:hover{
                text-decoration: none;
            }
        }
        .CoveoPrintableUri a.CoveoResultLink, .CoveoExcerpt{
                font-size: 17px;
                letter-spacing: 0;
                line-height: 32px;
        }
        .CoveoExcerpt{
            color: $color-copy;
        }
    } 
    .CoveoSearchInterface .coveo-results-column {
        padding: 0;
    }
    // .coveo-pager-list-item {
    //     .coveo-active a, .coveo-pager-list-item:hover a { 
    //         color: $color-universal;
    //     }
    // }
    .coveo-results-per-page-list-item.coveo-active {
        a {
            color: $color-universal;
        }
    }
    .coveo-results-per-page-list-item {
        &:hover {
            a {
                color: $color-universal;
            }
        }
    }      
}

@media screen and (max-width: $screen-tablet-max) {
    .coveo-search{
        .coveo-dynamic-facet-collapse-toggle-svg{
            width: 12px;
        }
        .pdp-accordian-title{
            border-bottom: none;
        }
        .kemin-navigation-mobile{
            .coveo-accordion-title{
                color: $color-headings;
                font-size: 16px;
                line-height: 29px;
                position: relative;
                top: -16px;
                left: -10px;
                width: auto;
            }
        }
        .coveo-results-header{
            box-shadow: none;
            padding-top: 0;
            margin-top: 30px;
            border-top: 0 solid  $color-elements;
            
        }
        .CoveoSearchInterface .coveo-search-section{
            margin: 0 ;
        }
        .kemin-root-accordian{
            margin-top: 30px;
            box-shadow: inset 0 2px 0 0 $color-elements;
            padding-top: 30px;
            padding-left: 0;
            .kemkin-pdp-accordian{
                .coveo-checkbox-span-label,.coveo-checkbox-span-label-suffix{
                    position: unset;
                    font-size: 14px;
                    line-height: 20px;
                    text-transform: uppercase;
                }
                .coveo-checkbox-span-label-suffix{
                    padding-left: 5px;
                }
                .kemin-navigation-mobile{
                    .accordion-button:after, .accordion-button:not(.collapsed):after{
                        display: block;
                        position: absolute;
                        font-size: 9px;
                        right: 14px;
                        top: 10px;
                    }
                    .img-dynamic{
                        top: -14px;
                        width: 22px;
                    }
                } 
            } 
        }    
        .outer-container-accordian{
            position: relative;
            z-index: 2;
        }
        .coveo-dynamic-facet-header{
            .coveo-dynamic-facet-header-title{
                text-align: left;
                span{
                    position: unset;
                    font-size: 16px;
                    line-height: 29px;
                }
            }
        } 
        .kemin-navigation-mobile,  .kemin-navigation-mobile .accordion-button{
            height: 48px;
        }
        .coveo-list-layout.CoveoResult{
            border-bottom: 1px dotted $color-elements;
            padding: 23px 0;
        }
        .coveo-dynamic-facet-value{
            .coveo-checkbox-button{
                span{
                    position: unset;
                    font-size: 14px;
                }
            }
        } 
        
        .CoveoQuerySummary, .CoveoQueryDuration{
            font-size: 26px;
            line-height: 39px;
        }
        .coveo-result-cell{
            a.CoveoResultLink{
                font-size: 24px;
                line-height: 36px;
            }
            .CoveoPrintableUri a.CoveoResultLink, .CoveoExcerpt{
                    font-size: 14px;
                    line-height: 27px;
            }
        }
    } 
}

@media screen and (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
    .pdptitle{
        margin: 5px 0 19px;
    }
    .moleculeBackgroundSidePanel{
        background-size: 50%;
    }
    .moleculeBackgroundComponent{
        background-size: 91%; 
    }
    .moleculeBackgroundComponentInvert{
        background-size: 75%;
    }
    .coveo-search{
        .coveo-main-section{ 
            .coveo-results-column{ 
                .CoveoPager {
                    padding-top: 20px;
                }
                .CoveoResultsPerPage{
                   padding-top: 20px;  
                }
            }
        }
        #coveoSearchDivSuggestionsHeader{
            .container-kemin{
                padding: 39px 0 0;
            }
        }
        .coveo-list-layout.CoveoResult{
            border-bottom: 1px dashed $color-elements;
            padding: 23px 0;
        }
        .headerSearchBox{
            .btn-dark{
                width: 20%;
            }
        }
        .CoveoResultList{
            margin: 0;
        }
    }
    .headerSearchBox{
        .btn-dark{
            width: 20%;
        }
    }
}

@media screen and(max-width: $screen-mobile ){
    .pdptitle{
        margin: 11px 0 13px;
    }
    .moleculeBackgroundSidePanel, .moleculeBackgroundComponent,.moleculeBackgroundComponentInvert{
        background-size: 100%;
    }

    .CoveoSearchButton {
        &:hover {
            .coveo-magnifier-circle-svg {
                fill: white !important;
            }
        }
    }

    .headerSearchBoxMobile{
        .CoveoSearchbox{
            .magic-box{
                .magic-box-input{
                    input {
                        font-size: 14px;
                        line-height: 27px;
                    }
                }
            }
        }
    }
    
    .headerSearchBoxMobile{
	   .CoveoSearchbox {
	      margin-right:0 !important;
			.CoveoSearchButton {
				border-bottom: 2px solid white;
                border-top: 2px solid white;
                border-right: 2px solid white;
				border-top-right-radius: 8px;
				border-bottom-right-radius: 8px;
				span {
				  svg {
					color:white;
				  }
				}
			 }		
	   }
	}
	
    .coveo-search{
        #coveoSearchDivSuggestionsHeader{
            .container-kemin{
                padding: 48px 0 0;
            }
        }
        .CoveoResultList{
            margin-bottom: 22px;
        }
        .kemin-root-accordian{
            margin-top: 24px;
            padding-top: 24px;
        }
        .CoveoSearchInterface{
            .CoveoSearchbox{
                margin: 0;
                .CoveoSearchButton{
                    border-radius: 0 8px 8px 0;
                    background-color: $color-universal;
                    .coveo-search-button-svg{
                        color: $color-background-white;
                    }
                }
            }
        } 
        .coveo-list-layout.CoveoResult{
            border-bottom: 1px dashed $color-elements;
            padding: 12px 0;
        }
        .coveo-pager-list-item, .coveo-results-per-page-list-item{
            padding: 5px 0;
            margin: 2px;
            height: 40px;
            width: 35px;
            border-radius: 8px;
            border: 2px solid $color-headings;
            text-align: center;

        }
        .CoveoPager {
            margin: 0 0 10px;
        }
        .coveo-results-header{
            padding: 0;
        }
    } 
    .coveo-main-section{ 
        .coveo-results-column{ 
            .coveo-search-section{ 
                .CoveoSearchbox{
                    margin-right: 0;
                }
            }
            .CoveoResultsPerPage{
                margin: 0;
                float: none;
                .coveo-results-per-page-list{
                    padding: 5px 15px 0 0;
                }
                .coveo-results-per-page-text{
                    margin:0 128px 0 0;
                }   
            }
        }
    }
}
