.cmp-dynamicmedia__default {
    margin: 0 0 calculateRem(4);
    border-radius: none;

}

.cmp-dynamicmedia__caption{
    @include t-16();
    font-size: calculateRem(16);
    font-weight: $font-weight-medium;
    line-height: calculateRem(21);
    margin-top: calculateRem(16);
}
//text align center
.cmp-dynamicmedia__align-center{
  text-align: center;
}

// Radius Overrides
.cmp-dynamicmedia__r-0 {
    border-radius: 0;
    img {
        border-radius: 0;
    }
}
.cmp-dynamicmedia__r-6 {
    border-radius: calculateRem(0.6);
    img {
        border-radius: calculateRem(0.6);
    }
}

 // Elevation Overrides
    
 .cmp-dynamicmedia__none {
    box-shadow: none;
  }
  .cmp-dynamicmedia__low {
    box-shadow: $shadow-low;
  }
  .cmp-dynamicmedia__high {
    box-shadow: $shadow-high;
  }

   // Margin Overrides

  .cmp-dynamicmedia__bm-128 {
    margin: 0 0 calculateRem(128);
  }
  .cmp-dynamicmedia__bm-64 {
    margin: 0 0 calculateRem(64);
  }
  .cmp-dynamicmedia__bm-32 {
    margin: 0 0 calculateRem(32);
  }
  .cmp-dynamicmedia__bm-16 {
    margin: 0 0 calculateRem(16);
  }
  .cmp-dynamicmedia__bm-8 {
    margin: 0 0 calculateRem(8);
  }
  .cmp-dynamicmedia__bm-4 {
    margin: 0 0 calculateRem(4);
  }
  .cmp-dynamicmedia__bm-2 {
    margin: 0 0 calculateRem(2);
  }
  .cmp-dynamicmedia__bm-0 {
    margin: 0 0 calculateRem(0);
  }