.feature-content{
  .feature-heading{
    text-align: center;
    margin-bottom: 48px;
    margin-top: 52px;
  }
  .feature-flex{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  .feature-container{
      overflow-y: hidden;
      white-space: nowrap;
      padding-bottom: 24px;  
  }
  .feature-card{
    white-space: normal;
    height: 420px;
    width: 391.09px;
    display: inline-block;
    position: relative;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    &:not(:first-child){
      margin-left: 23px;
    }
    &:hover{
      img{
        opacity: 0.8;
      }
      .more-text{
        display: block; 
      }
    }
  }
  .card-text{
    position: absolute;
    bottom: 0;
    clip-path: polygon(12% 0, 100% 0, 100% 100%, 0 100%, 0 60%);
    background-color: $color-copy;
    opacity: 0.8;
    padding: 22px 25px 25px 32px;
    text-indent: 20px;
    width: 100%;
    .card-title{
      font-size: 24px;
      line-height: 38px;
      margin-bottom: 0;
      color: $color-text-white;
    }
    .card-description{
      font-size: 17px;
      line-height: 32px;
      text-indent: 0;
      margin-bottom: 0;
      color: $color-text-white;
      a{
        text-decoration: underline;
        color: $color-text-white;
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
      }
    }
    .more-text{
      margin-top: 20px !important;
      display: none;
      text-align: center;
      text-indent: 0;
      background: white;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      margin: 0 auto;
      a{
        text-decoration: none;
      }
      .icon-chevron-right{
        color: $color-universal;
        font-size: 15px;
        position: relative;
        top: -4px;
        left: 1px;
      }
    }
  }
  ::-webkit-scrollbar {
      height: 9px;
  } 
  ::-webkit-scrollbar-track {
      background-color: $color-headings;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      border-top: 3px solid white;
      border-bottom: 3px solid white;
  }
  ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: $color-elements; 
  }
}


@media screen and (max-width: $screen-tablet-max) {
  .feature-content{
    .feature-heading{
      margin-bottom: 42px;
      margin-top: 42px;
    }
    .feature-card{
      height: 283px;
      width: 264px;
      &:not(:first-child){
        margin-left: 13px;
      }
    }
    .card-text{
      padding: 15px 16px 17px 25px;
      .card-title{
        font-size: 16px;
        line-height: 25.51px;
      }
      .card-description{
        margin-top: 5px;
        font-size: 14px;
        line-height: 27px;
        a{
          font-size: 14px;
          line-height: 27px;
        }
      }
      .more-text{
        margin-top: 5px;
      }
    } 
  }
}