.filter-main-wrap{
    padding-left : 30px;
}

.filter-wrap{
    .pdp-accordian-title{
        color: $color-headings !important;
    }
}
.filter-checkbox{
    .filter-category{
        h2{
            margin: 0;
            color: $color-copy;
            font-size: 20px;
            letter-spacing: 0;
            line-height: 36px;
            padding-top: 15px;
        }
    }
}
.check-filter-box{
    //padding: 5px 0 20px;
    ul{
        padding: 5px 0 0px;
        list-style: none;
        margin-bottom: 0;

        li{
            display: flex;
            padding: 5px 0;
            input{
                height: auto;
                margin-bottom: 0;
                position: relative;
                width: 17px;
                height: 17px;
                padding: 0;
                top:3px;
                background: $color-background-white;
                border: 1px solid #7e8c9a;
                border-radius: 2px;
                outline: none;
                transition: all .2s;
                cursor: pointer;
            }
            .filter-item{
                margin: 0;
                font-weight: 400;
                color: $color-copy;
                margin-left: 12px;
                width: auto;
                font-size: 14px;
                text-transform: uppercase;
            }
            .filter-value{
                font-weight: 400;
                color: $color-copy;
                margin: 0;
                margin-left: 5px;
                width: auto;
                font-size: 14px;
            }
        }
    }
    .filter-sub-category{
        padding: 0 20px;
        display: none;
    }
}

@media screen and (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max){
    .check-filter-box {
        //padding: 5px 12px 20px;
        ul{
            li{
                .filter-item{
                    display: block;
                    left: 0;
                }
                .filter-value{
                    left: 0;
                }
            }
        }
    }
}

@media screen and (max-width: $screen-mobile) {
    .check-filter-box {
        //padding: 5px 12px 20px;
        ul{
            li{
                .filter-item{
                    display: block;
                    left: 0;
                }
                .filter-value{
                    left: 0;
                }
            }
        }
    }
}