.focus_anchor{
    background-color:$color-headings;
    padding: 30px 0;
    opacity: 0.8;
    .focus_anchor_items{
        display: flex;
        align-items: center;
        justify-content: center;
        .focus_anc_pre{
            color:$color-text-white;
            display: none;
            cursor: pointer;
            .pre_button{
                position: relative;
                top: 2px;
                font-size: 22px;
            }
        }
        .focus_anc_next{
            color:$color-text-white;
            display: none;
            cursor: pointer;
            position: relative;
            &:before{
                content: '';
                width: 51px;
                height: 27px;
                position: absolute;
                right: 13px;
                left: -25px;
                filter: blur(6px);
                bottom: 0;
                background-color:$color-headings;
                opacity: 0.8;
            }
            .next_button{
                position: relative;
                top: 2px;
                font-size: 22px;
            }
        }
        .foucs_anch_heading{
            text-align: right;
            color:$color-text-white;
            font-weight: bold;
            font-size: 22px;
        }
        ul{
            display: flex;
            list-style: none;
            text-align: center;
            padding-left: 0;
            margin-bottom: 0;
            align-self: center;
            max-width: 976.609px;
            overflow: hidden;
            li{
                &:nth-child(1){
                    padding-left: 40px;
                }
                padding: 0px 20px;
                a{
                    color:$color-text-white;
                    font-size: 22px;
                }
            }
        }
    }
}


@media screen and (max-width:$screen-mobile){
    .focus_anchor{
        .focus_anchor_items{
            .focus_anc_pre{
                color:$color-text-white;
                display: block;
                cursor: pointer;
                .pre_button{
                    position: relative;
                    top: 0px;
                    font-size: 15px;
                }
            }
            .focus_anc_next{
                color:$color-text-white;
                display: block;
                cursor: pointer;
                .next_button{
                    position: relative;
                    top: 0px;
                    font-size: 15px;
                }
            }
            .foucs_anch_heading {
                width: 50%;
                font-size: 15px;
                text-align: center;
            }
            ul {
                width: 50%;
                overflow:hidden;
                li{
                    &:nth-child(1){
                        padding-left: 30px;
                    }
                    padding: 0px 15px;
                    a{
                        font-size: 15px;
                        white-space: nowrap;
                    }
                }
            }
        }
    } 
}


@media screen and (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max){
    .focus_anchor{
        .focus_anchor_items{
            .focus_anc_pre{
                color:$color-text-white;
                display: block;
                .pre_button{
                    position: relative;
                    top: 0px;
                    font-size: 15px;
                }
            }
            .focus_anc_next{
                color:$color-text-white;
                display: block;
                .next_button{
                    position: relative;
                    top: 0px;
                    font-size: 15px;
                }
            }
            .foucs_anch_heading {
                width: 20%;
                font-size: 15px;
                text-align:center;
            }
            ul {
                width: 80%;
                overflow:hidden;
                li{
                    &:nth-child(1){
                        padding-left: 30px;
                    }
                    padding: 0px 15px;
                    a{
                        font-size: 15px;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

}