.kemin-main-footer {
    width: 100%;
    background-color:$color-universal;
    position: relative;
    &.image-right-corner:before {
        content:" ";
        background-image: url(/content/dam/kemin-redesign/footer_corner.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: absolute;
        width: 157px;
        height: 271px;
        bottom: 0;
        right: 0;
    }
    .social-icons {
        background-color:$color-universal;
        /* padding: 18px 0; */
        display: flex;
        justify-content: center;
        padding: 0;
        a {
            font-size: 25px;
            margin: 0 15px;
            color: $color-text-white;
            display: inline-block;
        }
    }
    .kemin-footer-topcontainer {
        display: flex;
        padding-top: 60px;
        flex-wrap: wrap;
    }

    .footer-top-leftcontainer {
        width: 80%;
        .logo {
            img {
                width: 165px;
                margin: auto;
            }
        }
    }
    .footer-top-rightcontainer {
        width: 25%;
        .cmp-text{
            p{
                a{
                    color:$color-text-white;
                }
            }
        }
    }

    .footer-top-middle-container {
        .col-4 {
            padding-left: 15px;
            padding-right: 15px;
        }
        #kemin-list-footer{
            .footer-list-title{
                font-size: 28px;
                letter-spacing: 0;
                line-height: 42px;
                margin-bottom: 0px;
            }
            .kemin-footer-items{
                li{
                    a{
                        font-size: 18px;
                        letter-spacing: 0;
                        line-height: 28px;
                    }
                }
            }
            .footer-list-desktop{
                .kemin-footerheading-links{
                    li{
                        a{
                            font-size: 28px;
                            letter-spacing: 0;
                            line-height: 42px;
                        }
                    }
                }
            }
        }
    }
    .footer-horizontal-line {
        padding-top: 40px;
        padding-bottom: 40px;
        .grey-border-line {
            border: 1px solid $color-text-white;
            opacity: 0.2;
            width: 90%;
            margin: auto;
        }
    }
    .footer-multi-links {
        width: 70%;
        margin: auto;
        overflow-x: hidden;
        ul {
            // display: inline;
            padding-left: 0;
            list-style-type: none;
            text-align: center;
            margin-bottom: 0;
            //  position: relative;
            // left: -1px;
            // padding: 0;
        }
        ul li {
            color: $color-text-white;
            text-decoration: underline;
            font-size: 14px;
            display: inline-block;
            line-height: 1;
            padding: 0 1em;
            margin-bottom: 1em;
            border-right: 1px solid rgba(255, 255, 255, .2);
            a{
                color:$color-text-white;
                font-size: 14px;
                line-height: 1pc;
                &:visited{
                    color:$color-text-white;
                }
            }
        }
        ul li:last-child {
            border-right: none;
        }
    }
    .footer-disclaimer {
        color: $color-text-white;
        font-family: Inter;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 27px;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
.kemin-last-bottom-container {
    background-color:$color-headings;
    display: flex;
    .container-kemin{
        display:flex;
    }
    .map_heading{
        padding-bottom: 16px;
        padding-top: 16px;
        margin-left: 20px;
        p{
            .icon-globe{
                margin-right: 10px;
                font-size: 24px;
                position: relative;
                top: 3px;
            }
            .icon-chevron-down{
                font-size: 7px;
                margin-left: 7px;
            }
            .icon-chevron-up {
                cursor: pointer;
                font-size: 7px;
                margin-left: 7px;
            }
            font-size: 17px;
            color:$color-text-white;
            margin-bottom: 0px;
            line-height: 27px;
        }

        a{
            text-decoration: underline;
            color:$color-text-white;
            font-size: 17px;
            line-height: 27px;
        }
    }
    .lang_heading{
        .icon-translate{
            margin-right: 10px;
            font-size: 24px;
            position: relative;
            top: 4px;
        }
        .icon-chevron-down{
            font-size: 7px;
            margin-left: 7px;
        }
        .icon-chevron-up {
            cursor: pointer;
            font-size: 7px;
            margin-left: 7px;
        }
        font-size: 17px;
        color:$color-text-white;
        margin-bottom: 0px;

        a{
            text-decoration: underline;
            color:$color-text-white;
            font-size: 17px;
            line-height: 27px;
        }
    }
    .location-container{
        .arrow-bottom {
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 20px solid #dc291e;
            left: 45%;
            position: absolute;
            bottom: 0px;
        }
        .dropdown-content {
            height: 900px;
            bottom: 62px;
            top:unset;
        }
        .arrow-for-mobile{
            display:none;
        }
    } 
    .footer-country-links {
        width: 70%;
        margin: auto;
        ul {
            padding-left: 0;
            list-style-type: none;
            text-align: center;
            margin-bottom: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            justify-content: space-between;
        }
        ul li {
            color: $color-text-white;
            text-decoration: underline;
            font-size: 15px;
            display: inline-block;
            line-height: 40px;
        }
        li.current-region{
            font-weight: bold;
            text-decoration: none;    
        }
    }
}
// .image-right-corner {
//     &::after {
//         content: "";
//         height: 157px;
//         width: 75pt;
//         background-image: url(../content/dam/kemin-redesign/header_corner_image.png);
//         background-repeat: no-repeat;
//         position: absolute;
//         left: 0;
//         top: 0;
//         background-size: contain;
//     }
// }

/* On screens that are 1300 px greater */
@media screen and (min-width: 1300px) {
    .kemin-main-footer {
        .footer-top-leftcontainer {
            flex: 80%;
        }
        .footer-top-rightcontainer {
            flex: 20%;
        }
    }
}
@media screen and (min-width: 1300px) and (max-width: 1604px){
    .kemin-main-footer {
        .footer-top-middle-container {
            .footer_col_2{
                padding: 0 15px 0 35px;
            }
        }
    }
}

/* Mobile On screens that are less than or eqal 767px */
@media screen and (max-width: 767px) {
    .kemin-main-footer {
        position: relative;
        &.image-right-corner:before {
            height: 130px;
            width: 75px;
        }
        .logo {
            text-align: center;

            img {
                width: 150px;
                margin: 0 auto;
            }
        }
        .footer-top-leftcontainer {
            flex: 100%;
        }
        .col-md-12.col-sm-12.footer-top-middle-container {
            padding-bottom: 0 !important;
            width: 100%;
        }
        .footer-top-rightcontainer {
            display: grid;
            flex: 100%;
            justify-content: center;
            padding-bottom: 15px;
            padding-top: 15px;
        }
        .d-sm-none {
            display: none !important;
        }
        #kemin-list-footer .footer-list-mobile ul.kemin-footerheading-links {
            padding: 0;
            margin-bottom: 0;
        }
        .footer-horizontal-line {
            padding-top: 20px;
            padding-bottom: 20px;
            .grey-border-line {
                width: 100%;
            }
        }
        .footer-multi-links {
            width: 100%;
        }
        .kemin-last-bottom-container .footer-country-links {
            width: 100%;
        }
        .footer-disclaimer {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    .kemin-last-bottom-container {
        background-color: $color-headings;
        .text_map{
            display: none;
        }
        .map_heading {
            padding-left: 0;
            margin-left: 10px;
            p .icon-globe {
                font-size: 16px;
                margin-right: 1px;
            }
            a{
                font-size: 13px;
            }
        }
        .lang_heading{
            .icon-translate {
                font-size: 16px;
                margin-right: 0px;
            }
            a{
                font-size: 13px;
            }
        }
        .footer-country-links {
            width: 100%;

            ul {
                display: list-item;
                li {
                    display: block;
                }
            }
        }
    }
}
//Tablet
@media screen and (min-width: 768px) and (max-width: 1299px) {
    .kemin-main-footer {
        position: relative;
        &.image-right-corner:before {
            width:75px;
            height:130px;
        }
        .logo {
            text-align: center;
            width: 140px;
            margin: 0 auto;
            img {
                padding-bottom: 30px;
            }
        }
        .footer-top-leftcontainer {
            flex: 100%;
        }
        .footer-top-rightcontainer {
            display: grid;
            flex: 100%;
            justify-content: center;
            padding-top: 15px;
        }
    }
    .kemin-last-bottom-container {
        .map_heading{
            p{
                font-size: 14px;
                a{
                    font-size: 14px;
                }
            }
            .icon-globe{
                font-size: 20px;
            }
        }
        .lang_heading{
            p{
                font-size: 14px;
                a{
                    font-size: 14px;
                }
            }
            .icon-translate{
                font-size: 20px;
            }
        }
    }
}

@media screen and (min-width: 991px) and (max-width: 1299px) {
    .kemin-main-footer {
        .footer-top-middle-container {
            .footer_col_2{
                padding: 0 15px 0 35px;
            }
        }
    }
}

@media screen and (min-width: 1604px) and (max-width: 1800px) {
    .kemin-main-footer {
        .footer-top-middle-container {
            .footer_col_2{
                padding: 0 15px 0 50px;
            }
        }
    }
}

@media screen and (min-width: 1920px){
    .kemin-main-footer {
        .footer-top-middle-container {
            .footer_col_2{
                padding: 0 15px 0 50px;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .kemin-main-footer {
        .footer-horizontal-line .grey-border-line {
            width: 100%;
        }
        .footer-multi-links {
            width: 100%;
        }
    }
    .kemin-last-bottom-container .footer-country-links {
        width: 100% !important;
    }
}

.footer{
    position: relative;
}

@media screen and (max-width: 340px) {
    .kemin-last-bottom-container{
        .location-container{
            .arrow-bottom {
                left: 35%;
            }
            .dropdown-content {
                height: 800px;
            }
            .country-links {
                ul {
                    li {
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }
            }
        } 
    } 
}
@media screen and (max-width: 767px) {
    .kemin-last-bottom-container{
        .location-container{
            .dropdown-content {
                bottom: 60px;
            }
        }
    }
}
@media screen and (max-width: 992px){
    .kemin-last-bottom-container{
        .location-container{
            .arrow-bottom {
                display: none;
            }
            .map_heading_color{
                .arrow-bottom{
                    &.arrow-for-mobile{
                        display: block;
                        bottom: 60px;
                        z-index: 1001;
                    }
                }
            }
            .dropdown-content {
                overflow: scroll;
            }
        } 
    } 
}
@media screen and (min-width: 341px) and (max-width: 420px) {
    .kemin-last-bottom-container{
        .location-container{
            .arrow-bottom {
                left: 35%;
                display: none;
            }
            .dropdown-content {
                height: 850px;
            }
        } 
    } 
}

@media screen and (min-width: 421px) and (max-width: 460px) {
    .kemin-last-bottom-container{
        .location-container{
            .arrow-bottom {
                left: 40%;
            }
            .dropdown-content {
                height: 900px;
            }
        } 
    } 
}
@media screen and (min-width: 461px) and (max-width: 600px) {
    .kemin-last-bottom-container{
        .location-container{
            .arrow-bottom {
                left: 40%;
            }
            .dropdown-content {
                height: 1000px;
            }
        } 
    } 
}
@media screen and (min-width: 601px) and (max-width: 670px) {
    .kemin-last-bottom-container{
        .location-container{
            .arrow-bottom {
                left: 42%;
            }
            .dropdown-content {
                height: 1100px;
            }
        } 
    }
}
@media screen and (min-width: 671px) and (max-width: 767px) {
    .kemin-last-bottom-container{
        .location-container{
            .arrow-bottom {
                left: 42%;
            }
            .dropdown-content {
                height: 1200px;
            }
        } 
    }
}
@media screen and (min-width: 768px) and (max-width: 990px) {
    .kemin-last-bottom-container{
        .location-container{
            .arrow-bottom {
                left: 42%;
            }
            .dropdown-content {
                height: 590px;
            }
            .country-links {
                ul {
                    li {
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }
            }
        } 
    }
}
@media screen and (min-width: 991px) and (max-width: 1023px) {
    .kemin-last-bottom-container{
        .location-container{
            .dropdown-content {
                height: 650px;
            }
            .country-links {
                ul {
                    li {
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }
            }
        } 
    }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .kemin-last-bottom-container{
        .location-container{
            .dropdown-content {
                height: 700px;
            }
            .country-links {
                ul {
                    li {
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }
            }
        } 
    }
}

@media screen and (min-width: 1441px) and (max-width: 1849px) {
    .kemin-last-bottom-container{
        .location-container{
            .dropdown-content {
                height: 800px;
            }
        } 
    }
}

@media screen and (min-width: 1850px){
    .kemin-last-bottom-container{
        .location-container{
            .dropdown-content {
                height: 900px;
            }
        } 
    }
}