.cmp-form-options {
    padding: 0 0 0 calculateRem(5);
    .checkmark{
        top: 0;
        left: 0;
        height: calculateRem(24);
        width: calculateRem(24);
        background-color: $color-charcoal;
        border-radius: 50%;
        accent-color: #00A259;
        margin-left: 0;
        margin-right: calculateRem(16);
        border: 2px solid #959595;

        &:after {
            content: "";
            position: relative;
        }
    }
    .button {
        margin-top: calculateRem(22);
    }
}

.cmp-form-options__field-label {
    display: flex;
    margin-bottom: calculateRem(15);
    input {
        opacity: 0;
        position: absolute;
    }
    .checkmark{
        &:after{
            top: calculateRem(7);
            left: calculateRem(7);
            width: calculateRem(10);
            height: calculateRem(10);
            border-radius: calculateRem(5);
            background: #00A259;
        }
    }
}
.cmp-form-options__field-label input:checked ~ .checkmark:after {
    display: block;
}

.cmp-form-options__field-label input:checked ~ .checkmark {
    background-color: $color-charcoal;
    border: 2px solid #00A259;
}

.cmp-form-options__field-description {
    margin-top: calculateRem(3);
}

.cmp-form-options__legend {}
.cmp-form-options__field {}
.cmp-form-options__field--checkbox {}
.cmp-form-options__field--radio {}
.cmp-form-options__label {}
.cmp-form-options__drop-down-field {}
.cmp-form-options__multi-drop-down-field {}
.cmp-form-options__help-message {}

.genesis-qualification-survey {
    .text{
        margin-bottom: calculateRem(20);
    }
}