.color-actions{
    background-color: $color-actions;
}

.color-decoration{
    background-color: $color-decoration;
}

.color-highlights{
    background-color: $color-highlights;
}

.color-crosslink{
    background-color: $color-crosslink;
}

.color-universal{
    background-color: $color-universal;
}


.color-headings{
    background-color: $color-headings;
}

.color-copy{
    background-color: $color-copy;
}

.color-elements{
    background-color: $color-elements;
}
.color-menus{
    background-color: $color-menus;
}
.color-sticky{
    background-color: $color-sticky-bars;
}
.color-table{
    background-color: $color-table-row;
}
.color-white{
    background-color: $color-background-white;
}