body,html{
    height: 100%;
}
.header_drpdwn_link{
    display: inline-flex;
    .lg-hover-link{
        background:$color-link;
        &:before{
            /*REMOVING ARROW FOR NOW ON ALL SCREEN SIZES*/
            display: none;
            content: '';
            position: absolute;
            bottom: 0;
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid $color-link;
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            left: 42%;
            top: 91px;
            z-index: 11;
        }
        .product-link{
            color:$color-text-white;
            span{
                display: none;
            }
        }
        .services-link{
            color:$color-text-white;
            span{
                display: none;
            }
        }
    }
    .header-link{
        position: relative;
        padding: 30px 18px 30px 18px;
        width: 100%;
        text-align: center;
        a{
            font-size: 22px;
            line-height: 30px;
            color: $color-headings;
            font-weight: 500;
            &:hover{
                text-decoration:none;
            }
            span{
                display: block;
                text-align: center;
                font-size:9px;
                margin-top: 10px;
                transform: rotate(360deg);
            }
        }
    }
    .header_mega_menu{
        .col{
            border-right:2px solid $color-universal;
            padding: 0px 10px 0px 10px;
        }
        display: none;
        position: relative;
        .mega_menu{
            display: flex;
            background:$color-headings;
            border-top:15px solid $color-universal;
            position: absolute;
            width: 100%;
            top: 30px;
            left: -30px;
            flex-wrap: wrap;
            z-index: 10;
            .mega_menu_featured{
                width: 100%;
                background: $color-universal;
                padding-top: 25px;
                h4{
                    padding: 0px 10px 0px 10px;
                    text-align: left;
                }
                .featured_column{
                    display: flex;
                    .count{
                        padding:0px 10px 0px 10px;
                        .countList{
                            text-align: left;
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr 1fr;
                            column-gap: 10rem;
                        }
                    }
                }
            }
        }
        .thumbnail_dropdown_icon{
            img{
                width: 70px;
                height: 70px;
            }
        }
        span{
            display: block;
            font-size: 50px;
            text-align: center;
            padding-bottom: 25px;
            padding-top: 25px;
            color:$color-text-white;
        }
        h4{
            text-align: center;
            color:$color-text-white !important;
            font-size: 32px;
            margin-bottom: 18px;
        }
        ul{
            list-style: none;
            padding-left: 0px;
            text-align: center;
            li{
                a{
                   color: $color-text-white !important;
                   font-size: 18px !important;
                   text-decoration: underline !important;
                   &:hover{
                       text-decoration: none;
                   }
                }
            }
        }
        .services_mega_position{
            display: flex;
            background:$color-headings;
            border-top:15px solid $color-universal;
            border-bottom:15px solid $color-universal;
            position: absolute;
            width: 100%;
            top: 30px;
            left: -30px;
            flex-wrap: wrap;
            z-index: 5;
            .mega_menu_featured{
                width: 100%;
                background: $color-universal;
                padding-top: 25px;
                h4{
                    padding: 0px 10px 0px 10px;
                    text-align: left;
                }
                .featured_column{
                    display: flex;
                    .count{
                        padding:0px 10px 0px 10px;
                        .countList{
                            text-align: left;
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr 1fr;
                            column-gap: 10rem;
                        }
                    }
                }
            }
        }
        span{
            display: block;
            font-size: 50px;
            text-align: center;
            padding-bottom: 25px;
            padding-top: 25px;
            color:$color-text-white;
        }
        h4{
            text-align: center;
            color:$color-text-white !important;
        }
        ul{
            list-style: none;
            padding-left: 0px;
            li{
                a{
                   color: $color-text-white !important;
                   font-size: 18px !important;
                   text-decoration: underline !important;
                   line-height: 30px;
                   &:hover{
                       text-decoration: none;
                   }
                }
            }
        }
    }
    
}

.aem-GridColumn.aem-GridColumn--default--12 {
	.header_mega_menu {
		.services_mega_position {
			.col {
				-webkit-box-flex: 1;
				-ms-flex: 1 0 0%;
				flex: 1 0 0%;
			}
		}
		.mega_menu {
			.col {
				-webkit-box-flex: 1;
				-ms-flex: 1 0 0%;
				flex: 1 0 0%;
			}
		}
	}
}


@media screen and (max-width:$screen-mobile){
    .header_drpdwn_link{
        display: inline-flex;
        width: 50%;
        .lg-hover-link:before {
            content: '';
            left: 37%;
            top: 48px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid $color-link;
            z-index: 11;
        }
        .header-link {
            padding:12px 10px 12px 10px;
            width: 50%;
            float: left;
            text-align: center;
            a {
                font-size: 14px;
                line-height: 18.2px;
                font-weight: 600;
                span{
                    font-size: 7px;
                    margin-top: -7px;
                    position: relative;
                    top: 8px;
                }
            }
            .header_mega_menu{
                .services_mega_position{
                    background:$color-headings;
                    border-top: 15px solid $color-universal;
                    border-bottom: 15px solid $color-universal;
                    position: absolute;
                    top: 12px; 
                    display: block;
                    span{
                        display: none;
                    }
                    .col{
                        border-bottom: 2px solid $color-universal;
                        padding-top: 15px;
                        h4{
                            font-size: 22px;
                            line-height: 28px;
                            text-align: left;
                        }
                        ul{
                            top: -6px;
                            position: relative;
                            text-align: left;
                            li{
                                a{
                                    font-size: 13px !important;
                                    line-height: 25px;
                                }
                            }
                        }
                    }
                    .mega_menu_featured{
                        padding-bottom: 25px;
                        h4{
                            width: 100%;
                            font-size: 22px;
                            line-height: 28px;
                        }
                        .featured_column{
                            width: 100%;
                            display: block!important;
                            .count{
                                padding:0px 10px 0px 10px;
                                .countList{
								    text-align: left;
								    display: grid;
								    grid-template-columns: 1fr 1fr ;
								    column-gap: 2rem;
                                    li{
                                        a{
                                            line-height: 25px;
                                            font-size:13px !important;
                                        }
                                    }
                                }
                            }
                            .col{
                                width: 100%;
                                padding-top: 0px;
                                ul{
                                    width:100%;
                                    margin-bottom: 0px;
                                }
                            }
                        }
                    }
                }
                .mega_menu {
                    background:$color-headings;
                    border-top: 15px solid $color-universal;
                    position: absolute;
                    top: 12px;
                    display: block;
                    span{
                        display: none;
                    }
                    .col{
                        border-bottom: 2px solid $color-universal;
                        padding-top: 15px;
                        h4{
                            font-size: 22px;
                            line-height: 28px;
                            text-align: left;
                        }
                        ul{
                            top: -6px;
                            position: relative;
                            text-align: left;
                            li{
                                a{
                                    font-size: 13px !important;
                                    line-height: 25px;
                                }
                            }
                        }
                    }
                    .mega_menu_featured{
                        padding-bottom: 25px;
                        h4{
                            width: 100%;
                            font-size: 22px;
                            line-height: 28px;
                        }
                        .featured_column{
                            width: 100%;
                            display: block!important;
                            .count{
                                padding:0px 10px 0px 10px;
                                .countList{
								    text-align: left;
								    display: grid;
								    grid-template-columns: 1fr 1fr ;
                                    column-gap: 2rem;
                                    li{
                                        a{
                                            line-height: 25px;
                                            font-size:13px !important;
                                        }
                                    }
                                }
                            }
                            .col{
                                width: 100%;
                                padding-top: 0px;
                                ul{
                                    width:100%;
                                    margin-bottom: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}

@media screen and (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max){
    .header_section_logo {
        .logo_section {
            .logo_header {
                position: relative;
                left: 35px;
            }
        }
        .logo_section nav {
            position: relative;
            bottom: 8px;
        }
    }
    
    .header_drpdwn_link {
        .lg-hover-link{
            &:before{
                content:'';
                left: 37%;
                top: 70px;
            }
        }
        .header-link {
            padding: 20px 18px 20px 18px;
            position: relative;
            top: -11px;
            a {
                font-size: 14px;
                line-height: 18.2px;
                color: $color-headings;
                font-weight: 600;
                position: relative;
                top: 4px;
                span{
                    position: relative;
                    top: 6px;
                }
            }
        }
        .header_mega_menu{
            .mega_menu{
                top: 28px;
                .mega_menu_featured{
                    .featured_column{
                        .count{
                            .countList {
                                text-align: left;
                                display: grid;
                                grid-template-columns: 1fr 1fr 1fr 1fr;
                                -webkit-column-gap: 10rem;
                                -moz-column-gap: 10rem;
                                column-gap: 2rem;
                            }
                        }
                    }
                }
            }
            .services_mega_position{
                top: 28px;
                .mega_menu_featured{
                    .featured_column{
                        .count{
                            .countList {
                                text-align: left;
                                display: grid;
                                grid-template-columns: 1fr 1fr 1fr 1fr;
                                -webkit-column-gap: 10rem;
                                -moz-column-gap: 10rem;
                                column-gap: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1250px){
    .header_section_logo {
        .logo_section {
            nav {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            font-size: 14px;
                            line-height: 27px;
                        }
                    }
                }
            }

            .logo_header{
                .logo{ 
                    img {
                        margin-left: 17px;
                    }
                }
            }   
        }
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px){
    .header_drpdwn_link {
        .header-link {
            a {
                font-size: 28px;
                line-height: 30px;
                color: $color-headings;
                font-weight: 500;
            }
        }
    }

    .header_section_logo {
        .logo_section {
            .logo_header {
                .lg-search {
                    position: relative;
                    left: 30px;
                }
            }
        }
    }   
}

@media screen and (min-width: 320px) and (max-width: 374px){
    .header_drpdwn_link {
        .header-link {
            a {
                font-size: 10px;
                line-height: 18.2px;
                color: $color-headings;
                font-weight: 600;
            }
        }
    }

    .header_section_logo {
        .logo_section {
            nav {
                .header_drpdwn_link {
                    width: 50%;
                }
            }
        }
    }       
}