.location-container {
    .map_heading_color {
        background-color: #dc291e;
        color: white;
        a {
            color: white;
        }
    }
    .pading-header {
        padding-left: 10px;
        padding-right: 10px;
    }
    .icon-chevron-down,
    .icon-chevron-up {
        cursor: pointer;
        font-size: 7px;
        margin-left: 7px;
    }
    .map_dropdown-none {
        display: none;
    }
    .map_dropdown-block {
        display: block;
    }
    .pad-right {
        padding-right: 20px;
    }
    .accordion-header {
        color: $color-text-white;
        font-size: 18px;
        font-family: inter;

        letter-spacing: 0;
        line-height: 30px;
    }
    .row {
        margin: 0;
    }
    .accordion-item {
        background-color: black;
        border: none;
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .accordion-button::after {
        margin-left: 10px;
        margin-top: -7px;
    }
    .accordion-button {
        padding: 0;
    }
    .accordion-body {
        padding: 0 0 0 10px;
    }
    .accordion-button:not(.collapsed) {
        color: $color-text-white;
        background-color: black;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0px;
    }
    .accordion-item:last-of-type .accordion-button.collapsed {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        background-color: black;
        color: $color-text-white;
    }
    .accordion-button::after {
        content: "\e924";
        -webkit-transform: none;
        transform: none;
        font-size: 10px;
        font-family: "icomoon";
        background-image: none;
        color: white;
    }
    .accordion-button:not(.collapsed)::after {
        content: "\e925";
        font-size: 10px;
    }
    .accordion-button:focus {
        border-color: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .accordion-item:last-of-type {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .header_map .arrow-bottom {
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #dc291e;
        left: 20%;
        position: absolute;
    }

    .dropdown-content {
        position: absolute;
        background-color: black;
        width: 100%;
        left: 0;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        // height: 120vh;
        top: 62px;
        .row {
            padding: 40px;
        }
    }
    .map-title {
        color: $color-text-white;
        font-family: inter;
        font-size: 22px;
        line-height: 34px;
    }
    .country-links {
        padding-top: 20px;

        ul {
            display: list-item;
            padding-left: 0;
            list-style-type: none;
            li {
                font-family: inter;
                color: $color-text-white;
                //text-decoration: underline;
                font-size: 18px;
                display: block;
                line-height: 30px;
                margin-top: 30px;
                margin-bottom: 30px;
                cursor: pointer;
            }
        }
        ul#north-america-country {
            li {
                text-decoration: none;
                font-size: 14px;
                line-height: 20px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
    .img-map {
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.header-top-bar {
    display: flex;
}

.modal-open{
    overflow-y: scroll!important;
}

#location-model-header {
    .modal-content{
        border: none;
        border-radius: unset;
        box-shadow: 0 0px 10px 0 rgba(255,255,255,0.59), 0 0px 30px 0 rgba(192,192,192,0.2);
    }
    .modal-body {
        background-color: #3fc1cb;
        padding: 0;
    }
    .modal-header-title {
        color: #27292e;
        font-family: Inter;
        font-size: 20px;
        letter-spacing: 0;
        line-height: 36px;
        text-align: center;
        padding: 25px;
    }
    .open-new-tab {
        img {
            width: 35px;
            margin: auto;
            /* text-align: center; */
            justify-content: center;
            display: flex;
            padding-top: 25px;
        }
    }
    .modal-footer {
        background-color: #d8d8d8;
        padding: 25px;
        justify-content: center;
    }
    a.btn {
        text-transform: uppercase;
    }
}

@media screen and (min-width: 2500px) {
    .location-container {
        .header_map .arrow-bottom {
            left: 25%;
        }
    }
}
//Tablet
@media screen and (min-width: 768px) and (max-width: 991px) {
    .location-container {
        .dropdown-content {
            top: 59px;
            .row {
                padding: 40px 20px 40px 20px;
            }
           
        }
        .header_map .arrow-bottom {
           
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 17px solid #dc291e;
            left: 13em;
           
        }
    
        .map-title {
            font-size: 20px;
            line-height: 24px;
        }
        .country-links {
            padding-top: 30px;

            ul {
                li {
                    font-size: 16px;

                    line-height: 24px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }
        }
    }

    #location-model-header {
        .modal-header-title {
            font-size: 20px;
            line-height: 36px;
        }
    }
}

//Mobile
@media screen and (max-width: 767px) {
    .location-container {
        .dropdown-content {
            padding: 0;
            top: 37px;
            // height: 140vh;
            .row{
                padding: 0;
            }
        }
        .header_map .arrow-bottom {     
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 17px solid #dc291e;
            left: 6.5em;
           
        }
        .modal-header-title {
            font-size: 24px;
            letter-spacing: 0;
            line-height: 36px;
        }

        .col-6 {
            padding: 15px;
        }
        img {
            width: 100%;
        }
        .location-map-title {
            margin-bottom: 0;
            // text-decoration: underline;
            color: $color-text-white;
            text-align: center;
            margin-top: 10px;
            cursor: pointer;
        }
        .accordion-button:not(.collapsed) {
            justify-content: center;
        }
        .accordion-item:last-of-type .accordion-button.collapsed {
            justify-content: center;
        }
        ul.north-america-mobile-locations {
            display: list-item;
            padding-left: 10px;
            list-style-type: none;
            margin-bottom: 0;
            li {
                font-family: inter;
                color: $color-text-white;
                // text-decoration: underline;
                font-size: 14px;
                cursor: pointer;
            }
        }
        .title-location-mobile {
            padding: 20px 10px 20px 10px;
            h3 {
                color: $color-text-white;
                font-family: inter;
                font-size: 18px;
                line-height: 24px;
                text-align: center;
            }
        }
    }

    #location-model-header {
        .modal-header-title {
            padding: 25px 20px 25px 20px;
            font-size: 20px;
            line-height: 36px;
        }
        .modal-body {
            padding: 0;
        }
        .modal-footer {
            padding: 30px 20px 30px 20px;
        }
        a.btn {
            max-width: 100%;
            width: 100%;
            margin-left: 0;
        }
        .btn + .btn {
            margin-left: 0;
            margin-top: 14px;
        }
    }
}
