.page{
    .hero .container{
        float: left;
    }
    .hero-container{
        position: relative;
        width: 100%;
        display:block;
    }
    .hero-image{
        img{
            max-width: 100%;
            height: 650px;
        }
    }
    .hero-text{
        position: absolute;
        bottom: -1px;
        background-color: rgba(236,236,236,0.8);
        padding: 30px 65px 20px 100px;
        clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
        display:flex;
        justify-content: center;
        align-items: center;
        .hero-title{
            margin-right:22px;
        }
        button{
            float:right;
           }
        @media screen and (min-width: $min_width){
            button{
              float:right;
              margin-left:15rem;
            }
        }
    }
    .kemin-breadcrumb{
        z-index: 1;
        margin-top:-19px;
    }
}

@media screen and (min-width: $screen-tablet-max) and (max-width: 1400px){
    .page{
        .hero-text{
            padding: 25px 65px 15px 100px;
            .hero-title{
                font-size: 50px;
                line-height: 65px;
            }
        }
    }
}

@media screen and (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max){
    .page{
        .kemin-breadcrumb{
            margin-top:-19px;
        }
        .hero-text{
            padding: 25px 30px 15px 30px;
        }
    }
}

@media screen and (min-width: $screen-tablet-max){
    .page{
        .hero{
            &.overlayBreadcrumb{
                top: -68px;
                position: relative;
                width: 100%;
                margin-bottom: -68px;
                float: left;
            }
        }
    }
}

@media screen and (max-width: $screen-tablet-min){
    .page{
        .hero-text{
            padding: 13px 40px 10px 15px;
            .hero-title{
                font-size: 30px;
                line-height: 42px;
                margin-right:22px;
                display:flex;
                button{
                    float:right;
                }
            }
        }
        .hero-image{
            img{
                width: 768px;
                max-width: 100%;
                height: 264px;
            }
        }
    }
}

@media screen and (max-width: $screen-mobile) {
    .page{
        .kemin-breadcrumb{
            margin-top:0;
        }
        .hero-container{
            display:block;
            .hero-text{
                position: initial;
                background: none;
                padding: 0 30px;
                margin-top: 20px;
                display:block;
                button{
                float:none;
                }
                .h1-home{
                    margin: 0px!important;
                }
            }
            .hero-image{
                img{
                    max-width: 100%;
                    height: 127px;
                }
            }
        }
    }
}