.hero-carousel{
    position: relative;
    bottom: 21px;
    .hero-carousel {
        bottom: inherit;
        position: unset;
    }
    .feature-background{
        width: 100%;
        height: 650px;
        &.mobile-image{
            display: none;
        }
        .dynamicimage img{
            height: 650px;
        }
    }
    .carousel-caption{
        height: 100%;
        width: 50%;
        right: 0;
        bottom: 0;
        left: unset;
        text-align: left;
    }
    .carousel-indicators{
        bottom: 130px;
        left: 62%;
        margin: unset;
        right: auto;
        display: flex;
        justify-content: center;
        .indicator{
            box-sizing: border-box;
            padding: 30px 0;
            height: 159px;
            width: 216px;
            text-indent: 0;
            text-align: center;
            background-color: $color-headings;
            color: $color-text-white;
            opacity: 1;
            &.active{
                background-color: $color-actions;
            }
            span{
                font-size: 45px;
                margin: 15px 0;
            }
            .textIcon{
                font-family: Inter!important;
                font-size: 20px;
                letter-spacing: 0;
                line-height: 30px;
                text-transform: uppercase;
                margin: 5px 0;
            }
        }

    }
    .overlay{
        height: 650px;
        position: absolute;
        top: 0;
        right: 0;
    }
    .heading{
        color: $color-headings;
        font-size: 60px;
        letter-spacing: -1px;
        line-height: 78px;
        margin-left: 38%;
        margin-right: 14px;
        margin-top: 5px;
        text-indent: 60px;
    }
    .text-desc{
        margin-right: 14px;
        color: $color-copy;
        font-size: 17px;
        line-height: 32px;
        text-indent: 20px;
        margin-left: 35%;
        margin-top: 20px;
    }
    .feature-links{
        position: absolute;
        bottom: 85px;
        left: 62%;
        z-index: 9;
        a{
            font-size: 24px;
            line-height: 41px;
            font-weight: bold;
            span{
                font-size: 16px;
            }
            &:hover{
                text-decoration: none;
                cursor: pointer;
            }
        } 
    }
    .progress-container{
        display: none;
        .col{
            position: relative;
        }
    }
    .progress{
        height: 10px;
        border-radius: 0;
        position: absolute;
        bottom: 62px;
        width: 100%;
        z-index: 9;
        .progress-bar{
            background-color:$color-actions;
        }
    }
    .static-progress{
        background-color: $color-actions;
        width: 100%;
        display: none;
    }
    .focus_anchor{
        &.explore-by-focus-in-author{
            top:inherit !important;
        }
        padding: 15px 0;
        position: absolute;
        margin-top: -62px;
        z-index: 9;
        width: 100%;
    } 
    
    .kemin-breadcrumb + .hero-carousel {
        bottom: inherit;
    } 
}

@media screen and (min-width: 1501px) and (max-width: 1900px) {
    .hero-carousel{
        .carousel-indicators{
            width: 40%;
            left: 62%;
            bottom: 136px;
            justify-content: start;
            .indicator{
                height: 127px;
                width: 172px;
                padding: 15px 0;
                span{
                    font-size: 36px;
                    margin: 15px 0;
                }
                .textIcon{
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            
        }
        .heading{
            font-size: 52px;
            line-height: 60px;
            margin-bottom: 16px;
            margin-right: 14px;
            margin-top: 20px;
        }
        .text-desc{
            font-size: 15px;
            line-height: 29px;
            margin-right: 14px;
            margin-top: 15px;
        }
        .feature-links{
            bottom: 92px;
            left: 62%;
            margin-left: 0;
            a{
                font-size: 22px;
            }
        }
        .progress{
            bottom: 62px;
        }
        .focus_anchor{
            padding: 15px 0;
            //top: -62px;
        }
    }
    
}
@media screen and (max-width: 1024px) {
    .hero-carousel{
        .overlay{
            display: none;
        }
        .carousel-caption{
            position: relative;
            height: unset;
            width: 100%;
            top: -52px;
            background-color: $color-background-white;
        }
        .heading{
            font-size: 30px;
            line-height: 42px;
            text-indent: 16px;
        }
        .text-desc{
            font-size: 14px;
            line-height: 27px;
            text-indent: 0;
        }
        .carousel-indicators{
            .indicator{
                height: 110px;
                width: 114px;
                padding: 15px 0;
                span{
                    font-size: 30px;
                    margin: 15px 0;
                }
                .textIcon{
                    margin: 5px 0;
                    font-size: 12px;
                    letter-spacing: 0;
                    line-height: 30px;
                }
            }
        }
        .feature-links{
            a{
                font-size: 18px;
                line-height: 31px;
                font-weight: bold;
                span{
                    font-size: 14px;
                }
            } 
        }
        .focus_anchor{
            padding: 15px 0;
            //position: unset;
        }
        .progress-container{
            display: none;
        }
    }
}
@media screen and (min-width: 1025px) and (max-width: 1500px) {
    .hero-carousel{
        .heading{
            padding: 10px;
            font-size: 35px;
            line-height: 40px;
            margin-top: 16px;
        }
        .text-desc{
            font-size: 14px;
            line-height: 24px;
        }
        .feature-links{
            bottom: 100px;
            left: 62%;
        }
        .carousel-indicators{
            bottom: 136px;
            left:62%;
            right: 63px;
            .indicator{
                min-width: 141px;
                width: 162px;
                height: 120px;
                padding: 5px 0;
                .textIcon{
                    font-size: 15px;
                }
            }
        }
    }
}
@media screen and (min-width: $screen-tablet-min) and (max-width: 1024px) {
    .hero-carousel{
        .carousel-item{
            margin-bottom: -30px;
        }
        .carousel-caption{
            padding: 20px 15px 27px 15px;
            height: 230px;
            clip-path: polygon(4% 0, 100% 0, 100% 100%, 0 100%, 0 22%);
        }
        .heading{
            margin: 7px 0;
        }
        .text-desc{
            margin: 20px 10px 0 0 ;
            width: 50%;
        }
        .carousel-indicators{
            left: unset;
            right: 15px;
            bottom: 64px;
            width: 48%;
            display: flex;
            justify-content: center;
            .indicator{
                &:not(:first-child){
                    margin: 0 0 0 6px;
                }
            }
        }
        .feature-background{
            height: 300px;
            .dynamicimage img{
                height: 300px;
            }
        }
        .feature-links{
            position: absolute;
            bottom: 27px;
            left: 55%;
            margin: 0; 
        }
        .progress{
            bottom: 0px;
        }
    }
}

@media screen and(max-width: $screen-mobile ){
    .hero-carousel{
        bottom: inherit;
        position: unset;
        .hero-carousel {
            bottom: inherit;
            position: unset;
        }
        .feature-background{
            height: 160px;
            .dynamicimage img{
                height: 160px;
            }
            &.desktop-image{
                display: none;
            }
            &.mobile-image{
                display: block;
            }
        }
        .carousel-item{
            margin-bottom: -28px;
        }
        .carousel-caption{
            overflow: auto;
            padding: 0 15px;
            clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 0 17%);
        }
        .heading{
            margin:20px 0 0 0;
        }
        .text-desc{
            margin: 21px 0 0 0 ;
            width: 100%;
        }
        .carousel-indicators{
            position: unset;
            margin: -3px 0 0 0;
            padding: 0 15px;
            margin-bottom: 14px;
        }
        .feature-links{
            position:unset;
            margin-bottom: 28px;
            padding: 0 15px;
        }
        .progress{
            position: unset;
            margin-top: 8px;
        }
        .focus_anchor{
            &.explore-by-focus-in-author{
                top:inherit !important;
            }
            position: unset;
            margin-top: 0px;
        }             
    }
}

@media screen and (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
    .hero-carousel{
        .focus_anchor{
            &.explore-by-focus-in-author{
                top:inherit !important;
            }
            position: unset;
            margin-top: 0px;
        }
    }
}