/*Hubspots CSS*/

.Hubspots-form {
    padding: 35px 15px 35px 15px;
    ;
    background: $hs-bg-form;
    width: 98%;
    margin-top: 50px;
    position: relative;
    display: block;
    h3 {
        font-size: 28px;
        color: $color-headings;
    }
    p {
        color: $color-text;
        font-size: 17px;
        line-height: 32px;
    }
    .hs-underline {
        width: 100%;
        border-bottom: 2px solid $color-elements;
    }
    .form-group {
        padding-top: 20px;
        input {
            width: 100%;
        }
        label {
            color: $color-text;
        }
        select {
            width: 100%;
        }
        textarea {
            margin-top: 6px;
            width: 100%;
            min-height: 220px;
            box-sizing: border-box;
            border: 1px solid $color-elements;
            border-radius: 3.75px;
            background-color: $color-text-white;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 27px;
            margin-bottom: 24px;
            height: 48px;
            padding: 10px 42px 11px 13px;
        }
        .custom-chkbox {
            label {
                position: relative;
                bottom: 5px;
                a {
                    color: $color-actions;
                    font-size: 14px;
                    &:hover {
                        text-decoration: nonr;
                    }
                }
            }
        }
        button {
            margin: 0;
        }
        .error,
        sup {
            color: $color-actions;
        }
        .invalid {
            border-color: $color-actions;
        }
    }
    .contactus {
        .form-field {
            margin-bottom: 24px;
            input,
            select,
            textarea {
                margin-bottom: 0;
            }
        }
    }
    /*Hexagon*/
    .hexagon {
        background: $color-actions;
        -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
        clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
        height: 95px;
        width: 100px;
        position: absolute;
        right: -25px;
        top: -47px;
        .icon-email {
            position: relative;
            top: 34px;
            left: 31px;
            font-size: 30px;
            color: $color-text-white;
        }
    }
}

.Hubspots-toggle {
    position: relative;
    margin: 0 15px;
    display: none;
    .Hubspots-toggle-bar {
        background: $hs-bg-form;
        display: flex;
        .hexagon {
            background: $color-actions;
            -webkit-clip-path: polygon(0% -126%, 75% 5%, 100% 50%, 75% 95%, 0% 164%, 0% 50%);
            clip-path: polygon(0% -126%, 75% 5%, 100% 50%, 75% 95%, 0% 164%, 0% 50%);
            height: 59px;
            width: 87px;
            position: relative;
            .icon-email {
                position: relative;
                top: 19px;
                left: 17px;
                font-size: 23px;
                color: $color-text-white;
            }
        }
        .hs-msg-heading {
            align-self: center;
            margin-left: 15px;
            width: 100%;
            p {
                margin-bottom: 0px;
                span {
                    font-size: 10px;
                    float: right;
                    margin-right: 15px;
                }
            }
        }
    }
}

@media screen and (max-width:$screen-mobile) {
    .Hubspots-toggle {
        display: block;
        margin: 0;
        cursor: pointer;
        .Hubspots-toggle-bar {
            .hs-msg-heading {
                p {
                    line-height: 29px;
                    span {
                        position: relative;
                        top: 11px;
                    }
                }
            }
        }
    }
    .Hubspots-form {
        width: 100%;
        margin-top: 0;
        padding: 20px 15px 20px 15px;
        display: none;
        .hexagon {
            display: none;
        }
    }
}

@media screen and (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
    .Hubspots-toggle {
        display: block;
        margin: 0;
        cursor: pointer;
        .Hubspots-toggle-bar {
            .hs-msg-heading {
                p {
                    line-height: 29px;
                    span {
                        position: relative;
                        top: 11px;
                    }
                }
            }
        }
    }
    .Hubspots-form {
        width: 100%;
        margin-top: 0;
        padding: 20px 15px 20px 15px;
        display: none;
        .hexagon {
            display: none;
        }
    }
}

.stickyEmail p {
    color: #ffffff;
}

body div.hbspt-form {
    background-color: transparent;
    padding: 20px 10px 20px 10px!important;
    border-radius: 10px !important;
    margin: 0 auto !important;
    max-width: 650px !important;
}

.hs-form {
    font-family: 'Inter', sans-serif !important;
}

.hs-form.stacked .input {
    padding-top: 6px;
    padding-bottom: 0px;
    padding-right: 15px;
}

.hs-form.stacked input.hs-input::placeholder {
    color: #8c8d8e;
}

.hs-form.stacked input.hs-input {
    font-size: 14px;
    background-color: #ffffff;
    border-width: 1px;
    padding: 0 0 0 1em !important;
    line-height: 18px !important;
    height: 44px !important;
    padding: 0 0 0 1em !important;
}

.hs-form.stacked select.hs-input {
    padding: 0 0 0 1em !important;
    line-height: 18px !important;
    height: 44px !important;
    padding: 0 0 0 1em !important;
}

.hs-form.stacked input[type="radio"].hs-input,
.hs-form.stacked input.hs-input[type="radio"] {
    height: 1em !important;
    line-height: initial !important;
}

.hs-form.stacked input[type="checkbox"].hs-input,
.hs-form.stacked input.hs-input[type="checkbox"] {
    height: 1em !important;
    line-height: initial !important;
}

div.hbspt-form {
    max-width: 1000px !important;
    margin: auto !important;
}

.hs-form .hs-input {
    font-family: 'Inter', sans-serif !important;
    width: 100% !important;
    max-width: none !important;
    box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important
}

.hs-form .hs-input[type=checkbox],
.hs-form .hs-input[type=radio] {
    width: auto !important;
}

.hs-form textarea.hs-input {
    font-size: 14px;
    font-family: 'Inter', sans-serif !important;
    height: auto !important;
    max-width: none !important;
    width: 100% !important;
    min-height: 150px !important;
}

.hs-form .hs-form-booleancheckbox .hs-input {
    width: auto !important;
}

.hs-form .hs-richtext {
    font-size: 1em !important;
    line-height: 1.4 !important
}

.hs-form .hs-richtext a {
    color: #ff4135;
    font-size: 1em !important;
    line-height: 1.4 !important
}

.hs-form label {
    font-size: 1em !important;
    line-height: 1.4 !important;
    font-family: 'Inter', sans-serif !important;
}

.hbspt-form fieldset {
    max-width: none !important;
}

.hbspt-form label {
    color: #8c8d8e!important;
    font-weight: 600!important;
    font-family: "Inter"!important;
    margin: 0!important;
    font-size: 1em!important;
    text-transform: uppercase;
}

.hbspt-form .hs-input {
    padding: 10px 15px 10px 15px!important;
    margin: 0 !important;
    max-width: none !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    font-family: "Inter" !important;
    border-radius: 4px !important;
}


/*
.hbspt-form .hs-input:focus {
  outline: none !important;
  border-color: #3FC1CB!important;
  -webkit-box-shadow: inset 0 1px 2px #3FC1CB, 0 0 4px #3FC1CB !important;
  box-shadow: inset 0 1px 2px #3FC1CB, 0 0 4px #3FC1CB !important;
}
*/

.hbspt-form .hs-form-checkbox label {
    font-size: .9em !important;
}

.hbspt-form .hs_submit .actions {
    margin: 0 !important;
    padding: 0 !important;
}

.hbspt-form .hs-button {
    -webkit-transition: background-color .1s ease!important;
    -o-transition: background-color .1s ease!important;
    transition: background-color .1s ease!important;
    background-color: #ffffff!important;
    border: #ffffff solid 2px!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    max-width: none !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    border-radius: 7px !important;
    background-image: none!important;
    text-shadow: none!important;
    font-family: "Inter"!important;
    line-height: normal!important;
    font-size: 15px!important;
    padding: 12px 30px!important;
    margin: 0!important;
    font-weight: 700!important;
    text-transform: uppercase;
}

.hbspt-form .hs-button:hover {
    cursor: pointer;
    background-color: #27292E!important;
    color: #ffffff!important;
    border: #ffffff solid 2px!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}

.hs-form .inputs-list input[type=checkbox],
.hs-form .inputs-list input[type=radio] {
    margin-bottom: 5px !important;
    margin-right: 10px !important;
}

.hs_i_accept_to_kemin_industries_terms_and_privacy_policy_agreement {
    width: 100%;
    margin: 0;
    padding: 0px 0px 5px 0px !important;
}

.hs-richtext.hs-main-font-element a {
    color: #ffffff;
    text-decoration: underline;
}

.hs-richtext.hs-main-font-element a:hover {
    color: #3fc1cb;
}

.hbspt-form fieldset.form-columns-2 {
    max-width: -webkit-fill-available !important;
    margin: auto !important;
}

.hs-form-field {
    padding-top: 24px!important;
}

label.hs-error-msg {
    line-height: 0!important;
    text-indent: -9999px;
}

label.hs-error-msg::after {
    font-weight: normal;
    color: #ff4135!important;
    content: "REQUIRED FIELD";
    text-indent: 0;
    display: block;
    line-height: initial;
}

ul.no-list.hs-error-msgs.inputs-list {
    list-style-type: none;
    padding-left: 5px;
    margin-bottom: 0px;
    padding-top: 2px;
}

.hs_error_rollup ul li label {
    font-weight: normal!important;
    color: #ff4135!important;
}

.stickyEmail .forty-padding {
    padding-top: 20px;
    padding-bottom: 50px;
}

.stickyEmail .horizontal-sixty-padding {
    padding-left: 30px;
    padding-right: 30px;
}

.hbspt-form ul.inputs-list {
    list-style-type: none;
    padding: 5px 5px 5px 0px;
    margin-bottom: 0px;
}

.hbspt-form .submitted-message {
    font-size: 24px;
    color: #8c8d8e;
}

.stickyEmail .color-universal {
    background-color:#27292E;
}

@media screen and (max-width:415px) {
    .hs-form.stacked .input {
        padding-right: 0px;
    }
    .hbspt-form fieldset.form-columns-2 .input {
        margin-right: 0px!important;
    }
    .hbspt-form fieldset.form-columns-1 .input {
        margin-right: 0px!important;
    }
}