.cmp-image__default {
  margin: 0 0 calculateRem(4);
  border-radius: none;

}

.cmp-image__caption {
  @include t-16();
  font-size: calculateRem(16);
  font-weight: $font-weight-medium;
  line-height: calculateRem(21);
  margin-top: calculateRem(16);
}

// Radius Overrides
.cmp-image__r-0 {
  border-radius: 0;

  img {
    border-radius: 0;
  }
}

.cmp-image__r-15 {
  border-radius: calculateRem(15);

  img {
    border-radius: calculateRem(15);
  }
}

// Elevation Overrides

.cmp-image__none {
  box-shadow: none;
}

.cmp-image__low {
  box-shadow: $shadow-low;
}

.cmp-image__high {
  box-shadow: $shadow-high;
}

// Margin Overrides

.cmp-image__bm-128 {
  margin: 0 0 calculateRem(128);
}

.cmp-image__bm-64 {
  margin: 0 0 calculateRem(64);
}

.cmp-image__bm-32 {
  margin: 0 0 calculateRem(32);
}

.cmp-image__bm-16 {
  margin: 0 0 calculateRem(16);
}

.cmp-image__bm-8 {
  margin: 0 0 calculateRem(8);
}

.cmp-image__bm-4 {
  margin: 0 0 calculateRem(4);
}

.cmp-image__bm-2 {
  margin: 0 0 calculateRem(2);
}

.cmp-image__bm-0 {
  margin: 0 0 calculateRem(0);
}

.day {
  .cmp-image__caption {
    color: $color-cinder;
  }

  .circle-image {
    img {
      width: 64px;
      height: 64px;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
    }
  }
}

.night {
  .cmp-image__caption {
    color: $color-ash;
  }

  .circle-image {
    img {
      width: 64px;
      height: 64px;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
    }
  }
}


.image a:hover:after,
.image a:after {
  background-color: transparent;
}