@mixin inputField {
    box-sizing: border-box;
    border: 1px solid $color-border;
    border-radius: 3.75px;
    background-color: $color-background-white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 27px;
    margin-bottom: 24px;
    height: 48px;
}

.page{
    
::-webkit-input-placeholder, :-ms-input-placeholder, ::placeholder{
    color: $color-placeholder;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 27px;
}

input,select{
    @include inputField;
    padding: 10px 42px 11px 13px;
}

.dropdown{
    
    select + .icon-chevron-down{
        position: relative;
        font-size: 8px;
        right: 28px;
    }
}

label + input, label + select, label + .custom-chkbox, label + .custom-radio{
    margin-top: 6px;
}

label{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
}

.custom-chkbox, .custom-radio {
    display: block;
    position: relative;
    padding-left: 32px;
    margin-bottom: 14px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 20px;
        width: 20px;
        left: 0;
        top: 0;
        min-width: 20px;
        z-index: 999;
        margin: 0;
        &:checked ~ .checkmark{
            background-color: $color-actions;
            border: 1px solid $color-actions;
            &:after{
                display: block;
            }
        }
        &:checked ~ label{
            font-weight: bold;
        }
        & ~ label{
            font-weight: 500;
        }
    }
    .checkmark{
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: $color-background-white;
        border: 1px solid $color-border;
        border-radius: 4px;
        &:after{
            content: "";
            position: absolute;
            display: none;
            left: 7px;
            top: 4px;
            width: 4px;
            height: 8px;
            border: solid $color-background-white;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}
.custom-radio{
    .checkmark{
        border-radius: 12px;
        &:after{
            top: 4px;
            left: 4px;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background: $color-background-white;
        }
    }
}

.banner{
    label{
        color: $color-text-inverse;
    }
}
}