/*Mobile and tablet layout container padding*/
@media screen and (max-width:991px) {
     .layout-container-kemin{
          padding-top: 30px!important;
          padding-bottom: 30px!important;
     }
}

/* Layout Container Padding */
/** Desktop padding: 1025px and higher **/
@media screen and (min-width: 992px) {
    /** desktop vertical padding **/
     .ten-padding{
         padding-top: 10px;
         padding-bottom: 10px;
    }
     .twenty-padding{
         padding-top: 20px;
         padding-bottom: 20px;
    }
     .thirty-padding{
         padding-top: 30px;
         padding-bottom: 30px;
    }
     .forty-padding{
         padding-top: 40px;
         padding-bottom: 40px;
    }
     .fifty-padding{
         padding-top: 50px;
         padding-bottom: 50px;
    }
     .sixty-padding{
         padding-top: 60px;
         padding-bottom: 60px;
    }
     .eighty-padding{
         padding-top: 80px;
         padding-bottom: 80px;
    }
     .hundred-padding{
         padding-top: 100px;
         padding-bottom: 100px;
    }

    /** desktop horizontal padding **/
    .horizontal-five-padding{
         padding-left: 5px;
         padding-right: 5px;
    }
     .horizontal-ten-padding{
         padding-left: 10px;
         padding-right: 10px;
    }
	.horizontal-fifteen-padding{
         padding-left: 15px;
         padding-right: 15px;
    }
     .horizontal-twenty-padding{
         padding-left: 20px;
         padding-right: 20px;
    }
     .horizontal-thirty-padding{
         padding-left: 30px;
         padding-right: 30px;
    }
     .horizontal-forty-padding{
         padding-left: 40px;
         padding-right: 40px;
    }
     .horizontal-fifty-padding{
         padding-left: 50px;
         padding-right: 50px;
    }
     .horizontal-sixty-padding{
         padding-left: 60px;
         padding-right: 60px;
    }

}
/** Tablet padding:768px to 1024px **/
 @media screen and (min-width: 768px) and (max-width:991px) {
    /** tablet vertical padding **/
     .tab-ten-padding{
         padding-top: 10px;
         padding-bottom: 10px;
    }
     .tab-twenty-padding{
         padding-top: 20px;
         padding-bottom: 20px;
    }
     .tab-thirty-padding{
         padding-top: 30px;
         padding-bottom: 30px;
    }
     .tab-forty-padding{
         padding-top: 40px;
         padding-bottom: 40px;
    }
     .tab-fifty-padding{
         padding-top: 50px;
         padding-bottom: 50px;
    }
     .tab-sixty-padding{
         padding-top: 60px;
         padding-bottom: 60px;
    }
    /** tablet horizontal padding **/
     .tabhorz-ten-padding{
         padding-left: 10px;
         padding-right: 10px;
    }
     .tabhorz-twenty-padding{
         padding-left: 20px;
         padding-right: 20px;
    }
     .tabhorz-thirty-padding{
         padding-left: 30px;
         padding-right: 30px;
    }
     .tabhorz-forty-padding{
         padding-left: 40px;
         padding-right: 40px;
    }
}

/** mobile 767px and less padding **/
 @media screen and (max-width: 767px) {
    /** mobile vertical padding **/

    .mob-ten-padding{
         padding-top: 10px;
         padding-bottom: 10px;
    }
     .mob-twenty-padding{
         padding-top: 20px;
         padding-bottom: 20px;
    }
     .mob-thirty-padding{
         padding-top: 30px;
         padding-bottom: 30px;
    }
     .mob-forty-padding{
         padding-top: 40px;
         padding-bottom: 40px;
    }
     .mob-fifty-padding{
         padding-top: 50px;
         padding-bottom: 50px;
    }
 /* mobile horizontal padding */
	.mobhorz-five-padding{
         padding-left: 5px;
         padding-right: 5px;
    }
     .mobhorz-ten-padding{
         padding-left: 10px;
         padding-right: 10px;
    }
	.mobhorz-fifteen-padding{
         padding-left: 15px;
         padding-right: 15px;
    }
     .mobhorz-twenty-padding{
         padding-left: 20px;
         padding-right: 20px;
    }
     .mobhorz-thirty-padding{
         padding-left: 30px;
         padding-right: 30px;
    }
     .mobhorz-forty-padding{
         padding-left: 40px;
         padding-right: 40px;
    }
     .mobhorz-fifty-padding{
         padding-left: 50px;
         padding-right: 50px;
    }
	
}
