.cmp-list {}

.cmp-list__item {
  color: #171725;
  font-family: "Proximanova";
  font-size: calcualteRem(18);
  font-weight: 500;
  letter-spacing: 0;
  line-height: calculateRem(24);
  word-break: break-word;
}
.cmp-list__item--list-horizontal li{
  display: inline-block;
}

.cmp-list__item-link {}
.cmp-list__item-title {}
.cmp-list__item-date {}


@media (max-width: 25.9375rem) {
  footer ul#reduced-footer {
    text-align: center;
  }
}