#map-container {
  width: 100%;
  height: 100%;
  // position: relative;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

#map-container .results{
  position: relative;  
}

#map-container button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  font-size: inherit;
  cursor: pointer;
}

#map {
   position: relative;
  // left: 27em;
  height: 600px;
 
}

#locations-panel {
  // position: relative;
  left: 0;
  width: 30%;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  background:#F3F3F3;
  
  box-sizing: border-box;
  height: 600px;
}

.map-view{
  width: 70%;
}
.details{
  display: none;
}
@media only screen and (max-width: 876px) {
  #map {
    left: 0;
    //bottom: 50%;
  }

  #locations-panel {
    top: 50%;
    right: 0;
    //width: unset;
    width: 320px;
  }
}

#locations-panel-list .section-name {
  color: #27292E;
  font-family: Inter;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  text-align: left;
  margin: 20px;
  padding-right: 40px;
  position: relative;
  &:hover{
    cursor: pointer;
  }
  &.collapsed::before, &.open::before{
    font-family: icomoon;
    background-image: none;
    color: #000;
    height: auto;
    position: absolute;
    left: 230px;
    top: 4px;
  }

  &.collapsed::before{
    content: "\e91f";
  }
  &.open::before{
    content: "\e91c";
  }
}

#locations-panel-list .location-result {
  position: relative;
    //margin: 0 20px 20px 20px;
    //border-bottom: 1px dashed #8C8D8E;
    cursor: pointer;
    //padding-bottom: 20px;
    //padding-top: 0;
    padding: 20px 20px 0;
    &:after {
      content: "";
      display: block;
      margin: 0 auto; 
      width: 100%; 
      padding-top: 20px;
      border-bottom: 1px dashed #8C8D8E; 
  }
}

#locations-panel-list .location-result:first-of-type {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding-top: 20px;
}

#locations-panel-list .location-result:last-of-type {
  border-bottom: none;
}

#locations-panel-list .location-result.selected {
  // outline: 2px solid #4285f4;
  background: white;
}

#locations-panel-list button.select-location {
  margin-bottom: 0.6em;
  text-align: left;
}

#locations-panel-list .location-result h2.name {
    color: #DC291E;
    font-family: Inter;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
  
}

#locations-panel-list .location-result .address {
  font-size: 0.9em;
  margin-bottom: 0.5em;
}

#locations-panel-list .location-result .details-button {
  font-size: 0.9em;
  color: black;
  text-decoration: underline;
}

#location-results-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* ------------- DETAILS PANEL ------------------------------- */
#locations-panel-details {
  padding: 1.4em;
  box-sizing: border-box;
  display: none;
}

#locations-panel-details .back-button {
  font-size: 1em;
  font-weight: 500;
  color: #7e7efd;
  display: block;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
}

#locations-panel-details .back-button .icon {
  width: 20px;
  height: 20px;
  vertical-align: bottom;

  /* Match link color #7e7efd */
  filter: invert(65%) sepia(87%) saturate(4695%) hue-rotate(217deg) brightness(105%) contrast(98%);
}

#locations-panel-details > header {
  text-align: center;
}

#locations-panel-details .banner {
  margin-top: 1em;
}

#locations-panel-details h2 {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 0.3em;
}

#locations-panel-details .address {
  text-align: center;
  font-size: 0.9em;
  margin-top: 1.3em;
}

#locations-panel-details .atmosphere {
  text-align: center;
  font-size: 0.9em;
  margin: 0.8em 0;
}

#locations-panel-details .star-rating-numeric {
  color: #555;
}

#locations-panel-details .star-icon {
  width: 1.2em;
  height: 1.2em;
  margin-right: -0.3em;
  margin-top: -0.08em;
  vertical-align: top;
  filter: invert(88%) sepia(60%) saturate(2073%) hue-rotate(318deg) brightness(93%) contrast(104%);
}

#locations-panel-details .star-icon:last-of-type {
  margin-right: 0.2em;
}

#locations-panel-details .price-dollars {
  color: #555;
}

#locations-panel-details hr {
  height: 1px;
  color: rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.12);
  border: none;
  margin-bottom: 1em;
}

#locations-panel-details .contact {
  font-size: 0.9em;
  margin: 0.8em 0;
  display: flex;
  align-items: center;
}

#locations-panel-details .contact .icon {
  flex: 0 0 auto;
  width: 1.5em;
  height: 1.5em;
}

#locations-panel-details .contact .right {
  padding: 0.1em 0 0 1em;
}

#locations-panel-details a {
  text-decoration: none;
  color: #7e7efd;
}

#locations-panel-details .hours .weekday {
  display: inline-block;
  width: 5em;
}

#locations-panel-details .website a {
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  max-width: 16em;
  text-overflow: ellipsis;
}

#locations-panel-details p.attribution {
  color: #777;
  margin: 0;
  font-size: 0.8em;
  font-style: italic;
}

.address-one,.address-two{
  font-size: 14px;
  line-height: 1.3;
  padding-bottom: 6px;
  width: 150px;
}


.title{
  color: $color-universal;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6;
}

.info-image{
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding-bottom: 6px;
  }
}
.gm-style .gm-style-iw-c { 
  max-width: 250px !important;
}
.lat-Lng{
  padding: 10px 0 8px;
  font-size: 10px;
  span:before{
    padding-right: 5px;
  }

}
@media screen and (max-width: $screen-mobile) {
  .map-view{
    display: none;
  }
}