.languageModal{
    &.modal.show .modal-dialog{
        transform: translate(0, 20%);
    }
    .modal-dialog{
        max-width: 770px;
        border: none;
    }
    .languageBody{
        text-align: center;
        background-color: $color-highlights;
        padding: 38px 39px 50px;
        .logo{
            font-size: 70px;
            text-align: center;
            padding-bottom: 15px;
        }
    }
    .languageFooter{
        padding: 28px 0;
        background-color: $color-modal-popup;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max){
    .loacationModal{
        .modal-dialog{
            max-width: 600px;
        }   
    }
}

@media screen and (max-width: $screen-mobile){
    .loacationModal{
        &.modal.show .modal-dialog{
            transform: translate(0, 10%);
        }
        .languageBody{
            padding: 30px 12px 25px;
            .logo{
                font-size: 45px;
            }
        }
        .languageFooter{
            display: block;
            padding: 30px 20px;
            .btn{
                width: 100%;
                &+ .btn{
                    margin-left: 0;
                    margin-top: 14px;
                }
            } 
        }
    }
}