.molecule-animation{
    .molecule-animation-gif{
        img{
            width: 100%;
        }
    }
}

@media screen and (max-width:$screen-mobile){
    .molecule-animation{
        display: none;
    }
}