.multimedia-container{
    margin-bottom: 30px;
    .media-container {
        width: 100%;
        height: 100%;
    }
}
.multimedia-component{  
    margin: 30px 0;
    .media-container{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img{
            flex-shrink: 0;
            min-width: 100%;
            min-height: 100%;
            width:100%;
        }  
    }
    .media-text-container{
        padding: 10px 35px;
        .text-heading{
            color: $color-headings;
            font-size: 28px;
            line-height: 42px;
            margin-bottom: 21px;
            + {
                p {
                    font-size: 17px;
                    line-height: 32px;
                }
            } 
        }
        .text-description{
            color: $color-copy;
            font-size: 17px;
            line-height: 32px;
        }
        .btn-primary{
            span{
                text-transform: uppercase;
                font-size: 16px;
            }
        }
        .btn-secondary{
            span{
                text-transform: uppercase;
                font-size: 16px;
            }
        }
        .btn {
            + {
                .btn {
                    margin-left: 0;
                    margin-bottom: 10px;
                }
            }
        }
        p {
            + {
                .btn {
                    margin-bottom: 10px;
                    margin-right: 14px;
                }
            }
        }
    }
    .video_caption{
        display: none;
    }
}

@media screen and (max-width: $screen-tablet-max) {
    .multimedia-component{
        .media-text-container{
            padding: 32px 18px;
            .text-heading{
                font-size: 24px;
                line-height: 36px;
                margin-top: 15px;
            }
            .text-description{
                font-size: 16px;
                line-height: 29px;
            }
            .btn{
                display: block;
                margin-left: 0;
            }
        } 
    }
}
@media screen and (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
    .multimedia-component{
        margin: 26px 0;
        .media-container{
            // height: 329px;
            height: 100%;
        }
        .media-text-container{
            padding: 10px 23px;
            .text-heading{
                margin-bottom: 12px;
                + {
                    p {
                        font-size: 14px;
                        line-height: 27px;
                    }
                }
            }
            .text-description{
                margin-bottom: 12px;
                font-size: 14px;
                line-height: 27px;
            }
            .btn{
                &:not(:last-child){
                    margin-bottom: 14px;
                }
            }
        } 
    }
    .multimedia-container{
        .img-block{
            padding: 0;
        }
    }
}

@media screen and (max-width: $screen-mobile) {
    .multimedia-container{
        .img-block{
            order: -1;
        }
    }
    .multimedia-component{
        margin: 29px 0;
        .media-container{
            height: 195px;
        }
        .multimedia-container{
            display: flex;
            flex-direction: column;
            .col-md-5{
                order: 2;
            }
            .col-md-7{
                order: 1;
            }
        }
        .media-text-container{
            padding: 10px 18px;
            .text-heading{
                margin-bottom: 13px;
                + {
                    p {
                        font-size: 14px;
                        line-height: 27px;
                    }
                } 
            }
            .text-description{
                margin-bottom: 42px;
                font-size: 14px;
                line-height: 27px;
            }
            .btn{
                &:not(:last-child){
                    margin-bottom: 17px;
                }
            }
            .btn {
                + {
                    .btn {
                        margin-left: 0px;
                        margin-top: 10px;
                    }
                }
            }
        } 
    }
}