.catalogue-pagination{
    display: inline-flex;
    .prev-wrap{
        list-style: none;
        padding-left: 0;
        margin-top: 20px;
        cursor: pointer;
        margin-right: 8px;
        li{
            height: 3pc;
            width: 3pc;
            border-radius: 8px;
            background-color: #fff;
            border: 2px solid #27292e;
            text-align: center;
            padding: 10px;
            &:hover{
                background-color: #3fc1cb;
                border: 2px solid #3fc1cb;
            }
        }
        .page-item{
            display: none;
        }
    }
    .next-wrap{
        list-style: none;
        padding-left: 0;
        margin-top: 20px;
        cursor: pointer;
        margin-left: 8px;
        li{
            height: 3pc;
            width: 3pc;
            border-radius: 8px;
            background-color: #fff;
            border: 2px solid #27292e;
            text-align: center;
            padding: 10px;
            &:hover{
                background-color: #3fc1cb;
                border: 2px solid #3fc1cb;
            }
        }
    }
}
.pagination{
    margin-top: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    //width:50%;
    max-width: 216px;
    display: -webkit-inline-box;
    .page-item{
        height: 48px;
        width: 48px;
        border-radius: 8px;
        background-color: $color-background-white;
        border: 2px solid $color-headings;
        text-align: center;
        padding: 10px;
        a{
            color: $color-headings;
            font-family: Inter;
            font-size: 16px;
            letter-spacing: 1px;
            line-height: 28px;
            position: relative;
            top: 8px;
            display: block;
            &:hover{
                text-decoration: none;
            }
        }
        &:first-child{
            margin-left: 0px;
        }
        &:not(first-child){
            margin-left: 8px;
        }
        &:hover, &.active{
            background-color: $color-highlights;
            border: 2px solid $color-highlights; 
            a{
                color: $color-universal;
            } 
        }
        &.disable{
            border: 2px solid $color-menus;
            a{
                color: $color-menus;
            }
        }
    }
}
@media screen and(max-width: $screen-mobile ){
    .pagination{
        max-width: 100%;
        .page-item{
            height: 48px;
            width: 40px;
        }
    }
}