.pdptitle {
	sup {
		font-size: 50%;
		
	}
	@media screen and (max-width: $screen-desktop) {
		/*sup{
			display: none;
		}*/
	}
}
.container-kemin {
	.pdptitle {
		.container-kemin {
			 padding: 0;
			 max-width: none !important;
		}
	}
}
.container-kemin{
	.text {
		div{
			padding:0;
		}
	}
}
.text {
	div {
		padding-left: calc(-14.89655px + 4.52586vw);
		padding-right: calc(-14.89655px + 4.52586vw);
	}
}
