.kemin-root-accordian {
    padding-right: 30px;
    margin-top: 55px;
    .kemkin-pdp-accordian {
        background-color: $color-menus;
        .outer-container-accordian {
            width: 100%;
            // height: 500px;
            position: relative;
        }
        .inner-container-accordian {
            padding: 40px 40px 40px 30px;
            .pdp-accordian-title:after {
                height:2px;
            }
        }
        .hex-conatiner {
            width: 90px;
            height: 90px;
            position: absolute;
            top: -44px;
            right: -18px;
        }
        .pdp-accordian-title {
            font-family: inter;
            font-size: 28px;
            position: relative;
            line-height: 42px;
            text-align: left;
            color: $color-actions;
            padding-bottom: 9pt;
            &:after{
                content: '';
                width: 100%;
                height: 1px;
                display: block;
                background: $color-border;
                margin-top: 8px;
                position: absolute;
            }
        }
        span {
            // font-size: 40px;
            margin: 30px 0px;
            display: inline-block;
            width: 100%;
            z-index: 1;
            position: relative;
            color: white;
            img{
                width: 42px;
                height: 42px;
            }
        }
        #color2 {
            background-color: $color-actions;
        }
        .hexagon-wrapper {
            text-align: center;
            // position: relative;
            // display: inline-block;
        }
        .hexagon {
            height: 100%;
            width: calc(100% * 0.57735);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            .img-dynamic{
                display: block;
                width: 100%;
                z-index: 1;
                margin: 0 auto;
                color: $color-background-white;
            }
        }
        .hexagon:before {
            position: absolute;
            top: 0;
            right: calc((100% / 2) - ((100% * 0.57735) / 2));
            background-color: inherit;
            height: inherit;
            width: inherit;
            content: "";
            transform: rotateZ(60deg);
        }
        .hexagon:after {
            position: absolute;
            top: 0;
            right: calc((100% / 2) - ((100% * 0.57735) / 2));
            background-color: inherit;
            height: inherit;
            width: inherit;
            content: "";
            transform: rotateZ(-60deg);
        }
        .accordion-body{
            .thin-border{
               // border-top: 1px solid $color-border;
            }
        }
        .accordion-button:not(.collapsed)::after {
            //content: "\e91f";
            content: "\e91c";
            font-family: "icomoon";
            background-image: none;
            color: $color-universal;
            transform: rotate(0);
        }
        .accordion-button::after {
            content: "\e91f";
            font-family: "icomoon";
            background-image: none;
            color: $color-universal;
            height: auto;
        }

        .kemin-navigation-mobile {
            .accordion-button::after {
                content: "\e924";
                transform: none;
                font-size: 13px;
            }
            .accordion-button:not(.collapsed)::after {
                //content: "\e91f";
                content: "\e925";
                font-size: 13px;
            }
        }

        .accordion-item {
            background-color: $color-menus;
            border: none;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        .accordion-item:not(:first-of-type) {
            // border-top: 1px solid #DC291E;
            border-top-style: solid;
            border-top-width: 1px;
            border-color: $color-border;

        }
        .accordion-button {
            background-color: $color-menus;
            color: $color-actions;
            padding: 12px 20px 12px 0;
        }
        .accordion-button:not(.collapsed) {
            color: $color-actions;
            background-color: $color-menus;
            // -webkit-box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
            box-shadow: none;
        }
        .pdp-accordian-main {
            margin-top: 20px;
        }
        .accordion-button:focus {
            border-color: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .accordion-body {
            padding: 0px 0px 0px 20px;
        }
        .accordion-header {
            color: $color-actions;
            font-family: inter;
            font-size: 20px;
            letter-spacing: 0;
            line-height: 36px;
            position: relative;
        }

        .thin-border{
            .accordionOpen {
                background: $color-table-row;
                a,.accordion-button {
                    background: $color-table-row;   
                }
                &:before {
                    content:"";
                    display: block;
                    position:absolute;
                    top:0;
                    left:-50px;
                    width: 50px;
                    height:100%;
                    background: $color-table-row;
                }
                &:after {
                    content:"";
                    display: block;
                    position:absolute;
                    top:0;
                    right:-40px;
                    width: 40px;
                    height:100%;
                    background: $color-table-row;
                }
            }
        }

        .accordion-header-md{
            &.thin-border{
                .navigation-table-cell{
                    color: #0e0e0e;
                }
                .navigation-single-url{
                    .nav-row{
                        color: #0e0e0e;
                    }
                }
            }

            .navigation-table-cell{
                color: $color-actions;
            }
            .navigation-single-url{
                .nav-row{
                    color: $color-actions;
                }
            }
            
            &.nav-row{
                .navigation-nav-body{
                   .navUrl:hover{
                       color:#0e0e0e;
                   }
                }
            }
            
            &.accordionOpen {
                background: $color-table-row;
                a,.accordion-button {
                    background: $color-table-row;   
                } 
                &:before {
                    content:"";
                    display: block;
                    position:absolute;
                    top:0;
                    left:-30px;
                    width: 30px;
                    height:100%;
                    background: $color-table-row;
                }
                &:after {
                    content:"";
                    display: block;
                    position:absolute;
                    top:0;
                    right:-40px;
                    width: 40px;
                    height:100%;
                    background: $color-table-row;
                }
            }
        }
        .navigation-single-pd{
            padding: 12px 0;
            position: relative;
        }
        .navigation-single-url{
            padding: 12px 0;
            position: relative;
            .navUrl:hover{
                color:#0e0e0e;
            }
            &.accordionOpen {
                background: $color-table-row;
                a,.accordion-button {
                    background: $color-table-row;   
                }
                &:before {
                    content:"";
                    display: block;
                    position:absolute;
                    top:0;
                    left:-65px;
                    width: 65px;
                    height:100%;
                    background: $color-table-row;
                }
                &:after {
                    content:"";
                    display: block;
                    position:absolute;
                    top:0;
                    right:-75px;
                    width: 75px;
                    height:100%;
                    background: $color-table-row;
                }
            }
        }
        
        .social-icons span{
            display:unset;
        }
    }
    .navUrl{
    color : #0e0e0e;
    }
    .navigation-nav-body{
    display: table;
    }
    .navigation-table-cell{
        display: table-cell;
    }
    // .nav-row:hover {
    //   background-color: #e7e7e7;
    // }
    .accordion-collapse {
        .navigation-single-url {
            // margin: 0 15px;
            // border-top:1px solid $color-border;
        }
    }

    // started line
    .navigation-item-xs{
        .accordion-collapse{
            &.collapse{
                &.show {
                    border-top: 1px solid $color-border;
                    .accordion-body>div:not(:first-of-type) {
                        border-top: 1px solid $color-border;
                    }
                }
            }
        }
    }
    
    .accordion-header-md{
        .accordion-collapse{
            &.collapse{
                &.show {
                    border-top: 1px solid $color-border;
                    .accordion-body>div{
                        margin: 0 15px;
                    }
                    .accordion-body>div:not(:first-of-type) {
                        border-top: 1px solid $color-border;
                    }
                }
            }
        }
    }
    
    
    
}


@media screen and (max-width:$screen-mobile){
    .navigation-item-xs{
        .accordion-header{
            #single-nav-url{
                &:before{
                    left: -28px !important;
                    width: 28px !important;
                }
                &:after{
                    right: -28px !important;
                    width: 28px !important;
                }
            }
        }
    }
    
    .accordionOpen {
        background: $color-table-row;
        a,.accordion-button {
            background: $color-table-row !important;   
        }
        &:before {
            content:"";
            display: block;
            position:absolute;
            top:0;
            left:-28px;
            width: 28px;
            height:100%;
            background: $color-table-row;
        }
        &:after {
            content:"";
            display: block;
            position:absolute;
            top:0;
            right:-28px;
            width: 28px;
            height:100%;
            background: $color-table-row;
        }
    }
    .accordion-collapse{
        &.collapse{
            &.show {
                .accordion-body{
                    .accordion-header{
                        .navigation-single-url{
                            &:before{
                                left: -40px !important;
                                width: 40px !important;
                            }
                            &:after{
                                right: -28px !important;
                                width: 28px !important;
                            }
                        }
                    }
                    
                }
            }
            
        } 
    }
    .accordion-collapse{
        &.collapse{
            &.show {
                .accordion-body{
                    .navigation-single-url{
                        &:before{
                            left: -52px !important;
                            width: 52px !important;
                        }
                        &:after{
                            right: -28px !important;
                            width: 28px !important;
                        }
                    }
                }
            }
        } 
    }

    .kemin-root-accordian{
        margin-top: 25px;
        .navigation-item-xs{
            .accordion-collapse{
                &.collapse{
                    &.show {
                        border-top:1px solid $color-border;
                        .accordion-body > div:not(:first-of-type){
                            border-top: 1px solid $color-border;
                        }
                    }
                    .accordion-body{
                        .accordian-mobile{
                            border-top: none !important;
                        }
                    }
                } 
            }
            #flush-collapseOne{
                border-top: none;
            }
        } 
    } 
    
    .accordion-header-xs{
        .navigation-table-cell{
            color: $color-actions;
        }
        .navigation-single-url{
            a{
                color: $color-actions;
            }
        }
    }

    .thin-border{
        .navigation-single-url{
            .navUrl{
                color:#0e0e0e;
            }
        }
    }

    .accordion-body{
        .accordion-header-md{
            .navigation-single-url{
                &:before{
                    display:none;
                }
                &:after{
                    display:none;
                }
            }
        }
    }

    .navigation-single-url{
        position: relative;
    }
}

@media screen and (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max){
    .navigation-item-xs{
        .accordion-header{
            #single-nav-url{
                &:before{
                    left: -28px !important;
                    width: 28px !important;
                }
                &:after{
                    right: -28px !important;
                    width: 28px !important;
                }
            }
        }
    }
    
    .accordionOpen {
        background: $color-table-row;
        a,.accordion-button {
            background: $color-table-row !important;   
        }
        &:before {
            content:"";
            display: block;
            position:absolute;
            top:0;
            left:-28px;
            width: 28px;
            height:100%;
            background: $color-table-row;
        }
        &:after {
            content:"";
            display: block;
            position:absolute;
            top:0;
            right:-28px;
            width: 28px;
            height:100%;
            background: $color-table-row;
        }
    }
    .accordion-collapse{
        &.collapse{
            &.show {
                .accordion-body{
                    .accordion-header{
                        .navigation-single-url{
                            &:before{
                                left: -40px !important;
                                width: 40px !important;
                            }
                            &:after{
                                right: -28px !important;
                                width: 28px !important;
                            }
                        }
                    }
                    
                }
            }
            
        } 
    }
    .accordion-collapse{
        &.collapse{
            &.show {
                .accordion-body{
                    .navigation-single-url{
                        &:before{
                            left: -52px !important;
                            width: 52px !important;
                        }
                        &:after{
                            right: -28px !important;
                            width: 28px !important;
                        }
                    }
                }
            }
        } 
    }

    .kemin-root-accordian{
        .navigation-item-xs{
            .accordion-collapse{
                &.collapse{
                    &.show {
                        border-top:1px solid $color-border;
                        .accordion-body > div:not(:first-of-type){
                            border-top: 1px solid $color-border;
                        }
                    }
                    .accordion-body{
                        .accordian-mobile{
                            border-top: none !important;
                        }
                    }
                } 
            }
            #flush-collapseOne{
                border-top: none;
            }
        } 
    } 
    
    .accordion-header-xs{
        .navigation-table-cell{
            color: $color-actions;
        }
        .navigation-single-url{
            a{
                color: $color-actions;
            }
        }
    }

    .thin-border{
        .navigation-single-url{
            .navUrl{
                color:#0e0e0e;
            }
        }
    }

    .accordion-body{
        .accordion-header-md{
            .navigation-single-url{
                &:before{
                    display:none;
                }
                &:after{
                    display:none;
                }
            }
        }
    }

    .navigation-single-url{
        position: relative;
    }
}
//Mobile and Tablet
@media screen and (max-width: 991px) {
    #flush-headingOne .accordion-button {
        padding: 2pt 20px 2pt 0;
    }
    .kemin-root-accordian {
        .kemkin-pdp-accordian{
            .navigation-item-xs{
                .accordion-body{
                    padding:0 12px 0 12px;
                    .accordion-body{
                        padding:0 0 0 12px;
                    }
                }
            }
        }
    }
    .kemin-root-accordian{
        .kemkin-pdp-accordian{
            .accordion-header-xs{
                .navigation-single-url{
                    margin: 0;
                    border-top: none;
                }
            }
            
        }
    } 
    
    .accordion-header {
        position: relative;
    } 
    
    .kemin-root-accordian {
        padding-right: 0;
        .kemin-navigation-mobile {
            .right-triangle {
                background: $color-actions;
                display: inline-block;
                height: 45px;
                top: 0px;
                left: -1px;
                position: relative;
                border-top:1px solid $color-actions;
                width: 48px;
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }
            .right-triangle::before {
                border-bottom: 16px solid $color-actions;
                border-left: 24px solid transparent;
                border-right: 24px solid transparent;
                content: "";
                height: 0;
                left: 0;
                position: absolute;
                top: -17px;
                width: 0;
            }
        }

        .kemkin-pdp-accordian {
            span {
                font-size: 25px;
                margin: 0px;
                display: inline-block;
                width: 30px;
                z-index: 1;
                position: relative;
                color: white;
                top: 0px;
                left: -39px;
                img{
                    width: 22px;
                    height: 22px;
                    display: block;
                    margin: auto;
                }
            }
            .accordion-item {
                border-top: none;
                .social-icons{
                    padding-left:27pt;
                }
            }
            // .accordion-button {
            //     padding: 1px 12px 2px 0;
            // }
            .inner-container-accordian {
                padding: 12px 16px;
            }
            .accordion-body.accordian-body_mobile {
                padding: 0px;
            }
            // .accordion-body {
            //     padding: 12px;
            // }
            .pdp-accordian-title {
                font-size: 24px;
                line-height: 36px;
                text-align: left;
                color: $color-headings;
                padding-bottom: 12px;
            }
            .social-icons span{
                display:unset;
            }
        }
        // .accordian-mobile{
        //     padding-top: 12px;
        // }
        .inner-container-accordian{
            .accordion-item {
                &.navigation-item-xs{
                    padding: 0;
                }
                padding: 12px 0 12px 0;
              }
        }


        .kemin-navigation-mobile {
            .accordion-button, .accordion-button:not(.collapsed)  {
                color: $color-headings;

            }
        }

    }
     .navigation-nav-body{
        display: table;
        }
        .navigation-table-cell{
        display: table-cell;
        }
        // .nav-row:hover {
        //   background-color: #e7e7e7;
        // }
}

.accordion-collapse.collapse.show {
    .accordion-header-md.accordionOpen {
        &:before {
            left: -50px;
            width: 50px;
            @media screen and (max-width: 991px) {
                left: -40px;
                width: 40px;
            }
        }
        &:after {
            right: -40px;
            width: 40px;
            @media screen and (max-width: 991px) {
                right: -28px;
                width: 28px;
            }
        }
    }
}
.navigation-single-url.accordionOpen {
    &:before {
        left: -30px !important;
        width: 30px !important;
    }
    &:after {
        right: -40px !important;
        width: 40px !important;
    }
}
.accordion-body {
    .navigation-single-url.accordionOpen {
        &:before {
            left: -50px !important;
            width: 50px !important;
        }
        &:after {
            right: -40px !important;
            width: 40px !important;
        }
    }
    .accordion-body {
        .navigation-single-url.accordionOpen {
            &:before {
                left: -70px !important;
                width: 70px !important;
            }
            &:after {
                right: -40px !important;
                width: 40px !important;
            }
        }
    }
}

.thin-border{
    .navigation-single-url{
        border-top:none !important;
    }
}