.product_result_dropdwn{
    //padding-top: 20px;
    margin: 0;
    display: inline-flex;
    float: right;
    h3{
        color: $color-copy;
        font-size: 15px;
        letter-spacing: 0;
        line-height: normal;
        text-align: right;
        margin: auto;
        margin-right: 15px;
    }
    select{
        margin-left: 13px;
    }
}
.product-catalog{
    .kemin-root-accordian{
        padding-right: 0;
    }
}
.productcatalogue{
    .product_result{
        padding-bottom: 20px;
        h2{
            color: $color-headings;
            font-size: 33px;
            letter-spacing: 0;
            line-height: 50px;
       }
    }
    .product-row{
        .col-lg-6:nth-child(odd) {
            padding: 0 30px 30px 0;
        }
    }
    .featureCatalogue{
        display: flex;
        justify-content: center;    
    }
    &.feature-content{
        .feature-heading{
            text-align: left;
        }
        .feature-card{
            width: 100%;
            height: 387px;
            display: block;
            border: 1px solid $color-elements;
            img{
                padding: 20px 25px 20px 25px;

                max-height: 150px;
                display: block;
                margin: 0 auto;
                width: 538px;
                 height: 387px;
                object-fit: contain;
            } 
        }

    }
    .card-text{
        width: 100%;
        height: 233px;
        position: absolute;
        background-color: $color-table-row;
        padding:15px;
    }
    .product-title{
        font-size: 24px;
        line-height: 38px;
        margin-bottom: 0;
        padding-left: 38px;
        color: $color-actions;
    }
    .product-card{
        font-size: 17px;
        line-height: 32px;
        margin-bottom: 0;
        padding: 10px 22px;
        color: $color-copy;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

@media screen and (max-width: $screen-tablet-max) {
    .productcatalogue{
        .product-row{
            .col-lg-6:nth-child(odd) {
                padding: 0 20px 20px 0;
            }
        }
        .card-text{
          padding: 10px 21px;
        }
       .product-title{
            font-size: 17px;
            line-height: 32px;
            padding: 0;
        }
        .product-card{
            font-size: 17px;
            line-height: 24px;
            padding:0;
        }
    }

}

@media screen and(max-width: $screen-mobile ){
    .page .productcatalogue{
        .product_result{
            padding-bottom: 10px;
            h2{
                font-size: 26px;
                letter-spacing: 0;
                line-height: 39px;
           }
        }
        .product_result_dropdwn{
            padding-bottom: 10px;
            display: inline-flex;
            h3{
                font-size: 20px;
                letter-spacing: 0;
                line-height: 36px;
            }
            select{
                margin-left: 5px;
            }
        }
        .product-row .col-lg-6{
            padding: 0;
        }
        .featureCatalogue{
            padding:0 0 20px;
            
        }
        .card-text{
          padding: 28px;
        }
        .product-title{
            font-size: 17px;
            line-height: 20px;
            padding: 0;
        }
        .product-card{
            font-size: 14px;
            line-height: 27px;
            padding: 19px 0;
            
        }
    }
}