.kemin-breadcrumb {
    .breadcrumb{
        padding: 18px 0 18px 0;
        margin-bottom: 0;
        li.breadcrumb-tag {
             a {
                color: $color-background-white;
                text-decoration: underline;
                font-family: 'inter';
                &:hover{
                    color: $color-background-white;
                    text-decoration: underline;
                }
              }

          }
          .icon-breadcrumb,.icon-breadcrumb-reverse{
              color: $color-background-white;
          }
    }
      ul.breadcrumb li+li:before {
          padding: 8px;
      }
      .icon-youtube{
          color: $color-actions;
      }
      .breadcrumb-active{
        color: $color-background-white;
        font-size: 17px;
        letter-spacing: 0;
        line-height: 32px;
        text-decoration: none;
        font-family: 'inter';
      }
      .breadcrumb-home{
          .icon-home{
              color: $color-background-white;
              font-size: 22px;
          }
          a{
              text-decoration: none;
          }
      }


}



// mobile
@media screen and (max-width: 767px) {
    li.icon-breadcrumb-reverse::before{
        padding: 8px;
    }
   .breadcrumb .icon-breadcrumb{
         display:none;
       }
    }

.breadcrumb{
    margin-bottom: 0;
}
