.social-icons{
    width: 100%;
    background-color: $color-elements;
    padding: 18px 0;
    a{
        font-size: 31px;
        margin-left: 29px;
        color: $color-background-white;
        &:hover{
            text-decoration: none;
            color: $color-background-white;
        }
    }
}

footer{
    .social-icons{
        display: flex;
        background-color: transparent;
        padding: 0;
        span{
            flex: 1;
            text-align: center;
        }
        a{
            font-size: 25px;
            margin: 0;
        }
    }
}

@media screen and (max-width:$screen-mobile){    
    .social-icons{
        padding:8px 0 8px 0;
        a{
            font-size: 25px;
            margin-left: 10px;
            color: $color-background-white;
            &:hover{
                text-decoration: none;
                color: $color-background-white;
            }
        }
        span:first-child{
            a{
                margin-left: 29px;
            }
        }
    }
}