.sticky-parent-container{
  background-color: $color-sticky-bars;
  .icon-chevron-double-right, .icon-chevron-double-left{
       font-size: 18px;
       cursor:pointer;
  }
}
.no-background {
   background-color: transparent;
}
.grey-background{
   background-color: $color-sticky-bars;
   position: relative;
}
.stickyEmail {
 position: sticky;
 bottom: 0;
 width: 100%;
 z-index: 9;
}
.sticky-closed-section{
   display: flex;
   align-items: center;
   justify-content: flex-end;
}
.contact-us-closed-section{
    color: $color-copy;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 42px;
    background-color: $color-elements;
    border-top: 1px solid $color-elements;
    clip-path: polygon(15% 0,1% 100%,100% 100%,100% 0);
    .closed-section-container{
       padding: 15px 40px 15px 2pc;
    }
   .closed-section-text{
       margin-left: 24px;
       display:inline-block;
   }
   .border-mimic{
       clip-path: polygon(16% 0,2% 100%,100% 100%,100% 0);
       background-color: $color-sticky-bars;
   }
}

.sticky-email {
   box-sizing: border-box;
   .p-2{
     padding: 0px !important;
   }
   .sticky-left-section{
     margin: 15px 10px 15px 32px;
     .contact-us-text-desktop{
       color:$color-headings;
       font-size: 28px;
       letter-spacing: 0;
       line-height: 42px;
       margin-left: 50px;
     }
     .contact-us-text-mobile{
       display: none;
     }
   }
   .sticky-right-section{
       color: $color-universal;
       font-size: 20px;
       letter-spacing: 0;
       line-height: 42px;
       .sticky-section-option{
         margin: 15px 25px 15px 25px;
         transform: skew(20deg);
         .icon-chat{
           font-size:25px;
           position: relative;
           top:3px;
         }
       }
       .icon-close{
         font-size: 16px;
         font-weight: 400;
         margin-right: 19px;
         display: inline-block;
         margin-top: 24px;
         cursor: pointer;
       }
       .sticky-option-text{
         vertical-align: middle;
         text-decoration: underline;
         margin-left: 8px;
       }
       .sticky-option-icon{
         vertical-align: middle;
       }
       .sticky-section{
         transform: skew(-20deg);
         background: $color-highlights;
         width: max-content;
         margin-right: 40px;
         cursor: pointer;
       }
       .sticky-option-text::after{
         content: "\e925";
         font-family: 'icomoon';
         font-size: 7px;
         vertical-align: middle;
         margin-left: 7px;
         text-decoration: none;
         display: inline-block;
       }
       .sticky-section.collapsed{
         height: 8px;
         .sticky-option-text::after{
           content: "\e924";
         }
       }
   }
}
.contact-us-form{
   background: #27292e;
   overflow-y: auto;
   height:100vh;
   position: absolute;
   width: 100%;
   z-index: 1;
   display: none;
}

@media screen and (max-width: $screen-mobile) {
   .sticky-email{
     .sticky-left-section{
       margin: 10px 10px 10px 16px;
       .contact-us-text-mobile{
         display: inline-block;
         font-size: 13px;
         line-height: 29px;
       }
       .contact-us-text-desktop{
         display: none;
       }
     }
     .sticky-right-section{
       font-size: 13px;
       letter-spacing: 0;
       line-height: 29px;
       .sticky-section-option{
         margin: 10px 8px 10px 8px;
         .icon-chat{
           font-size:15px;
         }
       }
       .icon-close{
         font-size: 10px;
         margin-right: 13px;
         margin-top: 20px;
       }
       .sticky-section{
         margin-right: 20px;
       }
     }
   }
   .contact-us-closed-section{
        font-size: 16px;
        line-height: 29px;
        clip-path: polygon(16% 0%, 1% 100%, 100% 100%, 100% 0%);
        .closed-section-container{
            padding: 10px 24px 10px 2pc;
         }
        .closed-section-text{
            margin-left: 12px;
            display:none;
        }
        .border-mimic{
            clip-path: polygon(18% 0,3% 100%,100% 100%,100% 0);
        }
   }
   .sticky-parent-container{
       .icon-chevron-double-right, .icon-chevron-double-left{
           font-size: 13px;
        }
    }
}
@media screen and (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
   .sticky-email{
     .sticky-left-section{
       margin: 10px 10px 10px 11px;
       .contact-us-text-mobile{
         display: none;
       }
       .contact-us-text-desktop{
         display: inline-block;
         font-size: 16px;
         line-height: 29px
       }
     }
     .sticky-right-section{
       font-size: 13px;
       letter-spacing: 0;
       line-height: 29px;
       .sticky-section-option{
         margin: 10px 8px 10px 8px;
         .icon-chat{
           font-size:15px;
         }
       }
       .icon-close{
         font-size: 10px;
         margin-right: 13px;
         margin-top: 20px;
       }
       .sticky-section{
         margin-right: 20px;
       }
     }
   }
   .contact-us-closed-section{
        font-size: 16px;
        line-height: 29px;
        clip-path: polygon(16% 0%, 1% 100%, 100% 100%, 100% 0%);
        .closed-section-container{
             padding: 10px 24px 10px 2pc;
         }
         .closed-section-text{
             margin-left: 12px;
        }
        .border-mimic{
             clip-path: polygon(18% 0,3% 100%,100% 100%,100% 0);
        }
   }
   .sticky-parent-container{
       .icon-chevron-double-right, .icon-chevron-double-left{
            font-size: 14px;
        }
    }
}