
.style-guide{
    .test-banner{
        background-color: black;  
    }
    label{
        display: block;
    }
    .btn{
        margin: 14px 10px 32px 0px;
    }
    .display-icons{
        span{
            font-size: 40px;
            margin: 20px;
            display: inline-block;
            width: 6%;
        }
    }
    .display-colors{
        span{
            max-width: 16%;
            display: inline-block;
            height: auto;
            text-align: center;
            margin: 10px 20px;
        }
    }
}
