.cmp-tabs {
  margin: 0;
  display: block;
  flex-wrap: wrap;

  .container.responsivegrid {
    width: 100%;
  }

  .cmp-tabs__tablist {
    border-radius: calculateRem(7);
    padding-inline-start: 0;
    margin: 0;
    flex-shrink: 1;
    display: block;
    flex-wrap: wrap;
    list-style: none;

    .cmp-tabs__tab {
      display: inline-block;
      padding: calculateRem(8) calculateRem(16);
      @include t-14();
      font-weight: $font-weight-extrabold;
      font-size: caluclateRem(14);
      line-height: caluclateRem(19);
      border-radius: calculateRem(7);
      cursor: pointer;
    }
  }
}

// Margin Override Options //
.cmp-tabs__margin-128 {
  margin: 0 0 calculateRem(128);
}

.cmp-tabs__margin-64 {
  margin: 0 0 calculateRem(64);
}

.cmp-tabs__margin-32 {
  margin: 0 0 calculateRem(32);
}

.cmp-tabs__margin-16 {
  margin: 0 0 calculateRem(16);
}

.cmp-tabs__margin-8 {
  margin: 0 0 calculateRem(8);
}

.cmp-tabs__margin-4 {
  margin: 0 0 calculateRem(4);
}

.cmp-tabs__margin-2 {
  margin: 0 0 calculateRem(2);
}

.cmp-tabs__margin-0 {
  margin: 0 0 calculateRem(0);
}


.cmp-tabs__tab--active {}

.cmp-tabs__tabpanel {}

.cmp-tabs__tabpanel--active {}

.day {
  .cmp-tabs__tab {
    color: $color-cinder;

    &:hover {
      color: $color-charcoal;
      backdrop-filter: brightness(90%);
    }

    &.cmp-tabs__tab--active {
      color: $color-marshmallow;
      background-color: $color-coal;
      cursor: default;
    }
  }

  .cmp-tabs__smoke {
    background-color: $color-smoke;
  }

  .cmp-tabs__marshmallow {
    background-color: $color-marshmallow;
  }
}

.night {
  .cmp-tabs__tab {
    color: $color-ash;

    &:hover {
      color: $color-smoke;
      backdrop-filter: brightness(150%);
    }

    &.cmp-tabs__tab--active {
      color: $color-coal;
      background-color: $color-marshmallow;
      cursor: default;
    }
  }

  .cmp-tabs__charcoal {
    background-color: $color-charcoal;
  }

  .cmp-tabs__coal {
    background-color: $color-coal;
  }
}