.cell-font-regular{
    font-weight: 400;
}
.CellFont-Medium{
    font-weight: 500;
}
.cell-font-semi-bold{
    font-weight:600;
}
.cell-font-bold{
    font-weight: 700;
}
.font-size-12{
    font-size: 12px;
}
.font-size-14{
    font-size: 14px;
}
.font-size-15{
    font-size: 15px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-17{
    font-size: 17px;
}
.font-size-18{
    font-size: 18px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-22{
    font-size: 22px;
}
.font-size-24{
    font-size: 24px;
}
.font-size-26{
    font-size: 26px;
}
.font-size-28{
    font-size: 28px;
}
.font-size-30{
    font-size: 30px;
}
.font-size-32{
    font-size: 32px;
}
.font-size-33{
    font-size: 33px;
}
.font-size-34{
    font-size: 34px;
}
.font-size-40{
    font-size: 40px;
}
.font-size-60{
    font-size: 60px;
}
coral-dialog[trackingfeature="aem:sites:components:dialogs:table"]{
    tbody, td, tfoot, th, thead, tr {
        border: 1px solid;
    }
    td, th {
        padding: 10px;
    }
}

.table-container{
    overflow-x: auto;
    table{
        border-collapse: collapse;
        background-color:white;
        &, th, td{
            border: 1px solid $color-elements;
        }
        th, td{
            padding: 8px 13px;
        }
        tr:first-child{
            background-color: $color-table-row;  
        }
    }
    .table-title{
        color: $color-headings;
        font-size: 33px;
        letter-spacing: 0;
        line-height: 50px;
        margin-bottom: 5px;
    }
    .table-description{
        font-size: 17px;
        letter-spacing: 0;
        line-height: 32px;
        margin-bottom: 15px;
    }
}

.stripped-table{
    table{
        border: none;
        tr:nth-child(odd){
            background-color: $color-table-row;
        }
        th,td{
            padding: 12px 18px;
        }
        tr:first-child{
            th, td{
                &:first-child{
                    border-left: none;
                    border-top: none;
                    background-color: $color-background-white;
                }
            }
        }
        tr:last-child{
            td:first-child{
                    border-left: none;
                    border-bottom: none;
                    background-color: $color-background-white;
            }
        }
        tr{
            td:first-child{
                border-left: none;
                background-color: $color-background-white;
            }
        }

    }
}


