.testimonial {
  .image-container{
    min-height: 460px;
  }
  .gradient {
    display: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, $color-universal 100%);
    height: 30px;
    position: relative;
    top: -29px;
  }
  .carousel-indicators {
    justify-content: left;
    li {
      border-radius: 50%;
      width: 18px;
      height: 18px;
      box-sizing: border-box;
      border: 3px solid $color-elements;
      background: transparent;
      &:not(:first-child){
        margin-left: 25px;
      }
    }
    .active {
      background-color: $color-actions;
      border: 3px solid $color-actions;
    }
  }
  .testimonialLink {
    position: absolute;
    bottom: 0;
    a{
      color: $color-actions;
      font-size: 24px;
      letter-spacing: 0;
      line-height: 41px;
      font-weight: bold;
      span{
        font-size: 14px;
      }
    }
  }
  .testimonial-text {
    font-size: 40px;
    letter-spacing: 0;
    line-height: 56px;
    text-align: left;
    position: relative;
  }
  .testimonial-name {
    font-size: 20px;
    letter-spacing: 0;
    line-height: 36px;
    text-align: left;
    margin-top: 20px;
  }
  .icon-quote-open{
    color: $color-elements;
    position: absolute;
  }
  .icon-quote-close{
    color: $color-elements;
    position: absolute;
  }
  .background-image-desktop{
      display:block;
  }
  .background-image-mobile{
      display:none;
  }
}

@media screen and (min-width: 1368px) {
  .testimonial{
    .carousel-item{
      padding-bottom: 190px;
      background-color: $color-universal;;
      .carousel-caption{
        top: 65px;
      }
    }
    .gradient {
      display: block;
    }
  }
}

@media screen and(min-width: $screen-tablet-max + 1) {
  .testimonial {
    .testimonial-image{
      width: 100%;
    }
    .carousel-caption {
      right: 6.13%;
      left: auto;
      max-width: 60%;
      top: 30px;
      padding: 0;
      bottom: auto;
    }
    .carousel-indicators {
      width: 60%;
      right: 6.13%;
      left: auto;
      margin: 0;
      bottom: 130px;
    }
    .testimonialLink {
      width: 60%;
      right: 6.13%;
      left: auto;
      bottom: 60px;
    }
    .icon-quote-open{
      font-size: 43px;
      left: -90px;
    }
    .icon-quote-close{
      font-size: 43px;
      right: -70px;
      bottom: 56px;
    }
  }
}

@media screen and (min-width: $screen-tablet-min) and (max-width: 1367px) {
  .testimonial {
    .gradient {
      display: block;
    }
    .testimonial-image{
      width: 100%;
    }
    .image-container {
      width: 100%;
      position: absolute;
      top: 0;
    }
    .carousel-item {
      padding-bottom: 110px;
      background-color: $color-universal;
    }
    .carousel-caption {
      position: relative;
      width: 54.2%;
      right: 0;
      left: 35%;
      top: 13px;
      padding: 0 5px;
    }
    .testimonial-text {
      font-size: 24px;
      line-height: 36px;
      &:before {
        left: -36px;
      }
      &:after {
        right: -36px;
      }
    }
    .testimonial-name {
      font-size: 12px;
      margin-top: -10px;
    }
    .carousel-indicators {
      width: 54.2%;
      left: 35%;
      right: 0;
      margin: 0;
      bottom: 78px;
    }
    .testimonialLink {
      bottom: 22px;
      width: 54.2%;
      left: 35%;
      right: 0;
      margin: 0;
      padding: 0 5px;
      a{
        font-size: 18px;
        line-height: 31px;
        span{
          font-size: 14px;
        }
      }
    }
    .icon-quote-open{
      font-size: 18px;
      left: -32px;
      top: 0px;
    }
    .icon-quote-close{
      font-size: 18px;
      right: -34px;
      bottom: 54px;
    }
  }
}

@media screen and (max-width: $screen-mobile) {
  .testimonial {
    .gradient {
      display: block;
    }
    .carousel-caption {
      position: relative;
      left: 0;
      right: 0;
      margin-bottom: 170px;
      padding: 0;
    }
    .testimonial-text {
      padding: 0 10px;
      font-size: 30px;
      letter-spacing: 0;
      line-height: 42px;
      text-align: center;
      margin: 0;
    }
    .testimonial-name {
      margin: 0 78px;
      text-align: center;
      font-size: 16px;
      line-height: 29px;
    }
    .carousel-indicators {
      justify-content: center;
      bottom: 130px;
      margin: 0;
    }
    .testimonialLink {
      margin: 0 auto;
      text-align: center;
      padding: 0;
      right: 0;
      left: 0;
      bottom: 56px;
      a{
        font-size: 18px;
        line-height: 31px;
        span{
          font-size: 14px;
        }
      }
    }
    .carousel-item {
      background-color: $color-universal;
      .icon-quote-open{
        top: -48px;
        left: 16px;
        font-size: 35px;
      }
      .icon-quote-close{
        font-size: 35px;
        right: 15px;
        bottom: 10px;
      }
    }
    .testimonial-image{
      height: 433px;
    }
    .background-image-desktop{
        display:none;
    }
    .background-image-mobile{
        display:block;
    }
  }
}