.kemin-timeline-slider {
  margin-top: 30px;
  margin-bottom: 30px;

  img {
    height: 188.46px;
    width: 350px;
  }
  div.owl-item.active:last-child {
    opacity: 1 !important;
  }
  .owl-carousel{
    z-index: 0;
  }
  .owl-carousel div.owl-item:first-child {
    .badge {
      border-left: 3px solid #3a3a3a;
    }
    .line-left {
      width: 25px;
      height: 3px;
      background-color: #27292e;
      position: absolute;
      left: -4%;
      transform: rotate(-90deg);
      top: -15px;
    }
  }

  .timeline-desc {
    color: #3a3a3a;
    font-family: Inter;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 32px;
    text-align: center;
    height: 64px;
    overflow: hidden;
  }
  .timeline-desc-moreline{
    line-height: 1.4pc;
  }
  .timeline-title {
    color: #27292e;
    font-family: Inter;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 42px;
  }
  .badge {
    text-align: center;
    padding: 13px;
    background-color: #3fc1cb;
    font-weight: bold;
    border-top: 3px solid #3a3a3a;
    margin-top: 40px;
    position: relative;
    width: 119%;
    border-radius: 0;
  }
  .owl-stage {
    padding-left: 0px !important;
  }
  .timeline-group {
    color: #000000;
    font-family: Inter;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 32px;
    text-align: center;
    overflow: hidden;
    height: 2.2pc;
  }
  .timeline-group-moreline{
    width: 90%;
    white-space: normal;
    line-height: 1.12pc;
  }
  .circle {
    width: 20px;
    height: 20px;
    background-color: #27292e;
    border-radius: 50%;
    position: absolute;
    top: -14px;
    left: 40%;
  }

  .line {
    width: 25px;
    height: 3px;
    background-color: #27292e;
    position: absolute;
    left: 40%;
    transform: rotate(-62deg);
    top: -20px;
  }

  .owl-carousel .owl-nav {
    overflow: hidden;
    height: 0px;
  }

  .owl-carousel .item {
    text-align: center;
  }

  .owl-carousel .nav-button {
    // height: 50px;
    // width: 25px;
    cursor: pointer;
    position: absolute;
    top: 168px !important;
  }

  .owl-carousel .owl-prev.disabled,
  .owl-carousel .owl-next.disabled {
    display: none;
  }

  .owl-carousel .owl-nav .owl-prev:before {
    // fa-chevron-left
    content: "\e929";
    font-family: icomoon;
    font-size: 40px;
  }
  .owl-carousel .owl-nav .owl-next:after {
    //fa-chevron-right
    content: "\e928";
    font-family: icomoon;
    font-size: 40px;
  }
  .owl-carousel .owl-prev {
    left: -45px;
  }

  .owl-carousel .owl-next {
    right: -45px;
  }
  .owl-theme .owl-nav [class*="owl-"] {
    color: black;
    font-size: 0;
    margin: 0;
    background: none;
  }
  .bcg-opacity {
    opacity: 0.5;
  }

  .owl-carousel .prev-carousel:hover {
    background-position: 0px -53px;
  }

  .owl-carousel .next-carousel:hover {
    background-position: -24px -53px;
  }
}

.kemin-root-timeline {
  width: 100%;
  margin: auto;
  .timeline-heading {
    color: #27292e;
    font-family: Inter;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 56px;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

// mobile
@media screen and (max-width: 767px) {
  .kemin-timeline-slider {
    .badge {
      width: 114%;
    }
    .bcg-opacity {
      opacity: 1 !important;
    }
    .timeline-title {
     
      font-size: 24px;
      line-height: 36px;
    }
    .timeline-desc {
     
      font-size: 14px;
      line-height: 27px;
      height: 54px;
      
    }
    .timeline-desc-moreline{
      line-height: 1.2pc;
    }
  }
  .kemin-root-timeline {
   
    .timeline-heading {
      
      font-size: 26px;
      line-height: 39px;
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}


/** Tablet padding:768px to 1024px **/
@media screen and (min-width: 768px) and (max-width:991px) { 
  .kemin-timeline-slider {
    .timeline-title {
     
      font-size: 24px;
      line-height: 36px;
    }
    .timeline-desc {
     
      font-size: 14px;
      line-height: 27px;
      height: 54px;
      
    }
    .timeline-desc-moreline{
      line-height: 1.2pc;
    }
  }
  .kemin-root-timeline {
   
    .timeline-heading {
      
      font-size: 26px;
      line-height: 39px;
      padding-top: 42px;
      padding-bottom: 42px;
    }
  }
}