.cmp-title {
  margin: 0;
}
.cmp-title__margin-128 {
  .cmp-title__text{
    margin: 0 0 calculateRem(128) !important;
  }
}
.cmp-title__margin-64 {
  .cmp-title__text{    
    margin: 0 0 calculateRem(64) !important;
  }
}
.cmp-title__margin-32 {
  .cmp-title__text{    
    margin: 0 0 calculateRem(32) !important;
  }
}
.cmp-title__margin-16 {
  .cmp-title__text{    
    margin: 0 0 calculateRem(16) !important;
  }
}
.cmp-title__margin-8 {
  .cmp-title__text{    
    margin: 0 0 calculateRem(8) !important;
  }
}
.cmp-title__margin-4 {
  .cmp-title__text{    
    margin: 0 0 calculateRem(4) !important;
  }
}
.cmp-title__margin-2 {
  .cmp-title__text{    
    margin: 0 0 calculateRem(2) !important;
  }
}
// Color Override Options //
//text color
.boost,
.genesis{
    .cmp-title__text-coal{
      .cmp-title__text{
        color: $color-coal;
      }
    }
    .cmp-title__text-charcoal{
      .cmp-title__text{
        color: $color-charcoal;
      }
    }
    .cmp-title__text-cinder{
      .cmp-title__text{
        color: $color-cinder;
      }
    }
    .cmp-title__text-ash{
      .cmp-title__text{
        color: $color-ash;
      }
    }
    .cmp-title__text-smoke{
      .cmp-title__text{
        color: $color-smoke;
      }
    }
    .cmp-title__text-marshmallow{
      .cmp-title__text{
        color: $color-marshmallow;
      }
    }
    .cmp-title__text-black{
      .cmp-title__text{
        color: $color-black;
      }
    }
}

//Boost Colors Text
.cmp-title__text-orange-1{
  .cmp-title__text{
    color: $color-brand-boost-orange-1;
  }
}
.cmp-title__text-orange-2{
  .cmp-title__text{
    color: $color-brand-boost-orange-2;
  }
}
.cmp-title__text-orange-3{
  .cmp-title__text{
    color: $color-brand-boost-orange-3;
  }
}
.cmp-title__text-dark-blue{
  .cmp-title__text{
    color: $color-brand-boost-dark-blue;
  }
}
.cmp-title__text-mid-blue{
  .cmp-title__text{
    color: $color-brand-boost-mid-blue;
  }
}
.cmp-title__text-accent-blue{
  .cmp-title__text{
    color: $color-brand-boost-accent-blue;
  }
}
.cmp-title__text-accent-green{
  .cmp-title__text{
    color: $color-brand-boost-accent-green;
  }
}

//link color
.cmp-title__link-coal {
  .cmp-title__link{    
    color: $color-coal;
    &:hover {
      color: $color-coal;
      &:after {
        background-color: $color-coal;
      }
    }
    &:after {
      background-color: $color-coal;
    }
  }
}
 .cmp-title__link-charcoal {
  .cmp-title__link{    
    color: $color-charcoal;
    &:hover {
      color: $color-charcoal;
      &:after {
        background-color: $color-charcoal;
      }
    }
    &:after {
      background-color: $color-charcoal;
    }
  }
}
 .cmp-title__link-cinder {
  .cmp-title__link{    
    color: $color-cinder;
    &:hover {
      color: $color-cinder;
      &:after {
        background-color: $color-cinder;
      }
    }
    &:after {
      background-color: $color-cinder;
    }
  }
}
 .cmp-title__link-ash {
  .cmp-title__link{    
    color: $color-ash;
    &:hover {
      color: $color-ash;
      &:after {
        background-color: $color-ash;
      }
    }
    &:after {
      background-color: $color-ash;
    }
  }
}
 .cmp-title__link-smoke {
  .cmp-title__link{    
    color: $color-smoke;
    &:hover {
      color: $color-smoke;
      &:after {
        background-color: $color-smoke;
      }
    }
    &:after {
      background-color: $color-smoke;
    }
  }
}
 .cmp-title__link-marshmallow {
  .cmp-title__link{    
    color: $color-marshmallow;
    &:hover {
      color: $color-marshmallow;
      &:after {
        background-color: $color-marshmallow;
      }
    }
    &:after {
      background-color: $color-marshmallow;
    }
  }
}

//Boost link Colors
.cmp-title__link-orange-1 {
  .cmp-title__link{
    color: $color-brand-boost-orange-1;
    &:hover {
      color: $color-brand-boost-orange-1;
      &:after {
        background-color: $color-brand-boost-orange-1;
      }
    }
    &:after {
      background-color: $color-brand-boost-orange-1;
    }
  }
}
.cmp-title__link-orange-2 {
  .cmp-title__link{
    color: $color-brand-boost-orange-2;
    &:hover {
      color: $color-brand-boost-orange-2;
      &:after {
        background-color: $color-brand-boost-orange-2;
      }
    }
    &:after {
      background-color: $color-brand-boost-orange-2;
    }
  }
}
.cmp-title__link-orange-3 {
  .cmp-title__link{
    color: $color-brand-boost-orange-3;
    &:hover {
      color: $color-brand-boost-orange-3;
      &:after {
        background-color: $color-brand-boost-orange-3;
      }
    }
    &:after {
      background-color: $color-brand-boost-orange-3;
    }
  }
}
.cmp-title__link-dark-blue {
  .cmp-title__link{
    color: $color-brand-boost-dark-blue;
    &:hover {
      color: $color-brand-boost-dark-blue;
      &:after {
        background-color: $color-brand-boost-dark-blue;
      }
    }
    &:after {
      background-color: $color-brand-boost-dark-blue;
    }
  }
}
.cmp-title__link-mid-blue {
  .cmp-title__link{
    color: $color-brand-boost-mid-blue;
    &:hover {
      color: $color-brand-boost-mid-blue;
      &:after {
        background-color: $color-brand-boost-mid-blue;
      }
    }
    &:after {
      background-color: $color-brand-boost-mid-blue;
    }
  }
}
.cmp-title__link-accent-blue {
  .cmp-title__link{
    color: $color-brand-boost-accent-blue;
    &:hover {
      color: $color-brand-boost-accent-blue;
      &:after {
        background-color: $color-brand-boost-accent-blue;
      }
    }
    &:after {
      background-color: $color-brand-boost-accent-blue;
    }
  }
}
.cmp-title__link-accent-green {
  .cmp-title__link{
    color: $color-brand-boost-accent-green;
    &:hover {
      color: $color-brand-boost-accent-green;
      &:after {
        background-color: $color-brand-boost-accent-green;
      }
    }
    &:after {
      background-color: $color-brand-boost-accent-green;
    }
  }
}
.cmp-title__link-black {
  .cmp-title__link{
    color: $color-black;
    &:hover {
      color: $color-black;
      &:after {
        background-color: $color-black;
      }
    }
    &:after {
      background-color: $color-black;
    }
  }
}


// Text Size Override Options //
//text size
.cmp-title__text-62{
  .cmp-title__text{
    
    @include t-62();
  }
}
.cmp-title__text-52{
  .cmp-title__text{
    
    @include t-52();
  }
}
.cmp-title__text-44{
  .cmp-title__text{
    
    @include t-44();
  }
}
.cmp-title__text-36{
  .cmp-title__text{
    
    @include t-36();
  }
}
.cmp-title__text-32{
  .cmp-title__text{
    
    @include t-32();
  }
}
.cmp-title__text-28{
  .cmp-title__text{
    
    @include t-28();
  }
}
.cmp-title__text-24{
  .cmp-title__text{
    
    @include t-24();
  }
}
.cmp-title__text-20{
  .cmp-title__text{
    
    @include t-20();
  }
}
.cmp-title__text-18{
  .cmp-title__text{
    
    @include t-18();
  }
}
.cmp-title__text-16{
  .cmp-title__text{
    
    @include t-16();
  }
}
.cmp-title__text-14{
  .cmp-title__text{
    
    @include t-14();
  }
}
.cmp-title__text-12{
  .cmp-title__text{
    
    @include t-12();
  }
}
// link size
.cmp-title__link-62 {
  .cmp-title__link{
    
    @include t-62();
  }
}
.cmp-title__link-52 {
  .cmp-title__link{
    
    @include t-52();
  }
}
.cmp-title__link-44 {
  .cmp-title__link{
    
    @include t-44();
  }
}
.cmp-title__link-36 {
  .cmp-title__link{
    
    @include t-36();
  }
}
.cmp-title__link-32 {
  .cmp-title__link{
    
    @include t-32();
  }
}
.cmp-title__link-28 {
  .cmp-title__link{
    
    @include t-28();
  }
}
.cmp-title__link-24 {
  .cmp-title__link{
    
    @include t-24();
  }
}
.cmp-title__link-20 {
  .cmp-title__link{
    
    @include t-20();
  }
}
.cmp-title__link-18 {
  .cmp-title__link{
    
    @include t-18();
  }
}
.cmp-title__link-16 {
  .cmp-title__link{
    
    @include t-16();
  }
}
.cmp-title__link-14 {
  .cmp-title__link{
    
    @include t-14();
  }
}
.cmp-title__link-12 {
  .cmp-title__link{
    @include t-12();
  }
}

// Genesis text color
.genesis{
    .cmp-title__text-genesis-green{
      .cmp-title__text{
        color: $color-brand-genesis-green;
      }
    }
    .cmp-title__text-genesis-mineral-green{
      .cmp-title__text{
        color: $color-brand-genesis-mineral-green;
      }
    }
    .cmp-title__text-genesis-russian-black{
      .cmp-title__text{
        color: $color-brand-genesis-black-russian;
      }
    }
}

//Gensis Text Align
.boost,.genesis{
  .cmp-title__text-left{
      .cmp-title__text{
        text-align: left;
    }
  }
  .cmp-title__text-center{
    .cmp-title__text{
      text-align:center;
    }
  }
  .cmp-title__text-right{
    .cmp-title__text{
      text-align: right;
    }
  }
}

//Gensis font-weight
.boost,.genesis{
  .cmp-title__text-weight-exbold{
    .cmp-title__text{
     font-weight:900;
    }
  }
  .cmp-title__text-weight-bold{
    .cmp-title__text{
     font-weight:700;
    }
  }
  .cmp-title__text-weight-regular{
    .cmp-title__text{
     font-weight:400;
    }
  }
  .cmp-title__text-weight-light{
    .cmp-title__text{
     font-weight:200;
    }
  }
}

//Boost color-text New
.boost{ 
  .cmp-title__text-ne100{
    .cmp-title__text{
     color:$text_color01_high;
    }
  }
  .cmp-title__text-ne200{
    .cmp-title__text{
      color:$text_color03_neutral200;
    }
  }
  .cmp-title__text-ne300{
    .cmp-title__text{
     color:$text_color03_neutral300;
    }
  }
  .cmp-title__text-ne400{
    .cmp-title__text{
     color:$text_color03_low;
    }
  }
  .cmp-title__text-ne700{
    .cmp-title__text{
     color:$text_color02_medium;
    }
  }
  .cmp-title__text-ne800{
    .cmp-title__text{
     color:$text_color03_neutral800;
    }
  }
  .cmp-title__text-ne900{
    .cmp-title__text{
     color:$text_color01_high;
    }
  }
  .cmp-title__text-pri500{
    .cmp-title__text{
     color:$text_color05_brand_primary;
    }
  }
  .cmp-title__text-sec500{
    .cmp-title__text{
     color:$text_color05_brand_secondary;
    }
  }
  .cmp-title__text-invert{
    .cmp-title__text{
     color:$text_color04_brand_invert;
    }
  }
}



//Genesis brand color new

.genesis{ 
  .cmp-title__text-ne50genesis{
    .cmp-title__text{
     color:$text_color01_high_genesis;
    }
  }
  .cmp-title__text-ne500genesis{
    .cmp-title__text{
     color:$text_color02_medium_genesis;
    }
  }
  .cmp-title__text-ne700genesis{
    .cmp-title__text{
     color:$text_color03_low_genesis;
    }
  }
  .cmp-title__text-ne900genesis{
    .cmp-title__text{
     color:$text_color04_brand_invert_genesis;
    }
  }
  .cmp-title__text-p500genesis{
    .cmp-title__text{
     color:$text_color05_brand_primary_genesis;
    }
  }
  .cmp-title__text-s500genesis{
    .cmp-title__text{
     color:$text_color05_brand_secondary_genesis;
    }
  }
}

