.video_section{
    padding: 0;
    .video_main{
        padding-top: 0;
        position: relative;
        width: 100%;
        margin: auto;
        .video_wrapper{
            .youtube{
                width: 100%;
                padding-top: 56.25%;
                height: 0px;
                position: relative;
                iframe{
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            .dam-video-wrap {
                width: 100%;
                padding-top: 56.25%;
                height: 0px;
                position: relative;
                .dam-video {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
        .video_caption{
            color:$color-copy;
        }
        .video_wrapper{
            position: relative;
        }
        .play_stop_btn{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .playbtnblack{
                font-size: 92px;
                cursor: pointer;
                color:$color-universal;
                &.playbtnred{
                    color:$color-actions;
                    font-size: 92px;
                    cursor: pointer;
                }
                &.playbtnblue{
                    color:$color-highlights;
                    font-size: 92px;
                    cursor: pointer; 
                }
                &.playbtngray{
                    color:$color-elements;
                    font-size: 92px;
                    cursor: pointer;
                }
                &.playbtnwhite{
                    color:$color-background-white;
                    font-size: 92px;
                    cursor: pointer; 
                }
            }
        }
        .video_assets{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: #fff;
            overflow: hidden;
            .video_poster_overlay{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%,-50%);
                width: 100%;
                img{
                    width: 100%;
                }
            }
            
        }
    }
}

//Mobile
@media screen and (max-width: 767px) { 
    .video_section{
        .video_main{
            .video_assets{
                .play_stop_btn{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    .playbtnblack{
                        font-size: 40px;
                        cursor: pointer;
                        color:$color-universal;
                        &.playbtnred{
                            color:$color-actions;
                            font-size: 40px;
                            cursor: pointer;
                        }
                        &.playbtnblue{
                            color:$color-highlights;
                            font-size: 40px;
                            cursor: pointer; 
                        }
                        &.playbtngray{
                            color:$color-elements;
                            font-size: 40px;
                            cursor: pointer;
                        }
                        &.playbtnwhite{
                            color:$color-background-white;
                            font-size: 40px;
                            cursor: pointer; 
                        }
                    }
                }
            }
        }
    }
}

//Tablet
@media screen and (min-width: 768px) and (max-width:991px) {
    .video_section{
        .video_main{
            .video_assets{
                .play_stop_btn{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    .playbtnblack{
                        font-size: 86px;
                        cursor: pointer;
                        color:$color-universal;
                        &.playbtnred{
                            color:$color-actions;
                            font-size: 86px;
                            cursor: pointer;
                        }
                        &.playbtnblue{
                            color:$color-highlights;
                            font-size: 86px;
                            cursor: pointer; 
                        }
                        &.playbtngray{
                            color:$color-elements;
                            font-size: 86px;
                            cursor: pointer;
                        }
                        &.playbtnwhite{
                            color:$color-background-white;
                            font-size: 86px;
                            cursor: pointer; 
                        }
                    }
                }
            }
        }
    }
}