.accordion-container{
    .accordion-button{
        color: $color-headings;
        padding: 8px 20px ;
        align-items: flex-start;
        p{
            font-size: 16px;
            font-weight: $bold;
            letter-spacing: 0;
            line-height: 29px;
            text-transform: uppercase;
            margin-bottom: auto;
        }
    }
    .accordion-button.collapsed{
        background-color: $color-menus;
        p{
            word-break: break-word;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            max-height: 87px;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
    .accordion-button:not(.collapsed){
        background-color: $color-background-white;
        box-shadow: none;
    }
    .accordion-button:not(.collapsed):after {
        content: "\e91c";
    }
    .accordion-button::after {
        content: "\e91f";
        font-family: 'icomoon';
        background-image: none;
        color: black;
        font-size: 18px;
        margin-top: 20px;
        transform: rotate(-180deg);
    }
    .accordion-item {
         background-color: $color-background-white;
         border: 1px solid $color-elements;
         margin-bottom: 10px;
         border-radius: 0px;
     }
     .accordion-title{
        color: $color-headings;
        font-size: 28px;
        letter-spacing: 0;
        line-height: 42px;
        margin: 20px 0px;
     }
     .accordion-body{
        padding: 8px 20px;
     }
}
