
.anchor-menu {
	border: 1px solid $color-elements;
	background-color: $color-sticky-bars;
	box-sizing: border-box;
	height: 65px;
}
.anchor-container{
padding-top:32px;
padding-bottom:32px;
}
.anchor{
position: sticky;
top: 0;
z-index: 3;
}
.sticky-anchor-items {
	display: flex;
	height: 65px;
	.nav-link{
		&:hover{
			text-decoration: none;
		}
	}
}

.anchor-rectangle:nth-of-type(1) {
	margin-left: 103px;
}

.anchor-background {
	border-bottom: 8px solid $color-highlights;
	transition: background 0.3s;
	transform: skew(20deg);
	margin-bottom: 2px;
	margin-right: 35px;
	.nav-link{
		&:hover{
			text-decoration: none;
		}
	}
	.anchor-nav-link{
		transform: skew(-18deg);
	}
}

.anchor-background a {
	display: block;
	text-decoration: none;
	padding: 5px 10px;
	font: 30px/1 sans-serif;
	transform: skew(-20deg);
	color: inherit;
}

.anchor-nav-text {
	color: $color-headings;
	font-family: Inter;
	font-size: 20px;
	white-space: nowrap;
	vertical-align: sub;
	margin-left: 15px;
}

.sticky-anchor-items .active {
	position: relative;
	&:before{
		content: '';
		height:65px;
		background-color: $color-highlights;
		transition: background 0.3s;
		transform: skew(0deg);
		cursor: pointer;
		position: absolute;
		width: 100%;
		left: 0px;
		z-index: -1;
		top: 0;
	}
}

.anchor-rectangle:hover {
	height: 65px;
	background-color: $color-highlights;
	transition: background 0.3s;
	transform: skew(20deg);
	cursor: pointer;
}

.anchor-nav-text {
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.anchor-peddle {
	display: none;
}
.sticky-top{
	z-index:1;
	&is-sticky {
		position: sticky;
		top: 0;
		z-index:1;
		width: 100%;
	}
}


@media screen and (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
	.hidden {
		display: none;
	}
	.anchor-peddle {
		display: block;
	}
	.anchor-direction {
		font-size: 28px;

	}
	.peddle {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 20px;
		&:before {
			content: '';
			background-color: rgba(238,238,238,0.85);
			position: absolute;
			height: 100%;
			width: 100%;
			filter: blur(2px);
			z-index: 0;
		}
	}
	.anchor-right {
		right: 0;
	}
	.anchor-right-angle {
		margin-left: -4pt;
		position: absolute;
		top: 24%;
		font-size: 20px;
	}
	.anchor-left-angle {
		margin-left: -8px;
		position: absolute;
		top: 24%;
		font-size: 20px;
    }

	.anchor-left {
		left: 0;
	}
	.anchor-menu {
		border: 1px solid $color-elements;
		background-color: $color-sticky-bars;
		box-sizing: border-box;
		height: 44px;
	}
	.sticky-anchor-items .active {
		position: relative;
		&:before{
			content: '';
			height: 42px;
			background-color: $color-highlights;
			transition: background 0.3s;
			transform: skew(0deg);
			cursor: pointer;
			position: absolute;
			width: 100%;
			left: 0px;
			z-index: -1;
			top: 0;
		}
	}
	.sticky-anchor-items {
		display: flex;
		height: 65px;
		overflow: hidden;
		.nav-link{
			&:hover{
				text-decoration: none;
			}
		}
	}
	.anchor-rectangle:nth-of-type(1) {
		margin-left: 38px;
	}
	.anchor-background {
		border-bottom: 6px solid $color-highlights;
		transition: background 0.3s;
		transform: skew(20deg);
		margin-right: 15px;
		margin-bottom: 23px;
		.anchor-nav-link{
			position: relative;
            top: -4px;
		}
	}
	.anchor-rectangle:hover {
		height: 44px;
		background-color: transparent;
		transition: background 0.3s;
		transform: skew(20deg);
		cursor: pointer;
	}
	.paddle {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 3em;
	}
	.anchor-nav-text{
	vertical-align: super;
	}
	.anchor-nav-text {
        /* height: 42px; */
        color: $color-headings;
        font-family: Inter;
        font-size: 20px;
        white-space: nowrap;
        vertical-align: super;
        margin-left: 4px;
    }
}

@media screen and (max-width: $screen-mobile) {
	.hidden {
		display: none;
	}
	.anchor-peddle {
		display: block;
	}
	.anchor-direction {
		font-size: 18px;
	}
	.anchor-right-angle {
		margin-left: -2px;
		vertical-align: sub;
		position: absolute;
        top: 28%;
    }
	.anchor-left-angle {
		margin-left: -5px;
		vertical-align: sub;
		position: absolute;
		top: 28%;
    }
	.peddle {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 20px;
		&:before {
			content: '';
			background-color: rgba(238,238,238,0.85);
			position: absolute;
			height: 100%;
			width: 100%;
			filter: blur(2px);
			z-index: 0;
		}
	}
	.anchor-right {
		right: 0;
	}
	.anchor-left {
		left: 0;
	}
	.anchor-menu {
		border: 1px solid $color-elements;
		background-color: $color-sticky-bars;
		box-sizing: border-box;
		height: 44px;
	}
	.sticky-anchor-items .active {
		position: relative;
		&:before{
			content: '';
			height: 42px;
			background-color: $color-highlights;
			transition: background 0.3s;
			transform: skew(0deg);
			cursor: pointer;
			position: absolute;
			width: 100%;
			left: 0px;
			z-index: -1;
			top: 0;
		}
	}
	.sticky-anchor-items {
		display: flex;
		height: 44px;
		overflow: hidden;
		.nav-link{
			&:hover{
				text-decoration: none;
			}
		}
	}
	.anchor-rectangle:nth-of-type(1) {
		margin-left: 15px;
	}
	.anchor-background {
		border-bottom: 6px solid $color-highlights;
		transition: background 0.3s;
		transform: skew(20deg);
		margin-right: 15px;
		.nav-link{
			&:hover{
				text-decoration: none;
			}
		}
		.anchor-nav-link{
			position: relative;
            top: -4px;
		}
	}
	.anchor-rectangle:hover {
		height: 44px;
		background-color: transparent;
		transition: background 0.3s;
		transform: skew(20deg);
		cursor: pointer;
	}
	.anchor-nav-text {
		color: $color-headings;
		font-family: Inter;
		font-size: 20px;
		white-space: nowrap;
		vertical-align: super;
		margin-left: 4px;
    }
}