// Mixin

@mixin linear-gradient-background ($selector, $color-1, $color-2) {
    &.bg-#{$selector}-gradient-0 {
      background-image: linear-gradient(0deg, $color-1, $color-2)
    }
    &.bg-#{$selector}-gradient-45 {
      background-image: linear-gradient(45deg, $color-1, $color-2)
    }
    &.bg-#{$selector}-gradient-90 {
      background-image: linear-gradient(90deg, $color-1, $color-2)
    }
    &.bg-#{$selector}-gradient-135 {
      background-image: linear-gradient(135deg, $color-1, $color-2)
    }
    &.bg-#{$selector}-gradient-180 {
      background-image: linear-gradient(180deg, $color-1, $color-2)
    }
    &.bg-#{$selector}-gradient-225 {
      background-image: linear-gradient(225deg, $color-1, $color-2)
    }
    &.bg-#{$selector}-gradient-270 {
      background-image: linear-gradient(270deg, $color-1, $color-2)
    }
    &.bg-#{$selector}-gradient-315 {
      background-image: linear-gradient(315deg, $color-1, $color-2)
    }
  }

// Margin Override Options //
.cmp-contentbanner__bm-0 {
    margin: 0 0 calculateRem(0);
}
.cmp-contentbanner__bm-2 {
    margin: 0 0 calculateRem(2);
}
.cmp-contentbanner__bm-4 {
    margin: 0 0 calculateRem(4);
}
.cmp-contentbanner__bm-8 {
    margin: 0 0 calculateRem(8);
}
.cmp-contentbanner__bm-16 {
    margin: 0 0 calculateRem(16);
}
.cmp-contentbanner__bm-32 {
    margin: 0 0 calculateRem(32);
}
.cmp-contentbanner__bm-64 {
    margin: 0 0 calculateRem(64);
}
.cmp-contentbanner__bm-128 {
    margin: 0 0 calculateRem(128);
}

// Core Color Override Options //
.boost,
.genesis{
    .cmp-contentbanner__coal .contbanner{
        background-color: $color-coal;
    }
    .cmp-contentbanner__charcoal .contbanner{
        background-color: $color-charcoal;
    }
    .cmp-contentbanner__cinder .contbanner{
        background-color: $color-cinder;
    }
    .cmp-contentbanner__ash .contbanner{
        background-color: $color-ash;
    }
    .cmp-contentbanner__smoke .contbanner{
        background-color: $color-smoke;
    }
    .cmp-contentbanner__marshmallow .contbanner{
        background-color: $color-marshmallow;
    }
    .cmp-contentbanner__black .contbanner{
        background-color: $color-black;
    }
}

// Boost Specific Overrides

.boost{
    //Boost colors
    .cmp-contentbanner__bg-boost-orange-1 .contbanner{
        background-color: $color-brand-boost-orange-1;
    }
    .cmp-contentbanner__bg-boost-orange-2 .contbanner{
        background-color: $color-brand-boost-orange-2;
    }
    .cmp-contentbanner__bg-boost-orange-3 .contbanner{
        background-color: $color-brand-boost-orange-3;
    }

    // OnTech Specific Overrides
    .cmp-contentbanner__bg-ontech-blue .contbanner{
        background-color: $color-brand-ontech;
    }
    .cmp-contentbanner__bg-ontech-river .contbanner{
        background-color: $color-brand-ontech-river;
    }
    .cmp-contentbanner__bg-ontech-sky .contbanner{
        background-color: $color-brand-ontech-sky;
    }
    .cmp-contentbanner__bg-ontech-sunset .contbanner{
        background-color: $color-brand-ontech-sunset;
    }
    .cmp-contentbanner__bg-ontech-sunrise .contbanner{
        background-color: $color-brand-ontech-sunrise;
    }

    // DISH Specific Overrides
    .cmp-contentbanner__bg-dish-red .contbanner{
        background-color: $color-brand-dish-red;
    }
    .cmp-contentbanner__bg-dish-ember .contbanner{
        background-color: $color-brand-dish-ember;
    }
}


// Genesis Colors Group
.genesis{
    .cmp-contentbanner__genesis-green .contbanner{
        background-color: $color-brand-genesis-green;
    }
    .cmp-contentbanner__genesis-russian-black .contbanner{
        background-color: $color-brand-genesis-black-russian;
    }
    .cmp-contentbanner__genesis-mineral-green .contbanner{
        background-color: $color-brand-genesis-mineral-green;
    }
}

.contbanner {
    margin: auto;
    position: relative;
    background-color: grey;
    border-radius: 0.9375rem;
    height: calculateRem(292);

    .cmp-image {
        width: calculateRem(392);
        position: absolute;
        padding-left: calculateRem(102);
        z-index: 0;
        height: calculateRem(392);
        width: calculateRem(392);
        top: 0;
    }
    .cmp-image__image {
        height: calculateRem(392);
        width: calculateRem(392);
    }
    .rightside {
        margin-left: 50%;
    }
    .leftside {
        width: 50%;
        .container {
            width: calculateRem(585);
        }
        .cmp-container {
            margin: 0 calculateRem(118) 0 0;
        }
    }
    .cmp-title {
        position: absolute;
        font-size: calculateRem(44);
        font-weight: $font-weight-extrabold;

    }
    .cmp-text {
        position: relative;
        padding: calculateRem(66) 0 0 0;
        font-weight: $font-weight-medium;
    }
    .rightimage {
        margin-left: 50%;
    }
}

.day {
    .contbanner {
        margin: auto;
        position: relative;
        background-color: $color-smoke;
        border-radius: 0.9375rem;
        height: calculateRem(292);
        margin: calculateRem(50) 0;
        .row {
            .cmp-image {
                padding-left: calculateRem(102);
                margin-top: calculateRem(-50);
            }
            .cmp-image__image {
                height: calculateRem(392);
                width: calculateRem(392);
            }
            .rightside {
                margin: calculateRem(57) calculateRem(102) calculateRem(123) 0;
                margin-left: 50%;
                padding-top: calculateRem(30);
            }
            .leftside {
                margin: calculateRem(57) 0 calculateRem(121) calculateRem(102);
                width: 40%;
                padding-top: calculateRem(30);
                .container {
                    width: calculateRem(585);
                }
                .cmp-container {
                    margin: 0 calculateRem(118) 0 0;
                    word-break: break-word;
                }
            }
            .cmp-title {
                position: absolute;
                font-size: calculateRem(44);
                font-weight: $font-weight-extrabold;
        
            }
            .cmp-text {
                position: relative;
                padding: calculateRem(66) 0 calculateRem(32) 0;
                font-weight: $font-weight-medium;
            }
            .rightimage {
                margin-left: 50%;
            }
        }
    }
}

.night {
    .contbanner {
        margin: auto;
        position: relative;
        background-color: $color-charcoal;
        border-radius: 0.9375rem;
        height: calculateRem(292);
        margin: calculateRem(50) 0;
        .row {
            .cmp-image {
                padding-left: calculateRem(102);
                margin-top: calculateRem(-50);
            }
            .cmp-image__image {
                height: calculateRem(392);
                width: calculateRem(392);
            }
            .rightside {
                margin: calculateRem(57) calculateRem(102) calculateRem(123) 0;
                margin-left: 50%;
                padding-top: calculateRem(30);
            }
            .leftside {
                margin: calculateRem(57) 0 calculateRem(121) calculateRem(102);
                width: 40%;
                padding-top: calculateRem(30);
                .container {
                    width: calculateRem(585);
                }
                .cmp-container {
                    margin: 0 calculateRem(118) 0 0;
                    word-break: break-word;
                }
            }
            .cmp-title {
                position: absolute;
                font-size: calculateRem(44);
                font-weight: $font-weight-extrabold;
        
            }
            .cmp-text {
                position: relative;
                padding: calculateRem(66) 0 calculateRem(32) 0;
                font-weight: $font-weight-medium;
            }
            .rightimage {
                margin-left: 50%;
            }
        }
    }
}

@media (max-width: $breakpoint-sm) {
    .day {
        .contbanner {
            width: calculateRem(343);
            margin: auto;
            position: relative;
            background-color: grey;
            border-radius: 0.9375rem;
            height: calculateRem(449);
            .row {
                .cmp-image {
                    position: absolute;
                    padding: 0 calculateRem(51);
                    z-index: 0;
                    height: calculateRem(241);
                    width: calculateRem(241);
                    top: -15%;
                }
                .cmp-image__image {
                    height: calculateRem(241);
                    width: calculateRem(241);
                }
                .rightside {
                    padding: calculateRem(192) calculateRem(31) calculateRem(34) calculateRem(31);
                }
                .leftside {
                    padding: calculateRem(57) calculateRem(0) calculateRem(121) calculateRem(102);
                }
                .cmp-title {
                    text-align: center !important;
                    position: relative;
                }
                .cmp-text {
                    position: relative;
                    padding: calculateRem(16) 0 0;
                    text-align: center !important;
                }
                .cmp-button {
                    text-align: center !important;
                }

            }
        }
    }
}

.left-alignment, 
.center-alignment,
.right-alignment {
    .contbanner .row{
        display: flex;
        justify-content: flex-start;
        padding: calculateRem(57);

        .leftside {
            margin: 0;
            width: auto;
        }

        .rightimage {
            margin: 0;

            .cmp-image {
                padding: 0;
                position: relative;
            }
        }
    }
}
.left-alignment {
    .contbanner .row{
        justify-content: flex-start;
    }
}

.center-alignment {
    .contbanner .row{
        justify-content: center;
    }
}

.right-alignment {
    .contbanner .row{
        justify-content: flex-end;
    }
}