@media screen and(min-width: $screen-tablet-max + 1) {
	.CTA-highlight{
  background-color: #ECF2F6;
  border-left: 4px solid #3FC1CB;
	}
	.CTA-heading{
          color: #27292E;
          font-family: Inter;
          letter-spacing: 0;
          line-height: 42px;
          padding-top: 37px;
          padding-bottom: 24px;
	}
	.CTA-link{
      color: #DC291E;
      font-family: Inter;
      font-size: 20px;
      letter-spacing: 0;
      line-height: 36px;
      padding-bottom: 19px;
	}
	.CTA-link-item{

	}
	.CTA-container{
    margin-top: 36px;
       margin-left: 36px;
           margin-right: 15px;
	}
	.CTA-link-item-icon{
	font-size:12px;
	}
}

@media screen and (max-width: $screen-mobile) {
	.CTA-highlight{
      background-color: #ECF2F6;
      border-left: 4px solid #3FC1CB;
    	}
    	.CTA-heading{
              color: #27292E;
              font-family: Inter;
              letter-spacing: 0;
              line-height: 42px;
              padding-top: 20px;
              padding-bottom: 37px;
    	}
    	.CTA-link{
          color: #DC291E;
          font-family: Inter;
          font-size: 16px;
          letter-spacing: 0;
          line-height: 36px;
              padding-bottom: 19px;
    	}
    	.CTA-link-item{

    	}
    	.CTA-container{
        margin-top: 25px;
           margin-left: 26px;
               margin-right: 15px;
    	}
    	.CTA-link-item-icon{
    	font-size:12px;
    	}
}

@media screen and (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
	.CTA-highlight{
          background-color: #ECF2F6;
          border-left: 4px solid #3FC1CB;
        	}
        	.CTA-heading{
                  color: #27292E;
                  font-family: Inter;
                  letter-spacing: 0;
                  line-height: 36px;
                  padding-top: 20px;
                  padding-bottom: 37px;
        	}
        	.CTA-link{
              color: #DC291E;
              font-family: Inter;
              font-size: 16px;
              letter-spacing: 0;
              line-height: 36px;
              padding-bottom: 19px;
        	}
        	.CTA-link-item{

        	}
        	.CTA-container{
            margin-top: 20px;
               margin-left: 20px;
                   margin-right: 15px;
        	}
        	.CTA-link-item-icon{
        	font-size: 12px;
        	}
}
