@media screen and(min-width: $screen-tablet-max + 1) {

	.image-gallery-mobile {
		display: none !important;
	}
	.image-gallery {
          width: 100%;

	}
	.desktop-panel {
		margin-left: 125px;
		    margin-top: 24px;
	}
	.gallery-panel {
    margin-left: 114px;
    margin-top: 24px;
    margin-right: 93px;
    margin: 20px 0px;
    width: 100%;
    padding: 0 40px;
    max-width: 100%;
	}
	.main-image {
		height: 464px;
		width : 100%;
	}
	.mySlides {
		display: none;
	}
	.cursor {
		cursor: pointer;
	}

.gallery-heading{
  height: 42px;
  color: $color-headings;
  font-family: Inter;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 42px;
}

	.chevron-left{
margin-left: -57px;
float :left;

	}
	.chevron-right{
      float: right;
      right: -56px;
	}
	.chevron-left, .chevron-right {
        position: relative;
        margin-top: -5pc;
        font-size: 38px;
        cursor: pointer;
    }
	.caption-container {
		text-align: left;
		height: 55.3px;
		opacity: .8;
		background-color: $color-background-white;
		padding-top: -22px;
		margin-bottom: 2px;
		padding-top: -19px;
		margin-top: -54px;
		.caption-text {
			height: 29px;
			color: $color-copy;
			font-family: Inter;
			font-size: 15px;
			letter-spacing: 0;
			line-height: 50px;
			padding-left: 13px;
		}
	}

	.thumbnail-column {
		float: left;
	}
	.thumbnail {
		opacity: 0.85;
		height: 109px;
		background-color: $color-copy;
		filter: brightness(30%);
        width: 93%;
	}
	.tiles {

            height: 109px;
            margin-top: 11pt;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: hidden;
            overflow-y: hidden;
            justify-content: space-between;
            width: 102%;
	}

	.direction {
	     font-size: 31px;
	     position: relative;
	}

}

@media screen and (max-width: $screen-mobile) {
	.image-gallery-desktop {
		display: none !important;
	}
	.image-gallery {
		padding-left: 15px;
		padding-right: 16px;
		padding-top: 28px;
		padding-bottom: 28px;
	}
	.heading-gallery-mobile {
		height: 39px;
		width: 345px;
		color: $color-headings;
		font-family: Inter;
		font-size: 26px;
		letter-spacing: 0;
		line-height: 39px;
	}
	.gallery-panel-mobile {
		height: 404px;
		width: 345.1px;
	}
	.mySlides-mobile {
		display: none;
	}
	.cursor {
		cursor: pointer;
	}

	.icons-chevron-left-mobile,
	.icons-chevron-right-mobile {
		cursor: pointer;
            color: #212529;
            font-weight: 700;
            font-size: 24px;
            border-radius: 0 3px 3px 0;
            -webkit-user-select: none;
            position: absolute;
	}
	.icons-chevron-left-mobile {
		margin-left: -13px;
		position: absolute;
		left: 0;
	}
	.icons-chevron-right-mobile {
		position: absolute;
        right: 0px;
		margin-right: -26px;
	}
	.caption-text-mobile {
		width: 345px;
		color: $color-copy;
		font-family: Inter;
		font-size: 12px;
		letter-spacing: 0;
		line-height: 23px;
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 34px;
	}

	.thumbnail-column-mobile {
		float: left;
		width: 50%;
	}
	.thumbnail-mobile {
		opacity: 0.8;
		height: 74px;
		width:95%;
		background-color: $color-copy;
		filter: brightness(30%);
	}
	.tiles-mobile {
		     width: 100%;
             margin-left: 10px;
			 margin-right: 10px;
             height: 74px;
             display: -webkit-box;
             display: -ms-flexbox;
             -webkit-box-pack: space-evenly;
             -ms-flex-pack: space-evenly;
             margin-top: -14px;
             -ms-flex-wrap: nowrap;
             flex-wrap: nowrap;
             overflow-y: hidden;
             overflow-x: hidden;
	}
	.direction-mobile {
		position: relative;
		// margin-left: 17px;
		margin-top: 5px;
		width:100%;
	}
	.main-image-mobile {
		height: 200px;
		width:100%;
		padding-top: 21px;
		padding-bottom: 16px;
	}
	.image-gallery-mobile {
    		padding: 0 20px;
    	}
}

@media screen and (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
	.image-gallery-mobile {
		display: none !important;
	}
	.image-gallery-desktop {

	}
	.image-gallery {

		padding:28px 0px;

	}
	.gallery-panel {
		margin-left: 0px;
		padding: 0 40px;
	}
	.gallery-heading {
		height: 36px;
		color: $color-headings;
		font-family: Inter;
		font-size: 24px;
		letter-spacing: 0;
		line-height: 36px;
	}
	.main-image {
		height: 399px;
		width: 100%;

	}
	.mySlides {

	}
	.thumbnail {
		opacity: 0.8;
		height: 94px;
		background-color: $color-copy;
		filter: brightness(30%);
		width: 95%;
	}
	.thumbnail-column {
		float: left;
	}

	.tiles {
		    height: 109px;
                      margin-top: 11pt;
                      display: flex;
                      flex-wrap: nowrap;
                      overflow-x: hidden;
                      overflow-y: hidden;
                      justify-content: space-between;
	}
	.active,
	.thumbnail:hover {
		opacity: 1;
	}
	.direction {
		position: relative;
		padding-top: 14px;
	}

	.caption-text {
		height: 23px;
		color: $color-copy;
		font-family: Inter;
		font-size: 12px;
		letter-spacing: 0;
		line-height: 45px;
		padding-left: 19px;
		margin-right: 26px;
	}
	.caption-container {
		height: 47.5px;
		opacity: 0.8;
		background-color: $color-background-white;
		margin-top: -48px;
	}

		.chevron-left{
    margin-left: -39px;
    float :left;

    	}
    	.chevron-right{
         float: right;
             right: -2pc;
    	}
    	.chevron-left, .chevron-right {
            position: relative;
            margin-top: -5pc;
            font-size: 28px;
            cursor: pointer;
        }
    	.direction{
    	font-size: 21px;
    	}
    	.main-image {
        		height: 464px;
        	}
        	.thumbnail-column {
            		float: left;
            	}
}