.icon-share:before{
font-family: icomoon;
content:"\ea82";
}
.icon-share{
color : #dc291e;
cursor: pointer;
}
.blog-posted a[data-cta="Share"]{
    font-family: inter!important;
}
#shareBtn{
    min-width: 75pt;
    /* padding: 10px 2pc; */
    border-radius: 8px;
    font-size: 1pc;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 28px;
    text-align: center;
    padding: 10px 1pc;
}
.share-disable
        {
        .icon-share{

        cursor: pointer;
         cursor: not-allowed;
         pointer-events: none;
         color: #c0c0c0;
        }

        }
        @media screen and (max-width: 480px) {
          #shareBtn {
              min-width: 75pt;
              border-radius: 8px;
              font-size: 0.7pc;
              font-weight: 700;
              letter-spacing: 1px;
              line-height: 28px;
              text-align: center;
              padding: 8px 1pc;
              background-color: #000;
              border: 2px solid #000;
              color: #fff;
          }

          #shareBtn:hover {
              background-color: #dc291e;
              border: 2px solid #dc291e;
          }
          #shareInput{
            -webkit-box-sizing: border-box;
                box-sizing: border-box;
                border: 1px solid #8c8d8e;
                border-radius: 3.75px;
                background-color: #fff;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: 0;
                line-height: 27px;
                margin-bottom: 24px;
                height: 3pc;
                padding: 10px 24px 11px 13px;
          }
        }