@font-face {
  font-family: 'inter';
  src: url('../resources/fonts/Inter-VariableFont_slnt,wght.ttf');
  font-weight: normal;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../resources/fonts/icomoon.eot?yzs1zt');
    src:  url('../resources/fonts/icomoon.eot?yzs1zt#iefix') format('embedded-opentype'),
      url('../resources/fonts/icomoon.ttf?yzs1zt') format('truetype'),
      url('../resources/fonts/icomoon.woff?yzs1zt') format('woff'),
      url('../resources/fonts/icomoon.svg?yzs1zt#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
.page{
.h1-home, .h2-home, .h3-home, h1, h2, h3, h4{
  color: $color-headings;
  font-weight: $regular;
}

.h1-home{
    font-size: 60px;
    line-height: 78px;
    sup{
      font-size:25px;
      top:-25px;
    }
}
.h2-home{
    font-size: 40px;
    line-height: 56px;
    sup{
      font-size:16px;
      top:-16px;
    }
}
.h3-home{
    font-size: 34px;
    line-height: 48px;
    sup{
      font-size:14px;
      top:-14px;
    }
}
h1{
    font-size: 60px;
    line-height: 56px;
    sup{
      font-size: 25px;
      top: -25px;
    }
}
h2{
    font-size: 33px;
    line-height: 50px;
    sup{
      font-size:14px;
      top:-14px;
    }
}
h3{
  font-size: 28px;
  line-height: 42px;
  sup{
    font-size:11px;
    top:-12px;
  }
}
h4{
    font-size: 24px;
    line-height: 38px;
    sup{
      font-size:10px;
      top:-10px;
    }
}
.body-large{
    font-size: 20px;
    line-height: 36px;
}
.body-medium{
    font-size: 17px;
    line-height: 32px;
    
}
.body-small{
    font-size: 15px;
    line-height: 29px;
}
}

@media screen and (max-width: $screen-tablet-max) {
  .page{
    .h1-home{
        font-size: 40px;
        line-height: 56px;
    }
    .h2-home{
        font-size: 33px;
        line-height: 50px;
    }
    .h3-home{
        font-size: 28px;
        line-height: 40px;
    }
    h1{
        font-size: 30px;
        line-height: 42px;
    }
    h2{
        font-size: 26px;
        line-height: 39px;
    }
    h3{
        font-size: 24px;
        line-height: 36px;
    }
    h4{
        font-size: 20px;
        line-height: 32px;
    }
    .body-larger{
        font-size: 16px;
        line-height: 29px;
    }
    .body{
        font-size: 14px;
        line-height: 27px;
    }
    .body-smaller{
        font-size: 12px;
        line-height: 23px;
    }
  }
     
}

  
  [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-facebook:before {
    content: "\e900";
  }
  .icon-instagram:before {
    content: "\e901";
  }
  .icon-linkedin:before {
    content: "\e902";
  }
  .icon-twitter:before {
    content: "\e903";
  }
  .icon-youtube:before {
    content: "\e904";
  }
  .icon-account:before {
    content: "\e905";
  }
  .icon-animal:before {
    content: "\e906";
  }
  .icon-bacteria:before {
    content: "\e907";
  }
  .icon-biofuel:before {
    content: "\e908";
  }
  .icon-chat:before {
    content: "\e909";
  }
  .icon-check:before {
    content: "\e90a";
  }
  .icon-cog:before {
    content: "\e90b";
  }
  .icon-crop:before {
    content: "\e90c";
  }
  .icon-drumstick:before {
    content: "\e90d";
  }
  .icon-earth:before {
    content: "\e90e";
  }
  .icon-email:before {
    content: "\e90f";
  }
  .icon-finance:before {
    content: "\e910";
  }
  .icon-free-amino-acids:before {
    content: "\e911";
  }
  .icon-globe:before {
    content: "\e912";
  }
  .icon-handshake:before {
    content: "\e913";
  }
  .icon-hard-hat:before {
    content: "\e914";
  }
  .icon-headset:before {
    content: "\e915";
  }
  .icon-hemp:before {
    content: "\e916";
  }
  .icon-home:before {
    content: "\e917";
  }
  .icon-human:before {
    content: "\e918";
  }
  .icon-lightbulb:before {
    content: "\e919";
  }
  .icon-menu:before {
    content: "\e91a";
  }
  .icon-microscope:before {
    content: "\e91b";
  }
  .icon-minus-box:before {
    content: "\e91c";
  }
  .icon-pill:before {
    content: "\e91d";
  }
  .icon-play:before {
    content: "\e91e";
  }
  .icon-plus-box:before {
    content: "\e91f";
  }
  .icon-search:before {
    content: "\e920";
  }
  .icon-stopwatch:before {
    content: "\e921";
  }
  .icon-textile:before {
    content: "\e922";
  }
  .icon-translate:before {
    content: "\e923";
  }
  .icon-chevron-down:before {
    content: "\e924";
  }
  .icon-chevron-up:before {
    content: "\e925";
  }
  .icon-chevron-right:before {
    content: "\e928";
  }
  .icon-chevron-left:before {
    content: "\e929";
  }
  .icon-cross:before {
    content: "\ea0f";
  }
  .icon-breadcrumb:before{
    content: "\ea1c";
  }
  .icon-breadcrumb-reverse:before{
    content: "\ea1d";
  }
  .icon-share:before{
    content: "\ea82";
  }
  .icon-quote-close:before{
    content: "\e926";
  }
  .icon-quote-open:before{
    content: "\e927";
  }
  .icon-chevron-double-left:before{
    content: "\e92a";
  }
  .icon-chevron-double-right:before{
    content: "\e92b";
  }
  .icon-close:before{
    content: "\e92c";
  }
  .icon-filter:before{
    content: "\e92d";
  }
  .icon-location:before{
    content: "\e948";
  }