<template data-sly-template.leadgenform>
<sly data-sly-use.smartStreetConfig="com.dish.dopweb.core.models.LeadgenAddressValidationModel"/>
<sly data-sly-resource="${'text-title-leadgenform' @ resourceType='/apps/dopweb/components/text', decoration=true}"/>
    <form data-auth-id="${smartStreetConfig.apiKey}" action="" method="post" id="leadgenform" class="leadgenform" name="leadgenform" data-site="genesis"
          data-bevalidation="${properties.enableBackendValidation}" data-emailwhitelisting="${properties.enableEmailWhitelisting}"
          data-addressvalidation="${properties.enableAddressValidation}" data-signup="${properties.enableSignup}" data-zipvalidation="${properties.enableZipValidation}" data-emailvalidation="${properties.enableEmailValidation}"
          data-service-availability-validation="${properties.serviceAvailability}"
          data-validate-hcaptcha="${properties.validatehCaptcha}">
    <input data-sly-test="${properties.product}" type="hidden" name="product" id="product" value ="${properties.product}"/>

    <div data-sly-list.item="${properties.fieldType}">
        <div data-sly-test="${item == 'zipcode'}" class="input-container input-field${itemList.index}" id="dvZipContainer">
            <!-- <label class="blank-field-input-label"><span>${'Zip Code' @ i18n}</span></label> -->
            <span class="span-element" tabindex="1">

                 <input id="txtZipCode" class="txtZipCode" name="txtZipCode" type="number"
                        placeholder="${'zipField' @ i18n}">

                </span>
            <span id="errorZipcode" class="errorZipcode" hidden>${'Enter Valid Zip Code' @ i18n}</span>
        </div>
        <div data-sly-test="${item == 'email'}" class="input-container input-field${itemList.index}" id="dvEmailContainer">
            <!-- <label class="blank-field-input-label"><span>${'Email Address' @ i18n}</span></label> -->
            <span class="span-element" tabindex="1">
                <input id="txtEmail" class="txtEmail" name="txtEmail" type="email"
                       placeholder="${'emailFieldGenesis' @ i18n}">

               </span>
            <span id="errorEmail" class="errorEmail" hidden>${'Invalid Email Address' @ i18n}</span>
        </div>
        <div data-sly-test="${item == 'address'}" class="input-container input-field${itemList.index}" id="dvAddressContainer">
            <!-- <label class="blank-field-input-label"><span>${'Email Address' @ i18n}</span></label> -->
            <span class="span-element" tabindex="1">
                <div class="autocomplete">
                    <div class="addressIcon">
                        <img src="/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/addressicon/pin@2x.svg"
                            style="width:20px; height:20px">
                         <input id="txtAddress" class="txtAddress" name="txtAddress" type="text" style="width: 85%;"
                                autocomplete="off" placeholder="${'Address' @ i18n}">

                    </div>
                    <div id="myInputautocomplete-list" class="autocomplete-items" style="display: none;">
                    </div>
                </div>
            </span>
            <span id="errorAddress" class="errorAddress" hidden>${'Invalid Address' @ i18n}</span>
        </div>
        <div data-sly-test="${item == 'accesscode'}" class="input-container input-field${itemList.index}" id="dvAccessCodeContainer">
            <!-- <label class="blank-field-input-label"><span>${'Zip Code' @ i18n}</span></label> -->
            <span class="span-element" tabindex="1">
                 <sly data-sly-resource="${'/apps/dopweb/components/form/text' @ selectors=['s1', 's2']}"></sly>
                 <input id="txtAccessCode" class="txtAccessCode" name="txtAccessCode" type="number"
                        placeholder="${'AccessCode' @ i18n}">

                </span>
            <span id="errorAccessCode" class="errorAccessCode" hidden>${'Enter Valid Access Code' @ i18n}</span>
        </div>
       	</div>

    <sly data-sly-test="${properties.validatehCaptcha}">
        <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    </sly>

        <sly data-sly-test="${properties.enableHcaptcha}" data-sly-resource="${'hcaptcha-leadgenform' @ resourceType='/apps/dopweb/components/hcaptcha', decoration=true}"/>
        <sly data-sly-test="${properties.validatehCaptcha}">
            <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
        </sly>

    <sly data-sly-resource="${'button-leadgenform' @ resourceType='/apps/dopweb/components/button', decoration=true}"/>
    <sly data-sly-resource="${'text-privacy-leadgenform' @ resourceType='/apps/dopweb/components/text', decoration=true}"/>

</form>
</template>
