<sly data-sly-use.briteVerify="com.dish.dopweb.core.configs.BriteVerifyConfig"
     data-sly-use.responsys="com.dish.dopweb.core.configs.ResponsysConfig"
     data-sly-use.linkHelper="com.dish.dopweb.core.models.LinkHelper"
     data-sly-use.leadgenModel="com.dish.dopweb.core.models.LeadgenGenesis"/>
<div class="formsgenesis leadgen cmp-leadgen__${properties.alignment ? properties.alignment : 'vertical'}">
    <div class="endpoint" data-path="${linkHelper.mappedResourcePath}.leadgen.api" data-site="genesis"
         style="display:none"></div>
    <sly data-sly-use.leadgenform1="leadgenform.html">
        <sly data-sly-call="${leadgenform1.leadgenform}"></sly>
    </sly>
</div>
<sly data-sly-test="${leadgenModel.successDiv}">
    <div id="gen-lead-gen-success-${leadgenModel.successDiv}${leadgenModel.uuid}" data-successcode="200" style="display:none">
        <sly data-sly-resource="${'genesis-leadgenform' @ resourceType='/apps/genesis/components/leadgengenesis', decoration=true}"/>
    </div>
</sly>
<sly data-sly-test="${leadgenModel.errorDivNameList}">
    <sly data-sly-list.errorDiv="${leadgenModel.errorDivNameList}">
         <div data-errorcode="${errorDiv}">
            <sly data-sly-resource="${'genesis-leadgenform-{0}' @ format=leadgenModel.uuidArr[errorDivList.index], resourceType='/apps/genesis/components/leadgengenesis', decoration=true}"/>
        </div>
    </sly>
</sly>

<script>
    if ( window.zipcodes ) {
        if ( window.zipcodes.length == 0 ) {
            window.zipcodes = JSON.parse("${leadgenModel.zipcodes @ context='scriptString'}");
        }
    } else {
        window.zipcodes = JSON.parse("${leadgenModel.zipcodes @ context='scriptString'}");
    }
</script>