<sly data-sly-test="${wcmmode.edit}">
    <p class="cq-placeholder" data-emptytext="${component.title}"></p>
</sly>
<sly data-sly-use.exchangeRateModel="com.techcombank.core.models.ExchangeRateModel"
     data-sly-use.page="com.adobe.cq.wcm.core.components.models.Page">
    <section class="container exchange-rate width-25-75" data-url="${currentPage.path}">
        <div class="exchange-rate__header">
            <div class="title-cmp">
                <div class="title-cmp__title">${exchangeRateModel.exchangeRateTitle}</div>
            </div>
            <div class="exchange-rate__header-select analytics-active-link"
                 data-tracking-click-event="calculator"
                 data-tracking-click-info-value="{'calculatorName':'${component.title}', 'calculatorField':'TimeStamp' }"
                 data-tracking-web-interaction-value="{'webInteractions': {'name': 'Calculators','type': 'other'}}">
                <div class="header-select__data date-time-wrapper__input-extra">
                    <div class="header-select__data-input calendar_real_estate">
                        <div class="data-input__prefix">
                            <div class="data-input__calendar-icon">
                                <picture>
                                    <source media="(max-width: 360px)"
                                            srcset="${exchangeRateModel.dayIconMobileImagePath}"/>
                                    <source media="(max-width: 576px)"
                                            srcset="${exchangeRateModel.dayIconMobileImagePath}"/>
                                    <source media="(min-width: 1080px)"
                                            srcset="${exchangeRateModel.dayIconWebImagePath}"/>
                                    <source media="(min-width: 1200px)"
                                            srcset="${exchangeRateModel.dayIconWebImagePath}"/>
                                    <img alt="${exchangeRateModel.dayIconAlt}"
                                         data-nimg="fixed" decoding="async"
                                         src="${exchangeRateModel.dayIconWebImagePath}">
                                </picture>
                            </div>
                            <p>${exchangeRateModel.dayLabel}</p>
                        </div>
                        <div class="data-input__suffix">
                            <p class="calendar__input-field"></p>
                            <span class="data-input__arrow-icon">
                <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/viewmore-icon.svg"/>
              </span>
                        </div>
                    </div>
                    <div class="calendar-popup">
                        <div class="month-line">
                            <span class="month-data"></span>
                            <div>
                                <img class="prev-month"
                                     src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/calendar-left-icon.svg"/>
                                <img class="next-month"
                                     src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/calendar-right-icon.svg"/>
                            </div>
                        </div>
                        <div class="date-line">
                        </div>
                        <div class="day-tbl">
                            <div class="week line1"></div>
                            <div class="week line2"></div>
                            <div class="week line3"></div>
                            <div class="week line4"></div>
                            <div class="week line5"></div>
                            <div class="week line6"></div>
                        </div>
                    </div>
                </div>
                <div class="header-select__data time-select"
                     icon-mobile-path="${exchangeRateModel.timeIconMobileImagePath}"
                     icon-web-path="${exchangeRateModel.timeIconWebImagePath}"
                     icon-alt="${exchangeRateModel.timeIconAlt}"
                     title="${exchangeRateModel.timeLabel}">
                </div>
            </div>
        </div>
        <p class="exchange-rate__empty-label">${exchangeRateModel.errorMessage}</p>
        <div class="table-content-container hidden">
            <div class="exchange-rate__table">
                <div class="exchange-rate__table-outer">
                    <div class="exchange-rate__table-content">
                        <div class="exchange-rate__table-records table-header">
                            <div class="table__first-column up-par first-row first-column">
                                <p>${exchangeRateModel.currencyLabel}</p>
                            </div>
                            <div class="table-records__data">
                                <div class="group-header">
                                    <div class="table-records__data-content up-par first-row">
                                        <p>${exchangeRateModel.purchaseLabel}</p>
                                    </div>
                                    <div class="table-records__data-content row-divided first-row">
                                        <div class="data-content__item">
                                            <p>${exchangeRateModel.cashLabel}</p>
                                        </div>
                                        <div class="data-content__item">
                                            <p>${exchangeRateModel.transferLabel}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="group-header">
                                    <div class="table-records__data-content up-par first-row last-column">
                                        <p>${exchangeRateModel.sellLabel}</p>
                                    </div>
                                    <div class="table-records__data-content row-divided first-row last-column">
                                        <div class="data-content__item">
                                            <p>${exchangeRateModel.cashLabel}</p>
                                        </div>
                                        <div class="data-content__item last-column">
                                            <p>${exchangeRateModel.transferLabel}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="exchange-rate-table-content">
                        </div>
                        <!-- Table note italic -->
                        <div class="table-note">
                            <div class="exchange-rate__table-note" note="<p>Tỷ giá được cập nhật lúc %updatedDate %updatedTime và chỉ mang tính chất tham khảo</p><p>Nguồn từ Bloomberg</p>">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fixing Rate view more button -->
            <div class="content-wrapper exchange-rate__view-more">
                <!-- hidden -->
                <button type="button" class="title button__link" data-tracking-click-event="linkClick"
                        data-tracking-click-info-value="{'linkClick' : '${exchangeRateModel.seeMoreLabel}'}"
                        data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': 'other'}}"
                        type="button">
                    <span>${exchangeRateModel.seeMoreLabel}</span>
                    <div class="view-more__icon">
                        <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/viewmore-icon.svg"/>
                    </div>
                </button>
            </div>
        </div>
        <!-- Fixing Rate view more popup -->
        <div class="exchange-rate__popup"
             style="opacity: 0; transform: scale(0.75, 0.5625); transition: opacity 461ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 307ms cubic-bezier(0.4, 0, 0.2, 1) 154ms; visibility: hidden;">
            <div class="content-wrapper exchange-rate__popup-wrapper">
                <div class="exchange-rate__header analytics-active-link"
                     data-tracking-click-event="calculator"
                     data-tracking-click-info-value="{'calculatorName':'${component.title}', 'calculatorField':'TimeStamp' }"
                     data-tracking-web-interaction-value="{'webInteractions': {'name': 'Calculators','type': 'other'}}">
                    <div class="title-cmp">
                        <div class="title-cmp__title">${exchangeRateModel.exchangeRateTitle}</div>
                    </div>
                    <div class="exchange-rate__header-select">
                        <div class="header-select__data date-time-wrapper__input-extra">
                            <div class="header-select__data-input calendar_real_estate">
                                <div class="data-input__prefix">
                                    <div class="data-input__calendar-icon">
                                        <picture>
                                            <source media="(max-width: 360px)"
                                                    srcset="${exchangeRateModel.dayIconMobileImagePath}"/>
                                            <source media="(max-width: 576px)"
                                                    srcset="${exchangeRateModel.dayIconMobileImagePath}"/>
                                            <source media="(min-width: 1080px)"
                                                    srcset="${exchangeRateModel.dayIconWebImagePath}"/>
                                            <source media="(min-width: 1200px)"
                                                    srcset="${exchangeRateModel.dayIconWebImagePath}"/>
                                            <img alt="${exchangeRateModel.dayIconAlt}"
                                                 data-nimg="fixed" decoding="async"
                                                 src="${exchangeRateModel.dayIconWebImagePath}">
                                        </picture>
                                    </div>
                                    <p>${exchangeRateModel.dayLabel}</p>
                                </div>
                                <div class="data-input__suffix">
                                    <p class="calendar__input-field"></p>
                                    <span class="data-input__arrow-icon">
                    <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/viewmore-icon.svg"/>
                  </span>
                                </div>
                            </div>
                            <div class="calendar-popup">
                                <div class="month-line">
                                    <span class="month-data"></span>
                                    <div>
                                        <img class="prev-month"
                                             src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/calendar-left-icon.svg"/>
                                        <img class="next-month"
                                             src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/calendar-right-icon.svg"/>
                                    </div>
                                </div>
                                <div class="date-line">
                                </div>
                                <div class="day-tbl">
                                    <div class="week line1"></div>
                                    <div class="week line2"></div>
                                    <div class="week line3"></div>
                                    <div class="week line4"></div>
                                    <div class="week line5"></div>
                                    <div class="week line6"></div>
                                </div>
                            </div>
                        </div>
                        <div class="header-select__data time-select"
                             icon-mobile-path="${exchangeRateModel.timeIconMobileImagePath}"
                             icon-web-path="${exchangeRateModel.timeIconWebImagePath}"
                             icon-alt="${exchangeRateModel.timeIconAlt}"
                             title="${exchangeRateModel.timeLabel}">
                        </div>
                    </div>
                </div>
                <span aria-hidden="true" class="popup__close-button"></span>
                <p class="exchange-rate__empty-label">${exchangeRateModel.errorMessage}</p>
                <div class="table-content-container exchange-rate__table">
                    <div class="exchange-rate__table-content">
                        <div class="exchange-rate__table-records table-header">
                            <div class="table__first-column up-par first-row first-column">
                                <p>${exchangeRateModel.currencyLabel}</p>
                            </div>
                            <div class="table-records__data">
                                <div class="group-header">
                                    <div class="table-records__data-content up-par first-row">
                                        <p>${exchangeRateModel.purchaseLabel}</p>
                                    </div>
                                    <div class="table-records__data-content row-divided first-row">
                                        <div class="data-content__item">
                                            <p>${exchangeRateModel.cashLabel}</p>
                                        </div>
                                        <div class="data-content__item">
                                            <p>${exchangeRateModel.transferLabel}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="group-header">
                                    <div class="table-records__data-content up-par first-row last-column">
                                        <p>${exchangeRateModel.sellLabel}</p>
                                    </div>
                                    <div class="table-records__data-content row-divided first-row last-column">
                                        <div class="data-content__item">
                                            <p>${exchangeRateModel.cashLabel}</p>
                                        </div>
                                        <div class="data-content__item last-column">
                                            <p>${exchangeRateModel.transferLabel}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="exchange-rate-table-content">
                        </div>
                        <div class="exchange-rate__table-records">
                            <div class="table__first-column one-col">
                                <p><strong>${exchangeRateModel.centralLabel}</strong><span id="central-rate"></span></p>
                            </div>
                        </div>
                        <div class="exchange-rate__table-records">
                            <div class="table__first-column one-col">
                                <p><strong>${exchangeRateModel.floorLabel}</strong><span id="floor-rate"></span></p>
                            </div>
                        </div>
                        <div class="exchange-rate__table-records">
                            <div class="table__first-column one-col">
                                <p><strong>${exchangeRateModel.ceilingLabel}</strong><span id="ceiling-rate"></span></p>
                            </div>
                        </div>
                        <div class="exchange-rate__table-records">
                            <div class="table__first-column left-pos strong-par first-column">
                                <p>${exchangeRateModel.usdLabel}</p>
                            </div>
                            <div class="table-records__data width-33-66 strong-par">
                                <div class="table-records__data-content">
                                </div>
                                <div class="table-records__data-content strong-par last-column">
                                    <p>${exchangeRateModel.refLabel}</p>
                                </div>
                            </div>
                        </div>
                        <div class="exchange-rate__table-records">
                            <div class="table__first-column left-pos strong-par first-column">
                                <p>${exchangeRateModel.termLabel}</p>
                            </div>
                            <div class="table-records__data width-66-33 strong-par">
                                <div class="table-records__data-content row-divided">
                                    <div class="data-content__item"></div>
                                    <div class="data-content__item">
                                        <p>${exchangeRateModel.purchaseLabel}</p>
                                    </div>
                                </div>
                                <div class="table-records__data-content last-column">
                                    <p>${exchangeRateModel.sellLabel}</p>
                                </div>
                            </div>
                        </div>
                        <div id="tenor-rate-content">
                        </div>
                        <div class="exchange-rate__table-records first-border">
                            <div class="table__first-column left-pos strong-par first-column">
                            </div>
                            <div class="table-records__data width-66-33 no-border strong-par">
                                <div class="table-records__data-content row-divided">
                                    <div class="data-content__item"></div>
                                    <div class="data-content__item">
                                        <p>${exchangeRateModel.refLabel}</p>
                                    </div>
                                </div>
                                <div class="table-records__data-content last-column">
                                </div>
                            </div>
                        </div>
                        <div class="exchange-rate__table-records">
                            <div class="table__first-column left-pos strong-par first-column">
                                <p>${exchangeRateModel.goldLabel}</p>
                            </div>
                            <div class="table-records__data width-66-33">
                                <div class="table-records__data-content row-divided">
                                    <div class="data-content__item">
                                        <p id="gold-bid-rate"></p>
                                    </div>
                                    <div class="data-content__item"></div>
                                </div>
                                <div class="table-records__data-content last-column">
                                    <p id="gold-ask-rate"></p>
                                </div>
                            </div>
                        </div>
                        <div id="tenorint-rate">
                            <div id="tenorint-rate-content">
                            </div>
                        </div>
                        <!-- Table note italic -->
                        <div class="table-note">
                            <div class="exchange-rate__table-note"
                                 note="${exchangeRateModel.summaryDesc @context='html'}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-content-container popup__download-button"
                     data-tracking-click-event="download"
                     data-tracking-click-info-value="{'download':'${page.title}${page.brandSlug ? '_' : ''}${page.brandSlug}' }"
                     data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': 'Download'}}">
                    <div class="download-button__wrapper">
                        <button class="title" type="button">
                            <span>${exchangeRateModel.ctaLabel}</span>
                            <div class="download-button__icon">
                                <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/download-icon.svg"/>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="exchange-rate__footer"><h6 class="exchange-rate__footer__info">
                ${exchangeRateModel.footerLabelOne}</h6>
                <p>${exchangeRateModel.footerLabelTwo @context='html'}</p>
                <p>${exchangeRateModel.footerLabelThree}</p></div>
        </div>
    </section>
</sly>
