<sly data-sly-test.editMode="${wcmmode.edit && properties.jcr.title}">
    <p class="cq-placeholder" data-emptytext="${component.title}"></p>
</sly>
<sly data-sly-test="${!editMode}">
    <div class="cmp-form-text ${properties.analytics ? 'analytics-form-field' : ''}" data-sly-use.text="com.adobe.cq.wcm.core.components.models.form.Text">
        <label for="${text.id}">${text.title} <span><sly data-sly-test="${text.required}"> *</sly></span></label>
        <input aria-describedby="${text.helpMessage ? [text.id, 'helpMessage'] : '' @ join = '-'}" data-type="currency"
            data-required="${properties.required ? text.requiredMessage : ''}" class="cmp-form-text__text"
            data-cmp-hook-form-text="input" id="${text.id}" name="${text.name}"
            placeholder="${properties.usePlaceholder ? text.helpMessage : ''}" type="currency">
    </div>
</sly>
