<div data-sly-use.listrow="com.techcombank.core.models.ListRowModel"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-test.hasContent="${listrow.listRowItems}">
    <sly data-sly-test="${hasContent}">
        <div class="sectioncontainer">
            <div class="tcb-sectionContainer">
                <div class="tcb-content-container">
                    <div class="list-row">
                        <div class="stock-information_right-col">
                            <div class="title-cmp">
                                <div class="title-cmp__title">
                                    ${listrow.titleText}
                                </div>
                            </div>
                            <div class="list-row-content" data-columns="${listrow.columnNumber}" data-rows="${listrow.rowNumber}" style="grid-template-columns: repeat(${listrow.columnNumber @ context='html'}, minmax(0, 1fr));">
                                <sly data-sly-list="${hasContent}">
                                    <a class="list-row-content_item" href="${item.linkUrl}" target="${item.openInNewTab ? '_blank' : '_self'}"
                                       rel="${item.noFollow ? 'nofollow' : ''}"
                                       data-tracking-click-event="linkClick"   data-tracking-click-info-value="{'linkClick': '${item.rowTitle}'}"
                                       data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${item.webInteractionType}'}}">
                                        <div class="list-row-content_main">
                                            <span class="list-row-content_title">${item.rowTitle}</span>
                                            <span class="list-row-content_date">
                                                <span class="list-row-content_type">${item.tagLabel}</span>
                                                <span class="list-row-content_divider"></span>
                                                <span class="color-gray">${item.formattedDate}</span>
                                            </span>
                                        </div>
                                        <div class="list-row-content_arrow">
                                            <img alt="${item.altText}" src="${item.iconImage}"/>
                                        </div>
                                    </a>
                                </sly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </sly>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>
