<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"/>
<sly data-sly-call="${clientLib.css @ categories='kemin-redesign.publishapproval'}"></sly>
<header class="endor-Panel-header endor-BreadcrumbBar is-closed">
    <nav class="endor-Crumbs">
        <a class="endor-Crumbs-item" href="/aem/start.html"><i class="endor-Crumbs-item-icon coral-Icon coral-Icon--adobeExperienceManager coral-Icon--sizeM"></i></a>
        <br>
        <a id="backLink" class="endor-Crumbs-item" href="#" onclick="window.close();return false;">close</a>
	</nav>
</header>
<div class="content-container">
    <h1 class="coral-Heading coral-Heading--1">Publish Approval</h1>
    <form id="publishapproval-form" action="/bin/kemin-redesign/publishApproval" method="post">
        <div class="search">
            <div>
                <input type="text" id="page_path" class="coral-Textfield" placeholder="Page Path" name="page_path" value=""/>
            </div>
            <div>Due Date *</div>
            <div>
                <coral-datepicker placeholder="Choose a due date" name="dueDate" valueformat="YYYY-MM-DDTHH:mm:ss.000" displayformat="MM/DD/YYYY" value=""/>
            </div>
            <div>Priority</div>
            <div>
                <select name="priority" id="priority" class="form-control">
                    <option value="High" selected="selected" >High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>
            </div>
            <div>
                <input type="checkbox" id="legalReview" name="legalReview" aria-hidden="true"/>Initiate Legal Review
            </div>
            <div>
                <input type="checkbox" id="buReview" name="buReview" aria-hidden="true"/>Initiate Internal BU Review
            </div>
            <div>Purpose of Review - Detail Changes Made to the Page</div>
            <div>
                <textarea class="form-control" rows="5" type="" id="message" name="message" value=""></textarea>
            </div>
            <button id="btnSubmitForm" type="submit" class="coral-Button coral-Button--primary" name="submit" value="Submit">Start Workflow</button>
        </div>
    </form>
</div>
<sly data-sly-call="${clientLib.js @ categories='kemin-redesign.publishapproval'}"></sly>