
//== Font

$font-family:           "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size:             16px;
$font-height:           1.5;

//== Color
$color-light-grey:      #C4C4C7;
$color-ash:             #C4C4C7;
$color-cinder:          #525259;
$color-smoke:           #F5F5F6;
$color-marshmallow:     #FFFFFF;
$color-charcoal:        #292938;
$color-coal:            #171725;


// Normal mode
$color-foreground:      #202020;
$color-background:      #ECECEC;
$color-link:            #2020E0;

// Dark mode
$color-foreground-dark: invert($color-foreground);
$color-background-dark: invert($color-background);
$color-link-dark:       invert($color-link);

// Boxshadow effect
$color-boxshadow-effect: #00000014;