.productteaser .item__badge {}
.productteaser .item__image {}
.productteaser .item__images {}
.productteaser .item__name {}
.productteaser .item__root {}
.productteaser .price .discountedPrice {}
.productteaser .price .regularPrice {}
.productteaser .price {}
.productteaser .productteaser__cta {}

.cmp-productteaser {
     margin: 100px 50px;
     height: 400px;
     width: 25%;
     background-color: gray;
 }
 .prices-container {
    text-align: center;
 }
 .desc {
    margin-bottom: 4rem;
 }
.cmp-productteaser {
  margin: 100px 50px;
  height: 400px;
  width: 25%;
  background-color: gray;
}
.prices-container {
  text-align: center;
}
.desc {
  margin-bottom: 4rem;
}

 // Desktop
 .cmp-productteaser {
    padding: calculateRem(64) calculateRem(32);
    border-radius: calculateRem(15);
    .button {
      text-align: center;
    }
    a:after, a:hover:after {
      background-color: transparent;
  }
}

.cmp-productteaser__pretitle {
    @include t-32;
    font-size: calculateRem(32);
    line-height: calculateRem(36);
    font-weight: $font-weight-extrabold;
    margin: 0 0 calculateRem(16);
    display: block;
    text-align: center
}

.cmp-productteaser__costline {
    @include t-62;
    font-size: calculateRem(62);
    line-height: calculateRem(64);
    font-weight: $font-weight-extrabold;
}
.cmp-productteaser__monthline {
    @include t-16;
    font-size: calculateRem(16);
    line-height: calculateRem(21);
    font-weight: $font-weight-medium;
    margin: 0 0 calculateRem(32);
    text-align: center
}

.cmp-productteaser__description {
    @include t-18;
    // font-size: calculateRem(16);
    line-height: calculateRem(21);
    font-weight: $font-weight-medium;
    margin: 0 0 calculateRem(2);
}
.cmp-productteaser__disclaimer {
    @include t-12;
    // font-size: calculateRem(16);
    line-height: calculateRem(21);
    font-weight: $font-weight-medium;

}
.cmp-productteaser__saleline {
    @include t-16;
    font-size: calculateRem(16);
    line-height: calculateRem(21);
    font-weight: $font-weight-medium;
    text-align: center;
    margin: 0;

}

.cmp-productteaser__dollarsign {
    @include t-24;
    font-size: calculateRem(24);
    line-height: calculateRem(28);
    font-weight: $font-weight-extrabold;
    top: calculateRem(-16);
    position: relative;
    left: calculateRem(2);;
}

.cmp-productteaser__divider {
    border-bottom: calculateRem(4) solid;
    width: calculateRem(32);
    margin: calculateRem(16) auto;
}



 // mobile
 @media (min-width: calculateRem(1024)){
  .day {
    .productcard{
      margin: 0 auto;
    }
  }
 }
 @media (max-width: calculateRem(768)) {
    .cmp-productteaser {
        padding: calculateRem(64) calculateRem(16);
        border-radius: calculateRem(15);
    }
    
    .cmp-productteaser__pretitle {
        @include t-28;
        font-size: calculateRem(28);
        line-height: calculateRem(32);
        font-weight: $font-weight-extrabold;
        margin: 0 0 calculateRem(16);
        text-align: center
    }
    
    
    .cmp-productteaser__costline {
        @include t-44;
        font-size: calculateRem(44);
        line-height: calculateRem(50);
        font-weight: $font-weight-extrabold;
    }
    .cmp-productteaser__monthline {
        @include t-16;
        font-size: calculateRem(16);
        line-height: calculateRem(21);
        font-weight: $font-weight-medium;
        margin: 0 0 calculateRem(2);
    }
    
    .cmp-productteaser__description {
        @include t-18;
        font-size: calculateRem(16);
        line-height: calculateRem(21);
        font-weight: $font-weight-medium;
    }
    .cmp-productteaser__disclaimer {
        @include t-12;
        font-size: calculateRem(16);
        line-height: calculateRem(21);
        font-weight: $font-weight-medium;
    
    }
    .cmp-productteaser__saleline {
        @include t-16;
        font-size: calculateRem(16);
        line-height: calculateRem(21);
        font-weight: $font-weight-medium;
        text-align: center;
        margin: 0;
    
    }
    .cmp-productteaser__dollarsign {
        @include t-24;
        font-size: calculateRem(24);
        line-height: calculateRem(28);
        font-weight: $font-weight-extrabold
    }

    .cmp-productteaser__dollarsign {
        @include t-20;
        font-size: calculateRem(20);
        line-height: calculateRem(24);
        font-weight: $font-weight-extrabold;
        top: calculateRem(-20);
        position: relative;
        left: calculateRem(2);;
    }
    
    .cmp-productteaser__divider {
        border-bottom: calculateRem(4) solid;
        width: calculateRem(32);
        margin: calculateRem(16) 0 calculateRem(16) calculateRem(193);
    }

 }


 // Margin Overrides

 .cmp-productteaser__bm-128 {
    margin: 0 0 calculateRem(128);
  }
  .cmp-productteaser__bm-64 {
    margin: 0 0 calculateRem(64);
  }
  .cmp-productteaser__bm-32 {
    margin: 0 0 calculateRem(32);
  }
  .cmp-productteaser__bm-16 {
    margin: 0 0 calculateRem(16);
  }
  .cmp-productteaser__bm-8 {
    margin: 0 0 calculateRem(8);
  }
  .cmp-productteaser__bm-4 {
    margin: 0 0 calculateRem(4);
  }
  .cmp-productteaser__bm-2 {
    margin: 0 0 calculateRem(2);
  }
  .cmp-productteaser__bm-0 {
    margin: 0 0 calculateRem(0);
  }

  // Radius Overrides
.cmp-productteaser__r-15 {
    border-radius: calculateRem(15);
  }

  // Day 
.day {
    .cmp-productteaser {
        background-color: $color-smoke;
        .cmp-productteaser__saleline,
        .cmp-productteaser__disclaimer {
            color: $color-cinder;
        }
        .cmp-productteaser__pretitle, 
        .cmp-productteaser__costline,
        .cmp-productteaser__monthline,
        .cmp-productteaser__description,
        .cmp-productteaser__divider,
        .cmp-productteaser__dollarsign  {
            color: $color-coal;
        }
    }
    .cmp-productteaser__flipped {
        background-color: $color-marshmallow;
    }
    // Color Override Options //
    .cmp-productteaser__coal .cmp-productteaser .cmp-productteaser__divider {
      color: $color-coal;
    }
    .cmp-productteaser__charcoal .cmp-productteaser .cmp-productteaser__divider {
      color: $color-charcoal;
    }
    .cmp-productteaser__cinder .cmp-productteaser .cmp-productteaser__divider {
      color: $color-cinder;
    }
    .cmp-productteaser__ash .cmp-productteaser .cmp-productteaser__divider {
      color: $color-ash;
    }
    .cmp-productteaser__smoke .cmp-productteaser .cmp-productteaser__divider {
      color: $color-smoke;
    }
    .cmp-productteaser__marshmallow .cmp-productteaser .cmp-productteaser__divider {
      color: $color-marshmallow;
    }

  // Boost Specific Overrides

    .cmp-productteaser__orange1 .cmp-productteaser .cmp-productteaser__divider { 
        color: $color-brand-boost-orange-1;
    }
    .cmp-productteaser__orange2 .cmp-productteaser .cmp-productteaser__divider {
        color: $color-brand-boost-orange-2;
    }
    .cmp-productteaser__orange3 .cmp-productteaser .cmp-productteaser__divider {
        color: $color-brand-boost-orange-3;
    }

  // OnTech Specific Overrides
    
    .cmp-productteaser__ontech-blue .cmp-productteaser .cmp-productteaser__divider {
      color: $color-brand-ontech;
    }
    .cmp-productteaser__river .cmp-productteaser .cmp-productteaser__divider {
      color: $color-brand-ontech-river;
    }
    .cmp-productteaser__sky .cmp-productteaser .cmp-productteaser__divider {
      color: $color-brand-ontech-sky;
    }
    .cmp-productteaser__sunset .cmp-productteaser .cmp-productteaser__divider {
      color: $color-brand-ontech-sunset;
    }
    .cmp-productteaser__sunrise .cmp-productteaser .cmp-productteaser__divider {
      color: $color-brand-ontech-sunrise;
    }

    // DISH Specific Overrides
    
    .cmp-productteaser__dish-red .cmp-productteaser .cmp-productteaser__divider {
      color: $color-brand-dish-red;
    }
    .cmp-productteaser__ember .cmp-productteaser .cmp-productteaser__divider {
      color: $color-brand-dish-ember;
    }

    .productcard {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      // width: 392px;
      height: auto;
      border-radius: 15px;
      margin: 0 auto;
    }
    .details {
        padding: 2px 16px;
        text-align: center;
    }
    .brand{
        font-size: 16px;
        color: #171725;
        font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 21px;
        margin: 0;
        word-wrap: break-word;
    }
    .price {
        color: #171725;
        font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 800;
        letter-spacing: 0;
        line-height: 21px;
        word-wrap: break-word;
    }
    picture {
        height: 264px;
        width: auto;
    }
    .Name{
        color: #171725;
        font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 32px;
        font-weight: 800;
        letter-spacing: -0.2px;
        line-height: 36px;
        margin-top: 5px;
        margin-bottom: 16px;
        word-wrap: break-word;
    }
    .value{
        color: #171725;
        font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 24px;
        font-weight: 800;
        letter-spacing: -0.1px;
        line-height: 28px;
        word-wrap: break-word;
    }
    .product-image {
        text-align:center; 
        // margin-left: 64px; 
        // margin-right: 64px; 
        padding-top: 64px; 
        padding-bottom: 32px;
        overflow: hidden;
    }
    .decimal {
        font-size: 16px;
        font-weight: 800;
        color: #171725;
        font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .total-price {
        margin-bottom: 47px;
    }
     
 
}  

  // Night

.night {
    .cmp-productteaser {
        background-color: $color-charcoal;
        .cmp-productteaser__saleline,
        .cmp-productteaser__disclaimer {
            color: $color-ash;
        }
        .cmp-productteaser__pretitle,
        .cmp-productteaser__costline,
        .cmp-productteaser__monthline,
        .cmp-productteaser__description,
        .cmp-productteaser__divider,
        .cmp-productteaser__dollarsign  {
            color: $color-marshmallow;
        }   
    }
    .cmp-productteaser__flipped {
        background-color: $color-coal;
    }
       // Color Override Options //
       .cmp-productteaser__coal .cmp-productteaser .cmp-productteaser__divider {
        color: $color-coal;
      }
      .cmp-productteaser__charcoal .cmp-productteaser .cmp-productteaser__divider {
        color: $color-charcoal;
      }
      .cmp-productteaser__cinder .cmp-productteaser .cmp-productteaser__divider {
        color: $color-cinder;
      }
      .cmp-productteaser__ash .cmp-productteaser .cmp-productteaser__divider {
        color: $color-ash;
      }
      .cmp-productteaser__smoke .cmp-productteaser .cmp-productteaser__divider {
        color: $color-smoke;
      }
      .cmp-productteaser__marshmallow .cmp-productteaser .cmp-productteaser__divider {
        color: $color-marshmallow;
      }
  
    // Boost Specific Overrides
  
      .cmp-productteaser__orange1 .cmp-productteaser .cmp-productteaser__divider { 
          color: $color-brand-boost-orange-1;
      }
      .cmp-productteaser__orange2 .cmp-productteaser .cmp-productteaser__divider {
          color: $color-brand-boost-orange-2;
      }
      .cmp-productteaser__orange3 .cmp-productteaser .cmp-productteaser__divider {
          color: $color-brand-boost-orange-3;
      }
  
    // OnTech Specific Overrides
      
      .cmp-productteaser__ontech-blue .cmp-productteaser .cmp-productteaser__divider {
        color: $color-brand-ontech;
      }
      .cmp-productteaser__river .cmp-productteaser .cmp-productteaser__divider {
        color: $color-brand-ontech-river;
      }
      .cmp-productteaser__sky .cmp-productteaser .cmp-productteaser__divider {
        color: $color-brand-ontech-sky;
      }
      .cmp-productteaser__sunset .cmp-productteaser .cmp-productteaser__divider {
        color: $color-brand-ontech-sunset;
      }
      .cmp-productteaser__sunrise .cmp-productteaser .cmp-productteaser__divider {
        color: $color-brand-ontech-sunrise;
      } 
      // DISH Specific Overrides
    
      .cmp-productteaser__dish-red .cmp-productteaser .cmp-productteaser__divider {
        color: $color-brand-dish-red;
      }
      .cmp-productteaser__ember .cmp-productteaser .cmp-productteaser__divider {
        color: $color-brand-dish-ember;
      }
}