.header {
    position: relative;
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
    top: auto;
    width: 100%;
}

.ccpa-wrapper>.text {
    width: 80%;
}

#OverlayWrapper .cq-Overlay--container {
    z-index: 1 !important;
}

.cq-Overlay {
    z-index: auto !important;
}

/* edit mode page height css */
.editor-panel-content #ContentFrame {
    height: 100% !important;
}

/* hide modal container in edit mode but display if modal content is open */
.aem-AuthorLayer-Edit .cmp-modal {
    display: none;
}

.aem-AuthorLayer-Edit .modal>.is-active+.cmp-modal {
    display: block;
}

.aem-AuthorLayer-Edit .cmp-accordion.iconview .cmp-accordion__panel > .container.responsivegrid{
    width: 100%;
}