@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?1our4r');
  src:  url('../fonts/icomoon.eot?1our4r#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1our4r') format('truetype'),
    url('../fonts/icomoon.woff?1our4r') format('woff'),
    url('../fonts/icomoon.svg?1our4r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="coral3-Icon--custom_"], [class*=" coral3-Icon--custom_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  }

.coral3-Icon--custom_cart:before {
  content: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/buttons/Icons_UI_Shopping_Cart.svg');
}
.coral3-Icon--custom_phone:before {
  content: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/buttons/Icons_UI_Phone.svg');
}
.coral3-Icon--custom_calendar:before {
  content: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/buttons/Icons_UI_Calendar.svg');
}
.coral3-Icon--custom_user:before {
  content: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/buttons/Icons_UI_Account.svg');
}
.coral3-Icon--custom_search:before {
  content: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/buttons/Icons_UI_Search.svg');
}
.coral3-Icon--custom_equalizer:before {
  content: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/buttons/Icons_UI_Filter.svg');
}
.coral3-Icon--custom_download3:before {
  content: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/buttons/Icons_UI_Download.svg');
}
.coral3-Icon--custom_upload3:before {
  content: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/buttons/Icons_UI_Upload.svg');
}
.coral3-Icon--custom_arrowright2:before {
  content: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/buttons/Icons_UI_Long_Arrow_Right_Arrow.svg');
}
.coral3-Icon--custom_arrowleft2:before {
  content: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/buttons/Icons_UI_Long_Arrow_Left_Arrow.svg');
}
.coral3-Icon--custom_share:before {
  content: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/buttons/Icons_UI_Share.svg');
}
.coral3-Icon--custom_launch:before {
  content: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/buttons/Icons_UI_Launch.svg');
}

.coral3-Icon--custom_close:before {
  content: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/buttons/Icons_UI_Close.svg');
}
.coral3-Icon--custom_down:before {
  content: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/buttons/Icons_UI_Down.svg');
}
.coral3-Icon--custom_up:before {
  content: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/buttons/Icons_UI_Up.svg');
}
.coral3-Icon--custom_left:before {
  content: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/buttons/Icons_UI_Left.svg');
}
.coral3-Icon--custom_right:before {
  content: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/buttons/Icons_UI_Right.svg');
}

.coral3-Icon--addon:before {
  content: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/myaccountmenu/add_on_1.png');
}
.coral3-Icon--simcardalert:before {
  content: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/myaccountmenu/ic_outline_sim_card_alert.png');
}
.coral3-Icon--iconbill:before {
  content: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/myaccountmenu/Icons_24_bill.png');
}
.coral3-Icon--iconcontact:before {
  content: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/myaccountmenu/Icons_Contact_Team_Boost.png');
}
.coral3-Icon--icondashboard:before {
  content: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/myaccountmenu/Icons_dashboard.png');
}
.coral3-Icon--iconlogin:before {
  content: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/myaccountmenu/Icons_log_in.png');
}
.coral3-Icon--iconsetting:before {
  content: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/myaccountmenu/Icons_settings.png');
}
.coral3-Icon--iconorderhistory:before {
  content: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/myaccountmenu/Order_History.png');
}
.coral3-Icon--iconmanagepayments:before {
  content: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/images/icons/myaccountmenu/Manage_Payments.png');
}