<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.model="com.techcombank.core.models.TabEventCardModel">
    <sly data-sly-test.variation="${model.variationType=='regular'}">
        <div class="tabs-event-card">
            <div class="tcb-tab-content_container">
                <sly data-sly-list.regularList="${model.tabEventList}">
                    <div class="news-card">
                        <picture class="news-card_cover">
                            <img class="news-card_cover-image" src="${regularList.imageForEvent}" alt="Logo" />
                        </picture>
                        <div class="news-card_month"><span>${regularList.eventDate}</span><small>${regularList.eventMonth}</small></div>
                        <div class="news-card_info">
                            <div class="news-card_type">
                                <sly data-sly-list.tagList="${regularList.eventTag}">
                                    <span class="news-card_type-inner">${tagList}</span>
                                </sly>
                                <span class="news-card_time">${regularList.eventTime}</span>
                            </div>
                            <div class="news-card_title">
                                ${regularList.eventHeading}
                            </div>
                            <div class="news-card_description">
                                ${regularList.eventDesription @context='html'}
                            </div>
                            <sly data-sly-test="${regularList.ctaButtonLabel && regularList.ctaButtonLink}">
                                <div class="news-card_actions">
                                    <a
                                            class="tcb-button tcb-button--link"
                                            data-tracking-click-event="linkClick"
                                            data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${regularList.linkUrl}'}}"
                                            data-tracking-click-info-value="{'linkClick':'${regularList.eventHeading}'}"
                                            href="${regularList.ctaButtonLink}"
                                            target="${regularList.ctaTarget == 'true' ? '_blank' : '_self'}"
                                    >
                                        ${regularList.ctaButtonLabel}
                                    </a>
                                </div>
                            </sly>
                        </div>
                    </div>
                </sly>
            </div>
            <div data-sly-test="${model.viewAll}" class="read-more">
                <a href="${model.link @ extension = 'html'}" target="${model.newTab=='true'?'_blank':'_self'}">${model.viewAll}</a>
                <div class="expand">
                    <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-arrow-icon.svg" />
                </div>
            </div>
        </div>
    </sly>
    <sly data-sly-test.awardVar="${model.variationType=='awards'}">
        <div class="tabs-event-card">
            <div class="tcb-tab-content_container">
                <sly data-sly-list.awardList="${model.tabEventList}">
                    <div class="news-card">
                        <picture class="news-card_cover">
                            <img class="news-card_cover-image" src="${awardList.imageForEvent}" alt="Logo" />
                        </picture>
                        <div class="news-card_info">
                            <div class="news-card_type">
                                <sly data-sly-list.tagList="${awardList.eventTag}">
                                    <span class="news-card_type-inner">${tagList}</span>
                                </sly>
                            </div>
                            <div class="news-card_title">
                                ${awardList.eventHeading}
                            </div>
                            <div class="news-card_description">
                                <p>${awardList.awardLabelText}: ${awardList.eventSubHeading}</p>
                            </div>
                            <sly data-sly-test="${awardList.ctaButtonLabel && awardList.ctaButtonLink}">
                                <div class="news-card_actions">
                                    <a
                                            class="tcb-button tcb-button--link"
                                            data-tracking-click-event="linkClick"
                                            data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${awardList.linkUrl}'}}"
                                            data-tracking-click-info-value="{'linkClick':'${awardList.eventHeading}'}"
                                            href="${awardList.ctaButtonLink}"
                                            target="${awardList.ctaTarget == 'true' ? '_blank' : '_self'}"
                                    >
                                        ${awardList.ctaButtonLabel}
                                    </a>
                                </div>
                            </sly>
                        </div>
                    </div>
                </sly>
            </div>
            <div data-sly-test="${model.viewAll}" class="read-more">
                <a href="${model.link @ extension = 'html'}" target="${model.newTab=='true'?'_blank':'_self'}">${model.viewAll}</a>
                <div class="expand">
                    <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-arrow-icon.svg" />
                </div>
            </div>
        </div>
    </sly>
</sly>
