// .showblock{
//     margin-left: 0px !important;
//     opacity: 1 !important;
//     visibility: visible !important;
// }
// .container-header-fluid{
//     margin: 0 auto;
//     width: 100%;
//     height: 4rem;
//     position:fixed;
//     top: 0;
//     .cmp-navigation__group {
//         list-style: none;
//     }
//     .cmp-navigation__group.floyout-submenu{
//         visibility: hidden;
//         position: absolute;
//         background: grey;
//         width: 721px;
//         margin-left: -721px;
//         left: 0;
//         height: 100vh;
//         padding: 0;
//         opacity: 0;        
//         transition: opacity 0.3s ease-in-out 0.12s, margin-left 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0.12s;

//          .cmp-navigation__item{
//             margin-left: calculateRem(148);
//             &:hover::before {
//                 margin-left: -8px;
//                 display: inline-block;
//                 content: "";
//                 border-left: 2px solid $color-coal;
//                 height: 28px;
//                 -webkit-transform: translateY(-1rem);
//                 transform: translateY(-1rem);
//                 position: absolute;
//                 top: 28px;
//             }
//         }
//         .cmp-navigation__item-link, a{
//             font-size: calculateRem(36);
//             line-height: calculateRem(40);
//             color: #C4C4CA;
//             font-weight: 800;
//             letter-spacing: -0.6px;
//             text-align: left;
    
//             &:hover{
//                 color: $color-coal;  
//             }
            
//         }
//         .cmp-navigation__item-link.active{
//             .floyout-submenu{
//                 margin-left: 0px !important;
//                 opacity: 1 !important;
//                 visibility: visible !important;
//             }
//         }
//     }
//     .cmp-navigation__item {
//         display: inline-block;
//         margin-left: calculateRem(48);
//         &:hover::before {
//             margin-left: -8px;
//             display: inline-block;
//             content: "";
//             border-left: 2px solid $color-coal;
//             height: 18px;
//             -webkit-transform: translateY(-1rem);
//             transform: translateY(-1rem);
//             position: absolute;
//             top: 39px;
//         }
//     }
//     .cmp-navigation__item-link, a{
//         font-size: calculateRem(16);
//         line-height: calculateRem(21);
//         color: #525261;
//         font-weight: 800;

//         &:hover{
//             color: $color-coal;  
//         }
//     }
    
//     //removing bordre bottom animation from header
//     a {
//         &:hover{
//             &:after{
//                 background-color: transparent;
//             }
//         }
//         &:after {
//             background-color: transparent;
//         }
//     }
//     .parent-list {
//         padding-left: calculateRem(195);
//         margin: 0 auto;
//         height: calculateRem(64);
//         top: 0;
//         max-width: initial;
//         display: -webkit-box;
//         display: -ms-flexbox;
//         display: flex;
//         -webkit-box-pack: left;
//         -ms-flex-pack: left;
//         justify-content: left;
//         padding-top: inherit;
//         line-height:calculateRem(64);
//         z-index: 999;
//         width: 100%;
//         height: calculateRem(63);
//         overflow-y: initial;

//         .cmp-navigation__item--active::before {
//             margin-left: -8px;
//             display: inline-block;
//             content: "";
//             border-left: 2px solid $color-coal;
//             height: 18px;
//             -webkit-transform: translateY(-1rem);
//             transform: translateY(-1rem);
//             position: absolute;
//             top: 39px;
//         }
//     }
    
// }


// .cmp-header{
//     width: 100%;
//     background-color: #171725;
// }

// .cmp-header__smoke{
//     background-color: $color-smoke;
// }
// .cmp-header__marshmallow{
//     background-color: $color-marshmallow;
// }
// .cmp-header__coal{
//     background-color: $color-coal;
// }
// .cmp-header__charcoal{
//     background-color: $color-charcoal;
// }

// .day{
//     .cmp-header__smoke{
//         background-color: $color-smoke;

//         .cmp-navigation__item--active::before {
//             border-left: 2px solid $color-coal;            
//         }
//         .cmp-navigation__item--active > .cmp-navigation__item-link, a{
//             color: $color-coal;
//         }
//         .cmp-navigation__item-link, a {
//             color: $color-light-grey2;
//             &:hover{
//                 color: $color-coal; 

//             }
//         }
//         .cmp-navigation__item:hover::before{
//             border-left: 2px solid $color-coal;
//         }
//         .home-Search path{
//             fill: $color-light-grey2;
//         }
            
//     }
//     .cmp-header__marshmallow{
//         background-color: $color-marshmallow;

//         .cmp-navigation__item--active::before {
//             border-left: 2px solid $color-light-grey2;
//         }
//         .cmp-navigation__item-link, a {
//             color: $color-light-grey2;
//         }
//         .cmp-navigation__item:hover::before{
//             border-left: 2px solid $color-light-grey2;
//         }
//         .home-Search path{
//             fill: $color-light-grey2;
//         }
//         .home-cart path{
//             fill: $color-light-grey2;
//         }        
//     }
// }

// .night{
//     .cmp-header__coal{
//         background-color: $color-coal;

//         .cmp-navigation__item--active::before {
//             border-left: 2px solid $color-marshmallow;
//         }
//         .cmp-navigation__item-link, a {
//             color: $color-light-grey1;
//             &:hover{
//                 color: $color-marshmallow; 
//             }
//         }
//         .cmp-navigation__item:hover::before{
//             border-left: 2px solid $color-marshmallow;
//         }
//         .home-Search path{
//             fill: $color-light-grey1;
//         }     
//     }
//     .cmp-header__charcoal{
//         background-color: $color-charcoal;

//         .cmp-navigation__item--active::before {
//             border-left: 2px solid $color-marshmallow;
//         }
//         .cmp-navigation__item-link, a {
//             color: $color-light-grey1;
//         }
//         .cmp-navigation__item:hover::before{
//             border-left: 2px solid $color-marshmallow;
//         }
//         .home-Search path{
//             fill: $color-light-grey1;
//         }
//         .home-cart path{
//             fill: $color-light-grey1;
//         }        
//     }

// }