<div class="navigation">
    <nav id="navigation-0e123bccd2" class="cmp-navigation" role="navigation" itemscope=""
        itemtype="http://schema.org/SiteNavigationElement"
        data-cmp-data-layer="{&quot;navigation-0e123bccd2&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation&quot;,&quot;repo:modifyDate&quot;:&quot;2019-05-21T15:59:35Z&quot;}}">
        <ul class="cmp-navigation__group">
            <li class="cmp-navigation__item cmp-navigation__item--level-0 cmp-navigation__item--active show-box"
                data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-9bee4d4454&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2019-12-20T18:35:24Z&quot;,&quot;dc:title&quot;:&quot;Component Library&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library.html&quot;}}">
                <a href="javascript:void(0)" title="Component Library"
                    aria-current="page" data-cmp-clickable="" class="cmp-navigation__item-link">Plans</a>
                    <ul class="cmp-navigation__group floyout-submenu">
                        <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-1d32a567a9&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;dc:title&quot;:&quot;Templating&quot;,&quot;xdm:linkURL&quot;:&quot;#&quot;}}">
                        <a href="#" title="Templating" aria-current="page" data-cmp-clickable="" class="cmp-navigation__item-link">subm menu 1</a>
                        <ul class="cmp-navigation__group child__menu">
                            <li class="cmp-navigation__item cmp-navigation__item--level-3" data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-5ecc840b3f&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Catalog Page&quot;,&quot;xdm:linkURL&quot;:&quot;#&quot;}}">
                            <a href="#" title="Catalog Page" data-cmp-clickable="" class="cmp-navigation__item-link">Catalog Page</a>
                            </li>
                            <li class="cmp-navigation__item cmp-navigation__item--level-3" data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-5ecc840b3f&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Catalog Page&quot;,&quot;xdm:linkURL&quot;:&quot;#&quot;}}">
                                <a href="#" title="Catalog Page" data-cmp-clickable="" class="cmp-navigation__item-link">Catalog Page</a>
                            </li>
                        </ul>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-2" data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-e628106fe1&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:29Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                            <a href="/content/core-components-examples/library/templating/language-navigation/language-structure/us/en/language-navigation.html" title="Language Navigation" data-cmp-clickable="" class="cmp-navigation__item-link">subm menu 1</a>
                            <ul class="cmp-navigation__group child__menu">
                                <li class="cmp-navigation__item cmp-navigation__item--level-3" data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-5ecc840b3f&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Catalog Page&quot;,&quot;xdm:linkURL&quot;:&quot;#&quot;}}">
                                <a href="#" title="Catalog Page" data-cmp-clickable="" class="cmp-navigation__item-link">Catalog Page</a>
                                </li>
                                <li class="cmp-navigation__item cmp-navigation__item--level-3" data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-5ecc840b3f&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Catalog Page&quot;,&quot;xdm:linkURL&quot;:&quot;#&quot;}}">
                                    <a href="#" title="Catalog Page" data-cmp-clickable="" class="cmp-navigation__item-link">Catalog Page</a>
                                </li>
                            </ul>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-2" data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-35671d6884&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                            <a href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html" title="Breadcrumb" data-cmp-clickable="" class="cmp-navigation__item-link">subm menu 1</a>
                        </li>                                                
                        <li class="experiment-fragment">
                            <nav>
                                <a href="#">permalink 1</a>
                                <a href="#">permalink 1</a>
                                <a href="#">permalink 1</a>
                            </nav>
                        </li>
                    </ul>
            </li>
            <li class="cmp-navigation__item cmp-navigation__item--level-1"
                data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-9bee4d4454&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2019-12-20T18:35:24Z&quot;,&quot;dc:title&quot;:&quot;Component Library&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library.html&quot;}}">
                <a href="#" title="Component Library"
                    aria-current="page" data-cmp-clickable="" class="cmp-navigation__item-link">Devices</a>
                    <ul class="cmp-navigation__group floyout-submenu">
                        <li class="cmp-navigation__item cmp-navigation__item--level-1" data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-1d32a567a9&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;dc:title&quot;:&quot;Templating&quot;,&quot;xdm:linkURL&quot;:&quot;#&quot;}}">
                        <a href="#" title="Templating" aria-current="page" data-cmp-clickable="" class="cmp-navigation__item-link">subm menu 3</a>
                        <ul class="cmp-navigation__group child__menu">
                            <li class="cmp-navigation__item cmp-navigation__item--level-3" data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-5ecc840b3f&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Catalog Page&quot;,&quot;xdm:linkURL&quot;:&quot;#&quot;}}">
                            <a href="#" title="Catalog Page" data-cmp-clickable="" class="cmp-navigation__item-link">Catalog Page</a>
                            </li>
                            <li class="cmp-navigation__item cmp-navigation__item--level-3" data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-5ecc840b3f&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Catalog Page&quot;,&quot;xdm:linkURL&quot;:&quot;#&quot;}}">
                                <a href="#" title="Catalog Page" data-cmp-clickable="" class="cmp-navigation__item-link">Catalog Page</a>
                            </li>
                        </ul>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-2" data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-e628106fe1&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:29Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                            <a href="/content/core-components-examples/library/templating/language-navigation/language-structure/us/en/language-navigation.html" title="Language Navigation" data-cmp-clickable="" class="cmp-navigation__item-link">subm menu 4</a>
                            <ul class="cmp-navigation__group child__menu">
                                <li class="cmp-navigation__item cmp-navigation__item--level-3" data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-5ecc840b3f&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Catalog Page&quot;,&quot;xdm:linkURL&quot;:&quot;#&quot;}}">
                                <a href="#" title="Catalog Page" data-cmp-clickable="" class="cmp-navigation__item-link">Catalog Page</a>
                                </li>
                                <li class="cmp-navigation__item cmp-navigation__item--level-3" data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-5ecc840b3f&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Catalog Page&quot;,&quot;xdm:linkURL&quot;:&quot;#&quot;}}">
                                    <a href="#" title="Catalog Page" data-cmp-clickable="" class="cmp-navigation__item-link">Catalog Page</a>
                                </li>
                            </ul>
                        </li>
                        <li class="cmp-navigation__item cmp-navigation__item--level-2" data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-35671d6884&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                            <a href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html" title="Breadcrumb" data-cmp-clickable="" class="cmp-navigation__item-link">subm menu 1</a>
                        </li>                                                
                        <li class="experiment-fragment">
                            <nav>
                                <a href="#">permalink 3</a>
                                <a href="#">permalink 4</a>
                                <a href="#">permalink 5</a>
                            </nav>
                        </li>
                    </ul>
            </li>
            <li class="cmp-navigation__item cmp-navigation__item--level-0"
                data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-9bee4d4454&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2019-12-20T18:35:24Z&quot;,&quot;dc:title&quot;:&quot;Component Library&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library.html&quot;}}">
                <a href="#" title="Component Library"
                    aria-current="page" data-cmp-clickable="" class="cmp-navigation__item-link">Help</a>
            </li>
        </ul>
    </nav>
</div>