<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.js @ categories=['kemin.navigation']}"/>
<sly
        data-sly-use.header="com.kemin.redesign.core.models.company.ComapnyNavigation"
        data-sly-use.template="core/wcm/components/commons/v1/templates.html"
        data-sly-call="${template.placeholder @ isEmpty=empty}"/>
<sly data-sly-test="${header.navigationItemList.size != 0}">
    <!-- put this condition as false, so that mobile view does not execute since we have another component 'Navigation Mobile Reference' for mobile view only -->

    <!-- Desktop -->
    <div class="kemin-root-accordian d-none d-lg-block">
        <div class="kemkin-pdp-accordian  ">
            <div class="outer-container-accordian">
                <div class="hex-conatiner hexagon-wrapper">
                    <div id="color2" class="hexagon">
                        <span class="img-dynamic">
                            <!-- based on the AEM page thumnal the icon here:  -->
                            <img src="${header.navigationIconUrl}">
                        </span>
                    </div>
                </div>
                <div class="inner-container-accordian inner-navigation-accordian">
                    <div class="pdp-accordian-title">
                        ${header.rootPage}
                    </div>
                    <div class="accordion">
                        <sly data-sly-repeat.nav="${header.navigationItemList}">

                            <div class="accordion-item navigation-item-xs">
                                <div class="accordion-header accordion-header-xs accordion-header-md nav-row"
                                     id="panelsStayOpen-headingOne">
                                    <sly data-sly-test="${nav.listChildren}">
                                        <div class="row navigation-nav-body">
                                            <a class="navigation-table-cell nav-row"
                                               href="${nav.path @extension='html'}">
                                                ${nav.navigationTitle || nav.pageTitle ||
                                                nav.title}
                                            </a>
                                            <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#Navigation-${nav.name}-${nav.parent.name}-${navList.index}"
                                                    aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">

                                            </button>
                                        </div>

                                    </sly>


                                    <sly data-sly-test="${!nav.listChildren}">
                                        <div class="navigation-single-url">
                                            <a class="nav-row" href="${nav.path @extension='html'}">
                                                ${nav.navigationTitle || nav.pageTitle ||
                                                nav.title}
                                            </a>
                                        </div>


                                    </sly>


                                </div>

                                <sly data-sly-test.childNav="${nav.listChildren}">
                                    <sly data-sly-test="${childNav}">
                                        <div id="Navigation-${nav.name}-${nav.parent.name}-${navList.index}"
                                             class="accordion-collapse collapse"
                                             aria-labelledby="panelsStayOpen-headingOne">
                                            <div class="accordion-body">
                                                <div data-sly-repeat.nest="${childNav}">
                                                    <sly data-sly-use.product="${item.path}/jcr:content"></sly>
                                                    <sly data-sly-test="${product.cq:template == '/conf/kemin-redesign/settings/wcm/templates/company-page'}">


                                                    <div class="accordion-header accordion-header-xs accordion-header-md thin-border"
                                                         id="panelsStayOpen-headingOne">
                                                        <sly data-sly-test="${nest.listChildren}">

                                                                <div class="row navigation-nav-body">
                                                                    <a class="navUrl navigation-table-cell nav-row"
                                                                       href="${nest.path @extension='html'}">
                                                                        ${nest.navigationTitle || nest.pageTitle ||
                                                                        nest.title}
                                                                    </a>
                                                                    <button class="accordion-button collapsed"
                                                                            type="button"
                                                                            data-bs-toggle="collapse"
                                                                            data-bs-target="#Navigation-child-${nest.name}-${nest.parent.name}-${nestList.index}"
                                                                            aria-expanded="false"
                                                                            aria-controls="panelsStayOpen-collapseOne">

                                                                    </button>
                                                                </div>
                                                            </sly>


                                                        <!-- got error here -->
                                                        <sly data-sly-test="${!nest.listChildren}">

                                                            <div class="navigation-single-url">
                                                                <a class="navUrl nav-row"
                                                                   href="${nest.path @extension='html'}">
                                                                    ${nest.navigationTitle ||
                                                                    nest.pageTitle ||
                                                                    nest.title}
                                                                </a>
                                                            </div>


                                                        </sly>

                                                    </div>
                                                    </sly>

                                                    <sly data-sly-test.childNav="${nest.listChildren}">
                                                        <sly data-sly-test="${childNav}">
                                                            <div id="Navigation-child-${nest.name}-${nest.parent.name}-${nestList.index}"
                                                                 class="accordion-collapse collapse"
                                                                 aria-labelledby="panelsStayOpen-headingOne">
                                                                <div class="accordion-body">
                                                                    <div data-sly-repeat="${childNav}">
                                                                        <sly data-sly-use.product="${item.path}/jcr:content"></sly>
                                                                        <sly data-sly-test="${product.cq:template == '/conf/kemin-redesign/settings/wcm/templates/company-page'}">

                                                                            <sly data-sly-test="${!product.hideInNav}">
                                                                                <div class="navigation-single-url">
                                                                                    <a class="navUrl nav-row"
                                                                                       href="${item.path @extension='html'}">
                                                                                        ${item.navigationTitle ||
                                                                                        item.pageTitle ||
                                                                                        item.title}
                                                                                    </a>
                                                                                </div>
                                                                            </sly>
                                                                        </sly>


                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </sly>
                                                    </sly>
                                                    <!--
                                                     <sly data-sly-test="${!childNav}">
                                                         <sly data-sly-use.product="${nest.path}/jcr:content"></sly>
                                                         <sly data-sly-test="${!product.hideInNav}">
                                                             <div class="navigation-single-url">
                                                                 <a class="navUrl nav-row"
                                                                    href="${nest.path @extension='html'}">
                                                                     ${nest.navigationTitle || nest.pageTitle
                                                                     || nest.title}
                                                                 </a>
                                                             </div>
                                                         </sly>
                                                     </sly>-->


                                                </div>
                                            </div>
                                        </div>
                                    </sly>
                                </sly>
                            </div>
                        </sly>
                    </div>
                </div>
            </div>
            <div data-sly-resource="${'social_links' @ resourceType='kemin-redesign/components/social_links'}"></div>
        </div>
    </div>
</sly>