<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-use.languageSelector="com.dish.dopweb.core.models.LanguageSelector"
     data-sly-test.notEmpty="${languageSelector.languageSelectorMenuItems}">
    <div class="dropdown">
        <button id="btndd" class="btnDropDown">Select
            <span id="spnCaret" class="caret"></span>
        </button>
        <div id="myDropdown" class="dropdown-content">
            <sly data-sly-list.languageItems="${languageSelector.languageSelectorMenuItems}">
                <a  class=" ddOption"  href="#" isDefaultLanguage="${languageItems.isDefaultLanguage ? 'Y':'N'}" langcode=${languageItems.languageIsoCode}>${languageItems.languageTitle}</a>
            </sly>
        </div>
    </div>
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!notEmpty}"></sly>