<div>
    <b>${'kemin.posted' @i18n} ${ 'MMMM dd, yyyy' @ format=pageProperties['posted']}</b> ${pageProperties['by']?'kemin.by':'' @i18n} ${pageProperties['by']}
    <div data-sly-test.disable="${pageProperties['share']}" style="float:right">
        <a  data-cta="Share" data-at="Blog" data-nav="Body" data-cta-type="link" class="icon-share" data-bs-toggle="modal" data-bs-target="#shareModal">
            ${'kemin.share' @i18n}
        </a>
    
        <!-- Modal -->
        <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input id="shareInput" type="text" value="${request.requestURL.toString}" id="shareInput">
                        <button id="shareBtn" class="btn btn-primary" shareTooltip="tooltip" title=""  data-trgger="manual">Copy To Clipboard</button>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
</div>