<sly data-sly-test.edit="${wcmmode.preview || wcmmode.edit}"/>

<sly data-sly-test="${edit}">
  <table width="100%" border="1" cellspacing="0" cellpadding="0">
    <tr>
      <td width="15%">
        <sly data-sly-resource="${'logo-day' @ resourceType='/apps/dopweb/components/image'}" />
      </td>
      <td width="15%">
        <sly data-sly-resource="${'logo-night' @ resourceType='/apps/dopweb/components/image'}" />
      </td>
      <td width="35%">
        <sly data-sly-resource="${'topnav' @ resourceType='/apps/dopweb/components/structure/topnav'}" />
      </td>
      <td width="20%">
        <sly data-sly-resource="${'container' @ resourceType='dopweb/components/container'}"></sly>
      </td>
      <td width="15%">
        <sly data-sly-resource="${'usermenu' @ resourceType='/apps/dopweb/components/structure/usermenu'}" />
      </td>
    </tr>
  </table>

</sly>
<sly data-sly-test="${!edit}">
  <!-- AEM Header -->
  <header>
    <div class="container-header-fluid">
      <div class="nav-hat">
        <div id="close-menu">✕</div>
        <!-- hamburger menu for mobile version -->
        <!-- <div id="burger-menu">
          <div></div>
          <div></div>
          <div></div>
        </div> -->
        <sly data-sly-resource="${'logo-day' @ resourceType='/apps/dopweb/components/image'}" />
        <sly data-sly-resource="${'logo-night' @ resourceType='/apps/dopweb/components/image'}" />
      </div>

      <sly data-sly-resource="${'topnav' @ resourceType='/apps/dopweb/components/structure/topnav'}" />

      <div class="left-navigation-extra">
        <ul>
          <li>
            <sly data-sly-resource="${'container' @ resourceType='dopweb/components/container'}" ></sly>
          </li>
            <sly data-sly-resource="${'usermenu' @ resourceType='/apps/dopweb/components/structure/usermenu'}" />
        </ul>
      </div>

    </div>
  </header>
</sly>