<div
  data-sly-use.model="com.techcombank.core.models.PrimarySearchModel"
  data-sly-use.template="core/wcm/components/commons/v1/templates.html"
  data-sly-test.hasContent="${model}">
  <sly data-sly-test="${hasContent}">
    <!-- icon primary search -->
    <a class="search-primary-btn" href="#primarySearchModal">
      <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/search-primary-icon.svg" />
    </a>

    <!-- primary search modal -->
    <div class="popup modal-hidden" id="primarySearchModal" style="align-items: normal !important">
      <div class="popup__container search-primary-modal">
        <div class="popup__container-item">
          <div class="search-primary-container">
            <div class="input-container">
              <div class="icon">
                <img src="${model.inputSearchIcon}" />
              </div>
              <div class="icon close-icon">
                <div class="close-icon-wrapper">
                  <img
                    src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/icon_close_red.svg" />
                </div>
              </div>
              <input
                aria-invalid="false"
                autocomplete="off"
                placeholder="${model.inputPlaceHolder}"
                type="text"
                aria-autocomplete="list"
                autocapitalize="none"
                spellcheck="false"
                value=""
                class="ui-autocomplete-input search-input" />
            </div>
            <div class="search-box_title">${model.historyLabel}</div>
            <div class="key-word-list" data-primary-search-result-slug="${model.resultSlug}"></div>
            <div class="link_title">${model.usefulLinksTitle}</div>
            <div class="card-list">
              <sly data-sly-list.card="${model.usefulLinksItemList}">
                <div class="card-container">
                  <a href="https://techcombank.com/${card.slug}" x-cq-linkchecker="skip">
                    <div>
                      <img alt="card-search-popup" src="${card.banner}" />
                    </div>
                    <div class="card-label">${card.title}</div>
                  </a>
                </div>
              </sly>
            </div>
          </div>
        </div>
      </div>
    </div>
  </sly>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>
