<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   ~ Copyright 2021 Adobe
   ~
   ~ Licensed under the Apache License, Version 2.0 (the "License");
   ~ you may not use this file except in compliance with the License.
   ~ You may obtain a copy of the License at
   ~
   ~     http://www.apache.org/licenses/LICENSE-2.0
   ~
   ~ Unless required by applicable law or agreed to in writing, software
   ~ distributed under the License is distributed on an "AS IS" BASIS,
   ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   ~ See the License for the specific language governing permissions and
   ~ limitations under the License.
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<section class="container press-article">
    <sly data-sly-use.templatedContainer="com.day.cq.wcm.foundation.TemplatedContainer"
         data-sly-list.child="${templatedContainer.structureResources}">
        <sly data-sly-list.childElements="${child.children}">
            <sly data-sly-test="${childElements.name == 'header'}">
                <sly data-sly-resource="${childElements.path @ resourceType=childElements.resourceType}"></sly>
            </sly>
            <sly data-sly-test="${childElements.name == 'breadcrumb'}">
                <div class="article-content--wrapper">
                    <sly data-sly-resource="${childElements.path @ resourceType=childElements.resourceType, decoration='true'}"></sly>
                </div>
            </sly>
            <sly data-sly-test="${childElements.name == 'articleandevents'}">
                <sly data-sly-resource="${childElements.path @ resourceType=childElements.resourceType}"></sly>
            </sly>
            <sly data-sly-test="${childElements.name == 'container'}">
                <div class="article-content--wrapper">
                    <div class="content-wrapper">
                    	<div class="wrapper">
                        	<div class="article-content">
                                <sly data-sly-test="${!properties.hideTableOfContent}"
                                     data-sly-resource="${'articletableofcontent' @ resourceType='techcombank/components/articletableofcontent', decoration='true'}"></sly>
                                <sly data-sly-test="${childElements.name == 'container'}">
                                    <div class="article-text">
                                        <sly data-sly-resource="${childElements.path @ resourceType=childElements.resourceType}"></sly>
                                    </div>
                                </sly>
                            </div>
                        </div>
                    </div>
                </div>
            </sly>
            <sly data-sly-test="${childElements.name == 'sectioncontainer'}">
                <sly data-sly-test="${childElements.listChildren || wcmmode.edit}">
                    <sly data-sly-resource="${childElements.path @ resourceType=childElements.resourceType}"></sly>
                </sly>
            </sly>
            <sly data-sly-test="${childElements.name == 'articletagcloud'}">
                <div data-sly-test="${!properties.hideArticleTagCloud}" class="article-content__tag-cloud">
                    <div class="article-content__tag-cloud--wrapper">
                        <div class="content-body">
                            <sly data-sly-resource="${childElements.path @ resourceType=childElements.resourceType}"></sly>
                        </div>
                    </div>
                </div>
            </sly>
            <sly data-sly-test="${childElements.name == 'experiencefragment'}">
                <div class="article-content__social-share">
                    <div class="article-content__social-share--wrapper">
                        <div class="content-body">
                            <sly data-sly-resource="${childElements.path @ resourceType=childElements.resourceType}"></sly>
                        </div>
                    </div>
                </div>
            </sly>
            <sly data-sly-test="${childElements.name == 'articlerelatedpost'}">
                <div class="article-footer--wrapper tcb-container">
                    <sly data-sly-resource="${childElements.path @ resourceType=childElements.resourceType}"></sly>
                </div>
            </sly>
            <sly data-sly-test="${childElements.name == 'footer'}">
                <div data-sly-resource="${childElements.path @ resourceType=childElements.resourceType}"></div>
            </sly>
        </sly>
    </sly>
</section>
