<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.model="com.techcombank.core.models.TableOfContents" data-sly-test="${!model.hideStatus}">
	<sly data-sly-test.jsonMap="${model.jsonMap}">
		<div class="table-content">
			<header class="table-content__header">
				<div class="table-content__content">
					<div class="table-content__label" aria-hidden="true">
						<p class="table-content__labelText">${model.title}</p>
						<img class="table-content__icon"
							 src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-dropdown-arrow.svg"
							 alt=""/>
					</div>
					<div class="table-content__entered">
						<div class="table-content__entered-wrapper">
							<div class="table-content__entered-inner">
								<ul class="table-content__tableList">
									<sly data-sly-list.key="${jsonMap}">
										<li class="table-content__tableItem">
											<a href="#${jsonMap[key].id}" data-tracking-click-event="linkClick"
											   class="table-content__tableItem-text"
											   data-tracking-click-info-value="{'linkClick': '${jsonMap[key].value}'}"
											   data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': 'other'}}">
												<span>${jsonMap[key].value}</span>
											</a>
											<sly data-sly-test="${jsonMap[key].h3}">
												<ul class="table-content__listChild" data-sly-list.h3Key="${jsonMap[key].h3}">
													<sly data-sly-list.itemH3List="${h3Key}">
														<li data-sly-test="${itemH3List}">
															<sly data-sly-set.h3Title="${h3Key[itemH3List].value}"/>
															<a href="#${h3Key[itemH3List].id}"
															   class="table-content__tableItem-text"
															   data-tracking-click-event="linkClick"
															   data-tracking-click-info-value="{'linkClick': '${h3Title}'}"
															   data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': 'other'}}">
																<span class="title">${h3Title}</span>
															</a>
														</li>
													</sly>
												</ul>
											</sly>
										</li>
									</sly>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</header>
		</div>
	</sly>
</sly>
