<!--/*
   Techcombank
   _______________________
   
   Events component.
   
   */-->
<sly data-sly-use.eventModel="com.techcombank.core.models.ArticleAndEventsModel" />
<div itemscope itemtype="https://schema.org/NewsArticle" class="press-article">
   <sly data-sly-test.articleImagePath="${eventModel.articleImagePath !=''}">
      <div class="banner-image">
	<picture>
	    <source media="(max-width: 360px)"	srcset="${eventModel.articleImagePath}" />
	    <source media="(max-width: 576px)"	srcset="${eventModel.articleImagePath}" />
	    <source media="(min-width: 1080px)" srcset="${eventModel.articleImagePath}" />
	    <source media="(min-width: 1200px)" srcset="${eventModel.articleImagePath}" />
	    <img itemprop="image" src="${eventModel.articleImagePath}" />
	</picture>
      </div>
   </sly>
   <sly data-sly-test="${!articleImagePath}">
      <sly data-sly-resource="${'mastheadsimplebanner' @ resourceType='techcombank/components/mastheadsimplebanner'}"></sly>
   </sly>
   <section class="article-header__container">
       <div class="article-header__container--wrapper">
           <div class="article-header-content">
               <div class="article-header-body">
                   <h3 itemprop="headline" class="article-header-body--title">
                       ${eventModel.articleTitle}
                   </h3>
                   <p itemprop="description" class="article-header-body--subTitle">
                       ${eventModel.articleDescription}
                   </p>
                   <div itemprop="dateModified" class="article-header-body--date">${eventModel.articleCreationDate}</div>
               </div>
           </div>
       </div>
   </section>
</div>
