<div class="ccpa-banner test aem-Grid aem-Grid--12">
    <div class="ccpa-wrapper">
            <sly data-sly-resource="${'text' @ resourceType='/apps/dopweb/components/text', decoration=true}"/>
        <div class="button-wrapper">
            <sly data-sly-resource="${'button' @ resourceType='/apps/dopweb/components/button', decoration=true}"/>
        </div>
    </div>
</div>