<sly data-sly-use.briteVerify="com.dish.dopweb.core.configs.BriteVerifyConfig"
     data-sly-use.responsys="com.dish.dopweb.core.configs.ResponsysConfig"
     data-sly-use.linkHelper="com.dish.dopweb.core.models.LinkHelper"/>
<div class="forms-${properties.alignment ? properties.alignment : 'vertical'}">
    <div class="endpoint" data-path="${linkHelper.mappedResourcePath}.leadgen.api" data-site="boost"
         style="display:none"></div>
    <form action="/shop/buy/plans/check" method="post" id="leadgenform" class="leadgenform" name="leadgenform"
          data-form-id="${properties.formID}">
        <div class="errormsg" style="display: none;">
            <p><span class="alert-circle icon-Alert-Circle"><span class="path1"></span><span
                    class="path2"></span></span>
                ${properties.errorMessage @ context='html'}</p>
        </div>
        <sly data-sly-resource="${'text-title' @ resourceType='/apps/dopweb/components/text', decoration=true}"/>
        <sly data-sly-list.item="${properties.fieldType}">
            <div data-sly-test="${item == 'zipcode'}" class="input-container">
                <label class="blank-field-input-label"><span>${'zipField' @ i18n}</span></label>
                <span class="span-element">
                      <sly data-sly-use.attrHelper="${'com.dish.dopweb.core.models.TextAttributeModel' @ fieldId='txtZipCode', requiredMsg='Enter Valid Zip Code',
                         labelTitle='Zip Code',placeholderMsg='zipField',requiredFlag=true,fieldName='txtZipCode'}">
                    <sly data-sly-resource="${'zipcode' @ resourceType='/apps/dopweb/components/form/text',
                        requestAttributes=attrHelper.attrMap}"></sly>
                </sly>

            </span>
                <span id="errorZipcode" hidden>${'Enter Valid Zip Code' @ i18n}</span>
            </div>
            <div data-sly-test="${item == 'email'}" class="input-container">
                <label class="blank-field-input-label"><span>${'emailField' @ i18n}</span></label>
                <span class="span-element">
                      <sly data-sly-use.attrHelper="${'com.dish.dopweb.core.models.TextAttributeModel' @ fieldId='txtEmail', requiredMsg='Invalid Email Address',
                         labelTitle='Email Address',placeholderMsg='emailFieldGenesis',requiredFlag=true,fieldName='txtEmail'}">
                    <sly data-sly-resource="${'email' @ resourceType='/apps/dopweb/components/form/text',
                        requestAttributes=attrHelper.attrMap}"></sly>

                </sly>

            </span>
                <span id="errorEmail" hidden>${'Invalid Email Address' @ i18n}</span>
            </div>
        </sly>
        <sly data-sly-resource="${'button' @ resourceType='/apps/dopweb/components/button', decoration=true}"/>
        <sly data-sly-resource="${'text-privacy' @ resourceType='/apps/dopweb/components/text', decoration=true}"/>
    </form>
    <!--<div class="button">
        <button class="cmp-button btn-flat" id="btnSubmit" type="submit">
            <span class="cmp-button__text">Submit Coverage</span>
        </button>
    </div>-->
</div>
