<div data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"></div>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=true}"></sly>
<sly data-sly-use.column="com.aembootcamp.core.models.ColumnControl" >
<div class="container">
<div class="row class">
   <div data-sly-list.grid="${column.columns}" data-sly-unwrap>
      <div class="${grid}"  data-sly-test.resourcePath="${ '{0}{1}' @ format=['field',gridList.count]}">
        
          <div data-sly-resource="${ 'resourcePath' @ resourceType='wcm/foundation/components/parsys'}">
</div>
        </div>
      </div>
   </div>
</div>
</div>
</sly>
