<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.model="com.techcombank.core.models.DebtPanel">
    <section class="container insurance-calculation save-calculation ">
        <div class="insurance-calculation__container">
            <div class="insurance-calculation__content">
                <div class="insurance-calculation__panel">
                    <div class="panel-inputs">
                        <div class="input-items" data-tracking-click-event="calculator"
                        data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': 'other'}}"
                        data-tracking-click-info-value="{'calculatorName':'Debt Panel', 'calculatorFields':'' }"
                >
                            <div class="item__label">
                                <div class="label__text" title="${model.depositAmountTool ? model.depositAmountTool : ''}">
                                    ${model.depositAmountLabel}
                                    <div class="icon-info">
                                        <span data-sly-test="${model.depositAmountTool}" title="${model.depositAmountTool}">
                                            <picture data-sly-test="${model.toolTipIcon}" >
                                                <source media="(max-width: 360px)" srcset="${model.toolTipIconMobile}" />
                                                <source media="(max-width: 576px)" srcset="${model.toolTipIconMobile}" />
                                                <source media="(min-width: 1080px)" srcset="${model.toolTipIcon}" />
                                                <source media="(min-width: 1200px)" srcset="${model.toolTipIcon}" />
                                                <img src="${model.toolTipIcon}" alt="${model.toolTipAltText}" />
                                                </picture>
                                        </span>
                                        <div data-sly-test="${model.depositAmountTool}" class="tooltiptext">
                                            ${model.depositAmountTool}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__input-fields">
                                <div class="input-field__currency-field" inputmode="numeric">
                                    <input
                                            aria-invalid="false"
                                            name="depositMoney"
                                            type="text"
                                            maxlength="20"
                                            title=""
                                            class="date-time-wrapper__input money__input-field"
                                            value=""
                                            />
                                    <div class="date-time-wrapper__input-extra">
                                        <p class="currency__place-holder">${model.depositAmountInput}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item__label">
                                <div class="label__text">
                                    ${model.interestRate}
                                    <div class="icon-info">
                                        <span data-sly-test="${model.interestRateTool}" title="${model.interestRateTool}">
                                            <picture data-sly-test="${model.toolTipIcon}">
                                                <source media="(max-width: 360px)" srcset="${model.toolTipIconMobile}" />
                                                <source media="(max-width: 576px)" srcset="${model.toolTipIconMobile}" />
                                                <source media="(min-width: 1080px)" srcset="${model.toolTipIcon}" />
                                                <source media="(min-width: 1200px)" srcset="${model.toolTipIcon}" />
                                                <img src="${model.toolTipIcon}" alt="${model.toolTipAltText}" />
                                            </picture>
                                        </span>
                                        <div data-sly-test="${model.interestRateTool}" class="tooltiptext">
                                            ${model.interestRateTool}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__input-fields">
                                <div class="tcb-input--save-calc" data-value="0" data-min="${model.interestRateSlider}" data-max="10" data-use-label="true" data-use-value-popover="true" data-unit="%"></div>
                            </div>
                            <div class="item__label">
                                <div class="label__text" title="${model.termToolTip}">
                                    ${model.termLabelText}
                                    <div class="icon-info">
                                        <span data-sly-test="${model.toolTipIcon}" title="${model.termToolTip}">
                                            <picture data-sly-test="${model.toolTipIcon}">
                                                <source media="(max-width: 360px)" srcset="${model.toolTipIconMobile}" />
                                                <source media="(max-width: 576px)" srcset="${model.toolTipIconMobile}" />
                                                <source media="(min-width: 1080px)" srcset="${model.toolTipIcon}" />
                                                <source media="(min-width: 1200px)" srcset="${model.toolTipIcon}" />
                                                <img src="${model.toolTipIcon}" alt="${model.toolTipAltText}" />
                                            </picture>
                                        </span>
                                        <div data-sly-test="${model.termToolTip}" class="tooltiptext">${model.termToolTip}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__input-fields">
                                <div class="input-field__currency-field" inputmode="numeric">
                                    <input aria-invalid="false" name="depositMonth" type="text" maxlength="3" min="0" class="date-time-wrapper__input month__input-field" value="" />
                                    <div class="date-time-wrapper__input-extra">
                                        <p class="currency__place-holder">${model.monthText}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-info">
                        <span>
                            <picture>
                                <source media="(max-width: 360px)" srcset="${model.outputPanelBgMobile}" />
                                <source media="(max-width: 576px)" srcset="${model.outputPanelBgMobile}" />
                                <source media="(min-width: 1080px)" srcset="${model.outputPanelBg}" />
                                <source media="(min-width: 1200px)" srcset="${model.outputPanelBg}" />
                                <img src="${model.outputPanelBg}" alt="${model.bgImageAltText}" />
                            </picture>
                        </span>
                        <div class="panel-info__content">
                            <div class="panel-info__content-text">
                                <div class="info-content-text__icon">
                                    <span>
                                        <picture>
                                            <source media="(max-width: 360px)" srcset="${model.iconImageMobile}" />
                                            <source media="(max-width: 576px)" srcset="${model.iconImageMobile}" />
                                            <source media="(min-width: 1080px)" srcset="${model.iconImage}" />
                                            <source media="(min-width: 1200px)" srcset="${model.iconImage}" />
                                            <img src="${model.iconImage}" alt="${model.iconImageAlt}" decoding="async" data-nimg="fixed" />
                                        </picture>
                                    </span>
                                </div>
                            </div>
                            <div class="panel-info__content-text">
                                <div class="info-content-text__label">
                                    <div class="dark-gray">${model.interestPaidLabel}</div>
                                    <h3 id="profit-value--save-calc">0 ${model.interestPaidOutputAmount}</h3>
                                </div>
                                <div class="info-content-text__label">
                                    <div class="dark-gray">${model.totalReceivedLabel}</div>
                                    <h3 id="total-value--save-calc">0 ${model.totalReceivedOutputAmount}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</sly>
