<div data-sly-use.model="com.techcombank.core.models.InspirePrivilegeModel"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-test.hasContent="${model.displayVariation}">
    <sly data-sly-test="${hasContent}">
        <section class="inspire-privilege">
            <div class="inspire-privilege__wrapper">
                <div class="inspire-privilege__container">
                    <div class="inspire-privilege__container2 ${model.enableSeparator ? 'bottom-separator' : ''}">
                        <p class="content-item__title">${model.title}</p>
                        <div class="content-item__container">
                            <div class="content-item__primary">
                                <div class="content-item__picture enable-shadow-${model.enableShadow}" data-sly-test="${model.displayVariation == 'image'}">
                                    <picture>
                                        <img src="${model.image}"
                                            alt="${model.altText}" class="content-item__image" />
                                    </picture>
                                </div>
                                <div class="swiper swiper1 content-item__picture" is-swiper="1" data-sly-test="${model.displayVariation == 'slider'}">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide" data-sly-repeat.slideImage="${model.slideImageRow1List}">
                                            <picture>
                                                <img src="${slideImage.image}"
                                                    class="content-item__image" alt="img-tcb" />
                                            </picture>
                                        </div>
                                    </div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                </div>
                                <div class="content-item__multi-picture" data-sly-test="${model.displayVariation == 'auto-slider'}">
                                    <sly data-sly-test="${model.slideImageRow1List}">
                                        <div class="swiper swiper2 multi-picture__row">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide" data-sly-repeat.slideImage="${model.slideImageRow1List}">
                                                    <picture>
                                                        <img src="${slideImage.image}"
                                                            class="content-item__image" alt="img-tcb" />
                                                    </picture>
                                                </div>
                                                <!-- for only one card, swiper will not scroll => solution: duplicate more one card -->
                                                <div class="swiper-slide duplicate-for-only-one-card" data-sly-repeat.slideImage="${model.slideImageRow1List}"
                                                    data-sly-test="${model.slideImageRow1List.size == 1}">
                                                    <picture>
                                                        <img src="${slideImage.image}"
                                                            class="content-item__image" alt="img-tcb" />
                                                    </picture>
                                                </div>
                                            </div>
                                        </div>
                                    </sly>
                                    <sly data-sly-test="${model.slideImageRow2List}">
                                        <div class="swiper swiper2 multi-picture__row">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide" data-sly-repeat.slideImage="${model.slideImageRow2List}">
                                                    <picture>
                                                        <img src="${slideImage.image}"
                                                            class="content-item__image" alt="img-tcb" />
                                                    </picture>
                                                </div>
                                            </div>
                                        </div>
                                    </sly>
                                    <sly data-sly-test="${model.slideImageRow3List}">
                                        <div class="swiper swiper2 multi-picture__row">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide" data-sly-repeat.slideImage="${model.slideImageRow3List}">
                                                    <picture>
                                                        <img src="${slideImage.image}"
                                                            class="content-item__image" alt="img-tcb" />
                                                    </picture>
                                                </div>
                                            </div>
                                        </div>
                                    </sly>
                                </div>
                                <a class="info-link info-link-mobile" href="${model.linkUrl}" target="${model.openInNewTab ? '_blank' : '_self'}"
                                    rel="${model.noFollow ? 'nofollow' : ''}"
                                    data-tracking-click-event="linkClick"
                                    data-tracking-click-info-value="{'linkClick' : '${model.linkText}'}"
                                    data-tracking-web-interaction-value="{'webInteractions': {'name': 'Inspire Privilege','type': '${model.webInteractionType}'}}">
                                    ${model.linkText}
                                    <img class="info-link__icon" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-arrow-icon.svg"/>
                                </a>
                            </div>
                            <div class="content-item__text list-item-count-${model.contentList.size}">
                                <div class="list-item" data-sly-repeat.contentItem="${model.contentList}">
                                    <div class="list-item__image">
                                        <img src="${contentItem.contentIcon}"
                                            alt />
                                    </div>
                                    <div class="list-item__content">
                                        <div>
                                            ${contentItem.contentText @ context='html'}
                                        </div>
                                    </div>
                                </div>
                                <a class="info-link info-link-desktop" href="${model.linkUrl}" target="${model.openInNewTab ? '_blank' : '_self'}"
                                    rel="${model.noFollow ? 'nofollow' : ''}"
                                    data-tracking-click-event="linkClick"
                                    data-tracking-click-info-value="{'linkClick' : '${model.linkText}'}"
                                    data-tracking-web-interaction-value="{'webInteractions': {'name': 'Inspire Privilege','type': '${model.webInteractionType}'}}">
                                    ${model.linkText}
                                    <img class="info-link__icon" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-arrow-icon.svg"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </sly>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>