<sly data-sly-use.contact="com.aembootcamp.core.models.Contact"></sly>

<section id="content">
		<div class="container">
        <div class="row">
        	<div class="col-lg-3 col-md-offset-1">
            <div class="">
              <h4>${"touch" @ i18n, context='html'}</h4>
              <address>
                <strong>${contact.companyTitle}</strong><br>
               ${contact.companyAddress}<br>
            	</address>
              <p>
                <i class="icon-phone"></i>  ${contact.companyPhone} <br>
                <i class="icon-envelope-alt"></i> ${contact.companyEmail}
              </p>
            </div>
          </div>
          <div id="sendmessage" class="col-md-6">Your message has been sent. Thank you!</div>
            <div id="errormessage" class="col-md-6"></div>
          <div id="contactUsForm" class="col-md-6">
            <h2>${"contact" @ i18n, context='html'} <small>${"getIn" @ i18n, context='html'}</small></h2>
            <hr class="colorgraph">

            <form action="${currentnode.path}.contact.html" method="Get" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="fname" class="form-control" id="fname" required="required" placeholder="${contact.firstName}" >

              </div>
			  <div class="form-group">
                <input type="text" name="lname" class="form-control" id="lname" required="required" placeholder="${contact.lastName}" >

              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" required="required" placeholder="${contact.email}">

              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" required="required" placeholder="${contact.subject}" >

              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" id="message" rows="5" required="required" placeholder="${contact.message}"></textarea>
               
              </div>
              <div class="form-group">
                  <sly data-sly-test="${properties.additional}">
					 <div data-sly-resource="${ 'contact' @ resourceType='wcm/foundation/components/parsys'}">


							</div>

                      </sly>

                  </div>

              <div class="text-center"><button type="submit" id="submitButton" class="btn btn-theme btn-block btn-md">${"send" @ i18n, context='html'}</button></div>
            </form>
            <hr class="colorgraph">

          </div>
        </div>
      </div>
  </section>