.cmp-separator {
    padding: calculateRem(12) 0;
}
.cmp-separator__horizontal-rule {
    background-color: $color-light-grey;
    border: 0;    
    height: calculateRem(0);
}

// Color Override Options //
.cmp-separator__coal hr{
    background-color: $color-coal;
}
.cmp-separator__charcoal hr{
    background-color: $color-charcoal;
}
.cmp-separator__cinder hr {
    background-color: $color-cinder;
}
.cmp-separator__ash hr {
    background-color: $color-ash;
}
.cmp-separator__smoke hr {
    background-color: $color-smoke;
}
.cmp-separator__marshmallow hr {
    background-color: $color-marshmallow;
}
.cmp-separator__black hr {
    background-color: $color-black;
}

// Boost Color //
.cmp-separator-boost__orange1 hr{
    background-color: $color-brand-boost-orange-1;
}
.cmp-separator-boost__orange2 hr{
    background-color: $color-brand-boost-orange-2;
}
.cmp-separator-boost__orange3 hr{
    background-color: $color-brand-boost-orange-3;
}
.cmp-separator-boost__dark-blue hr{
    background-color: $color-brand-boost-dark-blue;
}
.cmp-separator-boost__mid-blue hr{
    background-color: $color-brand-boost-mid-blue;
}
.cmp-separator-boost__accent-blue hr{
    background-color: $color-brand-boost-accent-blue;
}
.cmp-separator-boost__accent-green hr{
    background-color: $color-brand-boost-accent-green;
}

// Genesis Color //
.cmp-separator-genesis__green hr{
    background-color: $color-brand-genesis-green;
}
.cmp-separator-genesis__black hr{
    background-color: $color-brand-genesis-black-russian;
}
.cmp-separator-genesis__mineral-green hr{
    background-color: $color-brand-genesis-mineral-green;
}
//margin bottom
.cmp-separator__bm-0 hr {
    margin-bottom: calculateRem(0);
}
.cmp-separator__bm-125 hr {
    margin-bottom: calculateRem(0.125);
}
.cmp-separator__bm-25 hr {
    margin-bottom: calculateRem(0.25);
}
.cmp-separator__bm-5 hr {
    margin-bottom: calculateRem(0.5);
}
.cmp-separator__bm-1 hr {
    margin-bottom: calculateRem(1);
}
.cmp-separator__bm-2 hr {
    margin-bottom: calculateRem(2);
}
.cmp-separator__bm-4 hr {
    margin-bottom: calculateRem(4);
}
.cmp-separator__bm-8 hr {
    margin-bottom: calculateRem(8);
}

//height in rem
.cmp-separator__h-0 hr {
    height: calculateRem(0);
}
.cmp-separator__h-125 hr {
    height: calculateRem(1);
}
.cmp-separator__h-25 hr {
    height: calculateRem(4);
}
.cmp-separator__h-5 hr {
    height: calculateRem(8);
}
.cmp-separator__h-1 hr {
    height: calculateRem(16);
}
.cmp-separator__h-2 hr {
    height: calculateRem(32);
}