<sly data-sly-use.breadcrumb="com.aembootcamp.core.models.Breadcrumb"
   data-sly-test.isHomePage="${breadcrumb.list.size == 0}">
   ${breadcrumb.homepage}
</sly>
<sly data-sly-test="${!isHomePage}">
   <section id="inner-headline">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">

               <ul class="breadcrumb">
                  <li><a href="${breadcrumb.homepage.path @extension='html'}"><i class="fa fa-home"></i></a>
                     <i class="icon-angle-right"></i>
                  </li>
                  <li class="breadcrumb-item" data-sly-repeat.items="${breadcrumb.list}">
                     <a href="${items.path @extension= 'html'}">${  items.title || items.pageTitle || items.navTitle} </a>
                     <i class="icon-angle-right"></i>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </section>
</sly>