<header>
    <div data-cmp-is="coveoglobalsearchbar"
         data-sly-use.model="com.kemin.redesign.core.models.coveo.CoveoGlobalSearchBarModel">
        <link rel="stylesheet" href="https://static.cloud.coveo.com/searchui/v2.10089/2/css/CoveoFullSearch.min.css"
              integrity="sha512-9GgVFZ4MQXFlO6SGY8+DxZAxOzQjcklUBUCfwvJAjAeNadVEzOSMzvTHSw4JbBXbVoqn6ck7jUKjV1WaUlKtIA=="
              crossorigin="anonymous" />
        <script class="coveo-script" src="https://static.cloud.coveo.com/searchui/v2.10089/2/js/CoveoJsSearch.Lazy.min.js"
                integrity="sha512-u2+G7uHGzcRXnJ6isFtRmMLdn2rsq52bZwU/pVKhxzGbkq8fW8HKywclJhDFzzsFBGQB5CGd5zg38NHZsPTf9Q=="
                crossorigin="anonymous"></script>
        <script src="https://static.cloud.coveo.com/searchui/v2.10089/2/js/templates/templates.js"
                integrity="sha512-uu361iGkzq8eo/FYkLHLnDsDwaON4Zp43MA3FOVbCjnAlJLR8vug8xsKt0WVqS2VIPfTmi9A+PD4ltalF/Jb8w=="
                crossorigin="anonymous"></script>
        <script defer type="text/javascript"
                src="https://static.cloud.coveo.com/searchui/v2.10089/2/js/cultures/${model.language @ context='attribute'}.js"></script>

        <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
             data-sly-call="${clientlib.css @ categories='coveo.coveo-global-searchbar'}"/>
        <div class="container-fuild base_header">
            <div class="container lang_header">
                <div class="container-kemin">
                    <div class="header-top-bar">
                        <div class="location-container">
                            <div class="map_heading">
                                <p class="pading-header"><span class="icon-globe"></span><span class="text_map">${'kemin.you-are-viewing' @i18n}</span>
                                    <span>
                                <a data-cta="location" data-at="location" data-nav="Header" data-cta-type="link" id="kemin-user-location" href="#" data-location="Sub-Saharan Africa"> ${'kemin.south-africa' @i18n}</a>
                                <span id="icon-button-lang" class="icon-button-lang icon-chevron-down"></span>
                            </span>
                                </p>
                            </div>
                            <div class="header_map map-dropdown map_dropdown-none">
                                <!-- Desktop and Tablet -->
                                <div class="dropdown-content d-none d-md-block d-lg-block">
                                    <!-- REMOVING FOR NOW <div class="arrow-bottom"></div>-->
                                    <div class="row">
                                        <div class="pad-right col-lg-3 col-md-3">
                                            <div class="map-title">
                                                ${'kemin.visit-regional-site' @i18n}
                                            </div>
                                            <div class="country-links">
                                                <ul class="country-location-links">
                                                    <div data-location-link="North America">
                                                        <div class="accordion">
                                                            <div class="accordion-item">
                                                                <div class="accordion-header" id="panelsStayOpen-location">
                                                                    <button class="accordion-button" type="button"
                                                                            data-bs-toggle="collapse"
                                                                            data-bs-target="#panelsStayOpen-locationOne"
                                                                            aria-expanded="true"
                                                                            aria-controls="panelsStayOpen-collapseOne">
                                                                        ${'kemin.north-america' @i18n}
                                                                    </button>
                                                                </div>
                                                                <div id="panelsStayOpen-locationOne"
                                                                     class="accordion-collapse collapse show"
                                                                     aria-labelledby="panelsStayOpen-location">
                                                                    <div class="accordion-body">
                                                                        <ul id="north-america-country">
                                                                            <li data-location-link="United States">
                                                                                ${'kemin.usa' @i18n}</li>
                                                                            <li data-location-link="Canada">${'kemin.canada' @i18n}</li>
                                                                            <li data-location-link="Mexico">${'kemin.mexico' @i18n}</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <li data-location-link="South America">${'kemin.south-america' @i18n}</li>
                                                    <li data-location-link="EMEA">${'kemin.emea' @i18n}</li>
                                                    <li data-location-link="Sub-Saharan Africa"> ${'kemin.south-africa' @i18n}</li>
                                                    <li data-location-link="Russia">${'kemin.russia' @i18n}</li>
                                                    <li data-location-link="India"> ${'kemin.india' @i18n}</li>
                                                    <li data-location-link="China"> ${'kemin.china' @i18n}</li>
                                                    <li data-location-link="Asia Pacific"> ${'kemin.asia-pacific' @i18n}</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-9 col-md-9">
                                            <div class="img-map"></div>
                                            <map name="countryHeader">
                                                <!-- Alaska -->
                                                <area title="USA" onclick="selectCountry('United States')"
                                                    coords="119,139,46,126,7,145,0,173,9,203,13,257,65,227,104,214,138,229" shape="poly">
                                                <!-- Canada -->
                                                <area title="Canada" onclick="selectCountry('Canada')"
                                                    coords="121,130,140,230,146,245,183,293,454,325,492,301,475,252,441,213,458,157,381,97,398,54,464,9,372,3,312,22,265,46,211,63" shape="poly">
                                                <!-- USA -->
                                                <area title="USA" onclick="selectCountry('United States')"
                                                    coords="183,299,423,323,389,370,374,421,299,406,183,355" shape="poly">
                                                <!-- Mexico -->
                                                <area title="Mexico" onclick="selectCountry('Mexico')"
                                                    coords="195,364,300,409,308,448,336,437,369,429,433,454,384,457,356,439,343,446,338,465,356,467,386,502,369,510,326,474,300,469,265,450,225,409" shape="poly">
                                                <!-- South America -->
                                                <area title="South America" onclick="selectCountry('South America')"
                                                coords="381,508,386,527,366,568,388,611,414,632,394,798,409,836,439,836,472,815,435,789,489,714,540,654,573,566,508,545,493,517,452,493,407,480" shape="poly">
                                                <!-- EMEA -->
                                                <area title="EMEA" onclick="selectCountry('EMEA')"
                                                    coords="405,57,411,81,461,85,482,139,497,192,527,224,545,186,575,164,622,188,688,229,671,269,691,282,706,317,678,319,676,353,686,366,658,405,675,406,687,394,708,381,701,360,716,349,727,330,755,323,781,351,813,360,828,353,841,362,867,360,858,387,824,385,826,433,858,437,875,417,904,486,964,460,976,433,976,417,972,360,948,357,925,357,914,345,925,336,890,325,865,310,875,295,881,285,866,281,852,271,849,258,843,247,830,235,830,220,833,212,845,197,834,147,853,134,823,126,835,28,757,38,784,78,818,69,804,132,746,184,735,203,702,221,658,190,656,162,615,165,594,158,626,136,639,69,667,22,611,-1,511,-1,453,18" shape="poly">
                                                <!-- South Africa -->
                                                <area title="Sub-Saharan Africa" onclick="selectCountry('Sub-Saharan Africa')"
                                                    coords="657,413,633,462,664,520,707,525,758,525,749,552,771,597,762,627,800,727,841,710,866,667,924,673,931,604,884,582,946,485,904,494,877,454,870,432,860,439,820,439,820,388,806,381,799,398,776,381,758,353,708,363,714,384,681,403,680,412" shape="poly">
                                                <!-- Russia -->
                                                <area title="Russia" onclick="selectCountry('Russia')"
                                                    coords="865,131,839,148,852,200,834,222,833,237,850,246,854,268,862,270,870,277,887,283,888,291,879,306,885,319,922,334,922,304,912,289,916,276,935,273,947,276,974,276,969,264,976,261,974,252,984,254,1014,245,1020,253,1041,252,1057,275,1072,275,1078,283,1087,280,1089,284,1114,276,1133,284,1137,264,1154,276,1164,276,1184,283,1201,279,1212,281,1223,281,1227,261,1254,261,1259,280,1270,285,1277,292,1288,289,1285,311,1276,314,1278,326,1292,323,1307,300,1335,312,1330,257,1297,249,1327,226,1388,221,1374,248,1389,280,1528,175,1490,118,1330,82,1195,75,1126,23,966,13,907,34" shape="poly">
                                                <!-- China -->
                                                <area title="China" onclick="selectCountry('China')"
                                                    coords="924,300,934,323,953,330,950,312,966,305,979,318,996,318,1003,334,1035,320,1061,327,1039,341,1030,345,1035,354,1049,366,1054,381,1060,391,1068,393,1083,404,1097,403,1111,403,1126,395,1134,403,1138,411,1133,426,1145,438,1147,430,1174,430,1174,438,1196,442,1232,419,1238,388,1266,368,1266,346,1272,328,1270,311,1281,308,1282,295,1273,297,1255,283,1249,264,1231,262,1230,273,1224,284,1215,287,1201,284,1181,289,1162,280,1153,281,1146,273,1137,273,1135,284,1118,284,1108,281,1089,289,1076,287,1068,280,1053,276,1041,258,1024,258,1014,251,981,258,976,269,980,276,970,280,952,277,931,276,918,280,916,288" shape="poly">
                                                <!-- India -->
                                                <area title="India" onclick="selectCountry('India')"
                                                    coords="956,312,953,335,938,337,945,349,979,356,981,427,996,418,1051,520,1072,516,1057,491,1107,438,1124,406,1114,402,1105,408,1093,408,1080,407,1064,396,1050,389,1046,379,1051,380,1045,369,1033,360,1029,349,1029,339,1051,329,1033,326,1010,337,997,337,992,325,979,325,968,311" shape="poly">
                                                <!-- Asia Pecific -->
                                                <area title="Asia Pacific" onclick="selectCountry('Asia Pacific')"
                                                    coords="1318,307,1268,376,1219,442,1172,441,1166,433,1151,433,1147,444,1130,429,1130,418,1131,409,1120,413,1119,422,1108,440,1122,522,1158,577,1245,598,1245,614,1197,649,1208,724,1350,776,1443,789,1485,736,1450,715,1368,564,1259,514,1242,450,1273,388,1314,372,1324,333,1341,321" shape="poly">  
                                            </map>
                                            <script>
                                                function selectCountry(value){
                                                  $(".country-links").find('li[data-location-link="' + value + '"]').click();
                                                }
                                              </script>
                                        </div>
                                    </div>
                                </div>
                                <!-- Mobile Only -->
                                <div class="dropdown-content d-md-none d-lg-none">
                                    <!-- REMOVING FOR NOW <div class="arrow-bottom"></div> -->
                                    <div class="row">
                                        <div class="title-location-mobile">
                                            <h3> ${'kemin.visit-regional-site' @i18n}</h3>
                                        </div>

                                        <div class="col-6 country-north-america">
                                            <img class="country-north-noactive mobile-map-click-NA"
                                                 src="/content/dam/kemin-redesign/north-america-mobile.svg"
                                                 alt="north-america-noactive">
                                            <img class="country-north-active  mobile-map-click-NA"
                                                 src="/content/dam/kemin-redesign/north-america-selected-mobile.svg"
                                                 alt="north-america-active">
                                            <div>
                                                <div class="accordion">
                                                    <div class="accordion-item">
                                                        <div class="accordion-header" id="panelsStayOpen-location">
                                                            <button class="accordion-button" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#panelsStayOpen-locationOne"
                                                                    aria-expanded="true"
                                                                    aria-controls="panelsStayOpen-collapseOne">
                                                                ${'kemin.north-america' @i18n}
                                                            </button>
                                                        </div>
                                                        <div id="panelsStayOpen-locationOne"
                                                             class="accordion-collapse collapse show"
                                                             aria-labelledby="panelsStayOpen-location">
                                                            <div class="accordion-body">
                                                                <ul id="north-america-country"
                                                                    class="north-america-mobile-locations">
                                                                    <li class="location-map-title"
                                                                        data-location-link="United States">${'kemin.usa' @i18n}
                                                                    </li>
                                                                    <li class="location-map-title"
                                                                        data-location-link="Canada">${'kemin.canada' @i18n}</li>
                                                                    <li class="location-map-title"
                                                                        data-location-link="Mexico">${'kemin.mexico' @i18n}</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 country-south-america">
                                            <img class="country-south-noactive mobile-map-click" data-location-link="South America"
                                                 src="/content/dam/kemin-redesign/south-america-mobile.svg"
                                                 alt="north-america-noactive">
                                            <img class="country-south-active"
                                                 src="/content/dam/kemin-redesign/south-america-selected-mobile.svg"
                                                 alt="north-america-active">
                                            <div class="location-map-title" data-location-link="South America">
                                                ${'kemin.south-america' @i18n}
                                            </div>
                                        </div>
                                        <div class="col-6 country-emea">
                                            <img class="country-emea-noactive mobile-map-click" data-location-link="EMEA"
                                                 src="/content/dam/kemin-redesign/emea-mobile.svg"
                                                 alt="north-america-noactive">
                                            <img class="country-emea-active"
                                                 src="/content/dam/kemin-redesign/emea-selected-mobile.svg"
                                                 alt="north-america-active">
                                            <div class="location-map-title" data-location-link="EMEA">
                                                ${'kemin.emea' @i18n}
                                            </div>
                                        </div>
                                        <div class="col-6 country-south-africa">
                                            <img class="country-africa-noactive mobile-map-click" data-location-link="Sub-Saharan Africa"
                                                 src="/content/dam/kemin-redesign/south-africa-mobile.svg"
                                                 alt="Africa">
                                            <img class="country-africa-active"
                                                 src="/content/dam/kemin-redesign/south-africa-selected-mobile.svg"
                                                 alt="Africa">
                                            <div class="location-map-title" data-location-link="Sub-Saharan Africa">
                                                ${'kemin.south-africa' @i18n}
                                            </div>
                                        </div>
                                        <div class="col-6 country-russia">
                                            <img class="country-russia-noactive mobile-map-click" data-location-link="Russia"
                                                 src="/content/dam/kemin-redesign/russia-mobile.svg" alt="Russia">
                                            <img class="country-russia-active"
                                                 src="/content/dam/kemin-redesign/russia-selected-mobile.svg"
                                                 alt="Russia">
                                            <div class="location-map-title" data-location-link="Russia">
                                                ${'kemin.russia' @i18n}
                                            </div>
                                        </div>
                                        <div class="col-6 country-india">
                                            <img class="country-india-noactive mobile-map-click" data-location-link="India"
                                                 src="/content/dam/kemin-redesign/india-mobile.svg" alt="India">
                                            <img class="country-india-active"
                                                 src="/content/dam/kemin-redesign/india-selected-mobile.svg"
                                                 alt="India">
                                            <div class="location-map-title" data-location-link="India">
                                                ${'kemin.india' @i18n}
                                            </div>
                                        </div>
                                        <div class="col-6 country-china">
                                            <img class="country-china-noactive mobile-map-click" data-location-link="China"
                                                 src="/content/dam/kemin-redesign/china-mobile.svg" alt="China">
                                            <img class="country-china-active"
                                                 src="/content/dam/kemin-redesign/china-selected-mobile.svg"
                                                 alt="China">
                                            <div class="location-map-title" data-location-link="China">
                                                ${'kemin.china' @i18n}
                                            </div>
                                        </div>
                                        <div class="col-6 country-asia">
                                            <img class="country-asia-noactive mobile-map-click" data-location-link="Asia Pacific"
                                                 src="/content/dam/kemin-redesign/asiapacific-mobile.svg" alt="Asia">
                                            <img class="country-asia-active"
                                                 src="/content/dam/kemin-redesign/asiapacific-selected-mobile.svg"
                                                 alt="Asia">
                                            <div class="location-map-title" data-location-link="Asia Pacific">
                                                ${'kemin.asia-pacific' @i18n}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="location-model-header" tabindex="-1" aria-labelledby="ModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-md">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="open-new-tab">
                                            <img src="/content/dam/kemin-redesign/open-in-new.svg" alt="">
                                        </div>
                                        <div class="modal-header-title">
                                            ${'kemin.select-language-site' @i18n}
                                        </div>
                                        <div class="modal-language-title" style="display: none;">
                                            ${'kemin.select-language-preference' @i18n}
                                        </div>
                                    </div>
                                    <div id="locations-modal-footerbutton" class="modal-footer">
                                        <!-- dynamic buttons come from js -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="map_heading">
                            <div class="lang_heading">
                                <p>
                                    <span class="icon-translate"></span>
                                    <a data-cta="langauge" data-at="langauge" data-nav="Header" data-cta-type="link" href="#">English</a>
                                    <span data-cta="langauge" data-at="langauge" data-nav="Header" data-cta-type="link" href="#" class="icon-chevron-down"></span>
                                </p>
                            </div>
                            <div class="lang_drop">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fuild header_section_logo">
            <div class="container-kemin logo_section">
                <div class="row">
                    <div class="col-lg-6 col-md-7 self-align  ">
                        <div class="row logo_header">
                            <sly data-sly-use.header="com.kemin.redesign.core.models.header.Header"
                                 data-sly-use.template="core/wcm/components/commons/v1/templates.html"
                                 data-sly-test.logoPath="${header.logo}">
                            </sly>
                            <sly data-sly-test="${logoPath}">
                                <div class="logo">
                                    <sly data-sly-use.image="image.html" data-sly-call="${image.imageTemplate @item= header.logo}"></sly>

                                </div>
                            </sly>
                            <!--/* start of header dropdown links */-->
                            <div class="header_drpdwn_link">
                                <sly data-sly-use.dropDownList="com.kemin.redesign.core.models.header.Header">
                                    <div class="header-link">
                                        <a data-cta="${'kemin.products' @i18n}" data-at="${'kemin.products' @i18n}" data-nav="Menu" data-cta-type="link" href="javascript:void(0)" class="product-link">
                                            ${'kemin.products' @i18n} <br>
                                            <sly data-sly-test="${dropDownList.productCategoryItem.size != 0}">
                                                <span class="icon-chevron-down"></span>
                                            </sly>
                                        </a>
                                        <div class="header_mega_menu">
                                            <div class="mega_menu">
                                                <sly data-sly-list.item="${dropDownList.productCategoryList}">
                                                    <div class="col">
                                                        <sly data-sly-test="${dropDownList.productCategoryList.size != 0}">
                        <span class="thumbnail_dropdown_icon">
                           <a data-cta="${item.linkLabel}" data-at="${item.linkLabel}" data-nav="Menu" data-cta-type="link" href="${item.link @ extension = 'html'}"> <img data-sly-test="${item.linkIcon}" src="${item.linkIcon}"></a>
                        </span>
                                                            <a data-cta="${item.linkLabel}" data-at="${item.linkLabel}" data-nav="Menu" data-cta-type="link" href="${item.link @ extension = 'html'}"> <h4>${item.linkLabel}</h4></a>
                                                            <ul>
                                                                <sly data-sly-list.subItem="${item.subCategoryItem}">
                                                                    <li><a  data-cta="${subItem.linkLabel}" data-at="${subItem.linkLabel}" data-nav="Submenu" data-cta-type="link" href="${subItem.link @ extension = 'html' }">${subItem.linkLabel}</a></li>
                                                                </sly>
                                                            </ul>
                                                        </sly>
                                                    </div>
                                                </sly>
                                                <div class="mega_menu_featured">
                                                    <h4>${'kemin.featured-products' @i18n}</h4>
                                                    <div class="featured_column">
                                                        <sly data-sly-use.feature="com.kemin.redesign.core.models.header.Feature">
                                                            <div class="count">
                                                                <ul class="countList" data-sly-list.items="${feature.featureItems}">
                                                                    <li><a data-cta="${items.featureTitle}" data-at="${items.featureTitle}" data-nav="Menu" data-cta-type="link" href="${items.featureLink @ extension='html'}">${items.featureTitle}</a></li>
                                                                </ul>
                                                            </div>
                                                        </sly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="header-link">
                                        <a data-cta="${'kemin.services' @i18n}" data-at="${'kemin.services' @i18n}" data-nav="Menu" data-cta-type="link" href="javascript:void(0)" class="services-link">
                                            ${'kemin.services' @i18n} <br>
                                            <sly data-sly-test="${dropDownList.serviceCategoryItem}">
                                                <span class="icon-chevron-down"></span>
                                            </sly>
                                        </a>
                                        <sly data-sly-test="${dropDownList.serviceCategoryList.size != 0}">
                                            <div class="header_mega_menu">
                                                <div class="services_mega_position">
                                                    <sly data-sly-list.item="${dropDownList.serviceCategoryList}">

                                                        <div class="col">
                        <span class="thumbnail_dropdown_icon">
                           <a data-cta="${item.linkLabel}" data-at="${item.linkLabel}" data-nav="Menu" data-cta-type="link" href="${item.link @ extension = 'html'}"><img data-sly-test="${item.linkIcon}" src="${item.linkIcon}"/></a>
                        </span>
                                                            <a data-cta="${item.linkLabel}" data-at="${item.linkLabel}" data-nav="Menu" data-cta-type="link" href="${item.link @ extension = 'html'}"> <h4>${item.linkLabel}</h4></a>
                                                            <ul>
                                                                <sly data-sly-list.subItem="${item.subCategoryItem}">
                                                                    <li><a data-cta="${subItem.linkLabel}" data-at="${subItem.linkLabel}" data-nav="Submenu" data-cta-type="link" href="${subItem.link @ extension = 'html' }">${subItem.linkLabel}</a></li>
                                                                </sly>
                                                            </ul>
                                                        </div>
                                                    </sly>
                                                </div>
                                            </div>
                                        </sly>
                                    </div>
                                </sly>
                            </div>
                            <!--/* end of header dropdown links */-->

                            <div class=" d-none d-sm-block lg-search self-align">
                                <div class="search_icon">
                                    <span class="icon-search"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5 col-12 xs-drop">
                        <nav class="navbar navbar-expand-md">
                            <a data-cta="Home" data-at="Home" data-nav="Logo" data-cta-type="link" href="${properties.logoLink @extension='html'}" class="xs-show"><img src = "/content/dam/kemin-redesign/kemin_logo_white_bg.svg" alt="kemin Logo" title="Kemin Logo"/></a>
                            <!--/* start of header dropdown links for mobile */-->
                            <div class="header_drpdwn_link">
                                <sly data-sly-use.dropDownList="com.kemin.redesign.core.models.header.Header">
                                    <div class="header-link">
                                        <a data-cta="${'kemin.products' @i18n}" data-at="${'kemin.products' @i18n}" data-nav="Menu" data-cta-type="link" href="javascript:void(0)" class="product-link">
                                            ${'kemin.products' @i18n} <br>
                                            <span class="icon-chevron-down"></span>
                                        </a>
                                        <div class="header_mega_menu">
                                            <div class="mega_menu">
                                                <sly data-sly-list.item="${dropDownList.productCategoryList}">
                                                    <div class="col">
                                                        <sly data-sly-test="${productCategoryList.size!=0}">
                           <span class="thumbnail_dropdown_icon">
                                 <a data-cta="${item.linkLabel}" data-at="${item.linkLabel}" data-nav="Menu" data-cta-type="link" href="${item.link @ extension = 'html'}"> <img data-sly-test="${item.linkIcon}" src="${item.linkIcon}"></a>
                            </span>
                                                            <a data-cta="${item.linkLabel}" data-at="${item.linkLabel}" data-nav="Menu" data-cta-type="link" href="${item.link @ extension = 'html'}"> <h4>${item.linkLabel}</h4></a>
                                                            <ul>
                                                                <sly data-sly-list.subItem="${item.subCategoryItem}">
                                                                    <li><a data-cta="${subItem.linkLabel}" data-at="${subItem.linkLabel}" data-nav="Submenu" data-cta-type="link" href="${subItem.link @ extension = 'html' }">${subItem.linkLabel}</a></li>
                                                                </sly>
                                                            </ul>
                                                        </sly>
                                                    </div>
                                                </sly>
                                                <div class="mega_menu_featured">
                                                    <h4>${'kemin.featured-products' @i18n}</h4>
                                                    <div class="featured_column">
                                                        <sly data-sly-use.feature="com.kemin.redesign.core.models.header.Feature">
                                                            <div class="count">
                                                                <ul class="countList" data-sly-list.items="${feature.featureItems}">
                                                                    <li><a data-cta="${items.featureTitle}" data-at="${items.featureTitle}" data-nav="Menu" data-cta-type="link" href="${items.featureLink @ extension='html'}">${items.featureTitle}</a></li>
                                                                </ul>
                                                            </div>
                                                        </sly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="header-link">
                                        <a data-cta="${'kemin.services' @i18n}" data-at="${'kemin.services' @i18n}" data-nav="Menu" data-cta-type="link" href="javascript:void(0)" class="services-link">
                                            ${'kemin.services' @i18n} <br>
                                            <span class="icon-chevron-down"></span>
                                        </a>
                                        <sly data-sly-test="${dropDownList.serviceCategoryList.size != 0}">
                                            <div class="header_mega_menu">
                                                <div class="services_mega_position">
                                                    <sly data-sly-list.item="${dropDownList.serviceCategoryList}">

                                                        <div class="col">
                            <span class="thumbnail_dropdown_icon">
                                   <a data-cta="${item.linkLabel}" data-at="${item.linkLabel}" data-nav="Menu" data-cta-type="link" href="${item.link @ extension = 'html'}"><img data-sly-test="${item.linkIcon}" src="${item.linkIcon}"/></a>
                             </span>
                                                            <a data-cta="${item.linkLabel}" data-at="${item.linkLabel}" data-nav="Menu" data-cta-type="link" href="${item.link @ extension = 'html'}"> <h4>${item.linkLabel}</h4></a>
                                                            <ul>
                                                                <sly data-sly-list.subItem="${item.subCategoryItem}">
                                                                    <li><a data-cta="${subItem.linkLabel}" data-at="${subItem.linkLabel}" data-nav="Submenu" data-cta-type="link" href="${subItem.link @ extension = 'html' }">${subItem.linkLabel}</a></li>
                                                                </sly>
                                                            </ul>
                                                        </div>
                                                    </sly>
                                                </div>
                                            </div>
                                        </sly>
                                    </div>
                                </sly>
                            </div>
                            <!--/* end of header dropdown links for mobile*/-->
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" id="loseFocus">
                                <span class="icon-menu"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                                <sly data-sly-use.header="com.kemin.redesign.core.models.header.Header">
                                    <sly data-sly-test="${header.signIn || header.productCatalog || header.news || header.blog || header.contactUs}">
                                        <ul class="navbar-nav">
                                            <sly data-sly-test="${header.signIn}">
                                                <li class="nav-item">
                                                    <a data-cta="${item.linkLabel}" data-at="${item.linkLabel}" data-nav="Menu" data-cta-type="link" class="nav-link" href="${header.signIn @ extension = 'html'}"><span class="icon-account"></span> ${'kemin.sign-in' @i18n}</a>
                                                </li>
                                            </sly>
                                            <sly data-sly-test="${header.productCatalog}">
                                                <li class="nav-item">
                                                    <a data-cta="${item.linkLabel}" data-at="${item.linkLabel}" data-nav="Menu" data-cta-type="link" class="nav-link" href="${header.productCatalog @ extension = 'html'}">${'kemin.product-catalog' @i18n}</a>
                                                </li>
                                            </sly>
                                            <sly data-sly-test="${header.news}">
                                                <li class="nav-item">
                                                    <a data-cta="${item.linkLabel}" data-at="${item.linkLabel}" data-nav="Menu" data-cta-type="link" class="nav-link" href="${header.news @ extension = 'html'}">${'kemin.news' @i18n}</a>
                                                </li>
                                            </sly>
                                            <sly data-sly-test="${header.blog}">
                                                <li class="nav-item">
                                                    <a data-cta="${item.linkLabel}" data-at="${item.linkLabel}" data-nav="Menu" data-cta-type="link" class="nav-link" href="${header.blog @ extension = 'html'}">${'kemin.blog' @i18n}</a>
                                                </li>
                                            </sly>
                                            <sly data-sly-test="${header.contactUs}">
                                                <li class="nav-item">
                                                    <a data-cta="${item.linkLabel}" data-at="${item.linkLabel}" data-nav="Menu" data-cta-type="link" class="nav-link" href="${header.contactUs @ extension = 'html'}">${'kemin.contact-us' @i18n}</a>
                                                </li>
                                            </sly>
                                        </ul>
                                    </sly>
                                </sly>
                                <!--/* start of a search for mobile*/-->
                                <div class="search-container">
                                    <div id="coveoGlobalSearchBarDivMobile" data-enable-history="true" class="headerSearchBoxMobile">
                                        <div id="coveoGlobalSearchBarSearchBoxMobile" class="CoveoSearchbox" data-enable-omnibox="true"
                                             data-enable-query-suggest-addon="true" data-query-suggest-character-threshold="1"
                                             data-placeholder="${'kemin.search.placeholdertext.enterkeywords' @i18n}.."></div>
                                    </div>
                                </div>
                                <div id="coveoGlobalSearchBarDivTopQueriesHeaderMobile" class="popular_searches">
                                    <h3>${'kemin.search.header.popularsearches' @i18n}</h3>
                                    <div id="coveoGlobalSearchBarDivTopQueriesMobile"></div>
                                </div>
                                <!--/* end of a search for mobile*/-->
                            </div>
                        </nav>

                    </div>

                </div>
            </div>
        </div>
        <!--/* start of a search for desktop*/-->
        <div class="container-fuild search_box">
            <div class="search_box_container">
                <div class="row">
                    <div class="container-kemin">
                        <div id="coveoGlobalSearchBarDiv" class="headerSearchBox" data-enable-history="true">
                            <script class="CoveoPipelineContext" type="text/context">
          {
          "locale": "${model.locale @ context='attribute'}",
          "region": "${model.region @ context='attribute'}"
        }
        </script>
                            <div class="CoveoAnalytics" data-search-hub="${model.searchHub}"></div>

                            <div id="coveoGlobalSearchBarSearchBox" class="CoveoSearchbox" data-enable-omnibox="true"
                                 data-enable-query-suggest-addon="true" data-add-search-button="false" data-query-suggest-character-threshold="1"
                                 data-placeholder="${'kemin.search.placeholdertext.enterkeywords' @i18n}..">
                            </div>
                            <button id="globalSearchbtn" class="btn btn-dark" onclick="Coveo.globalSearchbtn()">${'kemin.search.button.search' @i18n}</button>
                            <input type="hidden" id="coveoGlobalSearchBarLanguage" name="coveoGlobalSearchBarLanguage"
                                   value="${model.language}" />
                            <input type="hidden" id="coveoGlobalSearchBarLocale" name="coveoGlobalSearchBarLocale"
                                   value="${model.locale}" />
                            <input type="hidden" id="coveoGlobalSearchBarRegion" name="coveoGlobalSearchBarRegion"
                                   value="${model.region}" />
                            <input type="hidden" id="coveoGlobalSearchBarUrl" name="coveoGlobalSearchBarUrl"
                                   value="${model.searchPageUrl}" />
                            <input type="hidden" id="coveoGlobalSearchBarUrlPopularQueries" name="coveoGlobalSearchBarUrlPopularQueries"
                                   value="${model.popularQueries}" />
                        </div>
                    </div>
                </div>
                <div id="coveoGlobalSearchBarDivTopQueriesDiv" class="row popular_bg">
                    <div class="container-kemin">
                        <div id="coveoGlobalSearchBarDivTopQueriesHeader" class="popular_searches">
                            <h3>${'kemin.search.header.popularsearches' @i18n}</h3>
                            <div id="coveoGlobalSearchBarDivTopQueries"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/* end of a search for desktop*/-->
        <sly data-sly-call="${clientlib.js @ categories='coveo.coveo-global-searchbar'}"/>
</header>