<template data-sly-template.imageTemplate="${ @ item }">
  <a data-cta="${item.altText}" data-at="${item.altText}" data-nav="Image" data-cta-type="link" href="${properties.logoLink @extension='html'}" title="${'logo' @ i18n}" role="link">
    <img src="${item.fileReference}" alt="${item.altText}" role="img" />
  </a>
</template>