<div data-sly-use.listViewDocument="com.techcombank.core.models.ListViewDocumentModel"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test.hasContent="${listViewDocument.tabItems}">
    <sly data-sly-test="${hasContent}">
        <section class="container list-view-documents inheritance checkbox-info-table-component section__margin-medium"
                 data-viewmore-number="${listViewDocument.numberOfRecords}" data-filter-placeholder="${listViewDocument.filterPlaceholderLabel}">
            <div class="service-fee-container">
                <!-- filter reuse -->
                <div  class="select-checkbox-filter">
                    <h2>${listViewDocument.title}</h2>
                    <!-- START FILTER -->
                    <sly data-sly-test="${!listViewDocument.hideFilter}">
                        <div class="select-options">
                            <div class="select">
                                <img class="calendar-icon" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/calendar.svg"/>
                                <h6>${listViewDocument.yearColonLabel}</h6>
                                <span></span>
                                <img class="fa-chevron-down" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/chevron-bottom-icon.svg"/>
                            </div>
                            <div class="checkbox">
                                <div class="checkbox-list">
                                    <div class="type">
                                        <div class="year">
                                            <p>${listViewDocument.yearLabel}</p>
                                            <ul>
                                                <sly data-sly-list.tab="${listViewDocument.yearList}">
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" value="${tab}" />
                                                            <div>${tab}</div>
                                                        </label>
                                                    </li>
                                                </sly>
                                            </ul>
                                        </div>
                                        <div data-sly-test="${listViewDocument.quarterLabel}" class="quarter">
                                            <p>${listViewDocument.quarterLabel}</p>
                                            <ul>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" value="Q1" />
                                                        <div>Q1</div>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" value="Q2" />
                                                        <div>Q2</div>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" value="Q3" />
                                                        <div>Q3</div>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="checkbox" value="Q4" />
                                                        <div>Q4</div>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END FILTER -->
                        <div class="popup"></div>
                        <div class="popup-content">
                            <div class="title"></div>
                            <div class="content"></div>
                            <div class="btn">
                                <button>${listViewDocument.applyLabel}</button>
                            </div>
                        </div>
                    </sly>
                </div>
                <div class="tab-content">
                    <div class="menu tcb-tabs" data-tabs="${listViewDocument.tabs}">
                    </div>
                    <div class="list-items">
                        <sly data-sly-list.tab="${listViewDocument.tabItems}">
                            <div class="tab" style="display: ${tabList.first ? 'block':'none' @context='html'}">
                                <sly data-sly-list.itemLevel1 = "${tab.listViewDocumentItemsFirstLevel}">
                                    <div class="row">
                                        <div class="date">
                                            <span>${itemLevel1.formattedDate}</span>
                                        </div>
                                        <div class="content">
                                            <p>${itemLevel1.documentTitle}</p>
                                        </div>
                                        <div class="file-download">
                                            <sly data-sly-test="${!itemLevel1.listViewDocumentItemsSecondLevel}">
                                                <div class="item have-file-name">
                                                    <div class="file-name"></div>
                                                    <div class="btn" data-sly-test="${itemLevel1.icon || itemLevel1.label}">
                                                        <sly data-sly-test="${itemLevel1.typeOfOutput != 'seeMore'}">
                                                            <input type="hidden" data-tracking-click-event="linkClick" data-tracking-click-info-value="{'linkClick': '${itemLevel1.label}'}"
                                                               data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${itemLevel1.webInteractionType}'}}"/>
                                                            <a class="link"  data-file-type="${itemLevel1.typeOfOutput}" data-file-link="${itemLevel1.documentPath}" href="${itemLevel1.documentPath}">
                                                                <span>${itemLevel1.label}</span>
                                                                <picture>
                                                                    <source media="(max-width: 360px)" srcset="${itemLevel1.mobileIcon}"  />
                                                                    <source media="(max-width: 576px)" srcset="${itemLevel1.mobileIcon}" />
                                                                    <source media="(min-width: 1080px)" srcset="${itemLevel1.webIcon}" />
                                                                    <source media="(min-width: 1200px)" srcset="${itemLevel1.webIcon}" />
                                                                    <img src="${itemLevel1.icon}" alt="icon" />
                                                                </picture>
                                                            </a>
                                                        </sly>
                                                        <sly data-sly-test="${itemLevel1.typeOfOutput == 'seeMore'}">
                                                            <a class="link" data-file-type="${itemLevel1.typeOfOutput}" href="${itemLevel1.documentPath}"  data-tracking-click-event="linkClick" data-tracking-click-info-value="{'linkClick': '${itemLevel1.label}'}"
                                                            data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${itemLevel1.webInteractionType}'}}">
                                                                <span>${itemLevel1.label}</span>
                                                                <picture>
                                                                    <source media="(max-width: 360px)" srcset="${itemLevel1.mobileIcon}"  />
                                                                    <source media="(max-width: 576px)" srcset="${itemLevel1.mobileIcon}" />
                                                                    <source media="(min-width: 1080px)" srcset="${itemLevel1.webIcon}" />
                                                                    <source media="(min-width: 1200px)" srcset="${itemLevel1.webIcon}" />
                                                                    <img src="${itemLevel1.icon}" alt="icon" />
                                                                </picture>
                                                            </a>
                                                        </sly>
                                                    </div>
                                                </div>
                                            </sly>
                                            <sly data-sly-test="${itemLevel1.listViewDocumentItemsSecondLevel}">
                                                <sly data-sly-list="${itemLevel1.listViewDocumentItemsSecondLevel}">
                                                    <div class="item have-file-name">
                                                        <div class="file-name">${item.documentTitleChild}</div>
                                                        <div class="btn" data-sly-test="${item.icon || item.label}">
                                                            <sly data-sly-test="${item.typeOfOutput != 'seeMore'}">
                                                                <input type="hidden" data-tracking-click-event="linkClick" data-tracking-click-info-value="{'linkClick': '${item.label}'}"
                                                                   data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${item.webInteractionType}'}}"/>
                                                                <a class="link"  data-file-type="${item.typeOfOutput}" data-file-link="${item.url}" href="${item.url}">
                                                                    <span>${item.label}</span>
                                                                    <picture>
                                                                        <source media="(max-width: 360px)" srcset="${item.mobileIcon}"  />
                                                                        <source media="(max-width: 576px)" srcset="${item.mobileIcon}" />
                                                                        <source media="(min-width: 1080px)" srcset="${item.webIcon}" />
                                                                        <source media="(min-width: 1200px)" srcset="${item.webIcon}" />
                                                                        <img src="${item.icon}" alt="icon" />
                                                                    </picture>
                                                                </a>
                                                            </sly>
                                                            <sly data-sly-test="${item.typeOfOutput == 'seeMore'}">
                                                                <a class="link" data-file-type="${item.typeOfOutput}" href="${item.url}"  data-tracking-click-event="linkClick" data-tracking-click-info-value="{'linkClick': '${item.label}'}"
                                                                data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${item.webInteractionType}'}}">
                                                                    <span>${item.label}</span>
                                                                    <picture>
                                                                        <source media="(max-width: 360px)" srcset="${item.mobileIcon}"  />
                                                                        <source media="(max-width: 576px)" srcset="${item.mobileIcon}" />
                                                                        <source media="(min-width: 1080px)" srcset="${item.webIcon}" />
                                                                        <source media="(min-width: 1200px)" srcset="${item.webIcon}" />
                                                                        <img src="${item.icon}" alt="icon" />
                                                                    </picture>
                                                                </a>
                                                            </sly>
                                                        </div>
                                                    </div>
                                                </sly>
                                            </sly>
                                        </div>
                                    </div>
                                </sly>
                            </div>
                        </sly>
                    </div>
                    <div class="view-more" style="display: none">
                        <sly data-sly-resource="${'button' @ resourceType='techcombank/components/button', decorationTagName='div'}"></sly>
                    </div>
                </div>
                <div class="popup-download" style="display: none" data-default-title="Preview">
                    <div class="popup-content">
                        <div class="head">
                            <span class="title"></span>
                            <button class="close-btn">
                                <div class="button-label">
                                    <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/icon-close-red.svg"/>
                                </div>
                            </button>
                        </div>
                        <div class="loading">
                            ${listViewDocument.loadingPDF}
                        </div>
                        <div class="file-content"></div>
                        <div class="foot">
                            <a href="" target="_blank">
                                <span>${listViewDocument.download}</span>
                                <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/icon-pdf-download.svg"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </sly>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>
