<sly data-sly-use.data="com.kemin.redesign.core.models.experiencefragment.ExperienceFragment">
    <sly data-sly-test="${!data.fragmentPath}">
        <div data-sly-test="${(wcmmode.edit || wcmmode.preview)}"
             class="cq-dd-experiencefragment cq-placeholder"
             data-emptytext="${component.properties.jcr:title}"></div>
    </sly>
    <sly data-sly-test="${data.fragmentPath}" data-sly-resource="${@path=data.fragmentPath, selectors='content', wcmmode='disabled'}"></sly>
</sly>