
<sly data-sly-use.list="com.adobe.cq.wcm.core.components.models.List"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"></sly>
<sly data-sly-test.if="${list.type == 'pages'}"></sly>
<sly data-sly-test.elseif="${list.type == 'assets'}"></sly>

<!--Note: For Assets the same structure have to repeated for Fixed List/child or Multifield -->
<section data-sly-test="${list.type == 'assets'}">
   <h2 data-sly-test="${properties.title}">${properties.title}</h2>
<div class="kemin-list-container wrap" >
   <sly data-sly-list.item="${if? list.listItems : list.assetItems}">
      <div class="col"
         data-sly-test="${list.displayAs=='assetDownload'}">
         <section class="list-preview-root">
            <div class="kemin-list">
               <img data-sly-test="${item.assetPreviewImage}"
                  src="${item.assetPreviewImage}" />
            </div>
            <div class="list-download-container">
               <div class="image-hexa-container">
                  <img src="/content/dam/kemin-redesign/hexagoncorner.svg" />
                  <div class="list-centered-title">${item.title}</div>
               </div>
               <div class="kemin-list-bcg">
                  <a data-cta="${'Download' @i18n}" data-at="${'Download' @i18n}" data-nav="List" data-cta-type="link" 
                     href="${item.URL}" download>${'Download' @i18n} </a>
               </div>
            </div>
         </section>
      </div>
   </sly>
</div>
</section>
<!--Note: For Pages the same structure have to repeated for Fixed List/child or Multifield -->
<div class="kemin-listitems-container" data-sly-test="${list.type == 'pages'}">
   <div clss="links-items" data-sly-test="${list.displayAs=='linkItems'}">
      <h2 data-sly-test="${properties.title}">${properties.title}</h2>
      <ul class="kemin-link-listitems" data-sly-list.item="${list.listItems}">
         <li data-sly-test="${list.displayAs=='linkItems'}"><a data-cta="${item.title}" data-at="${item.title}" data-nav="List" data-cta-type="link" 
               href="${item.URL}" target="_self">${item.title} </a></li>
      </ul>
   </div>
   <div class="new-items" data-sly-test="${list.displayAs=='news'}">
      <h2 data-sly-test="${properties.title}">${properties.title}</h2>
      <ul class="kemin-news-items" data-sly-list.item="${list.listItems}">
         <li>
            <a data-cta="${item.title}" data-at="${item.title}" data-nav="List" data-cta-type="link" href="${item.URL}">${item.title} </a>
         </li>
      </ul>
   </div>
</div>
<!-- List for footer only -->
<div id="kemin-list-footer" data-sly-test="${list.displayAs=='footer'}">
   <div class="footer-list-desktop d-sm-none d-xl-block d-lg-block
      d-md-block">
      <h2 class="footer-list-title" data-sly-test="${properties.title}">${properties.title}</h2>
      <ul class="${properties.title ? 'kemin-footer-items' :
         'kemin-footerheading-links'}"
         data-sly-list.item="${list.listItems}">
         <li>
            <a data-cta="${item.title}" data-at="${item.title}" data-nav="List" data-cta-type="link" href="${item.URL}">${item.title} </a>
         </li>
      </ul>
   </div>

   <div class="footer-list-mobile d-lg-none d-xl-none d-sm-block d-md-none">
      <!-- Mobile only when Title is present -->
ç      <div class="footer-mobile-notitle"
         data-sly-test="${!properties.title}">
         <ul class="kemin-footerheading-links"
            data-sly-list.item="${list.listItems}">
            <li>
               <a data-cta="${item.title}" data-at="${item.title}" data-nav="List" data-cta-type="link" href="${item.URL}">${item.title} </a>
            </li>
         </ul>
      </div>

      <div data-sly-test="${properties.title}" class="accordion
         accordion-flush">
         <div class="accordion-item">
            <h2 class="accordion-header" id="footer-${properties.footerId}">
               <div class="accordion-button collapsed" type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#footer-body-${properties.footerId}">
                  ${properties.title}
               </div>
            </h2>
            <div id="footer-body-${properties.footerId}"
               class="accordion-collapse collapse"
               aria-labelledby="footer-${properties.footerId}">
               <div class="accordion-body">
                  <ul class="kemin-footer-items-mobile"
                     data-sly-list.item="${list.listItems}">
                     <li>
                        <a data-cta="${item.title}" data-at="${item.title}" data-nav="List" data-cta-type="link" href="${item.URL}">${item.title} </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>

      </div>
   </div>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=list.listItems.size == 0, classAppend='cmp-list'}"></sly>