<div data-sly-use.model="com.techcombank.core.models.ArticleCardCrossModel"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-test.hasContent="${model.articleCardCrossItemList}">
    <sly data-sly-test="${hasContent}">
        <div class="card-center-listcard ${model.displayVariation} card-${model.theme}-theme display-image-in-mobile-view-${model.displayImageInMobileView} ${model.theme == 'grey' ? 'zoom-out-img' : ''}">
            <sly data-sly-repeat="${model.articleCardCrossItemList}">
                <a href="${item.ctaLink}" target="${item.openInNewTab ? '_blank' : '_self'}"
                    rel="${item.noFollow ? 'nofollow' : ''}" class="card-center-carditem"
                    data-tracking-click-event="linkClick"
                    data-tracking-click-info-value="{'linkClick' : '${item.cardTitle}'}"
                    data-tracking-web-interaction-value="{'webInteractions': {'name': 'Article Card Cross','type': '${item.webInteractionType}'}}"
                    data-sly-test="${item.ctaLink}">
                    <article>
                        <div class="cardcenter-carditem-header">
                            <div class="cardcenter-carditem-headerimg">
                                <span>
                                    <picture data-sly-test="${item.webImagePath}">
                                        <source media="(max-width: 360px)"
                                            srcset="${item.mobileImagePath}"/>
                                        <source media="(max-width: 576px)"
                                            srcset="${item.mobileImagePath}"/>
                                        <source media="(min-width: 1080px)"
                                            srcset="${item.webImagePath}"/>
                                        <source media="(min-width: 1200px)"
                                            srcset="${item.webImagePath}"/>
                                        <img alt="${item.imageAlt}"
                                            src="${item.webImagePath}">
                                    </picture>
                                </span>
                            </div>
                        </div>
                        <div class="cardcenter-carditem-content">
                            <h3>${item.cardTitle}</h3>
                            <div>
                                ${item.cardDescription @ context='html'}
                            </div>
                        </div>
                    </article>
                </a>
                <div class="card-center-carditem" data-sly-test="${!item.ctaLink}">
                    <article>
                        <div class="cardcenter-carditem-header">
                            <div class="cardcenter-carditem-headerimg">
                                <span>
                                    <picture data-sly-test="${item.webImagePath}">
                                        <source media="(max-width: 360px)"
                                            srcset="${item.mobileImagePath}"/>
                                        <source media="(max-width: 576px)"
                                            srcset="${item.mobileImagePath}"/>
                                        <source media="(min-width: 1080px)"
                                            srcset="${item.webImagePath}"/>
                                        <source media="(min-width: 1200px)"
                                            srcset="${item.webImagePath}"/>
                                        <img alt="${item.imageAlt}"
                                            src="${item.webImagePath}">
                                    </picture>
                                </span>
                            </div>
                        </div>
                        <div class="cardcenter-carditem-content">
                            <h3>${item.cardTitle}</h3>
                            <div>
                                ${item.cardDescription @ context='html'}
                            </div>
                        </div>
                    </article>
                </div>
            </sly>
        </div>
    </sly>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>