
//== Font

$font-family:           SF Pro Display, SF Pro Display Italic, SF Pro Text, Helvetica Neue, Helvetica, Arial, sans-serif;
$font-size:             16px;
$font-height:           1.5;

//== Color

// Normal mode
$color-foreground:      #202020;
$color-background:      #ECECEC;
$color-link:            #000000;
$color-homepage-background: #CCCCCC;
$color-inactive: #a2a2a2;

// Dark mode
$color-foreground-dark: invert($color-foreground);
$color-background-dark: invert($color-background);
$color-link-dark:       invert($color-link);
$color-homepage-background-dark : invert($color-homepage-background);
