<sly data-sly-use.title="com.techcombank.core.models.ExtendedTitle" data-sly-use.template="core/wcm/components/commons/v1/templates.html" data-sly-test.hasContent="${title.text}">
    <sly data-sly-test="${hasContent}">
        <section class="title-component container">
            <div
                class="title-cmp align-${title.alignment ? title.alignment : '' @ context ='html'} ${!wcmmode.edit ? 'title-cmp--row' : ''} tcb-header-display ${title.separatorStyle ? 'title-separator' : 'title-cmp--row'}"
                style="color:${title.fontColorStyle @ context='styleToken'};"
            >
                <h2 id="${title.id ? title.id : '' }" class="tcb-title ${title.id ? 'scroll-margin-top-header' : '' }" data-sly-element="${title.type ? title.type : ''}">
                    ${title.text  @ context ='html'}
                </h2>
                <div class="${!wcmmode.edit ? 'title-cmp--parsys' : ''}">
                    <sly data-sly-test="${title.separatorStyle}">
                        <sly data-sly-resource="${ @path='title-title.id', resourceType='foundation/components/parsys'}"> </sly>
                    </sly>
                </div>
            </div>
        </section>
    </sly>
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>
