<sly data-sly-use.homePageBlockModel="com.techcombank.core.models.HomePageBlockModel"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test.hasContent="${!wcmmode.edit || homePageBlockModel.image}"/>
<sly data-sly-test="${hasContent}">
    <section class="home-page ${!wcmmode.edit ? 'full-height' : ''}"
             style="background-image: url(${homePageBlockModel.image @context = 'styleString'});">
        <div class="home-page-list">
            <div class="home-page-left__wrap"
                 style="background-color: ${homePageBlockModel.bgColor @ context='styleString'}">
                <div class="home-page-left__content">
                    <div class="home-page-left__top-container">
                        <h1>${homePageBlockModel.title}</h1>
                        <div class="home-page-left__contact">
                            <sly data-sly-list.navigationList="${homePageBlockModel.navigation}">
                                <a rel="${navigationList.nofollow ? 'nofollow' : ''}" class="home-page-left__item"
                                   href="${navigationList.homeLink }"
                                   target="${navigationList.openInNewTabNavigation ? '_blank' : '_self'}">
                                    <picture>
                                        <source media="(max-width: 360px)"
                                                srcset="${navigationList.iconMobileImagePath}"/>
                                        <source media="(max-width: 576px)"
                                                srcset="${navigationList.iconMobileImagePath}"/>
                                        <source media="(min-width: 1080px)"
                                                srcset="${navigationList.iconWebImagePath}"/>
                                        <source media="(min-width: 1200px)"
                                                srcset="${navigationList.iconWebImagePath}"/>
                                        <img class="home-page-left__item--img" src="${navigationList.iconWebImagePath}"
                                             alt="${navigationList.text}"/>
                                    </picture>
                                    <div class="home-page-left__menu-item">
                                        <div class="home-page-left__text" data-tracking-click-event="linkClick"
                                             data-tracking-web-interaction-value="${navigationList.interaction}"
                                             data-tracking-click-info-value="{'linkClick':'${navigationList.text}'}">
                                            ${navigationList.text}
                                        </div>
                                    </div>
                                </a>
                            </sly>
                        </div>
                    </div>
                    <div class="home-page-left__bottom-container">
                        <div class="home-page-left__contact--block">
                            <div class="home-page-left__top-panel"></div>
                            <div class="">
                                <a rel="${homePageBlockModel.nofollowContact ? 'nofollow' : ''}" class=""
                                   href="${homePageBlockModel.linkUrl}"
                                   target="${homePageBlockModel.openInNewTabContact ? '_blank' : '_self'}">
                                    <div class="home-page-left__menu-item" data-tracking-click-event="linkClick"
                                         data-tracking-web-interaction-value="${homePageBlockModel.linkInteraction}"
                                         data-tracking-click-info-value="{'linkClick':'${homePageBlockModel.label}'}">
                                        <div class="home-page-left__text"> ${homePageBlockModel.label}</div>
                                    </div>
                                    <sly data-sly-list.rightList="${homePageBlockModel.contact}">
                                        <div class="home-page-left__bottom--content">
                                            <a href="tel:${rightList.number}" data-tracking-click-event="linkClick"
                                               data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': 'exit'}}"
                                               data-tracking-click-info-value="{'linkClick':'tel:${rightList.number}'}">${rightList.contactText}:
                                                <span> ${rightList.number}</span></a>
                                        </div>
                                    </sly>
                                </a>
                            </div>
                        </div>
                        <div class="home-page-left__contact--block">
                            <div class="home-page-left__top-panel"></div>
                            <a rel="${homePageBlockModel.nofollow ? 'nofollow' : ''}" class="home-page-left__link"
                               href="${homePageBlockModel.buttonUrl}"
                               target="${homePageBlockModel.openInNewTab ? '_blank' : '_self'}">
                                <div class="home-page-left__menu-item" data-tracking-click-event="linkClick"
                                     data-tracking-web-interaction-value="${homePageBlockModel.buttonInteraction}"
                                     data-tracking-click-info-value="{'linkClick':'${homePageBlockModel.buttonText}'}">
                                    <div class="home-page-left__text">${homePageBlockModel.buttonText}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-page-right__wrap">
                <picture>
                    <source media="(min-width:768px)" srcset="${homePageBlockModel.imageMobilePath}"/>
                    <source media="(min-width:280px)" srcset="${homePageBlockModel.imageMobilePath}"/>
                    <source media="(max-width: 360px)" srcset="${homePageBlockModel.imageMobilePath}"/>
                    <source media="(max-width: 576px)" srcset="${homePageBlockModel.imageMobilePath}"/>
                    <source media="(min-width: 1080px)" srcset="${homePageBlockModel.webImagePath}"/>
                    <source media="(min-width: 1200px)" srcset="${homePageBlockModel.webImagePath}"/>
                    <img alt="" src="${homePageBlockModel.webImagePath}" decoding="async" data-nimg="fill"
                         class="home-page-right__img home-page-right__img--mobile"/>
                </picture>
            </div>
        </div>
    </section>
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>
