<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.filterPanel="com.techcombank.core.models.FilterPanel">
    <div class="filter-panel">
        <div class="filter-panel__content">
            <div class="content-wrapper filter-panel__container">
                <h6 class="filter-panel__title">${filterPanel.categoryLabel}</h6>
                <div class="filter-panel__items">
                    <div class="filter__item">
                        <button type="button" class="filter-panel__button filter-selected" data-id="all">
                            ${filterPanel.viewAll}
                        </button>
                    </div>
                    <sly data-sly-list="${filterPanel.tags}">
                        <div class="filter__item">
                            <button type="button" class="filter-panel__button" data-id="${item}">
                                ${item}
                            </button>
                        </div>
                    </sly>
                </div>
            </div>
        </div>
        <sly data-sly-resource="${ @path='filterpanelparsys', resourceType='foundation/components/parsys'}"></sly>
    </div>
</sly>
