<sly data-sly-resource="${'open-modal-button' @ resourceType='/apps/dopweb/components/button', decorationTagName='div',
         cssClassName='open-modal'}"></sly>

<div id="${properties.id}" class="cmp-modal cmp-md-effect-3" data-width="${properties.modalWidth}">
    <div class="modal-content modal-card-4">
        <div class="modal-container">
            <sly data-sly-resource="${'container' @ resourceType='/apps/dopweb/components/container', decoration=true}"/>
        </div>
    </div>
</div>
<div class="cmp-md-overlay"></div>