<sly
     data-sly-use.experienceFragmentModel="com.kemin.redesign.core.models.experiencefragment.ExperienceFragment"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test.showStickyComponent="${experienceFragmentModel.fragmentPath || experienceFragmentModel.chatPath}">

</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!showStickyComponent, classAppend='cmp-title'}"></sly>
<sly data-sly-test="${(showStickyComponent && pageProperties.stickyEmailEnabled)||(showStickyComponent && experienceFragmentModel.templateView)}">
   <div class="sticky-parent-container grey-background">
      <div class="sticky-email">
         <div class="d-flex justify-content-between">
            <div class="p-2 sticky-left-section">
               <div>
                  <span class="icon-chevron-double-right"></span>
                  <span class="contact-us-text-desktop">${"kemin.work-together" @i18n}</span>
                  <span class="contact-us-text-mobile">${"kemin.contact-us" @i18n}</span>
               </div>
            </div>
            <div class="p-2 sticky-right-section">
               <div class="d-flex">
                  <sly data-sly-test="${experienceFragmentModel.fragmentPath}">
                     <div class="p-2 sticky-section collapsed email-section">
                        <div class="sticky-section-option">
                           <span class="icon-email sticky-option-icon"></span>
                           <span class="sticky-option-text">${'kemin.email' @i18n}</span>
                        </div>
                     </div>
                  </sly>
                  <sly data-sly-test="${experienceFragmentModel.chatPath}">
                     <div class="p-2 sticky-section collapsed chat-section">
                        <div class="sticky-section-option">
                           <span class="icon-chat sticky-option-icon"></span>
                           <span class="sticky-option-text">${'kemin.chat' @i18n}</span>
                        </div>
                     </div>
                  </sly>
                  <div class="p-2 cross-btn">
                     <span class="icon-close" style="display:none"></span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="sticky-closed-section">
         <div class="contact-us-closed-section" style="display:none">
            <div class="border-mimic">
               <div class="closed-section-container">
                  <span class="icon-chevron-double-left"></span>
                  <span class="closed-section-text">${'kemin.contact' @i18n}</span>
               </div>
            </div>
         </div>
      </div>
      <input type="hidden" id="stickyWcmMode" name="stickyWcmMode" value="${wcmmode.edit @ context='html'}" />
      <sly data-sly-test.localizedFragmentVariationPath="${experienceFragmentModel.fragmentPath}">
         <div class="contact-us-form" data-sly-resource="${ @path=localizedFragmentVariationPath, wcmmode='disabled'}" style="display:none">
         </div>
      </sly>
   </div>
</sly>