<div data-sly-use.tableCompare="com.techcombank.core.models.TableCompareModel"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-test.hasContent="${tableCompare.tableCompareColumnHeaderList}">
    <sly data-sly-test="${hasContent}">
      <section class="container table-compare-component">
        <div class="table-compare-container">
          <div class="table-compare-table">
            <div class="table-compare-content-col">
              <div class="table-compare-item-col first-col header">
                <div class="table-compare-item-row first-row" row-index="-1">
                  <span>${tableCompare.columnHeaderTitle @ context='html'}</span>
                </div>
                <div class="table-compare-item-row first-col-row" data-sly-repeat=${tableCompare.tableCompareColumnHeaderList} row-index="${itemList.index}">
                  <p>${item.columnHeader @ context='html'}</p>
                </div>
              </div>
              <div class="table-compare-item-col" data-sly-repeat.card="${tableCompare.tableCompareCardList}">
                <div class="table-compare-item-row first-row header" row-index="-1">
                  <picture>
                    <source media="(max-width: 360px)"
                       srcset="${card.mobileCardTitleImagePath}"/>
                    <source media="(max-width: 576px)"
                       srcset="${card.mobileCardTitleImagePath}"/>
                    <source media="(min-width: 1080px)"
                       srcset="${card.webCardTitleImagePath}"/>
                    <source media="(min-width: 1200px)"
                       srcset="${card.webCardTitleImagePath}"/>
                    <img alt="${card.altText}"
                       src="${card.webCardTitleImagePath}">
                  </picture>
                  <span class="first-row-heading-text">${card.cardTitle @ context='html'}</span>
                </div>
                <sly data-sly-list.row="${card.tableCompareRowList}">
                  <div class="item-background" style="background-color:${card.cardBackgroundColour @context='styleString'};">
                    <div class="table-compare-item-row" row-index="${rowList.index}">                       
                      <p class="moved-title mobile-left"></p>
                      ${row.rowValue @ context='html'}
                    </div>
                  </div>
                </sly>
              </div>
            </div>
          </div>
        </div>
      </section>
    </sly>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>