<sly
  data-sly-use.heroModel="com.kemin.redesign.core.models.hero.Hero"
  data-sly-use.template="core/wcm/components/commons/v1/templates.html"
  data-sly-test.heroImage="${heroModel.fileReference}">
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!heroImage, classAppend='cmp-title'}"></sly>
<sly data-sly-test="${heroImage}">
      <div class="container" style="${wcmmode.edit?'float:none':'' @ context='styleString'}">
         <div class="hero-container">
            <div class="hero-image">
               <picture>
                  <source media="(min-width: 993px)" srcset="${heroModel.fileReference @ context='uri'}">
                  <source media="(min-width: 768px) and (max-width: 992px)" srcset="${heroModel.fileReference @ context='uri'}">
                  <source media="(max-width: 767px)" srcset="${heroModel.fileReference @ context='uri'}">
                  <sly data-sly-resource="${heroModel.fileReference @ resourceType='kemin-redesign/components/dynamicimage', selectors='presets.heroComponent'}" ></sly>
               </picture>
            </div>
            <div class="hero-text">
               <h1 class="h1-home hero-title">${heroModel.title}</h1>
               <sly data-sly-test="${heroModel.buttonLink && heroModel.buttonName}">
                  <a  data-cta="${heroModel.buttonName}" data-at="${heroModel.buttonName}" data-nav="Hero" data-cta-type="link" href="${heroModel.buttonLink @ extension='html'}">
                     <button class="btn btn-primary"><span>${heroModel.buttonName}</span></button>
                  </a>
               </sly>
            </div>
         </div>
      </div>
      <input type="hidden" id="heroEditMode" name="heroEditMode" value="${wcmmode.edit @ context='html'}" />
</sly>