<!--/*
    Copyright 2015 Adobe Systems Incorporated
  
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
  
        http://www.apache.org/licenses/LICENSE-2.0
  
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/-->

<div data-cmp-is="coveoglobalsearchbar"
  data-sly-use.model="com.kemin.redesign.core.models.coveo.CoveoGlobalSearchBarModel">
  <link rel="stylesheet" href="https://static.cloud.coveo.com/searchui/v2.10089/2/css/CoveoFullSearch.min.css"
    integrity="sha512-9GgVFZ4MQXFlO6SGY8+DxZAxOzQjcklUBUCfwvJAjAeNadVEzOSMzvTHSw4JbBXbVoqn6ck7jUKjV1WaUlKtIA=="
    crossorigin="anonymous" />
  <script class="coveo-script" src="https://static.cloud.coveo.com/searchui/v2.10089/2/js/CoveoJsSearch.Lazy.min.js"
    integrity="sha512-u2+G7uHGzcRXnJ6isFtRmMLdn2rsq52bZwU/pVKhxzGbkq8fW8HKywclJhDFzzsFBGQB5CGd5zg38NHZsPTf9Q=="
    crossorigin="anonymous"></script>
  <script src="https://static.cloud.coveo.com/searchui/v2.10089/2/js/templates/templates.js"
    integrity="sha512-uu361iGkzq8eo/FYkLHLnDsDwaON4Zp43MA3FOVbCjnAlJLR8vug8xsKt0WVqS2VIPfTmi9A+PD4ltalF/Jb8w=="
    crossorigin="anonymous"></script>
  <script defer type="text/javascript"
    src="https://static.cloud.coveo.com/searchui/v2.10089/2/js/cultures/${model.language @ context='attribute'}.js"></script>

  <sly data-sly-set.clientlibPath="/apps/kemin-redesign/components/coveo-global-searchbar/clientlib"></sly>
  <link rel="stylesheet" href="${clientlibPath}/css/coveo-global-searchbar.css" />
  <div class="search_box_container">
    <div class="row">
      <div class="container-kemin">
        <div id="coveoGlobalSearchBarDiv" data-enable-history="true">
          <script class="CoveoPipelineContext" type="text/context">
          {
          "locale": "${model.locale @ context='attribute'}",
          "region": "${model.region @ context='attribute'}"
        }
        </script>
          <div class="CoveoAnalytics" data-search-hub="${model.searchHub}"></div>
          <div id="coveoGlobalSearchBarSearchBox" class="CoveoSearchbox" data-enable-omnibox="true"
            data-enable-query-suggest-addon="true" data-query-suggest-character-threshold="1"
            data-placeholder="${'kemin.search.placeholdertext.enterkeywords' @i18n}.."></div>
          <input type="hidden" id="coveoGlobalSearchBarLanguage" name="coveoGlobalSearchBarLanguage"
            value="${model.language}" />
          <input type="hidden" id="coveoGlobalSearchBarLocale" name="coveoGlobalSearchBarLocale"
            value="${model.locale}" />
          <input type="hidden" id="coveoGlobalSearchBarRegion" name="coveoGlobalSearchBarRegion"
            value="${model.region}" />
          <input type="hidden" id="coveoGlobalSearchBarUrl" name="coveoGlobalSearchBarUrl"
            value="${model.searchPageUrl}" />
          <input type="hidden" id="coveoGlobalSearchBarUrlPopularQueries" name="coveoGlobalSearchBarUrlPopularQueries"
            value="${properties.popularQueries}" />
        </div>
      </div>
    </div>
    <div id="coveoGlobalSearchBarDivTopQueriesDiv" class="row popular_bg"
      data-sly-test="${properties.popularQueries == 'yes'}">
      <div class="container-kemin">
        <div id="coveoGlobalSearchBarDivTopQueriesHeader" class="popular_searches">
          <h3>${'kemin.search.header.popularsearches' @i18n}</h3>
          <div id="coveoGlobalSearchBarDivTopQueries"></div>
        </div>
      </div>
    </div>
  </div>

  <script src="${clientlibPath}/js/coveo-global-searchbar.js"></script>