<template data-sly-template.content=""> 

<div data-sly-resource="${'hero-image' @ resourceType='/apps/aem-bootcamp/components/general/hero-image'}"></div>

<div data-sly-resource="${'primary' @resourceType='wcm/foundation/components/parsys'}" ></div>
<div data-sly-resource="${'secondary' @resourceType='wcm/foundation/components/parsys'}" ></div>

</template> 