<sly
    data-sly-use.accordionModel="com.kemin.redesign.core.models.accordion.Accordion"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-test.accordionAuthored="${accordionModel.accordionItems.size!=0}">
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!accordionAuthored, classAppend='cmp-title'}"></sly>
<sly data-sly-test="${accordionAuthored}">
    <div class="accordion-container">
        <div class="accordion-title">${accordionModel.title}</div>
        <div class="accordion" id="${accordionModel.id}">
            <sly data-sly-repeat="${accordionModel.accordionItems}">
                <sly data-sly-test.isFirstItem="${itemList.index==0 || wcmmode.edit}">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="${accordionModel.id}-heading-1">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#${accordionModel.id}-collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                <p>${item.heading}</p>
                            </button>
                        </h2>
                        <div id="${accordionModel.id}-collapse-1" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#${accordionModel.id}">
                            <div class="accordion-body">
                                <sly data-sly-resource="${item.id @ resourceType = 'wcm/foundation/components/parsys'}"></sly>
                            </div>
                        </div>
                    </div>
                </sly>
                <sly data-sly-test="${!isFirstItem}">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="${'{0}-heading-{1}' @format=[accordionModel.id,itemList.count]}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="${'#{0}-collapse-{1}' @format=[accordionModel.id,itemList.count]}" aria-expanded="true" aria-controls="${'collapse-{0}' @format=itemList.count}">
                                <p>${item.heading}</p>
                            </button>
                        </h2>
                        <div id="${'{0}-collapse-{1}' @format=[accordionModel.id,itemList.count]}" class="accordion-collapse collapse" aria-labelledby="${'heading-{0}' @format=itemList.count}" data-bs-parent="#${accordionModel.id}">
                            <div class="accordion-body">
                                <sly data-sly-resource="${item.id @ resourceType = 'wcm/foundation/components/parsys'}"></sly>
                            </div>
                        </div>
                    </div>
                </sly>
            </sly>
        </div>
    </div>
</sly>