<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2019 Adobe
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<sly data-sly-use.button="com.adobe.cq.wcm.core.components.models.Button" />
<sly data-sly-use.model="com.dish.dopweb.core.models.SVGModel" />

<!--/* If in preview mode and component has authored */-->
<sly
    data-sly-test.myvar="${button.text || (properties.iconUrl && properties.iconUrl != '' && properties.iconPosition && properties.iconPosition != 'noIcon')}">
    <button data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
        data-sly-use.iconTemplate="icon.html" data-sly-element="${'a'}"
        data-validate-hcaptcha="${properties.validatehCaptcha}" data-callback="onSubmit"
        data-sitekey="${properties.siteKey}" data-size="invisible" type="${button.link ? '' : 'button'}"
        id="${properties.isSticky ? 'stickybutton' : component.id}"
        class="h-captcha cmp-button desktopBg ${properties.buttonNonclickable} ${properties.disableAfterClick}"
        style="width:calc(0.0625rem * ${properties.buttonDesktopWidth @ context='styleString'}); margin-left : ${properties.buttonDesktopMargin @ context='styleToken'}px; margin-right : ${properties.buttonDesktopMargin @ context='styleToken'}px;"
        href="${button.link}" target="${properties.newWindow ? '_blank' : '_self'}"
        aria-label="${button.accessibilityLabel}" data-cmp-clickable="${button.data ? true : false}"
        data-cmp-data-layer="${button.data.json}">
        <sly data-sly-call="${iconTemplate.icon @ icon=button.icon}"></sly>
        <span data-sly-test="${properties.iconPosition == 'iconLeft'}" class="cmp-button__left">
            ${model.svgContent @ context='unsafe'}
        </span>
        <span data-sly-test="${button.text}" class="cmp-button__text">${button.text}</span>
        <span data-sly-test="${properties.iconPosition == 'iconRight'}" class="cmp-button__right">
            ${model.svgContent @ context='unsafe'}
        </span>
    </button>

    <button data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
        data-sly-use.iconTemplate="icon.html" data-sly-element="${'a'}"
        data-validate-hcaptcha="${properties.validatehCaptcha}" data-callback="onSubmit"
        data-sitekey="${properties.siteKey}" data-size="invisible" type="${button.link ? '' : 'button'}"
        id="${properties.isSticky ? 'stickybutton' : component.id}"
        class="h-captcha cmp-button tabletBg ${properties.buttonNonclickable} ${properties.disableAfterClick}"
        style="width:calc(0.0625rem * ${properties.buttonTabletWidth @ context='styleString'}); margin-left : ${properties.buttonTabletMargin @ context='styleToken'}px; margin-right : ${properties.buttonTabletMargin @ context='styleToken'}px;"
        href="${button.link}" target="${properties.newWindow ? '_blank' : '_self'}"
        aria-label="${button.accessibilityLabel}" data-cmp-clickable="${button.data ? true : false}"
        data-cmp-data-layer="${button.data.json}">
        <sly data-sly-call="${iconTemplate.icon @ icon=button.icon}"></sly>
        <span data-sly-test="${properties.iconPosition == 'iconLeft'}" class="cmp-button__left">
            ${model.svgContent @ context='unsafe'}
        </span>
        <span data-sly-test="${button.text}" class="cmp-button__text">${button.text}</span>
        <span data-sly-test="${properties.iconPosition == 'iconRight'}" class="cmp-button__right">
            ${model.svgContent @ context='unsafe'}
        </span>
    </button>

    <button data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
        data-sly-use.iconTemplate="icon.html" data-sly-element="${'a'}"
        data-validate-hcaptcha="${properties.validatehCaptcha}" data-callback="onSubmit"
        data-sitekey="${properties.siteKey}" data-size="invisible" type="${button.link ? '' : 'button'}"
        id="${properties.isSticky ? 'stickybutton' : component.id}"
        class="h-captcha cmp-button phoneBg ${properties.buttonNonclickable} ${properties.disableAfterClick}"
        style="width:calc(0.0625rem * ${properties.buttonMobileWidth @ context='styleString'}); margin-left : ${properties.buttonMobileMargin @ context='styleToken'}px; margin-right : ${properties.buttonMobileMargin @ context='styleToken'}px;"
        href="${button.link}" target="${properties.newWindow ? '_blank' : '_self'}"
        aria-label="${button.accessibilityLabel}" data-cmp-clickable="${button.data ? true : false}"
        data-cmp-data-layer="${button.data.json}">
        <sly data-sly-call="${iconTemplate.icon @ icon=button.icon}"></sly>
        <span data-sly-test="${properties.iconPosition == 'iconLeft'}" class="cmp-button__left">
            ${model.svgContent @ context='unsafe'}
        </span>
        <span data-sly-test="${button.text}" class="cmp-button__text">${button.text}</span>
        <span data-sly-test="${properties.iconPosition == 'iconRight'}" class="cmp-button__right">
            ${model.svgContent @ context='unsafe'}
        </span>
    </button>

    <input data-sly-test="${properties.link}" id="redirect" class="redirect" name="redirect" type="hidden"
        value="${button.link}">
</sly>

<!--/* If in edit mode and component has not authored */-->
<div data-sly-test="${!button.text && ((!properties.iconPosition || properties.iconPosition == 'noIcon') || (!properties.iconUrl || properties.iconUrl == '' )) && wcmmode.edit}"
    class="cq-placeholder cmp-button">
    <span data-sly-test="${properties.iconPosition == 'iconLeft'}" class="cmp-button__left">
        ${model.svgContent @ context='unsafe'}
    </span>
    <span data-sly-test="${button.text}" class="cmp-button__text">${button.text}</span>
    <span data-sly-test="${properties.iconPosition == 'iconRight'}" class="cmp-button__right">
        ${model.svgContent @ context='unsafe'}
    </span>
</div>