<sly data-sly-test.hcaptcha="${properties.validatehCaptcha}">
    <sly data-sly-include="button-hcaptcha.html" />
</sly>
<sly data-sly-test="${!hcaptcha}">
    <sly data-sly-include="button-default.html" />
</sly>