<!--/*
    Copyright 2015 Adobe Systems Incorporated
  
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
  
        http://www.apache.org/licenses/LICENSE-2.0
  
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/-->

<div data-cmp-is="coveosearch" data-sly-use.model="com.kemin.redesign.core.models.coveo.CoveoSearchModel">
  <link rel="stylesheet" href="https://static.cloud.coveo.com/searchui/v2.10089/2/css/CoveoFullSearch.min.css"
    integrity="sha512-9GgVFZ4MQXFlO6SGY8+DxZAxOzQjcklUBUCfwvJAjAeNadVEzOSMzvTHSw4JbBXbVoqn6ck7jUKjV1WaUlKtIA=="
    crossorigin="anonymous" />
  <script class="coveo-script" src="https://static.cloud.coveo.com/searchui/v2.10089/2/js/CoveoJsSearch.Lazy.min.js"
    integrity="sha512-u2+G7uHGzcRXnJ6isFtRmMLdn2rsq52bZwU/pVKhxzGbkq8fW8HKywclJhDFzzsFBGQB5CGd5zg38NHZsPTf9Q=="
    crossorigin="anonymous"></script>
  <script src="https://static.cloud.coveo.com/searchui/v2.10089/2/js/templates/templates.js"
    integrity="sha512-uu361iGkzq8eo/FYkLHLnDsDwaON4Zp43MA3FOVbCjnAlJLR8vug8xsKt0WVqS2VIPfTmi9A+PD4ltalF/Jb8w=="
    crossorigin="anonymous"></script>
  <script defer type="text/javascript"
    src="https://static.cloud.coveo.com/searchui/v2.10089/2/js/cultures/${model.language @ context='attribute'}.js"></script>
  
  <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
    data-sly-call="${clientlib.css @ categories='coveo.coveo-search'}"/>
  

  <input type="hidden" id="coveoSearchLanguage" name="coveoSearchLanguage" value="${model.language}" />
  <input type="hidden" id="coveoSearchRegion" name="coveoSearchRegion" value="${model.region}" />
  <input type="hidden" id="coveoSearchLocale" name="coveoSearchLocale" value="${model.locale}" />
  <input type="hidden" id="coveoSearchRelatedQueries" name="coveoSearchRelatedQueries"
    value="${properties.relatedQueries}" />

  <div id="coveoSearchDiv" class="CoveoSearchInterface" data-enable-history="true" data-responsive-mode="large"
    data-responsive-medium-breakpoint="750">
    <script class="CoveoPipelineContext" type="text/context">
    	{
			"locale": "${model.locale @ context='attribute'}",
			"region": "${model.region @ context='attribute'}"
		}
    </script>
    <div class="coveo-main-section">
      <div class="row">
        <div class="coveo-results-column col-lg-7 col-md-12">
          <div class="row">
            <div class="CoveoAnalytics" data-search-hub="${model.searchHub}"></div>
            <div class="coveo-search-section" style="margin-top: 10px;">
              <div class="CoveoSearchbox" data-enable-omnibox="true" data-placeholder="${'kemin.search.placeholdertext.enterkeywords' @i18n}.."></div>
              <button id="searchbtn" class="btn btn-dark" onclick="Coveo.searchbtn()">${'kemin.search.button.search' @i18n}</button>
            </div>
            <div class="kemin-root-accordian d-lg-none">
              <div class="kemkin-pdp-accordian kemin-navigation-mobile  ">
                <div class="outer-container-accordian">
                  <div class="accordion accordion-flush">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <div class="kemin-navigation-mobile">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            <span class="right-triangle"></span>
                            <span class="img-dynamic">
                              <!-- based on the AEM page thumnal the icon here:  -->
                              <img src="${model.navigationIconURL}">
                            </span>
                            <span class="coveo-accordion-title">${'kemin.search.header.filterresults' @i18n}</span>
                          </button>
                        </div>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="inner-container-accordian">
                          <div class="accordion-body">
                            <!-- Title Authorable-->
                            <div class="accordion accordian-mobile">
                              <div class="CoveoDynamicFacet" data-title="${'kemin.search.facet.contentcategory' @i18n}:"
                                data-field="@contentcategory"></div>
                              <div class="CoveoDynamicFacet" data-title="${'kemin.search.facet.productarea' @i18n}:"
                                data-field="@productarea"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="CoveoShareQuery"></div>
            <div class="CoveoPreferencesPanel">
              <div class="CoveoResultsPreferences"></div>
              <div class="CoveoResultsFiltersPreferences"></div>
            </div>
            <div class="CoveoTriggers"></div>
            <div class="CoveoBreadcrumb"></div>
            <div class="CoveoDidYouMean"></div>
            <div class="coveo-results-header">
              <div class="coveo-summary-section">
                <span class="CoveoQuerySummary"></span>
                <span class="CoveoQueryDuration"></span>
              </div>
              <div class="coveo-result-layout-section">
                <span class="CoveoResultLayout"></span>
              </div>
              <div class="coveo-sort-section">
                <span class="CoveoSort" data-sort-criteria="relevancy" data-caption="Relevance"></span>
                <span class="CoveoSort" data-sort-criteria="date descending,date ascending" data-caption="Date"></span>
              </div>
            </div>
            <div class="CoveoHiddenQuery"></div>
            <div class="CoveoErrorReport" data-pop-up="false"></div>
            <div class="CoveoResultList" data-layout="list" data-wait-animation="fade"
              data-auto-select-fields-to-include="true">
              <script id="Default" class="result-template" type="text/underscore" data-layout="list">
              <div class="coveo-result-frame">
                <div class="coveo-result-cell" style="vertical-align: top;padding-left: 16px;">
                  <div class="coveo-result-row" style="margin-top:0;">
                    <div class="coveo-result-cell" style="vertical-align:top;font-size:16px;" role="heading" aria-level="2">
                      <a class="CoveoResultLink"></a>
                    </div>
                  </div>
                  <div class="coveo-result-row" style="margin-top:19px;">
                    <div class="coveo-result-cell">
                      <div class="CoveoPrintableUri"></div>
                    </div>
                  </div>
                  <div class="coveo-result-row" style="margin-top:12px;">
                    <div class="coveo-result-cell">
                      {{ if(excerptHighlights.length > 0 ) { }}
                        <span class="CoveoExcerpt"></span>
                      {{ } else if(raw.description) { }}
                        <div class="resultdescription"><%= raw.description %></div>
                      {{ } else { }}
                        <div class="resultdescription"><%= firstSentences %></div>
                      {{ } }}
                    </div>
                  </div>
                  <div class="coveo-result-row">
                    <div class="coveo-result-cell">
                      <div class="CoveoMissingTerms"></div>
                    </div>
                  </div>
                </div>
              </div>
              </script>
            </div>
          </div>
          <div class="CoveoPager"></div>
          <div class="CoveoResultsPerPage" data-choices-displayed="10,20,50"></div>
        </div>
        <div class="col-lg-5 col-md-12">
          <div class="kemin-root-accordian d-none d-lg-block">
            <div class="kemkin-pdp-accordian  ">
              <div class="outer-container-accordian">
                <div class="hex-conatiner hexagon-wrapper">
                  <div id="color2" class="hexagon">
                    <span class="img-dynamic">
                      <!-- based on the AEM page thumnal the icon here:  -->
                      <img src="${model.navigationIconURL}">
                    </span>
                  </div>
                </div>
                <div class="inner-container-accordian">
                  <div class="pdp-accordian-title">
                    ${'kemin.search.header.filterresults' @i18n}
                  </div>
                  <div class="accordion">
                    <div class="CoveoDynamicFacet" data-title="${'kemin.search.facet.contentcategory' @i18n}:"
                      data-field="@contentcategory"></div>
                    <div class="CoveoDynamicFacet" data-title="${'kemin.search.facet.productarea' @i18n}:"
                      data-field="@productarea"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="featured-section">
            <sly data-sly-resource="${'featured' @ resourceType='kemin-redesign/components/container'}" />
          </div>
        </div>
      </div>
      <div class="row" id="coveoSearchDivSuggestionsDiv" data-sly-test="${properties.relatedQueries == 'yes'}">
        <div class="searchSuggestions">
          <div id="coveoSearchDivSuggestionsHeader" class="related_searches">
            <h3>${'kemin.search.header.relatedsearches' @i18n}:</h3>
            <div id="coveoSearchDivSuggestions"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

<sly data-sly-call="${clientlib.js @ categories='coveo.coveo-search'}" />
  