<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2017 Adobe
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<nav data-sly-use.breadcrumb="com.adobe.cq.wcm.core.components.models.Breadcrumb"
     data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     id="${component.id}"
     class="cmp-breadcrumb"
     aria-label="${'Breadcrumb' @ i18n}"
     data-sly-test="${breadcrumb.items.size > 0}"
     data-cmp-data-layer="${breadcrumb.data.json}">
    <ol class="cmp-breadcrumb__list"
        itemscope itemtype="http://schema.org/BreadcrumbList"
        data-sly-list.navItem="${breadcrumb.items}">
        <li class="cmp-breadcrumb__item${navItem.active ? ' cmp-breadcrumb__item--active' : ''}"
            data-cmp-data-layer="${navItem.data.json}"
            itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="${navItem.URL}"
               class="cmp-breadcrumb__item-link"
               itemprop="item"
               data-cmp-clickable="${breadcrumb.data ? true : false}"
               data-sly-unwrap="${navItem.active}">
                <span itemprop="name">${navItem.title}</span>
            </a>
            <meta itemprop="position" content="${navItemList.count}" />
        </li>
    </ol>
</nav>
<sly data-sly-call="${template.placeholder @ isEmpty=breadcrumb.items.size == 0, classAppend='cmp-breadcrumb'}"></sly>
