<template data-sly-template.footlibs=""> 

<script data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" 

data-sly-call="${clientLib.js @categories='aem-bootcamp.site'}" 

data-sly-unwrap></script> 

</template> 