<template data-sly-template.headlibs=""> 

<script src="https://use.fontawesome.com/5395f9aef1.js"></script> 

<link rel='stylesheet' 

data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" 

data-sly-call="${clientLib.css @categories='aem-bootcamp.site'}" 

data-sly-unwrap/> 

</template> 