/*
 *  Copyright 2018 Adobe Systems Incorporated
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

@import (once) "/libs/wcm/foundation/clientlibs/grid/grid_base.less";


/* gutter width */
@grid-gutter-width: 1rem;

/* maximum amount of grid cells to be provided */
@max_col: 12;

/* default breakpoint */
.aem-Grid {
  .generate-grid(default, @max_col);
  width: auto;
}

/* mobile breakpoint (min-width: 320px & max-width: 767px) */
@media  (min-width: 20rem) and (max-width: 47.938rem) {
  .aem-Grid {
    .generate-grid(mobile, @max_col);
  }
}

/* tablet breakpoint (min-width: 768px & max-width: 1023px) */
@media  (min-width: 48rem) and (max-width: 63.938rem) {
  .aem-Grid {
    .generate-grid(tablet, @max_col);
  }
}

/* small-desktop breakpoint  (min-width: 1024px & max-width: 1439px) */
@media (min-width: 64rem) and (max-width: 89.938rem) {
  .aem-Grid {
    .generate-grid(small-desktop, @max_col);
  }
}

.aem-GridColumn {
  padding: 0 @grid-gutter-width;
}

// /* force showing hidden components in unhide mode */
// .aem-GridShowHidden > .cmp-container > .aem-Grid > .aem-GridColumn {
//   display: block !important;
// }
