<sly  
   data-sly-test.empty="${!properties.fileReference}" 
   data-sly-use.template="core/wcm/components/commons/v1/templates.html" 
   data-sly-call="${template.placeholder @ isEmpty=empty}"/>
<!-- start header --> 
<sly data-sly-test="${!empty}">
   <sly data-sly-use.image="com.aembootcamp.core.models.Image" >
      <div class="jumbotron jumbotron-fluid" style="height:400px;width:100%;background-size: cover;background: url('${image.fileReference @ context='uri'}') no-repeat;">
         <div class="container col-md-offset-1">
            <div class="col-md-6 feature-promo" style="margin-top: 100px;">
               <h2>${image.title} <i class="fa fa-angle-double-right"></i></h2>
            </div>
         </div>
      </div>
   </sly>
</sly>