<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-use.timeline="com.kemin.redesign.core.models.timeline.Timeline"
    data-sly-test.hasChild="${timeline.milestones.size > 0}">
    
    <div class="container-kemin">
      <div id="kemin-timeline" class="kemin-root-timeline">
        <div class="timeline-heading" data-sly-test="${timeline.heading}">${timeline.heading}</div>
        <section class="kemin-timeline-slider">
          <div class="row">
            <div class="large-12 columns">
              <div data-sly-list.item="${timeline.milestones}" class="owl-carousel owl-theme">
                <div class="item">
                    <sly data-sly-resource="${item.image @ resourceType='kemin-redesign/components/dynamicimage', selectors='presets.timeline'}"></sly>
                  <div>
                    <div class="timeline-title">${item.year}</div>
                    <div class="timeline-desc">${item.description}</div>
                  </div>
                  <div class="badge">
                    <div class="line-left" data-sly-test="${itemList.first}"></div>
                    <div class="circle"></div>
                    <div class="line"></div>
                    <div class="timeline-group">${item.period}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasChild}"></sly>