<sly data-sly-test="${wcmmode.edit}">
    <p class="cq-placeholder" data-emptytext="${component.title}"></p>
</sly>


<div class="cmp-form-text ${properties.analytics ? 'analytics-form-field' : ''}" data-sly-use.text="com.adobe.cq.wcm.core.components.models.form.Text">

    <label for="${text.id}" class="${properties.type == 'date' ? 'text-input-label' : ''}">${text.title}<span
            data-sly-test="${properties.required}"> *</span></label>

    <div data-sly-test="${properties.type == 'date'}" class="datepicker">
        <div class="${text.readOnly ? '' : 'datepicker-section'}">
            <input
                    type="text"
                    data-type="date"
                    name="${text.name}"
                    class="datepicker-input"
                    data-change-year="true"
                    data-year-title="${properties.year @ context='attribute'}"
                    readonly="${text.readOnly}"
                    data-required="${text.requiredMessage}"
                    placeholder="${text.placeholder}"/>
            <div class="date-icon" data-sly-test="${!text.readOnly}">
                <div>
                    <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/calendar.svg">
                </div>
            </div>
        </div>
    </div>
    <textarea data-sly-test.useTextarea="${properties.type == 'textarea'}"
              class="cmp-form-text__textarea"
              data-cmp-hook-form-text="input"
              id="${text.id}"
              placeholder="${text.placeholder}"
              name="${text.name}"
              readonly="${text.readOnly}"
              data-required="${text.requiredMessage}"
              required="${text.required}"
              rows="${text.rows}"
              data-sly-attribute.aria-describedby="${text.helpMessage ? [text.id, 'helpMessage'] : '' @ join = '-'}"></textarea>


    <input data-sly-test="${properties.type != 'textarea' && properties.type != 'date'}"
           data-type="${properties.type}" data-sly-attribute.data-required="${properties.required ? text.requiredMessage : ''}" class="cmp-form-text__text"
           data-cmp-hook-form-text="input" id="${text.id}" name="${text.name}" readonly="${text.readOnly}"
           data-sly-attribute.data-is-email-type="${properties.type == 'email'}"
           type="${properties.type != 'email' ? properties.type : 'text'}"
           placeholder="${properties.usePlaceholder ? text.helpMessage : ''}"
           data-format="${properties.type == 'email' ?
            text.constraintMessage : '' }">
</div>
