
.container-header-fluid{
    margin: 0 auto;
    width: 100%;
    height: 4rem;
    position:fixed;
    top: 0;
    .cmp-navigation__group {
        list-style: none;
    }
    .cmp-navigation__group.floyout-submenu{
        visibility: hidden;
        position: absolute;
        background: grey;
        width: 721px;
        margin-left: -721px !important;
        left: 0;
        height: 100vh;
        padding-top: calculateRem(129) !important;
        opacity: 0;        
        transition: opacity 0.3s ease-in-out 0.12s, margin-left 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0.12s;

         .cmp-navigation__item{
            margin-left: calculateRem(148);
            &:hover::before {
                margin-left: -8px;
                display: inline-block;
                content: "";
                border-left: 4px solid $color-coal;
                height: 24px;
                -webkit-transform: translateY(-1rem);
                transform: translateY(-1rem);
                position: relative;
                top: 18px;
            }
            a:hover:before{
                border: none;
            }
        }
        .cmp-navigation__item-link{
            font-size: calculateRem(36);
            line-height: calculateRem(40);
            color: #C4C4CA;
            font-weight: 800;
            letter-spacing: -0.6px;
            text-align: left;
    
            &:hover{
                color: $color-coal;  
            }
            
        }
        .cmp-navigation__item-link.active{
            .floyout-submenu{
                margin-left: 0px !important;
                opacity: 1 !important;
                visibility: visible !important;
            }
        }
        &.showblock{
            margin-left: 0px !important;
            opacity: 1 !important;
            visibility: visible !important;
        }
        span.iconarrow.icon-arrow_forward-active.children{
            font-size: 18px;
            position: absolute;
            right: 25px;
            cursor: pointer;
            margin-top: 15px;
        }
        span.iconarrow.iconarrow.icon-arrow_backward.parent{
            font-size: 18px;
            padding-right: 15px;
            cursor: pointer;
        }

        ul.child__menu{
            margin-top: 43px;

            li.cmp-navigation__item{
                margin-left: 0;
            }
            li > a:hover:before{
                border: none; 
            }
        }
        .removeBorder{
            .cmp-navigation__item-link.backButtonText{
                font-size: 20px;
                line-height: 24px;
            }
            &:hover:before{
                border: none;
                margin-left: -5px;
            }
        }
    }
    .cmp-navigation__item {
        display: inline-block;
        margin-left: calculateRem(48);
        &:hover::before {
            margin-left: -8px;
            display: inline-block;
            content: "";
            border-left: 2px solid $color-coal;
            height: 18px;
            -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
            position: absolute;
            top: 39px;
        }
    }
    .cmp-navigation__item-link{
        font-size: calculateRem(16);
        line-height: calculateRem(21);
        color: #525261;
        font-weight: 800;

        &:hover{
            color: $color-coal;  
        }
    }
    
    //removing bordre bottom animation from header
    a {
        &:hover{
            &:after{
                background-color: transparent;
            }
        }
        &:after {
            background-color: transparent;
        }
    }

    .nav-hat {
        // z-index: 99999;
        left: calculateRem(48);
        right: 0;
        margin: 0 auto;
        height: calculateRem(64);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: fixed;
        top: 0;

        img{
            max-width: 135px;
            margin: 0 auto;
            position: relative;
            left: 0;
            right: 0;
            top: calculateRem(3);
        }
    }
    .logo-holder {
        // width: 100%;
        margin: 0 auto;
        position: absolute;
        top: calculateRem(16);
        left: calculateRem(32);
        font-size: calculateRem(28);
        line-height: calculateRem(32);
        color: $color-coal;
    }
    .parent-list {
        padding-left: calculateRem(195);
        margin: 0 auto;
        height: calculateRem(64);
        top: 0;
        max-width: initial;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
        padding-top: inherit;
        line-height:calculateRem(64);
        z-index: 999;
        width: 100%;
        height: calculateRem(63);
        overflow-y: initial;
        list-style: none;
        margin-left: calculateRem(48);  

        li{
            margin-left: calculateRem(48);
            :before{
               border: none;
            }
             > a{
                font-size: 1rem;
                line-height: 1.3125rem;
                color: #525261;
                font-weight: 800;
            }
            >a:hover:before{
                margin-left: -8px;
                display: inline-block;
                content: "";
                border-left: 2px solid #171725;
                height: 18px;
                -webkit-transform: translateY(-1rem);
                transform: translateY(-1rem);
                position: absolute;
                top: 18px;
            }
        }
        .cmp-navigation__group{
            padding: 0;
            margin: 0;
            li{
                margin-right: 48px;
                margin-left: 0;
            }
            li:last-child{
                margin: 0;
                padding: 0;
            }
        }
    }

    .left-navigation-extra{
        display: inline-block;
        float: right;
        margin-right: 48px;

        ul{
            list-style: none;
            li{
                display: inline-block;
                margin-left: calculateRem(31);
                vertical-align: bottom
            }
        }
        .navigation-extra-ul{
            margin: 13px auto;
        }
    }

    .home-Search{
        width: 21px;
        height: 20px;
        cursor: pointer;
    }
    .home-cart, .home-Search{
        width: 21px;
        height: 20px;
        cursor: pointer;
        //carts
        &:hover.icon-cart-day-inactive:before{ 
            font-size: 21px;
        } 
        &:focus.icon-cart-day-inactive:before{ 
            font-size: 21px;
        }
        // search
        &:hover.icon-search-day-inactive:before{ 
            font-size: 21px;
        } 
        &:focus.icon-search-day-inactive:before{ 
            font-size: 21px;
        }
    }
    //search inactive default
    .home-search.icon-custom.icon-search-day-inactive:before{
        font-size: 21px;
    }
    //no item in cart
    .home-cart.icon-custom.icon-cart-day-inactive:before, .home-cart.icon-custom.icon-cart-day-filled-inactive:before{
        font-size: 21px;
    }
    //day item in cart
    .home-cart.icon-custom.icon-cart-day-filled-inactive .path1:before, .home-cart.icon-custom.icon-cart-day-filled-inactive .path2:before{
        font-size: 21px;
    }

    //day active
    .home-cart.active.icon-custom.icon-cart-day-inactive:before{
        font-size: 21px; 
    }

    .experiment-fragment{
        display: block !important;
        nav{
            display: inline-block;
        }
    }
    

        
}

.experiment-fragment{
    display: block;
    position: absolute;
    bottom: 200px;
    margin-left: 9.25rem !important;

    nav a{
        font-size: 16px;
        line-height: 21px;
        color: #525261;
    }
}

.cmp-header{
    width: 100%;
    background-color: #171725;
}

.cmp-header__smoke{
    background-color: $color-smoke;
}
.cmp-header__marshmallow{
    background-color: $color-marshmallow;
}
.cmp-header__coal{
    background-color: $color-coal;
}
.cmp-header__charcoal{
    background-color: $color-charcoal;
}

.day{
    .cmp-header__smoke{
        background-color: $color-smoke;

        .cmp-navigation__item--active::before {
            border-left: 2px solid $color-coal;            
        }
        .cmp-navigation__item--active > .cmp-navigation__item-link, a{
            color: $color-coal;
        }
        .cmp-navigation__item-link, a {
            color: $color-light-grey2;
            &:hover{
                color: $color-coal; 

            }
        }
        .cmp-navigation__item:hover::before{
            border-left: 2px solid $color-coal;
        }
        .home-Search path{
            fill: $color-light-grey2;
        }
        .floyout-submenu{
            background-color: $color-smoke;
        }
            
    }
    .cmp-header__marshmallow{
        background-color: $color-marshmallow;

        .cmp-navigation__item--active::before {
            border-left: 2px solid $color-light-grey2;
        }
        .cmp-navigation__item-link, a {
            color: $color-light-grey2;
        }
        .cmp-navigation__item:hover::before{
            border-left: 2px solid $color-light-grey2;
        }
        .home-Search path{
            fill: $color-light-grey2;
        }
        .home-cart path{
            fill: $color-light-grey2;
        }
        
        .floyout-submenu{
            background-color: $color-marshmallow;
        }
    }

        .home-cart, .home-search{
            width: 21px;
            height: 20px;
            cursor: pointer;
            //cart
            &:hover.icon-cart-day-inactive:before{ 
                font-size: 21px;
                color: #292938;
            } 
            &:focus.icon-cart-day-inactive:before{ 
                font-size: 21px;
                color: #292938;
            }
            //search
            &:hover.icon-search-day-inactive:before{ 
                font-size: 21px;
                color: #292938;
            } 
            &:focus.icon-search-day-inactive:before{ 
                font-size: 21px;
                color: #292938;
            }
        }  
        //day search active
        .home-search.active.icon-custom.icon-search-day-inactive:before{
            font-size: 21px;  
            color: #171725;
        }
        //day cart active
        .home-cart.active.icon-custom.icon-cart-day-inactive:before{
            font-size: 21px;  
            color: #171725;
        }
        //day item in cart
        .home-cart.icon-custom.icon-cart-day-filled-inactive .path1:before, .home-cart.icon-custom.icon-cart-day-filled-inactive .path2:before{
            font-size: 21px;
        }
}

.night{
    .cmp-header__coal{
        background-color: $color-coal;

        .cmp-navigation__item--active::before {
            border-left: 2px solid $color-marshmallow;
        }
        .cmp-navigation__item-link, a {
            color: $color-light-grey1;
            &:hover{
                color: $color-marshmallow; 
            }
        }
        .cmp-navigation__item:hover::before{
            border-left: 2px solid $color-marshmallow;
        }
        .home-Search path{
            fill: $color-light-grey1;
        }     
    }
    .cmp-header__charcoal{
        background-color: $color-charcoal;

        .cmp-navigation__item--active::before {
            border-left: 2px solid $color-marshmallow;
        }
        .cmp-navigation__item-link, a {
            color: $color-light-grey1;
        }
        .cmp-navigation__item:hover::before{
            border-left: 2px solid $color-marshmallow;
        }
        .home-Search path{
            fill: $color-light-grey1;
        }
        .home-cart path{
            fill: $color-light-grey1;
        }        
    }

    .home-cart, .home-search{
        width: 21px;
        height: 20px;
        cursor: pointer;
        //cart
        &:hover.icon-cart-day-inactive:before{ 
            font-size: 21px;
            color: #C4C4CA;
        } 
        &:focus.icon-cart-day-inactive:before{ 
            font-size: 21px;
            color: #F5F5F6;
        }
        //search
        &:hover.icon-search-day-inactive:before{ 
            font-size: 21px;
            color: #C4C4CA;
        } 
        &:focus.icon-search-day-inactive:before{ 
            font-size: 21px;
            color: #F5F5F6;
        }
    }  
     //night search active
     .home-search.active.icon-custom.icon-search-day-inactive:before{
        font-size: 21px;  
        color: #FFFFFF;
    }
    //default search
    .home-search.icon-custom.icon-search-day-inactive:before{
        font-size: 21px;  
        color: #C4C4CA;
    }
     //night cart active
     .home-cart.active.icon-custom.icon-cart-day-inactive:before{
        font-size: 21px;  
        color: #FFFFFF;
    }
     //night inactive active
     .home-cart.icon-custom.icon-cart-day-inactive:before{
        font-size: 21px;  
        color: #C4C4CA;
    }
    //night item in cart
    .home-cart.icon-custom.icon-cart-night-filled-inactive .path1:before, .home-cart.icon-custom.icon-cart-night-filled-inactive .path2:before{
        font-size: 21px;
    }
}

.topnav {
    overflow: hidden;
    background-color: #333;
    height: 64px;
    padding: 0 48px;
    position: fixed;
    width: 94%;

    //removing bordre bottom animation from header
    a {
        &:hover{
            &:after{
                background-color: transparent;
            }
        }
        &:after {
            background-color: transparent;
        }
    }

    .cmp-navigation__group {
        list-style: none;
    }
    .cmp-navigation__item {
        display: inline-block;
        &:hover::before {
            margin-left: -8px;
            display: inline-block;
            content: "";
            border-left: 2px solid $color-coal;
            height: 18px;
            -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
            position: absolute;
            top: 40px;
        }
    }
    .cmp-navigation__item-link, a{
        font-size: calculateRem(16);
        line-height: calculateRem(21);
        color: #525261;
        font-weight: 800;

        &:hover{
            color: $color-coal;  
        }
    }

    .search, .cart{
        padding-top: 20px;
    }
    .search svg, .cart svg{
        width: 21px;
        height: 20px;
    }
    .cart {
        .home-cart-filled{
            display: none;
        }
        .home-cart-inactive{
            display: block;
        }
    }
    .cart:hover .home-cart-inactive{
        display: none;
    }
    .cart:hover .home-cart-filled{
        display: block;
    }
    .signIn{
        padding-top: 13px;
    }

    .topnav-right a {
        margin-left: 48px;
    }
}

.topnav .cmp-navigation{
    float: left;
    padding-top: 4px;
}
.topnav nav ul{
    list-style: none;

    li{
        display: inline-block;

        a{
            margin-right: 48px;
        }
    }
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
}

.topnav a:hover {
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav-right {
    float: right;
}

.logo-wrapper {
    overflow: hidden;
    margin-right: 48px;
    float: left;
    padding-top: 20px;
}

.logo-wrapper>.logo {
    width: 132px;
}
.icon-search-day-hover:before {
    content: "\e900";
    font-family: "oadsf";
  }
