<header>
    <div class="container-header-fluid cmp-header__marshmallow">
        <!-- Image Component -->
        <div class="nav-hat">
            <!-- <a class="logo-holder1" href="#" style="width: 10%;">
                <img id="logo" class="home-logo" alt="Career Logo" src="https://careers.dish.com/images/dsm-nav/career-home-logo.svg">
                Mobes
            </a> -->
            <div class="image" style="width: 10%;">
                <div data-cmp-lazythreshold="0"
                    data-cmp-src="/content/core-components-examples/library/page-authoring/image/_jcr_content/root/responsivegrid/demo_1473529393/component/image.coreimg{.width}.jpeg/1550672497135/snowy-mountain-glacier.jpeg"
                    data-asset="/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg"
                    data-asset-id="45c6ee92-90e1-4af2-af69-b6dcbc7daeb7" data-title="Snowy mountain glacier"
                    id="image-8974cba812"
                    data-cmp-data-layer="{&quot;image-8974cba812&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/image&quot;,&quot;repo:modifyDate&quot;:&quot;2019-01-22T17:31:25Z&quot;,&quot;dc:title&quot;:&quot;Snowy mountain glacier&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/image.html&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;45c6ee92-90e1-4af2-af69-b6dcbc7daeb7&quot;,&quot;repo:modifyDate&quot;:&quot;2019-02-20T14:21:37Z&quot;,&quot;@type&quot;:&quot;image/jpeg&quot;,&quot;repo:path&quot;:&quot;/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg&quot;,&quot;xdm:tags&quot;:[],&quot;xdm:smartTags&quot;:{}}}}"
                    class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject">
                    <a class="cmp-image__link"
                        href="/content/core-components-examples/library/page-authoring/image.html"
                        data-cmp-clickable="" data-cmp-hook-image="link">
                        <img id="logo"
                            src="/content/core-components-examples/library/page-authoring/image/_jcr_content/root/responsivegrid/demo_1473529393/component/image.coreimg.jpeg/1550672497135/snowy-mountain-glacier.jpeg"
                            class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image"
                            alt="Snowy mountain glacier" title="Snowy mountain glacier">
                    </a>
                    <meta itemprop="caption" content="Snowy mountain glacier">
                </div>
            </div>
        </div>
        <div class="aem-Grid aem-Grid--12">
            <!-- TopNav Component -->
            <div class="aem-GridColumn aem-GridColumn--default--8 aem-GridColumn--phone--12">
                <ul class="parent-list">
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                    <li>
                        <div class="navigation">
                            <nav id="navigation-0e123bccd2" class="cmp-navigation" role="navigation" itemscope=""
                                itemtype="http://schema.org/SiteNavigationElement"
                                data-cmp-data-layer="{&quot;navigation-0e123bccd2&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation&quot;,&quot;repo:modifyDate&quot;:&quot;2019-05-21T15:59:35Z&quot;}}">
                                <ul class="cmp-navigation__group">
                                    <li class="cmp-navigation__item cmp-navigation__item--level-0 cmp-navigation__item--active show-box"
                                        data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-9bee4d4454&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2019-12-20T18:35:24Z&quot;,&quot;dc:title&quot;:&quot;Component Library&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library.html&quot;}}">
                                        <a href="javascript:void(0)" title="Component Library" aria-current="page"
                                            data-cmp-clickable="" class="cmp-navigation__item-link">Plans</a>
                                            <!-- Flyout Menu -->
                                        <ul class="cmp-navigation__group floyout-submenu">
                                            <li class="cmp-navigation__item cmp-navigation__item--level-1"
                                                data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-1d32a567a9&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;dc:title&quot;:&quot;Templating&quot;,&quot;xdm:linkURL&quot;:&quot;#&quot;}}">
                                                <a href="#" title="Templating" aria-current="page"
                                                    data-cmp-clickable="" class="cmp-navigation__item-link">subm
                                                    menu 1</a>
                                                <ul class="cmp-navigation__group child__menu">
                                                    <li class="cmp-navigation__item cmp-navigation__item--level-3"
                                                        data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-5ecc840b3f&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Catalog Page&quot;,&quot;xdm:linkURL&quot;:&quot;#&quot;}}">
                                                        <a href="#" title="Catalog Page" data-cmp-clickable=""
                                                            class="cmp-navigation__item-link">Catalog Page</a>
                                                    </li>
                                                    <li class="cmp-navigation__item cmp-navigation__item--level-3"
                                                        data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-5ecc840b3f&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Catalog Page&quot;,&quot;xdm:linkURL&quot;:&quot;#&quot;}}">
                                                        <a href="#" title="Catalog Page" data-cmp-clickable=""
                                                            class="cmp-navigation__item-link">Catalog Page</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="cmp-navigation__item cmp-navigation__item--level-2"
                                                data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-e628106fe1&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:29Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                                                <a href="/content/core-components-examples/library/templating/language-navigation/language-structure/us/en/language-navigation.html"
                                                    title="Language Navigation" data-cmp-clickable=""
                                                    class="cmp-navigation__item-link">subm menu 1</a>
                                                <ul class="cmp-navigation__group child__menu">
                                                    <li class="cmp-navigation__item cmp-navigation__item--level-3"
                                                        data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-5ecc840b3f&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Catalog Page&quot;,&quot;xdm:linkURL&quot;:&quot;#&quot;}}">
                                                        <a href="#" title="Catalog Page" data-cmp-clickable=""
                                                            class="cmp-navigation__item-link">Catalog Page</a>
                                                    </li>
                                                    <li class="cmp-navigation__item cmp-navigation__item--level-3"
                                                        data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-5ecc840b3f&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Catalog Page&quot;,&quot;xdm:linkURL&quot;:&quot;#&quot;}}">
                                                        <a href="#" title="Catalog Page" data-cmp-clickable=""
                                                            class="cmp-navigation__item-link">Catalog Page</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="cmp-navigation__item cmp-navigation__item--level-2"
                                                data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-35671d6884&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                                                <a href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html"
                                                    title="Breadcrumb" data-cmp-clickable=""
                                                    class="cmp-navigation__item-link">subm menu 1</a>
                                            </li>
                                            <!-- Experiment Fragment -->
                                            <li class="experiment-fragment">
                                                <nav>
                                                    <a href="#">permalink 1</a>
                                                    <a href="#">permalink 1</a>
                                                    <a href="#">permalink 1</a>
                                                </nav>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="cmp-navigation__item cmp-navigation__item--level-1"
                                        data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-9bee4d4454&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2019-12-20T18:35:24Z&quot;,&quot;dc:title&quot;:&quot;Component Library&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library.html&quot;}}">
                                        <a href="#" title="Component Library" aria-current="page"
                                            data-cmp-clickable="" class="cmp-navigation__item-link">Devices</a>
                                            <!-- flyout menu -->
                                        <ul class="cmp-navigation__group floyout-submenu">
                                            <li class="cmp-navigation__item cmp-navigation__item--level-1"
                                                data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-1d32a567a9&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;dc:title&quot;:&quot;Templating&quot;,&quot;xdm:linkURL&quot;:&quot;#&quot;}}">
                                                <a href="#" title="Templating" aria-current="page"
                                                    data-cmp-clickable="" class="cmp-navigation__item-link">subm
                                                    menu 3</a>
                                                <ul class="cmp-navigation__group child__menu">
                                                    <li class="cmp-navigation__item cmp-navigation__item--level-3"
                                                        data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-5ecc840b3f&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Catalog Page&quot;,&quot;xdm:linkURL&quot;:&quot;#&quot;}}">
                                                        <a href="#" title="Catalog Page" data-cmp-clickable=""
                                                            class="cmp-navigation__item-link">Catalog Page</a>
                                                    </li>
                                                    <li class="cmp-navigation__item cmp-navigation__item--level-3"
                                                        data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-5ecc840b3f&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Catalog Page&quot;,&quot;xdm:linkURL&quot;:&quot;#&quot;}}">
                                                        <a href="#" title="Catalog Page" data-cmp-clickable=""
                                                            class="cmp-navigation__item-link">Catalog Page</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="cmp-navigation__item cmp-navigation__item--level-2"
                                                data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-e628106fe1&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:29Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                                                <a href="/content/core-components-examples/library/templating/language-navigation/language-structure/us/en/language-navigation.html"
                                                    title="Language Navigation" data-cmp-clickable=""
                                                    class="cmp-navigation__item-link">subm menu 4</a>
                                                <ul class="cmp-navigation__group child__menu">
                                                    <li class="cmp-navigation__item cmp-navigation__item--level-3"
                                                        data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-5ecc840b3f&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Catalog Page&quot;,&quot;xdm:linkURL&quot;:&quot;#&quot;}}">
                                                        <a href="#" title="Catalog Page" data-cmp-clickable=""
                                                            class="cmp-navigation__item-link">Catalog Page</a>
                                                    </li>
                                                    <li class="cmp-navigation__item cmp-navigation__item--level-3"
                                                        data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-5ecc840b3f&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Catalog Page&quot;,&quot;xdm:linkURL&quot;:&quot;#&quot;}}">
                                                        <a href="#" title="Catalog Page" data-cmp-clickable=""
                                                            class="cmp-navigation__item-link">Catalog Page</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="cmp-navigation__item cmp-navigation__item--level-2"
                                                data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-35671d6884&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                                                <a href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html"
                                                    title="Breadcrumb" data-cmp-clickable=""
                                                    class="cmp-navigation__item-link">subm menu 1</a>
                                            </li>
                                            <!-- experiment-fragment -->
                                            <li class="experiment-fragment">
                                                <nav>
                                                    <a href="#">permalink 3</a>
                                                    <a href="#">permalink 4</a>
                                                    <a href="#">permalink 5</a>
                                                </nav>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="cmp-navigation__item cmp-navigation__item--level-0"
                                        data-cmp-data-layer="{&quot;navigation-0e123bccd2-item-9bee4d4454&quot;:{&quot;@type&quot;:&quot;core/wcm/components/navigation/v1/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2019-12-20T18:35:24Z&quot;,&quot;dc:title&quot;:&quot;Component Library&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library.html&quot;}}">
                                        <a href="#" title="Component Library" aria-current="page"
                                            data-cmp-clickable="" class="cmp-navigation__item-link">Help</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </li>
                    <li><a href="#">link</a></li>
                </ul>
            </div>
            <div class="aem-GridColumn aem-GridColumn--default--4 aem-GridColumn--phone--12">
                <div class="left-navigation-extra">
                    <ul class="navigation-extra-ul">
                        <!-- search component -->
                        <li class="text">
                            <a href="#" target="_blank" aria-label="search">
                                <!-- day/night inactive -->
                                <span class="home-search icon-custom icon-search-day-inactive"></span>
                            </a>
                        </li>
                        <!-- Mini cart -->
                        <li>
                            <a href="#" target="_blank" aria-label="mini-cart">
                                <!-- day/night inactive -->
                                <span class="home-cart icon-custom icon-cart-day-inactive"></span>
                                <!-- day cart has item -->
                                <span class="home-cart icon-custom icon-cart-day-filled-inactive">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </span>
                                <!-- night cart has item -->
                                <span class="home-cart icon-custom icon-cart-night-filled-inactive">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </span>
                            </a>
                        </li>
                        <!-- Sign in/Sign out -->
                        <li>
                            <div id="login" class="button cmp-button__filled cmp-button__ghost cmp-button__smol">
                                <button type="button" id="button-93a5672f17" class="cmp-button signIn"
                                    data-cmp-clickable=""
                                    data-cmp-data-layer="{&quot;button-93a5672f17&quot;:{&quot;@type&quot;:&quot;core/wcm/components/button/v1/button&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T12:37:57Z&quot;,&quot;dc:title&quot;:&quot;Button&quot;}}">
                                    <span class="cmp-button__text">Sign in</span>
                                </button>
                                <button type="button" id="button-93a5672f17" class="cmp-button signOut"
                                    data-cmp-clickable=""
                                    data-cmp-data-layer="{&quot;button-93a5672f17&quot;:{&quot;@type&quot;:&quot;core/wcm/components/button/v1/button&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T12:37:57Z&quot;,&quot;dc:title&quot;:&quot;Button&quot;}}">
                                    <span class="cmp-button__text">Sign Out</span>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>