
.container-header-fluid{
  .home-Search{
      // width: 21px;
      // height: 20px;
      cursor: pointer;
  }
  .home-Search{
      // width: 21px;
      // height: 20px;
      cursor: pointer;
      // search
      &:hover.icon-search-day-inactive:before{ 
          // font-size: 21px;
      } 
      &:focus.icon-search-day-inactive:before{ 
          // font-size: 21px;
      }
  }
  //search inactive default
  .home-search.icon-custom.icon-search-day-inactive:before{
      // font-size: 21px;
  }
  .experiment-fragment{
      display: block !important;
      nav{
          display: inline-block;
      }
  }      
}

.day{
  .cmp-header__smoke .container-header-fluid{
      .home-search path{
          fill: $color-light-grey2;
      }
  }
  .cmp-header__marshmallow .container-header-fluid{
      .home-search path{
          fill: $color-light-grey2;
      }
  }

      .home-search{
          // width: 21px;
          // height: 20px;
          cursor: pointer;
          //search
          &:hover.icon-search-day-inactive:before{ 
              // font-size: 21px;
              color: #292938;
          } 
          &:focus.icon-search-day-inactive:before{ 
              // font-size: 21px;
              color: #292938;
          }
      }  
      //day search active
      .home-search.active.icon-custom.icon-search-day-inactive:before{
          // font-size: 21px;  
          color: #171725;
      }
      
}

.night{
  .cmp-header__coal  .container-header-fluid{
      .home-search path{
          fill: $color-light-grey1;
      }   
  }
  .cmp-header__charcoal .container-header-fluid{
      .home-search path{
          fill: $color-light-grey1;
      }    
  }

  .home-search{
      // width: 21px;
      // height: 20px;
      cursor: pointer;
      //search
      &:hover.icon-custom.icon-search-day-inactive:before{
          // font-size: 21px;
          color: $color-smoke;
      } 
      &:focus.icon-search-day-inactive:before{ 
          // font-size: 21px;
          color: $color-smoke;
      }
  }  
   //night search active
   .home-search.active.icon-custom.icon-search-day-inactive:before{
      // font-size: 21px;  
      color: #FFFFFF;
  }
  //default search
  .home-search.icon-custom.icon-search-day-inactive:before{
      // font-size: 21px;  
      color: #C4C4CA;
  }
}
  .search-container .search:hover {
    cursor: pointer;
  }
  .search-container{
      position: relative;
      top: 0;
  }
  .search-container .input-box{
    position: absolute; top: -12px; right: 0; display: inline-block;
  }
  .search-container input {
      width: 48px;
      height: 48px;
      outline: none;
      padding: 0;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      -webkit-transition: all 1s;
      transition: all 1s;
      opacity: 0;
      z-index: 5;
      font-weight: normal;
      letter-spacing: 0.1em;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 18px;
      cursor: pointer;
  }
  .search-container.active input {
      width: 300px;
      opacity: 1;
      cursor: text;
      padding: 0 39px 0 50px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
  }
  
  .search-icon-placeholder{
      position: absolute; top: 15px; left: 13px;
  }
  .search-container.active input~.close {
      right: 55px;
      z-index: 6;
      visibility: visible;
      display: inline;
      top: -16px;
    }
  .search-container .close {
      z-index: 4;
      position: relative;
      display: inline-block;
      height: 50px;
      width: 50px;
      vertical-align: middle;
      right: 55px;
      visibility: hidden;
      cursor: pointer;
  }
  .search-container.active input~.close:before {
      content: "";
      top: 25px;
      left: 15px;
      width: 20px;
      position: absolute;
      height: 2px;
      background: #ccc;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
  }
  .search-container.active input~.close:after {
      content: "";
      top: 25px;
      left: 15px;
      width: 20px;
      height: 2px;
      background: #ccc;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      position: absolute;
  }

  .day{
    //hover effect
    #searchBox:hover .icon-search-day-inactive:before,  
    #searchBox:focus .icon-search-day-inactive:before{
      color: $color-charcoal;
    }
    #searchBox:active .icon-search-day-inactive:before{
      color: $color-coal;
    }
    .cmp-header__smoke{
      .search-container{
        input{
          background-color: $color-marshmallow;
          border-bottom: 2px solid $color-light-grey1;
          color: $color-coal;

          &:hover{
              border-bottom: 2px solid $color-charcoal;
          }
          &.active{
            border-bottom: 2px solid $color-water-day;
          }
          &.completed{
            border-bottom: 2px solid $color-coal;
          }
          &.error{
            border-bottom: 2px solid $color-error;
          }
        }
        input::placeholder {
          color: $color-light-grey2;
          line-height: 24px;
          font-size: 18px;
          font-weight: normal;
        }
      }
    }
    .cmp-header__marshmallow{
      .search-container{
        input{
          background-color: $color-smoke;
          border-bottom: 2px solid $color-light-grey1;
          color: $color-coal;

          &:hover{
              border-bottom: 2px solid $color-charcoal;
          }
          &.active{
            border-bottom: 2px solid $color-water-day;
          }
          &.completed{
            border-bottom: 2px solid $color-coal;
          }
          &.error{
            border-bottom: 2px solid $color-error;
          }
        }
        input::placeholder {
          color: $color-light-grey2;
          line-height: 24px;
          font-size: 18px;
          font-weight: normal;
        }
      }
    }
  }
  .night{
     //hover effect 
    #searchBox:hover .icon-search-day-inactive:before,
    #searchBox:focus .icon-search-day-inactive:before{
      color: $color-smoke;
    }
    #searchBox:active .icon-search-day-inactive:before{
      color: $color-marshmallow;
    }
    .cmp-header__coal{
      .search-container{
        input{
          background-color: $color-charcoal;
          border-bottom: 2px solid $color-light-grey2;
          color: $color-marshmallow;

          &:hover{
              border-bottom: 2px solid $color-light-grey1;
          }
          &.active{
            border-bottom: 2px solid $color-water-nighty;
          }
          &.completed{
            border-bottom: 2px solid $color-marshmallow;
          }
          &.error{
            border-bottom: 2px solid $color-error-light;
          }
        }
        input::placeholder {
          color: $color-light-grey1;
          line-height: 24px;
          font-size: 18px;
          font-weight: normal;
        }
      }
    }
    .cmp-header__charcoal{
      .search-container{
        input{
          background-color: $color-coal;
          border-bottom: 2px solid $color-light-grey2;
          color: $color-marshmallow;

          &:hover{
              border-bottom: 2px solid $color-light-grey1;
          }
          &.active{
            border-bottom: 2px solid $color-water-nighty;
          }
          &.completed{
            border-bottom: 2px solid $color-marshmallow;
          }
          &.error{
            border-bottom: 2px solid $color-error-light;
          }
        }
        input::placeholder {
          color: $color-light-grey1;
          line-height: 24px;
          font-size: 18px;
          font-weight: normal;
        }
      }
    }
  }
  // responsive css
@media (max-width: calculateRem(1024)) {
  .search-container{
    .input-box{
      margin-right: 1.125rem;
      box-sizing: border-box;
    }
    
    &.active input{
      width: 100%;
    }
  }
}