<li class="text">
    <a href="#" aria-label="search" id="searchBox" class="search-container">
        <span class="home-search icon-custom icon-search-day-inactive"></span>
        <div class="input-box">
            <span class="home-search icon-custom icon-search-day-inactive search-icon-placeholder"></span>
            <input type="text" placeholder="Search" aria-label="search">
            <div class="close"></div>
        </div>
    </a>
</li>