.ccpa-banner{
    background-color: $color-smoke;
    min-height: calculateRem(64);

    .ccpa-wrapper{
        width: 1100px;
        overflow: hidden;
        margin: 0 auto;
        padding: 1rem 0;
        .text{
            display: table;
            min-height: 32px;
            overflow: hidden;
            float: left;
            margin-right: calculateRem(32);

            .cmp-text{
                display: table-cell;
                vertical-align: middle;
                p{
                    @include t-16();
                    color: $color-cinder;

                    a{
                        color: $color-cinder;
                       
                        &::after{
                            position: absolute;
                            -webkit-transition: width 1s cubic-bezier(0, 0.48, 0.19, 1.01);
                            transition: width 1s cubic-bezier(0, 0.48, 0.19, 1.01);
                            height: 10%;
                            bottom: -2px;
                            left: 0;
                            width: 100%;
                            background-color: $color-cinder;
                        }
                    }
                }
            }
        }

        .button-wrapper{            
            display: table;
            min-height: 32px;
            .button{
                display: table-cell;
                vertical-align: middle;
                position: relative;
                top: -2px;
            }
        }
    }

}

.day{
    .ccpa-banner{
        .ccpa-wrapper{
            .text{
                .cmp-text{
                    p{
                        color: $color-cinder;
                        a{
                            &:hover{
                                color: $color-charcoal;
                                &::after{
                                    background-color:$color-charcoal;
                                }
                            }
                            &:active{
                                color: $color-coal;
                            }
                            
                        }
                    }
                }
            }
        }
    } 

    .ccpabanner.cmp-ccpa__smoke{
        .ccpa-banner{
            background-color: $color-smoke;  
        }
    }
    .ccpabanner.cmp-ccpa__marshmallow{
        .ccpa-banner{
            background-color: $color-marshmallow;   
        }
    }
}

.night{
    .ccpa-banner{
        .ccpa-wrapper{
            .text{
                .cmp-text{
                    p{
                        color: $color-ash;
                        a{
                            &:hover{
                                color: $color-smoke;
                                &::after{
                                    background-color:$color-smoke;
                                }
                            }
                            &:active{
                                color: $color-marshmallow;
                            }
                        }

                        a{
                            color: $color-ash;
                           
                            &::after{
                                position: absolute;
                                -webkit-transition: width 1s cubic-bezier(0, 0.48, 0.19, 1.01);
                                transition: width 1s cubic-bezier(0, 0.48, 0.19, 1.01);
                                height: 10%;
                                bottom: -2px;
                                left: 0;
                                width: 100%;
                                background-color: $color-ash;
                            }
                        }
                    }
                }
            }
        }
    } 
    
    .ccpabanner.cmp-ccpa__coal{
        .ccpa-banner{
            background-color: $color-coal;   
        }
    }
    .ccpabanner.cmp-ccpa__charcoal{
        .ccpa-banner{
            background-color: $color-charcoal; 
        }
    }
}

@media only screen and (max-width: 1024px) {
    .ccpa-banner{
        .ccpa-wrapper {
            width: 90%;
            padding: calculateRem(32) calculateRem(16);

            .text{
                width: 100%;
                margin: 0 0 1rem 0;
                text-align: center;
            }

            .button-wrapper{
                margin: 0 auto;
            }
        }
    }
}