<div class="ccpa-banner aem-Grid aem-Grid--12">      
    <div class="ccpa-wrapper">
        <div class="text">
            <div data-cmp-data-layer="{&quot;text-8d10b88ba1&quot;:{&quot;@type&quot;:&quot;dopweb/components/text&quot;,&quot;repo:modifyDate&quot;:&quot;2021-04-08T12:10:27Z&quot;,&quot;xdm:text&quot;:&quot;<p>We use cookies to optimize this site and give you the best-personalized experience. Visit our <a href=\&quot;http://www.google.com\&quot;>Privacy Policy</a> to learn more.</p>\r\n&quot;}}"
                id="text-8d10b88ba1" class="cmp-text">
                <p>We use cookies to optimize this site and give you the best-personalized experience. Visit our
                    <a href="#">Privacy Policy</a> to learn more.</p>
            </div>
        </div>  
        <div class="button-wrapper">
            <div class="button cmp-button__smol cmp-button__ghost cmp-button__neutral cmp-button__filled">
                <a id="button-cc91885ef9" class="cmp-button" href="#" target="_self">
                    <span class="cmp-button__text">Dismiss</span>
                </a>
            </div> 
        </div>    
    </div>                
</div>