<div data-sly-use.model="com.techcombank.core.models.MediaCarouselModel"
  data-sly-use.template="core/wcm/components/commons/v1/templates.html"
  data-sly-test.hasContent="${model.mediaCarouselItemList}">
  <sly data-sly-test="${hasContent}">
    <div class="inspire-slider-component">
      <div class="inspire-slider-container">
        <div class="swiper inspire-slider-swiper">
          <div class="carousel-items swiper-wrapper">
            <sly data-sly-repeat.item="${model.mediaCarouselItemList}">
              <div class="item swiper-slide ${item.mediaType}">
                <div class="item-img">
                  <picture>
                    <source media="(max-width: 360px)"
                       srcset="${item.mobileImagePath}"/>
                    <source media="(max-width: 576px)"
                       srcset="${item.mobileImagePath}"/>
                    <source media="(min-width: 1080px)"
                       srcset="${item.webImagePath}"/>
                    <source media="(min-width: 1200px)"
                       srcset="${item.webImagePath}"/>
                    <img alt="${item.altText}"
                       src="${item.webImagePath}">
                  </picture>
                  <div class="btn-video" data-sly-test="${item.mediaType == 'video'}" video-url="${item.videoLinkUrl}"
                    data-tracking-click-event="videoStart"
                    data-tracking-click-info-value="{'videoUrl' : '${item.videoLinkUrl}'}"
                    data-tracking-web-interaction-value="{'webInteractions': {'name': 'Media Carousel','type': '${item.videoLinkWebInteractionType}'}}">
                    <img class="btn-video-img" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/video-play-button.svg"/>
                  </div>
                </div>
                <div class="item-content">
                  <div class="heading">
                    <p>
                      ${item.carouselTitleText1}
                      <br data-sly-test="${item.carouselTitleText2}">
                      ${item.carouselTitleText2}
                    </p>
                    <p class="text-smallText">${item.subTitleText}</p>
                  </div>
                  <div class="description">
                    <p>
                      ${item.descriptionText}
                    </p>
                  </div>
                  <div class="btn">
                    <a class="primary-tracking" href="${item.linkUrl}" target="${item.openInNewTab ? '_blank' : '_self'}"
                      rel="${item.noFollow ? 'nofollow' : ''}"
                      data-tracking-click-event="carouselClick"
                      data-tracking-click-info-value="{'carouselName' : '${item.linkText}'}"
                      data-tracking-web-interaction-value="{'webInteractions': {'name': 'Media Carousel','type': '${item.linkUrlWebInteractionType}'}}">
                      <span>${item.linkText}</span>
                      <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-arrow-icon.svg"/>
                    </a>
                    <a class="secondary-tracking hidden-tracking" data-tracking-click-event="linkClick"
                      data-tracking-click-info-value="{'linkClick' : '${item.linkText}'}"
                      data-tracking-web-interaction-value="{'webInteractions': {'name': 'Media Carousel','type': '${item.linkUrlWebInteractionType}'}}">
                    </a>
                  </div>
                </div>
              </div>
            </sly>
          </div>
          <div class="swiper-button-next swiper-button hide"></div>
          <div class="swiper-button-prev swiper-button hide"></div>
        </div>
        <div class="slider-popup">
          <div class="slider-popup-content">
            <img class="close-video" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/icon_close_grey.svg"/>
            <iframe src="" frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </div>
  </sly>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>