<div class="cmp-form-text"
     data-sly-use.text="com.dish.dopweb.core.models.form.Text"
     data-cmp-is="formText"
     data-cmp-constraint-message="${text.constraintMessage}"
     data-cmp-required-message="${text.requiredMsg}">
    <label for="${text.id}" data-sly-test="${text.title && !text.hideTitle}">${text.labelTitle}<span data-sly-test ="${text.required}">*</span></label>
    <div data-sly-test.isLeft="${text.iconPosition == 'left'}"
         class="cmp-form-img__left">
        <image src="${text.icon}" />
    </div>
    <div data-sly-test.position="${!isLeft}"
         class="cmp-form-img__right" >
        <image src="${text.icon}" />
    </div>
    <input data-sly-test="${!useTextarea}"
           class="cmp-form-text__text"
           data-cmp-hook-form-text="input"
           aria-label="${text.hideTitle && text.title}"
           type="${text.type}"
           id="${text.id}"
           placeholder="${text.placeholderMsg}"
           name="${text.fieldName}"
           value="${text.value}"
           readonly="${text.readOnly}"
           required="${text.requiredFlag}">
    <span class="cmp-form-text__help-text"></span>
</div>