<sly data-sly-test="${wcmmode.edit}">
	<p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.announcement="com.techcombank.core.models.AnnouncementModel"/>
<div class="announcement" data-sly-test = "${announcement.announcementText}">
	<div class="announcement__container">
		<div class="content">
			<div class="main-content">
				<div class="title"  >
					<picture>
						<source media="(max-width: 360px)" srcset="${announcement.iconPathMobile}"/>
						<source media="(max-width: 576px)" srcset="${announcement.iconPathMobile}"/>
						<source media="(min-width: 1080px)" srcset="${announcement.iconPath}"/>
						<source media="(min-width: 1200px)" srcset="${announcement.iconPath}"/>
						<img alt="${announcement.iconAltText}" data-nimg="fixed" decoding="async" src="${announcement.iconPath}">
					</picture>
					<h3>${announcement.announcementText}</h3>
				</div>
				<h2>${announcement.titleText}</h2>
				${announcement.titleDescription @context="html"}
			</div>
			<sly data-sly-test="${announcement.ctaRequired}">
				<sly data-sly-resource="${'button' @ resourceType='techcombank/components/button', decorationTagName='div'}"></sly>
			</sly>
		</div>
	</div>
</div>
