.text {
  ul {
    &.pl-20 {
      padding-inline-start: 20px;
    }
    &.red-bullet {
      li::marker {
        color: red;
      }
    }
     &.blue-bullet {
      li::marker {
        color: blue;
      }
    }
     &.white-bullet {
      li::marker {
        color: white;
      }
    }
     &.grey-bullet {
      li::marker {
        color: grey;
      }
    }
     &.gold-bullet {
      li::marker {
        color: gold;
      }
    }
     &.blue-bullet {
      li::marker {
        color: blue;
      }
    }
  }
}
.coral3-Popover.is-open{
  left: 0 !important;
}
.coral3-Popover-content{
  max-width:30rem;
}
.rte-dialog--pasteplaintext textArea, .rte-dialog--pastewordhtml iframe{
  max-width: 29rem;
}
.coral3-Select{
  width: 10.5rem;
}
coral-alert.rte-globalAlert{
  z-index: 10020;
}
.rte-dialog div.rte-dialog-column{
  white-space: nowrap;
}
