// Mixin

// @mixin linear-gradient-background($selector, $color-1, $color-2) {
//   &.bg-#{$selector}-gradient-0 {
//     background-image: linear-gradient(0deg, $color-1, $color-2);
//   }

//   &.bg-#{$selector}-gradient-45 {
//     background-image: linear-gradient(45deg, $color-1, $color-2);
//   }

//   &.bg-#{$selector}-gradient-90 {
//     background-image: linear-gradient(90deg, $color-1, $color-2);
//   }

//   &.bg-#{$selector}-gradient-135 {
//     background-image: linear-gradient(135deg, $color-1, $color-2);
//   }

//   &.bg-#{$selector}-gradient-180 {
//     background-image: linear-gradient(180deg, $color-1, $color-2);
//   }

//   &.bg-#{$selector}-gradient-225 {
//     background-image: linear-gradient(225deg, $color-1, $color-2);
//   }

//   &.bg-#{$selector}-gradient-270 {
//     background-image: linear-gradient(270deg, $color-1, $color-2);
//   }

//   &.bg-#{$selector}-gradient-315 {
//     background-image: linear-gradient(315deg, $color-1, $color-2);
//   }
// }

.cmp-container_default {
  padding: 0;
  border-radius: 0;
  background-color: none;
}

.cmp-container_boxshadow_effect {
  box-shadow: 0 0 45px 0 $color-boxshadow-effect;
}

.root.container.responsivegrid {

  // Padding Overrides
  .cmp-container__padding-0>.cmp-container {
    padding: 0;
  }

  .cmp-container__padding-2>.cmp-container {
    padding: calculateRem(2);
  }

  .cmp-container__padding-4>.cmp-container {
    padding: calculateRem(4);
  }

  .cmp-container__padding-8>.cmp-container {
    padding: calculateRem(8);
  }

  .cmp-container__padding-16>.cmp-container {
    padding: calculateRem(16);
  }

  .cmp-container__padding-32>.cmp-container {
    padding: calculateRem(32);
  }

  .cmp-container__padding-64>.cmp-container {
    padding: calculateRem(64);
  }

  .cmp-container__padding-128>.cmp-container {
    padding: calculateRem(128);
  }

  .cmp-container__padding-0 {
    padding: 0;
  }

  .cmp-container__padding-2 {
    padding: calculateRem(2);
  }

  .cmp-container__padding-4 {
    padding: calculateRem(4);
  }

  .cmp-container__padding-8 {
    padding: calculateRem(8);
  }

  .cmp-container__padding-16 {
    padding: calculateRem(16);
  }

  .cmp-container__padding-32 {
    padding: calculateRem(32);
  }

  .cmp-container__padding-64 {
    padding: calculateRem(64);
  }

  .cmp-container__padding-128 {
    padding: calculateRem(128);
  }

  /*START: Padding top, right, bottom, left */
  //left
  .cmp-container__padding-left-0 {
    padding-left: 0;
  }

  .cmp-container__padding-left-2 {
    padding-left: calculateRem(2);
  }

  .cmp-container__padding-left-4 {
    padding-left: calculateRem(4);
  }

  .cmp-container__padding-left-8 {
    padding-left: calculateRem(8);
  }

  .cmp-container__padding-left-16 {
    padding-left: calculateRem(16);
  }

  .cmp-container__padding-left-32 {
    padding-left: calculateRem(32);
  }

  .cmp-container__padding-left-64 {
    padding-left: calculateRem(64);
  }

  .cmp-container__padding-left-128 {
    padding-left: calculateRem(128);
  }

  //top
  .cmp-container__padding-top-0 {
    padding-top: 0;
  }

  .cmp-container__padding-top-2 {
    padding-top: calculateRem(2);
  }

  .cmp-container__padding-top-4 {
    padding-top: calculateRem(4);
  }

  .cmp-container__padding-top-8 {
    padding-top: calculateRem(8);
  }

  .cmp-container__padding-top-16 {
    padding-top: calculateRem(16);
  }

  .cmp-container__padding-top-32 {
    padding-top: calculateRem(32);
  }

  .cmp-container__padding-top-64 {
    padding-top: calculateRem(64);
  }

  .cmp-container__padding-top-128 {
    padding-top: calculateRem(128);
  }

  //right
  .cmp-container__padding-right-0 {
    padding-right: 0;
  }

  .cmp-container__padding-right-2 {
    padding-right: calculateRem(2);
  }

  .cmp-container__padding-right-4 {
    padding-right: calculateRem(4);
  }

  .cmp-container__padding-right-8 {
    padding-right: calculateRem(8);
  }

  .cmp-container__padding-right-16 {
    padding-right: calculateRem(16);
  }

  .cmp-container__padding-right-32 {
    padding-right: calculateRem(32);
  }

  .cmp-container__padding-right-64 {
    padding-right: calculateRem(64);
  }

  .cmp-container__padding-right-128 {
    padding-right: calculateRem(128);
  }

  //bottom
  .cmp-container__padding-bottom-0 {
    padding-bottom: 0;
  }

  .cmp-container__padding-bottom-2 {
    padding-bottom: calculateRem(2);
  }

  .cmp-container__padding-bottom-4 {
    padding-bottom: calculateRem(4);
  }

  .cmp-container__padding-bottom-8 {
    padding-bottom: calculateRem(8);
  }

  .cmp-container__padding-bottom-16 {
    padding-bottom: calculateRem(16);
  }

  .cmp-container__padding-bottom-32 {
    padding-bottom: calculateRem(32);
  }

  .cmp-container__padding-bottom-64 {
    padding-bottom: calculateRem(64);
  }

  .cmp-container__padding-bottom-128 {
    padding-bottom: calculateRem(128);
  }

  /*END: Padding top, right, bottom, left */

  /*START: Margin bottom Overrides */
  .cmp-container__margin-128 {
    margin-bottom: calculateRem(128) !important;
  }

  .cmp-container__margin-64 {
    margin-bottom: calculateRem(64) !important;
  }

  .cmp-container__margin-32 {
    margin-bottom: calculateRem(32) !important;
  }

  .cmp-container__margin-16 {
    margin-bottom: calculateRem(16) !important;
  }

  .cmp-container__margin-8 {
    margin-bottom: calculateRem(8) !important;
  }

  .cmp-container__margin-4 {
    margin-bottom: calculateRem(4) !important;
  }

  .cmp-container__margin-2 {
    margin-bottom: calculateRem(2) !important;
  }

  .cmp-container__margin-0 {
    margin-bottom: calculateRem(0) !important;
  }

  @media (min-width: calculateRem(1025)) {
    .cmp-container__desktop-margin-bottom-128 {
      margin-bottom: calculateRem(128) !important;
    }

    .cmp-container__desktop-margin-bottom-64 {
      margin-bottom: calculateRem(64) !important;
    }

    .cmp-container__desktop-margin-bottom-32 {
      margin-bottom: calculateRem(32) !important;
    }

    .cmp-container__desktop-margin-bottom-16 {
      margin-bottom: calculateRem(16) !important;
    }

    .cmp-container__desktop-margin-bottom-8 {
      margin-bottom: calculateRem(8) !important;
    }

    .cmp-container__desktop-margin-bottom-4 {
      margin-bottom: calculateRem(4) !important;
    }

    .cmp-container__desktop-margin-bottom-2 {
      margin-bottom: calculateRem(2) !important;
    }

    .cmp-container__desktop-margin-bottom-0 {
      margin-bottom: calculateRem(0) !important;
    }
  }

  @media (min-width: calculateRem(768)) and (max-width: calculateRem(1024)) {
    .cmp-container__tablet-margin-bottom-128 {
      margin-bottom: calculateRem(128) !important;
    }

    .cmp-container__tablet-margin-bottom-64 {
      margin-bottom: calculateRem(64) !important;
    }

    .cmp-container__tablet-margin-bottom-32 {
      margin-bottom: calculateRem(32) !important;
    }

    .cmp-container__tablet-margin-bottom-16 {
      margin-bottom: calculateRem(16) !important;
    }

    .cmp-container__tablet-margin-bottom-8 {
      margin-bottom: calculateRem(8) !important;
    }

    .cmp-container__tablet-margin-bottom-4 {
      margin-bottom: calculateRem(4) !important;
    }

    .cmp-container__tablet-margin-bottom-2 {
      margin-bottom: calculateRem(2) !important;
    }

    .cmp-container__tablet-margin-bottom-0 {
      margin-bottom: calculateRem(0) !important;
    }
  }

  @media (min-width: calculateRem(320)) and (max-width: calculateRem(767)) {
    .cmp-container__mobile-margin-bottom-128 {
      margin-bottom: calculateRem(128) !important;
    }

    .cmp-container__mobile-margin-bottom-64 {
      margin-bottom: calculateRem(64) !important;
    }

    .cmp-container__mobile-margin-bottom-32 {
      margin-bottom: calculateRem(32) !important;
    }

    .cmp-container__mobile-margin-bottom-16 {
      margin-bottom: calculateRem(16) !important;
    }

    .cmp-container__mobile-margin-bottom-8 {
      margin-bottom: calculateRem(8) !important;
    }

    .cmp-container__mobile-margin-bottom-4 {
      margin-bottom: calculateRem(4) !important;
    }

    .cmp-container__mobile-margin-bottom-2 {
      margin-bottom: calculateRem(2) !important;
    }

    .cmp-container__mobile-margin-bottom-0 {
      margin-bottom: calculateRem(0) !important;
    }
  }

  /*END: Margin bottom Overrides */

  // Radius Overrides

  .cmp-container__radius-0 {
    border-radius: 0;
    overflow: hidden;

    >.cmp-container {
      border-radius: 0;
    }
  }

  .cmp-container__radius-2 {
    border-radius: calculateRem(2);
    overflow: hidden;

    >.cmp-container {
      border-radius: calculateRem(2);
    }
  }

  .cmp-container__radius-4 {
    border-radius: calculateRem(4);
    overflow: hidden;

    >.cmp-container {
      border-radius: calculateRem(4);
    }
  }

  .cmp-container__radius-7 {
    border-radius: calculateRem(7);
    overflow: hidden;

    >.cmp-container {
      border-radius: calculateRem(7);
    }
  }

  .cmp-container__radius-8 {
    border-radius: calculateRem(8);
    overflow: hidden;

    >.cmp-container {
      border-radius: calculateRem(8);
    }
  }

  .cmp-container__radius-15 {
    border-radius: calculateRem(15);
    overflow: hidden;

    >.cmp-container {
      border-radius: calculateRem(15);
    }
  }

  .cmp-container__radius-16 {
    border-radius: calculateRem(16);
    overflow: hidden;

    >.cmp-container {
      border-radius: calculateRem(16);
    }
  }

  .cmp-container__radius-24 {
    border-radius: calculateRem(24);
    overflow: hidden;

    >.cmp-container {
      border-radius: calculateRem(24);
    }
  }

  .cmp-container__radius-25 {
    border-radius: calculateRem(25);
    overflow: hidden;

    >.cmp-container {
      border-radius: calculateRem(25);
    }
  }

  // Elevation Overrides

  .cmp-container__elevation-none {
    box-shadow: none;
  }

  .cmp-container__elevation-low {
    box-shadow: $shadow-low;
  }

  .cmp-container__elevation-high {
    box-shadow: $shadow-high;
  }
}

// Color Overrides

.cmp-container__bg-black {
  background-color: $color-black;
}

.cmp-container__bg-coal {
  background-color: $color-coal;
}

.cmp-container__bg-charcoal {
  background-color: $color-charcoal;
}

.cmp-container__bg-cinder {
  background-color: $color-cinder;
}

.cmp-container__bg-ash {
  background-color: $color-ash;
}

.cmp-container__bg-smoke {
  background-color: $color-smoke;
}

.cmp-container__bg-marshmallow {
  background-color: $color-marshmallow;
}

.cmp-container__bg-black-russian {
  background-color: $color-brand-genesis-black-russian;
}

.cmp-container__bg-dark-black {
  background-color: $color-black;
}

.cmp-container {
  @include linear-gradient-background(light, $color-smoke, $color-ash);
  @include linear-gradient-background(dark, $color-cinder, $color-charcoal);
}

/** Boost Specific Overrides **/
// .cmp-container__bg-boost-orange-1 {
//   background-color: $color-brand-boost-orange-1;
// }

// .cmp-container__bg-boost-orange-2 {
//   background-color: $color-brand-boost-orange-2;
// }

// .cmp-container__bg-boost-orange-3 {
//   background-color: $color-brand-boost-orange-3;
// }

// .cmp-container__bg-boost-dark-blue {
//   background-color: $color-brand-boost-dark-blue;
// }

// .cmp-container__bg-boost-mid-blue {
//   background-color: $color-brand-boost-mid-blue;
// }

// .cmp-container__bg-boost-accent-blue {
//   background-color: $color-brand-boost-accent-blue;
// }

// .cmp-container__bg-boost-accent-green {
//   background-color: $color-brand-boost-accent-green;
// }

// .cmp-container {
//   @include linear-gradient-background(boost,
//     $color-brand-boost-orange-1,
//     $color-brand-boost-orange-3);
// }

// DISH Specific Overrides

.cmp-container__bg-dish-red {
  background-color: $color-brand-dish-red;
}

.cmp-container__bg-dish-ember {
  background-color: $color-brand-dish-ember;
}

.cmp-container {
  @include linear-gradient-background(dish,
    $color-brand-dish-red,
    $color-brand-dish-ember);
}

// OnTech Specific Overrides

.cmp-container__bg-ontech-blue {
  background-color: $color-brand-ontech;
}

.cmp-container__bg-ontech-river {
  background-color: $color-brand-ontech-river;
}

.cmp-container__bg-ontech-sky {
  background-color: $color-brand-ontech-sky;
}

.cmp-container__bg-ontech-sunset {
  background-color: $color-brand-ontech-sunset;
}

.cmp-container__bg-ontech-sunrise {
  background-color: $color-brand-ontech-sunrise;
}

.cmp-container__bg_opaque-none {
  opacity: none;
}
.cmp-container__bg_opaque-5 {
  opacity: 0.05;
}
.cmp-container__bg_opaque-10 {
  opacity: 0.10;
}
.cmp-container__bg_opaque-15 {
  opacity: 0.15;
}
.cmp-container__bg_opaque-20 {
  opacity: 0.20;
}
.cmp-container__bg_opaque-25 {
  opacity: 0.25;
}
.cmp-container__bg_opaque-30 {
  opacity: 0.30;
}
.cmp-container__bg_opaque-35 {
  opacity: 0.35;
}
.cmp-container__bg_opaque-40 {
  opacity: 0.40;
}
.cmp-container__bg_opaque-45 {
  opacity: 0.45;
}
.cmp-container__bg_opaque-50 {
  opacity: 0.50;
}
.cmp-container__bg_opaque-55 {
  opacity: 0.55;
}
.cmp-container__bg_opaque-60 {
  opacity: 0.60;
}
.cmp-container__bg_opaque-65 {
  opacity: 0.65;
}
.cmp-container__bg_opaque-70 {
  opacity: 0.70;
}
.cmp-container__bg_opaque-75 {
  opacity: 0.75;
}
.cmp-container__bg_opaque-80 {
  opacity: 0.80;
}
.cmp-container__bg_opaque-85 {
  opacity: 0.85;
}
.cmp-container__bg_opaque-90 {
  opacity: 0.90;
}
.cmp-container__bg_opaque-95 {
  opacity: 0.95;
}
.cmp-container__bg_opaque-100 {
  opacity: 1;
}

.cmp-container {
  @include linear-gradient-background(ontech-blue,
    $color-brand-ontech-sky,
    $color-brand-ontech-river);
  @include linear-gradient-background(ontech-orange,
    $color-brand-ontech-sunrise,
    $color-brand-ontech-sunset);
}

// Frosty Option
.cmp-container__frosty {
  @include frost();
}

@mixin background-content() {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

//Author Heights
.aem-AuthorLayer-Edit {
  .cmp-container__50>.cmp-container {
    height: calc(0.664 * 50vw) !important;
  }

  .cmp-container__80>.cmp-container {
    height: calc(0.664 * 80vw) !important;
  }

  .cmp-container__100>.cmp-container {
    height: calc(0.664 * 100vw) !important;
  }

  #dayImage,
  #nightImage {
    display: block;
  }
}

.container.responsivegrid.cmp-container__50>.cmp-container {
  height: 50vh;
}

.container.responsivegrid.cmp-container__80>.cmp-container {
  height: 80vh;
}

.container.responsivegrid.cmp-container__100>.cmp-container {
  height: 100vh;
}

//background image positions
.cmp-container__background-content__selected-center-center {
  @include background-content();
  background-position: center center;
}

.cmp-container__background-content__selected-top-left {
  @include background-content();
  background-position: top left;
}

.cmp-container__background-content__selected-top-center {
  @include background-content();
  background-position: top center;
}

.cmp-container__background-content__selected-top-right {
  @include background-content();
  background-position: top right;
}

.cmp-container__background-content__selected-center-left {
  @include background-content();
  background-position: center left;
}

.cmp-container__background-content__selected-center-right {
  @include background-content();
  background-position: center right;
}

.cmp-container__background-content__selected-bottom-left {
  @include background-content();
  background-position: bottom left;
}

.cmp-container__background-content__selected-bottom-center {
  @include background-content();
  background-position: bottom center;
}

.cmp-container__background-content__selected-bottom-right {
  @include background-content();
  background-position: bottom right;
}

.cmp-container__v-top>.cmp-container>div {
  position: absolute;
  top: 0;
  // transform: translate(0%, 0%);
  left: 0;
}

.cmp-container__v-center>.cmp-container>div {
  position: absolute;
  top: 50%;
  // transform: translate(0%, -50%);
  transform: translateY(-50%);
}

.cmp-container__v-bottom>.cmp-container>div {
  position: absolute;
  top: auto;
  transform: translate(0%, 0%);
  bottom: 0;
}

//container component horizontal center alignment
.cmp-container__v-top>.cmp-container>.aem-Grid,
.cmp-container__v-center>.cmp-container>.aem-Grid,
.cmp-container__v-bottom>.cmp-container>.aem-Grid {
  width: 100% !important;
}

.cmp-container__h-center>.cmp-container>div>.text,
.cmp-container__h-center>.cmp-container>div>.button,
.cmp-container__h-center>.cmp-container>div>.tabs,
.cmp-container__h-center>.cmp-container>div>.title,
.cmp-container__h-center>.cmp-container>div>.accordion,
.cmp-container__h-center>.cmp-container>div>.list,
.cmp-container__h-center>.cmp-container>div>.dynamicmedia,
.cmp-container__h-center>.cmp-container>div>.spacer,
.cmp-container__h-center>.cmp-container>div>.separator,
.cmp-container__h-center>.cmp-container>div>.breadcrumb,
.cmp-container__h-center>.cmp-container>div>.container.responsivegrid {
  text-align: center;
}

//seperator, accordion
.cmp-container__h-center>.cmp-container>div>.separator,
.cmp-container__h-center>.cmp-container>div>.accordion,
.cmp-container__h-center>.cmp-container>div>.list {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.cmp-container__h-center>.cmp-container>div>.container {
  float: none !important;
}

.cmp-container__h-right>.cmp-container>div>.separator,
.cmp-container__h-right>.cmp-container>div>.accordion,
.cmp-container__h-right>.cmp-container>div>.container,
.cmp-container__h-right>.cmp-container>div>.list {
  float: right !important;
  text-align: right !important;
}

.cmp-container__h-right>.cmp-container>div>.text,
.cmp-container__h-right>.cmp-container>div>.button,
.cmp-container__h-right>.cmp-container>div>.tabs,
.cmp-container__h-right>.cmp-container>div>.title,
.cmp-container__h-right>.cmp-container>div>.accordion,
.cmp-container__h-right>.cmp-container>div>.list,
.cmp-container__h-right>.cmp-container>div>.dynamicmedia,
.cmp-container__h-right>.cmp-container>div>.spacer,
.cmp-container__h-right>.cmp-container>div>.separator,
.cmp-container__h-right>.cmp-container>div>.breadcrumb,
.cmp-container__h-right>.cmp-container>div>.container.responsivegrid {
  text-align: right;
}

//default styles
.root.container.responsivegrid {
  width: 100%;
}

.container.responsivegrid {
  width: calculateRem(1208);
  position: relative;
  // overflow: auto;
  margin: 0 auto;
  box-sizing: border-box;

  .cmp-container {
    width: 100%;
    position: relative;
    box-sizing: border-box;
  }
}

//horizontal alignment component: Image
.breadcrumb.cmp-container__h-left,
.image.cmp-container__h-left {
  float: left !important;
}

.breadcrumb.cmp-container__h-center,
.image.cmp-container__h-center {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.breadcrumb.cmp-container__h-right,
.image.cmp-container__h-right {
  float: right !important;
}

//container full width
.container.responsivegrid.cmp-container__full-width {
  width: 100vw !important;
  position: relative;
  margin-left: -50vw !important;
  left: 50%;

  .container.responsivegrid.content-width {
    width: 1208px;
    display: flex;
    float: unset;
    margin: 0 auto;
  }
}

// .genesis {
//   .container.responsivegrid {
//     &.cmp-container__full-width {
//       .image{
//         .cmp-image{
//           a:hover:after {
//               background-color: transparent !important;
//           }
//           a:after{
//               background-color: transparent !important;
//           }
//         }
//       }
//       .dynamicmedia{
//         .cq-dd-image {
//           .s7dm-dynamic-media{
//             a:hover:after {
//                 background-color: transparent !important;
//             }
//             a:after{
//                 background-color: transparent !important;
//             }
//           }
//         }
//       }
//     }
//   }
// }

/* xsmall breakpoint */
@media (min-width: 320px) and (max-width: 342px) {
  .container.responsivegrid {
    width: 320px;
  }
}

/* xsmall breakpoint */
@media (min-width: 343px) and (max-width: 420px) {
  .container.responsivegrid {
    width: auto;
    margin-bottom: 0;
  }
}

@media (min-width: 421px) and (max-width: 703px) {
  .container.responsivegrid {
    width: auto;
  }
}

/* small breakpoint */
@media (min-width: 704px) and (max-width: 895px) {
  .container.responsivegrid {
    width: auto;
  }
}

/* medium breakpoint */
@media (min-width: 896px) and (max-width: 1024px) {
  .container.responsivegrid {
    width: auto;
  }
}

/* large breakpoint */
@media (min-width: 1208px) {
  .container.responsivegrid {
    width: 1208px;
    position: relative;
    overflow: inherit;
    margin: 0 auto;
  }
}

//container background image media queries

@media only screen and (min-width: 320px) {
  .containerPhoneBg {
    background-size: cover;
    background-repeat: no-repeat;
    visibility: visible;
  }

  .containerDesktopBg,
  .containerTabletBg {
    visibility: hidden;
  }

  .phoneBg {
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: fit-content;
  }

  .desktopBg,
  .tabletBg {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .containerTabletBg {
    background-size: cover;
    background-repeat: no-repeat;
    visibility: visible;
  }

  .containerDesktopBg,
  .containerPhoneBg {
    visibility: hidden;
  }

  .tabletBg {
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: fit-content;
  }

  .desktopBg,
  .phoneBg {
    display: none;
  }

  // show desktop leadgen form
  #leadgenDesktop {
    display: block;
  }

  //hide mobile leadgen form
  #mobileLeadGen .leadgen {
    display: none;
  }
}

@media only screen and (min-width: 1025px) {
  .containerDesktopBg {
    background-size: cover;
    background-repeat: no-repeat;
    visibility: visible;
  }

  .containerTabletBg,
  .containerPhonetBg {
    visibility: hidden;
  }

  .desktopBg {
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: fit-content;
  }

  .tabletBg,
  .phoneBg {
    display: none;
  }
}

//mobile screen
@media only screen and (max-width: 787px) {

  .reverse-order-mobile,
  .reverse-order-mobile>div>div>div {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

//remove background (underline) color on dynamic media image globally.
.dynamicmedia a:hover:after,
.dynamicmedia a:after {
  background: transparent;
}

@media (min-width: calculateRem(768)) and (max-width: calculateRem(1024)) {
  .container.responsivegrid.cmp-container__full-width {
    .container.responsivegrid.content-width {
      width: auto;
      display: flex;
      float: unset;
    }
  }
}

@media (min-width: calculateRem(320)) and (max-width: calculateRem(767)) {
  .container.responsivegrid.cmp-container__full-width {
    margin-left: 0 !important;
    left: 0 !important;

    .container.responsivegrid.content-width {
      width: auto;
      display: flex;
      float: unset;
    }
  }

  .experiencefragment {
    .container.responsivegrid.cmp-container__full-width {
      margin-left: calculateRem(-16) !important;
      left: 0 !important;
    }
  }

  //hide leadgen form in mobile only
  #leadgenDesktop {
    display: none;
  }

  //show mobile leadgen form only
  #mobileLeadGen {
    display: block;
  }
}

// //border corner css
// /*** Green border corner top-left top-right bottom-left bottom-right **/
// .cmp-container__corner_border_top_left,
// .cmp-container__corner_border_top_right,
// .cmp-container__corner_border_bottom_left,
// .cmp-container__corner_border_bottom_right {
//   position: relative;
//   padding: 0;
// }
// .cmp-container__corner_border_top_left > .cmp-container,
// .cmp-container__corner_border_top_right > .cmp-container,
// .cmp-container__corner_border_bottom_left > .cmp-container,
// .cmp-container__corner_border_bottom_right > .cmp-container {
//   position: relative;
//   overflow: hidden;
// }

// .cmp-container__corner_border_top_left > .cmp-container:before,
// .cmp-container__corner_border_top_right > .cmp-container:after,
// .cmp-container__corner_border_bottom_right > .cmp-container>:first-child:before,
// .cmp-container__corner_border_bottom_left > .cmp-container>:first-child:after {
//   position: absolute;
//   width: calculateRem(60);
//   height: calculateRem(80);
//   border-color: var(--primary-color);
//   border-style: solid;
//   content: ' ';
//   z-index: 999;
// }

// .cmp-container__corner_border_top_left > .cmp-container:before {
//   top: 0;
//   left: 0;
//   border-width: calculateRem(2) 0 0 calculateRem(2);
// }

// .cmp-container__corner_border_top_right > .cmp-container:after {
//   top: 0;
//   right: 0;
//   border-width: calculateRem(2) calculateRem(2) 0 0;
// }

// .cmp-container__corner_border_bottom_right > .cmp-container>:first-child:before {
//   bottom: 0;
//   right: 0;
//   border-width: 0 calculateRem(2) calculateRem(2) 0;
// }

// .cmp-container__corner_border_bottom_left > .cmp-container>:first-child:after {
//   bottom: 0;
//   left: 0;
//   border-width: 0 0 calculateRem(2) calculateRem(2);
// }

// // border corner colors
// .cmp-container__border-green > .cmp-container:before,
// .cmp-container__border-green > .cmp-container:after,
// .cmp-container__border-green > .cmp-container>:first-child:before,
// .cmp-container__border-green > .cmp-container>:first-child:after{
//   border-color: var(--color-brand-green) !important;
//   color: rgba($color-brand-genesis-green, 0.3) !important;
// }
// .cmp-container__border-black > .cmp-container:before,
// .cmp-container__border-black > .cmp-container:after,
// .cmp-container__border-black > .cmp-container>:first-child:before,
// .cmp-container__border-black > .cmp-container>:first-child:after{
//   border-color: var(--color-brand-black) !important;
//   color: rgba($color-black, 0.3) !important;
// }
// .cmp-container__border-white > .cmp-container:before,
// .cmp-container__border-white > .cmp-container:after,
// .cmp-container__border-white > .cmp-container>:first-child:before,
// .cmp-container__border-white > .cmp-container>:first-child:after{
//   border-color: var(--color-brand-white) !important;
//   color: rgba($color-marshmallow, 0.3) !important;
// }

// .container-border-brand-green > .cmp-container:before,
// .container-border-brand-green > .cmp-container:after,
// .container-border-brand-green > .cmp-container>:first-child:before,
// .container-border-brand-green > .cmp-container>:first-child:after{
//   border-color: var(--color-brand-green) !important;
//   color: rgba($color-brand-genesis-green, 0.3) !important;
// }
// .container-border-brand-black > .cmp-container:before,
// .container-border-brand-black > .cmp-container:after,
// .container-border-brand-black > .cmp-container>:first-child:before,
// .container-border-brand-black > .cmp-container>:first-child:after{
//   border-color: var(--color-brand-black) !important;
//   color: rgba($color-black, 0.3) !important;
// }
// .container-border-brand-white > .cmp-container:before,
// .container-border-brand-white > .cmp-container:after,
// .container-border-brand-white > .cmp-container>:first-child:before,
// .container-border-brand-white > .cmp-container>:first-child:after{
//   border-color: var(--color-brand-white) !important;
//   color: rgba($color-marshmallow, 0.3) !important;
// }
// .container-border-brand-mineral-green > .cmp-container:before,
// .container-border-brand-mineral-green > .cmp-container:after,
// .container-border-brand-mineral-green > .cmp-container>:first-child:before,
// .container-border-brand-mineral-green > .cmp-container>:first-child:after{
//   border-color: var(--color-brand-mineral-green) !important;
//   color: rgba($color-brand-genesis-mineral-green, 0.3) !important;
// }
// .container-border-coal > .cmp-container:before,
// .container-border-coal > .cmp-container:after,
// .container-border-coal > .cmp-container>:first-child:before,
// .container-border-coal > .cmp-container>:first-child:after{
//   border-color: var(--color-coal) !important;
//   color: rgba($color-coal, 0.3) !important;
// }
// .container-border-charcoal > .cmp-container:before,
// .container-border-charcoal > .cmp-container:after,
// .container-border-charcoal > .cmp-container>:first-child:before,
// .container-border-charcoal > .cmp-container>:first-child:after{
//   border-color: var(--color-charcoal) !important;
//   color: rgba($color-charcoal, 0.3) !important;
// }
// .container-border-cinder > .cmp-container:before,
// .container-border-cinder > .cmp-container:after,
// .container-border-cinder > .cmp-container>:first-child:before,
// .container-border-cinder > .cmp-container>:first-child:after{
//   border-color: var(--color-cinder) !important;
//   color: rgba($color-cinder, 0.3) !important;
// }
// .container-border-ash > .cmp-container:before,
// .container-border-ash > .cmp-container:after,
// .container-border-ash > .cmp-container>:first-child:before,
// .container-border-ash > .cmp-container>:first-child:after{
//   border-color: var(--color-ash) !important;
//   color: rgba($color-ash, 0.3) !important;
// }
// .container-border-smoke > .cmp-container:before,
// .container-border-smoke > .cmp-container:after,
// .container-border-smoke > .cmp-container>:first-child:before,
// .container-border-smoke > .cmp-container>:first-child:after{
//   border-color: var(--color-smoke) !important;
//   color: rgba($color-smoke, 0.3) !important;
// }
// .container-border-marshmallow > .cmp-container:before,
// .container-border-marshmallow > .cmp-container:after,
// .container-border-marshmallow > .cmp-container>:first-child:before,
// .container-border-marshmallow > .cmp-container>:first-child:after{
//   border-color: var(--color-marshmallow) !important;
//   color: rgba($color-marshmallow, 0.3) !important;
// }

// border colors (core)
.container-border-coal {
  --container-border-color: var(--color-coal);
}

.container-border-charcoal {
  --container-border-color: var(--color-charcoal);
}

.container-border-cinder {
  --container-border-color: var(--color-cinder);
}

.container-border-ash {
  --container-border-color: var(--color-ash);
}

.container-border-smoke {
  --container-border-color: var(--color-smoke);
}

.container-border-marshmallow {
  --container-border-color: var(--color-marshmallow);
}

.container-border-black {
  --container-border-color: var(--color-brand-black);
}

// // border colors (boost)
// .container-border-orange1 {
//   --container-border-color: var(--color-brand-orange1);
// }

// .container-border-orange2 {
//   --container-border-color: var(--color-brand-orange2);
// }

// .container-border-orange3 {
//   --container-border-color: var(--color-brand-orange3);
// }

// .container-border-dark-blue {
//   --container-border-color: var(--color-brand-dark-blue);
// }

// .container-border-mid-blue {
//   --container-border-color: var(--color-brand-mid-blue);
// }

// .container-border-accent-blue {
//   --container-border-color: var(--color-brand-accent-blue);
// }

// .container-border-accent-green {
//   --container-border-color: var(--color-brand-accent-green);
// }

// border colors (dish)
.container-border-dish-red {
  --container-border-color: var(--color-brand-dish-red);
}

.container-border-ember {
  --container-border-color: var(--color-brand-dish-ember);
}

// border colors (ontech)
.container-border-ontech-blue {
  --container-border-color: var(--color-brand-ontech);
}

.container-border-river {
  --container-border-color: var(--color-brand-ontech-river);
}

.container-border-sky {
  --container-border-color: var(--color-brand-ontech-sky);
}

.container-border-sunset-dark {
  --container-border-color: var(--color-brand-ontech-sunset);
}

.container-border-sunset-light {
  --container-border-color: var(--color-brand-ontech-sunrise);
}

// // border colors (genesis)
// .container-border-brand-green {
//   --container-border-color: var(--color-brand-green);
// }

// .container-border-brand-black {
//   --container-border-color: var(--color-brand-black-russian);
// }

// .container-border-brand-mineral-green {
//   --container-border-color: var(--color-brand-mineral-green);
// }

// Ability to Overlay (z-index)

.cmp-container {
  &__z-index-1 {}

  &__z-index-2 {}

  &__z-index-3 {}

  &__z-index-4 {}

  &__z-index-5 {}
}

// // glow effect for border corners (genesis)
// .cmp-container__corner_border_glow .cmp-container::before{
//   -webkit-box-shadow: inset 3px 3px 4px 1px;
//   box-shadow: inset 3px 3px 4px 1px;
//   color: rgba($color-brand-genesis-green, 0.3);
// }

// .cmp-container__corner_border_glow .cmp-container::after {
//   -webkit-box-shadow: inset -3px 3px 4px 1px;
//   box-shadow: inset -3px 3px 4px 1px;
//   color: rgba($color-brand-genesis-green, 0.3);
// }

// .cmp-container__corner_border_glow .cmp-container>:first-child::before {
//   -webkit-box-shadow: inset -3px -3px 4px 1px;
//   box-shadow: inset -3px -3px 4px 1px;
//   color: rgba($color-brand-genesis-green, 0.3);
// }

// .cmp-container__corner_border_glow .cmp-container>:first-child::after {
//   -webkit-box-shadow: inset 3px -3px 4px 1px;
//   box-shadow: inset 3px -3px 4px 1px;
//   color: rgba($color-brand-genesis-green, 0.3);
// }

/* START: Top Radius */
.cmp-container__top-radius-0 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: hidden;

  >.cmp-container {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.cmp-container__top-radius-2 {
  border-top-left-radius: calculateRem(2);
  border-top-right-radius: calculateRem(2);
  overflow: hidden;

  >.cmp-container {
    border-top-left-radius: calculateRem(2);
    border-top-right-radius: calculateRem(2);
  }
}

.cmp-container__top-radius-4 {
  border-top-left-radius: calculateRem(4);
  border-top-right-radius: calculateRem(4);
  overflow: hidden;

  >.cmp-container {
    border-top-left-radius: calculateRem(4);
    border-top-right-radius: calculateRem(4);
  }
}

.cmp-container__top-radius-7 {
  border-top-left-radius: calculateRem(7);
  border-top-right-radius: calculateRem(7);
  overflow: hidden;

  >.cmp-container {
    border-top-left-radius: calculateRem(7);
    border-top-right-radius: calculateRem(7);
  }
}

.cmp-container__top-radius-8 {
  border-top-left-radius: calculateRem(8);
  border-top-right-radius: calculateRem(8);
  overflow: hidden;

  >.cmp-container {
    border-top-left-radius: calculateRem(8);
    border-top-right-radius: calculateRem(8);
  }
}

.cmp-container__top-radius-15 {
  border-top-left-radius: calculateRem(15);
  border-top-right-radius: calculateRem(15);
  overflow: hidden;

  >.cmp-container {
    border-top-left-radius: calculateRem(15);
    border-top-right-radius: calculateRem(15);
  }
}

.cmp-container__top-radius-16 {
  border-top-left-radius: calculateRem(16);
  border-top-right-radius: calculateRem(16);
  overflow: hidden;

  >.cmp-container {
    border-top-left-radius: calculateRem(16);
    border-top-right-radius: calculateRem(16);
  }
}

.cmp-container__top-radius-24 {
  border-top-left-radius: calculateRem(24);
  border-top-right-radius: calculateRem(24);
  overflow: hidden;

  >.cmp-container {
    border-top-left-radius: calculateRem(24);  
    border-top-right-radius: calculateRem(24);
  }
}

.cmp-container__top-radius-25 {
  border-top-left-radius: calculateRem(25);
  border-top-right-radius: calculateRem(25);
  overflow: hidden;

  >.cmp-container {
    border-top-left-radius: calculateRem(25);
    border-top-right-radius: calculateRem(25);
  }
}
/* END: Top Radius */

/* START: Bottom Radius */
.cmp-container__bottom-radius-0 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;

  >.cmp-container {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.cmp-container__bottom-radius-2 {
  border-bottom-left-radius: calculateRem(2);
  border-bottom-right-radius: calculateRem(2);
  overflow: hidden;

  >.cmp-container {
    border-bottom-left-radius: calculateRem(2);
    border-bottom-right-radius: calculateRem(2);
  }
}

.cmp-container__bottom-radius-4 {
  border-bottom-left-radius: calculateRem(4);
  border-bottom-right-radius: calculateRem(4);
  overflow: hidden;

  >.cmp-container {
    border-bottom-left-radius: calculateRem(4);
    border-bottom-right-radius: calculateRem(4);
  }
}

.cmp-container__bottom-radius-7 {
  border-bottom-left-radius: calculateRem(7);
  border-bottom-right-radius: calculateRem(7);
  overflow: hidden;

  >.cmp-container {
    border-bottom-left-radius: calculateRem(7);
    border-bottom-right-radius: calculateRem(7);
  }
}

.cmp-container__bottom-radius-8 {
  border-bottom-left-radius: calculateRem(8);
  border-bottom-right-radius: calculateRem(8);
  overflow: hidden;

  >.cmp-container {
    border-bottom-left-radius: calculateRem(8);
    border-bottom-right-radius: calculateRem(8);
  }
}

.cmp-container__bottom-radius-15 {
  border-bottom-left-radius: calculateRem(15);
  border-bottom-right-radius: calculateRem(15);
  overflow: hidden;

  >.cmp-container {
    border-bottom-left-radius: calculateRem(15);
    border-bottom-right-radius: calculateRem(15);
  }
}

.cmp-container__bottom-radius-16 {
  border-bottom-left-radius: calculateRem(16);
  border-bottom-right-radius: calculateRem(16);
  overflow: hidden;

  >.cmp-container {
    border-bottom-left-radius: calculateRem(16);
    border-bottom-right-radius: calculateRem(16);
  }
}

.cmp-container__bottom-radius-24 {
  border-bottom-left-radius: calculateRem(24);
  border-bottom-right-radius: calculateRem(24);
  overflow: hidden;

  >.cmp-container {
    border-bottom-left-radius: calculateRem(24);
    border-bottom-right-radius: calculateRem(24);
  }
}

.cmp-container__bottom-radius-25 {
  border-bottom-left-radius: calculateRem(25);
  border-bottom-right-radius: calculateRem(25);
  overflow: hidden;

  >.cmp-container {
    border-bottom-left-radius: calculateRem(25);
    border-bottom-right-radius: calculateRem(25);
  }
}
/* END: Bottom Radius */
