<div data-sly-use.spacer="com.techcombank.core.models.SpacerModel"
data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test.hasContent="${spacer.mobilePadding || spacer.desktopPadding}">
    <sly data-sly-test="${hasContent}">
        <div class="spacer-sm" style="height:${spacer.mobilePadding @context='styleString'}px;"></div>
        <div class="spacer-lg" style="height:${spacer.desktopPadding @context='styleString'}px;"></div>
    </sly>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>