<div data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-use.mastheadExtend="com.techcombank.core.models.MastheadExtendModel"
    data-sly-test.hasContent="${mastheadExtend.phoneScreenshotImage}">
    <sly data-sly-test="${hasContent}">
      <div class="masthead-extend-component">
        <section class="${mastheadExtend.applyGradientOverBackgroundColor ? 'masthead-extend gradient' : 'masthead-extend'}" style="background:${mastheadExtend.bannerTopBackgroundColor @context='styleString'};">
          <div class="masthead-extend__banner">
            <div class="banner-center__container">
              <div class="banner-center__container-title">
                  <div class="container-title__title-arrow">
                      <div>${mastheadExtend.title @ context='html'}</div>
                  </div>
              </div>
              <div class="banner-center__container-desc">
                <p>${mastheadExtend.description @ context='html'}</p>
              </div>
              <div class="banner-center__container-button" data-sly-test="${mastheadExtend.ctaButtonRequired}">
                  <div class="btn--wrapper" data-sly-resource="${'button' @ resourceType='techcombank/components/button', decorationTagName='div'}"></div>
              </div>
            </div>
          </div>
          <div class="masthead-extend__card-gallery" style="background:${mastheadExtend.bannerBottomBackgroundColor @context='styleString'};">
            <div class="card-gallery__image-gallery">
              <div class="image-gallery__container" data-sly-list.image="${mastheadExtend.mastheadExtendImageList}">
                <div class="image-gallery__content-item">
                  <div class="content-item__img">
                    <span>
                      <picture>
                        <source media="(max-width: 360px)"
                            srcset="${image.mobileImagePath}"/>
                        <source media="(max-width: 576px)"
                            srcset="${image.mobileImagePath}"/>
                        <source media="(min-width: 1080px)"
                            srcset="${image.webImagePath}"/>
                        <source media="(min-width: 1200px)"
                            srcset="${image.webImagePath}"/>
                        <img alt="${image.imageAltText}"
                            src="${image.webImagePath}">
                      </picture>
                    </span>
                  </div>
                </div>
                <div data-sly-test="${imageList.index == 1}" class="image-gallery__content-item image-gallery__center">
                  <div class="content-item__img">
                    <span>
                      <picture>
                        <source media="(max-width: 360px)"
                           srcset="${mastheadExtend.mobilePhoneScreenShotImagePath}"/>
                        <source media="(max-width: 576px)"
                           srcset="${mastheadExtend.mobilePhoneScreenShotImagePath}"/>
                        <source media="(min-width: 1080px)"
                           srcset="${mastheadExtend.webPhoneScreenShotImagePath}"/>
                        <source media="(min-width: 1200px)"
                           srcset="${mastheadExtend.webPhoneScreenShotImagePath}"/>
                        <img alt="${mastheadExtend.phoneScreenshotImageAltText}"
                           src="${mastheadExtend.webPhoneScreenShotImagePath}">
                      </picture>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-gallery__aticle" data-sly-list.articleImage=${mastheadExtend.mastheadExtendCardArticleImageList}>
              <div class="card-gallery__aticle-item">
                <div class="aticle-item__transparent">
                  <div class="aticle-item__transparent-content">
                    <div class="transparent-content__img">
                      <span>
                          <picture>
                            <source media="(max-width: 360px)"
                                srcset="${articleImage.mobileCardArticleImagePath}"/>
                            <source media="(max-width: 576px)"
                                srcset="${articleImage.mobileCardArticleImagePath}"/>
                            <source media="(min-width: 1080px)"
                                srcset="${articleImage.webCardArticleImagePath}"/>
                            <source media="(min-width: 1200px)"
                                srcset="${articleImage.webCardArticleImagePath}"/>
                            <img alt="${articleImage.cardArticleImageAltText}"
                                src="${articleImage.webCardArticleImagePath}">
                          </picture>
                      </span>
                    </div>
                    <div class="transparent-content__text">
                      ${articleImage.cardArticleTitle @ context='html'}
                      <div class="transparent-content__text-body">
                        ${articleImage.cardArticleDescrition @ context='html'}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
        
    </sly>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>