<sly
        data-sly-use.anchor="com.kemin.redesign.core.models.anchor.Anchor"
        data-sly-use.template="core/wcm/components/commons/v1/templates.html"
        data-sly-test.anchorListItem="${anchor.anchorItems.size == 0}"></sly>
<sly data-sly-call="${template.placeholder @ isEmpty=anchorListItem, classAppend='cmp-title'}"></sly>
<div class="sticky-anchor-container">
    <sly data-sly-test="${!anchorListItem}">

        <div class="sticky-anchor-position ">
            <div class="anchor-navbar-desktop  ">
                <div class="anchor-menu ">
                    <div class="container sticky-anchor-items"  >
                        <sly data-sly-repeat.anchorLink="${anchor.anchorItems}">
                            <a data-cta="${anchorLink.title}" data-at="Anchor" data-nav="Body" data-cta-type="link" class="nav-link anchor-rectangle anchor-background" href="#anchor-${anchorLink.id}"> 
                                <div class="nav-item anchor-nav-link anchor-text-container ">
                                    <span class="anchor-nav-text">${anchorLink.title}</span>
                                </div>
                            </a>
                        </sly>
                    </div>
                    <div class="anchor-peddle">
                        <div class="anchor-direction">
                            <div class="anchor-left peddle">
                                <span class="icon-chevron-left hidden anchor-left-angle"></span>
                            </div>
                            <div class="anchor-right peddle">
                                <span class="icon-chevron-right anchor-right-angle"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </sly>
</div>