<form id="dropdowns" class="compability-check" action="index.html" data-success-msg="${properties.successMsg}">
    <script data-sly-use.model="com.dish.dopweb.core.models.CompatibleDevices">
        window.deviceCompatibility = JSON.parse("${model.devices @ context='scriptString'}");
    </script>
    <div class="input-container">
        <div class="custom-dropdown">
            <div class="wrapper">
                <label class="blank-field-input-label"><span>${'Brand' @ i18n}</span></label>
                <div class="selected" data-val="">
                    <div class="dp-val1">${'Please select a brand' @ i18n}</div>
                </div>
            </div>
            <ul class="custom-dropdown-list" id="brand2">
                <li data-val="0">
                    <div class="dp-val1">${'Please select a brand' @ i18n}</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="input-container">
        <div class="custom-dropdown">
            <div class="wrapper">
                <label class="blank-field-input-label"><span>${'Model' @i18n}</span></label>
                <div class="selected" data-val="" id="modelFamilyPlaceholder">
                    <div class="dp-val1">${'Please select a model' @ i18n}</div>
                </div>
            </div>
            <ul class="custom-dropdown-list" id="modelFamily2">
                <li data-val="0">
                    <div class="dp-val1">${'Please select a model' @ i18n}</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="input-container">
        <div class="custom-dropdown">
            <div class="wrapper">
                <label class="blank-field-input-label"><span>${'Device' @i18n}</span></label>
                <div class="selected" data-val="" id="modelPlaceholder">
                    <div class="dp-val1">${'Please select a device' @ i18n}</div>
                </div>
            </div>
            <ul class="custom-dropdown-list" id="model2">
                <li data-val="0">
                    <div class="dp-val1">${'Please select a device' @ i18n}</div>
                </li>
            </ul>
        </div>
    </div>
</form>
<div id="devicetxt"><input type="checkbox" id="checkbox" checked/>
    <label for="checkbox"></label>
    <p class="sucesstxt">${'your device is compatible' @ i18n}</p>
</div>