.fdn-hero-banner {
   	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8em;

    .content-div{
        h2{
            font-size: 3em;
            margin: 0;
            font-family: 'u.s._101regular';
        }
        h3{
           
            font-size: 1.2em;
            margin: 0 0 0.5em;
        }
        padding: 1.75em;
        font-family: 'Lato', sans-serif;
        font-size: 1.1em;
        line-height: 1.42857;
        margin-bottom: 2em;
        *{
            margin: 0;
        }
    }
    @media (min-width: 768px){
        .content-div-left{
            width:35%;
        }
    }
   @media (max-width: 767px) {
        padding: 2em !important;
    }
   @media (min-width: 768px) and (max-width: 1200px) {
        padding: 4em !important;
    }
    &.banner-1{
        .content-div{
            background: rgba(0,0,0,0.8);
            color: #fff;
            font-weight: 500;
        }
    }
    &.banner-2{
        .content-div{
            background: rgba(255, 255, 255, 0.8);
        color: #000;
        h2{
            font-size: 2em;
            font-family: 'u.s._101regular';
            color: #e74d46;
        }
        h3{
           
            font-size: 1.2em;
            margin: 0 0 0.5em;
        }
        }
    }
}
.fdn-hero-banner-left {
    padding-left: 1em!important;
}

.center-parent-container{
    position: relative;
}
.center-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}