<div data-sly-use.accordion="com.adobe.cq.wcm.core.components.models.Accordion"
    data-sly-use.tcbAccordion="com.techcombank.core.models.AccordionModel"
    data-panelcontainer="${wcmmode.edit && 'accordion'}"
    id="${accordion.id}"
    data-cmp-is="accordion"
    data-cmp-single-expansion="${accordion.singleExpansion}"
    data-placeholder-text="${wcmmode.edit && 'Please drag Accordion item components here' @ i18n}">
    <section class="accordion-component">
        <!-- content-wrapper 1440px -->
        <div class="card-product-feature__container"
        data-sly-set.items="${accordion.children || accordion.items}"
        data-cmp-hook-accordion="item"
        data-sly-test.hasContent="${items.size > 0}"
        id="${item.id}"
        data-cmp-expanded="${item.name in accordion.expandedItems}">
          <div class="card-product-feature__item__container">
            <div class="card-product-feature__item" data-sly-repeat.item="${items}">
              <div class="card-product-feature__item__wrapper">
                <div class="card-product-feature__item__img__wrapper">
                  <picture>
                    <source media="(max-width: 360px)"
                       srcset="${tcbAccordion.iconImages[itemList.index].mobileIconSrcOff}"/>
                    <source media="(max-width: 576px)"
                       srcset="${tcbAccordion.iconImages[itemList.index].mobileIconSrcOff}"/>
                    <source media="(min-width: 1080px)"
                       srcset="${tcbAccordion.iconImages[itemList.index].webIconSrcOff}"/>
                    <source media="(min-width: 1200px)"
                       srcset="${tcbAccordion.iconImages[itemList.index].webIconSrcOff}"/>
                    <img alt="${item.altText}" class="card-product-feature__item__img__off"
                       src="${tcbAccordion.iconImages[itemList.index].webIconSrcOff}">
                  </picture>
                  <picture>
                    <source media="(max-width: 360px)"
                       srcset="${tcbAccordion.iconImages[itemList.index].mobileIconSrcOn}"/>
                    <source media="(max-width: 576px)"
                       srcset="${tcbAccordion.iconImages[itemList.index].mobileIconSrcOn}"/>
                    <source media="(min-width: 1080px)"
                       srcset="${tcbAccordion.iconImages[itemList.index].webIconSrcOn}"/>
                    <source media="(min-width: 1200px)"
                       srcset="${tcbAccordion.iconImages[itemList.index].webIconSrcOn}"/>
                    <img alt="${item.altText}" class="card-product-feature__item__img__on"
                       src="${tcbAccordion.iconImages[itemList.index].webIconSrcOn}">
                  </picture>
                </div>
                <div class="card-product-feature__item__content__wrapper">
                  <div class="card-product-feature__item__content__title">${item.title}</div>
                  <div class="card-product-feature__item__content__icon">
                    <div class="card-product-feature__item__content__icon__on">
                      <span class="add popup__add-icon material-symbols-outlined">add</span>
                    </div>
                    <div class="card-product-feature__item__content__icon__off">
                      <span class="remove popup__remove-icon material-symbols-outlined">remove</span>
                    </div>
                  </div>
                </div>
              </div>
              <div data-sly-resource="${item.resource @ decorationTagName='div'}"
                data-cmp-hook-accordion="panel"
                id="${item.id}-panel"
                class="card-product-feature__item__description"
                role="region"
                aria-labelledby="${item.id}-button">
              </div>
            </div>
          </div>
        </div>
    </section>
    <sly data-sly-resource="${resource.path @ resourceType='wcm/foundation/components/parsys/newpar', appendPath='/*', decorationTagName='div', cssClassName='new section aem-Grid-newComponent'}"
         data-sly-test="${(wcmmode.edit || wcmmode.preview) && items.size < 1}"></sly>
</div>
