<div data-sly-use.model="com.techcombank.core.models.BlankEmbedModel"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-test.hasContent="${model.html}">
    <sly data-sly-test="${hasContent}">
        ${model.html @context='unsafe'}
    </sly>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>