<div class="accordion-container">
   <div class="accordion-title">Code Master</div>
   <div class="accordion" id="pdpAccordion">
      <div class="accordion-item">
         <h2 class="accordion-header" id="heading-1">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
               <p>Oxidation reduces the nutritional value of energy-rich lipids and increases fat-soluble vitamin susceptibility to destruction, thereby leaving animals vulnerable to disease and performance losses. ENDOX Dry Antioxidants are complete antioxidant systems formulated specifically to stabilize complete feeds and protect fat-soluble vitamins from degradation in concentrated mineral premixes.</p>
            </button>
         </h2>
         <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#pdpAccordion">
            <div class="accordion-body">
               <div class="column-control">
                  <div class="column-two-type">
                     <div class="container column-twenty-eighty">
                        <div class="row">
                           <div class="col-lg-2 col-md-12 col-sm-12">
                              <div class="text">
                                 <div data-cmp-data-layer="{&quot;text-43b9352b3d&quot;:{&quot;@type&quot;:&quot;kemin-redesign/components/text&quot;,&quot;xdm:text&quot;:&quot;<p><img src=\&quot;/content/dam/kemin-redesign/kemin_logo_white_bg.svg\&quot; alt=\&quot;\&quot;>&amp;nbsp;</p>\r\n&quot;,&quot;repo:modifyDate&quot;:&quot;2021-09-01T11:17:22Z&quot;}}" id="text-43b9352b3d" class="cmp-text">
                                    <p><img src="/content/dam/kemin-redesign/kemin_logo_white_bg.svg" alt="">&nbsp;</p>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-10 col-md-12 col-sm-12">
                              <div class="text">
                                 <div data-cmp-data-layer="{&quot;text-f0930a499b&quot;:{&quot;@type&quot;:&quot;kemin-redesign/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Oxidation reduces the&amp;nbsp;nutritional value of energy-rich lipids and increases fat-soluble vitamin susceptibility to destruction, thereby leaving animals vulnerable to disease and performance losses. ENDOX Dry Antioxidants are complete antioxidant systems formulated specifically to stabilize complete feeds and protect fat-soluble vitamins from degradation in concentrated mineral premixes.</p>\r\n<p><span class=\&quot;btn btn-primary\&quot;>Download</span></p>\r\n&quot;,&quot;repo:modifyDate&quot;:&quot;2021-09-01T11:17:48Z&quot;}}" id="text-f0930a499b" class="cmp-text">
                                    <p>Oxidation reduces the&nbsp;nutritional value of energy-rich lipids and increases fat-soluble vitamin susceptibility to destruction, thereby leaving animals vulnerable to disease and performance losses. ENDOX Dry Antioxidants are complete antioxidant systems formulated specifically to stabilize complete feeds and protect fat-soluble vitamins from degradation in concentrated mineral premixes.</p>
                                    <p><span class="btn btn-primary">Download</span></p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="accordion-item">
         <h2 class="accordion-header" id="heading-2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">
               <p>Oxidation reduces the nutritional value of energy-rich lipids and increases fat-soluble vitamin susceptibility to destruction, thereby leaving animals vulnerable to disease and performance losses. ENDOX Dry Antioxidants are complete antioxidant systems formulated specifically to stabilize complete feeds and protect fat-soluble vitamins from degradation in concentrated mineral premixes.</p>
            </button>
         </h2>
         <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="heading-2" data-bs-parent="#pdpAccordion">
            <div class="accordion-body">
               <div class="column-control">
                  <div class="column-two-type">
                     <div class="container column-twenty-eighty">
                        <div class="row">
                           <div class="col-lg-2 col-md-12 col-sm-12">
                              <div class="text">
                                 <div data-cmp-data-layer="{&quot;text-4a7bf130da&quot;:{&quot;@type&quot;:&quot;kemin-redesign/components/text&quot;,&quot;xdm:text&quot;:&quot;<p><img src=\&quot;/content/dam/kemin-redesign/kemin_logo_white_bg.svg\&quot; alt=\&quot;\&quot;>&amp;nbsp;</p>\r\n&quot;,&quot;repo:modifyDate&quot;:&quot;2021-09-01T11:17:22Z&quot;}}" id="text-4a7bf130da" class="cmp-text">
                                    <p><img src="/content/dam/kemin-redesign/kemin_logo_white_bg.svg" alt="">&nbsp;</p>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-10 col-md-12 col-sm-12">
                              <div class="text">
                                 <div data-cmp-data-layer="{&quot;text-ef43e8f31a&quot;:{&quot;@type&quot;:&quot;kemin-redesign/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Oxidation reduces the&amp;nbsp;nutritional value of energy-rich lipids and increases fat-soluble vitamin susceptibility to destruction, thereby leaving animals vulnerable to disease and performance losses. ENDOX Dry Antioxidants are complete antioxidant systems formulated specifically to stabilize complete feeds and protect fat-soluble vitamins from degradation in concentrated mineral premixes.</p>\r\n<p><span class=\&quot;btn btn-primary\&quot;>Download</span></p>\r\n&quot;,&quot;repo:modifyDate&quot;:&quot;2021-09-01T11:17:48Z&quot;}}" id="text-ef43e8f31a" class="cmp-text">
                                    <p>Oxidation reduces the&nbsp;nutritional value of energy-rich lipids and increases fat-soluble vitamin susceptibility to destruction, thereby leaving animals vulnerable to disease and performance losses. ENDOX Dry Antioxidants are complete antioxidant systems formulated specifically to stabilize complete feeds and protect fat-soluble vitamins from degradation in concentrated mineral premixes.</p>
                                    <p><span class="btn btn-primary">Download</span></p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>