<div class="sticky-anchor-container sticky-top">
    <div class="sticky-anchor-position">
        <div class="anchor-navbar-desktop">
            <div class="anchor-menu">
                <div class="container sticky-anchor-items"  >
                    <a class="nav-link anchor-rectangle anchor-background" href="#about">
                        <div class="nav-item anchor-nav-link">
                            <span class="anchor-nav-text">About Kemin</span>
                        </div>
                    </a>

                    <a class="nav-link anchor-rectangle anchor-background" href="#career">
                        <div class="anchor-nav-link">
                            <span class="anchor-nav-text">Career Path</span>
                        </div>
                    </a>

                    <a class="nav-link anchor-rectangle anchor-background" href="#testimonial">
                        <div class="anchor-nav-link">
                            <span class="anchor-nav-text">Testimonial</span>
                        </div>
                    </a>

                    <a class="nav-link anchor-rectangle anchor-background" href="#focus">
                        <div class="anchor-nav-link">
                            <span class="anchor-nav-text">Focus & Values</span>
                        </div>
                    </a>

                    <a class="nav-link anchor-rectangle anchor-background" href="#culture">
                        <div class="anchor-nav-link">
                            <span class="anchor-nav-text">Culture & Locations</span>
                        </div>
                    </a>

                    <a class="nav-link anchor-rectangle anchor-background" href="#history">
                        <div class="anchor-nav-link">
                            <span class="anchor-nav-text">History</span>
                        </div>
                    </a>
                </div>
                <div class="anchor-peddle">
                    <div class="anchor-direction">
                        <div class="anchor-left peddle">
                            <span class="icon-chevron-left hidden anchor-left-angle"></span>
                        </div>
                        <div class="anchor-right peddle">
                            <span class="icon-chevron-right anchor-right-angle"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="anchor-content-desktop">
    <div class="section" id="about">
        <h1>about</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident in dolorum, pariatur cum beatae exercitationem a sunt facere ipsum quisquam magnam asperiores, saepe autem, veritatis assumenda. Neque illum id est!</p>
    </div>
    <div class="section" id="career">
        <h1>career</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident in dolorum, pariatur cum beatae exercitationem a sunt facere ipsum quisquam magnam asperiores, saepe autem, veritatis assumenda. Neque illum id est!</p>
    </div>
    <div class="section" id="testimonial">
        <h1>testimonial</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident in dolorum, pariatur cum beatae exercitationem a sunt facere ipsum quisquam magnam asperiores, saepe autem, veritatis assumenda. Neque illum id est!</p>
    </div>
    <div class="section" id="focus">
        <h1>focus</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident in dolorum, pariatur cum beatae exercitationem a sunt facere ipsum quisquam magnam asperiores, saepe autem, veritatis assumenda. Neque illum id est!</p>
    </div>
    <div class="section" id="culture">
        <h1>culture</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident in dolorum, pariatur cum beatae exercitationem a sunt facere ipsum quisquam magnam asperiores, saepe autem, veritatis assumenda. Neque illum id est!</p>
    </div>
    <div class="section" id="history">
        <h1>history</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident in dolorum, pariatur cum beatae exercitationem a sunt facere ipsum quisquam magnam asperiores, saepe autem, veritatis assumenda. Neque illum id est!</p>
    </div>
</div>
