<!-- button on the right banner-->
<div class="container">
	<div class="banner-color">
		<div class="container-kemin">
			<div class="banner-container">
				<div class="row">

					<div class="col-md-8 col-sm text-md-right"><!-- left column-->
						<h3>How can we assist you? talk to you?</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremqande omnis iste nptatem laudan. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremqande omnis iste nptatem laudan. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremqande omnis iste nptatem laudan.</p>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremqande omnis iste nptatem laudan.</p>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremqande omnis iste nptatem laudan.</p>
					</div>

					<div class="col-md-4 col-md my-auto text-md-center"><!-- right column, center aligned button-->
						<button class="btn btn-primary inverse">CONTACT US</button>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- button on the left banner-->
<div class="container">
	<div class="banner-color">
		<div class="container-kemin">
			<div class="banner-container">
				<div class="row reverse">
                    
					<div class="col-md-4 col-md my-auto text-md-center"><!-- left column, center aligned button-->
						<button class="btn btn-primary inverse">CONTACT US</button>
					</div>

					<div class="col-md-8 col-sm text-md-right"> <!-- right column-->
						<h3>How can we assist you? talk to you?</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremqande omnis iste nptatem laudan. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremqande omnis iste nptatem laudan. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremqande omnis iste nptatem laudan.</p>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremqande omnis iste nptatem laudan.</p>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremqande omnis iste nptatem laudan.</p>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- full width banner with bg-color-->
<div class="container">
	<div class="banner-color">
		<div class="container-kemin">
			<div class="banner-container">
				<div class="row">

					<div class="col-md"> <!-- left column-->
						<h3>How can we assist you? talk to you?</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremqande omnis iste nptatem laudan. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremqande omnis iste nptatem laudan. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremqande omnis iste nptatem laudan.</p>
						<button class="btn btn-primary inverse">CONTACT US</button>
					</div>

					<div class="col-md"> <!-- right column-->
						<h3>How can we assist you? talk to you?</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremqande omnis iste nptatem laudan. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremqande omnis iste nptatem laudan. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremqande omnis iste nptatem laudan.</p>
						<input type="text" name="input_name" placeholder="placeholder" value="input_value">
						<select name="items_name">
							<option value="item 1">Item 1</option>
							<option value="item 2">Item 2</option>
							<option value="item 3">Item 3</option>
							<option value="item 3">Item 4</option>
						</select>
						<button class="btn btn-primary inverse">CONTACT US</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- full width banner with bg-image-->
<div class="container">
	<div class="banner-image">
		<div class="container-kemin">
			<div class="banner-container">
				<div class="row ">

					<div class="col-lg-4"><!-- left column-->
						<p class="banner-title">The Kemin Difference</p>
						<p class="body-medium">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>
						<button class="btn btn-primary inverse">Learn More About Kemin</button>
					</div>

					<div class="col-lg"><!-- right column-->
						<div class="row">
							<div class="col-sm text-center">
								<p class="banner-card-title">500</p>
								<p>countries served across</p> <a href="javascript:void(0)" class="inverse">Learn More</a>
							</div>
							<div class="col-sm text-center">
								<p class="banner-card-title">500</p>
								<p>countries served across 6 continents</p> <a href="javascript:void(0)" class="inverse">Learn More</a>
							</div>
							<div class="col-sm text-center">
								<p class="banner-card-title">500</p>
								<p>countries served across 6 continents</p> <a href="javascript:void(0)" class="inverse">Learn More</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>