<header>
    <div class="container-fuild base_header">
        <div class="container lang_header">
            <div class="container-kemin">
                <div class="header-top-bar">
                    <div id="header-location">
                        <div id="map_heading" class="map_heading">
                            <p class="pading-header"><span class="icon-globe"></span><span class="text_map">You are
                                    viewing</span>
                                <span>
                                    <a id="kemin-user-location" href="#" data-location="Sub-Saharan Africa">Sub-Saharan Africa</a>
                                    <span id="icon-button-lang" class="icon-chevron-down"></span>
                                </span>
                            </p>
                        </div>
                        <div id="map-dropdown" class="map_dropdown-none">
                            <!-- Desktop and Tablet -->
                            <div class="dropdown-content d-none d-md-block d-lg-block">
                                <div class="row">
                                    <div class="pad-right col-lg-3 col-md-3">
                                        <div class="map-title">
                                            A global presence with local expertise.Visit our regional sites:
                                        </div>
                                        <div class="country-links">
                                            <ul class="country-location-links">
                                                <li data-location-link="North America">
                                                    <div class="accordion">
                                                        <div class="accordion-item">
                                                            <div class="accordion-header" id="panelsStayOpen-location">
                                                                <button class="accordion-button" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#panelsStayOpen-locationOne"
                                                                    aria-expanded="true"
                                                                    aria-controls="panelsStayOpen-collapseOne">
                                                                    North America
                                                                </button>
                                                            </div>
                                                            <div id="panelsStayOpen-locationOne"
                                                                class="accordion-collapse collapse show"
                                                                aria-labelledby="panelsStayOpen-location">
                                                                <div class="accordion-body">
                                                                    <ul id="north-america-country">
                                                                        <li data-location-link="United States">
                                                                            United States</li>
                                                                        <li data-location-link="Canada">Canada</li>
                                                                        <li data-location-link="Mexico">Mexico</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li data-location-link="South America">South America</li>
                                                <li data-location-link="EMEA">EMEA</li>
                                                <li data-location-link="Sub-Saharan Africa">Sub-Saharan Africa</li>
                                                <li data-location-link="Russia">Russia</li>
                                                <li data-location-link="India">India</li>
                                                <li data-location-link="China">China</li>
                                                <li data-location-link="Asia Pacific">Asia Pacific</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9">
                                        <div id="img-map"></div>
                                        <map name="country">
                                    <area shape="poly" title="North America" coords="5,125,6,265,105,234,180,307,225,418,269,463,369,505,433,458,383,381,504,297,552,193,658,117,669,1,329,1"
                                    onclick="selectCountry('United States')">
                                    <area shape="poly" title="South America" coords="410,485,395,497,385,506,388,525,370,553,389,612,416,632,400,817,415,838,435,838,470,814,580,575,489,517,450,493"
                                    onclick="selectCountry('South America')">
                                    <area shape="poly" title="EMEA" coords="659,406,677,409,680,398,696,391,708,381,705,370,707,356,714,347,727,332,813,360,845,358,854,386,827,385,823,432,847,435,866,428,888,440,904,478,936,463,953,455,967,436,955,421,942,429,917,398,930,389,936,405,955,409,974,418,973,390,970,359,950,356,934,363,922,336,897,324,893,339,872,336,850,337,831,329,843,301,861,304,881,292,867,282,850,273,845,248,830,236,831,219,843,194,840,178,838,138,830,32,758,39,610,174,692,240,670,273,696,292,678,324"
                                    onclick="selectCountry('EMEA')">
                                    <area shape="poly" title="Sub-Saharan Africa" coords="800,710,827,714,853,688,865,664,913,670,930,645,930,602,911,617,888,616,884,566,935,504,934,487,904,493,882,470,870,436,857,441,815,440,818,386,807,383,800,397,782,391,765,381,755,377,759,360,746,360,723,363,711,367,715,383,707,389,681,402,682,412,659,412,653,425,647,439,650,455,643,475,661,506,682,522,759,525,757,551,774,586,768,625,773,641,780,671"
                                    onclick="selectCountry('Sub-Saharan Africa')">
                                    <area shape="poly" title="Russia" coords="855,140,842,147,849,157,847,165,850,180,853,196,842,212,840,224,843,239,854,243,861,261,878,275,889,285,892,296,886,305,889,315,908,323,912,313,917,300,909,286,913,275,922,277,931,270,947,271,970,275,973,262,970,250,986,254,1005,247,1019,246,1027,252,1044,248,1057,270,1077,273,1093,275,1113,273,1132,275,1134,263,1148,267,1162,273,1184,281,1204,278,1223,277,1224,265,1244,255,1259,263,1263,277,1275,288,1293,288,1293,302,1279,313,1289,320,1325,301,1329,275,1328,261,1294,250,1371,220,1404,204,1388,232,1386,256,1386,271,1409,239,1415,215,1442,213,1477,194,1470,178,1490,166,1513,182,1521,171,1500,157,1492,127,1478,121,1463,140,1440,148,1406,140,1390,130,1359,127,1358,89,1304,80,1317,116,1290,124,1271,130,1259,119,1251,105,1240,112,1212,108,1196,85,1162,57,1125,24,1107,35,1146,77,1123,85,1097,92,1081,103,1065,108,1017,115,1005,73,993,26,932,15,915,34,926,40,973,42,992,76,959,82,946,99,939,116,950,130,955,144,922,138,905,148,889,153"
                                    onclick="selectCountry('Russia')">
                                    <area shape="poly" title="India" coords="966,310,957,313,957,335,944,339,947,352,974,358,976,387,985,413,980,420,997,418,1015,431,1015,440,1027,435,1028,464,1038,482,1047,504,1061,513,1107,436,1117,413,1128,405,1119,402,1107,409,1093,410,1076,405,1059,398,1046,382,1047,370,1034,362,1031,351,1027,340,1039,333,1050,328,1034,324,1027,331,1019,332,1012,336,1001,337,994,328,982,323,973,323"
                                    onclick="selectCountry('India')">
                                    <area shape="poly" title="China" coords="916,282,935,274,977,278,980,256,1012,248,1026,258,1040,256,1054,275,1073,279,1085,285,1115,279,1132,283,1138,271,1150,275,1155,282,1163,281,1181,288,1201,282,1216,286,1228,274,1231,263,1252,265,1256,278,1269,289,1288,294,1282,308,1273,323,1270,336,1261,343,1266,362,1284,364,1312,337,1320,309,1336,321,1315,366,1275,385,1259,371,1254,354,1247,343,1232,348,1232,339,1219,347,1225,356,1238,356,1225,367,1231,383,1235,397,1227,412,1217,425,1200,432,1188,440,1175,439,1167,427,1148,432,1134,424,1136,408,1124,396,1109,404,1085,405,1065,391,1053,383,1048,364,1036,354,1032,342,1061,328,1039,321,1028,325,1012,329,1001,332,993,319,978,319,965,305,955,310,953,331,942,324,935,313,944,309,940,297,927,300,917,290"
                                    onclick="selectCountry('China')">
                                    <area shape="poly" title="Asia Pacific" coords="1132,404,1131,411,1121,412,1120,425,1109,441,1120,466,1121,515,1136,537,1159,569,1200,588,1248,592,1296,601,1259,611,1221,645,1201,659,1205,689,1204,713,1224,715,1243,711,1277,701,1296,717,1317,735,1339,763,1427,782,1440,789,1467,753,1477,734,1455,716,1369,678,1338,624,1324,599,1358,595,1366,565,1329,558,1286,547,1258,508,1252,487,1239,457,1234,422"
                                    onclick="selectCountry('Asia Pacific')">
                                  </map>
                                  <script>
                                    function selectCountry(value){
                                      $(".country-links").find('li[data-location-link="' + value + '"]').click();
                                    }
                                  </script>
                                    </div>
                                </div>
                            </div>
                            <!-- Mobile Only -->
                            <div class="dropdown-content d-md-none d-lg-none">
                                <div class="row">
                                    <div class="title-location-mobile">
                                        <h3>A global presence with local expertise.Visit our regional sites:</h3>
                                    </div>

                                    <div class="col-6 country-north-america">
                                        <img class="country-north-noactive"
                                            src="/src/main/webpack/resources/images/north-america-mobile.svg"
                                            alt="north-america-noactive">
                                        <img class="country-north-active"
                                            src="/src/main/webpack/resources/images/north-america-selected-mobile.svg"
                                            alt="north-america-active">
                                        <div>
                                            <div class="accordion">
                                                <div class="accordion-item">
                                                    <div class="accordion-header" id="panelsStayOpen-location">
                                                        <button class="accordion-button" type="button"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#panelsStayOpen-locationOne"
                                                            aria-expanded="true"
                                                            aria-controls="panelsStayOpen-collapseOne">
                                                            North America
                                                        </button>
                                                    </div>
                                                    <div id="panelsStayOpen-locationOne"
                                                        class="accordion-collapse collapse show"
                                                        aria-labelledby="panelsStayOpen-location">
                                                        <div class="accordion-body">
                                                            <ul id="north-america-country"
                                                                class="north-america-mobile-locations">
                                                                <li class="location-map-title"
                                                                    data-location-link="United States">United States
                                                                </li>
                                                                <li class="location-map-title"
                                                                    data-location-link="Canada">Canada</li>
                                                                <li class="location-map-title"
                                                                    data-location-link="Mexico">Mexico</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 country-south-america">
                                        <img class="country-south-noactive"
                                            src="/src/main/webpack/resources/images/south-america-mobile.svg"
                                            alt="north-america-noactive">
                                        <img class="country-south-active"
                                            src="/src/main/webpack/resources/images/south-america-selected-mobile.svg"
                                            alt="north-america-active">
                                        <div class="location-map-title" data-location-link="South America">
                                            South America
                                        </div>
                                    </div>
                                    <div class="col-6 country-emea">
                                        <img class="country-emea-noactive"
                                            src="/src/main/webpack/resources/images/emea-mobile.svg"
                                            alt="north-america-noactive">
                                        <img class="country-emea-active"
                                            src="/src/main/webpack/resources/images/emea-selected-mobile.svg"
                                            alt="north-america-active">
                                        <div class="location-map-title" data-location-link="EMEA">
                                            EMEA
                                        </div>
                                    </div>
                                    <div class="col-6 country-south-africa">
                                        <img class="country-africa-noactive"
                                            src="/src/main/webpack/resources/images/south-africa-mobile.svg"
                                            alt="Africa">
                                        <img class="country-africa-active"
                                            src="/src/main/webpack/resources/images/south-africa-selected-mobile.svg"
                                            alt="Africa">
                                        <div class="location-map-title" data-location-link="Sub-Saharan Africa">
                                            Sub-Saharan Africa
                                        </div>
                                    </div>
                                    <div class="col-6 country-russia">
                                        <img class="country-russia-noactive"
                                            src="/src/main/webpack/resources/images/russia-mobile.svg" alt="Russia">
                                        <img class="country-russia-active"
                                            src="/src/main/webpack/resources/images/russia-selected-mobile.svg"
                                            alt="Russia">
                                        <div class="location-map-title" data-location-link="Russia">
                                            Russia
                                        </div>
                                    </div>
                                    <div class="col-6 country-india">
                                        <img class="country-india-noactive"
                                            src="/src/main/webpack/resources/images/india-mobile.svg" alt="India">
                                        <img class="country-india-active"
                                            src="/src/main/webpack/resources/images/india-selected-mobile.svg"
                                            alt="India">
                                        <div class="location-map-title" data-location-link="India">
                                            India
                                        </div>
                                    </div>
                                    <div class="col-6 country-china">
                                        <img class="country-china-noactive"
                                            src="/src/main/webpack/resources/images/china-mobile.svg" alt="China">
                                        <img class="country-china-active"
                                            src="/src/main/webpack/resources/images/china-selected-mobile.svg"
                                            alt="China">
                                        <div class="location-map-title" data-location-link="China">
                                            China
                                        </div>
                                    </div>
                                    <div class="col-6 country-asia">
                                        <img class="country-asia-noactive"
                                            src="/src/main/webpack/resources/images/asiapacific-mobile.svg" alt="Asia">
                                        <img class="country-asia-active"
                                            src="/src/main/webpack/resources/images/asiapacific-selected-mobile.svg"
                                            alt="Asia">
                                        <div class="location-map-title" data-location-link="Asia Pacific">
                                            Asia Pacific
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="location-model-header" tabindex="-1" aria-labelledby="ModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="open-new-tab">
                                        <img src="/src/main/webpack/resources/images/open-in-new.svg" alt="">
                                    </div>
                                    <div class="modal-header-title">
                                        <!-- Title data comes bases on user link selection from js file -->
                                    </div>
                                </div>
                                <div id="locations-modal-footerbutton" class="modal-footer">
                                    <!-- dynamic buttons come from js -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="map_heading">
                        <div class="lang_heading">
                            <p data-bs-toggle="modal" data-bs-target="#location-model-header"><span class="icon-translate"></span><a href="#">English</a><span
                                    class="icon-chevron-down"></span></p>
                        </div>
                        <div class="lang_drop">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fuild header_section_logo">
        <div class="container-kemin logo_section">
            <div class="row">
                <div class="col-lg-6 col-md-7 self-align  ">
                    <div class="row logo_header">
                        <div class="logo">
                            <img src="/content/dam/kemin-redesign/kemin_logo_white_bg.svg" alt="kemin Logo"
                                title="Kemin Logo" />
                        </div>
                        <!--Added Dropdownlink-->
                        <div class="header_drpdwn_link">
                            <div class="header-link">
                                <a href="javascript:void(0)" class="product-link">
                                    PRODUCTS <br>
                                    <span class="icon-chevron-down"></span>
                                </a>
                                <div class="header_mega_menu">
                                    <div class="mega_menu">
                                        <div class="col">
                                            <span class="thumbnail_dropdown_icon">
                                                <img src="/src/main/webpack/resources/images/icons_animal_white.svg">
                                            </span>
                                            <h4>Animal Nutrition</h4>
                                            <ul>
                                                <li><a href="#">Animal Nutrition & Health</a></li>
                                                <li><a href="#">Pet Food & Rendering Technologies</a></li>
                                                <li><a href="#">Aquaculture</a></li>
                                                <li><a href="#">Ruminants</a></li>
                                            </ul>
                                        </div>
                                        <div class="col">
                                            <span class="thumbnail_dropdown_icon">
                                                <img src="/src/main/webpack/resources/images/icons_human_white.svg">
                                            </span>
                                            <h4>Human Health</h4>
                                            <ul>
                                                <li><a href="#">Food Technologies</a></li>
                                                <li><a href="#">Human Nutrition & Health</a></li>
                                                <li><a href="#">Hemp</a></li>
                                            </ul>
                                        </div>
                                        <div class="col">
                                            <span class="thumbnail_dropdown_icon">
                                                <img src="/src/main/webpack/resources/images/icons_crop_white.svg">
                                            </span>
                                            <h4>Crop Science</h4>
                                            <ul>
                                                <li><a href="#">Crop Technologies</a></li>
                                            </ul>
                                        </div>
                                        <div class="col">
                                            <span class="thumbnail_dropdown_icon">
                                                <img src="/src/main/webpack/resources/images/icons_biofuel_white.svg">
                                            </span>
                                            <h4>Biofuels</h4>
                                            <ul>
                                                <li><a href="#">Ethanol Industry Products</a></li>
                                                <li><a href="#">Biodiesel Industry Products</a></li>
                                                <li><a href="#">Enzymes</a></li>
                                            </ul>
                                        </div>
                                        <div class="col">
                                            <span class="thumbnail_dropdown_icon">
                                                <img src="/src/main/webpack/resources/images/icons_textile_white.svg">
                                            </span>
                                            <h4>Textiles</h4>
                                            <ul>
                                                <li><a href="#">Textile Auxiliaries</a></li>
                                            </ul>
                                        </div>
                                        <div class="mega_menu_featured">
                                            <h4>Featured Products</h4>
                                            <div class="featured_column">
                                                <div class="count">
                                                    <ul class="countList">
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-link">
                                <a href="javascript:void(0)" class="services-link">
                                    SERVICES <br>
                                    <span class="icon-chevron-down"></span>
                                </a>
                                <div class="header_mega_menu">
                                    <div class="services_mega_position">
                                        <div class="col">
                                            <span class="thumbnail_dropdown_icon">
                                                <img src="/src/main/webpack/resources/images/icons_animal_white.svg">
                                            </span>
                                            <h4>Animal Nutrition</h4>
                                            <ul>
                                                <li><a href="#">Animal Nutrition & Health</a></li>
                                                <li><a href="#">Pet Food & Rendering Technologies</a></li>
                                                <li><a href="#">Aquaculture</a></li>
                                                <li><a href="#">Ruminants</a></li>
                                            </ul>
                                        </div>
                                        <div class="col">
                                            <span class="thumbnail_dropdown_icon">
                                                <img src="/src/main/webpack/resources/images/icons_human_white.svg">
                                            </span>
                                            <h4>Human Health</h4>
                                            <ul>
                                                <li><a href="#">Food Technologies</a></li>
                                                <li><a href="#">Human Nutrition & Health</a></li>
                                                <li><a href="#">Hemp</a></li>
                                            </ul>
                                        </div>
                                        <div class="col">
                                            <span class="thumbnail_dropdown_icon">
                                                <img src="/src/main/webpack/resources/images/icons_crop_white.svg">
                                            </span>
                                            <h4>Crop Science</h4>
                                            <ul>
                                                <li><a href="#">Crop Technologies</a></li>
                                            </ul>
                                        </div>
                                        <div class="col">
                                            <span class="thumbnail_dropdown_icon">
                                                <img src="/src/main/webpack/resources/images/icons_biofuel_white.svg">
                                            </span>
                                            <h4>Biofuels</h4>
                                            <ul>
                                                <li><a href="#">Ethanol Industry Products</a></li>
                                                <li><a href="#">Biodiesel Industry Products</a></li>
                                                <li><a href="#">Enzymes</a></li>
                                            </ul>
                                        </div>
                                        <div class="col">
                                            <span class="thumbnail_dropdown_icon">
                                                <img src="/src/main/webpack/resources/images/icons_textile_white.svg">
                                            </span>
                                            <h4>Textiles</h4>
                                            <ul>
                                                <li><a href="#">Textile Auxiliaries</a></li>
                                            </ul>
                                        </div>
                                        <div class="mega_menu_featured">
                                            <h4>Featured Products</h4>
                                            <div class="featured_column">
                                                <div class="count">
                                                    <ul class="countList">
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" d-none d-sm-block lg-search self-align">
                            <div class="search_icon">
                                <span class="icon-search"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5 col-12 xs-drop">
                    <nav class="navbar navbar-expand-md">
                        <a href="#" class="xs-show"><img src="/content/dam/kemin-redesign/kemin_logo_white_bg.svg"
                                alt="kemin Logo" title="Kemin Logo" /></a>
                        <div class="header_drpdwn_link">
                            <div class="header-link">
                                <a href="javascript:void(0)" class="product-link">
                                    PRODUCTS <br>
                                    <span class="icon-chevron-down"></span>
                                </a>
                                <div class="header_mega_menu">
                                    <div class="mega_menu">
                                        <div class="col">
                                            <span class="thumbnail_dropdown_icon">
                                                <img src="/src/main/webpack/resources/images/icons_animal_white.svg">
                                            </span>
                                            <h4>Animal Nutrition</h4>
                                            <ul>
                                                <li><a href="#">Animal Nutrition & Health</a></li>
                                                <li><a href="#">Pet Food & Rendering Technologies</a></li>
                                                <li><a href="#">Aquaculture</a></li>
                                                <li><a href="#">Ruminants</a></li>
                                            </ul>
                                        </div>
                                        <div class="col">
                                            <span class="thumbnail_dropdown_icon">
                                                <img src="/src/main/webpack/resources/images/icons_human_white.svg">
                                            </span>
                                            <h4>Human Health</h4>
                                            <ul>
                                                <li><a href="#">Food Technologies</a></li>
                                                <li><a href="#">Human Nutrition & Health</a></li>
                                                <li><a href="#">Hemp</a></li>
                                            </ul>
                                        </div>
                                        <div class="col">
                                            <span class="thumbnail_dropdown_icon">
                                                <img src="/src/main/webpack/resources/images/icons_crop_white.svg">
                                            </span>
                                            <h4>Crop Science</h4>
                                            <ul>
                                                <li><a href="#">Crop Technologies</a></li>
                                            </ul>
                                        </div>
                                        <div class="col">
                                            <span class="thumbnail_dropdown_icon">
                                                <img src="/src/main/webpack/resources/images/icons_biofuel_white.svg">
                                            </span>
                                            <h4>Biofuels</h4>
                                            <ul>
                                                <li><a href="#">Ethanol Industry Products</a></li>
                                                <li><a href="#">Biodiesel Industry Products</a></li>
                                                <li><a href="#">Enzymes</a></li>
                                            </ul>
                                        </div>
                                        <div class="col">
                                            <span class="thumbnail_dropdown_icon">
                                                <img src="/src/main/webpack/resources/images/icons_textile_white.svg">
                                            </span>
                                            <h4>Textiles</h4>
                                            <ul>
                                                <li><a href="#">Textile Auxiliaries</a></li>
                                            </ul>
                                        </div>
                                        <div class="mega_menu_featured">
                                            <h4>Featured Products</h4>
                                            <div class="featured_column">
                                                <div class="count">
                                                    <ul class="countList">
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-link">
                                <a href="javascript:void(0)" class="services-link">
                                    SERVICES <br>
                                    <span class="icon-chevron-down"></span>
                                </a>
                                <div class="header_mega_menu">
                                    <div class="services_mega_position">
                                        <div class="col">
                                            <span class="thumbnail_dropdown_icon">
                                                <img src="/src/main/webpack/resources/images/icons_animal_white.svg">
                                            </span>
                                            <h4>Animal Nutrition</h4>
                                            <ul>
                                                <li><a href="#">Animal Nutrition & Health</a></li>
                                                <li><a href="#">Pet Food & Rendering Technologies</a></li>
                                                <li><a href="#">Aquaculture</a></li>
                                                <li><a href="#">Ruminants</a></li>
                                            </ul>
                                        </div>
                                        <div class="col">
                                            <span class="thumbnail_dropdown_icon">
                                                <img src="/src/main/webpack/resources/images/icons_human_white.svg">
                                            </span>
                                            <h4>Human Health</h4>
                                            <ul>
                                                <li><a href="#">Food Technologies</a></li>
                                                <li><a href="#">Human Nutrition & Health</a></li>
                                                <li><a href="#">Hemp</a></li>
                                            </ul>
                                        </div>
                                        <div class="col">
                                            <span class="thumbnail_dropdown_icon">
                                                <img src="/src/main/webpack/resources/images/icons_crop_white.svg">
                                            </span>
                                            <h4>Crop Science</h4>
                                            <ul>
                                                <li><a href="#">Crop Technologies</a></li>
                                            </ul>
                                        </div>
                                        <div class="col">
                                            <span class="thumbnail_dropdown_icon">
                                                <img src="/src/main/webpack/resources/images/icons_biofuel_white.svg">
                                            </span>
                                            <h4>Biofuels</h4>
                                            <ul>
                                                <li><a href="#">Ethanol Industry Products</a></li>
                                                <li><a href="#">Biodiesel Industry Products</a></li>
                                                <li><a href="#">Enzymes</a></li>
                                            </ul>
                                        </div>
                                        <div class="col">
                                            <span class="thumbnail_dropdown_icon">
                                                <img src="/src/main/webpack/resources/images/icons_textile_white.svg">
                                            </span>
                                            <h4>Textiles</h4>
                                            <ul>
                                                <li><a href="#">Textile Auxiliaries</a></li>
                                            </ul>
                                        </div>
                                        <div class="mega_menu_featured">
                                            <h4>Featured Products</h4>
                                            <div class="featured_column">
                                                <div class="count">
                                                    <ul class="countList">
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                        <li><a href="#">Lorem ipsum dolor sit</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#collapsibleNavbar" id="loseFocus">
                            <span class="icon-menu"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="collapsibleNavbar">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><span class="icon-account"></span> Sign In </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Product Catalog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">News</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Contact Us</a>
                                </li>
                            </ul>
                            <div class="search-container">
                                <form>
                                    <input type="text" placeholder="Enter Keywords.." name="search">
                                    <button type="submit"><span class="icon-search"></span></button>
                                </form>
                            </div>
                            <div class="popular_searches">
                                <h3>Popular Searches</h3>
                                <ul>
                                    <li><a href="#">Lorem ipsum dolor</a></li>
                                    <li><a href="#">sit amet consectetur adipisicing</a></li>
                                    <li><a href="#">elit Maxime dolores </a></li>
                                    <li><a href="#">veniam laboriosam similique</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fuild search_box">
        <div class="search_box_container">
            <div class="row">
                <div class="container-kemin">
                    <form class="search_input">
                        <input type="text" placeholder="Enter Keywords.." name="search">
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
            <div class="row popular_bg">
                <div class="container-kemin">
                    <div class="popular_searches">
                        <h3>Popular Searches</h3>
                        <div class="row">
                            <div class="col">
                                <ul>
                                    <li><a href="#">Lorem ipsum dolor</a></li>
                                    <li><a href="#">sit amet consectetur adipisicing</a></li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul>
                                    <li><a href="#">Lorem ipsum dolor</a></li>
                                    <li><a href="#">sit amet consectetur adipisicing</a></li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul>
                                    <li><a href="#">Lorem ipsum dolor</a></li>
                                    <li><a href="#">sit amet consectetur adipisicing</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>