<div class="container-kemin">
    <div class="blogcatalogue feature-content">
        <div class="feature-heading">
            <div class="h2-home"> Blog Page </div>
        </div>
        <div class="feature-text">
            <p class="body-medium">ommodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo</p>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <div class="blog_post">
                    <h2>Recent Posts</h2>
                </div>    
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12  col-xs-12">
                <div class="kemin-root-accordian filter-blog-checkbox">
                    <div class="kemkin-pdp-accordian kemin-navigation-mobile">
                        <div class="outer-container-accordian">
                            <div class="accordion accordion-flush">
                                <div class="accordion-item navigation-item-xs">
                                    <h2 class="accordion-header" id="flush-headingOne">
                                        <div class="kemin-navigation-mobile">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                                    aria-controls="flush-collapseOne">
                                                <span class="right-triangle">
                                                </span>
                                                <span class="img-dynamic">
                                                    <!-- based on the AEM page thumnal the icon here:  -->
                                                    <img src="#">
                                                </span>
                                                Filter Results
                                            </button>
                                        </div>
                                    </h2>
                                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                        <div class="inner-container-accordian filter-wrap">
                                            <div class="filter-checkbox">
                                                <div class="filter-category">
                                                    <h2>Content Category:</h2>
                                                </div>    
                                            </div>
                                            <div class="check-filter-box">
                                                <ul>
                                                    <li class="checkin">
                                                        <input type="checkbox" name="checkbox_name">
                                                        <span aria-hidden="true" class="filter-item">Kemin.com</span>
                                                        <span aria-hidden="true" class="filter-value">(309)</span>    
                                                    </li>
                                                    <ul class="filter-sub-category">
                                                        <li class="sub-category-item">
                                                            <input type="checkbox" name="checkbox_name">
                                                            <span aria-hidden="true" class="filter-item">Kemin.com</span>
                                                            <span aria-hidden="true" class="filter-value">(309)</span>
                                                        </li>
                                                        <li class="sub-category-item">
                                                            <input type="checkbox" name="checkbox_name">
                                                            <span aria-hidden="true" class="filter-item">Kemin.com</span>
                                                            <span aria-hidden="true" class="filter-value">(309)</span>
                                                        </li>    
                                                    </ul>       
                                                </ul>
                                                <ul>
                                                    <li class="checkin">
                                                        <input type="checkbox" name="checkbox_name">
                                                        <span aria-hidden="true" class="filter-item">Kemin.com</span>
                                                        <span aria-hidden="true" class="filter-value">(309)</span>    
                                                    </li>    
                                                </ul>    
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>        
                        </div>            
                    </div>                
                </div>    
            </div>    
        </div>
        <!-- Feature Blog Container-->
        <div class="blogCatalogue-container clearfix">
                <div class="row">
                <!-- Feature Blog Card-->
                <div class="col-lg-4 col-md-6">
                    <div class="featureCatalogue">
                        <div class="feature-card"> <!-- card body--> 
                            <img src="/src/main/webpack/resources/images/image-card-3.jpg" alt="">
                            <div class="card-text">
                                <!-- only title-->
                                <p class="card-title">Application of Enzymes in Fish Feed for Profitable Fish Farming</p>
                                
                                <!-- show on hover link-->
                                <div class="more-text"> <a href=""><span class="icon-chevron-right"></span></a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Feature Blog Card-->
                <div class="col-lg-4 col-md-6">
                    <div class="featureCatalogue">
                        <div class="feature-card"> <!-- card body--> 
                            <img src="/src/main/webpack/resources/images/image-card-3.jpg" alt="">
                            <div class="card-text">
                                <!-- only title-->
                                <p class="card-title">Application of Enzymes in Fish Feed for Profitable Fish Farming</p>
                                
                                <!-- show on hover link-->
                                <div class="more-text"> <a href=""><span class="icon-chevron-right"></span></a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Feature Blog Card-->
                <div class="col-lg-4 col-md-6">
                    <div class="featureCatalogue">
                        <div class="feature-card"> <!-- card body--> 
                            <img src="/src/main/webpack/resources/images/image-card-3.jpg" alt="">
                            <div class="card-text">
                                <!-- only title-->
                                <p class="card-title">Application of Enzymes in Fish Feed for Profitable Fish Farming</p>
                                
                                <!-- show on hover link-->
                                <div class="more-text"> <a href=""><span class="icon-chevron-right"></span></a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Feature Blog Card-->
                <div class="col-lg-4 col-md-6">
                    <div class="featureCatalogue">
                        <div class="feature-card"> <!-- card body--> 
                            <img src="/src/main/webpack/resources/images/image-card-3.jpg" alt="">
                            <div class="card-text">
                                <!-- only title-->
                                <p class="card-title">Application of Enzymes in Fish Feed for Profitable Fish Farming</p>
                                
                                <!-- show on hover link-->
                                <div class="more-text"> <a href=""><span class="icon-chevron-right"></span></a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Feature Blog Card-->
                <div class="col-lg-4 col-md-6">
                    <div class="featureCatalogue">
                        <div class="feature-card"> <!-- card body--> 
                            <img src="/src/main/webpack/resources/images/image-card-3.jpg" alt="">
                            <div class="card-text">
                                <!-- only title-->
                                <p class="card-title">Application of Enzymes in Fish Feed for Profitable Fish Farming</p>
                                
                                <!-- show on hover link-->
                                <div class="more-text"> <a href=""><span class="icon-chevron-right"></span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>