
<div>
    <!-- Regular Button -->
    <button class="btn btn-primary" type="button"><span>Button</span></button>
    <button class="btn btn-secondary" type="button"><span>Button</span></button>
</div>

<div>
    <!-- Inverse Button -->
    <button class="btn btn-primary inverse" type="button">Button</button>
    <button class="btn btn-secondary inverse" type="button">Button</button>
</div>