
<div class="CTA-highlight">
    <div class="CTA-container">
        <div class="CTA-heading">
            Are you facing pet food manufacturing challenges?
        </div>
        <div class="CTA-link">
            <a href="#" class="CTA-link-item">Learn more about pet food safety ingredients <span class="icon-chevron-right CTA-link-item-icon"></span></a>

        </div>
    </div>
</div>