<div class="container-kemin">
	<div class="feature-content">
		<div class="feature-heading">
			<div class="h2-home"> Explore More From Kemin </div>
		</div>
		<div class="feature-container feature-flex">

			<div class="feature-card"> <!-- card body--> 
				<img src="/src/main/webpack/resources/images/image-card-1.jpg" alt=""> <!-- card bg image--> 
				<div class="card-text">
					<!-- only title-->
					<p class="card-title">Application of Enzymes in Fish Feed for Profitable Fish Farming</p>
					
					<!-- show on hover link-->
					<div class="more-text"> <a href=""><span class="icon-chevron-right"></span></a></div>
				</div>
			</div>

			<div class="feature-card "> <!-- card body--> 
				<img class="img-fluid" src="/src/main/webpack/resources/images/image-card-2.jpg" alt="">
				<div class="card-text">
					<!-- title with description -->
					<p class="card-title"> Service to Customers</p>
					<p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a>Learn more</a></p>
					
					<!-- show on hover link-->
					<div class="more-text"> <a href=""><span class="icon-chevron-right"></span></a></div>
				</div>
			</div>

			<div class="feature-card"> <!-- card body--> 
				<img src="/src/main/webpack/resources/images/image-card-3.jpg" alt="">
				<div class="card-text">
					<!-- only title-->
					<p class="card-title">Application of Enzymes in Fish Feed for Profitable Fish Farming</p>
					
					<!-- show on hover link-->
					<div class="more-text"> <a href=""><span class="icon-chevron-right"></span></a></div>
				</div>
			</div>

			<div class="feature-card">
				<img src="/src/main/webpack/resources/images/image-card-4.jpg" alt="">
				<div class="card-text">
					<p class="card-title">Application of Enzymes in Fish Feed for Profitable Fish Farming</p>
					<div class="more-text"> <a href=""><span class="icon-chevron-right"></span></a></div>
				</div>
			</div>
			
		</div>
	</div>
</div>