<div class="container-kemin">
    <div class="row">
        <!--Copy Code From Here-->
        <div class="col-md-5">            
            <div class="kemin-root-accordian filter-main-wrap d-none d-lg-block">
                <div class="kemkin-pdp-accordian  ">
                    <div class="outer-container-accordian">
                        <div class="hex-conatiner hexagon-wrapper">
                            <div id="color2" class="hexagon"> <span class="img-dynamic">
                                  <!-- based on the AEM page thumnal the icon here:  -->
                                  <img src="/content/kemin-redesign/us/en/search.thumb.png">
                                </span> </div>
                        </div>
                        <div class="inner-container-accordian filter-wrap">
                            <div class="pdp-accordian-title"> Filter Results </div>
                            <div class="filter-checkbox">
                                <div class="filter-category">
                                    <h2>Content Category:</h2>
                                </div>    
                            </div>
                            <div class="check-filter-box">
                                <ul>
                                    <li class="checkin">
                                        <input type="checkbox" name="checkbox_name">
                                        <span aria-hidden="true" class="filter-item">Kemin.com</span>
                                        <span aria-hidden="true" class="filter-value">(309)</span>    
                                    </li>
                                    <ul class="filter-sub-category">
                                        <li class="sub-category-item">
                                            <input type="checkbox" name="checkbox_name">
                                            <span aria-hidden="true" class="filter-item">Kemin.com</span>
                                            <span aria-hidden="true" class="filter-value">(309)</span>
                                        </li>
                                        <li class="sub-category-item">
                                            <input type="checkbox" name="checkbox_name">
                                            <span aria-hidden="true" class="filter-item">Kemin.com</span>
                                            <span aria-hidden="true" class="filter-value">(309)</span>
                                        </li>    
                                    </ul>       
                                </ul>
                                <ul>
                                    <li class="checkin">
                                        <input type="checkbox" name="checkbox_name">
                                        <span aria-hidden="true" class="filter-item">Kemin.com</span>
                                        <span aria-hidden="true" class="filter-value">(309)</span>    
                                    </li>    
                                </ul>    
                            </div>        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--To Here-->
        <div class="col-md-7">
        </div>    
    </div>
</div>