<div class="focus_anchor">
	<div class="focus_anchor_items">
		<div class="focus_anc_pre"> 
			<span class="icon-chevron-left pre_button"></span> 
		</div> 
		<span class="foucs_anch_heading">Explore by Focus:</span>
		<ul class="focus_item_links">
			<!--Add here Items-->
			<li><a href="javascript:void(0)">Aquaculture </a></li>
			<li><a href="javascript:void(0)">Beef</a></li>
			<li><a href="javascript:void(0)">Crops</a></li>
			<li><a href="javascript:void(0)">Dairy</a></li>
			<li><a href="javascript:void(0)">Equine</a></li>
			<li><a href="javascript:void(0)">Human</a></li>
			<li><a href="javascript:void(0)">Pets</a></li>
			<li><a href="javascript:void(0)">Poultry</a></li>
			<li><a href="javascript:void(0)">Swine</a></li>
		</ul>
		<div class="focus_anc_next"> 
			<span class="icon-chevron-right next_button"></span> 
		</div>
	</div>
</div>