<div class="kemin-main-footer image-right-corner">
    <div class="container-kemin">
        <div class="kemin-footer-topcontainer">
            <div class="footer-top-leftcontainer">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="logo">
                            <a href="#" title="logo" role="link">
                                <img src="/content/dam/kemin-redesign/kemin-logo-reversed.svg" role="img">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-12 col-sm-12
                        footer-top-middle-container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 footer_col_1">
                                <sly data-sly-resource="${ @path='column-1',
                                    resourceType='wcm/foundation/components/parsys'}">
                                </sly>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 footer_col_2">
                                <sly data-sly-resource="${ @path='column-2',
                                    resourceType='wcm/foundation/components/parsys'}">
                                </sly>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 footer_col_3">
                                <sly data-sly-resource="${ @path='column-3',
                                    resourceType='wcm/foundation/components/parsys'}">
                                </sly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-top-rightcontainer">
                <sly data-sly-resource="${ @path='column-4',
                    resourceType='wcm/foundation/components/parsys'}">
                </sly>
            </div>

        </div>
        <div class="footer-horizontal-line">
            <hr class="grey-border-line">
        </div>
        <div class="footer-multi-links pipe-separated-list-container">
            <ul>
                <li>ADA Accessibility (NA)</li>
                <li>Privacy Policy </li>
                <li>General Terms & Conditions for Vendors</li>
                <li>Kemin Terms & Conditions</li>
                <li>Indirect Cost Estimates </li>
                <li>Email Disclaimer</li>
                <li>California Supply Chain Act</li>
                <li>California Residents </li>
                <li>GDPR Personal Data Addendum</li>
                <li>Modern Slavery Act Transparency Statement</li>
            </ul>
            <div class="footer-disclaimer">
                © Kemin Industries, Inc. and its group of companies 2021 All
                rights reserved. ® ™ Trademarks of Kemin Industries, Inc., USA
                Certain statements may not be applicable in all geographical
                regions. Product labeling and associated claims may differ based
                upon government requirements.

            </div>
        </div>
    </div>
</div>
<div class="kemin-last-bottom-container">
    <div class="container-kemin">
        <div class="footer-country-links" data-page-path="${currentPage.getPath}"> 
            <ul>
                <li class="current-region">North America</li>
                <li>South America</li>
                <li>EMEA</li>
                <li>Sub-Saharan Africa</li>
                <li>Russia</li>
                <li>India</li>
                <li>China</li>
                <li>Asia Pacific</li>
            </ul>
        </div>
    </div>
</div>