<div class="container-kemin">
   <div class="prodt_serv_link">
      <div class="col-md-12">
         <div class="header_drpdwn_link">
            <div class="header-link">
               <a href="javascript:void(0)" class="product-link">
                  PRODUCTS <br>
                  <span class="icon-chevron-down"></span>
               </a>
               <div class="header_mega_menu">
                  <div class="mega_menu">
                     <div class="col">
                        <span class="thumbnail_dropdown_icon">
                           <img src="/src/main/webpack/resources/images/icons_animal_white.svg">
                        </span>
                        <h4>Animal Nutrition</h4>
                        <ul>
                           <li><a href="#">Animal Nutrition & Health</a></li>
                           <li><a href="#">Pet Food & Rendering Technologies</a></li>
                           <li><a href="#">Aquaculture</a></li>
                           <li><a href="#">Ruminants</a></li>
                        </ul>   
                     </div>
                     <div class="col">
                        <span class="thumbnail_dropdown_icon">
                           <img src="/src/main/webpack/resources/images/icons_human_white.svg">
                        </span>
                        <h4>Human Health</h4>
                        <ul>
                           <li><a href="#">Food Technologies</a></li>
                           <li><a href="#">Human Nutrition & Health</a></li>
                           <li><a href="#">Hemp</a></li>
                        </ul>
                     </div>
                     <div class="col">
                        <span class="thumbnail_dropdown_icon">
                           <img src="/src/main/webpack/resources/images/icons_crop_white.svg">
                        </span>
                        <h4>Crop Science</h4>
                        <ul>
                           <li><a href="#">Crop Technologies</a></li>
                        </ul>
                     </div>
                     <div class="col">
                        <span class="thumbnail_dropdown_icon">
                           <img src="/src/main/webpack/resources/images/icons_biofuel_white.svg">
                        </span>
                        <h4>Biofuels</h4>
                        <ul>
                           <li><a href="#">Ethanol Industry Products</a></li>
                           <li><a href="#">Biodiesel Industry Products</a></li>
                           <li><a href="#">Enzymes</a></li>
                        </ul>
                     </div>
                     <div class="col">
                        <span class="thumbnail_dropdown_icon">
                           <img src="/src/main/webpack/resources/images/icons_textile_white.svg">
                        </span>
                        <h4>Textiles</h4>
                        <ul>
                           <li><a href="#">Textile Auxiliaries</a></li>
                        </ul>
                     </div>
                     <div class="mega_menu_featured">
                        <h4>Featured Products</h4>
                        <div class="featured_column">
                           <div class="col">
                              <ul>
                                 <li><a href="#">Lorem ipsum dolor sit</a></li>
                                 <li><a href="#">Lorem ipsum dolor sit</a></li>
                              </ul>   
                           </div>
                           <div class="col">
                              <ul>
                                 <li><a href="#">Lorem ipsum dolor sit</a></li>
                                 <li><a href="#">Lorem ipsum dolor sit</a></li>
                              </ul>   
                           </div>
                           <div class="col">
                              <ul>
                                 <li><a href="#">Lorem ipsum dolor sit</a></li>
                                 <li><a href="#">Lorem ipsum dolor sit</a></li>
                              </ul>   
                           </div>
                        </div>   
                     </div>   
                  </div>   
               </div>   
            </div>
            <div class="header-link">
               <a href="javascript:void(0)" class="services-link">
                  SERVICES <br>
                  <span class="icon-chevron-down"></span>
               </a>
               <div class="header_mega_menu">
                  <div class="services_mega_position">
                     <div class="col">
                        <span class="thumbnail_dropdown_icon">
                           <img src="/src/main/webpack/resources/images/icons_animal_white.svg">
                        </span>
                        <h4>Animal Nutrition</h4>
                        <ul>
                           <li><a href="#">Animal Nutrition & Health</a></li>
                           <li><a href="#">Pet Food & Rendering Technologies</a></li>
                           <li><a href="#">Aquaculture</a></li>
                           <li><a href="#">Ruminants</a></li>
                        </ul>   
                     </div>
                     <div class="col">
                        <span class="thumbnail_dropdown_icon">
                           <img src="/src/main/webpack/resources/images/icons_human_white.svg">
                        </span>
                        <h4>Human Health</h4>
                        <ul>
                           <li><a href="#">Food Technologies</a></li>
                           <li><a href="#">Human Nutrition & Health</a></li>
                           <li><a href="#">Hemp</a></li>
                        </ul>
                     </div>
                     <div class="col">
                        <span class="thumbnail_dropdown_icon">
                           <img src="/src/main/webpack/resources/images/icons_crop_white.svg">
                        </span>
                        <h4>Crop Science</h4>
                        <ul>
                           <li><a href="#">Crop Technologies</a></li>
                        </ul>
                     </div>
                     <div class="col">
                        <span class="thumbnail_dropdown_icon">
                           <img src="/src/main/webpack/resources/images/icons_biofuel_white.svg">
                        </span>
                        <h4>Biofuels</h4>
                        <ul>
                           <li><a href="#">Ethanol Industry Products</a></li>
                           <li><a href="#">Biodiesel Industry Products</a></li>
                           <li><a href="#">Enzymes</a></li>
                        </ul>
                     </div>
                     <div class="col">
                        <span class="thumbnail_dropdown_icon">
                           <img src="/src/main/webpack/resources/images/icons_textile_white.svg">
                        </span>
                        <h4>Textiles</h4>
                        <ul>
                           <li><a href="#">Textile Auxiliaries</a></li>
                        </ul>
                     </div>
                     <div class="mega_menu_featured">
                        <h4>Featured Products</h4>
                        <div class="featured_column">
                           <div class="col">
                              <ul>
                                 <li><a href="#">Lorem ipsum dolor sit</a></li>
                                 <li><a href="#">Lorem ipsum dolor sit</a></li>
                              </ul>   
                           </div>
                           <div class="col">
                              <ul>
                                 <li><a href="#">Lorem ipsum dolor sit</a></li>
                                 <li><a href="#">Lorem ipsum dolor sit</a></li>
                              </ul>   
                           </div>
                           <div class="col">
                              <ul>
                                 <li><a href="#">Lorem ipsum dolor sit</a></li>
                                 <li><a href="#">Lorem ipsum dolor sit</a></li>
                              </ul>   
                           </div>
                        </div>   
                     </div>   
                  </div>   
               </div>   
            </div>   
         </div>       
      </div>
   </div>
</div>