<nav class="navbar navbar-expand-md">
	<a href="#" class="xs-show">
        <img src="/content/dam/kemin-redesign/kemin_logo_white_bg.svg" alt="kemin Logo" title="Kemin Logo">
    </a>
	<div class="header_drpdwn_link">
		<div class="header-link"> 
            <a href="javascript:void(0)" class="product-link">PRODUCTS <br>
                <span class="icon-chevron-down"></span>
            </a>
			<div class="header_mega_menu">
				<div class="mega_menu">
					<div class="col"> 
                        <span class="thumbnail_dropdown_icon">
                            <img src="/src/main/webpack/resources/images/icons_animal_white.svg">
                        </span>
						<h4>Animal Nutrition</h4>
						<ul>
							<li><a href="#">Animal Nutrition & Health</a></li>
							<li><a href="#">Pet Food & Rendering Technologies</a></li>
							<li><a href="#">Aquaculture</a></li>
							<li><a href="#">Ruminants</a></li>
						</ul>
					</div>
					<div class="col"> 
                        <span class="thumbnail_dropdown_icon">
                            <img src="/src/main/webpack/resources/images/icons_human_white.svg">
                        </span>
						<h4>Human Health</h4>
						<ul>
							<li><a href="#">Food Technologies</a></li>
							<li><a href="#">Human Nutrition & Health</a></li>
							<li><a href="#">Hemp</a></li>
						</ul>
					</div>
					<div class="col"> 
                        <span class="thumbnail_dropdown_icon">
                            <img src="/src/main/webpack/resources/images/icons_crop_white.svg">
                        </span>
						<h4>Crop Science</h4>
						<ul>
							<li><a href="#">Crop Technologies</a></li>
						</ul>
					</div>
					<div class="col"> 
                        <span class="thumbnail_dropdown_icon">
                            <img src="/src/main/webpack/resources/images/icons_biofuel_white.svg">
                        </span>
						<h4>Biofuels</h4>
						<ul>
							<li><a href="#">Ethanol Industry Products</a></li>
							<li><a href="#">Biodiesel Industry Products</a></li>
							<li><a href="#">Enzymes</a></li>
						</ul>
					</div>
					<div class="col"> 
                        <span class="thumbnail_dropdown_icon">
                            <img src="/src/main/webpack/resources/images/icons_textile_white.svg">
                        </span>
						<h4>Textiles</h4>
						<ul>
							<li><a href="#">Textile Auxiliaries</a></li>
						</ul>
					</div>
					<div class="mega_menu_featured">
						<h4>Featured Products</h4>
						<div class="featured_column">
							<div class="count">
								<ul class="countList">
									<li><a href="#">Lorem ipsum dolor sit</a></li>
									<li><a href="#">Lorem ipsum dolor sit</a></li>
									<li><a href="#">Lorem ipsum dolor sit</a></li>
									<li><a href="#">Lorem ipsum dolor sit</a></li>
									<li><a href="#">Lorem ipsum dolor sit</a></li>
									<li><a href="#">Lorem ipsum dolor sit</a></li>
									<li><a href="#">Lorem ipsum dolor sit</a></li>
									<li><a href="#">Lorem ipsum dolor sit</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header-link"> 
            <a href="javascript:void(0)" class="services-link">SERVICES <br>
                <span class="icon-chevron-down"></span>
            </a>
			<div class="header_mega_menu">
				<div class="services_mega_position">
					<div class="col"> 
                        <span class="thumbnail_dropdown_icon">
                            <img src="/src/main/webpack/resources/images/icons_animal_white.svg">
                        </span>
						<h4>Animal Nutrition</h4>
						<ul>
							<li><a href="#">Animal Nutrition & Health</a></li>
							<li><a href="#">Pet Food & Rendering Technologies</a></li>
							<li><a href="#">Aquaculture</a></li>
							<li><a href="#">Ruminants</a></li>
						</ul>
					</div>
					<div class="col"> 
                        <span class="thumbnail_dropdown_icon">
                            <img src="/src/main/webpack/resources/images/icons_human_white.svg">
                        </span>
						<h4>Human Health</h4>
						<ul>
							<li><a href="#">Food Technologies</a></li>
							<li><a href="#">Human Nutrition & Health</a></li>
							<li><a href="#">Hemp</a></li>
						</ul>
					</div>
					<div class="col"> 
                        <span class="thumbnail_dropdown_icon">
                            <img src="/src/main/webpack/resources/images/icons_crop_white.svg">
                        </span>
						<h4>Crop Science</h4>
						<ul>
							<li><a href="#">Crop Technologies</a></li>
						</ul>
					</div>
					<div class="col"> 
                        <span class="thumbnail_dropdown_icon">
                            <img src="/src/main/webpack/resources/images/icons_biofuel_white.svg">
                        </span>
						<h4>Biofuels</h4>
						<ul>
							<li><a href="#">Ethanol Industry Products</a></li>
							<li><a href="#">Biodiesel Industry Products</a></li>
							<li><a href="#">Enzymes</a></li>
						</ul>
					</div>
					<div class="col"> 
                        <span class="thumbnail_dropdown_icon">
                            <img src="/src/main/webpack/resources/images/icons_textile_white.svg">
                        </span>
						<h4>Textiles</h4>
						<ul>
							<li><a href="#">Textile Auxiliaries</a></li>
						</ul>
					</div>
					<div class="mega_menu_featured">
						<h4>Featured Products</h4>
						<div class="featured_column">
							<div class="count">
								<ul class="countList">
									<li><a href="#">Lorem ipsum dolor sit</a></li>
									<li><a href="#">Lorem ipsum dolor sit</a></li>
									<li><a href="#">Lorem ipsum dolor sit</a></li>
									<li><a href="#">Lorem ipsum dolor sit</a></li>
									<li><a href="#">Lorem ipsum dolor sit</a></li>
									<li><a href="#">Lorem ipsum dolor sit</a></li>
									<li><a href="#">Lorem ipsum dolor sit</a></li>
									<li><a href="#">Lorem ipsum dolor sit</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" id="loseFocus"> <span class="icon-menu"></span> </button>
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav">
			<li class="nav-item"> <a class="nav-link" href="#"><span class="icon-account"></span> Sign In </a> </li>
			<li class="nav-item"> <a class="nav-link" href="#">Product Catalog</a> </li>
			<li class="nav-item"> <a class="nav-link" href="#">News</a> </li>
			<li class="nav-item"> <a class="nav-link" href="#">Blog</a> </li>
			<li class="nav-item"> <a class="nav-link" href="#">Contact Us</a> </li>
		</ul>
		<div class="search-container">
			<form>
				<input type="text" placeholder="Enter Keywords.." name="search">
				<button type="submit"><span class="icon-search"></span></button>
			</form>
		</div>
		<div class="popular_searches">
			<h3>Popular Searches</h3>
			<ul>
				<li><a href="#">Lorem ipsum dolor</a></li>
				<li><a href="#">sit amet consectetur adipisicing</a></li>
				<li><a href="#">elit Maxime dolores </a></li>
				<li><a href="#">veniam laboriosam similique</a></li>
			</ul>
		</div>
	</div>
</nav>