<div class="hero-carousel">
	<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="12000" data-bs-pause="false">
		<div class="carousel-inner">
			<!--Slide 1-->
			<div class="carousel-item active" > 
				<!-- carousel image desktop-->
				<img src="https://dummyimage.com/1920x750/000/fff.jpg" class="feature-background desktop-image w-100" alt="...">
				<!-- carousel image mobile-->
                <img src="https://dummyimage.com/375x250/000/fff.jpg" class="feature-background mobile-image w-100" alt="...">
			    <!--overlay image (static image)-->
				<img src="/src/main/webpack/resources/images/Group-2.png" class="overlay w-100" alt="...">
				
				<div class="carousel-caption d-md-block">
					<!--carousel text-->
					<h1 class="heading">Sustainability Message Lorem Ipsum Dolor Sit</h1>
					<p class="text-desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem. Our commitment to sustainability</p>
				</div>
			</div>

			<!--Slide 2-->
			<div class="carousel-item">
				<!-- carousel image desktop-->
				<img src="https://dummyimage.com/1920x750/000/fff.jpg" class="feature-background desktop-image w-100" alt="...">
				<!-- carousel image mobile-->
               <img src="https://dummyimage.com/375x250/000/fff.jpg" class="feature-background mobile-image w-100" alt="...">
			   <!--overlay image (static image)-->
				<img src="/src/main/webpack/resources/images/Group-2.png" class="overlay w-100" alt="...">

				<div class="carousel-caption d-md-block">
					<!--Carousel text-->
					<h1 class="heading">Sustainability Message Lorem Ipsum Dolor Sit</h1>
					<p class="text-desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem. Our commitment to sustainability</p>
				</div>
			</div>

			<!--Slide 3-->
			<div class="carousel-item">
				<!-- carousel image desktop-->
				<img src="https://dummyimage.com/1920x750/000/fff.jpg" class="feature-background desktop-image w-100" alt="...">
				<!-- carousel image mobile-->
               	<img src="https://dummyimage.com/375x250/000/fff.jpg" class="feature-background mobile-image w-100" alt="...">
			   	<!--overlay image (static image)-->
				<img src="/src/main/webpack/resources/images/Group-2.png" class="overlay w-100" alt="...">

				<!--carousel text-->
				<div class="carousel-caption d-md-block">
					<h1 class="heading">Sustainability Message Lorem Ipsum Dolor Sit</h1>
					<p class="text-desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem. Our commitment to sustainability</p>
				</div>
			</div>
		</div>

		<!--Carousel Indicator -->
		<div class="carousel-indicators">
			<!--indicator for slide 1 -->
			<div data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="indicator active" aria-current="true" aria-label="Slide1">
				<span class="icon-earth"></span>
				<p class="icon-text">Sustainability</p>
			</div>
			<!--indicator for slide 2-->
			<div data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" class="indicator" aria-label="Slide2">
				<span class="icon-handshake"></span>
				<p class="icon-text">Service</p>
			</div>
			<!--indicator for slide 3-->
			<div data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" class="indicator" aria-label="Slide3">
				<span class="icon-lightbulb"></span>
				<p class="icon-text">Innovation</p>
			</div>
		</div>
		<!--Featured link -->
		<div class="feature-links"> <a href="">Learn More About Us<span class="icon-chevron-right"></span></a> </div>
		<!-- progress container-->
		<div class="progress-container row">
			<div class="progress" id="progressbar0">
			</div>
		</div>
	</div>

	<!--Focus links-->
	<div class="focus_anchor">
		<div class="focus_anchor_items">
			<div class="focus_anc_pre"><span class="icon-chevron-left pre_button"></span></div>
			<span class="foucs_anch_heading">Explore by Focus:</span>
			<ul class="focus_item_links">
				<!--Add here Items-->
				<li><a href="javascript:void(0)">Aquaculture </a></li>
				<li><a href="javascript:void(0)">Beef</a></li>
				<li><a href="javascript:void(0)">Crops</a></li>
				<li><a href="javascript:void(0)">Dairy</a></li>
				<li><a href="javascript:void(0)">Equine</a></li>
				<li><a href="javascript:void(0)">Human</a></li>
				<li><a href="javascript:void(0)">Pets</a></li>
				<li><a href="javascript:void(0)">Poultry</a></li>
				<li><a href="javascript:void(0)">Swine</a></li>
			</ul>
			<div class="focus_anc_next"><span class="icon-chevron-right next_button"></span></div>
		</div>
	</div>
</div>