<div class="container">
    <div class="hero-container">
        <div class="hero-image">
            <picture>
                <source media="(min-width: 993px)" srcset="desktop.jpg">
                <source media="(min-width: 768px) and (max-width: 992px)" srcset="tablet.jpg">
                <source media="(max-width: 767px)" srcset="mobile.jpg">
                <img src="image-hero.jpg" alt="image_name">
            </picture> 
        </div>
        <div class="hero-text">
            <h1 class="h1-home hero-title">Human Health Lorem Ipsum Dolor</h1>
        </div>
    </div>
</div>
