<!--Hubspots Forms-->
<div class="style-guide container">
	<div class="Hubspots-toggle">
		<div class="Hubspots-toggle-bar">
			<div class="hexagon"> <span class="icon-email"></span> </div>
			<div class="hs-msg-heading">
				<p>Send Us a Massage <span class="icon-chevron-down"></span></p>
			</div>
		</div>
	</div>
	<div class="Hubspots-form">
		<div class="hexagon" id="hexagon"> <span class="icon-email"></span> </div>
		<h3>Send Us a Message</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. </p>
		<div class="hs-underline"></div>
		<form class="form-group contactus" method="post" action="" name="contactus">
			<div class="form-field">
				<label for="firstname">FIRST NAME <sup>*</sup></label>
				<input type="text" name="firstname" class="firstname" placeholder="Enter First Name" required> 
				<span class="error"></span> 
			</div>
			<div class="form-field">
				<label for="lastname">LAST NAME <sup>*</sup></label>
				<input type="text" name="lastname" class="lastname" placeholder="Enter Last Name" required> 
				<span class="error"></span> 
			</div>
			<div class="form-field">
				<label for="company">COMPANY <sup>*</sup></label>
				<input type="text" name="company" class="company" placeholder="Enter Company Name" required> 
				<span class="error"></span> 
			</div>
			<div class="form-field">
				<label for="marketinquiry">MARKET INQUIRY <sup>*</sup></label>
				<select name="items" class="marketinquiry" required>
					<option value="">Select Market Inquiry</option>
					<option value="item 1">Item 1</option>
					<option value="item 2">Item 2</option>
					<option value="item 3">Item 3</option>
				</select> 
				<span class="error"></span> 
			</div>
			<div class="form-field">
				<label for="region">REGION <sup>*</sup></label>
				<select name="items" class="region" required>
					<option value="">Select Region</option>
					<option value="item 1">Item 1</option>
					<option value="item 2">Item 2</option>
					<option value="item 3">Item 3</option>
				</select> 
				<span class="error"></span> 
			</div>
			<div class="form-field">
				<label for="country">COUNTRY <sup>*</sup></label>
				<select name="items" class="country" required>
					<option value="">Select Country</option>
					<option value="item 1">Item 1</option>
					<option value="item 2">Item 2</option>
					<option value="item 3">Item 3</option>
				</select> 
				<span class="error"></span> 
			</div>
			<div class="form-field">
				<label for="email">EMAIL <sup>*</sup></label>
				<input type="email" name="email" class="email" placeholder="Enter Email" required> 
				<span class="error"></span> 
			</div>
			<div class="form-field">
				<label for="phonenumber">PHONE NUMBER <sup>*</sup></label>
				<input type="tel" name="phonenumber" class="phonenumber" placeholder="Enter Phone Number" required> 
				<span class="error"></span> 
			</div>
			<div class="form-field">
				<label for="questionscomments">QUESTIONS/COMMENTS</label>
				<textarea name="textarea" height="220"> </textarea> 
				<span class="error"></span> 
			</div>
			<div class="custom-chkbox" tabindex="0">
				<input type="checkbox"> <span class="checkmark"></span>
				<label>I accept to Kemin Industries’ terms and <a href="#">privacy policy</a></label>
			</div>
			<div class="form-field">
				<button class="btn btn-primary submitContactUs" type="button" name="submit"><span>SUBMIT</span></button>
			</div>
		</form>
	</div>
</div>