<!-- Text field -->
<div>
    <label for="input_name">Label</label>
    <input type="text" name="input_name" placeholder="placeholder" value="input_value">
</div>

<!-- dropdown -->
<div>
    <label for="items_name">Label</label>
        <select name="items_name">
            <option value="item 1">Item 1</option>
            <option value="item 2">Item 2</option>
            <option value="item 3">Item 3</option>
            <option value="item 3">Item 4</option>
        </select>
</div>

<!-- Checkbox-->
 <div class="custom-chkbox" tabindex="0">
    <input type="checkbox" name="checkbox_name">
    <span class="checkmark"></span>
    <label for="checkbox_name">Checkbox Selected</label>
</div>

<!-- Radio -->
<div class="custom-radio" tabindex="0">
    <input type="radio" name="radio-1" id="id_name">
    <span class="checkmark"></span>
    <label for="id_name">Radio Selected</label>
</div>
<div class="custom-radio" tabindex="0">
    <input type="radio" name="radio-1" id="id_name2">
    <span class="checkmark"></span>
    <label for="id_name2">Radio Selected</label>
</div>