<div class="languageModal modal fade" id="languageModal" tabindex="-1" aria-label="Language Modal" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="container">

            <div class="languageBody">
               <!-- Language modal logo -->
               <div class="languageLogo">
                  <span class="icon-facebook"></span>
               </div>
               <h3>
                  You are leaving to visit our <!--add contry here -->Canada<!-- --> regional site. What is your language preference?
               </h3>
            </div>

            <div class="languageFooter">
               <!-- add language buttons here -->
               <button class="btn btn-primary" type="button"><span>Language 1</span></button>
               <button class="btn btn-primary" type="button"><span>Language 2</span></button>
            </div>
         </div>
      </div>
   </div>
</div>