<div class="multimedia-component">
   <div class="container-kemin">

      <!--media on left container-->
      <div class="multimedia-container row">
         <div class="col-md-6 col-sm img-block">
            <div class="media-container">
               <!--image/video will be added here-->
               <img class="" src="" alt="">
            </div>
         </div>
         <div class="col-md-6 col-sm my-auto">
            <div class="media-text-container space-right"><!-- use class "space-right" for space on right-->
               <!-- use class "text-heading" for Heading-->
               <p class="text-heading">How We Operate</p>
               <!-- use class "text-description" for description text-->
               <p class="text-description">The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar,.</p>
            </div>
         </div>
      </div>

      <!--media on right container-->
      <div class="multimedia-container row" >
         <div class="col-md-6 col-sm my-auto">
            <div class="media-text-container space-left"><!-- use class "space-left" for space on left-->
               <!-- use class "text-heading" for Heading-->
               <p class="text-heading">How We Operate</p>
               <!-- use class "text-description" for description text-->
               <p class="text-description">The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar,.</p>
               <button class="btn btn-primary" type="button"><span>Button</span></button>
               <button class="btn btn-secondary" type="button"><span>Button</span></button> 
            </div>
         </div>
         <div class="col-md-6 col-sm img-block">
            <div class="media-container">
               <!--image/video will be added here-->
               <img class="" src="" alt="">
            </div>
         </div>
      </div>
   </div>
</div>