 <div class="catalogue-pagination">
    <ul class="pagination">
        <li class="page-item disable">
            <a href=""><span class="icon-chevron-left"></span></a>
        </li>
        <li class="page-item active"><a href="#">1</a>
        </li>
        <li class="page-item"><a href="#">2</a>
        </li>
        <li class="page-item"><a href="#">3</a>
        </li>
        <li class="page-item"><a href="#">4</a>
        </li>
        <li class="page-item">
            <a href=""><span class="icon-chevron-right"></span></a>
        </li>
    </ul>
</div>