   <!-- Desktop -->
   <div class="kemin-root-accordian d-none d-lg-block">
      <div class="kemkin-pdp-accordian  ">
         <div class="outer-container-accordian">
            <div class="hex-conatiner hexagon-wrapper">
               <div id="color2" class="hexagon">
                  <!-- based on the AEM page change the icon here:  -->
                  <!-- <span class="icon-animal"></span> -->
                  <span class="img-dynamic">
                      <img src="/src/main/webpack/resources/images/icons_animal_white.svg">
                      <!-- <img src="/content/dam/kemin-redesign/icons_animal_white.svg"> -->
      
                  </span>
                  <!-- <span class="icon-human"></span>
                     <span class="icon-crop"></span>
                     <span class="icon-biofuel"></span>
                     <span class="icon-textile"></span> -->
               </div>
            </div>
            <div class="inner-container-accordian">
               <!-- Title Authorable-->
               <div class="pdp-accordian-title">
                  Nutrition & Health
               </div>
               <div class="accordion">
                  <div class="accordion-item">
                     <div class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Accordion Item #1
                        </button>
                      </div>
                     <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                           <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                     </div>
                  </div>
                  <div class="accordion-item">
                     <div class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        Accordion Item #2
                        </button>
                      </div>
                     <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                           <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                     </div>
                  </div>
                  <div class="accordion-item">
                     <div class="accordion-header" id="panelsStayOpen-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        Accordion Item #3
                        </button>
                      </div>
                     <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body">
                           <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Desktop Ends Here -->
  
  
   <!-- Mobile and Tablet-->
  <div class="kemin-root-accordian d-lg-none">
      <div class="kemkin-pdp-accordian   ">
         <div class="outer-container-accordian">
            <div class="accordion accordion-flush">
               <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                  <div class="kemin-navigation-mobile">
                     <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <span  class="right-triangle"></span>
                           <!-- based on the AEM page change the icon here:  -->
                          <!-- <span class="icon-animal"></span> -->
                           <!-- <span class="icon-human"></span>
                              <span class="icon-crop"></span>
                              <span class="icon-biofuel"></span>
                              <span class="icon-textile"></span> -->
                         <span class="img-dynamic">
                      <img src="/src/main/webpack/resources/images/icons_animal_white.svg">
                      <!-- <img src="/content/dam/kemin-redesign/icons_animal_white.svg"> -->
      
                  </span>
                           In This Section
                     </button>
                     </div>
                     
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                     <div class="inner-container-accordian">
                        <div class="accordion-body accordian-body_mobile">
                           <!-- Title Authorable-->
                           <div class="pdp-accordian-title">
                              Nutrition & Health
                           </div>
                           <div class="accordion accordian-mobile">
                              <div class="accordion-item">
                                 <div class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                    Accordion Item #1
                                    </button>
                                  </div>
                                 <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                    <div class="accordion-body">
                                       <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                    </div>
                                 </div>
                              </div>
                              <div class="accordion-item">
                                 <div class="accordion-header" id="panelsStayOpen-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                    Accordion Item #2
                                    </button>
                                  </div>
                                 <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                                    <div class="accordion-body">
                                       <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                    </div>
                                 </div>
                              </div>
                              <div class="accordion-item">
                                 <div class="accordion-header" id="panelsStayOpen-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                    Accordion Item #3
                                    </button>
                                  </div>
                                 <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                                    <div class="accordion-body">
                                       <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>