<div class="container-kemin">
    <div class="productcatalogue feature-content">
        <div class="feature-heading">
            <div class="h2-home"> Blog Page </div>
        </div>
        <div class="feature-text">
            <p class="body-medium">ommodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo</p>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="product_result">
                    <h2>Showing 1 - 10 of 63 Results</h2>
                </div>    
            </div>    
        </div>    
        <!-- Product Catalog Container-->
        <div class="productCatalogue-container clearfix">
            <div class="row product-row">
                <!-- Product Catalog Card-->
                <div class="col-lg-6 col-md-6">
                    <a href="#">
                        <div class="featureCatalogue">
                            <div class="feature-card"> <!-- card body-->
                                <img src="/src/main/webpack/resources/images/list.png" alt=""> 
                                <div class="card-text">
                                    <!-- only title-->
                                    <p class="product-title">Aleta</p>
                                    <p class="product-card">Aleta is highly bioavailable,offering a concentration greater than 50% of 1,3-beta glucans. Aleta provides a consistent response in situations of disease and stress - especially those typically addressed with antibiotics.</p>    
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Product Catalog Container-->
                <div class="col-lg-6 col-md-6">
                    <a href="#">
                        <div class="featureCatalogue">
                            <div class="feature-card"> <!-- card body--> 
                                <img src="/src/main/webpack/resources/images/list.png" alt="">
                                <div class="card-text">
                                    <!-- only title-->
                                    <p class="product-title">AlliCURB</p>
                                    <p class="product-card">AlliCURB miticide-insecticide fights mites,thrips, Lepidoptera pests and soft-bodied insects on a variety of specialty crops,including organic crops.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Product Catalog Container-->                        
                <div class="col-lg-6 col-md-6">
                    <a href="#">
                        <div class="featureCatalogue">
                            <div class="feature-card"> <!-- card body--> 
                                <img src="/src/main/webpack/resources/images/list.png" alt="">
                                <div class="card-text">
                                    <!-- only title-->
                                    <p class="product-title">ALLINSUR </p>
                                    <p class="product-card">ALLINSUR blends antioxidants and acidifiers to maintain the quality of raw materials in the rendering industry.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Product Catalog Container-->
                <div class="col-lg-6 col-md-6">
                    <a href="#">
                        <div class="featureCatalogue">
                            <div class="feature-card"> <!-- card body--> 
                                <img src="/src/main/webpack/resources/images/list.png" alt="">
                                <div class="card-text">
                                    <!-- only title-->
                                    <p class="product-title">Ammo CRUB</p>
                                    <p class="product-card">Ammo CURB is a low-cost feed preservative for processed feed ingredients,complete animal feeds and total mixed rations (TMR) Ammo CURB is a mono-acid preservative and may be added directly to complete feed,feed ingredients nd TMR.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Product Catalog Container-->
                <div class="col-lg-6 col-md-6">
                    <a href="#">
                        <div class="featureCatalogue">
                            <div class="feature-card"> <!-- card body--> 
                                <img src="/src/main/webpack/resources/images/list.png" alt="">
                                <div class="card-text">
                                    <p class="product-title">BactoCEASE</p>
                                    <p class="product-card">Consumers demand labels that they can easily understand and ingredients they can recognize while manufacturers are looking for solutions to keep their products fresh longer. BactoCEASE provides options designede to meet your food safety needs.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Product Catalog Container-->
                <div class="col-lg-6 col-md-6">
                    <a href="#">
                        <div class="featureCatalogue">
                            <div class="feature-card"> <!-- card body--> 
                                <img src="/src/main/webpack/resources/images/list.png" alt="">
                                <div class="card-text">
                                    <p class="product-title">BactoCEASE NV</p>
                                    <p class="product-card">BactoCEASE NV is a label friendly food safety ingredient designed to protect meat and poultry products from foodborne pathogens and wxtend product shelf-life by delaying the growth of spoilage bacteria.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Product Catalog Container-->
                <div class="col-lg-6 col-md-6">
                    <a href="#">
                        <div class="featureCatalogue">
                            <div class="feature-card"> <!-- card body--> 
                                <img src="/src/main/webpack/resources/images/list.png" alt="">
                                <div class="card-text">
                                    <p class="product-title">BetaVia </p>
                                    <p class="product-card">BetaVia Complete is an algae-sourced beta glucan ingredient for year-round immune support.See why BetaVia stands out in the immune health market.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Product Catalog Container-->
                <div class="col-lg-6 col-md-6">
                    <a href="#">
                        <div class="featureCatalogue">
                            <div class="feature-card"> <!-- card body--> 
                                <img src="/src/main/webpack/resources/images/list.png" alt="">
                                <div class="card-text">
                                    <p class="product-title">ButiPEARL</p>
                                    <p class="product-card">ButiPEARL, an encapsulated source of butyric acid for swine and poultry ,is manufactured using a proprietary spray freezing process allowing a trageted release along the GI tract,promoting an efficient use of butyric acid in swine and poultry.</<p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Product Catalog Container-->
                <div class="col-lg-6 col-md-6">
                    <a href="#">
                        <div class="featureCatalogue">
                            <div class="feature-card"> <!-- card body--> 
                                <img src="/src/main/webpack/resources/images/list.png" alt="">
                                <div class="card-text">
                                    <p class="product-title">ButiPEARL Z</p>
                                    <p class="product-card">ButiPEARL Z is a feed additive containing two powerful nutrients, butyric acid and zinc,to improve intestinal health and performance in swine and poultry.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Product Catalog Container-->
                <div class="col-lg-6 col-md-6">
                    <a href="#">
                        <div class="featureCatalogue">
                            <div class="feature-card"> <!-- card body--> 
                                <img src="/src/main/webpack/resources/images/list.png" alt="">
                                <div class="card-text">
                                    <p class="product-title">ButiPEARL Z EQ</p>
                                    <p class="product-card">ButiPEARL Z EQ - the first product of its kind on the market - provides supplemental butyric acid and zinc to help strengthen the intestinal tract of the horse.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="catalogue-pagination">
                        <ul class="prev-wrap">
                            <li class="page-item move-prev"> <span class="icon-chevron-left" style="cursor: pointer;" onclick="gotoPage('prev');">
                            </span></li>
                        </ul>    
                        <ul class="pagination">
                            <li class="page-item active" id="page-item-1" style="cursor: pointer;" onclick="gotoPage(this);">1</li>
                            <li class="page-item" id="page-item-2" style="cursor: pointer;" onclick="gotoPage(this);">2</li>
                            <li class="page-item" id="page-item-3" style="cursor: pointer;" onclick="gotoPage(this);">3</li>
                            <li class="page-item" id="page-item-4" style="cursor: pointer;" onclick="gotoPage(this);">4</li>
                            <li class="page-item" id="page-item-4" style="cursor: pointer;" onclick="gotoPage(this);">5</li>
                        </ul>
                        <ul class="next-wrap">
                            <li class="page-item move-next" style="cursor: pointer;" onclick="gotoPage('next');"><span class="icon-chevron-right"></span></li>
                        </ul>    
                    </div>
                </div> 
                <div class="col-lg-6 col-md-6">
                    <div class="product_result_dropdwn">
                        <h3>Results per page:</h3>
                        <select name="items">
                            <option value="item 1">1</option>
                            <option value="item 2">2</option>
                            <option value="item 3">3</option>
                            <option value="item 3">4</option>
                        </select>
                    </div>
                </div>       
            </div>    
        </div>
    </div>
</div>