<div class=" d-none d-sm-block lg-search self-align">
	<div class="search_icon"> 
        <span class="icon-search"></span> 
    </div>
</div>
<div class="container-fuild search_box">
	<div class="search_box_container">
		<div class="row">
			<div class="container-kemin">
				<form class="search_input">
					<input type="text" placeholder="Enter Keywords.." name="search">
					<button type="submit">Search</button>
				</form>
			</div>
		</div>
		<div class="row popular_bg">
			<div class="container-kemin">
				<div class="popular_searches">
					<h3>Popular Searches</h3>
					<div class="row">
						<div class="col">
							<ul>
								<li><a href="#">Lorem ipsum dolor</a></li>
								<li><a href="#">sit amet consectetur adipisicing</a></li>
							</ul>
						</div>
						<div class="col">
							<ul>
								<li><a href="#">Lorem ipsum dolor</a></li>
								<li><a href="#">sit amet consectetur adipisicing</a></li>
							</ul>
						</div>
						<div class="col">
							<ul>
								<li><a href="#">Lorem ipsum dolor</a></li>
								<li><a href="#">sit amet consectetur adipisicing</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>