<div class="container kemin-breadcrumb">
    <div class="color-copy">
        <!-- Mobile and Tablet items -->
        <div class="container-kemin d-flex d-md-none">
            <ul class="breadcrumb">
                <li class="breadcrumb-tag icon-breadcrumb-reverse"><a href="#">Feed Quality</a></li>
            </ul>
        </div>

        <!-- Desktop items -->
        <div class="container-kemin d-flex d-none d-md-block">
            <ul class="breadcrumb">
                <li class="breadcrumb-home"><a href="#" class="icon-home"></a></li>
                <li class="breadcrumb-tag icon-breadcrumb"><a href="#">Animal Nutrition</a></li>
                <li class="breadcrumb-tag icon-breadcrumb"><a href="#">Nutrition & Health</a></li>
                <li class="breadcrumb-tag icon-breadcrumb"><a href="#">Feed Quality</a></li>
                <li class="icon-breadcrumb"><span class="breadcrumb-active">Endox<span></li>
            </ul>
        </div>
    </div>
</div>