<!-- regular social icons -->
<div class="social-icons">
    <span><a href="#" class="icon-facebook"></a></span>
    <span><a href="#" class="icon-instagram"></a></span>
    <span><a href="#" class="icon-linkedin"></a></span>
    <span><a href="#" class="icon-twitter"></a></span>
    <span><a href="#" class="icon-youtube"></a></span>
</div> 

<!-- footer social icons -->
<footer>
    <div class="social-icons">
        <span><a href="#" class="icon-facebook"></a></span>
        <span><a href="#" class="icon-instagram"></a></span>
        <span><a href="#" class="icon-linkedin"></a></span>
        <span><a href="#" class="icon-twitter"></a></span>
        <span><a href="#" class="icon-youtube"></a></span>
    </div> 
</footer>