<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Sticky Email Component"></div>
<div class="sticky-parent-container grey-background">
   <div class="sticky-email">
      <div class="d-flex justify-content-between">
         <div class="p-2 sticky-left-section">
            <div>
               <span class="icon-chevron-double-right"></span>
               <span class="contact-us-text-desktop">Let's Work Together</span>
               <span class="contact-us-text-mobile">Contact Us</span>
            </div>
         </div>
         <div class="p-2 sticky-right-section">
            <div class="d-flex">
               <div class="p-2 sticky-section collapsed email-section">
                  <div class="sticky-section-option">
                     <span class="icon-email sticky-option-icon"></span>
                     <span class="sticky-option-text">Email</span>
                  </div>
               </div>
               <div class="p-2 sticky-section collapsed chat-section">
                  <div class="sticky-section-option">
                     <span class="icon-chat sticky-option-icon"></span>
                     <span class="sticky-option-text">Chat</span>
                  </div>
               </div>
               <div class="p-2 cross-btn">
                  <span class="icon-close" style="display:none"></span>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="sticky-closed-section">
      <div class="contact-us-closed-section" style="display:none">
         <div class="border-mimic">
            <div class="closed-section-container">
               <span class="icon-chevron-double-left"></span>
               <span class="closed-section-text">Contact</span>
            </div>
         </div>
      </div>
   </div>
   <div class="contact-us-form"></div>
</div>