<div class="container style-guide">
   <!-- Typography-->
   <div class="container">
      <h2 style="margin-top:30px;margin-left:10px;">Typography</h2>
      <div class="container" style="margin-left:20px;">
         <h1 class="h1-home">H1-Home Lorem ipsum dolor sit amet</h1>
         <h2 class="h2-home">H2-Home Lorem ipsum dolor sit amet</h2>
         <h3 class="h3-home">H3-Home Lorem ipsum dolor sit amet</h3>
         <h1>H1 Lorem ipsum dolor sit amet</h1>
         <h2>H2 Lorem ipsum dolor sit amet</h2>
         <h3>H3 Lorem ipsum dolor sit amet</h3>
         <h4>H4 Lorem ipsum dolor sit amet</h4>
         <p class="body-large">Body-large Lorem ipsum dolor sit amet  consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
         <p class="body-medium">Body-Medium Lorem ipsum dolor sit amet  consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
         <p class="body-small">Body-Small Lorem ipsum dolor sit amet  consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
      </div>
   </div>
   <!-- colors-->
   <div class="container display-colors">
      <h2 style="margin-top:30px;margin-left:10px;">Colors</h2>
      <div class="row-color" style="font-weight:bold;">
         <span>
            <p class="body" style="height:100px;width:100px;background-color:#DC291E;border-radius:50%;border:1px solid #000;"></p>
            <p class="body-larger">Actions</br>#DC291E</p>
         </span>
         <span>
            <p class="body" style="height:100px;width:100px;background-color:#6D140E;border-radius:50%;border:1px solid #000;"></p>
            <p class="body-larger">Decoration</br>#6D140E</p>
         </span>
         <span>
            <p class="body" style="height:100px;width:100px;background-color:#3FC1CB;border-radius:50%;border:1px solid #000;"></p>
            <p class="body-larger">Highlights</br>#3FC1CB</p>
         </span>
         <span>
            <p class="body" style="height:100px;width:100px;background-color:#ECF2F6;border-radius:50%;border:1px solid #000;"></p>
            <p class="body-larger">Crosslink</br>#ECF2F6</p>
         </span>
      </div>
      <div class="row-color" style="font-weight:bold;">
         <span >
            <p class="body" style="height:100px;width:100px;background-color:#000000;border-radius:50%;border:1px solid #000;"></p>
            <p class="body-larger">Universal</br>#000000</p>
         </span>
         <span >
            <p class="body" style="height:100px;width:100px;background-color:#27292E;border-radius:50%;border:1px solid #000;"></p>
            <p class="body-larger">Headings</br>#27292E</p>
         </span>
         <span >
            <p class="body" style="height:100px;width:100px;background-color:#3A3A3A;border-radius:50%;border:1px solid #000;"></p>
            <p class="body-larger">Copy</br>#3A3A3A</p>
         </span>
         <span >
            <p class="body" style="height:100px;width:100px;background-color:#8C8D8E;border-radius:50%;border:1px solid #000;"></p>
            <p class="body-larger">Elements</br>#8C8D8E</p>
         </span>
         <span >
            <p class="body" style="height:100px;width:100px;background-color:#DDDDDD;border-radius:50%;border:1px solid #000;"></p>
            <p class="body-larger">Menus</br>#DDDDDD</p>
         </span>
         <span >
            <p class="body" style="height:100px;width:100px;background-color:#E9E9E9;border-radius:50%;border:1px solid #000;"></p>
            <p class="body-larger">Sticky Bars</br>#E9E9E9</p>
         </span>
      </div>
      <div class="row-color" style="font-weight:bold;">
         <span >
            <p class="body" style="height:100px;width:100px;background-color:#F3F3F3;border-radius:50%;border:1px solid #000;"></p>
            <p class="body-larger">Table Row</br>#F3F3F3</p>
         </span>
         <span >
            <p class="body" style="height:100px;width:100px;background-color:#FFFFFF;border-radius:50%;border:1px solid #000;"></p>
            <p class="body-larger">Background</br>#FFFFFF</p>
         </span>
      </div>
   </div>
   <!-- Icons-->
   <div class="container display-icons">
      <h2 style="margin-top:30px;margin-left:10px;">Icons</h2>
      <span class="icon-facebook"></span>
      <span class="icon-instagram"></span>
      <span class="icon-linkedin"></span>
      <span class="icon-twitter"></span>
      <span class="icon-youtube"></span>
      <span class="icon-account"></span>
      <span class="icon-animal"></span>
      <span class="icon-bacteria"></span>
      <span class="icon-biofuel"></span>
      <span class="icon-chat"></span>
      <span class="icon-check"></span>
      <span class="icon-cog"></span>
      <span class="icon-crop"></span>
      <span class="icon-drumstick"></span>
      <span class="icon-earth"></span>
      <span class="icon-email"></span>
      <span class="icon-finance"></span>
      <span class="icon-free-amino-acids"></span>
      <span class="icon-globe"></span>
      <span class="icon-handshake"></span>
      <span class="icon-hard-hat"></span>
      <span class="icon-headset"></span>
      <span class="icon-hemp"></span>
      <span class="icon-home"></span>
      <span class="icon-human"></span>
      <span class="icon-lightbulb"></span>
      <span class="icon-menu"></span>
      <span class="icon-microscope"></span>
      <span class="icon-minus-box"></span>
      <span class="icon-pill"></span>
      <span class="icon-play"></span>
      <span class="icon-plus-box"></span>
      <span class="icon-search"></span>
      <span class="icon-stopwatch"></span>
      <span class="icon-textile"></span>
      <span class="icon-translate"></span>
      <span class="icon-chevron-down"></span>
      <span class="icon-cross"></span>
      <span class="icon-breadcrumb"></span>
      <span class="icon-breadcrumb-reverse"></span>
   </div>
   <!-- Buttons-->
   <div class="container design-button">
      <h2 style="margin-top:30px;margin-left:10px;">Buttons</h2>
      <div class="row">
         <div class="col" style="padding: 20px 50px;">
            <label>Primary</label><button class="btn btn-primary" type="button"><span>Button</span></button>
            <label>Secondary</label><button class="btn btn-secondary" type="button"><span>Button</span></button>
         </div>
         <div class="col test-banner banner" style="padding: 20px 50px;">
            <label>Primary</label><button class="btn btn-primary" type="button">Button</button>
            <label>Secondary</label><button class="btn btn-secondary" type="button">Button</button>
         </div>
      </div>
   </div>
   <!-- links-->
   <div class="container design-links">
      <h2 style="margin-top:30px;margin-left:10px;">Links</h2>
      <div class="row">
         <div class="col" style="padding: 20px 50px;">
            <a href="javascript:void(0)">Neque porro quisquam</a>
         </div>
         <div class="col test-banner banner" style="padding: 20px 50px;">
            <a href="javascript:void(0)">Neque porro quisquam</a>
         </div>
      </div>
   </div>
   <!-- Inputs-->
   <div class="container design-inputs">
      <h2 style="margin-top:30px;margin-left:10px;">Inputs</h2>
      <div class="row">
         <div class="col" style="padding: 20px 50px;">
            <div>
               <label for="Label">Label</label>
               <input type="text" placeholder="placeholder" >
            </div>
               <label>Label</label>
               <select name="items">
                  <option value="item 1">Item 1</option>
                  <option value="item 2">Item 2</option>
                  <option value="item 3">Item 3</option>
                  <option value="item 3">Item 4</option>
               </select>
            <label>Checkbox</label>
            <div class="custom-chkbox" tabindex="0">
               <input type="checkbox">
               <span class="checkmark"></span>
               <label>Checkbox Selected</label>
            </div>
            <div class="custom-chkbox" tabindex="0">
               <input type="checkbox" >
               <span class="checkmark"></span>
               <label>Checkbox Selected</label>
            </div>
            <label>Radio</label>
            <div class="custom-radio" tabindex="0">
               <input type="radio" name="radio-1">
               <span class="checkmark"></span>
               <label>Radio Selected</label>
            </div>
            <div class="custom-radio" tabindex="0">
               <input type="radio" name="radio-1">
               <span class="checkmark"></span>
               <label>Radio Selected</label>
            </div>
         </div>
         <div class="col test-banner banner" style="padding: 20px 50px;">
            <div>
               <label>Label</label>
               <input type="text" placeholder="placeholder" >
            </div>
               <label>Label</label>
               <select name="items">
                  <option value="item 1">Item 1</option>
                  <option value="item 2">Item 2</option>
                  <option value="item 3">Item 3</option>
                  <option value="item 3">Item 4</option>
               </select>
            <label >Checkbox</label>
            <div class="custom-chkbox" tabindex="0">
               <input type="checkbox"  >
               <span class="checkmark"></span>
               <label>Checkbox Selected</label>
            </div>
            <div class="custom-chkbox" tabindex="0">
               <input type="checkbox">
               <span class="checkmark"></span>
               <label >Checkbox Selected</label>
            </div>
            <label >Radio</label>
            <div class="custom-radio"  tabindex="0">
               <input type="radio" name="radio-2" >
               <span class="checkmark"></span>
               <label >Radio Selected</label>
            </div>
            <div class="custom-radio" tabindex="0">
               <input type="radio" name="radio-2">
               <span class="checkmark"></span>
               <label>Radio Selected</label>
            </div>
         </div>
      </div>
   </div>
</div>

