<div class="testimonial">
   <div id="testimonialCaptions" class="carousel slide" data-bs-interval="false">
      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="image-container">
               <img class="testimonial-image background-image-desktop" src="/src/main/webpack/resources/images/quote_image2.jpg" class="d-block " alt="..."> 
               <img class="testimonial-image background-image-mobile" src="/src/main/webpack/resources/images/quote_image2.jpg" class="d-block " alt="..."> 
               <div class="gradient"></div>
            </div>
            <div class="carousel-caption">
               <span class="icon-quote-open"></span>
               <div class="testimonial-text">
                  <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available. th
</p>
               </div>
               <span class="icon-quote-close"></span>
               <div class="testimonial-name">
                  <p>Carolina Hernandez, Research Associate</p>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="image-container">
               <img class="testimonial-image background-image-desktop" src="/src/main/webpack/resources/images/quote_image1.jpg" class="d-block" alt="...">
               <img class="testimonial-image background-image-mobile" src="/src/main/webpack/resources/images/quote_image1.jpg" class="d-block" alt="..."> 
               <div class="gradient"></div>
            </div>
            <div class="carousel-caption">
               <span class="icon-quote-open"></span>
               <div class="testimonial-text">
                  <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available. th</p>
               </div>
               <span class="icon-quote-close"></span>
               <div class="testimonial-name">
                  <p>Carolina Hernandez, Research Associate</p>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="image-container">
               <img class="testimonial-image background-image-desktop" src="/src/main/webpack/resources/images/quote_image1.jpg" class="d-block" alt="...">
               <img class="testimonial-image background-image-mobile" src="/src/main/webpack/resources/images/quote_image1.jpg" class="d-block" alt="..."> 
               <div class="gradient"></div>
            </div>
            <div class="carousel-caption">
               <span class="icon-quote-open"></span>
               <div class="testimonial-text">
                  <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available. th
</p>
               </div>
               <span class="icon-quote-close"></span>
               <div class="testimonial-name">
                  <p>Carolina Hernandez, Research Associate</p>
               </div>
            </div>
         </div>
         <div class="carousel-indicators">
            <li  data-bs-target="#testimonialCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></li>
            <li  data-bs-target="#testimonialCaptions" data-bs-slide-to="1" aria-label="Slide 2"></li>
            <li  data-bs-target="#testimonialCaptions" data-bs-slide-to="2" aria-label="Slide 3"></li>
         </div>
         <div class="testimonialLink">
            <a href="">View More Employee Stories &nbsp;<span class="icon-chevron-up"></span></a>
         </div>
      </div>
   </div>
</div>