<!--  Timeline FED -->
<div class="container-kemin">
  <div id="kemin-timeline" class="kemin-root-timeline">
    <section class="kemin-timeline-slider ">
      <div class="row">
        <div class="large-12 columns">
          <div class="owl-carousel owl-theme">
            <div class="item">
              <img
                src="https://pe-images.s3.amazonaws.com/photo-effects/cc/old-photo-camera-raw/update-2019/photoshop-old-photo-effect-ft.jpg" />
              <div>
                <div class="timeline-title">1961</div>
                <div class="timeline-desc">Chemical Industries Inc. established by R.W. Nelson to serve the feed
                  industry.</div>
              </div>
              <div class="badge">
                {{!-- Note line-left only for element --}}
                 <div class="line-left"></div>
                <div class="circle"></div>
                <div class="line"></div>
                <div class="timeline-group">Chemical Industries Inc</div>
              </div>
            </div>
            <div class="item">
              <img
                src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/115941292/original/415350d8385cf7f99332c99bb034b746c5028df6/restore-your-old-photos-4144.jpg" />
              <div>
                <div class="timeline-title">1963</div>
                <div class="timeline-desc">Chemical Industries Inc. established by R.W. Nelson to serve the feed
                  industry.</div>
              </div>
              <div class="badge">
                <div class="circle"></div>
                <div class="line"></div>
                <div class="timeline-group">Chemical Industries Inc</div>
              </div>
            </div>
            <div class="item">
              <img src="https://sample-videos.com/img/Sample-png-image-500kb.png" />
              <div>
                <div class="timeline-title">1963</div>
                <div class="timeline-desc">Chemical Industries Inc. established by R.W. Nelson to serve the feed
                  industry.</div>
              </div>
              <div class="badge">
                <div class="circle"></div>
                <div class="line"></div>
                <div class="timeline-group">Early Years & Scientific Breakthroughs</div>
              </div>
            </div>
            <div class="item">
              <img
                src="https://static.boredpanda.com/blog/wp-content/uploads/2019/06/photoshop-photo-restoration-michelle-spalding-10-5d1080c4292a1__700.jpg" />
              <div>
                <div class="timeline-title">1968</div>
                <div class="timeline-desc">Chemical Industries Inc. established by R.W. Nelson to serve the feed
                  industry.</div>
              </div>
              <div class="badge">
                <div class="circle"></div>
                <div class="line"></div>
                <div class="timeline-group">Early Years & Scientific Breakthroughs</div>
              </div>
            </div>
            <div class="item">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiw48X-G-zwlxZHiuqF1gi72y9i38CzyiLcmTrN_h0Nyo8jh1anoigOn6rjhV4hB1rBu8&usqp=CAU" />
              <div>
                <div class="timeline-title">1972</div>
                <div class="timeline-desc">Chemical Industries Inc. established by R.W. Nelson to serve the feed
                  industry.</div>
              </div>
              <div class="badge">
                <div class="circle"></div>
                <div class="line"></div>
                <div class="timeline-group">Early Years & Scientific Breakthroughs</div>
              </div>
            </div>
            <div class="item">
              <img src="https://sample-videos.com/img/Sample-png-image-500kb.png" />
              <div>
                <div class="timeline-title">1977</div>
                <div class="timeline-desc">Chemical Industries Inc. established by R.W. Nelson to serve the feed
                  industry.</div>
              </div>
              <div class="badge">
                <div class="circle"></div>
                <div class="line"></div>
                <div class="timeline-group">Chemical Industries Inc</div>
              </div>
            </div>
            <div class="item">
              <img
                src="https://static.boredpanda.com/blog/wp-content/uploads/2019/06/photoshop-photo-restoration-michelle-spalding-10-5d1080c4292a1__700.jpg" />
              <div>
                <div class="timeline-title">1981</div>
                <div class="timeline-desc">Chemical Industries Inc. established by R.W. Nelson to serve the feed
                  industry.</div>
              </div>
              <div class="badge">
                <div class="circle"></div>
                <div class="line"></div>
                <div class="timeline-group">Global Expansion</div>
              </div>
            </div>
            <div class="item">
              <img src="https://sample-videos.com/img/Sample-png-image-500kb.png" />
              <div>
                <div class="timeline-title">1988</div>
                <div class="timeline-desc">Chemical Industries Inc. established by R.W. Nelson to serve the feed
                  industry.</div>
              </div>
              <div class="badge">
                <div class="circle"></div>
                <div class="line"></div>
                <div class="timeline-group">Global Expansion</div>
              </div>
            </div>
            <div class="item">
              <img src="https://sample-videos.com/img/Sample-png-image-500kb.png" />
              <div>
                <div class="timeline-title">1990</div>
                <div class="timeline-desc">Chemical Industries Inc. established by R.W. Nelson to serve the feed
                  industry.</div>
              </div>
              <div class="badge">
                <div class="circle"></div>
                <div class="line"></div>
                <div class="timeline-group">Kemin Industries</div>
              </div>
            </div>
            <div class="item">
              <img src="https://sample-videos.com/img/Sample-png-image-500kb.png" />
              <div>
                <div class="timeline-title">2021</div>
                <div class="timeline-desc">Chemical Industries Inc. established by R.W. Nelson to serve the feed
                  industry.</div>
              </div>
              <div class="badge">
                <div class="circle"></div>
                <div class="line"></div>
                <div class="timeline-group">Kemin Industries</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>