<div> 
    <!-- Typography -->
    <h1 class="h1-home">h1-home Lorem ipsum dolor sit amet</h1>
    <h2 class="h2-home">h2-home Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</h2>
    <h3 class="h3-home">h3-home Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</h3>  

    <h1>h1 Lorem ipsum dolor sit amet</h1>
    <h2>h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</h2>
    <h3>h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</h3>
    <h4>h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</h4>

    <p class="body-large">Body large Lorem ipsum dolor sit amet</p>
    <p class="body-medium">body normal Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
    <p class="body-small">body smallLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
</div>

<div>
    <!-- icons -->
    <span class="icon-facebook"></span>
    <span class="icon-instagram"></span>
    <span class="icon-linkedin"></span>
    <span class="icon-twitter"></span>
    <span class="icon-youtube"></span>
    <span class="icon-account"></span>
    <span class="icon-animal"></span>
    <span class="icon-bacteria"></span>
    <span class="icon-biofuel"></span>
    <span class="icon-chat"></span>
    <span class="icon-check"></span>
    <span class="icon-cog"></span>
    <span class="icon-crop"></span>
    <span class="icon-drumstick"></span>
    <span class="icon-earth"></span>
    <span class="icon-email"></span>
    <span class="icon-finance"></span>
    <span class="icon-free-amino-acids"></span>
    <span class="icon-globe"></span>
    <span class="icon-handshake"></span>
    <span class="icon-hard-hat"></span>
    <span class="icon-headset"></span>
    <span class="icon-hemp"></span>
    <span class="icon-home"></span>
    <span class="icon-human"></span>
    <span class="icon-lightbulb"></span>
    <span class="icon-menu"></span>
    <span class="icon-microscope"></span>
    <span class="icon-minus-box"></span>
    <span class="icon-pill"></span>
    <span class="icon-play"></span>
    <span class="icon-plus-box"></span>
    <span class="icon-search"></span>
    <span class="icon-stopwatch"></span>
    <span class="icon-textile"></span>
    <span class="icon-translate"></span>
    <span class="icon-chevron-down"></span>
    <span class="icon-chevron-up"></span>
    <span class="icon-chevron-right"></span>
    <span class="icon-chevron-left"></span>
    <span class="icon-cross"></span>
    <span class="icon-breadcrumb"></span>
    <span class="icon-breadcrumb-reverse"></span>
    <span class="icon-share"></span>
    <span class="icon-quote-open"></span>
    <span class="icon-quote-close"></span>
    <span class="icon-chevron-double-left"></span>
    <span class="icon-chevron-double-right"></span>
    <span class="icon-close"></span>
    <span class="icon-filter"></span>
 </div>