<div class="video_section">
        <h3>Features and Benefits</h3>    
        <div class="video_main">
            <div class="video_wrapper">
                <div class="videoCont youtube">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/zOceeeWDTag?enablejsapi=1&version=3&playerapiid=ytplayer" modestbranding="0"  controls="0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
    
                <!-- <div class="videoCont dam-video-wrap">
                    <video  class="dam-video" id="myDamVideo" width="100%" height="100%" controls>
                        <source src="https://www.w3schools.com/tags/mov_bbb.mp4" type="video/mp4">
                    </video>
                </div>  -->
    
                <!-- <div class="videoCont wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
                    <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                        <div class="wistia_embed wistia_async_e5gb7rrxak videoFoam=true" style="height:100%;position:relative;width:100%">
                            <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/e5gb7rrxak/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" onload="this.parentNode.style.opacity=1;" /></div>
                        </div>
                    </div>
                </div> -->
    
                <div class="video_assets">
                    <div class="video_poster_overlay">
                        <img src="/src/main/webpack/resources/images/image-product-video.jpg" width="100%">
                    </div>
                </div>
                <div class=" play_stop_btn ">
                    <span class="icon-play playbtnblack" id="play-button"></span>
                    <!--
                        put below class name according to the requirment
                        playbtnred, playbtnblue, playbtngray, playbtnwhite 
                    -->
                </div>    
            </div>
            <h3 class="body-small video_caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet. </h3>
        </div>
    </div>