<sly data-sly-test="${wcmmode.edit}">
    <p class="cq-placeholder" data-emptytext="${component.title}"></p>
</sly>
<sly data-sly-use.stockChartModel="com.techcombank.core.models.StockChartModel">
    <div class="stock-information" data-current-date-label=${stockChartModel.datePrefix} 
            data-url="${currentPage.path}/_jcr_content.stockchart.json">
        <div class="stock-information_summary-details">
            <span class="stock-label">${stockChartModel.lastPrice}</span>
            <span class="stock-information_price"><i class="tcb-icon stock-down"><img class="down-icon"
                src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/stock-down-icon.svg" />
              <img class="up-icon"
                src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/stock_up_icon.svg" />
            </i><span class="value"></span><span class="stock-information_changes"></span></span>
            <span class="stock-dateLastPrice"></span>
        </div>
        <div class="stock-information_stock-chart" id="stock-chart"></div>
    </div>
</sly>
 