<div data-sly-use.model="com.techcombank.core.models.ComparePanelModel"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html" data-sly-test.hasContent="${model.tagFolder}">
    <sly data-sly-test="${hasContent}">
        <div class="loan-list">
            <div class="table-content">
                <div class="table-root display-flex">
                    <div class="table-grid">
                        <div class="table-item-upper position-relative">
                            <div class="table-upper__select-list">
                                <div class="select-list__panel">
                                    <div class="select-list__dropdown">
                                        <div aria-hidden="true" class="select-list__dropdown-display">
                                            <div class="select-list__dropdown-label">
                                                <span
                                                    class="dropdown-label__prefix-label">${model.customerTypePlaceholderLabel}</span>
                                                <span
                                                    class="dropdown-label__place-holder dropdown-label-customer-type"></span>
                                            </div>
                                            <img class="select-list__arrow-icon"
                                                src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-dropdown-arrow.svg">
                                        </div>
                                        <div class="select-list__dropdown-list">
                                            <ul class="select-list__dropdown-items">
                                                <li></li>
                                                <sly data-sly-list.customerTypeTag="${model.customerTypeTags}">
                                                    <li class="customer-type-select-item"
                                                        data-tag-id="${customerTypeTag.tagId}"
                                                        data-tag-path="${customerTypeTag.tagPath}"
                                                        data-tracking-click-event="articleFilter"
                                                        data-tracking-click-info-value="{'articleFilter' : '${customerTypeTag.tagTitle}'}"
                                                        data-tracking-web-interaction-value="{'webInteractions': {'name': 'Compare Panel','type': 'other'}}">
                                                        ${customerTypeTag.tagTitle}
                                                    </li>
                                                </sly>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="select-list__dropdown">
                                        <div aria-hidden="true" class="select-list__dropdown-display">
                                            <div class="select-list__dropdown-label">
                                                <span
                                                    class="dropdown-label__prefix-label">${model.houseTypePlaceholderLabel}</span>
                                                <span
                                                    class="dropdown-label__place-holder dropdown-label-house-type"></span>
                                            </div>
                                            <img class="select-list__arrow-icon"
                                                src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-dropdown-arrow.svg">
                                        </div>
                                        <div class="select-list__dropdown-list">
                                            <ul class="select-list__dropdown-items">
                                                <li></li>
                                                <sly data-sly-list.customerTypeTag="${model.customerTypeTags}">
                                                    <sly data-sly-list.houseTypeTag="${customerTypeTag.childTags}">
                                                        <li class="house-type-select-item deactivate"
                                                            data-tag-id="${houseTypeTag.tagId}"
                                                            data-tag-path="${houseTypeTag.tagPath}"
                                                            data-customer-type="${customerTypeTag.tagId}"
                                                            data-tracking-click-event="articleFilter"
                                                            data-tracking-click-info-value="{'articleFilter' : '${houseTypeTag.tagTitle}'}"
                                                            data-tracking-web-interaction-value="{'webInteractions': {'name': 'Compare Panel','type': 'other'}}">
                                                            ${houseTypeTag.tagTitle}
                                                        </li>
                                                    </sly>
                                                </sly>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="select-list__dropdown">
                                        <div aria-hidden="true" class="select-list__dropdown-display">
                                            <div class="select-list__dropdown-label">
                                                <span
                                                    class="dropdown-label__prefix-label">${model.investorTypePlaceholderLabel}</span>
                                                <span
                                                    class="dropdown-label__place-holder dropdown-label-investor-type"></span>
                                            </div>
                                            <img class="select-list__arrow-icon"
                                                src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-dropdown-arrow.svg">
                                        </div>
                                        <div class="select-list__dropdown-list">
                                            <ul class="select-list__dropdown-items">
                                                <li></li>
                                                <sly data-sly-list.customerTypeTag="${model.customerTypeTags}">
                                                    <sly data-sly-list.houseTypeTag="${customerTypeTag.childTags}">
                                                        <sly data-sly-list.investorTypeTag="${houseTypeTag.childTags}">
                                                            <li class="investor-type-select-item deactivate"
                                                                data-tag-id="${investorTypeTag.tagId}"
                                                                data-tag-path="${investorTypeTag.tagPath}"
                                                                data-customer-type="${customerTypeTag.tagId}"
                                                                data-house-type="${houseTypeTag.tagId}"
                                                                data-tracking-click-event="articleFilter"
                                                                data-tracking-click-info-value="{'articleFilter' : '${investorTypeTag.tagTitle}'}"
                                                                data-tracking-web-interaction-value="{'webInteractions': {'name': 'Compare Panel','type': 'other'}}">
                                                                ${investorTypeTag.tagTitle}
                                                            </li>
                                                        </sly>
                                                    </sly>
                                                </sly>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="select-list__dropdown">
                                        <button type="button" class="select-list__submit"
                                            data-tracking-click-event="linkClick"
                                            data-tracking-click-info-value="{'linkClick' : '${model.viewResultCtaLabel}'}"
                                            data-tracking-web-interaction-value="{'webInteractions': {'name': 'Compare Panel','type': 'other'}}">
                                            <span>${model.viewResultCtaLabel}</span>
                                            <div class="select-list__submit-icon">
                                                <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-arrow-icon.svg"/>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <span>
                                <img src="https://d1kndcit1zrj97.cloudfront.net/uploads/bg_header_desktop_32b37c1342.png?w=1920&q=75"
                                    srcset="
                          https://d1kndcit1zrj97.cloudfront.net/uploads/bg_header_desktop_32b37c1342.png?w=360&q=75   360w,
                          https://d1kndcit1zrj97.cloudfront.net/uploads/bg_header_desktop_32b37c1342.png?w=576&q=75   576w,
                          https://d1kndcit1zrj97.cloudfront.net/uploads/bg_header_desktop_32b37c1342.png?w=1080&q=75 1080w,
                          https://d1kndcit1zrj97.cloudfront.net/uploads/bg_header_desktop_32b37c1342.png?w=1200&q=75 1200w,
                          https://d1kndcit1zrj97.cloudfront.net/uploads/bg_header_desktop_32b37c1342.png?w=1920&q=75 1920w
                        " alt sizes="100vw" />
                            </span>
                        </div>
                        <div class="table-item-below position-relative width-100">
                            <table class="table-item-body">
                                <tbody class="table-body-root">
                                    <tr class="table-body-row table-header">
                                        <th class="table-body-cell table-cell-label" role="cell" scope="row">
                                            <div class="table-label-content">
                                                <p>${model.projectNameLabel}</p>
                                            </div>
                                        </th>
                                        <th class="table-body-cell table-cell-label" role="cell" scope="row">
                                            <div class="table-label-content">
                                                <p>${model.loanRateOnCapitalNeedLabel}</p>
                                                <div class="table-label-content-icon">
                                                    <div class="content-icon__container">
                                                        <div class="label__text">
                                                            <div class="icon-info">
                                                                <span class="icon"
                                                                    data-sly-test="${model.toolTipLoanRateOnCapitalNeed}">
                                                                    <picture>
                                                                        <source media="(max-width: 360px)"
                                                                            srcset="${model.mobileTooltipIconPath}"/>
                                                                        <source media="(max-width: 576px)"
                                                                            srcset="${model.mobileTooltipIconPath}"/>
                                                                        <source media="(min-width: 1080px)"
                                                                            srcset="${model.webTooltipIconPath}"/>
                                                                        <source media="(min-width: 1200px)"
                                                                            srcset="${model.webTooltipIconPath}"/>
                                                                        <img alt="${model.atmIconAlt}" alt="${model.toolTipIcon}"
                                                                            src="${model.webTooltipIconPath}" decoding="async"
                                                                            data-nimg="fill" sizes="100vw">
                                                                    </picture>
                                                                </span>
                                                                <div class="tooltiptext">${model.toolTipLoanRateOnCapitalNeed}</div>
                                                            </div>
                                                        </div>    
                                                    </div>
                                                </i>
                                            </div>
                                        </th>
                                        <th class="table-body-cell table-cell-label" role="cell" scope="row">
                                            <div class="table-label-content">
                                                <p>${model.loanRateOnCollateralValueLabel}</p>
                                                <div class="table-label-content-icon">
                                                    <div class="content-icon__container">
                                                        <div class="label__text">
                                                            <div class="icon-info">
                                                                <span class="icon"
                                                                    data-sly-test="${model.toolTipLoanRateOnCollateralValueLabel}">
                                                                    <picture>
                                                                        <source media="(max-width: 360px)"
                                                                            srcset="${model.mobileTooltipIconPath}"/>
                                                                        <source media="(max-width: 576px)"
                                                                            srcset="${model.mobileTooltipIconPath}"/>
                                                                        <source media="(min-width: 1080px)"
                                                                            srcset="${model.webTooltipIconPath}"/>
                                                                        <source media="(min-width: 1200px)"
                                                                            srcset="${model.webTooltipIconPath}"/>
                                                                        <img alt="${model.atmIconAlt}" alt="${model.toolTipIcon}"
                                                                            src="${model.webTooltipIconPath}" decoding="async"
                                                                            data-nimg="fill" sizes="100vw">
                                                                    </picture>
                                                                </span>
                                                                <div class="tooltiptext">${model.toolTipLoanRateOnCollateralValueLabel}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </i>
                                            </div>
                                        </th>
                                        <th class="table-body-cell table-cell-label" role="cell" scope="row">
                                            <div class="table-label-content">
                                                <p>${model.loanTermLabel}</p>
                                                <div class="table-label-content-icon">
                                                    <div class="content-icon__container">
                                                        <div class="label__text">
                                                            <div class="icon-info">
                                                                <span class="icon"
                                                                    data-sly-test="${model.toolTipLoanTermLabel}">
                                                                    <picture>
                                                                        <source media="(max-width: 360px)"
                                                                            srcset="${model.mobileTooltipIconPath}"/>
                                                                        <source media="(max-width: 576px)"
                                                                            srcset="${model.mobileTooltipIconPath}"/>
                                                                        <source media="(min-width: 1080px)"
                                                                            srcset="${model.webTooltipIconPath}"/>
                                                                        <source media="(min-width: 1200px)"
                                                                            srcset="${model.webTooltipIconPath}"/>
                                                                        <img alt="${model.atmIconAlt}" alt="${model.toolTipIcon}"
                                                                            src="${model.webTooltipIconPath}" decoding="async"
                                                                            data-nimg="fill" sizes="100vw">
                                                                    </picture>
                                                                </span>
                                                                <div class="tooltiptext">${model.toolTipLoanTermLabel}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </i>
                                            </div>
                                        </th>
                                        <th class="table-body-cell table-cell-label" role="cell" scope="row">
                                            <div class="table-label-content">
                                                <p>${model.collateralLabel}</p>
                                                <div class="table-label-content-icon">
                                                    <div class="content-icon__container">
                                                        <div class="label__text">
                                                            <div class="icon-info">
                                                                <span class="icon"
                                                                    data-sly-test="${model.toolTipCollateral}">
                                                                    <picture>
                                                                        <source media="(max-width: 360px)"
                                                                            srcset="${model.mobileTooltipIconPath}"/>
                                                                        <source media="(max-width: 576px)"
                                                                            srcset="${model.mobileTooltipIconPath}"/>
                                                                        <source media="(min-width: 1080px)"
                                                                            srcset="${model.webTooltipIconPath}"/>
                                                                        <source media="(min-width: 1200px)"
                                                                            srcset="${model.webTooltipIconPath}"/>
                                                                        <img alt="${model.atmIconAlt}" alt="${model.toolTipIcon}"
                                                                            src="${model.webTooltipIconPath}" decoding="async"
                                                                            data-nimg="fill" sizes="100vw">
                                                                    </picture>
                                                                </span>
                                                                <div class="tooltiptext">${model.toolTipCollateral}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </i>
                                            </div>
                                        </th>
                                    </tr>
                                    <sly data-sly-repeat="${model.dataItems}">
                                        <tr class="table-body-row table-data deactivate" data-tag-path="${item.tag}">
                                            <td class="table-body-cell table-cell-label" role="cell" scope="row">
                                                <div class="table-label-content">
                                                    ${item.projectName}
                                                </div>
                                            </td>
                                            <td class="table-body-cell table-cell-content" role="cell" scope="row">
                                                <div class="table-cell-innercontent">
                                                    ${item.loanRateOnCapitalNeed}
                                                </div>
                                            </td>
                                            <td class="table-body-cell table-cell-content" role="cell" scope="row">
                                                <div class="table-cell-innercontent">
                                                    ${item.loanRateOnCollateralValue}
                                                </div>
                                            </td>
                                            <td class="table-body-cell table-cell-content" role="cell" scope="row">
                                                <div class="table-cell-innercontent">${item.loanTerm}</div>
                                            </td>
                                            <td class="table-body-cell table-cell-content" role="cell" scope="row">
                                                <div class="table-cell-innercontent">
                                                    ${item.collateral}
                                                </div>
                                            </td>
                                        </tr>
                                    </sly>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </sly>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>