<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.complexPanel="com.techcombank.core.models.ComplexPanelModel">
    <section class="container">
        <div class="complex-panel">
            <div class="complex-panel__body-content">
                <div class="body-content__container">
                    <div class="content-item__wrapper">
                        <div class="content-item__panel">
                            <div class="content-item__panel-text">
                                <h2 class="complex-title">${complexPanel.panelTitle}</h2>
                                <div class="panel-text__information">
                                    <div class="complex-information">
                                        ${complexPanel.description @ context='html'}
                                    </div>
                                    <p class="complex-date">${complexPanel.dateText}</p>
                                </div>
                            </div>
                            <div class="content-item__card-image">
                                <div class="card-image__container">
                                    <div class="card-image__left-site">
                                        <div class="card-image__two-card">
                                            <div data-sly-test="${complexPanel.topImage}" class="card-image__image">
                                                <img alt="${complexPanel.topAltText}" src="${complexPanel.topImage}" decoding="async" data-nimg="fill" sizes="100vw" srcset="" />
                                            </div>
                                            <div data-sly-test="${complexPanel.bottomImage}" class="card-image__image">
                                                <img alt="${complexPanel.bottomAltText}" src="${complexPanel.bottomImage}" decoding="async" data-nimg="fill" sizes="100vw" srcset="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-image__right-site">
                                        <div class="card-image__one-card">
                                            <div data-sly-test="${complexPanel.rightImage}" class="card-image__image">
                                                <img alt="${complexPanel.rightAltText}" src="${complexPanel.rightImage}" decoding="async" data-nimg="fill" sizes="100vw" srcset="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</sly>
