.list-accordion .accordion {
    color: #0165bc;
    cursor: pointer;
    padding: calculateRem(18);
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: calculateRem(15);
    transition: 0.4s;
}

.list-accordion a::after{
    content: '\e900' !important;
    color: #0165bc;
    position: absolute;
    margin-left: calculateRem(4);
    font-size: calculateRem(21);
    position: relative;
    background-color: transparent;
    top: calculateRem(3.2);
    font-family: 'custom-dropdown-icon';
}
.list-accordion a:hover::after{
    width: 0 !important;
}

.list-accordion a.active::after{
    display: inline-block;
    top: calculateRem(6);
    font-size: calculateRem(21);
    transform: rotate(180deg);
    margin-left: calculateRem(56);
}

.list-accordion .panel {
    padding: 0 calculateRem(18);
    display: none;
    background-color: white;
    overflow: hidden;
}

.listBkgClass {
background-color: unset!important;
}

.list-alignment {
width : 100%;
text-align : center;
}
.day,
.night {
    .cmp-accordion .cmp-accordion__item.listBkgClass{
        background: transparent !important;
        .cmp-accordion__header .cmp-accordion__button{
            &:hover {
                backdrop-filter: brightness(100%);
            }
        }
        .cmp-accordion__button--expanded {
            backdrop-filter: brightness(100%);
        }

        h3 .list-accordion {
            .accordion{
                font-size: calculateRem(36);
            }
            a::after{
                font-size: calculateRem(53);
                top: calculateRem(12.8);
            }
            a.active::after {
                font-size: calculateRem(53);
                top: calculateRem(12.8);
            }
        }
        h2 .list-accordion {
            .accordion{
                font-size: calculateRem(44);
            }
            a::after{
                font-size: calculateRem(64);
                top: calculateRem(15.2);
            }
            a.active::after {
                font-size: calculateRem(64);
                top: calculateRem(16);
                margin-left: calculateRem(67.2);
            }
        }
        h4 .list-accordion {
            .accordion{
                font-size: calculateRem(32);
            }
            a::after{
                font-size: calculateRem(51.2);
                top: calculateRem(12.8);
            }
            a.active::after {
                font-size: calculateRem(51.2);
                top: calculateRem(12.8);
            }
        }
        h5 .list-accordion {
            .accordion{
                font-size: calculateRem(24);
            }
            a::after{
                font-size: calculateRem(35.2);
                top: calculateRem(8.8);
            }
            a.active::after {
                font-size: calculateRem(35.2);
                top: calculateRem(8);
                margin-left: calculateRem(40) !important;
            }
        }
        h6 .list-accordion {
            .accordion{
                font-size: calculateRem(20);
            }
            a::after{
                font-size: calculateRem(30.4);
                top: calculateRem(6.4);
            }
            a.active::after {
                font-size: calculateRem(30.4);
                top: calculateRem(8);
                margin-left: calculateRem(35.2) !important;
            }
        }
    }
}