<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Exchange rates</title>
  <meta name="template" content="page-content" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="/etc.clientlibs/techcombank/clientlibs/clientlib-base.css" type="text/css">
  <link rel="stylesheet" href="/etc.clientlibs/techcombank/clientlibs/clientlib-dependencies.css" type="text/css">
  <link rel="stylesheet" href="/etc.clientlibs/techcombank/clientlibs/clientlib-site.css" type="text/css">
</head>

<body class="page basicpage">

  <section class="container exchange-rate width-25-75 section__margin-medium" data-url="/content/techcombank/web/vn/exchange">
    <div class="content-wrapper exchange-rate__header">
      <div class="title-cmp">
        <div class="title-cmp__title">Tỷ giá hối đoái</div>
      </div>
      <div class="exchange-rate__header-select analytics-active-link"
                 data-tracking-click-event="calculator"
                 data-tracking-click-info-value="{'calculatorName':'${component.title}', 'calculatorField':'TimeStamp' }"
                 data-tracking-web-interaction-value="{'webInteractions': {'name': 'Calculators','type': 'other'}}">
        <div class="header-select__data date-time-wrapper__input-extra">
          <div class="header-select__data-input calendar_real_estate">
            <div class="data-input__prefix">
              <div class="data-input__calendar-icon">
                <img alt="" src="https://d1kndcit1zrj97.cloudfront.net/uploads/calendar_f53249a7a9.svg?w=32&amp;q=75"
                  decoding="async" data-nimg="fixed" srcset="
                        https://d1kndcit1zrj97.cloudfront.net/uploads/calendar_f53249a7a9.svg?w=16&amp;q=75 1x,
                        https://d1kndcit1zrj97.cloudfront.net/uploads/calendar_f53249a7a9.svg?w=32&amp;q=75 2x
                      ">
              </div>
              <p>Ngày</p>
            </div>
            <div class="data-input__suffix">
              <p class="calendar__input-field"></p>
              <span class="data-input__arrow-icon">
                <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/viewmore-icon.svg"/>
              </span>
            </div>
          </div>
          <div class="calendar-popup">
            <div class="month-line">
              <span class="month-data"></span>
              <div>
                <img class="prev-month" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/calendar-left-icon.svg"/>
                <img class="next-month" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/calendar-right-icon.svg"/>
              </div>
            </div>
            <div class="date-line">
            </div>
            <div class="day-tbl">
              <div class="week line1"></div>
              <div class="week line2"></div>
              <div class="week line3"></div>
              <div class="week line4"></div>
              <div class="week line5"></div>
              <div class="week line6"></div>
            </div>
          </div>
        </div>
          <div class="header-select__data time-select" 
              title="Thời gian cập nhật" 
              icon-web-path="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/How_to_use_icon.svg/1200px-How_to_use_icon.svg.png" 
              icon-mobile-path="https://d1kndcit1zrj97.cloudfront.net/uploads/line_f78efee1ea.svg?w=32&amp;q=75">
          </div>
        </div>
      </div>
    </div>
    <p class="content-wrapper exchange-rate__empty-label">Không tìm thấy tỷ giá cho ngày này!</p>
    <div class="table-content-container hidden">
      <div class="content-wrapper exchange-rate__table">
        <div class="exchange-rate__table-outer">
          <div class="exchange-rate__table-content">
            <div class="exchange-rate__table-records table-header">
              <div class="table__first-column up-par first-row first-column">
                <p>Loại tiền</p>
              </div>
              <div class="table-records__data">
                <div class="group-header">
                  <div class="table-records__data-content up-par first-row">
                    <p>Tỷ giá mua</p>
                  </div>
                  <div class="table-records__data-content row-divided first-row">
                    <div class="data-content__item">
                      <p>Tiền mặt/Séc</p>
                    </div>
                    <div class="data-content__item">
                      <p>Chuyển khoản</p>
                    </div>
                  </div>
                </div>
                <div class="group-header">
                  <div class="table-records__data-content up-par first-row last-column">
                    <p>Tỷ giá bán</p>
                  </div>
                  <div class="table-records__data-content row-divided first-row last-column">
                    <div class="data-content__item">
                      <p>Tiền mặt/Séc</p>
                    </div>
                    <div class="data-content__item last-column">
                      <p>Chuyển khoản</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="exchange-rate-table-content">
            </div>
            <!-- Table note italic -->
            <div class="table-note">
              <div class="exchange-rate__table-note" note="<p>Tỷ giá được cập nhật lúc %updatedDate %updatedTime và chỉ mang tính chất tham khảo</p><p>Nguồn từ Bloomberg</p>">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fixing Rate view more button -->
      <div class="content-wrapper exchange-rate__view-more">
        <!-- hidden -->
        <button type="button" class="title button__link">
          <span>Xem thêm</span>
          <div class="view-more__icon">
            <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/viewmore-icon.svg"/>
          </div>
        </button>
      </div>
    </div>
    <!-- Fixing Rate view more popup -->
    <div class="exchange-rate__popup"
      style="opacity: 0; transform: scale(0.75, 0.5625); transition: opacity 461ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 307ms cubic-bezier(0.4, 0, 0.2, 1) 154ms; visibility: hidden;">
      <div class="content-wrapper exchange-rate__popup-wrapper">
        <div class="exchange-rate__header">
          <div class="title-cmp">
            <div class="title-cmp__title">Tỷ giá hối đoái</div>
          </div>
          <div class="exchange-rate__header-select">
            <div class="header-select__data date-time-wrapper__input-extra">
              <div class="header-select__data-input calendar_real_estate">
                <div class="data-input__prefix">
                  <div class="data-input__calendar-icon">
                    <img alt=""
                      src="https://d1kndcit1zrj97.cloudfront.net/uploads/calendar_f53249a7a9.svg?w=32&amp;q=75"
                      decoding="async" data-nimg="fixed" srcset="
                            https://d1kndcit1zrj97.cloudfront.net/uploads/calendar_f53249a7a9.svg?w=16&amp;q=75 1x,
                            https://d1kndcit1zrj97.cloudfront.net/uploads/calendar_f53249a7a9.svg?w=32&amp;q=75 2x
                          ">
                  </div>
                  <p>Ngày</p>
                </div>
                <div class="data-input__suffix">
                  <p class="calendar__input-field"></p>
                  <span class="data-input__arrow-icon">
                    <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/viewmore-icon.svg"/>
                  </span>
                </div>
              </div>
              <div class="calendar-popup">
                <div class="month-line">
                  <span class="month-data"></span>
                  <div>
                    <img class="prev-month" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/calendar-left-icon.svg"/>
                    <img class="next-month" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/calendar-right-icon.svg"/>
                  </div>
                </div>
                <div class="date-line">
                </div>
                <div class="day-tbl">
                  <div class="week line1"></div>
                  <div class="week line2"></div>
                  <div class="week line3"></div>
                  <div class="week line4"></div>
                  <div class="week line5"></div>
                  <div class="week line6"></div>
                </div>
              </div>
            </div>
            <div class="header-select__data time-select" 
                 title="Thời gian cập nhật" 
                 icon-web-path="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/How_to_use_icon.svg/1200px-How_to_use_icon.svg.png" 
                 icon-mobile-path="https://d1kndcit1zrj97.cloudfront.net/uploads/line_f78efee1ea.svg?w=32&amp;q=75">
            </div>
          </div>
        </div>
        <span class="popup__close-button" aria-hidden="true"></span>
        <p class="exchange-rate__empty-label">Không tìm thấy tỷ giá cho ngày này!</p>
        <!-- <div class="table-content-container hidden"> -->
          <div class="table-content-container exchange-rate__table">
            <div class="exchange-rate__table-content">
              <div class="exchange-rate__table-records table-header">
                <div class="table__first-column up-par first-row first-column">
                  <p>Loại tiền</p>
                </div>
                <div class="table-records__data">
                  <div class="group-header">
                    <div class="table-records__data-content up-par first-row">
                      <p>Tỷ giá mua</p>
                    </div>
                    <div class="table-records__data-content row-divided first-row">
                      <div class="data-content__item">
                        <p>Tiền mặt/Séc</p>
                      </div>
                      <div class="data-content__item">
                        <p>Chuyển khoản</p>
                      </div>
                    </div>
                  </div>
                  <div class="group-header">
                    <div class="table-records__data-content up-par first-row last-column">
                      <p>Tỷ giá bán</p>
                    </div>
                    <div class="table-records__data-content row-divided first-row last-column">
                      <div class="data-content__item">
                        <p>Tiền mặt/Séc</p>
                      </div>
                      <div class="data-content__item">
                        <p>Chuyển khoản</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="exchange-rate-table-content">
              </div>
              <div class="exchange-rate__table-records">
                <div class="table__first-column one-col">
                  <p><strong>TỶ GIÁ TRUNG TÂM NHNN CÔNG BỐ: </strong><span id="central-rate"></span></p>
                </div>
              </div>
              <div class="exchange-rate__table-records">
                <div class="table__first-column one-col">
                  <p><strong>TỶ GIÁ SÀN USD VND: </strong><span id="floor-rate"></span></p>
                </div>
              </div>
              <div class="exchange-rate__table-records">
                <div class="table__first-column one-col">
                  <p><strong>TỶ GIÁ TRẦN USD VND: </strong><span id="ceiling-rate"></span></p>
                </div>
              </div>
              <div class="exchange-rate__table-records">
                <div class="table__first-column left-pos strong-par first-column">
                  <p>Tỷ giá kỳ hạn USD</p>
                </div>
                <div class="table-records__data width-33-66 strong-par">
                  <div class="table-records__data-content">
                  </div>
                  <div class="table-records__data-content strong-par last-column">
                    <p>Tham chiếu</p>
                  </div>
                </div>
              </div>
              <div class="exchange-rate__table-records">
                <div class="table__first-column left-pos strong-par first-column">
                  <p>Kỳ hạn (ngày)</p>
                </div>
                <div class="table-records__data width-66-33 strong-par">
                  <div class="table-records__data-content row-divided">
                    <div class="data-content__item"></div>
                    <div class="data-content__item">
                      <p>Tỷ giá mua</p>
                    </div>
                  </div>
                  <div class="table-records__data-content last-column">
                    <p>Tỷ giá bán</p>
                  </div>
                </div>
              </div>
              <div id="tenor-rate-content">
              </div>
              <div class="exchange-rate__table-records first-border">
                <div class="table__first-column left-pos strong-par first-column">
                </div>
                <div class="table-records__data width-66-33 no-border strong-par">
                  <div class="table-records__data-content row-divided">
                    <div class="data-content__item"></div>
                    <div class="data-content__item">
                      <p>Tham chiếu</p>
                    </div>
                  </div>
                  <div class="table-records__data-content last-column">
                  </div>
                </div>
              </div>
              <div class="exchange-rate__table-records">
                <div class="table__first-column left-pos strong-par first-column">
                  <p>Tỷ giá vàng</p>
                </div>
                <div class="table-records__data width-66-33">
                  <div class="table-records__data-content row-divided">
                    <div class="data-content__item">
                      <p id="gold-bid-rate"></p>
                    </div>
                    <div class="data-content__item"></div>
                  </div>
                  <div class="table-records__data-content last-column">
                    <p id="gold-ask-rate"></p>
                  </div>
                </div>
              </div>
              <div id="tenorint-rate">
                <div id="tenorint-rate-content">
                </div>
              </div>
              <!-- Table note italic -->
              <div class="table-note">
                <div class="exchange-rate__table-note" note="<p>Tỷ giá được cập nhật lúc %updatedDate %updatedTime và chỉ mang tính chất tham khảo</p><p>Nguồn từ Bloomberg</p>">         
                </div>
              </div>
            </div>
          </div>
          <div class="table-content-container popup__download-button">
            <div class="download-button__wrapper">
              <button type="button" class="title">
                <span> Download PDF</span>
                <div class="download-button__icon">
                  <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/download-icon.svg"/>
                </div>
              </button>
            </div>
          </div>
        <!-- </div> -->
      </div>
    <div class="exchange-rate__footer"><h6 class="exchange-rate__footer__info">Tỷ giá hối đoái</h6><p>Đường dây nóng hỗ trợ (24/7): <strong>1800 588 823</strong></p> <p><strong>+84 (24) 3944 9626</strong></p><p>www.techcombank.com</p></div>
    </div>
  </section>

  <script crossorigin="anonymous"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
        src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.print/1.6.2/jQuery.print.min.js" 
        integrity="sha512-t3XNbzH2GEXeT9juLjifw/5ejswnjWWMMDxsdCg4+MmvrM+MwqGhxlWeFJ53xN/SBHPDnW0gXYvBx/afZZfGMQ==" 
        crossorigin="anonymous"></script>
  <script type="text/javascript" src="/etc.clientlibs/techcombank/clientlibs/clientlib-dependencies.js"></script>
  <script type="text/javascript" src="/etc.clientlibs/techcombank/clientlibs/clientlib-base.js"></script>
  <script type="text/javascript" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site.js"></script>
</body>

</html>