<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Financial Highlight</title>
    <meta name="template" content="page-content" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/etc.clientlibs/techcombank/clientlibs/clientlib-base.css" type="text/css">
    <link rel="stylesheet" href="/etc.clientlibs/techcombank/clientlibs/clientlib-dependencies.css" type="text/css">
    <link rel="stylesheet" href="/etc.clientlibs/techcombank/clientlibs/clientlib-site.css" type="text/css">
</head>

<body class="page basicpage">
    <div class="content-wrapper ">
        <section class="container financialhighlights section__margin-medium"
            data-select-label="Chọn">
            <div class="statistics-table-container">
                <!-- filter reuse -->
                <div class="select-checkbox-filter">
                    <h2>Chỉ số tài chính nổi bật</h2>
                    <div class="select-options"
                    >
                    <input type="hidden" class="dropdownAnalytics"
                    data-tracking-click-event="linkClick" data-tracking-click-info-value="{'linkClick': 'select'}"
                    data-tracking-web-interaction-value="{'webInteractions': {'name': 'Financial Highlights','type': 'Other'}}"
                    >
                        <div class="select">
                            <img class="calendar-icon" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/calendar.svg">
                            <h6>Năm:</h6>
                            <span>Chọn</span>
                            <img class="fa-chevron-down" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/chevron-bottom-icon.svg"/>
                        </div>
                        <div class="checkbox">
                            <div class="checkbox-list">
                                <div class="type">
                                    <div class="year">
                                        <p>Năm</p>
                                        <ul>
                                            <li>
                                                <label>
                                                    <input type="checkbox" value="2023" />
                                                    <div>2023</div>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" value="2022" />
                                                    <div>2022</div>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" value="2021" />
                                                    <div>2021</div>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" value="2020" />
                                                    <div>2020</div>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" value="2019" />
                                                    <div>2019</div>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" value="2018" />
                                                    <div>2018</div>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="quarter">
                                        <p>Quý</p>
                                        <ul>
                                            <li>
                                                <label>
                                                    <input type="checkbox" value="Q1" />
                                                    <div>Q1</div>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" value="Q2" />
                                                    <div>Q2</div>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" value="Q3" />
                                                    <div>Q3</div>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" value="Q4" />
                                                    <div>Q4</div>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="popup"></div>
                    <div class="popup-content">
                        <div class="title">Lọc</div>
                        <div class="content"></div>
                        <div class="btn">
                            <button>Áp dụng</button>
                        </div>
                    </div>
                </div>
                <div class="list-items">
                    <div class="year-item" data-year="2023">
                        <div class="quarter-item" data-quarter="Q2">
                            <h3 class="title">Kết quả tài chính nổi bật Quý 2 năm 2023</h3>
                            <div class="table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Bảng cân đối kế toán (tỷ đồng)</th>
                                            <th>2Q22</th>
                                            <th>3Q22</th>
                                            <th>4Q22</th>
                                            <th>1Q23</th>
                                            <th class="highlight">2Q23</th>
                                            <th>6M22</th>
                                            <th class="highlight">6M23</th>
                                            <th class="italic">6M23 vs. 6M22</th>
                                            <th class="italic">2Q23 vs. 1Q23</th>
                                            <th class="italic">2Q22 vs. 2Q22</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th>Vốn và thanh khoản</th>
                                            <th>2Q21</th>
                                            <th>3Q21</th>
                                            <th>4Q22</th>
                                            <th>1Q23</th>
                                            <th class="highlight">2Q23</th>
                                            <th>6M22</th>
                                            <th class="highlight">6M23</th>
                                            <th class="italic">6M23 vs. 6M22</th>
                                            <th class="italic">2Q23 vs. 1Q23</th>
                                            <th class="italic">2Q23 vs. 2Q22</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tỷ lệ nguồn vốn ngắn hạn cho vay trung dài hạn<sup>2</sup></td>
                                            <td>32.6%</td>
                                            <td>28.8%</td>
                                            <td>32.2%</td>
                                            <td>32.0%</td>
                                            <td class="highlight">27.4%</td>
                                            <td>32.6%</td>
                                            <td class="highlight">27.4%</td>
                                            <td class="italic">-514 bps</td>
                                            <td class="italic">-457 bps</td>
                                            <td class="italic">-514 bps</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="note">
                                <p>
                                    Ghi chú: 1. Tăng trưởng tín dụng theo hạn mức của NHNN; 2. Số liệu NH riêng lẻ; 3.
                                    NFI bao gồm phân
                                    phối trái phiếu và GD ngoại hối, TOI không bao gồm thu nợ đã xử lý bằng nguồn DPRR
                                </p>
                            </div>
                        </div>
                        <div class="quarter-item" data-quarter="Q1">
                            <h3 class="title">Kết quả tài chính nổi bật trong Quý 1 năm 2023</h3>
                            <div class="table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Bảng cân đối kế toán (tỷ đồng)</th>
                                            <th>1Q22</th>
                                            <th>2Q22</th>
                                            <th>3Q22</th>
                                            <th>4Q22</th>
                                            <th class="highlight">1Q23</th>
                                            <th>3M22</th>
                                            <th class="highlight">3M23</th>
                                            <th class="italic">3M23 vs. 3M22</th>
                                            <th class="italic">1Q23 vs. 4Q22</th>
                                            <th class="italic">1Q23 vs. 1Q22</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th>Vốn và thanh khoản</th>
                                            <th>1Q22</th>
                                            <th>2Q22</th>
                                            <th>3Q22</th>
                                            <th>4Q22</th>
                                            <th class="highlight">1Q23</th>
                                            <th>3M22</th>
                                            <th class="highlight">3M23</th>
                                            <th class="italic">3M23 vs. 3M22</th>
                                            <th class="italic">1Q23 vs. 4Q22</th>
                                            <th class="italic">1Q23 vs. 1Q22</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tỷ lệ nguồn vốn ngắn hạn cho vay trung dài hạn<sup>2</sup></td>
                                            <td>32.6%</td>
                                            <td>28.8%</td>
                                            <td>32.2%</td>
                                            <td>32.0%</td>
                                            <td class="highlight">27.4%</td>
                                            <td>32.6%</td>
                                            <td class="highlight">27.4%</td>
                                            <td class="italic">-514 bps</td>
                                            <td class="italic">-457 bps</td>
                                            <td class="italic">-514 bps</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="note">
                                <p>
                                    Ghi chú: 1. Tăng trưởng tín dụng theo hạn mức của NHNN; 2. Số liệu NH riêng lẻ; 3.
                                    NFI bao gồm phân
                                    phối trái phiếu và GD ngoại hối, TOI không bao gồm thu nợ đã xử lý bằng nguồn DPRR
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="year-item" data-year="2022">
                        <div class="quarter-item" data-quarter="Q4">
                            <h3 class="title">Kết quả tài chính nổi bật quý 4 năm 2022</h3>
                            <div class="table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Bảng cân đối kế toán (tỷ đồng)</th>
                                            <th>4Q21</th>
                                            <th>1Q22</th>
                                            <th>2Q22</th>
                                            <th>3Q22</th>
                                            <th class="highlight">4Q22</th>
                                            <th>FY20</th>
                                            <th class="highlight">FY22</th>
                                            <th class="italic">FY22 vs. FY21</th>
                                            <th class="italic">4Q22 vs. 3Q22</th>
                                            <th class="italic">4Q22 vs. 4Q21</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th>Vốn và thanh khoản</th>
                                            <th>4Q21</th>
                                            <th>1Q22</th>
                                            <th>2Q22</th>
                                            <th>3Q22</th>
                                            <th class="highlight">4Q22</th>
                                            <th>FY20</th>
                                            <th class="highlight">FY22</th>
                                            <th class="italic">FY22 vs. FY21</th>
                                            <th class="italic">4Q22 vs. 3Q22</th>
                                            <th class="italic">4Q22 vs. 4Q21</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tỷ lệ nguồn vốn ngắn hạn cho vay trung dài hạn<sup>2</sup></td>
                                            <td>32.6%</td>
                                            <td>28.8%</td>
                                            <td>32.2%</td>
                                            <td>32.0%</td>
                                            <td class="highlight">27.4%</td>
                                            <td>32.6%</td>
                                            <td class="highlight">27.4%</td>
                                            <td class="italic">-514 bps</td>
                                            <td class="italic">-457 bps</td>
                                            <td class="italic">-514 bps</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="note">
                                <p>
                                    Ghi chú: 1. Tăng trưởng tín dụng theo hạn mức của NHNN; 2. Số liệu NH riêng lẻ; 3.
                                    NFI bao gồm phân
                                    phối trái phiếu và GD ngoại hối, TOI không bao gồm thu nợ đã xử lý bằng nguồn DPRR
                                </p>
                            </div>
                        </div>
                        <div class="quarter-item" data-quarter="Q3">
                            <h3 class="title">Kết quả tài chính nổi bật trong Quý 3 năm 2022</h3>
                            <div class="table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Bảng cân đối kế toán (tỷ đồng)</th>
                                            <th>3Q21</th>
                                            <th>4Q21</th>
                                            <th>1Q22</th>
                                            <th>2Q22</th>
                                            <th class="highlight">3Q22</th>
                                            <th>9M21</th>
                                            <th class="highlight">9M22</th>
                                            <th class="italic">9M22 vs. 9M21</th>
                                            <th class="italic">3Q22 vs. 2Q22</th>
                                            <th class="italic">3Q22 vs. 3Q21</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th>Bảng cân đối kế toán (tỷ đồng)</th>
                                            <th>3Q21</th>
                                            <th>4Q21</th>
                                            <th>1Q22</th>
                                            <th>2Q22</th>
                                            <th class="highlight">3Q22</th>
                                            <th>9M21</th>
                                            <th class="highlight">9M22</th>
                                            <th class="italic">9M22 vs. 9M21</th>
                                            <th class="italic">3Q22 vs. 2Q22</th>
                                            <th class="italic">3Q22 vs. 3Q21</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tỷ lệ nguồn vốn ngắn hạn cho vay trung dài hạn<sup>2</sup></td>
                                            <td>32.6%</td>
                                            <td>28.8%</td>
                                            <td>32.2%</td>
                                            <td>32.0%</td>
                                            <td class="highlight">27.4%</td>
                                            <td>32.6%</td>
                                            <td class="highlight">27.4%</td>
                                            <td class="italic">-514 bps</td>
                                            <td class="italic">-457 bps</td>
                                            <td class="italic">-514 bps</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="note">
                                <p>
                                    Ghi chú: 1. Tăng trưởng tín dụng theo hạn mức của NHNN; 2. Số liệu NH riêng lẻ; 3.
                                    NFI bao gồm phân
                                    phối trái phiếu và GD ngoại hối, TOI không bao gồm thu nợ đã xử lý bằng nguồn DPRR
                                </p>
                            </div>
                        </div>
                        <div class="quarter-item" data-quarter="Q2">
                            <h3 class="title">Kết quả tài chính nổi bật trong Quý 2 năm 2022</h3>
                            <div class="table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Bảng cân đối kế toán (tỷ đồng)</th>
                                            <th>2Q21</th>
                                            <th>3Q21</th>
                                            <th>4Q21</th>
                                            <th>1Q22</th>
                                            <th class="highlight">2Q22</th>
                                            <th>6M21</th>
                                            <th class="highlight">6M22</th>
                                            <th class="italic">6M22 vs. 6M21</th>
                                            <th class="italic">2Q22 vs. 1Q22</th>
                                            <th class="italic">2Q22 vs. 2Q21</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th>Vốn và thanh khoản</th>
                                            <th>2Q21</th>
                                            <th>3Q21</th>
                                            <th>4Q21</th>
                                            <th>1Q22</th>
                                            <th class="highlight">2Q22</th>
                                            <th>6M21</th>
                                            <th class="highlight">6M22</th>
                                            <th class="italic">6M22 vs. 6M21</th>
                                            <th class="italic">2Q22 vs. 1Q22</th>
                                            <th class="italic">2Q22 vs. 2Q21</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tỷ lệ nguồn vốn ngắn hạn cho vay trung dài hạn<sup>2</sup></td>
                                            <td>32.6%</td>
                                            <td>28.8%</td>
                                            <td>32.2%</td>
                                            <td>32.0%</td>
                                            <td class="highlight">27.4%</td>
                                            <td>32.6%</td>
                                            <td class="highlight">27.4%</td>
                                            <td class="italic">-514 bps</td>
                                            <td class="italic">-457 bps</td>
                                            <td class="italic">-514 bps</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="note">
                                <p>
                                    Ghi chú: 1. Tăng trưởng tín dụng theo hạn mức của NHNN; 2. Số liệu NH riêng lẻ; 3.
                                    NFI bao gồm phân
                                    phối trái phiếu và GD ngoại hối, TOI không bao gồm thu nợ đã xử lý bằng nguồn DPRR
                                </p>
                            </div>
                        </div>
                        <div class="quarter-item" data-quarter="Q1">
                            <h3 class="title">Kết quả tài chính nổi bật trong Quý 1 năm 2022</h3>
                            <div class="table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Bảng cân đối kế toán (tỷ đồng)</th>
                                            <th>1Q21</th>
                                            <th>2Q21</th>
                                            <th>3Q21</th>
                                            <th>4Q21</th>
                                            <th class="highlight">1Q22</th>
                                            <th class="italic">1Q22 vs. 4Q21</th>
                                            <th class="highlight">1Q22 vs. 1Q21</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="highlight">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="highlight">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="highlight">615,270</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th>Bảng cân đối kế toán (tỷ đồng)</th>
                                            <th>Bảng cân đối kế toán (tỷ đồng)</th>
                                            <th>1Q21</th>
                                            <th>2Q21</th>
                                            <th>3Q21</th>
                                            <th>4Q21</th>
                                            <th class="highlight">1Q22</th>
                                            <th class="italic">1Q22 vs. 4Q21</th>
                                            <th class="highlight">1Q22 vs. 1Q21</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="highlight">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="highlight">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="highlight">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tỷ lệ nguồn vốn ngắn hạn cho vay trung dài hạn<sup>2</sup></td>
                                            <td>32.6%</td>
                                            <td>28.8%</td>
                                            <td>32.2%</td>
                                            <td>32.0%</td>
                                            <td class="highlight">27.4%</td>
                                            <td class="italic">-457 bps</td>
                                            <td class="highlight">-514 bps</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="note">
                                <p>
                                    Ghi chú: 1. Tăng trưởng tín dụng theo hạn mức của NHNN; 2. Số liệu NH riêng lẻ; 3.
                                    NFI bao gồm phân
                                    phối trái phiếu và GD ngoại hối, TOI không bao gồm thu nợ đã xử lý bằng nguồn DPRR
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="year-item" data-year="2021">
                        <div class="quarter-item" data-quarter="Q4">
                            <h3 class="title">Kết quả tài chính nổi bật quý 4 năm 2021</h3>
                            <div class="table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Bảng cân đối kế toán (tỷ đồng)</th>
                                            <th>4Q20</th>
                                            <th>1Q21</th>
                                            <th>2Q21</th>
                                            <th>3Q21</th>
                                            <th class="highlight">4Q21</th>
                                            <th>FY20</th>
                                            <th class="highlight">FY21</th>
                                            <th class="italic">FY21 vs. FY20</th>
                                            <th class="italic">4Q21 vs. 3Q21</th>
                                            <th class="italic">4Q21 vs. 4Q20</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th>Vốn và thanh khoản</th>
                                            <th>4Q20</th>
                                            <th>1Q21</th>
                                            <th>2Q21</th>
                                            <th>3Q21</th>
                                            <th class="highlight">4Q21</th>
                                            <th>FY20</th>
                                            <th class="highlight">FY21</th>
                                            <th class="italic">FY21 vs. FY20</th>
                                            <th class="italic">4Q21 vs. 3Q21</th>
                                            <th class="italic">4Q21 vs. 4Q20</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tỷ lệ nguồn vốn ngắn hạn cho vay trung dài hạn<sup>2</sup></td>
                                            <td>32.6%</td>
                                            <td>28.8%</td>
                                            <td>32.2%</td>
                                            <td>32.0%</td>
                                            <td class="highlight">27.4%</td>
                                            <td>32.6%</td>
                                            <td class="highlight">27.4%</td>
                                            <td class="italic">-514 bps</td>
                                            <td class="italic">-457 bps</td>
                                            <td class="italic">-514 bps</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="note">
                                <p>
                                    Ghi chú: 1. Tăng trưởng tín dụng theo hạn mức của NHNN; 2. Số liệu NH riêng lẻ; 3.
                                    NFI bao gồm phân
                                    phối trái phiếu và GD ngoại hối, TOI không bao gồm thu nợ đã xử lý bằng nguồn DPRR
                                </p>
                            </div>
                        </div>
                        <div class="quarter-item" data-quarter="Q3">
                            <h3 class="title">Kết quả tài chính nổi bật trong quý 3 năm 2021</h3>
                            <div class="table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Bảng cân đối kế toán (tỷ đồng)</th>
                                            <th>3Q20</th>
                                            <th>4Q20</th>
                                            <th>1Q21</th>
                                            <th>2Q21</th>
                                            <th class="highlight">3Q21</th>
                                            <th>9M20</th>
                                            <th class="highlight">9M21</th>
                                            <th class="italic">9M21 vs. 9M20</th>
                                            <th class="italic">3Q21 vs. 2Q21</th>
                                            <th class="italic">3Q21 vs. 3Q20</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th>Vốn và thanh khoản</th>
                                            <th>3Q20</th>
                                            <th>4Q20</th>
                                            <th>1Q21</th>
                                            <th>2Q21</th>
                                            <th class="highlight">3Q21</th>
                                            <th>9M20</th>
                                            <th class="highlight">9M21</th>
                                            <th class="italic">9M21 vs. 9M20</th>
                                            <th class="italic">3Q21 vs. 2Q21</th>
                                            <th class="italic">3Q21 vs. 3Q20</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tỷ lệ nguồn vốn ngắn hạn cho vay trung dài hạn<sup>2</sup></td>
                                            <td>32.6%</td>
                                            <td>28.8%</td>
                                            <td>32.2%</td>
                                            <td>32.0%</td>
                                            <td class="highlight">27.4%</td>
                                            <td>32.6%</td>
                                            <td class="highlight">27.4%</td>
                                            <td class="italic">-514 bps</td>
                                            <td class="italic">-457 bps</td>
                                            <td class="italic">-514 bps</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="note">
                                <p>
                                    Ghi chú: 1. Tăng trưởng tín dụng theo hạn mức của NHNN; 2. Số liệu NH riêng lẻ; 3.
                                    NFI bao gồm phân
                                    phối trái phiếu và GD ngoại hối, TOI không bao gồm thu nợ đã xử lý bằng nguồn DPRR
                                </p>
                            </div>
                        </div>
                        <div class="quarter-item" data-quarter="Q2">
                            <h3 class="title">Kết quả tài chính nổi bật trong quý 2 năm 2021</h3>
                            <div class="table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Bảng cân đối kế toán (tỷ đồng)</th>
                                            <th>2Q20</th>
                                            <th>3Q20</th>
                                            <th>4Q20</th>
                                            <th>1Q21</th>
                                            <th class="highlight">2Q21</th>
                                            <th>6M20</th>
                                            <th class="highlight">6M21</th>
                                            <th class="italic">6M21 vs. 6M20</th>
                                            <th class="italic">2Q21 vs. 1Q21</th>
                                            <th class="italic">2Q21 vs. 2Q20</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th>Vốn và thanh khoản</th>
                                            <th>2Q20</th>
                                            <th>3Q20</th>
                                            <th>4Q20</th>
                                            <th>1Q21</th>
                                            <th class="highlight">2Q21</th>
                                            <th>6M20</th>
                                            <th class="highlight">6M21</th>
                                            <th class="italic">6M21 vs. 6M20</th>
                                            <th class="italic">2Q21 vs. 1Q21</th>
                                            <th class="italic">2Q21 vs. 2Q20</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tỷ lệ nguồn vốn ngắn hạn cho vay trung dài hạn<sup>2</sup></td>
                                            <td>32.6%</td>
                                            <td>28.8%</td>
                                            <td>32.2%</td>
                                            <td>32.0%</td>
                                            <td class="highlight">27.4%</td>
                                            <td>32.6%</td>
                                            <td class="highlight">27.4%</td>
                                            <td class="italic">-514 bps</td>
                                            <td class="italic">-457 bps</td>
                                            <td class="italic">-514 bps</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="note">
                                <p>
                                    Ghi chú: 1. Tăng trưởng tín dụng theo hạn mức của NHNN; 2. Số liệu NH riêng lẻ; 3.
                                    NFI bao gồm phân
                                    phối trái phiếu và GD ngoại hối, TOI không bao gồm thu nợ đã xử lý bằng nguồn DPRR
                                </p>
                            </div>
                        </div>
                        <div class="quarter-item" data-quarter="Q1">
                            <h3 class="title">Kết quả tài chính nổi bật trong quý 1 năm 2021</h3>
                            <div class="table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Bảng cân đối kế toán (tỷ đồng)</th>
                                            <th>1Q20</th>
                                            <th>2Q20</th>
                                            <th>3Q20</th>
                                            <th>4Q20</th>
                                            <th class="highlight">1Q21</th>
                                            <th>3M20</th>
                                            <th class="highlight">3M21</th>
                                            <th class="italic">3M21 vs. 3M20</th>
                                            <th class="italic">1Q21 vs. 4Q20</th>
                                            <th class="italic">1Q21 vs. 1Q20</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th>Vốn và thanh khoản</th>
                                            <th>1Q20</th>
                                            <th>2Q20</th>
                                            <th>3Q20</th>
                                            <th>4Q20</th>
                                            <th class="highlight">1Q21</th>
                                            <th>3M20</th>
                                            <th class="highlight">3M21</th>
                                            <th class="italic">3M21 vs. 3M20</th>
                                            <th class="italic">1Q21 vs. 4Q20</th>
                                            <th class="italic">1Q21 vs. 1Q20</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tài sản</td>
                                            <td>541,635</td>
                                            <td>568,729</td>
                                            <td>615,270</td>
                                            <td>623,739</td>
                                            <td class="highlight">623,739</td>
                                            <td>568,729</td>
                                            <td class="highlight">615,270</td>
                                            <td class="italic">623,739</td>
                                            <td class="italic">568,729</td>
                                            <td class="italic">615,270</td>
                                        </tr>
                                        <tr>
                                            <td>Tỷ lệ nguồn vốn ngắn hạn cho vay trung dài hạn<sup>2</sup></td>
                                            <td>32.6%</td>
                                            <td>28.8%</td>
                                            <td>32.2%</td>
                                            <td>32.0%</td>
                                            <td class="highlight">27.4%</td>
                                            <td>32.6%</td>
                                            <td class="highlight">27.4%</td>
                                            <td class="italic">-514 bps</td>
                                            <td class="italic">-457 bps</td>
                                            <td class="italic">-514 bps</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="note">
                                <p>
                                    Ghi chú: 1. Tăng trưởng tín dụng theo hạn mức của NHNN; 2. Số liệu NH riêng lẻ; 3.
                                    NFI bao gồm phân
                                    phối trái phiếu và GD ngoại hối, TOI không bao gồm thu nợ đã xử lý bằng nguồn DPRR
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script type="text/javascript" src="/etc.clientlibs/techcombank/clientlibs/clientlib-dependencies.js"></script>
    <script type="text/javascript" src="/etc.clientlibs/techcombank/clientlibs/clientlib-base.js"></script>
    <script type="text/javascript" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site.js"></script>
</body>

</html>