<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Multi step form</title>
    <meta name="template" content="page-content" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/etc.clientlibs/techcombank/clientlibs/clientlib-base.css" type="text/css" />
    <link rel="stylesheet" href="/etc.clientlibs/techcombank/clientlibs/clientlib-dependencies.css" type="text/css" />
    <link rel="stylesheet" href="/etc.clientlibs/techcombank/clientlibs/clientlib-site.css" type="text/css" />
  </head>

  <body class="page basicpage">
    <div class="multi-step-form" id="form">
      <div class="multi-step-form__step active" id="form-step-1">
        đây là step 1
        <div class="button">
          <a
            id="form-step-2"
            target="_self"
            class="cta-button"
            data-tracking-click-event="cta"
            data-tracking-click-info-value="{'linkClick' : 'Button | Next'}"
            data-tracking-web-interaction-value="{'webInteractions': {'name': 'Button','type': ''}}"
            style="background-color: #000000; color: #ffffff">
            <span class="cmp-button__text">Next</span>
          </a>
        </div>
      </div>

      <div class="multi-step-form__step" id="form-step-2">
        đây là step 2
        <div class="button">
          <a
            id="form-step-1"
            target="_self"
            class="cta-button"
            data-tracking-click-event="cta"
            data-tracking-click-info-value="{'linkClick' : 'Button | Back'}"
            data-tracking-web-interaction-value="{'webInteractions': {'name': 'Button','type': ''}}"
            style="background-color: #000000; color: #ffffff">
            <span class="cmp-button__text">Back</span>
          </a>
        </div>
        <div class="button">
          <a
            id="form-step-3"
            target="_self"
            class="cta-button"
            data-tracking-click-event="cta"
            data-tracking-click-info-value="{'linkClick' : 'Button | Back'}"
            data-tracking-web-interaction-value="{'webInteractions': {'name': 'Button','type': ''}}"
            style="background-color: #000000; color: #ffffff">
            <span class="cmp-button__text">Next</span>
          </a>
        </div>
      </div>

      <div class="multi-step-form__step" id="form-step-3">
        đây là step 3
        <div class="button">
          <a
            id="form-step-2"
            target="_self"
            class="cta-button"
            data-tracking-click-event="cta"
            data-tracking-click-info-value="{'linkClick' : 'Button | Next'}"
            data-tracking-web-interaction-value="{'webInteractions': {'name': 'Button','type': ''}}"
            style="background-color: #000000; color: #ffffff">
            <span class="cmp-button__text">Back</span>
          </a>
        </div>
      </div>
    </div>

    <!-- Result Table -->

    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script type="text/javascript" src="/etc.clientlibs/techcombank/clientlibs/clientlib-dependencies.js"></script>
    <script type="text/javascript" src="/etc.clientlibs/techcombank/clientlibs/clientlib-base.js"></script>
    <script type="text/javascript" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site.js"></script>
  </body>
</html>
