<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Sticky sidebar</title>
    <meta name="template" content="page-content" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/etc.clientlibs/techcombank/clientlibs/clientlib-base.css" type="text/css">
    <link rel="stylesheet" href="/etc.clientlibs/techcombank/clientlibs/clientlib-dependencies.css" type="text/css">
    <link rel="stylesheet" href="/etc.clientlibs/techcombank/clientlibs/clientlib-site.css" type="text/css">
  </head>

  <body class="page basicpage">
    <div class="sidebar-menu sticky-sidebar-component">
      <div class="sidebar-menu_background"></div>
      <div class="sidebar-menu_section sidebar-menu_section--top">
        <div class="sidebar-menu_item" data-tracking-click-event="linkClick"
          data-tracking-click-info-value="{'linkClick' : '@textIn(.sidebar-menu_item-title)'}"
          data-tracking-web-interaction-value="{'webInteractions': {'name': 'Sticky Sidebar','type': 'other'}}">
          <img class="sidebar-menu_item-icon" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/user.svg" />
          <span class="sidebar-menu_item-title">
            <span class="sidebar-menu_item-text">Privileges</span>
          </span>
        </div>
        <div class="sidebar-menu_item" data-tracking-click-event="linkClick"
          data-tracking-click-info-value="{'linkClick' : '@textIn(.sidebar-menu_item-title)'}"
          data-tracking-web-interaction-value="{'webInteractions': {'name': 'Sticky Sidebar','type': 'other'}}">
          <img class="sidebar-menu_item-icon" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/star.svg" />
          <span class="sidebar-menu_item-title">
            <span class="sidebar-menu_item-text">How to join</span>
          </span>
        </div>
        <div class="sidebar-menu_item" data-tracking-click-event="linkClick"
          data-tracking-click-info-value="{'linkClick' : '@textIn(.sidebar-menu_item-title)'}"
          data-tracking-web-interaction-value="{'webInteractions': {'name': 'Sticky Sidebar','type': 'other'}}">
          <img class="sidebar-menu_item-icon" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/activity.svg" />
          <span class="sidebar-menu_item-title">
            <span class="sidebar-menu_item-text">Happen now</span>
          </span>
        </div>
      </div>
      <div class="sidebar-menu_chat">
        <div class="sidebar-menu_chat-shadow"></div>
        <div class="sidebar-menu_chat-content"></div>
        <div data-tracking-click-event="cta"
        data-tracking-click-info-value="{'cta' : '@textIn(.sidebar-menu_item-title--for-floating)'}"
        data-tracking-web-interaction-value="{'webInteractions': {'name': 'Sticky Sidebar','type': 'other'}}">
          <div class="float-chat-icon"></div>
          <span class="sidebar-menu_item-title sidebar-menu_item-title--for-floating">Register now</span>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/etc.clientlibs/techcombank/clientlibs/clientlib-dependencies.js"></script>
    <script type="text/javascript" src="/etc.clientlibs/techcombank/clientlibs/clientlib-base.js"></script>
    <script type="text/javascript" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site.js"></script>
  </body>
</html>
