<sly data-sly-test="${wcmmode.edit}">
    <p class="cq-placeholder" data-emptytext="${component.title}"></p>
</sly>
<sly data-sly-use.options="com.adobe.cq.wcm.core.components.models.form.Options">
    <sly data-sly-test="${options.type.value == 'checkbox' || options.type.value == 'radio'}">
        <div class="${options.type.value} section ${properties.analytics ? 'analytics-form-field' : ''}"
             data-required="${properties.isRequired ? properties.requiredMsg : ''}">
            <div class="cmp-form-options__field--${options.type.value}">
                <label> ${options.title} <span data-sly-test="${properties.isRequired && options.title}">*</span></label>
                <div class="${options.type.value}-wrapper ${options.type.value == 'radio' ? 'one-column small' : ''}" data-sly-list.optionItem="${options.items}">
                    <div class="${options.type.value}-item">
                        <label for="" class="${options.type.value}-label">
                            <input name="${options.name}" type="${options.type.value}"
                                   data-sly-attribute.checked="${optionItem.selected}"
                                   value="${optionItem.value}" disabled="${optionItem.disabled}"/>
                            <div><p>${optionItem.text @context="html"}</p></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </sly>

    <sly data-sly-test="${options.type.value == 'drop-down' || options.type.value == 'multi-drop-down'}">
        <div class="dropdown section ${properties.analytics ? 'analytics-form-field' : ''}"
             data-type="${options.helpMessage}" data-required="${properties.isRequired ?
        properties.requiredMsg : ''}">
            <div class="cmp-form-options__drop-down">
                <label>${options.title}<span data-sly-test="${properties.isRequired}"> *</span></label>
                <div class="dropdown-wrapper" data-placeholder="${options.helpMessage}" data-selected="">
                    <div class="dropdown-inputbase" role="button">
                        <input class="dropdown-input" name="${options.name}" aria-hidden="true" tabindex="-1" value="" />
                        <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/arrow-icon-down-red.svg" alt="">
                    </div>
                    <div class="dropdown-backdrop" hidden></div>
                    <ul class="list-dropdown" hidden data-sly-list.optionItem="${options.items}">
                        <li class="dropdown-item" role="option" data-value="${optionItem.value}"
                            data-selected="${optionItem.selected}" disabled="${optionItem.disabled}">
                            <span>${optionItem.text @context="html"}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </sly>
</sly>
