<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.js @ categories=['kemin.imageGallery']}"/>
<sly
        data-sly-use.gallery="com.kemin.redesign.core.models.gallery.Gallery"
        data-sly-use.template="core/wcm/components/commons/v1/templates.html"
        data-sly-test.images="${gallery.galleryTiles.size == 0}"></sly>
<sly data-sly-call="${template.placeholder @ isEmpty=images, classAppend='cmp-title'}"></sly>
<sly data-sly-test="${!images}">
    <!-- Desktop items -->
    <div class="image-gallery-component">
        <div class="image-gallery-desktop">
            <span class="gallery-heading">${gallery.title}</span>

            <div class="gallery-panel">
                <div id="slide" class="row mySlides"  data-sly-repeat.item="${gallery.galleryTiles}" id="${itemList.index}">
                    <div data-sly-resource="${item.image @ resourceType='kemin-redesign/components/dynamicimage', selectors='presets.imageGallery'}" class="main-image"></div>
                    <sly data-sly-test="${item.caption != 'no-caption'}">
                        <div class="caption-container">
                            <p class="caption-text" id="caption">${item.caption}</p>
                        </div>
                    </sly>
                </div>

                <div class="row tiles">
                    <div class="col-3 thumbnail-column"  data-sly-repeat.item="${gallery.galleryTiles}">
                        <div data-sly-resource="${item.image @ resourceType='kemin-redesign/components/dynamicimage', selectors='presets.imageGalleryThumbnail'}" class="thumbnail cursor" id="${itemList.index}"></div>
                    </div>
                </div>

                <span class="icon-chevron-left  chevron-left gallery-icon-down"></span>
                <span class="icon-chevron-right  chevron-right gallery-icon-up"></span>
            </div>

        </div>
        <!-- Mobile items -->
        <div class="image-gallery-mobile ">
            <span class="heading-gallery-mobile" style="text-align:left">${gallery.title}</span>
            <div class="row">
                <div class="mySlides-mobile"  data-sly-repeat.item="${gallery.galleryTiles}">
                    <div data-sly-resource="${item.image @ resourceType='kemin-redesign/components/dynamicimage', selectors='presets.imageGallery'}" class="main-image-mobile"></div>
                    <sly data-sly-test="${item.caption != 'no-caption'}">
                        <div class="caption-container-mobile">
                            <p class="caption-text-mobile" >${item.caption}</p>
                        </div>
                    </sly>
                </div>
                <div class="direction-mobile">
                    <span class="icons-chevron-left-mobile ">❮</span>
                    <span class="icons-chevron-right-mobile">❯</span>
                </div>
                <div class=" tiles-mobile">
                    <div class="thumbnail-column-mobile"  data-sly-repeat.item="${gallery.galleryTiles}">
                        <div data-sly-resource="${item.image @ resourceType='kemin-redesign/components/dynamicimage', selectors='presets.imageGalleryThumbnail'}" class="thumbnail-mobile cursor" id="${itemList.index}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sly>