<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.model="com.techcombank.core.models.TermsAndConditionsModel"></sly>
<div class="checkbox section width-100" data-required="${model.required ? model.requiredMessage : ''}">
    <div class="cmp-form-options__field--term ${model.analytics ? 'analytics-form-field' : ''} ">
        <div class="checkbox-wrapper">
            <div class="checkbox-item">
                <label for="${model.fieldId @context='html'}" class="checkbox-label">
                    <input name="${model.fieldName @context='html'}"
                           type="checkbox" value="${model.fieldValue @context='html'}"/>
                    <div>
                        ${model.fieldTitle @context='html'}
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>
