.breadcrumb-rte {
    border: 1px solid;
    padding: 1px 2px;
    margin-top: -6px;
    background-color: gainsboro;
    font-size: 14px;
    min-height: 18px;
    margin-bottom: 1rem;
}

.breadcrumb-rte .placeholder {
    display: inline;
    font-size: 11px;
    font-style: italic;
}

.breadcrumb-rte .item-xpath,.breadcrumb-rte .item-sep {
    display: inline;
    color: #2b2a2a
}

.breadcrumb-rte .item-xpath:hover {
    text-decoration: underline;
    cursor: pointer;
}

.breadcrumb-rte .item-sep {
    font-size: 8px;
    color: #989696;
    margin: 0 5px;
}

.style-Picker-Dialog .cq-dialog-content .u-coral-padding .coral-Form-fieldwrapper {
    margin-bottom: 20px;
}

.style-Picker-Dialog #ADD_STYLE, .style-Picker-Dialog #REMOVE_STYLE {
    margin: 10px 20px 10px 20px;
    min-width: 100px;
}

.style-Picker-Dialog #ADD_STYLE {
    margin-left: 60px;
}

.style-Picker-Dialog .coral-Dialog-wrapper {
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
    margin: 0.625rem auto !important;
}

.cq-Dialog:not([fullscreen]) .cq-RichText-editable{
    min-height: 150px;
    height: auto !important;
}