<sly data-sly-test.isLeft="${properties.imagePosition=='left'}">
    <sly data-sly-use.templateContentBanner="leftcontentbanner.html"
         data-sly-call="${templateContentBanner.leftContentBanner @ param=properties}"></sly>
</sly>
<sly data-sly-test="${!isLeft}">
    <sly data-sly-use.templateContentBanner="rightcontentbanner.html"
         data-sly-call="${templateContentBanner.rightContentBanner @ param=properties}"></sly>
</sly>
