<div data-sly-use.surveyPanel="com.techcombank.core.models.SurveyPanelModel"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-test.hasContent="${surveyPanel}">
    <sly data-sly-test="${hasContent}">
      <div class="survey-panel-data-container" 
      data-sly-test="${surveyPanel.setWebInteractionType}"
      surveyPanel="${surveyPanel.getJson}"></div>
        <div class="survey-panel survey-panel__container">
          <!-- Question and Answer element-->
          <div class="survey-panel__QA">
            <!-- Panel Question -->
            <div class="survey-panel__question-wrapper">
              <div class="survey-panel__question">
                <label class="survey-panel__question-label"></label>
                <h4 class="survey-panel__question-title"></h4>
                <div class="question-radio-container"></div>
      
                <!-- Button submit Survey -->
                <div class="survey-panel__button-wrapper btn-next-question">
                  <a href="#" class="survey-panel__question-button">
                    <span class="button-text">${surveyPanel.nextCta}</span>
                    <div class="button-icon">
                      <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-arrow-icon.svg">
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <!-- Panel Process -->
            <div class="survey-panel__process-wrapper">
              <div class="survey-panel__process-image"></div>
              <div class="survey-panel__card-image" hidden>
                <img/>
              </div>
              <div class="survey-panel__button-wrapper btn-learn-more" hidden>
                <a class="survey-panel__question-button btn-learn-more" href="#" 
                target="${surveyPanel.openInNewTab ? '_blank' : '_self'}" 
                rel="${surveyPanel.noFollow ? 'nofollow' : ''}">
                  <span class="button-text">${surveyPanel.learnMoreCta}</span>
                  <div class="button-icon" style="margin-left: 0px">
                    <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-arrow-icon.svg">
                  </div>
                </a>
              </div>
              <div class="survey-panel__progress-bar">
                <div class="linear-progress-bar"></div>
              </div>
              <h4 class="survey-panel__process-label">${surveyPanel.q1ProgressBarDescriptionText}</h4>
            </div>
          </div>
        </div>
    </sly>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>