<sly data-sly-use.headerModel="com.techcombank.core.models.HeaderModel">
    <div class="header_layout ${headerModel.enableHomePage ? 'prelogin-header' : ''}">
        <div class="header-navigation">
            <!-- Primary Nav -->
            <div class="navigation_primary content-wrapper">

                <div class="navigation_primary-wrapper">
                    <!-- Left content Start -->
                    <div class="navigation-primary_left">
                        <!-- LOGO code START.. only to be displayed when Secondary Nav is not present -->
                        <sly data-sly-test="${headerModel.enableHomePage}">
                            <div class="header-logo" itemscope itemtype="https://schema.org/Organization">
                                <meta itemprop="name" content="Techcombank"/>
                                <a itemprop="url" href="${headerModel.logoImageLink}" class="link_component-link"
                                data-tracking-click-event="linkClick"
                                data-tracking-click-info-value="{'linkClick': '${component.title} | Header Logo'}"
                                data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${headerModel.logoImageLinkInteractionType}'}}">
                                    <picture>
                                        <source media="(max-width: 1024px)" srcset="${headerModel.logoMobileImagePath}" />
                                        <source media="(max-width: 360px)" srcset="${headerModel.logoMobileImagePath}"  />
                                        <source media="(max-width: 576px)" srcset="${headerModel.logoMobileImagePath}" />
                                        <source media="(min-width: 1025px)" srcset="${headerModel.logoWebImagePath}" />                                        
                                        <source media="(min-width: 1080px)" srcset="${headerModel.logoWebImagePath}" />
                                        <source media="(min-width: 1200px)" srcset="${headerModel.logoWebImagePath}" />
                                        <img itemprop="logo" src="${headerModel.logoWebImagePath}" alt="${headerModel.logoImageAltText}" />
                                    </picture>
                                </a>
                            </div>
                        </sly>
                        <!-- LOGO code END.. -->
                        <!-- See all Start -->
                        <sly data-sly-test="${headerModel.allProductEnabled}">
                            <a href="${headerModel.allProductsURL}"
                                class="navigation-primary_item navigation-primary_item-dropdown_list"
                                data-tracking-click-event="linkClick"
                                data-tracking-click-info-value="{'linkClick': '${component.title} | ${headerModel.allProductsLink}'}"
                                data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${headerModel.allProductsURLInteractionType}'}}">
                                <img class="icon-back"
                                    src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/dropdown-arrow.svg" />
                                <span class="dropdown_holder">${headerModel.allProductsLink}</span>
                            </a>
                        </sly>
                        <!-- See all End -->
                        <!-- different page dropdown Start -->
                        <sly
                            data-sly-test="${!headerModel.allProductEnabled && headerModel.landingPageMenu && !headerModel.enableHomePage }">
                            <div id="dropdown_btn"
                                class="navigation-primary_item navigation-primary_item-dropdown_list show-active-arrow">
                                <span class="dropdown_holder">
                                    <sly data-sly-test="${!headerModel.activePageMenuListed}">
                                        ${headerModel.defaultMenuLabel}
                                    </sly>
                                    <sly data-sly-test="${headerModel.activePageMenuListed}">
                                        <sly data-sly-list.landingMenuItems="${headerModel.landingPageMenu}">
                                            <sly
                                                data-sly-test="${landingMenuItems.landingPageURL == headerModel.activePrimaryMenuPagePath}">
                                                ${landingMenuItems.landingMenuTitle}</sly>
                                        </sly>
                                    </sly>
                                </span>
                                <span class="dropdown-arrow material-symbols-outlined">
                                    expand_more
                                </span>
                                <ul class="header_list_dropdown">
                                    <sly data-sly-list.landingMenuItems="${headerModel.landingPageMenu}">
                                        <li
                                            class="dropdown-item ${landingMenuItems.landingPageURL == headerModel.activePrimaryMenuPagePath ? 'active' : ''}">
                                            <a href="${landingMenuItems.landingPageURL}"
                                                target="${landingMenuItems.landingTarget}"
                                                data-tracking-click-event="linkClick"
                                                data-tracking-click-info-value="{'linkClick': '${component.title} | ${landingMenuItems.landingMenuTitle}'}"
                                                data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${landingMenuItems.landingPageURLInteractionType}'}}">
                                                ${landingMenuItems.landingMenuTitle}</a>
                                        </li>
                                    </sly>
                                </ul>
                            </div>
                        </sly>
                        <!-- different page dropdown End -->
                        <!--  Left Listing start: Explore item text START-->
                        <sly data-sly-test="${!headerModel.enableHomePage}">
                         <sly data-sly-test="${headerModel.discoverLabel}">
                           	 <div class="navigation-primary_item discover_dropdown_btn">
                                  <span class="link_text"><span>${headerModel.discoverLabel}</span></span>
                           	 </div>
                         </sly>
                            <!--  Left Listing start: Explore item text END-->
                            <!-- Left listing: menu Start-->
                            <sly data-sly-list.discoverMenuItems="${headerModel.discoverMenu}">
                                <div
                                    class="navigation-primary_item ${discoverMenuItems.discoverMenuPageURL == headerModel.currentActivePage ? 'show-active-arrow' : ''}">
                                    <a href="${discoverMenuItems.discoverMenuPageURL}"
                                        target="${discoverMenuItems.discoverTarget}" class="link_component-link"
                                        data-tracking-click-event="linkClick"
                                        data-tracking-click-info-value="{'linkClick': '${component.title} | ${discoverMenuItems.discoverMenuLabel}'}"
                                        data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${discoverMenuItems.discoverMenuPageURLInteractionType}'}}">                                        
                                        <span class="link_text">${discoverMenuItems.discoverMenuLabel}</span>
                                    </a>
                                </div>
                            </sly>
                            <!-- Left listing: menu End-->
                        </sly>
                    </div>
                    <!-- Left content End -->

                    <!-- Right content Start -->
                    <div class="navigation-primary_right">
                        <!-- Search -->
                        <a class="search-primary-btn" href="#search-primary-modal" data-sly-test="${headerModel.turnOnSearchOnNavigation}">
                            <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/search-primary-icon.svg" alt="search-icon" />
                        </a>
                        <!-- Right listing: menu Start-->
                        <sly data-sly-list.rightNavigationMenuItem="${headerModel.rightNavigationMenu}">
                            <div
                                class="navigation-primary_item ${rightNavigationMenuItem.navigationPageURL == headerModel.currentActivePage ? 'show-active-arrow' : ''} ${rightNavigationMenuItemList.last ? 'has-right-border' : ''}">
                                <a href="${rightNavigationMenuItem.navigationPageURL}"
                                    target="${rightNavigationMenuItem.navigationPageURL}" class="link_component-link"
                                    data-tracking-click-event="linkClick"
                                    data-tracking-click-info-value="{'linkClick': '${component.title} | ${rightNavigationMenuItem.navigationLabel}'}"
                                    data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${rightNavigationMenuItem.navigationPageURLInteractionType}'}}">
                                    <span class="link_text">${rightNavigationMenuItem.navigationLabel}</span>
                                </a>
                            </div>
                        </sly>
                        <!-- Right listing: menu End-->
                        <!-- Lang dropdown Start -->
                        <div class="language_dropdown_item">
                            <span class="material-symbols-outlined">public</span>
                            <span class="dropdown_holder">
                                <sly data-sly-list.languageItems="${headerModel.languageDetails}">
                                    <sly data-sly-test="${languageItems.languageUrl == headerModel.currentAliasActivePage}">
                                        ${languageItems.language}</sly>
                                </sly>
                            </span>
                            <span class="dropdown-arrow material-symbols-outlined">
                                expand_more
                            </span>
                            <ul class="language_dropdown">
                                <sly data-sly-list.languageItems="${headerModel.languageDetails}">
                                    <li
                                        class="dropdown-item ${languageItems.languageUrl == headerModel.currentAliasActivePage ? 'active' : ''}">
                                        <a href="${languageItems.languageUrl}" x-cq-linkchecker="skip">
                                            <span>${languageItems.language}</span>
                                        </a>
                                    </li>
                                </sly>
                            </ul>
                        </div>
                        <!-- Lang dropdown End -->
                        <!-- END -->
                        <!-- Login Start : only visible when no secondary Nav -->
                        <sly data-sly-test="${headerModel.enableHomePage}">
                            <div class="navigation-secondary_actions">
                                <div id="login-btn" class="link_component-link" target="_blank">

                                    <span class="link_text">
                                        <div class="navigation-secondary_actions-icon">
                                            <span>${headerModel.loginLabelText}</span> 
                                            <img src="https://d1kndcit1zrj97.cloudfront.net/uploads/white_arrow_4fd026b4ee.svg?w=32&amp;q=75" />
                                        </div>
                                    </span>
                                    <div class="login__drop-down">
                                        <sly data-sly-list.loginDataItems="${headerModel.loginData}">
                                            <div class="drop-down__item">
                                                <a  href="${loginDataItems.dropdownLoginURL}"
                                                    data-tracking-click-event="linkClick"
                                                    data-tracking-click-info-value="{'linkClick': '${component.title} | ${loginDataItems.dropdownLoginText}'}"
                                                    data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${loginDataItems.dropdownLoginURLInteractionType}'}}">
                                                    ${loginDataItems.dropdownLoginText}
                                                </a>
                                            </div>
                                        </sly>
                                    </div>
                                </div>
                                <!-- Hamburger : Start -->
                                <div class="hambuger-icon"><span></span><span></span><span></span></div>
                                <!-- Hamburger : End -->
                            </div>
                        </sly>
                        <!-- Login End -->
                    </div>
                </div>
            </div>
            <!-- Primary Nav END -->

            <!-- Secondary Nav Start-->
            <div class="navigation_secondary">
                <div class="navigation_secondary-wrapper content-wrapper">
                    <!-- Header Logo Start-->

                    <div class="header-logo" itemscope itemtype="https://schema.org/Organization">
                        <meta itemprop="name" content="Techcombank"/>
                        <a itemprop="url" href="${headerModel.logoImageLink}" class="link_component-link"
                        data-tracking-click-event="linkClick"
                        data-tracking-click-info-value="{'linkClick': '${component.title} | Header Logo'}"
                        data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${headerModel.logoImageLinkInteractionType}'}}">
                            <picture>
                                <source media="(max-width: 1024px)" srcset="${headerModel.logoMobileImagePath @context='html'}" />
                                <source media="(max-width: 360px)" srcset="${headerModel.logoMobileImagePath @context='html'}"  />
                                <source media="(max-width: 576px)" srcset="${headerModel.logoMobileImagePath @context='html'}" />
                                <source media="(min-width: 1025px)" srcset="${headerModel.logoWebImagePath @context='html'}" />
                                <source media="(min-width: 1080px)" srcset="${headerModel.logoWebImagePath @context='html'}" />
                                <source media="(min-width: 1200px)" srcset="${headerModel.logoWebImagePath @context='html'}" />
                                <img src="${headerModel.logoWebImagePath @context='html'}" itemprop="logo"
                                    alt="${headerModel.logoImageAltText}" />
                            </picture>
                        </a>
                    </div>
                    <!-- Header Logo End-->

                    <!-- Nav First Level Start -->
                    <sly data-sly-test="${!headerModel.enableHomePage}">
                        <div class="navigation-secondary_menu">
                            <sly data-sly-list.secondaryMenuNavLevel1Item="${headerModel.secondaryMenuNavLevel1}">
                                <!-- active class should get added to a tag -->
                                <div class="navigation-secondary_item ${headerModel.activeSecondaryMenuPagePath == secondaryMenuNavLevel1Item.menuLinkUrl ? 'active' : ''} ${secondaryMenuNavLevel1Item.secondaryMenuNavLevel2 ? 'secondary-nav' : ''}">
                                    <a href="${secondaryMenuNavLevel1Item.menuLinkUrl}"
                                        target="${secondaryMenuNavLevel1Item.openinnewtab}"
                                        data-tracking-click-event="linkClick"
                                        data-tracking-click-info-value="{'linkClick': '${component.title} | ${secondaryMenuNavLevel1Item.menuLabelText}'}"
                                        data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${secondaryMenuNavLevel1Item.menuLinkUrlInteractionType}'}}">
                                        <span>${secondaryMenuNavLevel1Item.menuLabelText}</span>
                                    </a>
                                    <!-- active class should get added to span tag hving materal-symbol-outlined class -->
                                    <span class="icon material-symbols-outlined">
                                        navigate_next
                                    </span>
                                </div>
                            </sly>
                        </div>
                    </sly>
                    <!-- Nav First Level End -->

                    <!-- Login Section Start -->
                    <div class="navigation-secondary_actions">
                        <sly data-sly-test="${!headerModel.enableHomePage}">
                            <a href="${headerModel.loginLabelLinkUrl}" id="login-btn" class="link_component-link"
                                target="${headerModel.openinnewtab}"
                                data-tracking-click-event="linkClick"
                                data-tracking-click-info-value="{'linkClick': '${component.title} | ${headerModel.loginLabelText}'}"
                                data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${headerModel.loginLabelLinkUrlInteractionType}'}}">
                                <span class="link_text">
                                    <div class="navigation-secondary_actions-icon">
                                        <span>${headerModel.loginLabelText}</span>
                                        <img src="https://d1kndcit1zrj97.cloudfront.net/uploads/white_arrow_4fd026b4ee.svg?w=32&amp;q=75" />
                                    </div>
                                </span>
                            </a>
                        </sly>
                        <!--  -->
                        <sly data-sly-test="${headerModel.enableHomePage}">
                            <div id="login-btn" class="link_component-link" target="_blank">

                                <span class="link_text">
                                    <div class="navigation-secondary_actions-icon">
                                        <span>${headerModel.loginLabelText}</span>
                                        <img src="https://d1kndcit1zrj97.cloudfront.net/uploads/white_arrow_4fd026b4ee.svg?w=32&amp;q=75" />
                                    </div>
                                </span>
                                <div class="login__drop-down">
                                    <sly data-sly-list.loginDataItems="${headerModel.loginData}">
                                        <div class="drop-down__item">
                                            <a href="${loginDataItems.dropdownLoginURL}"
                                            data-tracking-click-event="linkClick"
                                            data-tracking-click-info-value="{'linkClick': '${component.title} | ${loginDataItems.dropdownLoginText}'}"
                                            data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${loginDataItems.dropdownLoginURLInteractionType}'}}">
                                             ${loginDataItems.dropdownLoginText}</a>
                                        </div>
                                    </sly>
                                </div>
                            </div>
                        </sly>
                        <!--  -->

                        <div class="hambuger-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <!-- Login Section End -->
                </div>
            </div>
            <!-- Secondary Nav End-->
        </div>

        <!-- Secondar Nav Sub : large3 -->
        <div class="header-content">
            <!-- Secondary Nav Start-->
            <div class="navigation_sub">
                <!-- Primary Nav Mobile Start-->
                <div class="mobile-menu">
                    <div class="mobile-main-nav mobile-xl">
                        <div class="mobile-button">
                            <div
                                class="navigation-primary_item navigation-primary_item-dropdown_list mobile-menu-dropdown">
                                <span class="dropdown_holder">
                                    <sly data-sly-test="${!headerModel.activePageMenuListed}">
                                        ${headerModel.defaultMenuLabel}
                                    </sly>
                                    <sly data-sly-test="${headerModel.activePageMenuListed}">
                                        <sly data-sly-list.landingMenuItems="${headerModel.landingPageMenu}">
                                            <sly
                                                data-sly-test="${landingMenuItems.landingPageURL == headerModel.activePrimaryMenuPagePath}">
                                                ${landingMenuItems.landingMenuTitle}</sly>
                                        </sly>
                                    </sly>
                                </span>
                                <div class="dropdown-arrow materal-symbols-outlined active mobile-arrow-down">
                                    <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/dropdown-icon.svg"/>
                                </div>
                                <div class="header_list_dropdown">
                                    <ul>
                                        <sly data-sly-list.landingMenuItems="${headerModel.landingPageMenu}">
                                            <li
                                                class="dropdown-item ${landingMenuItems.landingPageURL == headerModel.activePrimaryMenuPagePath ? 'active' : ''} ">
                                                <a href="${landingMenuItems.landingPageURL}"
                                                    target="${landingMenuItems.landingTarget}"
                                                    data-tracking-click-event="linkClick"
                                                    data-tracking-click-info-value="{'linkClick': '${component.title} | ${landingMenuItems.landingMenuTitle}'}"
                                                    data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${landingMenuItems.landingPageURLInteractionType}'}}">
                                                     ${landingMenuItems.landingMenuTitle}</a>
                                            </li>
                                        </sly>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <sly data-sly-test="${!headerModel.enableHomePage}">
                            <div class="discover_dropdown_btn">
                                <div class="discover_label">
                                    <span class="link_text"><span>${headerModel.discoverLabel}</span></span>
                                </div>
                            </div>
                            <div class="discover_category">
                                <sly data-sly-list.discoverMenuItems="${headerModel.discoverMenu}">
                                    <div class="navigation-primary_item ${discoverMenuItems.discoverMenuPageURL == headerModel.currentActivePage ? 'show-active-arrow' : ''}">
                                        <a href="${discoverMenuItems.discoverMenuPageURL}"
                                            target="${discoverMenuItems.discoverTarget}" class="link_component-link"
                                            data-tracking-click-event="linkClick"
                                            data-tracking-click-info-value="{'linkClick': '${component.title} | ${discoverMenuItems.discoverMenuLabel}'}"
                                            data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${discoverMenuItems.discoverMenuPageURLInteractionType}'}}">
                                            <span class="link_text">${discoverMenuItems.discoverMenuLabel}</span>
                                        </a>
                                    </div>
                                </sly>
                            </div>
                            <sly>
                    </div>
                    <div class="mobile-menu-items"></div>
                </div>
                <!-- Primary Nav Mobile End-->

                <div class="navigation_sub_wraper">
                    <div class="navigation_sub_inner">
                        <div class="mobile-xl">
                            <div class="back_menu">
                                <span class="material-symbols-outlined active">
                                    navigate_before
                                </span>
                                <span class="back-menu-text"></span>
                            </div>
                        </div>

                        <sly data-sly-list.secondaryMenuNavLevel1Item="${headerModel.secondaryMenuNavLevel1}">
                            <sly data-sly-test="${secondaryMenuNavLevel1Item.secondaryMenuNavLevel2}">
                                <div class="navigation_sub_item">
                                    <div class="navigation_tab_title">
                                        <sly
                                            data-sly-list.secondaryMenuNavLevel2Item="${secondaryMenuNavLevel1Item.secondaryMenuNavLevel2}">
                                            <div
                                                class="tab_item ${secondaryMenuNavLevel2ItemList.first ? 'active' : ''}">
                                                <a href="${secondaryMenuNavLevel2Item.subTabMenuLinkUrl}" target="${secondaryMenuNavLevel2Item.openinnewtab}"
                                                data-tracking-click-event="linkClick"
                                                data-tracking-click-info-value="{'linkClick': '${component.title} | ${secondaryMenuNavLevel2Item.subTabMenuLabelText}'}"
                                                data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${secondaryMenuNavLevel2Item.subTabMenuLinkUrlInteractionType}'}}">                                                
                                                    <span>${secondaryMenuNavLevel2Item.subTabMenuLabelText}</span>
                                                </a>
                                                <span class="material-symbols-outlined">arrow_forward</span>
                                            </div>
                                        </sly>
                                    </div>
                                    <div class="navigation_tab_content">
                                        <sly
                                            data-sly-list.secondaryMenuNavLevel2Item="${secondaryMenuNavLevel1Item.secondaryMenuNavLevel2}">
                                            <div class="tab_content">
                                                <div class="navigation_sub_list">
                                                    <sly
                                                        data-sly-list.secondaryMenuNavLevel3Item="${secondaryMenuNavLevel2Item.secondaryMenuNavLevel3}">
                                                        <a class="navigation_sub_tab_item ${secondaryMenuNavLevel3ItemList.index > 3 ? 'default-hide' : ''}"
                                                            href="${secondaryMenuNavLevel3Item.subMenuLinkUrl}"
                                                            target="${secondaryMenuNavLevel3Item.openinnewtab}"
                                                            data-tracking-click-event="linkClick"
                                                            data-tracking-click-info-value="{'linkClick': '${component.title} | ${secondaryMenuNavLevel3Item.subMenuLabelText}'}"
                                                            data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${secondaryMenuNavLevel3Item.subMenuLinkUrlInteractionType}'}}">                                                            
                                                            <sly data-sly-test="${secondaryMenuNavLevel3Item.subMenuIconImage}"> 
                                                            <div class="navigation_sub_item-image">                                                                                                                         
                                                                <picture>                            										
                            					    <source media="(max-width: 360px)"	srcset="${secondaryMenuNavLevel3Item.subMenuIconMobileImagePath @context='html'}"  />
								    <source media="(max-width: 576px)"	srcset="${secondaryMenuNavLevel3Item.subMenuIconMobileImagePath @context='html'}" />                            										                                     
								    <source media="(min-width: 1080px)"	srcset="${secondaryMenuNavLevel3Item.subMenuWebIconImagePath @context='html'}" />
								    <source media="(min-width: 1200px)"	srcset="${secondaryMenuNavLevel3Item.subMenuWebIconImagePath @context='html'}" />
                                   				    <img src="${secondaryMenuNavLevel3Item.subMenuWebIconImagePath @context='html'}"
                                                                    alt="${secondaryMenuNavLevel3Item.imageAltText}" />
                            					</picture>                            					
                                                            </div>
                                                            </sly>
                                                            <div class="navigation_sub_item-content">
                                                                <p class="navigation_sub_item-title">
                                                                    ${secondaryMenuNavLevel3Item.subMenuLabelText}
                                                                </p>
                                                                <span
                                                                    class="navigation_sub_item-des">${secondaryMenuNavLevel3Item.subTabMenuLabelDesc}</span>
                                                            </div>
                                                        </a>
                                                    </sly>
                                                </div>
                                                <sly
                                                    data-sly-test="${secondaryMenuNavLevel2Item.viewAllSubTab && secondaryMenuNavLevel2Item.viewLessSubTab}">
                                                    <div class="navigation_sub_item-viewall" id="viewAllButton">
                                                        <a
                                                            class="link_component-link collapsed">${secondaryMenuNavLevel2Item.viewAllSubTab}<span></span></a>
                                                        <a
                                                            class="link_component-link expanded">${secondaryMenuNavLevel2Item.viewLessSubTab}<span></span></a>
                                                        <span class="material-symbols-outlined">expand_more</span>
                                                    </div>
                                                </sly>

                                                <div class="navigation_tab_bottom">
                                                    <sly
                                                        data-sly-test="${secondaryMenuNavLevel2Item.subMenuBottomLinkIcon}">
                                                        <a href="${secondaryMenuNavLevel2Item.subMenuBottomLinkUrl}"
                                                            target="${secondaryMenuNavLevel2Item.subMenuTargetLeft}"
                                                            class="link_component-link"
                                                            data-tracking-click-event="linkClick"
                                                	    data-tracking-click-info-value="{'linkClick': '${component.title} | ${secondaryMenuNavLevel2Item.subMenuBottomLinkText}'}"
                                                	    data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${secondaryMenuNavLevel2Item.subMenuBottomLinkUrllInteractionType}'}}">
                                                            <picture>                            										
                            					<source media="(max-width: 360px)" srcset="${secondaryMenuNavLevel2Item.subMenuBottomLinkMobileIconPath}"  />
								<source media="(max-width: 576px)" srcset="${secondaryMenuNavLevel2Item.subMenuBottomLinkMobileIconPath}" />                            										                                     
								<source media="(min-width: 1080px)" srcset="${secondaryMenuNavLevel2Item.subMenuBottomLinkWebIconPath}" />
								<source media="(min-width: 1200px)" srcset="${secondaryMenuNavLevel2Item.subMenuBottomLinkWebIconPath}" />                                   									
                                                                <img src="${secondaryMenuNavLevel2Item.subMenuBottomLinkWebIconPath}" />
                            				    </picture>
                                                            <span>${secondaryMenuNavLevel2Item.subMenuBottomLinkText}</span>
                                                        </a>
                                                    </sly>
                                                        <a href="${secondaryMenuNavLevel2Item.subMenuBottomLinkUrlRight}"
                                                            target="${secondaryMenuNavLevel2Item.subMenuTargetRight}"
                                                            class="link_component-link"
                                                            data-tracking-click-event="linkClick"
                                                	    data-tracking-click-info-value="{'linkClick': '${component.title} | ${secondaryMenuNavLevel2Item.subMenuBottomLinkTextRight}'}"
                                                	    data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${secondaryMenuNavLevel2Item.subMenuBottomLinkUrlRightInteractionType}'}}">
                                                            <span
                                                                class="link-text">${secondaryMenuNavLevel2Item.subMenuBottomLinkTextRight}</span>
                                                            <span class="material-symbols-outlined"><img
                                                                    src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/right-detail-arrow.svg"
                                                                    alt=""></span>
                                                        </a>
                                                </div>
                                            </div>
                                        </sly>
                                    </div>
                                </div>
                            </sly>
                        </sly>
                    </div>
                </div>
            </div>
            <!-- Secondary Nav End-->
        </div>
    </div>
</sly>
