.compability-check {
    display: flex;
    align-items: center;
    justify-content: center;

    .selected {
        cursor: pointer;
        padding: 0 calculateRem(12) 0 calculateRem(12);
        color: $color-cinder;
        font-weight: 800;
        font-size: calculateRem(18);

        &.active {
            color: $color-coal;
        }
    }

    .selected .dp-val1:after {
        content: "\e900";
        float: right;
        font-family: 'custom-dropdown-icon';
        top: calculateRem(-10);
        position: relative;
    }

    .custom-dropdown {
        .wrapper.active {
            .selected {
                color: $color-coal;
            }
        }
    }

    .custom-dropdown.active {
        .wrapper.active {
            background-color: $color-light-grey;
            border-radius: calculateRem(7);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: calculateRem(2) solid $color-coal;
        }

        .selected {
            padding: 0 calculateRem(12) calculateRem(10) calculateRem(12);
        }

        .bottom-wrapper {
            height: calculateRem(35);
            background-color: $color-dropdown-bottom-wrapper-default;
            border-bottom: calculateRem(2) solid $color-dropdown-bottom-wrapper-border-default;
            z-index: 8;
            position: relative;
            margin-top: calculateRem(-5);
        }
    }

    .custom-dropdown-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: none;
        background-color: $color-smoke;
        border-radius: calculateRem(7);
        margin-top: calculateRem(12);
        box-shadow: 0 calculateRem(10) calculateRem(20) 0 rgba(0, 0, 0, 0.13);
        max-height: calculateRem(300);
        overflow-y: scroll;
    }

    .custom-dropdown-list::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border: calculateRem(4) solid transparent;
        border-radius: calculateRem(10);
        background-clip: padding-box;
    }

    .custom-dropdown-list::-webkit-scrollbar {
        width: calculateRem(16);
    }


    .custom-dropdown-list.open {
        display: block;
        position: relative;
        z-index: 9;
    }

    .custom-dropdown-list li {
        padding: calculateRem(5);
        cursor: pointer;
        padding: calculateRem(7) calculateRem(16) calculateRem(5) calculateRem(16);
        min-height: calculateRem(54);
        box-sizing: border-box;
        font-size: calculateRem(18);
        font-weight: 800;
        letter-spacing: 0;
        line-height: calculateRem(24);
        color: $color-dark-slate-gray;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        position: relative;

    }

    .custom-dropdown-list li:hover {
        background: $color-dropdown-list-hover-night;
        border-radius: calculateRem(7);

        .dp-val1 {
            padding-left: calculateRem(16);
        }

        .dp-val1:before {
            margin-left: calculateRem(-16);
            display: inline-block;
            content: "";
            border-left: calculateRem(2) solid$color-light-grey1;
            height: calculateRem(24);
            width: calculateRem(2);
            position: absolute;
        }
    }

    .custom-dropdown-list li.active {
        .dp-val1 {
            padding-left: calculateRem(16);

            &:before {
                border-left: calculateRem(2) solid$color-water-day;
                margin-left: calculateRem(-16);
                display: inline-block;
                content: "";
                height: calculateRem(24);
                width: calculateRem(2);
                position: absolute;
            }
        }
    }
}


.compability-check label.blank-field-input-label {
    display: inline-block;
    background: 0 0;
    font-size: calculateRem(16);
    font-weight: 500;
    letter-spacing: 0;
    line-height: calculateRem(21);
    padding: calculateRem(12) calculateRem(12) 0 calculateRem(12);
}

.compability-check .input-container {
    height: calculateRem(71);
    min-width: calculateRem(392);
    border-radius: calculateRem(4);
    margin: 0 calculateRem(16) calculateRem(16);
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: .3s;
    transition: .3s;
    position: relative;
    // background-color: $color-smoke;
    outline: none;
    text-align: left;

    .wrapper {
        border-radius: calculateRem(7);
        height: calculateRem(71);
    }
}

.compability-check .input-container{
    &:hover {
        .selected,
        label {
            color: $color-dark-slate-gray;
        }
    
        .wrapper.disabled{
            .selected,
            label {
                color: #aaa;
            }
        }    
    }
    .wrapper.disabled{
        .selected,
        label {
            color: #aaa;
        }
    }    
}


// drodpwn size (regular is default)
.cmp-comp-check__slim {
    .compability-check {
        label.blank-field-input-label {
            font-size: calculateRem(12);
            line-height: calculateRem(15);
            display: block;
            padding: calculateRem(7) calculateRem(6) 0 calculateRem(6);
        }

        .wrapper {
            height: calculateRem(48);
            display: flex;
            flex-direction: column;
            justify-content: center;

            .selected {
                font-size: calculateRem(14);
                line-height: calculateRem(17);
                display: block;
                padding: 0 calculateRem(6) calculateRem(5) calculateRem(6);

                .dp-val1:after {
                    top: calculateRem(-7);
                }
            }
        }

        .custom-dropdown-list li {
            font-size: calculateRem(14);
            line-height: calculateRem(17);

            &:hover,
            &.active {
                .dp-val1:before {
                    height: calculateRem(18);
                }
            }
        }
    }
}

// day & night mode with flipped
.day {
    .compability-check {
        label.blank-field-input-label {
            color: $color-cinder;
        }

        .input-container {
            .wrapper {
                background-color: $color-smoke;
            }

            &:hover label {
                color: $color-dark-slate-gray;
            }
        }
    }

    .cmp-comp-check__day-flipped {
        .compability-check {

            .input-container {
                .wrapper {
                    background-color: $color-marshmallow;
                }
            }
        }
    }
}

.night {
    .compability-check {
        label.blank-field-input-label {
            color: $color-ash;
        }

        .input-container {
            .wrapper {
                background-color: $color-charcoal;

                .selected {
                    color: $color-ash;
                }
            }

            &:hover {

                .selected,
                label {
                    color: $color-marshmallow;
                }

            }
        }

        .custom-dropdown {
            .wrapper.active {
                .selected {
                    color: $color-marshmallow;
                }
            }
        }

        .custom-dropdown.active {

            .wrapper.active {
                background-color: $color-dropdown-active;
                border-bottom: calculateRem(2) solid $color-dropdown-border-bottom;
            }

            .custom-dropdown-list {
                background-color: $color-charcoal;

                li:hover {
                    background-color: $color-dropdown-list-hover;
                }

                li.active {
                    .dp-val1 {
                        padding-left: calculateRem(16);

                        &:before {
                            border-left: calculateRem(2) solid $color-water-night-blue;
                            margin-left: calculateRem(-16);
                            display: inline-block;
                            content: "";
                            height: calculateRem(24);
                            width: calculateRem(2);
                            position: absolute;
                        }
                    }
                }
            }

            .bottom-wrapper {
                background-color: $color-dropdown-bottom-wrapper;
                margin-top: calculateRem(-5);
                height: calculateRem(35);
                opacity: 0.5;
                z-index: 8;
                position: relative;
                border-bottom: calculateRem(2) solid $color-dropdown-bottom-wrapper-border;
            }

        }

        .custom-dropdown-list li {
            color: $color-smoke;

        }

        .custom-dropdown-list li:hover {
            background: $color-dropdown-list-hover-night;
            border-radius: calculateRem(7);

            .dp-val1 {
                padding-left: calculateRem(16);
            }

            .dp-val1:before {
                margin-left: calculateRem(-16);
                display: inline-block;
                content: "";
                border-left: calculateRem(2) solid$color-light-grey1;
                height: calculateRem(24);
                width: calculateRem(2);
                position: absolute;
            }
        }
    }

    .cmp-comp-check__night-flipped {
        .compability-check {
            label.blank-field-input-label {
                color: $color-ash;
            }

            .input-container {
                .wrapper {
                    background-color: $color-coal;
                }
            }

        }
    }
}

#devicetxt {
    display: none;
    height: calculateRem(32);
    width: fit-content;
    border-radius: calculateRem(7);
    background-color: #00873F;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.sucesstxt {
    color: #FFFFFF;
    font-size: calculateRem(14);
    letter-spacing: 0;
    line-height: calculateRem(36);
    margin-left: calculateRem(7) !important;
    margin-right: calculateRem(6.4) !important;
    display: inline-block;
}

#devicetxt {
    position: relative;
    pointer-events:none
}

#devicetxt label {
    background-color: #fff;
    border: calculateRem(1) solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: calculateRem(16);
    left: calculateRem(6);
    position: absolute;
    top: calculateRem(8);
    width: calculateRem(16);
}

#devicetxt label:after {
    border: calculateRem(2) solid green;
    border-top: none;
    border-right: none;
    content: "";
    height: calculateRem(3.2);
    left: calculateRem(3.2);
    opacity: 0;
    position: absolute;
    top: calculateRem(6);
    transform: rotate(-45deg);
    width: calculateRem(8);
}

#devicetxt input[type="checkbox"] {
    visibility: hidden;
}

#devicetxt input[type="checkbox"]:checked+label {
    background-color: #fff;
    border-color: #fff;
}

#devicetxt input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

@media (max-width: calculateRem(1208)) {
    .compability-check .input-container {
        min-width: calculateRem(310);
    }
}

@media (min-width: calculateRem(1208)) {
    .compability-check .input-container {
        min-width: calculateRem(343);
    }
}

@media (max-width: calculateRem(1024)) {
    .compability-check .input-container {
        min-width: 29%;
    }
}

@media (max-width: calculateRem(767)) {
    // .container.responsivegrid{
    //     width: 100% !important;
    // }
    .compability-check {
        flex-direction: column;

        .input-container {
            min-width: 90%;
        }
    }
}

@media (min-width: calculateRem(768)) and (max-width: calculateRem(895)){
    .compability-check {
        display: contents;
    }
}
