<form id="dropdowns" class="compability-check" action="index.html">
    <div class="input-container">
        <div class="custom-dropdown">
            <div class="wrapper">
                <label class="blank-field-input-label"><span>Brand</span></label>
                <div class="selected" data-val="">
                    <div class="dp-val1">Please select brand</div>
                </div>
            </div>
            <ul class="custom-dropdown-list" id="brand2">
                <li data-val="0">
                    <div class="dp-val1">Please select brand</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="input-container">
        <div class="custom-dropdown">
            <div class="wrapper">
                <label class="blank-field-input-label"><span>Model</span></label>
                <div class="selected" data-val="" id="modelFamilyPlaceholder">
                    <div class="dp-val1">Please select Model</div>
                </div>
            </div>
            <ul class="custom-dropdown-list" id="modelFamily2">
                <li data-val="0">
                    <div class="dp-val1">Please select Model</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="input-container">
        <div class="custom-dropdown">
            <div class="wrapper">
                <label class="blank-field-input-label"><span>Device</span></label>
                <div class="selected" data-val="" id="modelPlaceholder">
                    <div class="dp-val1">Please select Device</div>
                </div>
            </div>
            <ul class="custom-dropdown-list" id="model2">
                <li data-val="0">
                    <div class="dp-val1">Please select device</div>
                </li>
            </ul>
        </div>
    </div>
</form>
<div id="devicetxt"> <input type="checkbox" id="checkbox" checked/>
    <label for="checkbox"></label><p class="sucesstxt"> Yeah! your device is campatable</p>
</div>