.cmp-accordion__item {
  width: 100%;
  position: relative;
  padding: 0;
  border-radius: calculateRem(7);
  transition: $transition-1;
  margin: 0 0 calculateRem(16);

  .cmp-accordion__header {
    .cmp-accordion__button {
      // Remove Browser Styling
      -webkit-appearance: none;
      -moz-appearance: none;
      outline: none;
      border: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: rgba(0, 0, 0, 0);
      // End Remove Browser Styling
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: inherit;
      padding: calculateRem(14) calculateRem(16) calculateRem(13);
      cursor: pointer;
      border-radius: calculateRem(7);
      width: 100%;

      .cmp-accordion__title {
        flex-grow: 2;
        font-family: $font-primary;
        font-weight: $font-weight-extrabold;
        text-align: left;
        line-height: calculateRem(21);
      }

      .cmp-accordion__icon {
        box-sizing: border-box;
        flex-shrink: 0;
        width: calculateRem(22);
        height: calculateRem(22);
        border-radius: calculateRem(11);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s $transition-cb;

        &:after,
        &:before {
          transition: $transition-1;
          position: absolute;
          border-radius: calculateRem(1);
          height: calculateRem(2);
          width: calculateRem(12);
          content: "";
          filter: blur(calculateRem(0.2));
        }

        &:after {
          transform: rotateZ(90deg);
        }
      }

      &.cmp-accordion__button--expanded {
        .cmp-accordion__icon {

          &:before,
          &:after {
            transition: $transition-1;
            transform: rotateZ(360deg);
          }
        }
      }

      &.cmp-accordion__button--disabled {
        pointer-events: none;
      }
    }
  }

  .cmp-accordion__panel {
    &.cmp-accordion__panel--hidden {
      padding: 0 calculateRem(16);
      overflow: hidden;
      height: 0;
      transition: $transition-1;
      opacity: 0;
    }

    &.cmp-accordion__panel--expanded {
      &>.container {
        width: 100% !important;
      }

      opacity: 1;
      padding: calculateRem(16);
      overflow: visible;
      height: unset;
      transition: $transition-1;
    }
  }
}

.cmp-accordion__item:last-child {
  margin: 0;
}

/* START:  Margin Override Options */
.cmp-accordion__bm-128 {
  margin: 0 0 calculateRem(128);
}

.cmp-accordion__bm-64 {
  margin: 0 0 calculateRem(64);
}

.cmp-accordion__bm-32 {
  margin: 0 0 calculateRem(32);
}

.cmp-accordion__bm-16 {
  margin: 0 0 calculateRem(16);
}

.cmp-accordion__bm-8 {
  margin: 0 0 calculateRem(8);
}

.cmp-accordion__bm-4 {
  margin: 0 0 calculateRem(4);
}

.cmp-accordion__bm-2 {
  margin: 0 0 calculateRem(2);
}

.cmp-accordion__bm-0 {
  margin: 0 0 calculateRem(0);
}

/* END:  Margin Override Options */
.day {
  .cmp-accordion {
    .cmp-accordion__item {
      background-color: $color-smoke;

      .cmp-accordion__header {
        .cmp-accordion__button {
          &:hover {
            color: $color-charcoal;
            backdrop-filter: brightness(90%);
          }

          .cmp-accordion__title {
            color: $color-cinder;

            &:hover {
              color: $color-charcoal;
            }

            &:active {
              color: $color-coal;
            }
          }

          .cmp-accordion__icon {
            border: calculateRem(2) solid $color-cinder;
            background-color: $color-marshmallow;

            &:after,
            &:before {
              background-color: $color-cinder;
            }
          }
        }
      }
    }
  }

  .cmp-accordion__button--expanded {
    color: $color-charcoal;
    backdrop-filter: brightness(90%);
  }

  .cmp-accordion__flipped {
    .cmp-accordion {
      .cmp-accordion__item {
        background-color: $color-marshmallow;

        .cmp-accordion__header {
          .cmp-accordion__button {
            &:hover {
              color: $color-charcoal;
              backdrop-filter: brightness(90%);
            }

            .cmp-accordion__title {
              color: $color-cinder;

              &:hover {
                color: $color-charcoal;
              }

              &:active {
                color: $color-coal;
              }
            }

            .cmp-accordion__icon {
              border: calculateRem(2) solid $color-cinder;
              background-color: $color-marshmallow;

              &:after,
              &:before {
                background-color: $color-cinder;
              }
            }
          }
        }
      }
    }
  }
}

.night {
  .cmp-accordion {
    .cmp-accordion__item {
      background-color: $color-charcoal;

      .cmp-accordion__header {
        .cmp-accordion__button {
          &:hover {
            color: $color-smoke;
            backdrop-filter: brightness(90%);
          }

          .cmp-accordion__title {
            color: $color-ash;

            &:hover {
              color: $color-smoke;
            }

            &:active {
              color: $color-marshmallow;
            }
          }

          .cmp-accordion__icon {
            border: calculateRem(2) solid $color-ash;
            background-color: $color-coal;

            &:after,
            &:before {
              background-color: $color-ash;
            }
          }
        }
      }
    }
  }

  .cmp-accordion__button--expanded {
    color: $color-smoke;
    backdrop-filter: brightness(150%);
  }

  .cmp-accordion__flipped {
    .cmp-accordion {
      .cmp-accordion__item {
        background-color: $color-coal;

        .cmp-accordion__header {
          .cmp-accordion__button {
            &:hover {
              color: $color-smoke;
              backdrop-filter: brightness(90%);
            }

            .cmp-accordion__title {
              color: $color-ash;

              &:hover {
                color: $color-smoke;
              }

              &:active {
                color: $color-marshmallow;
              }
            }

            .cmp-accordion__icon {
              border: calculateRem(2) solid $color-ash;
              background-color: $color-coal;

              &:after,
              &:before {
                background-color: $color-ash;
              }
            }
          }
        }
      }
    }
  }
}

.tabss {
  margin: 1rem 0;

  >.cmp-accordion {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    position: relative;

    .cmp-accordion__panel {
      display: none
    }

    .cmp-accordion__item .cmp-accordion__header .cmp-accordion__button:hover {
      backdrop-filter: brightness(100%);
    }
  }
}

.tabss .cmp-accordion.iconview .cmp-accordion__header {
  display: block;
}

.cmp-accordion.iconview .cmp-accordion__header {
  display: none;
}

.cmp-accordion__item.iconViewTabSelectd {
  display: block !important;
}

.cmp-accordion__item.iconViewTabSelectd .cmp-accordion__panel {
  opacity: 1 !important;
  display: block;
  overflow: visible !important;
  padding: 1rem !important;
  height: unset !important;
  transition: all 1s cubic-bezier(0, .48, .19, 1.01) !important;
}

/** START: Accordion Iconview **/
.accordion {
  display: block !important;
}

.tabss> :not(.accordion__tabs-content:first-of-type) {
  display: none;
}

.tabss {
  .accordion__tabs-content {
    display: flex;
    justify-content: center;


    .tabss__item {
      display: block;
      width: calculateRem(100);
      height: calculateRem(100);
      margin: calculateRem(15) calculateRem(10) calculateRem(15) 0;
      background: #f2f2f2;
      border: calculateRem(3) solid #f2f2f2;
      border-radius: 1rem;
      text-align: center;
      padding: 0;
      position: relative;
      overflow: hidden;
      color: #525261;
      box-sizing: border-box;
      padding: calculateRem(5);
      cursor: pointer;

      &.active {
        border: calculateRem(3) solid #f36c21;
        background: #F5DACC;
      }


      img {
        margin: 0 auto;
        max-width: 100%;
        border: 0;
        height: calculateRem(70);
        background-size: contain;
        margin-bottom: calculateRem(4);
      }

      p {
        font-size: calculateRem(14);
        color: #525261;
        line-height: normal;
        word-break: break-all;
      }
    }
  }

}

.cmp-accordion.iconview .cmp-accordion__item {
  display: none;
}

/** END: Accordion Iconview **/

/*START: Horizontal Alignment*/
.cmp-accordion__horizontal-left {
  float: left !important;
}

.cmp-accordion__horizontal-right {
  float: right !important;
}

.cmp-accordion__horizontal-center {
  float: none !important;
  margin: 0 auto !important;
}

/*END: Horizontal Alignment*/

@media (max-width: calculateRem(767)) {

  .accordion,
  .accordion .aem-GridColumn {
    padding: 0;
  }
}

/* START: Accordion UI Enhancements */

.boost {
  .cmp-accordion {
    .cmp-accordion__item {
      background-color: $field-01;
      margin: 0;
    
      &:first-child {
        border-radius: 8px 8px 0 0;

        .cmp-accordion__header {
          .cmp-accordion__button {
            border-radius: 8px 8px 0 0;
          }
        }
      }

      .cmp-accordion__header {
        .cmp-accordion__button {
            height: 40px;
            border-radius: 0;
            border-bottom: 1px solid $color05-Brand-primary;

            &:focus {
              border: 3px solid $border-focus;
              height: 43px;
            }

            &:hover {
              background-color: $field-02;
            }
    
          .cmp-accordion__title {
            color: #272728 !important;
            font-family: inherit;
            line-height: 22px;
          }
    
          .cmp-accordion__icon {
            background-color: transparent!important;
            border: none!important;
            width: 24px;
            height: 24px;
    
            &:before {
              content: "";
              border: solid #000;
              border-width: 0 1px 1px 0;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              background-color: transparent!important;
              width: 9.5px;
              height: 9.5px;
            }
    
            &:after {
              content: none;
            }
          }
    
          &.cmp-accordion__button--expanded {
            .cmp-accordion__icon {
    
              &:before {
                -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
              }
            }
          }
    
          &.cmp-accordion__button--disabled {
            background-color: #F3F3F4;
            border-bottom: 1px solid #D0D0D2;

            .cmp-accordion__title {
              color: #D0D0D2 !important;
            }

            .cmp-accordion__icon {
              &:before {
                border: solid #D0D0D2;
                border-width: 0 1px 1px 0;
              }
            }
          }
        }
      }
    
      .cmp-accordion__panel {
        border-bottom: 1px solid $color05-Brand-primary;
        background-color: $field-03;
      }
    }
  }
  
  
  .cmp-accordion__flipped {
    .cmp-accordion {
      .cmp-accordion__item {
        background-color: $color-marshmallow;

        .cmp-accordion__panel {
          background-color: $color-marshmallow;
        }
      }
    }
  }
}

/* END: Accordion UI Enhacement */
