<div data-sly-use.model="com.techcombank.core.models.PersonnelPanelModel"
  data-sly-use.template="core/wcm/components/commons/v1/templates.html" data-sly-test.hasContent="${model.personnelName}">
  <sly data-sly-test="${hasContent}">
    <div class="personal-section pad-wrapper"
      style="--right-panel-background-color: ${model.rightPanelBackgroundColor @context='styleString'}">
      <div class="personal-container">
        <div class="personal-panel">
          <div class="personal-info">
            <div class="personal-info-container">
              <div class="personal-info-content">
                <div class="personal-info-description">
                  ${model.personnelDescription @ context='html'}
                </div>
                <h3 class="personal-info-name">${model.personnelName}</h3>
                <div class="personal-info-position">${model.personnelPosition}</div>
                <div class="personal-link-button">
                  <a href="${model.panelButtonLinkUrl}" target="${model.openInNewTab ? '_blank' : '_self'}"
                    rel="${model.noFollow ? 'nofollow' : ''}" class="personal-button"
                    style="justify-content: flex-start"
                    data-tracking-click-event="linkClick"
                    data-tracking-click-info-value="{'linkClick' : '${model.panelButtonText}'}"
                    data-tracking-web-interaction-value="{'webInteractions': {'name': 'Personnel panel','type': '${model.webInteractionType}'}}">
                    <span class="bio-button-text">${model.panelButtonText}</span>
                  </a>
                </div>
              </div>
              <span class="left-Square"></span>
            </div>
          </div>
          <div class="empty-col-bio"></div>
          <div class="personal-image">
            <div class="personal-image-container">
              <img class="image-personal" alt="${model.imageAltText}" src="${model.personnelImage}" decoding="async"
                data-nimg="intrinsic" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </sly>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>
