<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.model="com.techcombank.core.models.FinancialHighlightsModel"/>
<div class="quarter-item" data-quarter="${model.fhQuarter @context='html'}">
    <h3 class="title">${model.fhTitle @context='html'}</h3>
    <div class="table">
        ${model.fhData @context='html'}
    </div>
    <div class="note">
        <p>
            ${model.fhNotes @context='html'}
        </p>
    </div>
</div>
