// Button Styling
.cmp-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  width: fit-content;
  border-radius: calculateRem(7);
  padding: calculateRem(12) calculateRem(32);
  font-family: var(--font-primary);
  color: var(--color-neutral-base);
  @include t-18();
  font-weight: $font-weight-extrabold;
  background: var(--primary-color-inactive) linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)) 0% 100%/100% 0% no-repeat;
  overflow: hidden;
  transition: 0.1s transform $transition-cb, 0.3s background-size $transition-cb,
    0.1s background-image $transition-cb;
  text-align: center;
  justify-content: center;
  height: calculateRem(48);

  &:hover,
  &:focus {
    background-size: 100% 100%;
    border-radius: calculateRem(7);
  }

  &:active {
    // transform: scale(0.95);
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
    border-radius: calculateRem(7);
  }

  .cmp-button__text {
    @include t-18();
    font-weight: $font-weight-extrabold;
    text-align: center;
    position: relative;
    cursor: pointer;
    outline: none;
    word-break: break-word;
  }
}

.button.cmp-button__filled {
  .cmp-button.keyboardFocus:before {
    display: block;
    content: "";
    left: calculateRem(-5);
    top: calculateRem(-5);
    width: 100%;
    height: 100%;
    border: calculateRem(2) solid $color-water-nighty !important;
    position: absolute;
    padding: calculateRem(5) calculateRem(3);
    border-radius: calculateRem(7);
  }
}

.button.cmp-button__ghost {
  .cmp-button.keyboardFocus:before {
    display: block;
    content: "";
    left: calculateRem(-7);
    top: calculateRem(-7);
    width: 100%;
    height: 100%;
    border: calculateRem(2) solid $color-water-nighty !important;
    position: absolute;
    padding: calculateRem(6) calculateRem(5);
    border-radius: calculateRem(7);
  }
}

.button {
  outline: none;
  margin-bottom: 4rem;

  a {
    &:hover {
      &:after {
        background-color: transparent;
      }
    }

    &:after {
      background-color: transparent;
    }
  }

  //Sizes: Standard(default) & Smol
  &.cmp-button__standard>.cmp-button {
    // min-width: calculateRem(110);
    padding: calculateRem(9) calculateRem(32) calculateRem(8);

    .cmp-button__text {
      @include t-18();
    }
  }

  &.cmp-button__smol>.cmp-button {
    // min-width: calculateRem(84);
    height: calculateRem(32);
    max-height: calculateRem(32);
    padding: calculateRem(6) calculateRem(20) calculateRem(7);

    .cmp-button__text {
      @include t-14();
    }
  }

  //Type Filled(default) & Ghost
  &.cmp-button__ghost>.cmp-button {
    // height: calculateRem(38);
    border-width: calculateRem(2) calculateRem(2) calculateRem(6) calculateRem(2);
    border-style: solid;

    &.cmp-button__smol {
      height: calculateRem(35);
      padding: calculateRem(4) calculateRem(18) calculateRem(5);
      border-width: calculateRem(2) calculateRem(2) calculateRem(5) calculateRem(2);

      &:hover {
        border-width: calculateRem(2) calculateRem(2) calculateRem(4) calculateRem(2);
      }

      &:active {
        border-width: calculateRem(2);
        border-radius: calculateRem(7);
      }
    }

    &:hover {
      border-width: calculateRem(2) calculateRem(2) calculateRem(5) calculateRem(2);
    }

    &:active {
      border-width: calculateRem(2);
      border-radius: calculateRem(7);
    }
  }

  //Color Neutral(Default) & Water
  &.cmp-button__water>.cmp-button {
    @include button-filled($color-water-day, $color-marshmallow);
  }

  &.cmp-button__frosty>.cmp-button {
    background-color: transparentize($color-coal, 0.5);
    backdrop-filter: blur(calculateRem(7)) saturate(1%);
  }

  &:disabled>.cmp-button {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.4;
    box-shadow: 0 0 0 0 $color-marshmallow;
    transition: $transition-1;

    .cmp-button__text {
      cursor: not-allowed;
    }

    &:hover,
    &:focus-within,
    // &:focus,
    &:active {
      transform: translateY(0);
      box-shadow: 0 0 0 0 white;
    }
  }

  &.cmp-button__disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.4;
    box-shadow: 0 0 0 0 $color-marshmallow;

    .cmp-button__text {
      cursor: not-allowed;
    }

    &.cmp-button__filled>.cmp-button {
      box-shadow: none !important;
    }

    &.cmp-button__ghost>.cmp-button {
      border-width: 0.125rem 0.125rem 0.125rem 0.125rem !important;
      box-shadow: none !important;
    }
  }
}

//Author bottom margin for all break points
.cmp-button__bm-0 {
  margin-bottom: 0;
}

.cmp-button__bm-0125 {
  margin-bottom: calculateRem(2);
}

.cmp-button__bm-025 {
  margin-bottom: calculateRem(4);
}

.cmp-button__bm-05 {
  margin-bottom: calculateRem(8);
}

.cmp-button__bm-1 {
  margin-bottom: calculateRem(16);
}

.cmp-button__bm-2 {
  margin-bottom: calculateRem(32);
}

.cmp-button__bm-3 {
  margin-bottom: calculateRem(48);
}

.cmp-button__bm-4 {
  margin-bottom: calculateRem(64);
}

.cmp-button__bm-8 {
  margin-bottom: calculateRem(128);
}

//default Primary day and night colors(eg. boost)
.day {
  .button {

    // Style Options //
    &.cmp-button__ghost>.cmp-button {
      border: calculateRem(2) solid var(--primary-color-inactive);
      color: var(--primary-color-inactive);
      border-color: transparent;
      background: none;
      background-color: $color-transperent;
      background: transparent;
      border-style: solid;

      &:hover {
        background-color: #E7E7E8;
        border-color: transparent;
        color: var(--primary-color-hover);

        ::before {
          background-size: 100% 100%;
        }
      }

      &:focus {
        background-color: $color-marshmallow;
        color: var(--primary-color-hover);
        border: 3px solid var(--primary-color-hover);
        height: calculateRem(54);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);


        ::before {
          background-size: 100% 100%;
        }
      }

      &:active {
        background-color: #DBDBDD;
        border-bottom: calculateRem(2) solid var(--primary-color-day);
        border-color: transparent;
        color: var(--primary-color-active);
      }

      .cmp-button__text {
        color: var(--primary-color-day);
      }
    }
  }

  .cmp-button {
    // neutral color // filled style
    border: none;
    background-color: var(--primary-color-day);

    &:hover {
      background-color: var(--primary-color-hover);
    }

    &:active {
      background-color: var(--primary-color-day);
    }

    .cmp-button__text {
      color: $color-marshmallow;
    }
  }

  img {
    vertical-align: middle;
  }
}

.night {
  .button {

    // Style Options //
    &.cmp-button__ghost>.cmp-button {
      border-color: transparent;
      background-color: $color-transperent;
      background: transparent;
      border-style: solid;

      &:hover {
        background-color: #E7E7E8;
      }

      &:active {
        background-color: #DBDBDD;
        border-bottom: calculateRem(2) solid var(--primary-color-day);
      }

      &:focus {
        background-color: $color-marshmallow;
        color: var(--primary-color-hover);
        border: 3px solid var(--primary-color-hover);
        height: calculateRem(54);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);


        ::before {
          background-size: 100% 100%;
        }
      }

      .cmp-button__text {
        color: var(--primary-color-day);
        top: calculateRem(2);
      }
    }
  }

  .cmp-button {
    // neutral color // filled style
    border: none;
    background-color: var(--primary-color-night);

    &:hover {
      background-color: var(--primary-color-night);
    }

    &:active {
      background-color: var(--primary-color-night);
    }

    .cmp-button__text {
      color: $color-coal;
    }
  }

  img {
    vertical-align: middle;
  }
}

//day/night mode classes
.day {
  .button {

    // Style Options //
    &.cmp-button__filled {

      //size option
      &.cmp-button__standard>.cmp-button {
        padding: 0.625rem 2rem 0.5rem;
      }

      &.cmp-button__smol>.cmp-button {
        padding: 0.3684rem 1.25rem 0.3125rem 1.25rem;
      }

      // Color Options //
      &.cmp-button__water>.cmp-button {
        @include button-filled($color-water-day, $color-marshmallow);
      }

      &.cmp-button__neutral>.cmp-button {
        @include button-filled-lighten($color-coal, $color-marshmallow);
      }

      // for smol
      &.cmp-button__water.cmp-button__smol>.cmp-button {
        box-shadow: 0 calculateRem(3) 0 0 lighten($color-water-day, 15%);

        &:active {
          transform: translateY(0.1875rem);
        }
      }

      &.cmp-button__neutral.cmp-button__smol>.cmp-button {
        box-shadow: 0 calculateRem(3) 0 0 lighten($color-coal, 15%);

        &:active {
          transform: translateY(0.1875rem);
        }
      }
    }

    &.cmp-button__ghost {

      //size option
      &.cmp-button__standard>.cmp-button {
        padding: 0.5rem 1.875rem 0.375rem 1.875rem;
        //default box shadow
        background-color: transparent;
        box-shadow: 0 0 0 0 var(--primary-color-day);
        border: 0.125rem solid var(--primary-color-day);
      }

      &.cmp-button__smol>.cmp-button {
        padding: 0.25rem 1.125rem 0.3125rem 1.125rem;
        //default box shadow
        background-color: transparent;
        box-shadow: 0 0 0 0 var(--primary-color-day);
        border: 0.125rem solid var(--primary-color-day);
      }

      // Color Options //
      &.cmp-button__water>.cmp-button {
        @include button-ghost-night($color-transperent, $color-water-day);
      }

      &.cmp-button__neutral>.cmp-button {
        @include button-ghost-night($color-transperent, $color-coal);
      }

      //for smol size
      &.cmp-button__water.cmp-button__smol>.cmp-button,
      &.cmp-button__neutral.cmp-button__smol>.cmp-button {
        border-width: calculateRem(2) calculateRem(2) calculateRem(5) calculateRem(2);

        &:hover {
          border-width: calculateRem(2) calculateRem(2) calculateRem(4) calculateRem(2);
        }

        &:active {
          transform: translateY(0.1875rem);
        }
      }
    }
  }
}

.night {
  .button {

    // Style Options //
    &.cmp-button__filled {

      //size option
      &.cmp-button__standard>.cmp-button {
        padding: 0.625rem 2rem 0.5rem;
      }

      &.cmp-button__smol>.cmp-button {
        padding: 0.3684rem 1.25rem 0.3125rem 1.25rem;
      }

      // Color Options //
      &.cmp-button__water>.cmp-button {
        @include button-filled($color-water-nighty, $color-coal);
      }

      &.cmp-button__neutral>.cmp-button {
        @include button-filled-darken($color-marshmallow, $color-coal);
      }

      // for smol
      &.cmp-button__water.cmp-button__smol>.cmp-button {
        box-shadow: 0 calculateRem(3) 0 0 darken($color-water-nighty, 15%);

        &:active {
          transform: translateY(0.1875rem);
        }
      }

      &.cmp-button__neutral.cmp-button__smol>.cmp-button {
        box-shadow: 0 calculateRem(3) 0 0 darken($color-marshmallow, 15%);

        &:active {
          transform: translateY(0.1875rem);
        }
      }
    }

    &.cmp-button__ghost {

      //size option
      &.cmp-button__standard>.cmp-button {
        padding: 0.5rem 1.875rem 0.375rem 1.875rem;

        //default box shadow
        background-color: transparent;
        box-shadow: 0 0 0 0 var(--primary-color-day);
        border: 0.125rem solid var(--primary-color-day);
      }

      &.cmp-button__smol>.cmp-button {
        padding: 0.25rem 1.125rem 0.3125rem 1.125rem;
        //default box shadow
        background-color: transparent;
        box-shadow: 0 0 0 0 var(--primary-color-day);
        border: 0.125rem solid var(--primary-color-day);
      }

      // Color Options //
      &.cmp-button__water {
        &.cmp-button__standard>.cmp-button {
          @include button-ghost-standard($color-transperent,
            $color-water-nighty);
        }

        &.cmp-button__smol>.cmp-button {
          @include button-ghost-smol($color-transperent, $color-water-nighty);
        }
      }

      &.cmp-button__neutral {
        &.cmp-button__standard>.cmp-button {
          @include button-ghost-standard($color-transperent,
            $color-marshmallow);
        }

        &.cmp-button__smol>.cmp-button {
          @include button-ghost-smol($color-transperent, $color-marshmallow);
        }
      }
    }
  }
}

// button image default color for day/night
.stickybuttonClass {
  position: fixed;
  bottom: 45px;
}

// genesis night icons color based on filled and ghost
.button {
  span.cmp-button__left {
    padding-right: calculateRem(4);
  }

  span.cmp-button__right {
    padding-left: calculateRem(4);
  }
}

.day {
  .button .cmp-button span>svg {
    vertical-align: middle;
  }

  .button.cmp-button__ghost span svg {
    path {
      fill: var(--primary-color-day);
    }
  }

  .button.cmp-button__filled span svg {
    path {
      fill: $color-marshmallow;
    }
  }
}

.night {
  .button .cmp-button span>svg {
    vertical-align: middle;
  }

  .button.cmp-button__ghost span svg {
    path {
      fill: var(--primary-color-day);
    }
  }

  .button.cmp-button__filled span svg {
    path {
      fill: $color-coal;
    }
  }
}

// button anchor hover underline removed
.button a:after,
.button a:hover:after {
  background: none !important;
}

@media (min-width: 320px) and (max-width: 415px) {

  .day,
  .night {
    .button .cmp-button {
      text-align: center;
    }
  }
}

.reducedheader {
  .cmp-button {
    background-color: transparent;
    padding: 0;
    justify-content: center;
    align-items: center;

    &:hover,
    &:active {
      background-color: transparent;
      background-image: none;

      .cmp-button__text,
      svg path {
        color: $color-charcoal;
        fill: $color-charcoal;
      }
    }

    .cmp-button__left,
    .cmp-button__right {
      line-height: 16px;
    }

    .cmp-button__text {
      font-family: var(--font-primary);
      color: $color-cinder;
      font-size: calculateRem(16);
      line-height: calculateRem(24);
    }

    svg {
      width: calculateRem(16);
      box-sizing: border-box;

      path {
        color: $color-cinder;
        fill: $color-cinder;
      }
    }
  }

  .button:nth-child(3)>a {
    float: right;
  }
}

// button alignment left/right/center
.cmp-button--left .cmp-button {
  float: left;
}

.cmp-button--center .cmp-button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}

.cmp-button--right .cmp-button {
  float: right;
}

@media only screen and (min-width: 1025px) {

  .reducedheader,
  .button {
    .cmp-button.desktopBg {
      display: flex;
    }

    .cmp-button.tabletBg,
    .cmp-button.phoneBg {
      display: none !important;
    }
  }
}

//mobile screen
@media (min-width: 768px) and (max-width: 1024px) {

  .reducedheader,
  .button {
    .cmp-button.tabletBg {
      display: flex;
    }

    .cmp-button.desktopBg,
    .cmp-button.phoneBg {
      display: none !important;
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {

  .reducedheader,
  .button {
    .cmp-button.phoneBg {
      display: flex;
    }

    .cmp-button.tabletBg,
    .cmp-button.desktopBg {
      display: none !important;
    }
  }
}

.pointer-events-none {
  pointer-events: none;
}

// checkout button disabled //
.disable-after-click-active {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.6;
  transition: all 1s cubic-bezier(0, 0.48, 0.19, 1.01);
}