.formsgenesis {
  form {
    position: relative;
    padding: calculateRem(17) calculateRem(33) calculateRem(8) calculateRem(33);
    box-sizing: border-box;

    .button {
      text-align: center;
      margin-bottom: 0;
    }

    .errorZipcode,
    .errorEmail,
    .errorPhoneNumber,
    .errorAddress {
      float: left;
      color: $color-error;
      font-size: calculateRem(16);
    }

    .input-container .span-element input {
      padding-right: 1.25rem;
    }
  }
}

//common error message for boost leadGen & form genesis
.formsgenesis,
.leadgen {
  .input-container {
    &.default {
      border-bottom-color: $color-coal !important;
    }

    &.typing {
      // border-bottom-color: $color-water-day !important;
    }

    &.error {
      border-color: $color-error !important;
    }

    &.success {
      border-color: $color-brand-genesis-green !important;
    }

    .addressIcon {
      &.error {
        border-color: $color-error !important;
      }

      &.success {
        border-color: $color-brand-genesis-green !important;
      }
    }
  }
}

.leadgenform {
  .errormsg {
    margin-bottom: calculateRem(21);
  }
}

.leadgenform2 {
  display: none;

  #successmsg {
    margin-bottom: calculateRem(21);
  }
}

.leadgenQualificationform {
  display: none;
}

.addressIcon {
  border: 1px solid #FFFFFF;
  background-color: #2A2A38;
  border-radius: calculateRem(8);
  display: flex;
  align-items: center;

  img {
    margin-left: calculateRem(20);
  }

  input {
    border: none !important;
    padding-left: calculateRem(10) !important;
  }
}

.genesis {

  .formsgenesis,
  .leadgen {
    .input-container {
      &.default {
        border-bottom-color: $color-coal !important;
      }

      &.error {
        .span-element input {
          border-color: $color-error !important;
        }
      }

      &.success {
        .span-element input {
          border-color: $color-brand-genesis-green !important;
        }
      }
    }
  }
}

.day {
  .leadgengenesis {
    padding: 0;
  }

  .formsgenesis {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 calculateRem(21) calculateRem(54) calculateRem(-10) rgba(0, 0, 0, 0.2);

    &::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: $color-midnight;
      opacity: 0.6;
      border-radius: calculateRem(15);
    }

    .button {
      text-align: center;
      margin-bottom: 0;
      padding-top: calculateRem(17);
    }

    .buttongenesis {
      margin: calculateRem(18) calculateRem(24);
    }

    .text-title.text {
      padding: calculateRem(64) calculateRem(64) calculateRem(32) calculateRem(64);
      text-align: center;
    }

    .text-privacy.text {
      padding: calculateRem(28) calculateRem(63) calculateRem(64) calculateRem(64);
      text-align: center;
    }

    .input-container {
      height: 2.5rem;
      width: auto;
      border-radius: 0.2em;
      color: inherit;
      position: relative;
      text-align: center;
      margin-bottom: calculateRem(20);
      clear: both;
    }

    .checkbox {
      margin: calculateRem(16) 0;
      position: relative;
      line-height: calculateRem(16);
      display: inline-block;
      width: 100%;

      input {
        position: absolute;
      }

      p {
        margin-left: calculateRem(20);
        color: $color-marshmallow;
      }

      label {
        padding-left: calculateRem(28);
        color: $color-marshmallow;
      }
    }

    .input-container:focus {
      border: calculateRem(2) #e95095 !important;
    }

    .label {
      font-size: calculateRem(12);
      left: calculateRem(10);
      color: $color-cinder;
      padding: 0 calculateRem(16);
    }

    label.blank-field-input-label {
      display: inline-block;
      background: 0 0;
      vertical-align: sub;
      top: calculateRem(6);
      font-family: var(--font-primary);
      font-size: calculateRem(16);
      font-weight: $font-weight-medium;
      color: $color-marshmallow;
      padding: 0 calculateRem(24);
    }

    .input-container .span-element input {
      height: 2.5rem;
      border: none;
      width: 100%;
      background-color: transparent;
      font-family: var(--font-primary);
      font-size: calculateRem(18);
      font-weight: $font-weight-medium;
      color: $color-cinder;
      background-color: var(--color-marshmallow);
      padding-left: calculateRem(20);
      box-sizing: border-box;
      border: 1px solid #FFFFFF;

      &:focus-visible {
        outline: none;
      }
    }

    .input-container input::-webkit-input-placeholder,
    .input-container input::-moz-placeholder,
    .input-container input::-ms-input-placeholder {
      font-weight: 800;
    }

    .errormsg {
      height: auto;
      background-color: $color-error-night;
      border-radius: calculateRem(7);
      margin: 0 0 calculateRem(22) 0;
      padding: calculateRem(4) calculateRem(10) calculateRem(10) calculateRem(10);
    }

    .errormsg>p {
      color: $color-coal;
      font-family: var(--font-primary);
      font-size: calculateRem(14);
      letter-spacing: 0;
      line-height: calculateRem(19);
      margin: 0;
      display: inline;
      // padding: calculateRem(6) calculateRem(8) calculateRem(7) calculateRem(32);
    }

    .errormsg p span.alert-circle.icon-Alert-Circle {
      font-size: calculateRem(16);
      position: relative;
      top: calculateRem(2);
      padding-right: calculateRem(10);
    }

    .waves-effect {
      position: relative;
      cursor: pointer;
      overflow: hidden;
      user-select: none;
      will-change: opacity, transform;
    }

    #btnSubmit {
      background-color: red;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    #btnSubmit.enabled {
      background-color: green;
    }

    .cmp-text p {
      font-family: var(--font-primary);
      font-size: calculateRem(14);
      font-weight: $font-weight-medium;
      letter-spacing: 0;
      line-height: calculateRem(19);
      padding-top: calculateRem(47);

      a {
        font-weight: $font-weight-extrabold;
      }
    }

    .text {
      text-align: center;
    }
  }

  .flipped {
    .forms {
      .input-container {
        background-color: $color-marshmallow;
      }
    }
  }
}

.night {
  .leadgengenesis {
    padding: 0;
  }

  .formsgenesis {
    position: relative;
    width:auto;
    height: 100%;

    // box-shadow: 0 calculateRem(21) calculateRem(54) calculateRem(-10)
    //   rgba(0, 0, 0, 0.2);
    // background-color: #181725;
    // border-radius: calculateRem(25);
    &::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
    }

    .button {
      text-align: center;
      margin-bottom: 0;
      padding-top: calculateRem(17);
    }

    .text-title.text {
      padding: calculateRem(64) calculateRem(64) calculateRem(32) calculateRem(64);
      text-align: center;
    }

    .text-privacy.text {
      padding: calculateRem(28) calculateRem(63) calculateRem(64) calculateRem(64);
      text-align: center;
    }

    .input-container {
      height: auto;
      width: auto;
      border-radius: calculateRem(8);
      color: inherit;
      position: relative;
      text-align: center;
      margin-bottom: calculateRem(20);
      clear: both;
    }

    .input-container label {
      font-size: calculateRem(12);
      left: calculateRem(10);
      color: $color-ash;
      padding: 0 calculateRem(16);
    }

    .input-container label:hover {
      color: $color-charcoal;
    }

    .input-container label:active {
      color: $color-coal;
    }

    label.blank-field-input-label {
      display: inline-block;
      background: 0 0;
      vertical-align: sub;
      top: calculateRem(6);
      font-family: var(--font-primary);
      font-size: calculateRem(16);
      font-weight: $font-weight-medium;
      color: $color-cinder;
    }

    .input-container .span-element input {
      height: calculateRem(57);
      border-radius: calculateRem(8);
      width: 100%;
      font-family: var(--font-primary);
      font-size: calculateRem(16);
      font-weight: $font-weight-medium;
      color: #979797;
      background-color: #2A2A38;
      padding-left: calculateRem(20);
      box-sizing: border-box;
      border: 1px solid #FFFFFF;
    }

    .input-container .span-element input:focus {
      outline: none;
      // color: $color-marshmallow;
    }

    .checkbox {
      margin: calculateRem(16) 0;
      position: relative;
      line-height: calculateRem(16);
      display: inline-block;
      width: 100%;

      input {
        position: absolute;
      }

      p {
        margin-left: calculateRem(20);
        color: $color-marshmallow;
      }

      label {
        padding-left: calculateRem(28);
        color: $color-marshmallow;
      }
    }

    .waves-effect {
      position: relative;
      cursor: pointer;
      overflow: hidden;
      user-select: none;
      will-change: opacity, transform;
    }

    #btnSubmit {
      background-color: grey;
    }

    #btnSubmit.enabled {
      background-color: black;
    }

    .cmp-text p {
      font-family: var(--font-primary);
      font-size: calculateRem(14);
      font-weight: $font-weight-medium;
      letter-spacing: 0;
      line-height: calculateRem(19);
      text-align: center;
      padding: calculateRem(18) calculateRem(37) 0 calculateRem(37);


      a {
        color: #0165bc;
        font-weight: $font-weight-extrabold;
      }
    }

    .text {
      text-align: center;
      padding-top: calculateRem(29);
    }
  }

  .flipped {
    .forms {
      .input-container {
        background-color: $color-coal;
      }
    }
  }
}

/** Leadgen form Qualificaiton failed form **/
#leadgenQualificationform {
  .text {
    margin-bottom: calculateRem(28);
  }

  .errormsg {
    text-align: center;
    margin-bottom: calculateRem(68);
  }
}

//errors
.leadgen {
  .forms {
    .input-container {

      #errorZipcode,
      #errorEmail,
      #errorAddress {
        position: relative;
        top: calculateRem(12);
        font-size: calculateRem(14);
        line-height: calculateRem(19);
      }
    }
  }
}

.day {
  .leadgen {
    .forms {
      .input-container {

        #errorZipcode,
        #errorEmail,
        #errorAddress {
          color: $color-error;
        }
      }
    }
  }
}

.night {
  .leadgen {
    .forms {
      .input-container {

        #errorZipcode,
        #errorEmail,
        #errorAddress {
          color: $color-error-light;
        }
      }
    }
  }
}

.autocomplete-items {
  position: relative;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  // padding-left: calculateRem(64);
  background-color: #2A2A38;
}

.autocomplete-items div {
  padding: calculateRem(10) calculateRem(10) calculateRem(10) calculateRem(64);
  cursor: pointer;
  background-color: #1E1E20;
  text-align: left;
  font-size: calculateRem(16);
  font-family: 'Azo Sans';
}

.autocomplete-items {
  .dvOption {
    .streetLine {
      font-family: "Azo Sans";
      font-size: calculateRem(16);
      letter-spacing: 0.3px;
      line-height: calculateRem(20);
      font-weight: bold;
    }
  }
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #00A54F;
  color: $color-brand-genesis-black-russian;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


// horizontal leadgen form 
.formsgenesis.leadgen.cmp-leadgen__horizontal {
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.leadgen.cmp-leadgen__horizontal {
  .input-field0 {
    float: left;
    width: 47% !important;
    clear: none;
  }

  .input-field1 {
    float: right;
    width: 47% !important;
    margin-bottom: calculateRem(37);
    clear: none;
  }

  .input-field2 {
    float: left;
    width: 47% !important;
    clear: none;
  }

  .input-field3 {
    float: right;
    width: 47% !important;
    clear: none;
  }

  .input-field4 {
    float: left;
    width: 47% !important;
    clear: none;
  }
}

@media (min-width: 320px) and (max-width: 414px) {
  .day {
    .forms {
      width: auto;
      height: auto;

      .input-container {
        width: auto;
        height: auto;

        #errorZipcode,
        #errorEmail,
        #errorAddress {
          top: calculateRem(20);
        }
      }
    }
  }

  .day,
  .night {
    .formsgenesis {
      .cmp-text p {
        padding: calculateRem(16) calculateRem(16) 0 calculateRem(16);
      }

      .input-container {
        margin-bottom: calculateRem(16);
      }

      form {

        .errorZipcode,
        .errorEmail,
        .errorAddress {
          float: left;
          color: $color-error;
          font-size: 12px;
          width: 100%;
          text-align: left;
        }

        .button {
          padding-top: calculateRem(17);
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .formsgenesis form {
    padding: calculateRem(16);
  }
}

/** MEADIA QUERY FOR PHONE : leadgen Horizontal **/
@media screen and (max-width: calculateRem(767)) {
  .leadgen.cmp-leadgen__horizontal {
    .input-container {
      float: none;
      width: 100% !important;
    }
  }

}

//loading spinner css goes here..
.loading-spinner {
  background: #e6e6e61f;
  width: 100%;
  position: fixed;
  top: 0;
  height: 100vh;
  display: none;
}

.genesis .loading-spinner {
  z-index: 999999;

  .loading-container .shape.shape1 {
    left: 0;
    background-color: $color-brand-genesis-green;
  }

  .loading-container .shape.shape2 {
    right: 0;
    background-color: $color-brand-genesis-green;
  }

  .loading-container .shape.shape3 {
    bottom: 0;
    background-color: $color-brand-genesis-green;
  }

  .loading-container .shape.shape4 {
    bottom: 0;
    right: 0;
    background-color: $color-brand-genesis-green;
  }
}

.loading-container {
  margin: 0 auto;
  margin-top: 20%;
  z-index: 9999;
}

.loading-container.animation-2 {
  -webkit-animation: rotation 1s infinite;
  animation: rotation 1s infinite;
}

.loading-container.animation-2 {
  -webkit-animation: rotation 1s infinite;
  animation: rotation 2s infinite;
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

.loading-container {
  width: 30px;
  height: 30px;
  position: relative;
}

.loading-container .shape {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 1px;
}

.loading-container .shape.shape1 {
  left: 0;
  background-color: orange;
}

.loading-container .shape.shape2 {
  right: 0;
  background-color: orange;
}

.loading-container .shape.shape3 {
  bottom: 0;
  background-color: orange;
}

.loading-container .shape.shape4 {
  bottom: 0;
  right: 0;
  background-color: orange;
}

.loading-container.animation-2 .shape {
  border-radius: 5px;
}

.animation-2 .shape1 {
  -webkit-animation: animation2shape1 0.5s ease 0s infinite alternate;
  animation: animation2shape1 0.5s ease 0s infinite alternate;
}

.animation-2 .shape2 {
  -webkit-animation: animation2shape2 0.5s ease 0s infinite alternate;
  animation: animation2shape2 0.5s ease 0s infinite alternate;
}

.animation-2 .shape3 {
  -webkit-animation: animation2shape3 0.5s ease 0s infinite alternate;
  animation: animation2shape3 0.5s ease 0s infinite alternate;
}

.animation-2 .shape4 {
  -webkit-animation: animation2shape4 0.5s ease 0s infinite alternate;
  animation: animation2shape4 0.5s ease 0s infinite alternate;
}

@keyframes animation2shape1 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(20px, 20px);
    transform: translate(20px, 20px);
  }
}

@keyframes animation2shape2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-20px, 20px);
    transform: translate(-20px, 20px);
  }
}

@keyframes animation2shape3 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(20px, -20px);
    transform: translate(20px, -20px);
  }
}

@keyframes animation2shape4 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-20px, -20px);
    transform: translate(-20px, -20px);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// loading spinner css end here..