.left-btn {
    width: 30%;
    float: left;
    word-break: break-word;
}
.logo {
    width: 40%;
    text-align: center;
    display: inline-block;
}
.right-btn {
    width: 30%;
    float: right;
    text-align: right;
    word-break: break-word;
}