.article-content .article-text figure table {
    border-collapse: collapse;
}
.article-content .article-text figure table tr td {
    border: 1px solid #dedede;
    padding: 16px;
}
.btn-section-html-link {
    display: inline-flex;
    border-radius: 8px;
    transition: all .5s ease-in;
    justify-content: space-between;
    align-items: center;
    grid-gap: 12px;
    gap: 12px;
    z-index: 1;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.05,#f24537),color-stop(1,#c62d1f));
    color: #fff !important;
    white-space: break-spaces !important;
    word-break: break-word;
}
.btn-section-html-link img {
    width: 10.0% !important;
}
.mig-width-30pc {
    width: 30% !important;
}
.mig-width-50pc {
    width: 50% !important;
}
.mig-width-100pc {
    width: 100% !important;
}
.mig-width-1-79pc {
    width: 1.79% !important;
}
.mig-width-1-68pc {
    width: 1.68% !important;
}
.mig-width-2-96pc {
    width: 2.96% !important;
}
.mig-width-2-01pc {
    width: 2.01% !important;
}
.mig-width-693px {
    width: 693px !important;
}
.mig-width-356px {
    width: 356px !important;
}
.mig-width-355px {
    width: 355px !important;
}
.mig-width-35-7188px {
    width: 35.7188px !important;
}
.mig-width-66-06pc {
    width: 66.06% !important;
}
.mig-width-15px {
    width: 15px !important;
}
.mig-width-610px {
    width: 610px !important;
}
.mig-width-200px {
    width: 200px !important;
}
.mig-width-12px {
    width: 12px !important;
}
.mig-width-14px {
    width: 14px !important;
}
.mig-width-10px {
    width: 10px !important;
}
.mig-width-1-63pc {
    width: 1.63% !important;
}
.mig-width-711-989px {
    width: 711.989px !important;
}
.mig-width-166-506px {
    width: 166.506px !important;
}
.mig-width-41-946px {
    width: 41.946px !important;
}
.mig-width-25px {
    width: 25px !important;
}
.mig-width-22px {
    width: 22px !important;
}
.mig-width-2-73pc {
    width: 2.73% !important;
}
.mig-width-323-861px {
    width: 323.861px !important;
}
.mig-width-300px {
    width: 300px !important;
}
.mig-width-47-49pc {
    width: 47.49% !important;
}
.mig-width-32-94pc {
    width: 32.94% !important;
}
.mig-width-56-8pc {
    width: 56.8% !important;
}
.mig-width-60pc {
    width: 60% !important;
}
.mig-width-50-33pc {
    width: 50.33% !important;
}
.mig-width-45px {
    width: 45px !important;
}
.mig-width-95px {
    width: 95px !important;
}
.mig-width-40pc {
    width: 40% !important;
}
.mig-width-59-94pc {
    width: 59.94% !important;
}
.mig-width-9px {
    width: 9px !important;
}
.mig-width-640-797px {
    width: 640.797px !important;
}
.mig-width-24px {
    width: 24px !important;
}
.mig-width-710px {
    width: 710px !important;
}
.mig-width-17-5694px {
    width: 17.5694px !important;
}
.mig-width-193-188px {
    width: 193.188px !important;
}
.mig-width-600px {
    width: 600px !important;
}
.mig-width-712px {
    width: 712px !important;
}
.mig-width-20px {
    width: 20px !important;
}
.mig-width-11px {
    width: 11px !important;
}
.mig-width-60px {
    width: 60px !important;
}
.mig-width-2-38pc {
    width: 2.38% !important;
}
.mig-width-1-84pc {
    width: 1.84% !important;
}
.mig-width-100px {
    width: 100px !important;
}
.mig-width-120px {
    width: 120px !important;
}
.mig-width-1-48pc {
    width: 1.48% !important;
}
.mig-width-1-31pc {
    width: 1.31% !important;
}
.mig-width-46-4062px {
    width: 46.4062px !important;
}
.mig-width-665-594px {
    width: 665.594px !important;
}
.mig-width-42px {
    width: 42px !important;
}
.mig-width-660-578px {
    width: 660.578px !important;
}
.mig-width-718px {
    width: 718px !important;
}
.mig-width-2-44pc {
    width: 2.44% !important;
}
.mig-width-1-62pc {
    width: 1.62% !important;
}
.mig-width-150px {
    width: 150px !important;
}
.mig-width-93-63pc {
    width: 93.63% !important;
}
.mig-width-1-22pc {
    width: 1.22% !important;
}
.mig-width-56-18pc {
    width: 56.18% !important;
}
.mig-width-46-98pc {
    width: 46.98% !important;
}
.mig-width-67-67pc {
    width: 67.67% !important;
}
.mig-width-0-81pc {
    width: 0.81% !important;
}
.mig-width-88-29pc {
    width: 88.29% !important;
}
.mig-width-866-667px {
    width: 866.667px !important;
}
.mig-width-46-51pc {
    width: 46.51% !important;
}
.mig-width-1-42pc {
    width: 1.42% !important;
}
.mig-width-30-79pc {
    width: 30.79% !important;
}
.mig-width-1-98pc {
    width: 1.98% !important;
}
.mig-width-3-75pc {
    width: 3.75% !important;
}
.mig-width-30-89pc {
    width: 30.89% !important;
}
.mig-width-80-43pc {
    width: 80.43% !important;
}
.mig-width-802-889px {
    width: 802.889px !important;
}
.mig-width-75pc {
    width: 75% !important;
}
.mig-width-400px {
    width: 400px !important;
}
.mig-width-32-24pc {
    width: 32.24% !important;
}
.mig-width-40px {
    width: 40px !important;
}
.mig-width-1-64pc {
    width: 1.64% !important;
}
.mig-width-33-04pc {
    width: 33.04% !important;
}
.mig-width-2-2pc {
    width: 2.2% !important;
}
.mig-width-192-234px {
    width: 192.234px !important;
}
.mig-width-30px {
    width: 30px !important;
}
.mig-width-55-1pc {
    width: 55.1% !important;
}
.mig-width-35-61pc {
    width: 35.61% !important;
}
.mig-width-330-5px {
    width: 330.5px !important;
}
.mig-width-1200px {
    width: 1200px !important;
}
.mig-width-28-61pc {
    width: 28.61% !important;
}
.mig-width-67-71pc {
    width: 67.71% !important;
}
.mig-width-1-43pc {
    width: 1.43% !important;
}
.mig-width-700px {
    width: 700px !important;
}
.mig-width-670px {
    width: 670px !important;
}
.mig-width-750px {
    width: 750px !important;
}
.mig-width-650px {
    width: 650px !important;
}
.mig-width-80-48pc {
    width: 80.48% !important;
}
.mig-width-1-2pc {
    width: 1.2% !important;
}
.mig-width-37-37pc {
    width: 37.37% !important;
}
.mig-width-98-98pc {
    width: 98.98% !important;
}
.mig-width-99-57pc {
    width: 99.57% !important;
}
.mig-width-84-19pc {
    width: 84.19% !important;
}
.mig-width-60-88pc {
    width: 60.88% !important;
}
.mig-width-1-97pc {
    width: 1.97% !important;
}
.mig-width-666px {
    width: 666px !important;
}
.mig-width-1-86pc {
    width: 1.86% !important;
}
.mig-width-188-297px {
    width: 188.297px !important;
}
.mig-width-1-78pc {
    width: 1.78% !important;
}
.mig-width-354-328px {
    width: 354.328px !important;
}
.mig-width-755-328px {
    width: 755.328px !important;
}
.mig-width-2-14pc {
    width: 2.14% !important;
}
.mig-width-22-01pc {
    width: 22.01% !important;
}
.mig-width-21-53pc {
    width: -32% !important;
}
.mig-width-30-37pc {
    width: -7% !important;
}
.mig-width-92-47pc {
    width: -7% !important;
}
.mig-width-67-46pc {
    width: -7% !important;
}
.mig-width-36-02pc {
    width: -7% !important;
}
.mig-width-18px {
    width: 18px !important;
}
.mig-width-180px {
    width: 180px !important;
}
.mig-width-170px {
    width: 170px !important;
}
.mig-width-130px {
    width: 130px !important;
}
.mig-width-7-03pc {
    width: 7.03% !important;
}
.mig-width-25pc {
    width: 25% !important;
}
.mig-width-13-8281px {
    width: 13.8281px !important;
}
.mig-width-50px {
    width: 50px !important;
}
.mig-width-2-72pc {
    width: 2.72% !important;
}
.mig-width-2-58pc {
    width: 2.58% !important;
}
.mig-width-1-92pc {
    width: 1.92% !important;
}
.mig-width-1-75pc {
    width: 1.75% !important;
}
.mig-width-1-59pc {
    width: 1.59% !important;
}
.mig-width-1-71pc {
    width: 1.71% !important;
}
.mig-width-1-65pc {
    width: 1.65% !important;
}
.mig-width-1-4pc {
    width: 1.4% !important;
}
.mig-width-70pc {
    width: 70% !important;
}
.mig-width-0pt {
    width: 0pt !important;
}
.mig-width-20-625px {
    width: 20.625px !important;
}
.mig-width-2-66pc {
    width: 2.66% !important;
}
.mig-width-2-17pc {
    width: 2.17% !important;
}
.mig-height-250px {
    height: 250px !important;
}
.mig-height-200px {
    height: 200px !important;
}
.mig-height-20px {
    height: 20px !important;
}
.mig-height-45px {
    height: 45px !important;
}
.mig-height-111px {
    height: 111px !important;
}
.mig-height-13px {
    height: 13px !important;
}
.mig-height-245px {
    height: 245px !important;
}
.mig-height-56px {
    height: 56px !important;
}
.mig-height-25px {
    height: 25px !important;
}
.mig-height-57px {
    height: 57px !important;
}
.mig-height-0pt {
    height: 0pt !important;
}
.mig-height-100px {
    height: 100px !important;
}
.mig-height-129px {
    height: 129px !important;
}
.mig-height-132px {
    height: 132px !important;
}
.mig-height-139px {
    height: 139px !important;
}
.mig-height-180px {
    height: 180px !important;
}
.mig-height-283px {
    height: 283px !important;
}
.mig-height-296px {
    height: 296px !important;
}
.mig-height-299px {
    height: 299px !important;
}
.mig-height-311px {
    height: 311px !important;
}
.mig-height-36px {
    height: 36px !important;
}
.mig-height-400px {
    height: 400px !important;
}
.mig-height-401px {
    height: 401px !important;
}
.mig-height-40px {
    height: 40px !important;
}
.mig-height-450px {
    height: 450px !important;
}
.mig-height-484px {
    height: 484px !important;
}
.mig-height-52px {
    height: 52px !important;
}
.mig-height-548px {
    height: 548px !important;
}
.mig-height-59px {
    height: 59px !important;
}
.mig-height-60px {
    height: 60px !important;
}
.mig-height-861px {
    height: 861px !important;
}
.mig-display-block {
    display: block !important;
}
.mig-color-rgb-7-130-193 {
    color: rgb(7, 130, 193) !important;
}
.mig-color-rgb-0-0-0 {
    color:rgb(0, 0, 0) !important;
}
.mig-float-right {
    float: right !important;
}
.mig-float-left {
    float: left !important;
}
.mig-font-size-14px {
    font-size: 14px !important;
}
.mig-font-size-1rem {
    font-size: 1rem !important;
}
.mig-font-size-1-125rem {
    font-size: 1.125rem !important;
}
.mig-font-weight-400 {
    font-weight: 400 !important;
}
.mig-font-font-family-arial-helvetica-sans-serif {
    font-family: arial, helvetica, sans-serif !important;
}
.mig-font-font-family-titillium-regular-arial-helvetica-sans-serif {
    font-family: Titillium-Regular, Arial, Helvetica, sans-serif !important;
}
.mig-box-sizing-inherit {
    box-sizing: inherit !important;
}
.mig-box-sizing-border-box {
    box-sizing: border-box !important;
}
.mig-text-align-start {
    text-align: start !important;
}
.mig-text-align-center {
    text-align: center !important;
}
.mig-justify-content-center {
    justify-content: center !important;
}
.mig-line-height-1-25 {
    line-height: 1.25 !important;
}
.mig-line-height-1-5 {
    line-height: 1.5 !important;
}
.mig-line-height-20-8px {
    line-height: 20.8px !important;
}
.mig-margin-0auto {
    margin: 0auto !important;
}
.mig-margin-0px {
    margin: 0px !important;
}
.mig-margin-0px0px0px20px {
    margin: 0px 0px 0px 20px !important;
}
.mig-margin-0pxauto {
    margin: 0pxauto !important;
}
.mig-margin-auto {
    margin: auto !important;
}
.mig-margin-left-auto {
    margin-left: auto !important;
}
.mig-margin-right-5px {
    margin-right: 5px !important;
}
.mig-margin-right-auto {
    margin-right: auto !important;
}
.mig-max-height-100pc {
    max-height: 100% !important;
}
.mig-max-height-52px {
    max-height: 52px !important;
}
.mig-max-width-100pc {
    max-height: 100% !important;
}
.mig-max-width-250px {
    max-height: 250px !important;
}
.mig-max-width-710px {
    max-height: 710px !important;
}
.mig-opacity-0-9 {
    opacity: 0.9 !important;
}
.mig-padding-0px {
    padding: 0px !important;
}
.mig-vertical-align-top {
    vertical-align: top !important;
}
.mig-border-0px {
    border: 0px !important;
}
/* Span fixes */
.mig-margin-0px{
    margin: 0px !important;
}
.mig-padding-0px{
    padding: 0px !important;
}
.mig-user-select-text{
    user-select: text !important;
}
.mig--webkit-user-drag-none{
    -webkit-user-drag: none !important;
}
.mig--webkit-tap-highlight-color-transparent{
    -webkit-tap-highlight-color: transparent !important;
}
.mig-outline-transparentsolid1px{
    outline: transparent solid 1px !important;
}
.mig-line-height-17px{
    line-height: 17px !important;
}
.mig-font-weight-bold{
    font-weight: bold !important;
}
.mig-background-repeat-repeat-x{
    background-repeat: repeat-x !important;
}
.mig-background-position-leftbottom{
    background-position: left bottom !important;
}
.mig-border-bottom-1pxsolidtransparent{
    border-bottom: 1px solid transparent !important;
}
.mig-vertical-align-top{
    vertical-align: top !important;
}
.mig-font-family-helveticaneue-helvetica-arial-verdana-sans-serif{
    font-family: Helvetica Neue, Helvetica, Arial, Verdana, sans-serif !important;
}
.mig-color-rgb-5-5-5{
    color: rgb(5, 5, 5) !important;
}
.mig-color-rgb-28-30-33{
    color: rgb(28,30,33) !important;
}
.mig-font-family-helvetica-arial-sans-serif{
    font-family: Helvetica, Arial, Verdana, sans-serif !important;
}
.mig-color-rgb-230-77-77{
    color: rgb(230, 77, 77) !important;
}
.mig-font-size-10px{
    font-size: 10px !important;
}
.mig-font-size-9px{
    font-size: 9px !important;
}
.mig-font-weight-normal{
    font-weight: normal !important;
}
.mig-line-height-20-7999992370605px{
    line-height: 20.7999992370605px !important;
}
.mig-font-size-9-0pt{
    font-size: 9.0pt !important;
}
.mig-line-height-120pc{
    line-height: 120px !important;
}
.mig-mso-font-kerning-12-0pt{
    mso-font-kerning:12.0pt !important;
}
.mig-mso-ansi-language-vi{
    mso-ansi-language: vi !important;
}
.mig-mso-fareast-font-family-arial{
    mso-fareast-font-family: Arial !important;
}
.mig-mso-list-ignore{
    mso-list:ignore !important;
}
.mig-mso-ansi-language-en-gb{
    mso-ansi-language: en,gb
}
.mig-mso-fareast-font-family-mspgothic{
    mso-fareast-font-family: mspgothic !important;
}
.mig-color-rgb-31-73-125{
    color: rgb(31,73,125) !important;
}
.mig-line-height-40px{
    line-height: 40px !important;
}
.mig-font-size-24px{
    font-size: 24px !important;
}
.mig-font-size-10pt{
    font-size: 10pt !important;
}
.mig-line-height-14-2667px{
    line-height: 14.2667px !important;
}
.mig-background-color-rgb-215-233-247{
    background-color: rgb(215,233,247) !important;
}
.mig-background-color-rgb-255-249-176{
    background-color: rgb(255,249,176) !important;
}
.mig-background-color-rgb-255-218-199{
    background-color: rgb(255,218,199) !important;
}
.mig-background-attachment-initial{
    background-attachment: initial !important;
}
.mig-background-clip-initial{
    background-clip: initial !important;
}
.mig-background-image-initial{
    background-image: initial !important;
}
.mig-background-origin-initial{
    background-origin: initial !important;
}
.mig-background-position-initial{
    background-position: initial !important;
}
.mig-background-repeat-initial{
    background-repeat: initial !important;
}
.mig-background-size-initial{
    background-size: initial !important;
}
.mig-background-color-white{
    background-color: white !important;
}
.mig-padding-5px10px{
    padding: 5px 10px !important;
}
.mig-color-rgb-41-43-44{
    color: rgb(41,43,44) !important;
}
.mig-color-rgb-97-97-97{
    color: rgb(97, 97, 97) !important;
}
.mig-color-var---ytd-video-primary-info-renderer-title-color-var---yt-spec-text-primary{
    color: var(--ytd-video-primary-info-renderer-title-color,var(--yt-spec-text-primary)) !important;
}
.mig-font-family-roboto-arial-sans-serif{
    font-family: Roboto, Arial, sans-serif !important;
}
.mig-font-size-var---ytd-video-primary-info-renderer-title-font-size-var---yt-navbar-title-font-size-inherit{
    font-size:var(--ytd-video-primary-info-renderer-title-font-size, var(--yt-navbar-title-font-size, inherit)) !important;
}
.mig-font-size-11-5pt{
    font-size: 11.5pt !important;
}
.mig-letter-spacing---3pt{
    letter-spacing: 3pt !important;
}
.mig-mso-bidi-font-style-italic{
    mso-bidi-font-style: italic !important;
}
.mig-font-size-medium{
    font-size: medium !important;
}
.mig-line-height-20px{
    line-height: 20px !important;
}
.mig-margin-bottom-0px{
    margin-bottom: 0px !important;
}
.mig-margin-right-0px{
    margin-right: 0px !important;
}
.mig-margin-top-0px{
    margin-top: 0px !important;
}
.mig-color-rgb-13-13-13{
    color: rgb(13,13,13) !important;
}
.mig-font-family-symbol{
    font-family:symbol !important;
}
.mig-mso-fareast-font-family-symbol{
    mso-fareast-font-family:symbol
}
.mig-mso-bidi-font-family-symbol{
    mso-bidi-font-family:symbol !important;
}
.mig-font-size-adjust-none{
    font-size-adjust:none !important;
}
.mig-font-stretch-normal{
    font-stretch: normal !important;
}
.mig-line-height-18px{
    line-height: 18px !important;
}
.mig-font-size-13-3333px{
    font-size: 13.3333px !important;
}
.mig-background-color-rgb-230-230-230{
    background-color: rgb(230,230,230) !important;
}
.mig-color-windowtext{
    color: windowtext !important;
}
.mig-line-height-1-4{
    line-height: 1.4 !important;
}
.mig-font-size-12pt{
    font-size: 12pt !important;
}
.mig-color-blue{
    color: blue !important;
}
.mig-font-size-10-5pt{
    font-size:10.5pt !important;
}
.mig-text-decoration-line-none{
    text-decoration-line:none !important;
}
.mig-text-decoration-none{
    text-decoration: none !important;
}
.mig-text-underline-none{
    text-underline: none !important;
}
.mig-background-color-rgb-232-232-232{
    background-color: rgb(232,232,232) !important;
}
.mig-color-rgb-50-50-0{
    color: rgb(50,50,0) !important;
}
.mig-color-rgb-222-28-36{
    color: rgb(222, 28, 36) !important;
}
.mig-color-rgb-0-0-205{
    color: rgb(0,0,205) !important;
}
.mig-touch-action-pan-xpan-y{
    touch-action: pan-xpan-y !important;
}
.mig-background-color-rgb-237-235-233{
    background-color: rgb(237,235,233) !important;
}
.mig-font-size-16-2667px{
    font-size: 16.2667px !important;
}
.mig-white-space-preimportant{
    white-space: pre !important;
}
.mig-font-variant-ligatures-noneimportant{
    font-variant-ligatures: none !important;
}
.mig-color-hsl-120-75pc-60pc{
    color: hsl(120,75%,60%) !important;
}
.mig-font-family-calibrilight-calibrilight_embeddedfont-calibrilight_msfontservice-calibrilight_msfontservice-sans-serif{
    font-family: "Calibri Light", "Calibri Light_EmbeddedFont", "Calibri Light_MSFontService", "Calibri Light_MSFontService", sans-serif !important;
}
.mig-color-fff{
    color: #fff !important;
}
.mig-color-696969{
    color: #696969 !important;
}
.mig-color-f90{
    color: #f90 !important;
}
.mig-color-cc3300{
    color: #cc3300 !important;
}
.mig-color-ed2327{
    color: #ed2327 !important;
}
.mig-color-0000cd{
    color: #0000cd !important;
}
.mig-color-hsl-270-75pc-60pc{
    color: hsl(270, 75%, 60%) !important;
}
.mig-color-e5292a{
    color: #e5292a !important;
}
.mig-color-ff0000{
    color:#FF0000!important;
}
.mig-color-rgb-255-0-0{
    color:rgb(255,0,0)!important;
}
.mig-font-family-arial-helvetica-sans-serif{
    font-family:arial,helvetica,sans-serif!important;
}
.mig-font-size-14px{
    font-size: 14px!important;
}
.mig-color-000000{
    color:#000000!important;
}
.mig-color-rgb-0-0-0{
    color:rgb(0,0,0)!important;
}
.mig-color-0000ff{
    color:#0000FF!important;
}
.mig-color-hsl-0-0pc-100pc{
    color:hsl(0,0%,100%)!important;
}
.mig-color-black{
    color:black!important;
}
.mig-font-family-arial-sans-serif{
    font-family:arial, sans-serif!important;
}
.mig-color-hsl-240-75pc-60pc{
    color:hsl(240,75%,60%)!important;
}
.mig-color-hsl-0-75pc-60pc{
    color:hsl(0,75%,60%)!important;
}
.mig-color-rgb-77-77-230{
    color:rgb(77,77,230)!important;
}
.mig-box-sizing-inherit{
    box-sizing:inherit!important;
}
.mig-font-size-1rem{
    font-size: 1rem!important;
}
.mig-font-weight-400{
    font-weight: 400!important;
}
.mig-line-height-1-5{
    line-height: 1.5!important;
}
.mig-color-hsl-0-0pc-0pc{
    color:hsl(0,0%,0%)!important;
}
.mig-color-rgb-255-255-255{
    color:rgb(255,255,255)!important;
}
.mig-text-align-right{
    text-align:right!important;
}
.mig-color-rgb-0-0-255{
    color:rgb(0,0,255)!important;
}
.mig-background-color-rgb-255-255-255{
    background-color:rgb(255,255,255)!important;
}
.mig-color-rgb-51-51-51{
    color:rgb(51,51,51)!important;
}
.mig-color-hsl-210-75pc-60pc{
    color:hsl(210,75%,60%)!important;
}
.mig-background-color-ffffff{
    background-color:#ffffff!important;
}
.mig-color-202124{
    color:#202124!important;
}
.mig-background-color-transparent{
    background-color:transparent!important;
}
.mig-color-323200{
    color:#323200!important;
}
.mig-mso-spacerun-yes{
    mso-spacerun:yes!important;
}
.mig-font-size-13px{
    font-size: 13px!important;
}
.mig-color-ed1c24{
    color:#ed1c24!important;
}
.mig-font-family-arial-helveticaneue-helvetica-sans-serif{
    font-family:arial,helvetica neue,helvetica,sans-serif!important;
}
.mig-color-rgb-237-28-36{
    color:rgb(237,28,36)!important;
}
.mig-box-sizing-border-box{
    box-sizing:border-box!important;
}
.mig-display-inline-block{
    display:inline-block!important;
}
.mig-font-weight-bolder{
    font-weight:bolder!important;
}
.mig-margin-top-16px{
    margin-top: 16px!important;
}
.mig-white-space-pre{
    white-space:pre!important;
}
.mig-text-align-justify{
    text-align:justify!important;
}
.mig-line-height-20-8px{
    line-height: 20.8px!important;
}
.mig-color-ffffff{
    color:#FFFFFF!important;
}
.mig-font-size-12px{
    font-size: 12px!important;
}
.mig-line-height-19-18px{
    line-height: 19.18px!important;
}
.mig-font-size-15px{
    font-size: 15px!important;
}
.mig-font-size-1-25rem{
    font-size: 1.25rem!important;
}
.mig-line-height-1-25{
    line-height: 1.25!important;
}
.mig-color-de1c24{
    color:#DE1C24!important;
}
.mig-font-size-18px{
    font-size: 18px!important;
}
.mig-color-b22222{
    color:#B22222!important;
}
.mig-line-height-1-6em{
    line-height:1.6em!important;
}
.mig-font-size-9pt{
    font-size: 9pt!important;
}
.mig-line-height-150pc{
    line-height: 150%!important;
}
.mig-line-height-115pc{
    line-height: 115%!important;
}
.mig-background-color-rgb-255-0-0{
    background-color:rgb(255,0,0)!important;
}
.mig-background-color-rgb-0-128-0{
    background-color:rgb(0,128,0)!important;
}
.mig-font-size-12-0pt{
    font-size: 12.0pt!important;
}
.mig-font-family-arial{
    font-family:Arial!important;
}
.mig-mso-bidi-font-family-calibri{
    mso-bidi-font-family:Calibri!important;
}
.mig-mso-bidi-font-weight-bold{
    mso-bidi-font-weight:bold!important;
}
.mig-mso-bidi-theme-font-minor-latin{
    mso-bidi-theme-font:minor-latin!important;
}
.mig-border-style-initial{
    border-style: initial!important;
}
.mig-border-color-initial{
    border-color: initial!important;
}
.mig-border-image-initial{
    border-image: initial!important;
}
.mig-font-variant-east-asian-normal{
    font-variant-east-asian:normal!important;
}
.mig-font-variant-numeric-normal{
    font-variant-numeric:normal!important;
}
.mig-white-space-pre-wrap{
    white-space:pre-wrap!important;
}
.mig-color-rgb-48-48-48{
    color:rgb(48,48,48)!important;
}
.mig-line-height-normal{
    line-height:normal!important;
}
.mig-text-indent--24px{
    text-indent: -24px!important;
}
.mig-font-size-7pt{
    font-size: 7pt!important;
}
.mig-color-0033ff{
    color:#0033ff!important;
}
.mig-color-hsl-0-0pc-30pc{
    color:hsl(0,0%,30%)!important;
}
.mig-font-style-inherit{
    font-style: inherit!important;
}
.mig-font-weight-inherit{
    font-weight: inherit!important;
}
.mig--webkit-font-smoothing-antialiased{
    -webkit-font-smoothing: antialiased!important;
}
.mig-color-rgb-36-36-36{
    color: rgb(36,36,36)!important;
}
.mig-font-family-segoeui-system-ui-applecoloremoji-segoeuiemoji-sans-serif{
    font-family: "Segoe UI", system-ui,"Apple Color Emoji","Segoe UI Emoji", sans-serif!important;
}
.mig-color-rgb-237-28-66{
    color:rgb(237,28,66)!important;
}
.mig-font-size-28px{
    font-size: 28px!important;
}
.mig-font-size-22px{
    font-size: 22px!important;
}
.mig-color-rgb-35-45-45{
    color:rgb(35,45,45)!important;
}
.mig--webkit-text-fill-color-rgba-0-0-0-0{
    -webkit-text-fill-color:rgba(0,0,0,0)!important;
}
.mig--webkit-text-stroke-1pxrgba-0-0-0-0{
    -webkit-text-stroke: 1px rgba(0,0,0,0)!important;
}
.mig-font-family-sf-sans-serif{
    font-family:SF, sans-serif!important;
}
.mig-white-space-nowrap{
    white-space:nowrap!important;
}
.mig-background-color-rgb-254-252-248{
    background-color:rgb(254,252,248)!important;
}
.mig-color-red{
    color:red!important;
}
.mig-line-height-107pc{
    line-height: 107%!important;
}
.mig-mso-ansi-language-en-us{
    mso-ansi-language:EN-US!important;
}
.mig-mso-bidi-language-ar-sa{
    mso-bidi-language:AR-SA!important;
}
.mig-mso-fareast-font-family-calibri{
    mso-fareast-font-family:Calibri!important;
}
.mig-mso-fareast-language-en-us{
    mso-fareast-language:EN-US!important;
}
.mig-mso-fareast-theme-font-minor-latin{
    mso-fareast-theme-font:minor-latin!important;
}
.mig-font-size-17px{
    font-size: 17px!important;
}
.mig-color-rgb-48-63-73{
    color:rgb(48,63,73)!important;
}

.mig-color-202020 {
    color:#202020 !important;
}
.mig-font-family-timesnewroman {
    font-family: "Times New Roman" !important;
}
.mig-font-size-10-0pt {
    font-size: 10.0pt !important;
}
.mig-margin-bottom-8pt {
    margin-bottom: 8pt !important;
}
.mig-margin-top-0pt {
    margin-top: 0pt !important;
}
.mig-line-height-23px {
    line-height: 23px !important;
}
.mig-color-red {
    color: red !important;
}
.mig-line-height-15pt
{
    line-height: 15pt !important;
}
.mig-margin-0in
{
    margin: 0in !important;
}
.mig-font-family-calibri
{
    font-family: Calibri !important;
}
.mig-font-size-11-0pt
{
    font-size: 11.0pt !important;
}
.mig-font-size-11pt
{
    font-size: 11.0pt !important;
}
.mig-margin-bottom-0in
{
    margin-bottom: 0in !important;
}
.mig-margin-left-0px
{
    margin-left: 0px !important;
}
.mig--webkit-text-stroke-width-0px
{
    -webkit-text-stroke-width: 0px !important;
}
.mig-font-family-sfprodisplay-sfprodisplayitalic-sfprotext-helveticaneue-helvetica-arial-sans-serif
{
    font-family: "SF Pro Display", "SF Pro Display Italic", "SF Pro Text", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.mig-font-style-normal
{
    font-style: normal !important;
}
.mig-font-variant-caps-normal
{
    font-variant-caps: normal !important;
}
.mig-font-variant-ligatures-normal
{
    font-variant-ligatures: normal !important;
}
.mig-letter-spacing-normal
{
    letter-spacing: normal !important;
}
.mig-orphans-2
{
    orphans: 2 !important;
}
.mig-text-decoration-color-initial
{
    text-decoration-color:initial !important;
}
.mig-text-decoration-style-initial
{
    text-decoration-style:initial !important;
}
.mig-text-decoration-thickness-initial
{
    text-decoration-thickness:initial !important;
}
.mig-text-indent-0px
{
    text-indent: 0px !important;
}
.mig-text-transform-none
{
    text-transform: none !important;
}
.mig-white-space-normal
{
    white-space: normal !important;
}
.mig-widows-2
{
    widows: 2 !important;
}
.mig-word-spacing-0px
{
    word-spacing: 0px !important;
}
.mig-margin-left--5-75pt
{
    margin-left: -5.75pt !important;
}
.mig-line-height-25px
{
    line-height: 25px !important;
}
.mig-word-break-break-word
{
    word-break: break-word !important;
}
.mig-min-width-400px
{
    min-width: 400px !important;
}
.mig-line-height-1-2
{
    line-height: 1.2 !important;
}
.mig-margin-0pt6pt0pt3-75pt
{
    margin: 0pt 6pt 0pt 3.75pt !important;
}
.mig-margin-0pt9pt0pt3pt
{
    margin: 0pt 9pt 0pt 3pt !important;
}
.mig-tab-stops--25in
{
    tab-stops:-25in !important;
}
.mig-margin-0px0px13px
{
    margin: 0 0 13px !important;
}
.mig-font-family-roboto-regular
{
    font-family: Roboto-Regular !important;
}
.mig-color-rgb-37-37-37
{
    color: rgb(37,37,37) !important;
}
.mig-background-color-rgba-255-255-255-0-95
{
    background-color: rgba(255, 255, 255, 0.95) !important;
}
.mig-font-size-1-75rem
{
    font-size: 1.75rem !important;
}
.mig-font-weight-300
{
    font-weight: 300 !important;
}
.mig-text-align-left
{
    text-align: left !important;
}
.mig-list-style-type-disc
{
    list-style-type: disc !important;
}
.mig-min-width-70px
{
    min-width: 70px !important;
}
.mig-margin-bottom-0pt
{
    margin-bottom: 0pt !important;
}
.mig-mso-margin-top-alt-auto
{
    mso-margin-top-alt:auto
}
.mig-tab-stops-73-05pt
{
    tab-stops: 73.05pt !important;
}
.mig-margin-bottom--0001pt
{
    margin-bottom:.0001pt !important;
}
.mig-tab-stops-15-6pt160-1pt
{
    tab-stops:15.6pt 160.1pt !important;
}
.mig-margin-0in0in10-95pt
{
    margin: 0 0 10.95pt !important;
}
.mig-vertical-align-baseline
{
    vertical-align: baseline !important;
}
.mig-margin-0in0in14-1pt
{
    margin: 0in 0in 14.1pt !important;
}
.mig-margin-14-1pt0in
{
    margin: 14.1pt 0in !important;
}
.mig-margin-top-14-1pt
{
    margin-top: 14.1pt !important;
}
.mig-margin-right-0in
{
    margin-right: 0in !important;
}
.mig-margin-bottom-14-1pt
{
    margin-bottom: 14.1pt !important;
}
.mig-margin-left-0in
{
    margin-left: 0in !important;
}
.mig-margin-27pt0in
{
    mig-margin: 27pt 0in !important;
}
.mig-line-height-130pc
{
    line-height: 130% !important;
}
.mig-font-size-9-75pt
{
    font-size: 9.75pt !important;
}
.mig-margin-left-50px
{
    margin-left: 50px !important;
}
.mig-margin-right-50px
{
    margin-right: 50px !important;
}
.mig-text-align-end
{
    text-align: end !important;
}
.mig-background-color-black
{
    background-color: black !important;
}
.mig-border-radius-8px
{
    border-radius: 8px !important;
}
.mig-color-white
{
    color: white !important;
}
.mig-display-flex
{
    display: flex !important;
}
.mig-justify-content-space-between
{
    justify-content: space-between !important;
}
.mig-margin-32pxauto0
{
    margin: 32px auto 0 !important;
}
.mig-max-width-310px
{
    max-width: 310px !important;
}
.mig-padding-16px
{
    padding: 16px !important;
}
.mig-flex-0050pc
{
    flex: 0 0 50% !important;
}
.mig-margin-left-40px
{
    margin-left: 40px !important;
}
.mig-list-style-type-circle
{
    list-style-type: circle !important;
}
.mig-list-style-disc
{
    list-style: disc !important;
}

.mig-scroll-margin-top-130px
{
    scroll-margin-top: 130px !important;
}
.mig-color-333333
{
    color: #333333 !important;
}
.mig-background-color-e5292a
{
    background-color: #e5292a !important;
}
.mig-clear-both
{
    clear: both !important;
}
.mig-max-width-150px
{
    max-width: 150px !important;
}
.mig-min-width-150px
{
    min-width: 150px !important;
}
.mig-padding-15px25px
{
    padding: 15px 25px !important;
}
.mig-margin-0
{
    margin: 0 !important;
}
.mig-overflow-wrap-break-word
{
    overflow-wrap: break-word !important;
}
.mig-font-kerning-none
{
    font-kerning: none !important;
}
.mig-margin-0px0px0px24px
{
    margin: 0px 0px 0px 24px !important;
}
.mig-overflow-visible
{
    overflow: visible !important;
}
.mig-cursor-text
{
    cursor: text !important;
}
.mig-position-relative
{
    position: relative !important;
}
.mig-direction-ltr
{
    direction: ltr !important;
}
.mig-font-family-roboto-roboto_msfontservice-sans-serif
{
    font-family: Roboto, Roboto_MSFontService, sans-serif !important;
}
.mig-margin-6px0px
{
    margin: 6px 0px !important;
}
.mig-margin-bottom-25px
{
    margin-bottom: 25px !important;
}
.mig-margin-top-35px
{
    margin-top: 35px !important;
}
.mig-margin-10px0px
{
    margin: 10px 0px !important;
}
.mig-font-size-16px
{
    font-size: 16px !important;
}
.mig-max-width-50pc
{
    max-width: 50% !important;
}
.mig-text-indent---35pt
{
    text-indent:-.35pt !important;
}
.mig-punctuation-wrap-simple
{
    punctuation-wrap:simple !important;
}
.mig-mso-line-break-override-restrictions
{
    mso-line-break-override:restrictions !important;
}
.mig-mso-add-space-auto
{
    mso-add-space:auto !important;
}
.mig-margin-bottom-20px
{
    margin-bottom: 20px !important;
}
.mig-margin-20px0
{
    margin: 20px 0px !important;
}
.mig-margin-bottom-5px
{
    margin-bottom: 5px !important;
}
.mig-margin-left-0
{
    margin-left: 0 !important;
}
.mig-margin-right-15px
{
    margin-right: 15px !important;
}
.mig-margin-bottom-15px
{
    margin-bottom: 15px !important;
}
.mig-margin-left-30px
{
    margin-left: 30px !important;
}
.mig-margin-30px0
{
    margin: 30px 0 !important;
}
.mig-margin-left-10px
{
    margin-left: 10px !important;
}
.mig-margin-left-5px
{
    margin-left: 5px !important;
}
.mig-margin-015px5px10px
{
    margin: 0 15px 5px 10px !important;
}
.mig-margin-10px15px5px10px
{
    margin: 10px 15px 5px 10px !important;
}
.mig-min-width-180px
{
    min-width: 180px !important;
}
.mig-max-width-240px
{
    max-width: 240px !important;
}
.mig-margin-top-15px
{
    margin-top:15px !important;
}
.mig-margin-010px
{
    margin:0 10px !important;
}
.mig-margin-left-60px
{
    margin-left: 60px !important;
}
.mig-margin-10px
{
    margin: 10px !important;
}
.mig-padding-10px
{
    padding: 10px !important;
}
.mig-list-style-type-lower-roman
{
    list-style-type:lower-roman !important;
}
.mig-margin-9-1875px0px
{
    margin: 9.1875px 0px !important;
}
.mig-outline-0px
{
    outline: 0px !important;
}
.mig-list-style-type-none
{
    list-style-type: none !important;
}
.mig-margin-20px0px0px
{
    margin: 20px 0px 0px !important;
}
.mig-font-family-titillium-regular-arial-helvetica-sans-serif
{
    font-family: Titillium-Regular, Arial, Helvetica, sans-serif !important;
}
.mig-margin-0in0in0-0001pt
{
    margin: 0in 0in 0.0001pt
}
.mig-padding-5px
{
    padding: 5px !important;
}
.mig-text-indent--0-25in
{
    text-indent: -0.25in !important;
}
.mig-margin-left-0-5in
{
    margin-left: 0.5in !important;
}
.mig-mso-list-l0level1lfo1
{
    mso-list: l0 level1 lfo1 !important;
}
.mig-font-family-helveticaneue-helvetica-arial-sans-serif
{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.mig-font-size-11-8pt
{
    font-size: 11.8pt !important;
}
.mig-padding-right-5px
{
    padding-right: 5px !important;
}
.mig-line-height-25-35px
{
    line-height: 25.35px
}
.mig-margin-top-0
{
    margin-top: 0 !important;
}
.mig-margin-5px15px
{
    margin: 5px 15px !important;
}
.mig-color-555557
{
    color: #555557 !important;
}
.mig-max-width-230px
{
    max-width:230px !important;
}
.mig-margin-0auto05px
{
    margin: 0 auto 0 5px !important;
}
.mig-font-size-20px
{
    font-size: 20px !important;
}
.mig-float-left
{
    float: left !important;
}
.mig-font-size-40px
{
    font-size: 40px !important;
}
.mig-margin-bottom-0
{
    margin-bottom: 0 !important;
}
.mig-vertical-align-middle
{
    vertical-align: middle !important;
}
.mig-width-20pc
{
    width: 20% !important;
}
.mig-width-80pc
{
    width: 80% !important;
}
.mig-margin-15px0
{
    margin:15px 0 !important;
}
.mig-line-height-140pc
{
    line-height: 140% !important;
}
.mig-margin-25px15px
{
    margin:25px 15px !important;
}
.mig-padding-15px0
{
    padding: 15px 0 !important;
}
.mig-margin-left-0-25in
{
    margin-left: 0.25in !important;
}
.mig-border-1pxsolid222
{
    border: 1px solid #222 !important;
}
.mig-margin-top-5px
{
    margin-top: 5px !important;
}
.mig-list-style-type-lower-latin
{
    list-style-type: lower-latin !important;
}
.mig-margin-bottom-8-0pt
{
    margin-bottom:8.0pt !important;
}
.mig-mso-margin-bottom-alt-auto
{
    mso-margin-bottom-alt:auto !important;
}
.mig-margin-6pt0in
{
    margin: 6pt 0in !important;
}
.mig-max-width-75pc
{
    max-width: 75% !important;
}
.mig-margin-bottom-35px
{
    margin-bottom: 35px !important;
}
.mig-list-style-none
{
    list-style: none !important;
}
.mig-margin-left-15px
{
    margin-left: 15px !important;
}
.mig-margin-0in0in0in0-375in
{
    margin:0in 0in 0in 0.375in !important;
}
.mig-margin-32pxauto0px
{
    margin: 32px auto 0 !important;
}
.mig-margin-15px00
{
    margin:15px 0 0 !important;
}
.mig-margin-bottom-6-0pt
{
    margin-bottom:6.0pt !important;
}
.mig-mso-list-l0level1lfo2
{
    mso-list:l0 level1 lfo2 !important;
}
.mig-text-indent---25in
{
    text-indent: -.25in !important;
}
.mig-list-style-type-square
{
    list-style-type: square !important;
}
.mig-color-rgb-33-33-33
{
    color: rgb(33, 33, 33) !important;
}
.mig-font-family-ibmplexserif
{
    font-family:"IBM Plex Serif" !important;
}
.mig-font-size-19px
{
    font-size: 19px !important;
}
.mig-margin-1em0px
{
    margin:1em 0px !important;
}
.mig-margin-top-0in
{
    margin-top: 0in !important;
}
.mig-margin-0in0in12pt
{
    margin: 0in 0in 12pt !important;
}
.mig-margin-0px0px1em
{
    margin: 0 0 1em !important;
}
.mig-text-rendering-geometricprecision {
    text-rendering: geometricPrecision !important;
}
.mig-color-white,.mig-color-fff,.mig-color-ffffff,.mig-color-rgb-255-255-255{
    a{
        color: #ffffff !important;
        text-decoration: none !important;
    }
}