<sly  
   data-sly-test.empty="${!properties.title}" 
   data-sly-use.template="core/wcm/components/commons/v1/templates.html" 
   data-sly-call="${template.placeholder @ isEmpty=empty}"/>
<!-- start header --> 
<sly data-sly-test="${!empty}">
   <sly data-sly-use.guide="com.aembootcamp.core.models.GuideDetails" >
      <section id="content">
         <div class="container guide-detail">
            <div class="row col-md-offset-1">
               <div class="col-md-10">
                  <span class="guide-detail-span">
                     <sly data-sly-repeat=${pageProperties.category}>
                        ${item}
                     </sly>
                  </span>
                  <h2 data-sly-test=${guide.title}>${guide.title}</h2>
                  <h2 data-sly-test=${!guide.title}>${currentPage.title}</h2>
                  <b>Author Name :</b>  ${pageProperties.author} <br>
                  <b>Publish Date : </b>
                  <sly data-sly-test=${guide.date}> ${guide.date}</sly>
                  <br><br>
                  <div class="text-justify">
                     <p>${guide.description @context='html'}</p>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </sly>
</sly>