<sly
        data-sly-use.header="com.kemin.redesign.core.models.company.ComapnyNavigation"
        data-sly-use.template="core/wcm/components/commons/v1/templates.html"
        data-sly-call="${template.placeholder @ isEmpty=empty}"/>
<sly data-sly-test="${header.navigationItemList.size != 0}">
    <!-- Mobile and Tablet-->
    <div class="kemin-root-accordian d-lg-none">
        <div class="kemkin-pdp-accordian kemin-navigation-mobile  ">
            <div class="outer-container-accordian">
                <div class="accordion accordion-flush">
                    <div class="accordion-item navigation-item-xs">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <div class="kemin-navigation-mobile">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne">
                                    <span class="right-triangle"></span>
                                    <span class="img-dynamic">
                                        <!-- based on the AEM page thumnal the icon here:  -->
                                        <img src="${header.navigationIconUrl}">
                                    </span>
                                    In This Section
                                </button>
                            </div>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="inner-container-accordian">
                                <div class="accordion-body">
                                    <!-- Title Authorable-->
                                    <div class="pdp-accordian-title">
                                        ${header.rootPage}
                                    </div>
                                    <div class="accordion accordian-mobile">
                                        <sly data-sly-repeat.nav="${header.navigationItemList}">

                                            <div class="accordion-item navigation-item-xs">
                                                <div class="accordion-header accordion-header-xs"
                                                     id="panelsStayOpen-headingOne">
                                                    <sly data-sly-test="${nav.listChildren}">
                                                        <div class="row navigation-nav-body">
                                                            <a class="navigation-table-cell nav-row"
                                                               href="${nav.path @extension='html'}">
                                                                ${nav.navigationTitle || nav.pageTitle ||
                                                                nav.title}
                                                            </a>
                                                            <button class="accordion-button collapsed" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#Navigation-${nav.name}-${nav.parent.name}-${navList.index}"
                                                                    aria-expanded="false"
                                                                    aria-controls="panelsStayOpen-collapseOne">

                                                            </button>
                                                        </div>
                                                    </sly>
                                                    <sly data-sly-test="${!nav.listChildren}">
                                                        <div class="navigation-single-url" id="single-nav-url">
                                                            <a href="${nav.path @extension='html'}">
                                                                ${nav.navigationTitle || nav.pageTitle ||
                                                                nav.title}
                                                            </a>
                                                        </div>

                                                    </sly>
                                                </div>

                                                <sly data-sly-test.childNav="${nav.listChildren}">
                                                    <sly data-sly-test="${childNav}">
                                                        <div id="Navigation-${nav.name}-${nav.parent.name}-${navList.index}"
                                                             class="accordion-collapse collapse"
                                                             aria-labelledby="panelsStayOpen-headingOne">
                                                            <div class="accordion-body">

                                                                <div data-sly-repeat.nest="${childNav}">
                                                                    <sly data-sly-use.product="${nest.path}/jcr:content"></sly>

                                                                        <sly data-sly-test="${!product.hideInNav}">
                                                                            <div class="accordion-header accordion-header-xs accordion-header-md thin-border"
                                                                                 id="panelsStayOpen-headingOne">
                                                                                <sly data-sly-test="${nest.listChildren}">
                                                                                    <sly data-sly-test="${product.cq:template == '/conf/kemin-redesign/settings/wcm/templates/company-page'}">
                                                                                    <div class="row navigation-nav-body">
                                                                                        <a class="navUrl navigation-table-cell nav-row"
                                                                                           href="${nest.path @extension='html'}">
                                                                                            ${nest.navigationTitle ||
                                                                                            nest.pageTitle ||
                                                                                            nest.title}
                                                                                        </a>
                                                                                        <button class="accordion-button collapsed"
                                                                                                type="button"
                                                                                                data-bs-toggle="collapse"
                                                                                                data-bs-target="#Navigation-child-${nest.name}-${nest.parent.name}-${nestList.index}"
                                                                                                aria-expanded="false"
                                                                                                aria-controls="panelsStayOpen-collapseOne">

                                                                                        </button>
                                                                                    </div>
                                                                                    </sly>
                                                                                </sly>
                                                                                <sly data-sly-test="${!nest.listChildren}">
                                                                                    <sly data-sly-use.product="${nest.path}/jcr:content"></sly>
                                                                                    <sly data-sly-test="${product.cq:template == '/conf/kemin-redesign/settings/wcm/templates/company-page'}">
                                                                                    <div class="navigation-single-url">

                                                                                        <a class="navUrl"
                                                                                           href="${nest.path @extension='html'}">
                                                                                            ${nest.navigationTitle ||
                                                                                            nest.pageTitle ||
                                                                                            nest.title}
                                                                                        </a>
                                                                                    </div>
                                                                                    </sly>
                                                                                </sly>


                                                                            </div>
                                                                            <sly data-sly-test.childNav="${nest.listChildren}">
                                                                                <sly data-sly-test="${childNav}">
                                                                                    <div id="Navigation-child-${nest.name}-${nest.parent.name}-${nestList.index}"
                                                                                         class="accordion-collapse collapse"
                                                                                         aria-labelledby="panelsStayOpen-headingOne">
                                                                                        <div class="accordion-body">

                                                                                            <div data-sly-repeat="${childNav}">
                                                                                                <sly data-sly-use.product="${item.path}/jcr:content"></sly>
                                                                                                <sly data-sly-test="${product.cq:template == '/conf/kemin-redesign/settings/wcm/templates/company-page'}">
                                                                                                    <sly data-sly-test="${!product.hideInNav}">
                                                                                                        <div class="navigation-single-url">
                                                                                                            <a class="navUrl"
                                                                                                               href="${item.path @extension='html'}">
                                                                                                                ${item.navigationTitle
                                                                                                                ||
                                                                                                                item.pageTitle
                                                                                                                ||
                                                                                                                item.title}
                                                                                                            </a>
                                                                                                        </div>
                                                                                                    </sly>
                                                                                                </sly>
                                                                                            </div>

                                                                                        </div>
                                                                                    </div>
                                                                                </sly>

                                                                        </sly>
                                                                    </sly>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </sly>
                                                </sly>

                                            </div>
                                        </sly>
                                    </div>
                                </div>
                            </div>
                            <sly data-sly-use.headerMobile="com.kemin.redesign.core.models.navigationmobileref.NavigationMobileRef">
                                <div>
                                    <sly data-sly-test="${headerMobile.socialLinksComponentPath}"
                                         data-sly-resource="${@path=headerMobile.socialLinksComponentPath, selectors='content', wcmmode='disabled'}"></sly>
                                </div>
                            </sly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sly>