<sly data-sly-test="${wcmmode.edit}">
  <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.specialBannerModel="com.techcombank.core.models.MastHeadSpecialBannerModel">
  <section class="tcb-hero-product">
    <picture class="tcb-hero-product_background">
      <source media="(max-width: 360px)" srcset="${specialBannerModel.bgBannerMobileImage}" />
      <source media="(max-width: 576px)" srcset="${specialBannerModel.bgBannerMobileImage}" />
      <source media="(min-width: 1080px)" srcset="${specialBannerModel.bgBannerImage}" />
      <source media="(min-width: 1200px)" srcset="${specialBannerModel.bgBannerImage}" />
      <img class="tcb-hero-product_background-image" src="${specialBannerModel.bgBannerImage}"
        alt="${specialBannerModel.bgBannerImgAlt}" />
    </picture>
      <div class="hero-product">
        <div class="hero-product__wrapper">
          <div class="hero-product__wrapper-item">
            <div class="hero-product__wrapper-image hero-product__on-large-screen">
              <img src="${specialBannerModel.bannerImage}" alt="${specialBannerModel.bannerImgAlt}" />
            </div>
          </div>
          <div class="hero-product__wrapper-item">
            <div class="hero-product__wrapper-content">
              <label>${specialBannerModel.highlightedtext}</label>
              <h1>${specialBannerModel.bannerTitle}</h1>
              <h3>${specialBannerModel.bannerSubTitle}</h3>
              <div class="hero-product__wrapper-image hero-product__on-small-screen">
                <img src="${specialBannerModel.bannerImage}" alt="${specialBannerModel.bannerImgAlt}" />
              </div>
              <sly data-sly-test="${specialBannerModel.bannerDesc}">
              <div class="hero-product__wrapper-title">
                ${specialBannerModel.bannerDesc @ context='html'}
              </div>
              </sly>
              <div class="hero-product__wrapper-button">
                <sly data-sly-test="${specialBannerModel.buttonLabel}">
                  <a href="${specialBannerModel.buttonlinkURL}" target="${specialBannerModel.buttonTarget}"
                    rel="${specialBannerModel.buttonNoFollow ? 'nofollow' : ''}"
                    data-tracking-click-event="${specialBannerModel.registerContactCta ? 'cta' : 'linkClick'}"
                    data-tracking-click-info-value="${specialBannerModel.registerContactCta ? specialBannerModel.registerContactClickInfoValue : specialBannerModel.defaultClickInfoValue}"
                    data-tracking-web-interaction-value="${specialBannerModel.webInteractionValue}">
                    <button>
                      <span>${specialBannerModel.buttonLabel}</span>
                      <img data-sly-test="${specialBannerModel.hideButtonArrow != true}"  class="forward-arrow" alt="${specialBannerModel.buttonLabel}"
                           src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-arrow-icon.svg"/>
                    </button>
                  </a>
                </sly>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</sly>
