<template data-sly-template.content="">
   <div data-sly-resource="${'hero-image' @ resourceType='aem-bootcamp/components/general/hero-image'}"></div>
   <div data-sly-resource="${'guide-detail' @ resourceType='aem-bootcamp/components/general/guide-detail'}"></div>
   <div data-sly-resource="${'primary' @ resourceType='wcm/foundation/components/parsys'}"></div>
</template>