<meta data-sly-template.generate>
    <script type="text/javascript" data-sly-use.datalayer="${ '/apps/kemin-redesign/datalayer/datalayer.js'}">
        window.digitalData = ${datalayer.init @context='unsafe'};
    </script>
</meta>
<sly data-sly-call="${generate}"></sly>