<link rel="preload" as="font"
      href="/etc.clientlibs/kemin-redesign/clientlibs/clientlib-site/resources/fonts/icomoon.woff?yzs1zt"
      crossorigin="anonymous"/>
<link rel="preload" as="font"
      href="/etc.clientlibs/kemin-redesign/clientlibs/clientlib-site/resources/fonts/icomoon.svg?yzs1zt#icomoon"
      crossorigin="anonymous"/>
<link rel="preload" as="font"
      href="/etc.clientlibs/kemin-redesign/clientlibs/clientlib-site/resources/fonts/icomoon.ttf?yzs1zt"
      crossorigin="anonymous"/>
<link rel="preload" as="font"
      href="/etc.clientlibs/kemin-redesign/clientlibs/clientlib-site/resources/fonts/icomoon.eot?yzs1zt#iefix"
      crossorigin="anonymous"/>
<link rel="preload" as="font"
      href="/etc.clientlibs/kemin-redesign/clientlibs/clientlib-site/resources/fonts/Inter-VariableFont_slnt,wght.ttf"
      crossorigin="anonymous"/>
<script src="https://www.gstatic.com/external_hosted/handlebars/v4.7.6/handlebars.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuWbxjvTD_bV865l8QvB8ye-27aHtQFFU&callback=initMap&libraries=places&channel=GMPSB_locatorplus_v4_cE"></script>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories=['kemin-redesign.base','kemin-redesign.site']}">
    </sly>
    <sly data-sly-use.logic="logic.js">
        <sly data-sly-test="${!logic.runmodes.author}">
            <sly data-sly-test="${logic.runmodes.dev}">
                <script src="//assets.adobedtm.com/launch-EN55958a3dc4a14b8eae59604818e49c89-development.min.js"></script>
            </sly>
            <sly data-sly-test="${logic.runmodes.qa}">
                <script src="//assets.adobedtm.com/c5649727309c/f2336c3ffda4/launch-81bbf7699d35-development.min.js"></script>
            </sly>
            <sly data-sly-test="${logic.runmodes.stage}">
                <script src="//assets.adobedtm.com/launch-ENdc8cfccc23b04d29b457a9d90ea34a59-staging.min.js"></script>
            </sly>
            <sly data-sly-test="${logic.runmodes.prod}">
                <script src="//assets.adobedtm.com/launch-EN1f465b14e0714e958e7981a6e4198259.min.js"></script>
            </sly>
        </sly>
    </sly>
    <sly data-sly-resource="${'contexthub' @ resourceType='granite/contexthub/components/contexthub'}"/>
    <sly data-sly-include="/apps/kemin-redesign/datalayer/datalayer.html"/>
    <sly data-sly-test="${wcmmode.preview || wcmmode.edit}"
         data-sly-call="${clientLib.css @ categories='kemin.cq.authoring.page.dialog'}"/>