.container-header-fluid {
  .home-cart {
    cursor: pointer;
  }
}

.day {
  .cmp-header__marshmallow .container-header-fluid {
    .home-cart path {
      fill: $color-light-grey2;
    }
  }

  .home-cart {
    cursor: pointer;
    //cart
    &:hover.icon-cart-day-inactive:before {
      color: $color-charcoal;
    }
    //no item in cart
    &:active.icon-cart-day-inactive:before {
      color: $color-coal;
    }
    //item in cart
    &:active.icon-custom.icon-cart-day-filled-inactive .path1:before {
      color: $color-coal;
    }
    &:focus.icon-cart-day-inactive:before,
    &:focus.icon-cart-day-filled-inactive .path1:before {
      color: $color-charcoal;
    }
  }
  //day cart active
  .home-cart.active.icon-custom.icon-cart-day-inactive:before,
  .home-cart.active.icon-custom.icon-cart-day-filled-inactive .path1:before {
    color: $color-coal;
  }
  //day item in cart
  .home-cart.icon-custom.icon-cart-day-filled-inactive:hover .path1:before {
    color: $color-charcoal;
  }
}

.night {
  .cmp-header__charcoal .container-header-fluid {
    .home-cart path {
      fill: $color-light-grey1;
    }
  }

  .home-cart {
    cursor: pointer;
    //cart
    &:hover.icon-cart-night-inactive:before {
      color: $color-smoke;
    }
    //no item in cart
    &:active.icon-cart-night-inactive:before {
      color: $color-marshmallow;
    }
    //item in cart
    &:active.icon-cart-night-filled-inactive .path1:before {
      color: $color-marshmallow;
    }
    &:focus.icon-cart-night-inactive:before,
    &:focus.icon-cart-night-filled-inactive .path1:before {
      color: $color-smoke;
    }
  }
  //night cart active
  .home-cart.active.icon-custom.icon-cart-day-inactive:before,
  .home-cart.active.icon-cart-night-filled-inactive .path1:before {
    color: $color-marshmallow;
  }
  //night inactive active
  .home-cart.icon-custom.icon-cart-day-inactive:before {
    color: $color-light-grey1;
  }
  .home-cart.icon-cart-night-filled-inactive:hover .path1:before {
    color: $color-smoke;
  }
}
