<li>
    <a href="#" data-block=\"minicart\" class=\"minicart-wrapper\">
         <!-- day/night inactive -->
        <span class="home-cart icon-custom icon-cart-day-inactive"></span>
        <!-- day cart has item -->
        <span class="home-cart icon-custom icon-cart-day-filled-inactive">
            <span class="path1"></span>
            <span class="path2"></span>
        </span>
        <!-- night cart has item -->
        <span class="home-cart icon-custom icon-cart-night-filled-inactive">
            <span class="path1"></span>
            <span class="path2"></span>
        </span>
        <span class="home-cart icon-custom icon-cart-night-inactive">
            <span class="path1"></span>
            <span class="path2"></span>
        </span>
    </a>
</li>