<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-use.linkText="com.techcombank.core.models.LinkTextModel"
     data-sly-test.hasContent="${linkText.linkTextItems}">
    <div class="link-text link-text-component">
        <!-- Left image link text -->
        <div data-sly-test="${linkText.imagePosition == 'left'}" class="link-text__container">
            <div class="ticket-list" data-sly-test="${linkText.calculatePosition}">
                <div class="ticket-list-wrapper leftType" style="grid-template-columns: repeat(${linkText.calculateColumnsNumber @context='styleString'}, 1fr);">
                    <div data-sly-repeat="${linkText.linkTextItems}" class="ticket-item" 
                    hiddenInMobile="${itemList.index >= 3 ? 'hidden' : ''}" hiddenInDesktop="${itemList.index >= 12 ? 'hidden' : ''}" 
                    style="grid-row-start:${item.row @context='styleString'};grid-column-start:${item.column @context='styleString'};">
                        <sly data-sly-set.processedUrl="${item.linkUrl}">
                            <sly data-sly-test="${item.linkUrlType == 'tele'}">
                                <sly data-sly-test.processedUrl="${'{0}{1}' @ format=['tel:', processedUrl]}"></sly>
                            </sly>
                            <sly data-sly-test="${item.linkUrlType == 'mail'}">
                                <sly data-sly-test.processedUrl="${'{0}{1}' @ format=['mailto:', processedUrl]}"></sly>
                            </sly>
                        </sly>
                        <a href="${processedUrl}" class="link_component-link" target="${item.openInNewTab ? '_blank' : ''}"
                        rel="${item.noFollow ? 'nofollow' : ''}">
                            <div class="ticket_wrapper leftType">
                                <span class="ticket_icon leftType">
                                    <picture>
                                        <source media="(max-width: 360px)"
                                            srcset="${item.mobileIconImagePath}"/>
                                        <source media="(max-width: 576px)"
                                            srcset="${item.mobileIconImagePath}"/>
                                        <source media="(min-width: 1080px)"
                                            srcset="${item.webIconImagePath}"/>
                                        <source media="(min-width: 1200px)"
                                            srcset="${item.webIconImagePath}"/>
                                        <img alt="${item.iconImageAltText}" class="leftType__icon-img"
                                            src="${item.webIconImagePath}">
                                    </picture>
                                </span>
                                <div class="ticket-content">
                                    <p class="ticket-title">${item.titleText}</p>
                                    <p class="ticket-description">${item.description}</p>
                                </div>
                                <div class="icon-ext" data-sly-test="${linkText.arrow}">
                                    <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-arrow-icon.svg"/>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top image link text -->
        <div data-sly-test="${linkText.imagePosition == 'top'}" class="link-text__container">
            <div class="ticket-list" data-sly-test="${linkText.calculatePosition}">
                <div class="ticket-list-wrapper topType" style="grid-template-columns: repeat(${linkText.calculateColumnsNumber @context='styleString'}, 1fr);">
                    <div data-sly-repeat="${linkText.linkTextItems}" class="ticket-item" 
                    hiddenInMobile="${itemList.index >= 3 ? 'hidden' : ''}" hiddenInDesktop="${itemList.index >= 12 ? 'hidden' : ''}"
                    style="grid-row-start:${item.row @context='styleString'};grid-column-start:${item.column @context='styleString'};">
                        <sly data-sly-set.processedUrl="${item.linkUrl}">
                            <sly data-sly-test="${item.linkUrlType == 'tele'}">
                                <sly data-sly-test.processedUrl="${'{0}{1}' @ format=['tel:', processedUrl]}"></sly>
                            </sly>
                            <sly data-sly-test="${item.linkUrlType == 'mail'}">
                                <sly data-sly-test.processedUrl="${'{0}{1}' @ format=['mailto:', processedUrl]}"></sly>
                            </sly>
                        </sly>
                        <a href="${processedUrl}" class="contact-us__item" target="${item.openInNewTab ? '_blank' : ''}"
                        rel="${item.noFollow ? 'nofollow' : ''}">
                            <div class="contact-us__item__wrapper">
                                <div class="contact-us__item__icon" data-sly-test="${item.iconImage}">
                                    <picture>
                                        <source media="(max-width: 360px)"
                                            srcset="${item.mobileIconImagePath}"/>
                                        <source media="(max-width: 576px)"
                                            srcset="${item.mobileIconImagePath}"/>
                                        <source media="(min-width: 1080px)"
                                            srcset="${item.webIconImagePath}"/>
                                        <source media="(min-width: 1200px)"
                                            srcset="${item.webIconImagePath}"/>
                                        <img alt="${item.iconImageAltText}" class="contact-us__icon-img"
                                            src="${item.webIconImagePath}">
                                    </picture>
                                </div>
                                <div class="contact-us__item__placeholder" data-sly-test="${!item.iconImage}"></div>
                                <div class="contact-us__item__content__wrapper">
                                    <div class="contact-us__item__content__title">
                                        <p class="contact-us__item__content__title_text">${item.titleText}</p>
                                        <img data-sly-test="${linkText.arrow}" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-arrow-icon.svg"/>
                                    </div>
                                    <div class="contact-us__item__content__description">
                                        <p>${item.description}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="link-text-btn">
        <button type="button" class="title link-text-button__link">
          <span lass="link-text-view-more__title">${linkText.viewMoreLabel}</span>
          <div class="link-text-view-more__icon">
            <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/viewmore-icon.svg"/>
          </div>
        </button>
    </div>
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>
