<sly data-sly-use.recaptchaModel="${'com.techcombank.core.models.RecaptchaModel'}" />
<sly data-sly-test="${wcmmode.edit}">
    <p class="cq-placeholder" data-emptytext="${component.title}"></p>
</sly>
<div class="recaptcha-container" data-sitekey="${recaptchaModel.siteKey}" data-secretkey="${recaptchaModel.secretKey}">
    <input type="hidden" id="siteKey" name="siteKey" value="${recaptchaModel.siteKey}">
    <input type="hidden" id="secretKey" name="secretKey" value="${recaptchaModel.secretKey}">
    <div id="recaptcha" class="recaptcha-element"></div>
    <p data-sly-test="${recaptchaModel.isRequired}" id="captchaError" class="recaptcha-error  form-error-message">${recaptchaModel.requiredMessage}</p>
</div>
<script src="https://www.google.com/recaptcha/api.js?onload=recaptchaCallback&render=explicit&hl=en" async defer></script>

<script>
var recaptchaCallback = () => {
    var recaptchaContainers = document.querySelectorAll(".recaptcha-container");

    recaptchaContainers.forEach(function (container) {
      var siteKey = container.getAttribute("data-sitekey");
      var recaptchaDiv = container.querySelectorAll(".recaptcha-element");

      if (
        siteKey !== null &&
        siteKey !== "" &&
        !container.hasAttribute("data-rendered")
      ) {
        // Create a unique ID for each container to identify it
        var containerId = "recaptcha-" + siteKey;

        // Check if reCAPTCHA is already rendered
        if (document.getElementById(containerId) === null) {
          recaptchaDiv.forEach(function (e) {
            e.innerHTML = "";

            // Render reCAPTCHA
            grecaptcha.render(e, {
              sitekey: siteKey,
              callback: function (response) {
                e.nextElementSibling.style.display = 'none';
                e.parentElement.classList.add("captcha-checked");
                recaptchaValidation(response);
              },
            });

            container.setAttribute("data-rendered", "true");
          });
        }
      }
    });
  }

  function recaptchaValidation(clickedButton, response) {
    var captcha = clickedButton.parentElement.querySelector(".recaptcha-container"
    );
    if (!captcha) {
        return false; // checked recaptcha-container is present or not
    }
    var errorElement = captcha.querySelector(".recaptcha-error");
    var siteKeyElement = captcha.querySelector("#siteKey");

    if (siteKeyElement && siteKeyElement.value !== "") {
      if (captcha.classList.contains("captcha-checked")) {
        // If reCAPTCHA is valid
        if(captcha.closest("form").classList.contains("booking-container")) {
          errorElement.style.display = "none";	  
        }else{
          errorElement.classList.remove("form-error-message");
        }
      } else {
        // If reCAPTCHA is not valid
        if (errorElement) {
          errorElement.style.display = "block";
          return false;
        }
      }
    }
  }
</script>