footer {
	width: 100%;
	display: flex;
	justify-content: center; 
	flex-wrap: wrap;
  .cmp-footer__main-container {
    padding: calculateRem(64) 0 calculateRem(128);
  }
  .cmp-text__marshmallow {
    margin: calculateRem(32) 0;
  }
  .cmp-button {
    margin: 0;	
  }
  .cmp-button__text {
    @include t-14;

  }
  ul.cmp-list {
		width: auto;
		justify-content: center;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    
    li a:after, a:hover:after {
      background-color: transparent;
    }
     li span{
      @include t-14;
			text-decoration: none;
			font-weight: $font-weight-extrabold;
      font-size: calculateRem(14);
      line-height: calculateRem(17);
			margin: 0 calculateRem(16) calculateRem(16);
			position: relative;
			@include focus(0);
      &:after {
				content: "";
				position: absolute;
				transition: width 1s $transition-cb, opacity 0s linear 1s;
				height: 10%;
				bottom: 0;
				left: 0;
				width: 0%;
				opacity: 0;
      }
      &:hover {
        &:after {
					opacity: 1;
					transition: width 1s $transition-cb, opacity 0s linear;
					width: 100%;
        }
      }
      &:active {
        width: 100%;
      }
    }
  }
  .cmp-text p {
		width: 100%;
		@include t-14;
		text-align: center;
    line-height: calculateRem(17);
    font-weight: $font-weight-medium;
    padding: calculateRem(12) 0;
  }
  .cmp-footer__logo {
		width: calculateRem(32);
		height: calculateRem(32);
		margin: 0 0 calculateRem(128);
  }

  /* XF Boost Shop */
  #xf-boost-shop p{
    padding: 0;
    margin: 0;
  }

  #xf-boost-shop .text:nth-child(1){
    padding-top: calculateRem(26);
    padding-bottom: calculateRem(20);
  }
  #xf-boost-shop .text:nth-child(2) p{
    padding-bottom: calculateRem(12);
  }
}

 // Color Overrides
    
.cmp-footer__coal {
  background-color: $color-coal;
}
.cmp-footer__charcoal {
  background-color: $color-charcoal;
}
.cmp-footer__smoke {
  background-color: $color-smoke;
}
.cmp-footer__marshmallow {
  background-color: $color-marshmallow;
}

.day {
  footer {
		color: $color-cinder;
    .cmp-text p {
      @include t-14;
      color: $color-cinder;
    }
    ul.cmp-list {
      li a:after, a:hover:after {
        background-color: transparent;
      }
      li span {
				color: $color-cinder;
        @include t-14;
        &:after {
					background-color: $color-cinder;
        }
        &:hover {
					color: $color-charcoal;
          &:after {
						background-color: $color-charcoal;
          }
        }
        &:active {
					color: $color-coal;
          &:after {
						background-color: $color-coal;
          }
        }
      }
    }
  }
}
	
.night {
  footer {
		color: $color-ash;
    .cmp-text p {
      @include t-14;
      color: $color-ash;
    }
    ul.cmp-list {
      li a:after, a:hover:after {
        background-color: transparent;
      }
      li span {
				color: $color-marshmallow;
        @include t-14;
        &:after {
					background-color: $color-marshmallow;
        }
        &:hover {
					color: $color-ash;
          &:after {
						background-color: $color-ash;
          }
        }
        &:active {
					color: $color-marshmallow;
          &:after {
						background-color: $color-marshmallow;
          }
        }
      }
    }
  }
}

@media (max-width: calculateRem(415)) {
  footer {
    .cmp-text__marshmallow {
      margin: calculateRem(32) 0 0;
    }
    .cmp-button {
      margin: 0;
    }
    ul.cmp-list {
      text-align: center;
    }
  }
}

@media (min-width: calculateRem(416)) and (max-width: calculateRem(780)) {
  footer {
    .cmp-button {
      margin-left: calculateRem(80);
    }
  }
}

@media screen and (max-width:  calculateRem(767)) {
  .footer{
    .text{
      text-align: center;
      width: 100% !important;
    }
    .languageselector{
      width: 100% !important;
      text-align: center;
    }
  }
}

@media (min-width: calculateRem(320)) and (max-width: calculateRem(416)) {
  .footer {
    .cmp-list__item--list-horizontal li{
      display: block;
    }
  }
}
.genesis {
  .footer {
    .container.responsivegrid {
      &.content-width {
        .dynamicmedia{
          .cq-dd-image{
            a:hover:after {
              background-color: transparent !important;
            }
            a:after{
                background-color: transparent !important;
            }
          }
        }
      }
    }
  }
}
