<sly data-sly-test="${wcmmode.edit}">
  <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.simpleBannerModel="com.techcombank.core.models.MastHeadSimpleBannerModel">
  <section class="tcb-hero-banner ${simpleBannerModel.buttonLabel ? 'tcb-hero-banner--content-reverse' : ''} type-${simpleBannerModel.bannerType} align-${simpleBannerModel.textAlignment}">
    <picture class="tcb-hero-banner_background">
      <source media="(max-width: 360px)" srcset="${simpleBannerModel.bgBannerMobileImage}" />
      <source media="(max-width: 576px)" srcset="${simpleBannerModel.bgBannerMobileImage}" />
      <source media="(min-width: 1080px)" srcset="${simpleBannerModel.bgBannerImage}" />
      <source media="(min-width: 1200px)" srcset="${simpleBannerModel.bgBannerImage}" />
      <img class="tcb-hero-banner_background-image" src="${simpleBannerModel.bgBannerImage}"
        alt="${simpleBannerModel.bgBannerImgAlt}" />
    </picture>
    <div id="sizing"
      class="tcb-hero-banner_content tcb-hero-banner_content--medium tcb-hero-banner_content--use-breadcrumb
              tcb-hero-banner_content--use-menu">
      <div
        class="tcb-hero-banner_body ${simpleBannerModel.tabSection ? 'tcb-hero-banner--remove-alignment' : ''} tcb-container">

        <div id="alignment" class="tcb-hero-banner_customize-content tcb-hero-banner_customize-content--left-center">
          <div class="external-component full-width">
            <label data-sly-test="${simpleBannerModel.highlightedtext}" class="tcb-hero-banner_tag">${simpleBannerModel.highlightedtext}</label>
            <h1
              class="tcb-hero-banner_hero-title">
              ${simpleBannerModel.bannerTitle @ context='html'}</h1>
            <div data-sly-test="${simpleBannerModel.bannerDesc}" class="tcb-hero-banner_description">
              ${simpleBannerModel.bannerDesc @ context='html'}
            </div>
            <sly data-sly-test="${simpleBannerModel.buttonLabel}">
              <a class="tcb-button tcb-button--light-black tcb-button--hover-lightgray"
                href="${simpleBannerModel.buttonlinkURL}" target="${simpleBannerModel.buttonTarget}"
                rel="${simpleBannerModel.buttonNoFollow ? 'nofollow' : ''}">
                <span class="white-space">${simpleBannerModel.buttonLabel}</span>
                <span class="tcb-arrow material-symbols-outlined"> arrow_forward </span>
              </a>
            </sly>
            <div class="tcb-hero-banner_looking-for-wrapper" data-sly-test="${simpleBannerModel.displaySearchBox}">
              <div class="looking-for">
                <span class="looking-for_title">Bạn đang tìm kiếm</span>
                <div class="looking-for_input">
                  <div class="wrapper">
                    <input placeholder="Nhu cầu của bạn" name="search-document" trigger-search-to="list-view-document" />
                    <div class="icon">
                      <span>
                        <img
                          src="https://media.techcombank.com/uploads/search-cfd04bece9-647a770675.svg"
                          alt="search icon" />
                      </span>
                    </div>
                  </div>
                  <div class="looking-for_input-options">
                    <div class="looking-for_input-options-roots">
                      <div class="looking-for_input-options-wrapper">
                        <div class="looking-for_input-options-wrapper-inner">
                          <div class="looking-for_input-options-content">
                            <span class="looking-for_input-options-quick-access">Quick access</span>
                            <a href="#option1">Option 1</a>
                            <a href="#option2">Option 2</a>
                            <a href="#option3">Option 3</a>
                            <a href="#option4">Option 4</a>
                            <a href="#option5">Option 5</a>
                            <a href="#option6">Option 6</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="looking-for_submit">
                  <button trigger-search-to="list-view-document">
                    <span>Truy cập ngay</span>
                    <img
                      src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-arrow.svg"
                      alt="arrow" />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Page menu -->
        <div class="tcb-hero-banner_bottom-content">
          <div class="tcb-hero-banner_control tcb-hero-banner_control--prev"><span class="material-symbols-outlined">
              chevron_left
            </span></div>
          <ul class="page-menu">
            <sly data-sly-list.tabSectionItem="${simpleBannerModel.tabSection}">
              <li>
                <a href="${tabSectionItem.tabLinkURL}" target="${tabSectionItem.tabTarget}"
                  class="page-menu_item ${tabSectionItem.tabLinkURL == simpleBannerModel.currentActivePage ? 'page-menu_item--active' : ''}"
                  rel="${tabSectionItem.tabNoFollow ? 'nofollow' : ''}">
                  <img aria-hidden="true" src="${tabSectionItem.tabIcon}" alt="${tabSectionItem.tabIconAlt}" />
                  <span>${tabSectionItem.tabName}</span>
                </a>
              </li>
            </sly>
          </ul>
          <div class="tcb-hero-banner_control tcb-hero-banner_control--next"><span class="material-symbols-outlined">
              chevron_right
            </span></div>
        </div>
      </div>
    </div>
  </section>
</sly>
