<div data-sly-use.tabs="com.adobe.cq.wcm.core.components.models.Tabs"
  data-sly-use.tabsControl="com.techcombank.core.models.TabsModel"
  data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
  data-panelcontainer="${wcmmode.edit && 'tabs'}"
  id="${tabs.id}"
  class="cmp-tabs"
  data-cmp-is="tabs"
  data-placeholder-text="${wcmmode.edit && 'Please drag Tab components here' @ i18n}">
  <!-- Component Structure -->
  <section class="tabs-control-component" data-sly-test.lang="${tabsControl.getLanguageTitle}">
    <!-- Vertical in desktop, horizontal in tablet/mobile case -->
    <sly data-sly-test="${tabsControl.tabLabelAlignment == 'vertical'}">
      <!-- Vertical in desktop -->
      <div class="tabs-vertical">
        <section class="container tab-vertical-features-component">
          <div class="tab-vertical-features-component__container">
            <div class="tab-content">
              <div class="menu cmp-tabs__tablist"
                data-sly-set.items="${tabs.children || tabs.items}"
                data-sly-test="${items && items.size > 0}"
                data-sly-list.tab="${items}"
                role="tablist"
                aria-label="${tabs.accessibilityLabel}"
                aria-multiselectable="false">
                <sly data-sly-test.isActive="${tab.name == tabs.activeItem}"/>
                <button class="menu-item"
                  role="tab"
                  id="${tab.id}-tab"
                  aria-controls="${tab.id}-tabpanel"
                  tabindex="${isActive ? '0' : '-1'}"
                  data-cmp-hook-tabs="tab">
                    <div class="vertical-tabs-button-text">${tab.title}</div>
                </button>
              </div>
              <div class="list-items">
                <div class="tab" data-sly-repeat.item="${items}">
                  <div data-sly-resource="${item.resource @ decorationTagName='div'}"
                  id="${item.id}"
                  role="tabpanel"
                  aria-labelledby="${item.id}-tab"
                  tabindex="0"></div>
                </div>
              </div>
            </div>
          </div>
        </section>     
      </div>
      <!-- Horizontal in tablet/mobile -->
      <div class="tabs-horizontal">
        <section class="tabs-control-wrapper">
          <sly data-sly-set.tabsList="">
            <sly data-sly-set.items="${tabs.children || tabs.items}"
              data-sly-test="${items && items.size > 0}"
              data-sly-list="${items}">
              <div data-sly-test="${!itemList.last}">
                <sly data-sly-test.tabsList="${'{0}{1}{2}' @ format=[tabsList, item.title, ';']}"></sly>
              </div>
              <div data-sly-test="${itemList.last}">
                <sly data-sly-test.tabsList="${'{0}{1}' @ format=[tabsList, item.title]}"></sly>
              </div>
            </sly>
          </sly>
          <div class="tcb-tabs" data-tabs="${tabsList}"></div>
          <div class="tab-item_list tcb-tab-content">
              <div class="tab-items">
                <div data-sly-repeat.item="${items}"
                data-sly-resource="${item.resource @ decorationTagName='div'}"
                tabs-control-index="${resource.path.hashCode}"
                role="tabpanel"
                aria-labelledby="${item.id}-tab"
                class="tab-item" data-year="${item.title}"></div>
              </div>
          </div>
        </section>
      </div>
    </sly>
    <!-- Always horizontal case -->
    <sly data-sly-test="${tabsControl.tabLabelAlignment == 'horizontal'}">
      <section class="tabs-control-wrapper">
        <sly data-sly-set.tabsList="">
          <sly data-sly-set.items="${tabs.children || tabs.items}"
            data-sly-test="${items && items.size > 0}"
            data-sly-list="${items}">
            <div data-sly-test="${!itemList.last}">
              <sly data-sly-test.tabsList="${'{0}{1}{2}' @ format=[tabsList, item.title, ';']}"></sly>
            </div>
            <div data-sly-test="${itemList.last}">
              <sly data-sly-test.tabsList="${'{0}{1}' @ format=[tabsList, item.title]}"></sly>
            </div>
          </sly>
        </sly>
        <div class="tcb-tabs" data-tabs="${tabsList}"></div>
        <div class="tab-item_list tcb-tab-content">
            <div class="${wcmmode.edit ? 'tab-items-author' : 'tab-items'}">
                <div data-sly-repeat.item="${items}"
                data-sly-resource="${item.resource @ decorationTagName='div'}"
                tabs-control-index="${resource.path.hashCode}"
                role="tabpanel"
                aria-labelledby="${item.id}-tab"
                class="tab-item" data-year="${item.title}"></div>          
            </div>      
        </div>
      </section>
    </sly>
    <!-- Inspire case -->
    <sly data-sly-test="${tabsControl.tabLabelAlignment == 'inspire'}">
      <section class="container inspire-exclusive" lang="${tabsControl.getLanguageTitle}">
        <div class="inspire-exclusive__wrapper">
          <div class="inspire-exclusive__container" responsive-type="desktop">
            <div class="inspire-exclusive__tab-menu cmp-tabs__tablist"
                data-sly-set.items="${tabs.children || tabs.items}"
                data-sly-test="${items && items.size > 0}"
                role="tablist"
                aria-label="${tabs.accessibilityLabel}"
                aria-multiselectable="false">
                <sly data-sly-test.isActive="${tab.name == tabs.activeItem}"/>
              <div data-sly-repeat.item="${items}" class="tab-menu-item" color-tab="${itemList.index}">
                <h3 color-title="${itemList.index}">${item.title @context='html'}</h3>
              </div>
            </div>
            <div data-sly-repeat.item="${items}"
                data-sly-resource="${item.resource @ decorationTagName='div'}"
                tabs-control-index="${resource.path.hashCode}"
                role="tabpanel"
                aria-labelledby="${item.id}-tab"
                class="inspire-exclusive__tab-list">
            </div>
          </div>
        </div>
        <div class="inspire-exclusive__container" responsive-type="mobile">
          <div class="inspire-exclusive__hidden-content">
            <div class="inspire-exclusive__tab-menu cmp-tabs__tablist"
                data-sly-set.items="${tabs.children || tabs.items}"
                data-sly-test="${items && items.size > 0}"
                role="tablist"
                aria-label="${tabs.accessibilityLabel}"
                aria-multiselectable="false">
                <sly data-sly-test.isActive="${tab.name == tabs.activeItem}"/>
              <div data-sly-repeat.item="${items}" class="tab-menu-item" color-tab="${itemList.index}">
                <h3 color-title="${itemList.index}">${item.title @context='html'}</h3>
              </div>
            </div>
            <div data-sly-repeat.item="${items}"
                data-sly-resource="${item.resource @ decorationTagName='div'}"
                tabs-control-index="${resource.path.hashCode}"
                role="tabpanel"
                aria-labelledby="${item.id}-tab"
                class="inspire-exclusive__tab-list">
            </div>
          </div>
          <div class="inspire-exclusive__tab-menu-mobile">
            <sly data-sly-set.items="${tabs.children || tabs.items}">
              <div data-sly-repeat.item="${items}" class="tab-menu-mobile-item" color-tab="${itemList.index}">
                <div class="tab-menu-mobile-content">
                  <h3></h3>
                  <div class="dropdown-title-icon">
                    <p data-sly-test="${lang == 'Vietnamese'}">Xem thêm</p>
                    <p data-sly-test="${lang != 'Vietnamese'}">View more</p>
                    <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M14.12 -6.17205e-07L8 6.18084L1.88 
                        -8.21774e-08L8.31755e-08 1.90283L8 
                        10L16 1.90283L14.12 -6.17205e-07Z"
                        fill="#ED1B24"></path>
                    </svg>
                  </div>
                </div>
                <div class="content-wrapper tab-list-mobile"></div>
                <div class="tab-menu-collapse-icon">
                  <div class="collapse-icon-content">
                    <p data-sly-test="${lang == 'Vietnamese'}">Thu gọn</p>
                    <p data-sly-test="${lang != 'Vietnamese'}">View less</p>
                    <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M14.12 -6.17205e-07L8 6.18084L1.88 
                      -8.21774e-08L8.31755e-08 1.90283L8 10L16 
                      1.90283L14.12 -6.17205e-07Z"
                        fill="#ED1B24"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </sly>
          </div>
        </div>
      </section>
    </sly>
  </section>
  <!-- Parsys -->
  <sly data-sly-resource="${resource.path @ resourceType='wcm/foundation/components/parsys/newpar', appendPath='/*', decorationTagName='div', cssClassName='new section aem-Grid-newComponent'}"
                  data-sly-test="${(wcmmode.edit || wcmmode.preview)}"></sly>
</div>
