<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2016 Adobe Systems Incorporated
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-use.links="com.kemin.redesign.core.models.social.SocialLinks"
    data-sly-test.hasChild="${links.socialLinks.size > 0}">
    <div data-sly-list.item="${links.socialLinks}" class="social-icons">
      <span>
        <a data-cta="${item.platform}" data-at="${item.platform}" data-nav="Social_Links" data-cta-type="link" href="${item.link}" class="icon-${item.platform}" title="${item.platform}" x-cq-linkchecker="skip" target="_blank"></a>
      </span>
    </div>
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasChild}"></sly>
