.cmp-text {
  margin: 0;
}

.cmp-text__blockquote {
  margin: calculateRem(32);
}

// Margin Override Options //
.cmp-text__margin-128 {
  margin: 0 0 calculateRem(128);
}

.cmp-text__margin-64 {
  margin: 0 0 calculateRem(64);
}

.cmp-text__margin-32 {
  margin: 0 0 calculateRem(32);
}

.cmp-text__margin-16 {
  margin: 0 0 calculateRem(16);
}

.cmp-text__margin-8 {
  margin: 0 0 calculateRem(8);
}

.cmp-text__margin-4 {
  margin: 0 0 calculateRem(4);
}

.cmp-text__margin-2 {
  margin: 0 0 calculateRem(2);
}

// Color Override Options //
.cmp-text__coal {
  color: $color-coal;
}

.cmp-text__charcoal {
  color: $color-charcoal;
}

.cmp-text__cinder {
  color: $color-cinder;
}

.cmp-text__ash {
  color: $color-ash;
}

.cmp-text__smoke {
  color: $color-smoke;
}

.cmp-text__marshmallow {
  color: $color-marshmallow;
}

.cmp-text__black {
  color: $color-black;
}

// .cmp-text__green {
//   color: $color-brand-genesis-green;
// }

// .cmp-text__mineral-green {
//   color: $color-brand-genesis-mineral-green;
// }

// .cmp-text__russian-black {
//   color: $color-brand-genesis-black-russian;
// }

// .cmp-text__boost-orange-1 {
//   color: $color-brand-boost-orange-1;
// }

// .cmp-text__boost-orange-2 {
//   color: $color-brand-boost-orange-2;
// }

// .cmp-text__boost-orange-3 {
//   color: $color-brand-boost-orange-3;
// }

// .cmp-text__boost-dark-blue {
//   color: $color-brand-boost-dark-blue;
// }

// .cmp-text__boost-mid-blue {
//   color: $color-brand-boost-mid-blue;
// }

// .cmp-text__boost-accent-blue {
//   color: $color-brand-boost-accent-blue;
// }

// .cmp-text__boost-accent-green {
//   color: $color-brand-boost-accent-green;
// }

.cmp-text__dollar-superscript {
  display: table-cell;
  vertical-align: top;
  line-height: 16rem;
}

.cmp-text__no-hover:hover:parent(a):after {
  background-color: none !important;
}

//Secondary Colors //
.cmp-text__secondary-day {
  color: var(--secondary-color-day);
}

.cmp-text__secondary-night {
  color: var(--secondary-color-night);
}

// .cmp-text__boost-secondary-day {
//   color: var(--secondary-color-day);
// }

// .cmp-text__boost-secondary-night {
//   color: var(--secondary-color-night);
// }

.cmp-text__neutral-day {
  color: var(--color-coal);
}

.cmp-text__neutral-night {
  color: var(--color-marshmallow);
}

// Text Size Override Options //
.cmp-text__text-256 {
  @include t-256();
}

.cmp-text__text-192 {
  @include t-192();
}

.cmp-text__text-128 {
  @include t-128();
}

.cmp-text__text-96 {
  @include t-96();
}

.cmp-text__text-62 {
  @include t-62();
}

.cmp-text__text-52 {
  @include t-52();
}

.cmp-text__text-44 {
  @include t-44();
}

.cmp-text__text-36 {
  @include t-36();
}

.cmp-text__text-32 {
  @include t-32();
}

.cmp-text__text-28 {
  @include t-28();
}

.cmp-text__text-24 {
  @include t-24();
}

.cmp-text__text-20 {
  @include t-20();
}

.cmp-text__text-18 {
  @include t-18();
}

.cmp-text__text-16 {
  @include t-16();
}

.cmp-text__text-14 {
  @include t-14();
}

.cmp-text__text-12 {
  @include t-12();
}

// .boost {
//   .cmp-text__text-16 {
//    font-family: var(--font-primary);
//   }

//   .cmp-text__text-14 {
//    font-family: var(--font-primary);
//   }

//   .cmp-text__text-12 {
//    font-family: var(--font-primary);
//   }
// }

@media (min-width: calculateRem(320)) and (max-width: calculateRem(414)) {
  .cmp-text__text-256 {
    @include t-128();
  }

  .cmp-text__text-96 {
    @include t-44();
  }

  .cmp-text__dollar-superscript {
    display: table-cell;
    vertical-align: top;
    line-height: 9rem;
  }
}

.cmp-chat-link {
  color: var(--primary-color);
  font-weight: 800;
  text-decoration: none;
  position: relative;
  cursor: pointer;

  &:hover {
    color: var(--primary-color);

    &:after {
      background-color: var(--primary-color);
      width: 100%;
    }
  }

  &:after {
    background-color: var(--primary-color);
    content: "";
    position: absolute;
    transition: width 1s cubic-bezier(0, 0.48, 0.19, 1.01);
    height: 10%;
    bottom: 0;
    left: calculateRem(-1);
    width: 0%;
  }
}

// .day.boost {
//   .text {
//     a {
//       &.cmp-text__coal {
//         &:hover {
//           color: $color-coal;

//           &:after {
//             background-color: $color-coal;
//           }
//         }

//         &:after {
//           background-color: $color-coal;
//         }
//       }

//       &.cmp-text__charcoal {
//         &:hover {
//           color: $color-charcoal;

//           &:after {
//             background-color: $color-charcoal;
//           }
//         }

//         &:after {
//           background-color: $color-charcoal;
//         }
//       }

//       &.cmp-text__cinder {
//         &:hover {
//           color: $color-cinder;

//           &:after {
//             background-color: $color-cinder;
//           }
//         }

//         &:after {
//           background-color: $color-cinder;
//         }
//       }

//       &.cmp-text__ash {
//         &:hover {
//           color: $color-ash;

//           &:after {
//             background-color: $color-ash;
//           }
//         }

//         &:after {
//           background-color: $color-ash;
//         }
//       }

//       &.cmp-text__smoke {
//         &:hover {
//           color: $color-smoke;

//           &:after {
//             background-color: $color-smoke;
//           }
//         }

//         &:after {
//           background-color: $color-smoke;
//         }
//       }

//       &.cmp-text__marshmallow {
//         &:hover {
//           color: $color-marshmallow;

//           &:after {
//             background-color: $color-marshmallow;
//           }
//         }

//         &:after {
//           background-color: $color-marshmallow;
//         }
//       }

//       &.cmp-text__green {
//         &:hover {
//           color: $color-brand-genesis-green;

//           &:after {
//             background-color: $color-brand-genesis-green;
//           }
//         }

//         &:after {
//           background-color: $color-brand-genesis-green;
//         }
//       }

//       &.cmp-text__boost-orange-1 {
//         &:hover {
//           color: $color-brand-boost-orange-1;

//           &:after {
//             background-color: $color-brand-boost-orange-1;
//           }
//         }

//         &:after {
//           background-color: $color-brand-boost-orange-1;
//         }
//       }

//       &.cmp-text__boost-orange-2 {
//         &:hover {
//           color: $color-brand-boost-orange-2;

//           &:after {
//             background-color: $color-brand-boost-orange-2;
//           }
//         }

//         &:after {
//           background-color: $color-brand-boost-orange-2;
//         }
//       }

//       &.cmp-text__boost-orange-3 {
//         &:hover {
//           color: $color-brand-boost-orange-3;

//           &:after {
//             background-color: $color-brand-boost-orange-3;
//           }
//         }

//         &:after {
//           background-color: $color-brand-boost-orange-3;
//         }
//       }

//       &.cmp-text__boost-dark-blue {
//         &:hover {
//           color: $color-brand-boost-dark-blue;

//           &:after {
//             background-color: $color-brand-boost-dark-blue;
//           }
//         }

//         &:after {
//           background-color: $color-brand-boost-dark-blue;
//         }
//       }

//       &.cmp-text__boost-mid-blue {
//         &:hover {
//           color: $color-brand-boost-mid-blue;

//           &:after {
//             background-color: $color-brand-boost-mid-blue;
//           }
//         }

//         &:after {
//           background-color: $color-brand-boost-mid-blue;
//         }
//       }

//       &.cmp-text__boost-accent-blue {
//         &:hover {
//           color: $color-brand-boost-accent-blue;

//           &:after {
//             background-color: $color-brand-boost-accent-blue;
//           }
//         }

//         &:after {
//           background-color: $color-brand-boost-accent-blue;
//         }
//       }

//       &.cmp-text__boost-accent-green {
//         &:hover {
//           color: $color-brand-boost-accent-green;

//           &:after {
//             background-color: $color-brand-boost-accent-green;
//           }
//         }

//         &:after {
//           background-color: $color-brand-boost-accent-green;
//         }
//       }
//     }
//   }
// }

.text.cmp-text__no-hover {
  a {
    &:hover {
      &:after {
        background: none !important;
      }
    }

    &:after {
      background: none !important;
    }
  }
}

/*RTE number/text circle*/
.cmp-text-circle-filled,
.cmp-text-circle-ghost {
  .cmp-text__text-256 {
    width: calculateRem(256);
    display: block;
    text-align: center;
  }

  .cmp-text__text-192 {
    width: calculateRem(192);
    display: block;
    text-align: center;
  }

  .cmp-text__text-128 {
    width: calculateRem(128);
    display: block;
    text-align: center;
  }

  .cmp-text__text-96 {
    width: calculateRem(96);
    display: block;
    text-align: center;
  }

  .cmp-text__text-62 {
    width: calculateRem(62);
    display: block;
    text-align: center;
  }

  .cmp-text__text-52 {
    width: calculateRem(52);
    display: block;
    text-align: center;
  }

  .cmp-text__text-44 {
    width: calculateRem(44);
    display: block;
    text-align: center;
  }

  .cmp-text__text-36 {
    width: calculateRem(36);
    display: block;
    text-align: center;
  }

  .cmp-text__text-32 {
    width: calculateRem(32);
    display: block;
    text-align: center;
  }

  .cmp-text__text-28 {
    width: calculateRem(28);
    display: block;
    text-align: center;
  }

  .cmp-text__text-24 {
    width: calculateRem(24);
    display: block;
    text-align: center;
  }

  .cmp-text__text-20 {
    width: calculateRem(20);
    display: block;
    text-align: center;
  }

  .cmp-text__text-18 {
    width: calculateRem(18);
    display: block;
    text-align: center;
  }

  .cmp-text__text-16 {
    width: calculateRem(16);
    display: block;
    text-align: center;
  }

  .cmp-text__text-14 {
    width: calculateRem(14);
    display: block;
    text-align: center;
  }

  .cmp-text__text-12 {
    width: calculateRem(12);
    display: block;
    text-align: center;
  }
}

.cmp-text-circle-filled {
  border-radius: 50%;
  padding: 0.25em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.cmp-text-circle-filled::after {
  content: '';
  display: block;
  height: 0;
  padding-bottom: 100%;
}

.cmp-text-circle-ghost {
  border-radius: 50%;
  padding: 0.25em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.cmp-text-circle-ghost::after {
  content: '';
  display: block;
  height: 0;
  padding-bottom: 100%;
}

.day {
  .cmp-text-circle-filled {
    background-color: var(--primary-color-day);
    border: calculateRem(2) solid var(--primary-color-day);
    min-width: 1.5rem;
  }

  .cmp-text-circle-ghost {
    background-color: transparent;
    border: calculateRem(2) solid var(--color-brand-black);
    min-width: 1.5rem;
    color: var(--color-brand-black);
  }
}

.night {
  .cmp-text-circle-filled {
    background-color: var(--primary-color-night);
    border: calculateRem(2) solid var(--primary-color-night);
    min-width: 1.5rem;
  }

  .cmp-text-circle-ghost {
    background-color: transparent;
    border: calculateRem(2) solid var(--color-brand-white);
    min-width: 1.5rem;
    color: var(--color-brand-white);
  }
}

.text.cmp-text__glow-effect-circle {
  .cmp-text-circle-ghost {
    box-shadow: inset 0 0 calculateRem(10) 0 var(--primary-color-day), 0 0 calculateRem(10) 0 var(--primary-color-day);
  }

  .cmp-text-circle-filled {
    box-shadow: 0 0 calculateRem(10) 0 var(--primary-color-day);
  }
}

.text.cmp-text__glow-effect-text {

  .cmp-text-circle-ghost,
  .cmp-text-circle-filled,
  span {
    text-shadow: 0 0 calculateRem(4) var(--primary-color-day);
  }
}

// add checkmark to the bullet points based on 'cmp-text__checkmark' class
.cmp-text__checkmark {
  list-style: none;
  position: relative;
}

.cmp-text__checkmark::before {
  content: "\2713";
  position: absolute;
  left: calculateRem(-18);
}

li.cmp-text__checkmark.cmp-text__text-256:before {
  left: calculateRem(-256);
}

li.cmp-text__checkmark.cmp-text__text-192:before {
  left: calculateRem(-192);
}

li.cmp-text__checkmark.cmp-text__text-128:before {
  left: calculateRem(-128);
}

li.cmp-text__checkmark.cmp-text__text-96:before {
  left: calculateRem(-96);
}

li.cmp-text__checkmark.cmp-text__text-62:before {
  left: calculateRem(-62);
}

li.cmp-text__checkmark.cmp-text__text-52:before {
  left: calculateRem(-52);
}

li.cmp-text__checkmark.cmp-text__text-44:before {
  left: calculateRem(-44);
}

li.cmp-text__checkmark.cmp-text__text-36:before {
  left: calculateRem(-36);
}

li.cmp-text__checkmark.cmp-text__text-32:before {
  left: calculateRem(-32);
}

li.cmp-text__checkmark.cmp-text__text-28:before {
  left: calculateRem(-28);
}

li.cmp-text__checkmark.cmp-text__text-24:before {
  left: calculateRem(-24);
}

li.cmp-text__checkmark.cmp-text__text-20:before {
  left: calculateRem(-20);
}

li.cmp-text__checkmark.cmp-text__text-18:before {
  left: calculateRem(-18);
}

li.cmp-text__checkmark.cmp-text__text-16:before {
  left: calculateRem(-16);
}

li.cmp-text__checkmark.cmp-text__text-14:before {
  left: calculateRem(-14);
}

li.cmp-text__checkmark.cmp-text__text-12:before {
  left: calculateRem(-12);
}

//style circle RTE
.cmp-text__coal .cmp-text-circle-ghost {
  border-color: $color-coal;
  color: $color-coal;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: inset 0 0 calculateRem(10) 0 transparentize($color-coal, 0.25), 0 0 calculateRem(10) 0 transparentize($color-coal, 0.25);
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-coal;
  }
}

.cmp-text__charcoal .cmp-text-circle-ghost {
  border-color: $color-charcoal;
  color: $color-charcoal;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: inset 0 0 calculateRem(10) 0 transparentize($color-charcoal, 0.25), 0 0 calculateRem(10) 0 transparentize($color-charcoal, 0.25);
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-charcoal;
  }
}

.cmp-text__cinder .cmp-text-circle-ghost {
  border-color: $color-cinder;
  color: $color-cinder;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: inset 0 0 calculateRem(10) 0 transparentize($color-cinder, 0.25), 0 0 calculateRem(10) 0 transparentize($color-cinder, 0.25);
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-cinder;
  }
}

.cmp-text__ash .cmp-text-circle-ghost {
  border-color: $color-ash;
  color: $color-ash;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: inset 0 0 calculateRem(10) 0 transparentize($color-ash, 0.25), 0 0 calculateRem(10) 0 transparentize($color-ash, 0.25);
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-ash;
  }
}

.cmp-text__smoke .cmp-text-circle-ghost {
  border-color: $color-smoke;
  color: $color-smoke;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: inset 0 0 calculateRem(10) 0 transparentize($color-smoke, 0.25), 0 0 calculateRem(10) 0 transparentize($color-smoke, 0.25);
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-smoke;
  }
}

.cmp-text__marshmallow .cmp-text-circle-ghost {
  border-color: $color-marshmallow;
  color: $color-marshmallow;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: inset 0 0 calculateRem(10) 0 transparentize($color-marshmallow, 0.25), 0 0 calculateRem(10) 0 transparentize($color-marshmallow, 0.25);
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-marshmallow;
  }
}

// .cmp-text__green .cmp-text-circle-ghost {
//   border-color: $color-brand-genesis-green;
//   color: $color-brand-genesis-green;

//   .text.cmp-text__glow-effect-circle & {
//     box-shadow: inset 0 0 calculateRem(10) 0 transparentize($color-brand-genesis-green, 0.25), 0 0 calculateRem(10) 0 transparentize($color-brand-genesis-green, 0.25);
//   }

//   .text.cmp-text__glow-effect-text & {
//     text-shadow: 0 0 calculateRem(4) $color-brand-genesis-green;
//   }
// }

// .cmp-text__mineral-green .cmp-text-circle-ghost {
//   border-color: $color-brand-genesis-mineral-green;
//   color: $color-brand-genesis-mineral-green;

//   .text.cmp-text__glow-effect-circle & {
//     box-shadow: inset 0 0 calculateRem(10) 0 transparentize($color-brand-genesis-mineral-green, 0.25), 0 0 calculateRem(10) 0 transparentize($color-brand-genesis-mineral-green, 0.25);
//   }

//   .text.cmp-text__glow-effect-text & {
//     text-shadow: 0 0 calculateRem(4) $color-brand-genesis-green;
//   }
// }

// .cmp-text__russian-black .cmp-text-circle-ghost {
//   border-color: $color-brand-genesis-black-russian;
//   color: $color-brand-genesis-black-russian;

//   .text.cmp-text__glow-effect-circle & {
//     box-shadow: inset 0 0 calculateRem(10) 0 transparentize($color-brand-genesis-black-russian, 0.25), 0 0 calculateRem(10) 0 transparentize($color-brand-genesis-black-russian, 0.25);
//   }

//   .text.cmp-text__glow-effect-text & {
//     text-shadow: 0 0 calculateRem(4) $color-brand-genesis-black-russian;
//   }
// }

// .cmp-text__boost-orange-1 .cmp-text-circle-ghost {
//   border-color: $color-brand-boost-orange-1;
//   color: $color-brand-boost-orange-1;

//   .text.cmp-text__glow-effect-circle & {
//     box-shadow: inset 0 0 calculateRem(10) 0 transparentize($color-brand-boost-orange-1, 0.25), 0 0 calculateRem(10) 0 transparentize($color-brand-boost-orange-1, 0.25);
//   }

//   .text.cmp-text__glow-effect-text & {
//     text-shadow: 0 0 calculateRem(4) $color-brand-boost-orange-1;
//   }
// }

// .cmp-text__boost-orange-2 .cmp-text-circle-ghost {
//   border-color: $color-brand-boost-orange-2;
//   color: $color-brand-boost-orange-2;

//   .text.cmp-text__glow-effect-circle & {
//     box-shadow: inset 0 0 calculateRem(10) 0 transparentize($color-brand-boost-orange-2, 0.25), 0 0 calculateRem(10) 0 transparentize($color-brand-boost-orange-2, 0.25);
//   }

//   .text.cmp-text__glow-effect-text & {
//     text-shadow: 0 0 calculateRem(4) $color-brand-boost-orange-2;
//   }
// }

// .cmp-text__boost-orange-3 .cmp-text-circle-ghost {
//   border-color: $color-brand-boost-orange-3;
//   color: $color-brand-boost-orange-3;

//   .text.cmp-text__glow-effect-circle & {
//     box-shadow: inset 0 0 calculateRem(10) 0 transparentize($color-brand-boost-orange-3, 0.25), 0 0 calculateRem(10) 0 transparentize($color-brand-boost-orange-3, 0.25);
//   }

//   .text.cmp-text__glow-effect-text & {
//     text-shadow: 0 0 calculateRem(4) $color-brand-boost-orange-3;
//   }
// }

// .cmp-text__boost-dark-blue .cmp-text-circle-ghost {
//   border-color: $color-brand-boost-dark-blue;
//   color: $color-brand-boost-dark-blue;

//   .text.cmp-text__glow-effect-circle & {
//     box-shadow: inset 0 0 calculateRem(10) 0 transparentize($color-brand-boost-dark-blue, 0.25), 0 0 calculateRem(10) 0 transparentize($color-brand-boost-dark-blue, 0.25);
//   }

//   .text.cmp-text__glow-effect-text & {
//     text-shadow: 0 0 calculateRem(4) $color-brand-boost-dark-blue;
//   }
// }

// .cmp-text__boost-mid-blue .cmp-text-circle-ghost {
//   border-color: $color-brand-boost-mid-blue;
//   color: $color-brand-boost-mid-blue;

//   .text.cmp-text__glow-effect-circle & {
//     box-shadow: inset 0 0 calculateRem(10) 0 transparentize($color-brand-boost-mid-blue, 0.25), 0 0 calculateRem(10) 0 transparentize($color-brand-boost-mid-blue, 0.25);
//   }

//   .text.cmp-text__glow-effect-text & {
//     text-shadow: 0 0 calculateRem(4) $color-brand-boost-mid-blue;
//   }
// }

// .cmp-text__boost-accent-blue .cmp-text-circle-ghost {
//   border-color: $color-brand-boost-accent-blue;
//   color: $color-brand-boost-accent-blue;

//   .text.cmp-text__glow-effect-circle & {
//     box-shadow: inset 0 0 calculateRem(10) 0 transparentize($color-brand-boost-accent-blue, 0.25), 0 0 calculateRem(10) 0 transparentize($color-brand-boost-accent-blue, 0.25);
//   }

//   .text.cmp-text__glow-effect-text & {
//     text-shadow: 0 0 calculateRem(4) $color-brand-boost-accent-blue;
//   }
// }

// .cmp-text__boost-accent-green .cmp-text-circle-ghost {
//   border-color: $color-brand-boost-accent-green;
//   color: $color-brand-boost-accent-green;

//   .text.cmp-text__glow-effect-circle & {
//     box-shadow: inset 0 0 calculateRem(10) 0 transparentize($color-brand-boost-accent-green, 0.25), 0 0 calculateRem(10) 0 transparentize($color-brand-boost-accent-green, 0.25);
//   }

//   .text.cmp-text__glow-effect-text & {
//     text-shadow: 0 0 calculateRem(4) $color-brand-boost-accent-green;
//   }
// }

.cmp-text__coal .cmp-text-circle-filled,
.cmp-text__coal .cmp-text-circle-filled span {
  background-color: $color-coal;
  border-color: $color-coal;
  color: $color-marshmallow;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: 0 0 calculateRem(10) 0 $color-coal
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-coal;
  }
}

.cmp-text__charcoal .cmp-text-circle-filled,
.cmp-text__charcoal .cmp-text-circle-filled span {
  background-color: $color-charcoal;
  border-color: $color-charcoal;
  color: $color-marshmallow;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: 0 0 calculateRem(10) 0 $color-charcoal
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-charcoal;
  }
}

.cmp-text__cinder .cmp-text-circle-filled,
.cmp-text__cinder .cmp-text-circle-filled span {
  background-color: $color-cinder;
  border-color: $color-cinder;
  color: $color-marshmallow;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: 0 0 calculateRem(10) 0 $color-cinder
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-cinder;
  }
}

.cmp-text__ash .cmp-text-circle-filled,
.cmp-text__ash .cmp-text-circle-filled span {
  background-color: $color-ash;
  border-color: $color-ash;
  color: $color-marshmallow;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: 0 0 calculateRem(10) 0 $color-ash
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-ash;
  }
}

.cmp-text__smoke .cmp-text-circle-filled,
.cmp-text__smoke .cmp-text-circle-filled span {
  background-color: $color-smoke;
  border-color: $color-smoke;
  color: $color-marshmallow;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: 0 0 calculateRem(10) 0 $color-smoke
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-smoke;
  }
}

.cmp-text__marshmallow .cmp-text-circle-filled,
.cmp-text__marshmallow .cmp-text-circle-filled span {
  background-color: $color-marshmallow;
  border-color: $color-marshmallow;
  color: $color-marshmallow;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: 0 0 calculateRem(10) 0 $color-marshmallow
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-marshmallow;
  }
}

// .cmp-text__green .cmp-text-circle-filled,
// .cmp-text__green .cmp-text-circle-filled span {
//   background-color: $color-brand-genesis-green;
//   border-color: $color-brand-genesis-green;
//   color: $color-marshmallow;

//   .text.cmp-text__glow-effect-circle & {
//     box-shadow: 0 0 calculateRem(10) 0 $color-brand-genesis-green
//   }

//   .text.cmp-text__glow-effect-text & {
//     text-shadow: 0 0 calculateRem(4) $color-brand-genesis-green;
//   }
// }

// .cmp-text__boost-orange-1 .cmp-text-circle-filled,
// .cmp-text__boost-orange-1 .cmp-text-circle-filled span {
//   background-color: $color-brand-boost-orange-1;
//   border-color: $color-brand-boost-orange-1;
//   color: $color-marshmallow;

//   .text.cmp-text__glow-effect-circle & {
//     box-shadow: 0 0 calculateRem(10) 0 $color-brand-boost-orange-1
//   }

//   .text.cmp-text__glow-effect-text & {
//     text-shadow: 0 0 calculateRem(4) $color-brand-boost-orange-1;
//   }
// }

// .cmp-text__boost-orange-2 .cmp-text-circle-filled,
// .cmp-text__boost-orange-2 .cmp-text-circle-filled span {
//   background-color: $color-brand-boost-orange-2;
//   border-color: $color-brand-boost-orange-2;
//   color: $color-marshmallow;

//   .text.cmp-text__glow-effect-circle & {
//     box-shadow: 0 0 calculateRem(10) 0 $color-brand-boost-orange-2
//   }

//   .text.cmp-text__glow-effect-text & {
//     text-shadow: 0 0 calculateRem(4) $color-brand-boost-orange-2;
//   }
// }

// .cmp-text__boost-orange-3 .cmp-text-circle-filled,
// .cmp-text__boost-orange-3 .cmp-text-circle-filled span {
//   background-color: $color-brand-boost-orange-3;
//   border-color: $color-brand-boost-orange-3;
//   color: $color-marshmallow;

//   .text.cmp-text__glow-effect-circle & {
//     box-shadow: 0 0 calculateRem(10) 0 $color-brand-boost-orange-3
//   }

//   .text.cmp-text__glow-effect-text & {
//     text-shadow: 0 0 calculateRem(4) $color-brand-boost-orange-3;
//   }
// }

// .cmp-text__boost-dark-blue .cmp-text-circle-filled,
// .cmp-text__boost-dark-blue .cmp-text-circle-filled span {
//   background-color: $color-brand-boost-dark-blue;
//   border-color: $color-brand-boost-dark-blue;
//   color: $color-marshmallow;

//   .text.cmp-text__glow-effect-circle & {
//     box-shadow: 0 0 calculateRem(10) 0 $color-brand-boost-dark-blue
//   }

//   .text.cmp-text__glow-effect-text & {
//     text-shadow: 0 0 calculateRem(4) $color-brand-boost-dark-blue;
//   }
// }

// .cmp-text__boost-mid-blue .cmp-text-circle-filled,
// .cmp-text__boost-mid-blue .cmp-text-circle-filled span {
//   background-color: $color-brand-boost-mid-blue;
//   border-color: $color-brand-boost-mid-blue;
//   color: $color-marshmallow;

//   .text.cmp-text__glow-effect-circle & {
//     box-shadow: 0 0 calculateRem(10) 0 $color-brand-boost-mid-blue
//   }

//   .text.cmp-text__glow-effect-text & {
//     text-shadow: 0 0 calculateRem(4) $color-brand-boost-mid-blue;
//   }
// }

// .cmp-text__boost-accent-blue .cmp-text-circle-filled,
// .cmp-text__boost-accent-blue .cmp-text-circle-filled span {
//   background-color: $color-brand-boost-accent-blue;
//   border-color: $color-brand-boost-accent-blue;
//   color: $color-marshmallow;

//   .text.cmp-text__glow-effect-circle & {
//     box-shadow: 0 0 calculateRem(10) 0 $color-brand-boost-accent-blue
//   }

//   .text.cmp-text__glow-effect-text & {
//     text-shadow: 0 0 calculateRem(4) $color-brand-boost-accent-blue;
//   }
// }

// .cmp-text__boost-accent-green .cmp-text-circle-filled,
// .cmp-text__boost-accent-green .cmp-text-circle-filled span {
//   background-color: $color-brand-boost-accent-green;
//   border-color: $color-brand-boost-accent-green;
//   color: $color-marshmallow;

//   .text.cmp-text__glow-effect-circle & {
//     box-shadow: 0 0 calculateRem(10) 0 $color-brand-boost-accent-green
//   }

//   .text.cmp-text__glow-effect-text & {
//     text-shadow: 0 0 calculateRem(4) $color-brand-boost-accent-green;
//   }
// }

// Circle style min width based on font-size
.cmp-text__text-256 {

  .cmp-text-circle-ghost,
  .cmp-text-circle-filled {
    min-width: calculateRem(256) !important;
  }
}

.cmp-text__text-192 {

  .cmp-text-circle-ghost,
  .cmp-text-circle-filled {
    min-width: calculateRem(192) !important;
  }
}

.cmp-text__text-128 {

  .cmp-text-circle-ghost,
  .cmp-text-circle-filled {
    min-width: calculateRem(128) !important;
  }
}

.cmp-text__text-96 {

  .cmp-text-circle-ghost,
  .cmp-text-circle-filled {
    min-width: calculateRem(96) !important;
  }
}

.cmp-text__text-62 {

  .cmp-text-circle-ghost,
  .cmp-text-circle-filled {
    min-width: calculateRem(62) !important;
  }
}

.cmp-text__text-52 {

  .cmp-text-circle-ghost,
  .cmp-text-circle-filled {
    min-width: calculateRem(52) !important;
  }
}

.cmp-text__text-44 {

  .cmp-text-circle-ghost,
  .cmp-text-circle-filled {
    min-width: calculateRem(44) !important;
  }
}

.cmp-text__text-36 {

  .cmp-text-circle-ghost,
  .cmp-text-circle-filled {
    min-width: calculateRem(36) !important;
  }
}

.cmp-text__text-32 {

  .cmp-text-circle-ghost,
  .cmp-text-circle-filled {
    min-width: calculateRem(32) !important;
  }
}

.cmp-text__text-28 {

  .cmp-text-circle-ghost,
  .cmp-text-circle-filled {
    min-width: calculateRem(28) !important;
  }
}

.cmp-text__text-24 {

  .cmp-text-circle-ghost,
  .cmp-text-circle-filled {
    min-width: calculateRem(24) !important;
  }
}

.cmp-text__text-20 {

  .cmp-text-circle-ghost,
  .cmp-text-circle-filled {
    min-width: calculateRem(20) !important;
  }
}

.cmp-text__text-18 {

  .cmp-text-circle-ghost,
  .cmp-text-circle-filled {
    min-width: calculateRem(18) !important;
  }
}

.cmp-text__text-16 {

  .cmp-text-circle-ghost,
  .cmp-text-circle-filled {
    min-width: calculateRem(16) !important;
  }
}

.cmp-text__text-14 {

  .cmp-text-circle-ghost,
  .cmp-text-circle-filled {
    min-width: calculateRem(14) !important;
  }
}

.cmp-text__text-12 {

  .cmp-text-circle-ghost,
  .cmp-text-circle-filled {
    min-width: calculateRem(12) !important;
  }
}

// //default genesis link colors
// .night.genesis {
//   a {
//     color: $color-link-default;

//     &:hover {
//       color: $color-link-hover;

//       &:after {
//         background-color: $color-link-hover;
//       }
//     }

//     &:active {
//       color: $color-link-press;

//       &:after {
//         background-color: $color-link-press;
//       }
//     }

//     &:after {
//       background-color: $color-link-default;
//     }
//   }
// }