<sly>
    <script src="${caconfig['com.dish.dopweb.core.configs.LaunchScriptCaConfig'].launchScript @ context='uri'}" sync></script>
    <sly data-sly-test.content="${caconfig['com.dish.dopweb.core.configs.FacebookDomainVerificationCaConfig'].facebookDomainVerificationContent}">
        <meta name="facebook-domain-verification" content="${content}" />
    </sly>
</sly>
