<template data-sly-template.datalayer>
    <sly data-sly-use.dataLayer="com.dish.dopweb.core.models.AnalyticsPageObject">
        <script type="text/javascript">
            function addPageLoadToDataLayer(){
                const loadTime = window.performance.timing.domContentLoadedEventEnd - window.performance.timing.navigationStart;
                const localStorageData = JSON.parse(localStorage.getItem("mage-cache-storage"));
                let user = undefined;

                if (localStorageData && Object.entries(localStorageData).length && localStorageData.customer) {
                    if (localStorageData.customer.dish_customer_id) {
                        user = {
                            authState: "loggedIn",
                            subscriberId: localStorageData.customer.dish_customer_id
                        }
                    }
                }

                const screenLoadObj = {
                    event: "screen_load",
                    web: {
                        webPageDetails: {
                            pageViews: {
                                value: 1,
                            },
                            name              : "${dataLayer.pageName                  @ context='scriptString'}",
                            language          : "${dataLayer.language                  @ context='scriptString'}",
                            siteSection       : "${dataLayer.siteSection               @ context='scriptString'}",
                            qsp               : "${dataLayer.qsp                       @ context='scriptString'}",
                            siteSubSection    : "${dataLayer.siteSubSection            @ context='scriptString'}",
                            siteSubSubSection : "${dataLayer.siteSubSubSection         @ context='scriptString'}",
                            platform          : "${dataLayer.platform                  @ context='scriptString'}",
                            loadTime          : loadTime,
                            domain            : window.location.hostname,
                            url               : window.location.href.split(/[?#]/)[0],
                        }
                    }
                };

                if (user) {
                    screenLoadObj.web.user = user;
                }

                window.adobeDataLayer = window.adobeDataLayer || [];
                window.adobeDataLayer.push(screenLoadObj);
            }
            function addClickToDataLayer(){
                window.adobeDataLayer = window.adobeDataLayer || [];
                $("a, button").click(function(){
                    window.adobeDataLayer.push({
                        event: 'ui_click',
                        web: {
                            webInteraction: {
                                linkClicks: {
                                    value: 1
                                },
                                clickLocation: "${dataLayer.pageUrl @ context='scriptString'}",
                                name: $(this).text().trim() ? $(this).text().trim() : $(this).find("img").attr("alt") ? $(this).find("img").attr("alt") : $(this).attr("alt") ? $(this).attr("alt") : $(this).attr("aria-label") ? $(this).attr("aria-label") : $(this).attr("title") ? $(this).attr("title") : '',
                                URL: $(this).attr("href"),
                                pageName: "${dataLayer.pageName @ context='scriptString'}",
                                type: 'other'
                            }
                        }
                    });
                });
            }
            window.onload = function (){
                addPageLoadToDataLayer();
                addClickToDataLayer();
            }
        </script>
    </sly>
</template>
