<sly data-sly-use.divider="com.techcombank.core.models.DividerModel">   
    <div>
        <sly data-sly-test="${divider.dividerStyle == 'Dotted'}">
            <sly data-sly-test="${divider.labelText}">
                <span class="divider--dotted">${divider.labelText}</span>
            </sly>
            <sly data-sly-test="${!divider.labelText}">
                <span class="divider--dotted no-content"></span>
            </sly>
        </sly>
        <sly data-sly-test="${divider.dividerStyle == 'Solid'}">
            <hr/>
        </sly>
    </div>
    <sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
        data-sly-test.divider="${divider.dividerStyle}" />
    <sly data-sly-call="${template.placeholder @ isEmpty=!divider}"></sly>
</sly>