<template data-sly-template.subnav="${ @ menuItems, id}">
    <div class="aem-navigation">
        <sly data-sly-resource="${'navigation{0}' @ format=id, resourceType='dopweb/components/navigation'}"></sly>
    </div>
</template>