<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>

<sly data-sly-use.insurance="com.techcombank.core.models.InsuranceGain">
    <section class="container ">
        <div class="insurance-gain" data-insurance-gain="${insurance.genericList @ context='scriptComment'}" data-currency-input="${insurance.currencyText}" data-invalid-date="${insurance.errorDate}" data-invalid-age="${insurance.errorAge}">
            <div class="insurance-gain__container">
                <div class="insurance-gain__panel">
                    <div class="panel-inputs">
                        <div class="input-items" data-tracking-click-event="calculator"
                            data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': 'other'}}"
                            data-tracking-click-info-value="{'calculatorName':'Insurance Gain' ,'calculatorFields': ''}">
                            <div class="item__label">
                                <div class="label__text">${insurance.dob}</div>
                            </div>
                            <div class="item__input-fields">
                                <div class="input-fields__date-time-wrapper">
                                    <div class="date-time-wrapper__input-field" inputmode="numeric">
                                        <input aria-invalid="false" name="day" placeholder="DD" type="text"
                                            maxlength="2" class="date-time-wrapper__input" value="" />
                                    </div>
                                    <span class="date-time-wrapper__separator">-</span>
                                    <div class="date-time-wrapper__input-field" inputmode="numeric">
                                        <input aria-invalid="false" name="month" placeholder="MM" type="text"
                                            maxlength="2" class="date-time-wrapper__input" value="" />
                                    </div>
                                    <span class="date-time-wrapper__separator">-</span>
                                    <div class="date-time-wrapper__input-field" inputmode="numeric">
                                        <input aria-invalid="false" name="year" placeholder="YYYY" type="text"
                                            maxlength="4" class="date-time-wrapper__input" value="" />
                                    </div>
                                </div>
                                <p class="input-fields__error-msg"></p>
                            </div>
                            <div class="item__label">
                                <div class="label__text">${insurance.genderLabel}</div>
                            </div>
                            <div class="item__input-fields">
                                <div class="input-fields__drop-down">
                                    <div class="drop-down__container">
                                        <div class="drop-down__controls">
                                            <div class="drop-down__select">${insurance.male}</div>
                                            <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/chevron-bottom-icon.svg" />
                                        </div>
                                        <div class="select-option">
                                            <div class="option gender selected" value="0">${insurance.male}</div>
                                            <div class="option gender" value="1">${insurance.female}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__label">
                                <div class="label__text">
                                    ${insurance.amount}
                                    <div class="icon-info">
                                        <span class="icon" data-sly-test="${insurance.toolTipIcon}">
                                            <picture>
                                                <source media="(min-width:768px)" srcset="${insurance.toolTipIconMobile}" />
                                                <source media="(min-width:280px)" srcset="${insurance.toolTipIconMobile}" />
                                                <source media="(max-width: 360px)" srcset="${insurance.toolTipIconMobile}" />
                                                <source media="(max-width: 576px)" srcset="${insurance.toolTipIconMobile}" />
                                                <source media="(min-width: 1080px)" srcset="${insurance.toolTipIcon}" />
                                                <source media="(min-width: 1200px)" srcset="${insurance.toolTipIcon}" />
                                                <img alt="${insurance.toolTipAltText}" src="${insurance.toolTipIcon}" decoding="async" data-nimg="fill" sizes="100vw" />
                                            </picture>
                                        </span>
                                        <div class="tooltiptext">${insurance.toolTipAltText}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item__input-fields">
                                <div class="input-field__currency-field currency-suffix" inputmode="numeric">
                                    <sly
                                        data-sly-test="${insurance.type == 'legacy' || insurance.type == 'quyen' || insurance.type == 'superLink'}">
                                        <input aria-invalid="false" name="moneyValue" maxlength="25" type="text"
                                            id="insuranceSL" class="date-time-wrapper__input money__input-field"
                                            value="" />
                                    </sly>
                                    <sly data-sly-test="${insurance.type == 'anGia'}">
                                        <input aria-invalid="false" name="moneyValue" maxlength="25" type="text"
                                            id="insuranceAG" class="date-time-wrapper__input money__input-field"
                                            value="" />
                                    </sly>
                                    <sly data-sly-test="${insurance.type == 'bach'}">
                                        <input aria-invalid="false" name="moneyValue" maxlength="25" type="text"
                                            id="insuranceBL" class="date-time-wrapper__input money__input-field"
                                            value="" />
                                    </sly>
                                    <div class="date-time-wrapper__input-extra">
                                        <p class="currency__place-holder">${insurance.amountInput}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-info">
                        <span>
                            <picture data-sly-test="${insurance.background}">
                                <source media="(min-width:768px)" srcset="${insurance.backgroundMobile}" />
                                <source media="(min-width:280px)" srcset="${insurance.backgroundMobile}" />
                                <source media="(max-width: 360px)" srcset="${insurance.backgroundMobile}" />
                                <source media="(max-width: 576px)" srcset="${insurance.backgroundMobile}" />
                                <source media="(min-width: 1080px)" srcset="${insurance.background}" />
                                <source media="(min-width: 1200px)" srcset="${insurance.background}" />
                                <img alt="${insurance.alt}" class="InsuranceGainPanel_background__v_Ipd" src="${insurance.background}" decoding="async" data-nimg="fill" sizes="100vw" />
                            </picture>
                        </span>
                        <div class="panel-info__content">
                            <div class="panel-info__content-text">
                                <div class="info-content-text__icon">
                                    <span>
                                        <picture data-sly-test="${insurance.icon}">
                                            <source media="(min-width:768px)" srcset="${insurance.iconMobile}" />
                                            <source media="(min-width:280px)" srcset="${insurance.iconMobile}" />
                                            <source media="(max-width: 360px)" srcset="${insurance.iconMobile}" />
                                            <source media="(max-width: 576px)" srcset="${insurance.iconMobile}" />
                                            <source media="(min-width: 1080px)" srcset="${insurance.icon}" />
                                            <source media="(min-width: 1200px)" srcset="${insurance.icon}" />
                                            <img alt="${insurance.altIcon}" src="${insurance.icon}" decoding="async" data-nimg="fill" />
                                        </picture>
                                    </span>
                                </div>
                                <div class="info-content-text__label">
                                    <p>${insurance.interest}</p>
                                    <h3 class="insurance-fee">0 ${insurance.currencyText}</h3>
                                </div>
                            </div>
                            <div class="panel-info__content-button">
                                <div class="cta-button--light">
                                    <a class="cta-button" href="${insurance.link}"
                                        target="${insurance.openInNewTab == 'true' ? '_blank' : '_self'}"
                                        rel="${insurance.nofollow == 'true' ? 'noffolow' : ''}"
                                       data-tracking-click-event="contactUs"
                                       data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${insurance.interationType}'}}"
                                       data-tracking-click-info-value="{'${insurance.cta == 'true' ? 'contactUs' : 'linkclick'}':'${insurance.button}'}">

                                        <span class="cmp-button__text">${insurance.button}</span>
                                        <picture data-sly-test="${insurance.buttonImage}">
                                            <source media="(min-width:768px)" srcset="${insurance.buttonImageMobile}" />
                                            <source media="(min-width:280px)" srcset="${insurance.buttonImageMobile}" />
                                            <source media="(max-width: 360px)"
                                                srcset="${insurance.buttonImageMobile}" />
                                            <source media="(max-width: 576px)"
                                                srcset="${insurance.buttonImageMobile}" />
                                            <source media="(min-width: 1080px)" srcset="${insurance.buttonImage}" />
                                            <source media="(min-width: 1200px)" srcset="${insurance.buttonImage}" />
                                            <img alt="${insurance.altIcon}" src="${insurance.buttonImage}"
                                                decoding="async" data-nimg="fill" class="cmp-button__icon" />
                                        </picture>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</sly>