<sly data-sly-use.footerValues="com.techcombank.core.models.FooterModel"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test.hasContent="${footerValues.logo}">
    <sly data-sly-test="${hasContent}">
        <section class="scroll-to-top">
            <div class="scroll-to-top__icon">
            </div>
            <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/scroll-top-icon.svg"/>
        </section>
        <footer class="footer-container">
            <div class="content-wrapper">
                <div class="footer-wrapper">
                    <div class="footer-head">
                        <div class="footer-logo">
                        	<picture>
				    <source media="(max-width: 360px)"	srcset="${footerValues.logoMobileImagePath}"  />
				    <source media="(max-width: 576px)"	srcset="${footerValues.logoMobileImagePath}" />
				    <source media="(min-width: 1080px)"	srcset="${footerValues.logoWebImagePath}" />
				    <source media="(min-width: 1200px)"	srcset="${footerValues.logoWebImagePath}" />
				    <img src="${footerValues.logoWebImagePath}" alt="${footerValues.logoAltText}"/>
				</picture>
			</div>
                        <div class="footer-expand">
                            <p>${footerValues.rightButtonText}</p>
                            <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/chevron-bottom-icon.svg"/>
                        </div>
                    </div>
                    <div class="footer-links">
                        <div class="footer-links__list" id="footer-links__list">
                            <div data-sly-repeat.itemFooter="${footerValues.menuList}" class="footer-links__item">
                                <h3>
                                    <a target="${itemFooter.openInNewTab == 'true' ? '_blank' : ''}"
                                       href="${itemFooter.footerMenuUrl}">${itemFooter.footerMenuHeader}</a></h3>
                                <ul data-sly-list.subitem="${itemFooter.subMenuList}">
                                    <li>
                                        <a target="${subitem.openInNewTab == 'true' ? '_blank' : ''}"
                                           data-tracking-click-event="linkClick"
                                           data-tracking-click-info-value="{'linkClick': '${component.title} | ${subitem.subMenuText}'}"
                                           data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${subitem.isSubMenuUrlExternal}'}}"
                                           href="${subitem.subMenuUrl }">${subitem.subMenuText}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer-links__social-container">
                        <div class="footer-links__social-text">
                            <p>${footerValues.socialMediaText}</p>
                        </div>
                        <div class="footer-links__social-media">
                            <sly data-sly-list.subMenu="${footerValues.socialMediaList}">
                                <div class="footer-links__social-item">
                                    <a target="${subMenu.openInNewTab == 'true' ? '_blank' : ''}"
                                       href="${subMenu.socialUrl }">
                                         <picture>
						<source media="(max-width: 360px)" srcset="${subMenu.socialMobileImagePath}"  />
						<source media="(max-width: 576px)" srcset="${subMenu.socialMobileImagePath}" />
						<source media="(min-width: 1080px)" srcset="${subMenu.socialWebImagePath}" />
						<source media="(min-width: 1200px)" srcset="${subMenu.socialWebImagePath}" />
					 	<img target="_blank"
                                                data-tracking-click-event="linkClick"
                                                data-tracking-click-info-value="{'linkClick': '${component.title} | ${subMenu.socialText}'}"
                                                data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${subMenu.externalLink}'}}"
                                                src="${subMenu.socialWebImagePath}" alt="${subMenu.socialText}"/>
					</picture> 
                                    </a>
                                </div>
                            </sly>
                        </div>
                    </div>
                    <div class="footer-info">
                        <p class="copyright">${footerValues.copyrightText}</p>
                        <a target="${footerValues.openInNewTabTerms == 'true' ? '_blank' : ''}"
                           data-tracking-click-event="linkClick"
                           data-tracking-click-info-value="{'linkClick': '${component.title} | ${footerValues.termsAndCondition}'}"
                           data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${footerValues.isTermsAndConditionExternal}'}}"
                           href="${footerValues.termsAndConditionUrl }">
                            ${footerValues.termsAndCondition}</a>
                        <a target="${footerValues.openInNewTabPrivacy == 'true' ? '_blank' : ''}"
                           data-tracking-click-event="linkClick"
                           data-tracking-click-info-value="{'linkClick': '${component.title} | ${footerValues.privacyStatement}'}"
                           data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${footerValues.isPrivacyStatementExternal}'}}"
                           href="${footerValues.privacyStatementLinkUrl }">
                            ${footerValues.privacyStatement}</a>
                        ${footerValues.personalBanking @ context='html'}
                        ${footerValues.businessBanking @ context='html'}
                    </div>
                </div>
            </div>
        </footer>
    </sly>
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>
