<sly data-sly-test="${wcmmode.edit}">
	<p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.buttonModel="com.techcombank.core.models.ButtonModel">
    <sly data-sly-test.type="${buttonModel.ctaType=='modal' || buttonModel.ctaType=='default'}">
	<a id="${buttonModel.ctaType != 'modal' ? buttonModel.ctaID : ''}" data-sly-test="${buttonModel.ctaType}"
		href="${buttonModel.ctaType == 'modal' ? buttonModel.ctaModelId : buttonModel.ctaLink}"
		target="${buttonModel.ctaType != 'modal' ? buttonModel.ctaTarget : ''}"
		rel="${buttonModel.ctaNoFollow ? 'nofollow' : ''}"
		class="cta-button ${buttonModel.ctaType == 'link' ? 'cta-button--link' : '' } ${buttonModel.ctaQR ? 'qr-button' : '' }"
		data-tracking-click-event="cta"
		data-tracking-click-info-value="{'${buttonModel.contactRegisterCTA ? 'cta': 'linkClick'}' : 'Button | ${buttonModel.ctaLabel}'}"
		data-tracking-web-interaction-value="${buttonModel.ctaType == 'modal' ? buttonModel.ctaModalInteractionNameType : buttonModel.interactionNameType}" style="background-color: ${buttonModel.ctaColor @ context='styleToken'};color:${buttonModel.fontColor @ context='styleToken'};">
		</sly>
		<sly data-sly-test.type="${buttonModel.ctaType=='link'}">
	<a id="${buttonModel.ctaType != 'modal' ? buttonModel.ctaID : ''}" data-sly-test="${buttonModel.ctaType}"
		href="${buttonModel.ctaType == 'modal' ? buttonModel.ctaModelId : buttonModel.ctaLink}"
		target="${buttonModel.ctaType != 'modal' ? buttonModel.ctaTarget : ''}"
		rel="${buttonModel.ctaNoFollow ? 'nofollow' : ''}"
		class="cta-button ${buttonModel.ctaType == 'link' ? 'cta-button--link' : '' } ${buttonModel.ctaQR ? 'qr-button' : '' }"
		data-tracking-click-event="cta"
		data-tracking-click-info-value="{'${buttonModel.contactRegisterCTA ? 'cta': 'linkClick'}' : 'Button | ${buttonModel.ctaLabel}'}"
		data-tracking-web-interaction-value="${buttonModel.ctaType == 'modal' ? buttonModel.ctaModalInteractionNameType : buttonModel.interactionNameType}">
		</sly>
		<span class="cmp-button__text">${buttonModel.ctaLabel} </span>
		<sly data-sly-test="${buttonModel.ctaIcon || buttonModel.ctaQRImage}">
			<picture>
				<source media="(max-width: 360px)"
					srcset="${buttonModel.ctaQR ? buttonModel.ctaQRMobileImagePath : buttonModel.ctaIconMobileImagePath}" />
				<source media="(max-width: 576px)"
					srcset="${buttonModel.ctaQR ? buttonModel.ctaQRMobileImagePath : buttonModel.ctaIconMobileImagePath}" />
				<source media="(min-width: 1080px)"
					srcset="${buttonModel.ctaQR ? buttonModel.ctaQRWebImagePath : buttonModel.ctaIconWebImagePath}" />
				<source media="(min-width: 1200px)"
					srcset="${buttonModel.ctaQR ? buttonModel.ctaQRWebImagePath : buttonModel.ctaIconWebImagePath}" />
				<img src="${buttonModel.ctaQR ? buttonModel.ctaQRWebImagePath : buttonModel.ctaIconWebImagePath}"
					alt="${buttonModel.ctaQR ? buttonModel.ctaQRImageAltText : ''}" class="cmp-button__icon"
					aria-hidden="true" />
			</picture>
		</sly>
	</a>
</sly>
