<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.model="com.techcombank.core.models.EventListingModel"/>

<section class="calendar-event" data-cfPath="${model.eventsCFRootPath}">
    <!-- card-product-filter.html -->
    <div class="container mobile-not-show"  data-tracking-click-event="articleFilter" data-tracking-click-info-value="{'articleFilter':''}"  data-tracking-web-interaction-value="{'webInteractions': {'name': 'Calendar events','type': 'other'}}">
        <div class="card-multiple-select" data-wrap="false" data-title="${model.eventTypeLabel @context='html'}"
             data-options='${model.tags @context="html"}'>
        </div>
    </div>
    <!-- news-filter-list.html -->
    <div class="container event-filter mobile-shadow section__margin-small" data-viewmore="${model.viewMoreLabel
    @context='html'}"
         data-register="Register">
        <div class="content-wrapper news-filter__wrapper">
            <!-- Side bar Offer filter -->
            <div class="news_filter-group">
                <div class="news_filter__header mobile-only">
                    ${model.filterLabel @context='html'}
                    <div class="news_filter__close-button">
                        <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/icon_close_white.svg"/>
                    </div>
                </div>
                <div class="news_filter-group__content">
                    <div class="card-multiple-select mobile-only" data-title="${model.eventTypeLabel @context='html'}"
                         data-options='${model.tags @context="html"}'>
                    </div>
                    <!-- Filter title -->
                    <div class="offer-filter__title margin-bottom__short">
                        <h6>${model.showMeLabel @context='html'}</h6>
                    </div>
                    <!-- Sort checkbox item -->
                    <div class="offer-filter__sort-by-wrap offer-filter__checkbox flex-show">
                        <div class="offer-filter__checkbox-item">
                            <label class="checkbox-item__wrapper"
                            ><input class="input__checkbox" name="sort" type="checkbox" checked value="upcoming"/>
                                <div>${model.upcomingEventsLabel @context='html'}</div>
                            </label>
                        </div>
                        <div class="offer-filter__checkbox-item">
                            <label class="checkbox-item__wrapper"
                            ><input class="input__checkbox" name="sort" type="checkbox" checked value="before"/>
                                <div>${model.pastEventsLabel @context='html'}</div>
                            </label>
                        </div>
                    </div>
                    <!-- Filter title -->
                    <div class="offer-filter__title margin-bottom__short">
                        <h6> ${model.selectDateLabel @context='html'}</h6>
                    </div>
                    <!-- Datepicker item -->
                    <div style="display: flex;">
                        <div class="tcb-date-picker">
                        </div>
                    </div>
                    <div class="offer-filter__apply mobile-only">
                        <div class="tcb-button tcb-button--light-black">
                            ${model.applyFilterLabel @context='html'}
                        </div>
                    </div>
                </div>
            </div>
            <div class="news_open-filter-button" data-title="${model.filterLabel @context='html'}" data-action="${model.filterLabel @context='html'}">
                <button class="btn-open-filter">
                    <span>${model.filterLabel @context='html'}</span>
                    <div class="btn-open-filter__icon">
                        <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/icon-filter-red.svg"
                             width="16" height="16"/>
                    </div>
                </button>
                <div class="btn-open-filter-sticky">
                    <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/icon-filter-red.svg"
                         width="16" height="16"/>
                </div>
            </div>
            <!-- Offer cards container -->
            <div class="offer-cards__container">
                <div class="news-tab-content_container">
                </div>
                <div class="information-filter__load-more">
                    <button type="button" class="load-more__button">
                        <span>${model.viewMoreLabel @context='html'}</span>
                        <div class="load-more__button-icon">
                            <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/viewmore-icon.svg"
                                 width="16" height="16"/>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>