.day {

  .forms-horizontal,
  .forms-vertical {
    width: 100%;
    height: 100%;
    border-radius: calculateRem(15);
    padding-top: calculateRem(16);

    .button {
      text-align: center;
      margin: calculateRem(21) 0 calculateRem(8) 0;
    }

    .text-title.text {
      padding: calculateRem(64) calculateRem(64) calculateRem(32) calculateRem(64);
      text-align: center;
    }

    .text-privacy.text {
      padding: calculateRem(28) calculateRem(63) calculateRem(64) calculateRem(64);
      text-align: center;

    }

    .input-container {
      height: calculateRem(58);
      width: auto;
      border-radius: calculateRem(4);
      margin: 0 calculateRem(32) calculateRem(24);
      box-shadow: none;
      box-sizing: border-box;
      transition: 0.3s;
      position: relative;
      // overflow: hidden;
      border-radius: calculateRem(7) calculateRem(7) 0 0;
      background-color: $color-smoke;
      border-bottom: calculateRem(2) solid $color-ash;
      padding-right: calculateRem(32);
    }

    .input-container:hover {
      border-bottom: calculateRem(2) solid $color-charcoal;
    }

    .input-container:active {
      border-bottom: calculateRem(2) solid var(--primary-color);
    }

    .input-container label {
      font-size: calculateRem(12);
      left: calculateRem(10);
      color: $color-cinder;
      padding: 0 calculateRem(16);
    }

    .input-container label:hover {
      color: $color-charcoal;
    }

    .input-container label:active {
      color: $color-coal;
    }

    label.blank-field-input-label {
      display: inline-block;
      background: 0 0;
      vertical-align: sub;
      top: calculateRem(6);
      font-family: "Proximanova";
      font-size: calculateRem(16);
      font-weight: $font-weight-medium;
      color: $color-cinder;
    }

    .input-container .span-element input {
      border: none;
      width: 100%;
      padding: 0 calculateRem(16);
      background-color: transparent;
      font-family: "Proximanova";
      font-size: calculateRem(18);
      font-weight: $font-weight-medium;
      color: $color-cinder;
      box-sizing: border-box;

      :hover {
        color: $color-charcoal;
      }

      :active {
        color: $color-coal;
      }
    }

    .input-container .span-element input:focus {
      outline: none;
      color: $color-coal;
      background-color: transparent !important;
    }

    .errormsg {
      height: auto;
      background-color: $color-error-night;
      border-radius: calculateRem(7);
      margin: 0 calculateRem(25) calculateRem(8) calculateRem(25);
      padding: calculateRem(4) calculateRem(10) calculateRem(10) calculateRem(10);
      display: block;
    }

    .errormsg>p {
      color: $color-coal;
      font-family: var(--font-primary);
      font-size: calculateRem(14);
      letter-spacing: 0;
      line-height: calculateRem(19);
      margin: 0;
      display: inline;
      // padding: calculateRem(6) calculateRem(8) calculateRem(7) calculateRem(32);
    }

    .errormsg p span.alert-circle.icon-Alert-Circle {
      font-size: calculateRem(16);
      position: relative;
      top: calculateRem(2);
      padding-right: calculateRem(10);
    }

    .waves-effect {
      position: relative;
      cursor: pointer;
      overflow: hidden;
      user-select: none;
      will-change: opacity, transform;
    }

    #btnSubmit {
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    #btnSubmit.enabled {
      background-color: $color-spark;
    }

    .cmp-text p {
      font-family: "Proximanova";
      font-size: calculateRem(14);
      font-weight: $font-weight-medium;
      letter-spacing: 0;
      line-height: calculateRem(19);
      text-align: center;
      padding: calculateRem(8) calculateRem(32) calculateRem(32);
      word-break: break-word;

      a {
        color: #0165bc;
        font-weight: $font-weight-extrabold;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-left: calculateRem(32) !important;
      margin-right: calculateRem(32) !important;
    }

  }

  .flipped {
    .forms {
      .input-container {
        background-color: $color-marshmallow;
      }
    }
  }
}

.night {

  .forms-horizontal,
  .forms-vertical {
    width: 100%;
    height: 100%;
    border-radius: calculateRem(15);
    padding-top: calculateRem(16);

    .button {
      text-align: center;
      margin: calculateRem(21) 0 calculateRem(16) 0;
    }

    .text-title.text {
      padding: calculateRem(64) calculateRem(64) calculateRem(32) calculateRem(64);
      text-align: center;
    }

    .text-privacy.text {
      padding: calculateRem(28) calculateRem(63) calculateRem(64) calculateRem(64);
      text-align: center;

    }

    .input-container {
      height: calculateRem(58);
      width: auto;
      border-radius: calculateRem(4);
      margin: 0 calculateRem(32) calculateRem(24);
      box-shadow: none;
      box-sizing: border-box;
      transition: 0.3s;
      position: relative;
      // overflow: hidden;
      border-radius: calculateRem(7) calculateRem(7) 0 0;
      background-color: $color-charcoal;
      border-bottom: calculateRem(2) solid $color-cinder;
      padding-right: calculateRem(32);
    }

    .input-container:hover {
      border-bottom: calculateRem(2) solid $color-ash;
    }

    .input-container:active {
      border-bottom: calculateRem(2) solid var(--primary-color);
    }

    .input-container label {
      font-size: calculateRem(12);
      left: calculateRem(10);
      color: $color-ash;
      padding: 0 calculateRem(16);
    }

    .input-container label:hover {
      color: $color-charcoal;
    }

    .input-container label:active {
      color: $color-coal;
    }

    label.blank-field-input-label {
      display: inline-block;
      background: 0 0;
      vertical-align: sub;
      top: calculateRem(6);
      font-family: "Proximanova";
      font-size: calculateRem(16);
      font-weight: $font-weight-medium;
      color: $color-cinder;
    }

    .input-container .span-element input {
      border: none;
      width: 100%;
      padding: 0 calculateRem(16);
      background-color: transparent;
      font-family: "Proximanova";
      font-size: calculateRem(18);
      font-weight: $font-weight-medium;
      color: $color-ash;
      box-sizing: border-box;

      :hover {
        color: $color-smoke;
      }

      :active {
        color: $color-marshmallow;
      }
    }

    .input-container .span-element input:focus {
      outline: none;
      color: $color-marshmallow;
      background-color: transparent !important;
    }

    .waves-effect {
      position: relative;
      cursor: pointer;
      overflow: hidden;
      user-select: none;
      will-change: opacity, transform;
    }

    #btnSubmit {
      background-color: grey;
    }

    #btnSubmit.enabled {
      background-color: black;
    }

    .cmp-text p {
      font-family: "Proximanova";
      font-size: calculateRem(14);
      font-weight: $font-weight-medium;
      letter-spacing: 0;
      line-height: calculateRem(19);
      text-align: center;
      padding: calculateRem(8) calculateRem(32) calculateRem(16);
      word-break: break-word;

      a {
        color: #0165bc;
        font-weight: $font-weight-extrabold;
      }
    }
  }

  .flipped {

    .forms-horizontal,
    .forms-vertical {
      .input-container {
        background-color: $color-coal;
      }
    }
  }
}


//errors
.leadgen {

  .forms-horizontal,
  .forms-vertical {
    .input-container {

      #errorZipcode,
      #errorEmail {
        position: relative;
        top: calculateRem(4);
        font-size: calculateRem(14);
        line-height: calculateRem(19);
      }
    }
  }
}

//leadgen form styling with modal
.cmp-modal .leadgen {
  padding: calculateRem(16);

  form {
    overflow: hidden;
  }
}

.day {
  .leadgen {

    .forms-horizontal,
    .forms-vertical {
      .input-container {

        #errorZipcode,
        #errorEmail {
          color: $color-error;
        }
      }
    }
  }
}

.night {
  .leadgen {

    .forms-horizontal,
    .forms-vertical {
      .input-container {

        #errorZipcode,
        #errorEmail {
          color: $color-error-light;
        }
      }
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media (min-width: calculateRem(320)) and (max-width: calculateRem(414)) {
  .day {

    .forms-horizontal,
    .forms-vertical {
      width: auto;
      height: auto;

      .input-container {
        width: auto;
        height: auto;
        margin: 0 2rem 1.5rem;

        #errorZipcode,
        #errorEmail {
          top: calculateRem(24);
        }
      }
    }
  }

  .night {

    .forms-horizontal,
    .forms-vertical {
      .input-container {
        margin: 0 2rem 1.5rem;
        padding-right: 1rem;
      }
    }
  }

}

@media (min-width: calculateRem(1024)) {

  .day,
  .night {
    .forms-horizontal {
      .button {
        margin: calculateRem(48) 0 calculateRem(32) calculateRem(624);
        text-align: left;
      }

      .input-container {
        left: calculateRem(64);
        float: left;
        width: calculateRem(263);
        margin: 0 calculateRem(16) 0 0;
        padding-right: 0;
      }

      .cmp-text p {
        margin-left: calculateRem(64);
        margin-bottom: calculateRem(32);
        text-align: left;
        padding: 0;
      }
    }
  }
}

@media (min-width: calculateRem(415)) and (max-width: calculateRem(1023)) {
  .day {
    .forms-horizontal {
      .cmp-text p {
        padding: calculateRem(8) calculateRem(64) calculateRem(64);
      }
    }
  }
}

@media only screen and (max-width: calculateRem(767)) {
  .leadgen {
    padding: 0;

    .forms-vertical {
      border-radius: 0;
    }
  }
}

.input-container input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 calculateRem(50) #f5f5f6 inset;
  -webkit-text-fill-color: #333;
}

// mobile leagen form top
#mobileLeadGen .leadgen {
  padding: 0 !important;
}

.leadgenform {
  .cmp-button {
    margin: 0 auto;
  }
}

// horizontal leadgen form 
@media (min-width: calculateRem(768)) {
  .forms-horizontal {
    .input-container {
      margin: 0 0 1.25rem 0 !important;
      left: 0 !important;
    }

    .input-container:nth-child(2n+1){
      float: left;
      width: 47% !important;
      clear: none;
    }
  
    .input-container:nth-child(2n) {
      float: right;
      width: 47% !important;
      clear: none;
    }
    .button {
      margin: 0 !important;
      text-align: center !important;
    }
  }
}

@media (min-width: calculateRem(1024)) and (max-width: calculateRem(1210)){
  .container.responsivegrid {
    width: 100%;
  }
}
