<sly data-sly-test="${wcmmode.edit}">
   <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.model="${'com.techcombank.core.models.ColumnPanelModel'}"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"></sly>

<div class="column-panel-component">
   <div class="column-panel-component__container">
      <div class="column-panels" data-sly-list.cards="${model.cardLists}">
         <div class="item-panel">
            <div class="image">
               <img
                       src="${cards.iconImage}"
                       alt="${cards.iconImageAltText}"
               />
               <p class="image-title">${cards.categoryTitle}
                  <span class="tooltiptext">${cards.categoryTitle}
                  </span>
               </p>
            </div>
            <div class="list-option" data-sly-list="${cards.cardItems}">
               <a  class="option" href="${item.cardLinkUrl}" target="${item.cardTarget}"  rel="${item.cardNoFollow ? 'nofollow' : ''}"
                   data-tracking-click-event="linkClick"
                   data-tracking-click-info-value="{'linkClick': '${item.cardTitle}'}"
                   data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': '${item.webInteractionType}'}}">
                  <div class="content">
                     <p class="content-title" > ${item.cardTitle}</p>
                     <p class="content-description" data-sly-test = ${item.cardDescription}>
                        ${item.cardDescription @ context='html'}
                        <span class="tooltiptext">${item.cardDescription}</span>
                     </p>
                  </div>
                  <div class="arrow" data-sly-test = ${item.cardArrow}>
                     <img
                             src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-arrow.svg"
                             alt="arrow"
                     />
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="read-more" data-sly-test = "${model.viewMoreLabelText}" data-viewmore="${model.viewMoreLabelText}" data-viewless="${model.viewLessLabelText}">
         <button>${model.viewMoreLabelText}</button>
         <div class="expand">
            <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/Mediamodifier-Design-down.svg"/>
         </div>
      </div>
   </div>

</div>
