<sly data-sly-use.sectionContainer="com.techcombank.core.models.SectionContainerModel" />

<div class="tcb-sectionContainer ${sectionContainer.textColor ? 'section-font-color' : ''}"
     style="color: ${sectionContainer.textColor @ context='styleToken'}">
    <!--No small image then mobile will display large image.  -->
    <sly data-sly-test="${sectionContainer.containerAction == 'll-ll:sl-ll'}">
        <div class="tcb-bgImage ${sectionContainer.backgroundImageRounded ? 'rounded' : ''}"
            style="background-image: url(${sectionContainer.webImagePath @context='html'}); padding-left:${sectionContainer.leftPadding @context='html'}px; padding-right:${sectionContainer.rightPadding @context='html'}px; padding-top:${sectionContainer.topPadding @context='html'}px; padding-bottom: ${sectionContainer.bottomPadding @context='html'}px;">
            <div class="tcb-content-container">
                <h2 data-sly-test="${sectionContainer.titleText}" class="tcb-title">${sectionContainer.titleText}</h2>
                <sly data-sly-resource="${resource @ resourceType='wcm/foundation/components/responsivegrid'}"></sly>
            </div>
        </div>
    </sly>

    <!--large image not authored then desktop will display background color
        and small image authored will display for mobile.-->
    <sly data-sly-test="${sectionContainer.containerAction == 'll-bgColor:sl-sl'}">
        <div class="tcb-largeBgColor" style=" background-color: ${sectionContainer.backgroundColor @context='html'};">
            <div class="tcb-bgImage tcb-onlySmallImage ${sectionContainer.backgroundImageRounded ? 'rounded' : ''}"
                style="background-image: url(${sectionContainer.mobileImagePath @context='html'}); padding-left:${sectionContainer.leftPadding @context='html'}px; padding-right:${sectionContainer.rightPadding @context='html'}px; padding-top:${sectionContainer.topPadding @context='html'}px; padding-bottom: ${sectionContainer.bottomPadding @context='html'}px;">
                <div class="tcb-content-container">
                    <h2 data-sly-test="${sectionContainer.titleText}" class="tcb-title">${sectionContainer.titleText}</h2>
                    <sly data-sly-resource="${resource @ resourceType='wcm/foundation/components/responsivegrid'}"></sly>
                </div>
            </div>
        </div>
    </sly>
    <!--If both images are authored then large image will be displayed for desktop and small for mobile.-->
    <sly data-sly-test="${sectionContainer.containerAction == 'll-ll:sl-sl'}">
        <div class="tcb-bgImage tcb-largeImage ${sectionContainer.backgroundImageRounded ? 'rounded' : ''}"
            style=" background-image: url(${sectionContainer.webImagePath @context='html'}); padding-left:${sectionContainer.leftPadding @context='html'}px; padding-right:${sectionContainer.rightPadding @context='html'}px; padding-top:${sectionContainer.topPadding @context='html'}px; padding-bottom: ${sectionContainer.bottomPadding @context='html'}px;">
            <div class="tcb-bgImage tcb-smallImage ${sectionContainer.backgroundImageRounded ? 'rounded' : ''}"
                style="background-image: url(${sectionContainer.mobileImagePath @context='html'}); padding-left:${sectionContainer.leftPadding @context='html'}px; padding-right:${sectionContainer.rightPadding @context='html'}px;  padding-top:${sectionContainer.topPadding @context='html'}px; padding-bottom: ${sectionContainer.bottomPadding @context='html'}px;">
                <div class="tcb-content-container">
                    <h2 data-sly-test="${sectionContainer.titleText}" class="tcb-title">${sectionContainer.titleText}</h2>
                    <sly data-sly-resource="${resource @ resourceType='wcm/foundation/components/responsivegrid'}"></sly>
                </div>
            </div>
        </div>
    </sly>

    <!--If no images are authored both desktop and mobile will display Background color.-->
    <sly data-sly-test="${sectionContainer.containerAction == 'bgColor'}">
        <div class="tcb-bgColor" style=" background-color: ${sectionContainer.backgroundColor @context='html'}; padding-left:${sectionContainer.leftPadding @context='html'}px; padding-right:${sectionContainer.rightPadding @context='html'}px; padding-top:${sectionContainer.topPadding @context='html'}px; padding-bottom: ${sectionContainer.bottomPadding @context='html'}px;">
            <div class="tcb-content-container">
                <h2 data-sly-test="${sectionContainer.titleText}" class="tcb-title">${sectionContainer.titleText}</h2>
                <sly data-sly-resource="${resource @ resourceType='wcm/foundation/components/responsivegrid'}"></sly>
            </div>
        </div>
    </sly>

    <sly data-sly-test="${!sectionContainer.containerAction}">
        <div class="tcb-content-container" style="padding-left:${sectionContainer.leftPadding @context='html'}px; padding-right:${sectionContainer.rightPadding @context='html'}px; padding-top:${sectionContainer.topPadding @context='html'}px; padding-bottom: ${sectionContainer.bottomPadding @context='html'}px;">
            <h2 data-sly-test="${sectionContainer.titleText}" class="tcb-title">${sectionContainer.titleText}</h2>
            <sly data-sly-resource="${resource @ resourceType='wcm/foundation/components/responsivegrid'}"></sly>
        </div>
    </sly>
</div>
