<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.tagLookupModel="com.techcombank.core.models.TagLookupModel">
    <div class="filter-panel-container" data-id="${tagLookupModel.tagLabel}">
        <sly data-sly-resource="${ @path='filterpanel', resourceType='foundation/components/parsys'}"></sly>
    </div>
</sly>
