<div data-sly-use.listtiles="com.techcombank.core.models.ListTilesModel"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-test.hasContent="${listtiles.displayLayout}">
    <sly data-sly-test="${hasContent}">
        <div class="list__items list-tile ${listtiles.containerClasses[listtiles.displayLayout]}">
            <div data-sly-repeat="${listtiles.listTilesItems}"
                class="list__item list-tile__tile-item ${listtiles.tileClasses[listtiles.displayLayout][itemList.index]} list-tile__tile-item__theme-${item.theme}">
                <a class="list-tile__tile-link" href="${item.linkUrl}"
                    target="${item.openInNewTab ? '_blank' : '_self'}" rel="${item.noFollow ? 'nofollow' : ''}">
                    <article class="list-tile__hero">
                        <picture>
                            <source media="(max-width: 360px)" srcset="${item.mobileBackgroundImagePath}" />
                            <source media="(max-width: 576px)" srcset="${item.mobileBackgroundImagePath}" />
                            <source media="(min-width: 1080px)" srcset="${item.webBackgroundImagePath}" />
                            <source media="(min-width: 1200px)" srcset="${item.webBackgroundImagePath}" />
                            <img alt="image" class="list-tile__img" src="${item.webBackgroundImagePath}">
                        </picture>
                        <div class="list-tile__content">
                            <div class="list-tile__content-inner">
                                <div class="list-tile__card-label" data-sly-test="${item.nudgeText}">
                                    <p>${item.nudgeText}</p>
                                </div>
                                <div class="list-tile__card-body">
                                    <div class="list-tile__card-content">
                                        <h3>${item.textTitle}</h3>
                                        <div class="list-tile__card-description ${item.linkUrl && !item.linkText ? 'have-arrow-sticky' : ''}"
                                            data-sly-test="${item.description}">
                                            ${item.description @ context='html'}
                                        </div>
                                        <div class="list-tile__card-navtext" data-sly-test="${item.linkText}">
                                            <span class="list-tile__nav-text">${item.linkText}</span>
                                            <span class="list-tile__nav-icon" data-sly-test="${item.linkUrl}">
                                                <span class="list-tile__nav-inner">
                                                    <span class="list-tile__card-img"></span>
                                                </span>
                                            </span>
                                            </span>
                                        </div>
                                        <span class="list-tile__nav-icon right-corner"
                                            data-sly-test="${item.linkUrl && !item.linkText}">
                                            <span class="list-tile__nav-inner">
                                                <span class="list-tile__card-img"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </a>
            </div>
        </div>
    </sly>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>