<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.nestedModel="com.techcombank.core.models.NestedDropdownModel"></sly>

<div class="dropdown section ${nestedModel.analytics ? 'analytics-form-field' : ''}" data-required="${nestedModel.requiredMessage @context='html'}">
    <div class="cmp-form-options__drop-down">
        <label>${nestedModel.fieldLabel @context='html'}<span>*</span></label>
        <div
                class="dropdown-wrapper ${nestedModel.item} ${nestedModel.item == 'city-list' ? '' : 'disabled'}"
                data-placeholder="${nestedModel.placeholderText @context='html'}"
                data-selected="">
            <div class="dropdown-inputbase" role="button">
                <input class="dropdown-input" name="${nestedModel.fieldName}" aria-hidden="true" tabindex="-1" value=""/>
                <img
                        src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/arrow-icon-down-red.svg"
                        alt="">
            </div>
            <ul class="list-dropdown" hidden>
            </ul>
        </div>
    </div>
</div>
