<sly data-sly-use.linkHelper="com.dish.dopweb.core.models.LinkHelper"/>
<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
<div class="h-captcha" data-sitekey="${properties.siteKey}"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-path="${linkHelper.mappedResourcePath}.siteverify.api"></div>
<sly data-sly-call="${template.placeholder @ isEmpty=true}"></sly>
