<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html" data-sly-test.showPlaceholder="${properties.title || (properties.linkLabel && properties.link)}">
		<div class="CTA-highlight">
			<div class="CTA-container">
				  <div class="CTA-heading" data-sly-test="${properties.title}">
					  <h4>${properties.title}</h4>
				  </div>
				  <div class="CTA-link" data-sly-test="${properties.linkLabel && properties.link}">
					 <a data-cta="${properties.linkLabel}" data-at="CTA" data-nav="Body" data-cta-type="link" href="${properties.link @extension='html'}" class="CTA-link-item">${properties.linkLabel} <span class="icon-chevron-right CTA-link-item-icon"></span></a>
				  </div>
			</div>
		</div>
  </sly>  
<sly data-sly-call="${template.placeholder @ isEmpty=!showPlaceholder}"></sly>