<sly data-sly-use.downloadContentBlockModel="com.techcombank.core.models.DownloadContentBlockModel"></sly>
<section
    class="tcb-teaser ${downloadContentBlockModel.imagePosition =='right' ? 'tcb-teaser--reverse':''} ${ downloadContentBlockModel.imagePath ? '':'tcb-teaser--mobile-large'}">
    <div class="tcb-teaser_content tcb-teaser--larger-height">
        <div class="tcb-teaser_body">
            <div
                class="tcb-teaser_column tcb-teaser_column-left tcb-teaser_app-preview ${downloadContentBlockModel.imageAlignment @context='unsafe'}-align small-image">
		<sly data-sly-test="${downloadContentBlockModel.imagePath}">
		<div class="app-preview-image">		   
		    <picture>
		       <source media="(max-width: 360px)" srcset="${downloadContentBlockModel.mobileImagePath}"  />
		       <source media="(max-width: 576px)" srcset="${downloadContentBlockModel.mobileImagePath}" />
		       <source media="(min-width: 1080px)" srcset="${downloadContentBlockModel.webImagePath}" />
		       <source media="(min-width: 1200px)" srcset="${downloadContentBlockModel.webImagePath}" />
		       <img src="${downloadContentBlockModel.webImagePath}" alt="${downloadContentBlockModel.imageAltText}" /> 
		    </picture>		   
	        </div>
	     </sly>
	    </div>

            <div class="tcb-teaser_column tcb-teaser_column-right ${downloadContentBlockModel.textAlignment=='center' ? 'tcb-teaser_align-center' : ''}">

                <h2 class="tcb-teaser_title"  id="${downloadContentBlockModel.id}">${downloadContentBlockModel.title}</h2>
                <sly data-sly-test.descriptionPositionAbove="${downloadContentBlockModel.descriptionPosition=='above'}">
                    <div class="tcb-teaser_description">
                        <p>${downloadContentBlockModel.description @ context='html'}</p>
                    </div>
                </sly>
                <div class="tcb-teaser_download-app-row">
                    <sly data-sly-test="${downloadContentBlockModel.showScanner}">
                        <div class="tcb-download-app-block revert-on-mobile desktop-only">
                            <span class="tcb-scanner--text">${downloadContentBlockModel.scannerText}</span>
                              <sly data-sly-test="${downloadContentBlockModel.scannerImage}">
                                <picture>
                                    <source media="(max-width: 360px)" srcset="${downloadContentBlockModel.scannerMobileImagePath}" />
                                    <source media="(max-width: 576px)" srcset="${downloadContentBlockModel.scannerMobileImagePath}" />
                                    <source media="(min-width: 1080px)" srcset="${downloadContentBlockModel.scannerWebImagePath}" />
                                    <source media="(min-width: 1200px)" srcset="${downloadContentBlockModel.scannerWebImagePath}" />
            			    <img class="tcb-download-app-block_qr-code" src="${downloadContentBlockModel.scannerWebImagePath}" />
                                  </picture>
                             </sly>                            
                            <span class="app-button-arrow tcb-button--arrow material-symbols-outlined">
                                arrow_forward</span>
                        </div>
                        <a href="${downloadContentBlockModel.scannerLink}"
                            class="tcb-download-app-block revert-on-mobile mobile-only"
                            data-tracking-click-event="linkClick"
                            data-tracking-click-info-value="{'linkClick': '${downloadContentBlockModel.scannerText}'}"
                            data-tracking-web-interaction-value="${downloadContentBlockModel.scannerLinkWebInteractionValue}">
                            <span class="tcb-scanner--text">${downloadContentBlockModel.scannerText}</span>
                            <span class="app-button-arrow tcb-button--arrow material-symbols-outlined">
                                arrow_forward</span>
                        </a>
                    </sly>
                </div>
                <sly data-sly-test="${!descriptionPositionAbove}">
                    <div class="tcb-teaser_description">
                        <p>${downloadContentBlockModel.description @ context='html'}</p>
                    </div>
                </sly>
	         <sly data-sly-test="${downloadContentBlockModel.linkText && downloadContentBlockModel.linkUrl }">
	             <a class="tcb-button tcb-button--link"
                         href="${downloadContentBlockModel.linkUrl @extension='html'}"
                         target="${downloadContentBlockModel.openInNewTabLink}"
                         rel="${downloadContentBlockModel.noFollowLink}"
                         data-tracking-click-event="linkClick"
                         data-tracking-click-info-value="{'linkClick': '${downloadContentBlockModel.linkText}'}"
                         data-tracking-web-interaction-value="${downloadContentBlockModel.linkUrlWebInteractionValue}">
                         <div class="tcb-button--title">${downloadContentBlockModel.linkText}</div>
                         <span class="tcb-button--arrow material-symbols-outlined">arrow_forward</span>
                     </a>
               </sly>
                <sly data-sly-resource="${'button' @ resourceType='techcombank/components/button', decorationTagName='div'}"></sly>
            </div>
        </div>
    </div>
</section>
