<sly data-sly-test.textAuthored="${!properties.titleText && !currentPage.title}"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-call="${templates.placeholder @ isEmpty = textAuthored }">
</sly>
<sly data-sly-test="${properties.titleText}" >
     <div class="container-kemin">
          <h1 data-sly-element="${properties.textFont}"> ${properties.titleText @context='html'} </h1>
     </div> 
</sly>
<sly data-sly-test="${!properties.titleText}" >
     <div class="container-kemin">
          <h1> ${currentPage.title @context='html'} </h1>
     </div>
</sly>