<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.model="com.techcombank.core.models.IllustratedPanelModel">
    <div class="sectioncontainer">
        <div class="tcb-sectionContainer">
            <div class="tcb-content-container">
                <div class="illustrated-panel">
                    <div class="illustrated-panel-plan">
                        <div class="illustrated-panel-plan__description">
                            ${model.beforeText @context='html'}
                        </div>
                        <div data-sly-test="${model.centerImage}" class="illustrated-panel-plan__img">
                            <picture>
                                <source media="(max-width: 360px)" srcset="${model.centerImageMobile}"/>
                                <source media="(max-width: 576px)" srcset="${model.centerImageMobile}"/>
                                <source media="(min-width: 1080px)" srcset="${model.centerImage}"/>
                                <source media="(min-width: 1200px)" srcset="${model.centerImage}"/>
                                <img alt="${model.altText}" data-nimg="fixed" decoding="async" src="${model.centerImage}">
                            </picture>

                        </div>
                        <div data-sly-test="${model.afterText}" class="illustrated-panel-plan__description">
                            ${model.afterText @context='html'}
                        </div>

                        <div data-sly-test="${model.beforeLabel || model.afterLabel}"class="illustrated-panel-plan__benefitRate">
                            <div data-sly-test="${model.beforeLabel}" class="illustrated-panel-plan__beforeRate">
                                ${model.beforeLabel @context='html'}
                            </div>
                            <div data-sly-test="${model.afterLabel}" class="illustrated-panel-plan__afterRate">
                                ${model.afterLabel @context='html'}
                            </div>
                        </div>

                        <div class="illustrated-panel-plan__result__wrapper">
                            <div class="illustrated-panel-plan__result_${model.bottomAlignment == 'center' ? 'center' : 'left'}__info">
                                <div class="illustrated-panel-plan__result__icon">
                                    <img src="${model.icon}" alt="${model.iconAlt}" />
                                </div>
                                <span class="illustrated-panel-plan__result_description">
                                     ${model.bottomText}
                                </span>
                            </div>
                            <div class="illustrated-panel-plan__result_right__info">
                                <p class="illustrated-panel-plan__result__title">${model.valueText}</p>
                                <h3 class="illustrated-panel-plan__result__total__money"><span>${model.valueAmount}</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sly>
