<div data-sly-use.model="com.techcombank.core.models.FormSurveyModel"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test.hasContent="${model.surveyType}">
    <sly data-sly-test="${hasContent}">
        <section class="container section__margin-medium c-cash-form-survey" data-survey-type="${model.surveyType}">
            <!--SINGLE CHOICE-->
            <sly data-sly-test="${model.surveyType == 'single'}">
                <div class="form-survey__single-choice">
                    <div class="single-choice__container">
                        <!--QUESTION-->
                        <div class="single-choice__container--question">
                            <span class="question--title">${model.title}</span>
                        </div>
                        <!--ANSWER-->
                        <div class="single-choice__container--answer">
                            <label class="answer__item checkbox-item__wrapper ${model.answerDisplayDirection}"
                                   data-sly-repeat.answer="${model.formSurveyItemList}">
                                <input class="answer__item--input input__radio"
                                       name="${model.name}"
                                       type="radio"
                                       value="${answer.value}">
                                <span class="answer__item--text">${answer.title}</span>
                            </label>
                        </div>
                    </div>
                </div>
            </sly>

            <!--MULTIPLE CHOICE-->
            <sly data-sly-test="${model.surveyType == 'multi'}">
                <div class="form-survey__multiple-choice">
                    <div class="multiple-choice__container">
                        <!--QUESTION-->
                        <div class="multiple-choice__container--question">
                            <span class="question--title">${model.title} <span class="question--caption">${model.caption}</span></span>
                        </div>
                        <!--ANSWER-->
                        <div class="multiple-choice__container--answer"
                             data-minimum-of-answers="${model.minimumNumberOfAnswers}">
                            <label class="answer__item checkbox-item__wrapper ${model.answerDisplayDirection}"
                                   data-sly-repeat.answer="${model.formSurveyItemList}">
                                <input class="answer__item--input input__checkbox"
                                       name="${model.name}"
                                       value="${answer.value}"
                                       type="checkbox">
                                <span class="answer__item--text">${answer.title}</span>
                            </label>
                        </div>
                        <!--ANSWER ALERT-->
                        <div class="multiple-choice__container--answer-alert">${model.minimumNumberOfAnswersAlert}</div>
                    </div>
                </div>
            </sly>
        </section>
    </sly>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>