/*
 *  Copyright 2018 Adobe Systems Incorporated
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

 @import (once) "/libs/wcm/foundation/clientlibs/grid/grid_base.less";

 /* maximum amount of grid cells to be provided */
 @max_col: 12;
 @screen-small: 767px;
 @screen-medium: 1024px;
 @gutter-padding: 30px;
 
 /* default breakpoint */
 .aem-Grid {
   .generate-grid(default, @max_col);
 }
 
  /* phone breakpoint */
  @media (max-width: @screen-small) {
   .aem-Grid {
       .generate-grid(phone, @max_col);
   }
 }
 /* tablet breakpoint */
 @media (min-width: (@screen-small + 1)) and (max-width: @screen-medium) {
   .aem-Grid {
       .generate-grid(tablet, @max_col);
   }
 }
 
 //This is for grid level padding
//  .aem-GridColumn {
//    padding: 0 @gutter-padding;
//  }
 
//  .responsivegrid.aem-GridColumn {
//  padding-left: 0;
//  padding-right: 0;
//  }