<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.model="com.techcombank.core.models.CardListingModel"/>
<div class="sectioncontainer tcb-full-width credit-card-listing-section" data-cfPath="${model.cardCFRootPath @context='html'}"
     data-cardoptions='${model.cardTags @context="html"}' data-nudgeoptions='${model.nudgeTags @context="html"}'
     data-registerLink = '${model.regCtaMobile}' data-component-name="${component.title}">
    <div class="tcb-sectionContainer">
        <div class="tcb-content-container">
            <div class="credit-card-listing">
                <div class="credit-card-listing__content">
                    <div class="content-wrapper credit-card-listing__container">
                        <h6 class="credit-card-listing__title">${model.cardTypeLabel}</h6>
                        <div class="credit-card-listing__items">
                        </div>
                    </div>
                </div>
                <div class="list-card-product__container content-wrapper">
                    <div class="list-card-product__grid-container">

                        <div class="card-product-banner">
                            <div class="card-product-banner__container">
                                <div class="card-product-banner__wrapper">
                                    <a class="card-product-banner__link"
                                       href="${model.bannerLink}" target="${model.bannerTarget}"
                                       rel="${model.bannerFollow ? 'nofollow' : ''}">
                                        <div aria-hidden="true" class="card-product-banner__content">
                                            <img alt="${model.imageAlt}" class="card-product-banner__img"
                                                 src="${model.bannerImg}"/>
                                            <div class="card-product-banner__text">
                                                <div class="card-product-banner__text__title">${model.bannerTitle}</div>
                                                <div class="card-product-banner__text__description">
                                                    ${model.bannerDesc @context="html"}
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="card-product-banner__close"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="container compare-choosing hidden">
                    <div class="compare-choosing__sticky-card">
                        <div class="content-wrapper compare-choosing__container">
                            <div class="compare-choosing__list-card">
                                <div class="list-card__item">
                                    <div class="list-card__item-image">
                  <span>
                    <img alt="" data-nimg="fixed" decoding="async" src=""/>
                  </span>
                                    </div>
                                    <span aria-hidden="true" class="remove-button">
                  <img alt=""
                       src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/icon_close_white.svg">
                </span>
                                    <div aria-hidden="true" class="add-panel">
                                        <img alt=""
                                             class="icon-svg-add"
                                             src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/add-icon.svg">
                                    </div>
                                </div>
                                <div class="list-card__item">
                                    <div class="list-card__item-image">
                  <span>
                    <img alt="" data-nimg="fixed" decoding="async" src=""/>
                  </span>
                                    </div>
                                    <span aria-hidden="true" class="remove-button">
                  <img alt=""
                       src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/icon_close_white.svg">
                </span>
                                    <div aria-hidden="true" class="add-panel">
                                        <img alt=""
                                             class="icon-svg-add"
                                             src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/add-icon.svg">
                                    </div>
                                </div>
                                <div class="list-card__item">
                                    <div class="list-card__item-image">
                  <span>
                    <img alt="" data-nimg="fixed" decoding="async" src=""/>
                  </span>
                                    </div>
                                    <span aria-hidden="true" class="remove-button">
                  <img alt=""
                       src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/icon_close_white.svg">
                </span>
                                    <div aria-hidden="true" class="add-panel">
                                        <img alt=""
                                             class="icon-svg-add"
                                             src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/add-icon.svg">
                                    </div>
                                </div>
                            </div>
                            <div class="compare-button">
                                <a class="compare-button__link" disabled=""
                                   href="${model.ctaCompLink}"
                                   rel="${model.ctaCompFollow ? 'noopener noreferrer' : ''}"
                                   target="${model.ctaCompTarget}">
                                    ${model.ctaCompLabel}
                                    <div class="compare-button__link-icon">
                                        <img
                                                alt=""
                                                src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-arrow-icon.svg?w=1920&q=75">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup">
                    <div class="popup-content">
                        <img alt=""
                             class="close"
                             src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/icon_close_red.svg">
                        <div class="popup-register_image">
                            <picture>
                                <source media="(max-width: 360px)" srcset="${model.regImgMobile}" />
                                <source media="(max-width: 576px)" srcset="${model.regImgMobile}" />
                                <source media="(min-width: 1080px)" srcset="${model.regImg}" />
                                <source media="(min-width: 1200px)" srcset="${model.regImg}" />
                                <img  alt="${model.imageRegAlt}"
                                      data-nimg="responsive"
                                      sizes="100vw"
                                      decoding="async" src="${model.regImg}"/>
                            </picture>
                        </div>
                        <div class="popup-register_content">
                            <div class="popup-register_contentTop">
                                <h4 class="popup-register_title">${model.regTitle}</h4>
                                <div class="popup-register_desc">
                                    <div class="popup-register_text">
                                        <p>${model.regSubTitle}</p>
                                    </div>
                                </div>
                                <div class="popup-register_steps">
                                    <sly data-sly-list="${model.steps}">
                                        <div class="popup-register_item popup-register_step">
                                            <h6><span>${itemList.count}.</span>${item.stepTitle}</h6>
                                            <div class="popup-register_titleDescOuter">
                                                <div class="popup-register_titleDesc">
                                                    <picture>
                                                        <source media="(max-width: 360px)" srcset="${item.stepImgMobile}"/>
                                                        <source media="(max-width: 576px)" srcset="${item.stepImgMobile}"/>
                                                        <source media="(min-width: 1080px)" srcset="${item.stepImg}" />
                                                        <source media="(min-width: 1200px)" srcset="${item.stepImg}" />
                                                        <img   alt="${item.imageStpAlt}"
                                                              data-nimg="intrinsic"
                                                              decoding="async" src="${item.stepImg}"/>
                                                    </picture>
                                                </div>
                                            </div>
                                        </div>
                                    </sly>
                                </div>
                            </div>
                            <div class="popup-register_contentBottom">
                                <p class="popup-register_title">${model.bottomText}</p>
                                <div class="popup-register_linkGroup">
                                    <div class="popup-register_linkItem">
                                        <a href="${model.bottomLink}" target="${model.ctaBtmTarget}" rel="${model
                                        .ctaBtmFollow ? 'noopener noreferrer' :''}">
                                            <span class="link-text">${model.bottomLinkLabel}</span>
                                            <img
                                                    alt=""
                                                    src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-arrow-icon.svg?w=1920&q=75">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>