<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.filterPanel="com.techcombank.core.models.EnhancedFilterPanelModel">
       <div class="filter-panel" itemscope itemtype="https://schema.org/FAQPage">
       		<div class="filter-panel__content" data-sly-test="${filterPanel.viewAll}">
            	<div class="content-wrapper filter-panel__container">
            		<h6 class="filter-panel__title">${filterPanel.categoryLabel}</h6>
                	<div class="filter-panel__items">
                		<div class="filter__item">
                        	<button type="button" class="filter-panel__button filter-selected" data-id="all">
                            	${filterPanel.viewAll}
                        	</button>
                    	</div>
                    	<sly data-sly-list="${filterPanel.tags}">
                        	<div class="filter__item">
                            	<button type="button" class="filter-panel__button" data-id="${item}">
                                	${item}
                            	</button>
                        	</div>
                    	</sly>
                	</div>
        		</div>
			</div>
			<div class="list-items">
				<div data-sly-repeat="${filterPanel.expFragments}">
				<sly data-sly-resource="${@path=item.path, selectors='content', wcmmode='disabled'}"></sly>
				</div>
			</div>
	   </div>
</sly>
