<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<div data-sly-use.model="com.techcombank.core.models.SocialShareInfoModel"
     data-panelcontainer="${wcmmode.edit && 'Social Share'}"
     data-placeholder-text="${wcmmode.edit && 'Please drag Social Share Item Component' @ i18n}"
     data-sly-test.hasContent="${model.socialShareItems}">
    <sly data-sly-test="${hasContent}">
        <div class="content-social-share">
            <label class="social-label">${model.socialShareTitle}:</label>
            <div data-sly-list="${model.socialShareItems}" class="social-content">
                <a class="content-social-share-icon-wrapper" href="${item.socialShareLink}"
                   target="${item.socialShareTarget}"
                   rel="${item.socialShareNoFollow ? 'nofollow' : ''}"
                   data-tracking-click-event="linkClick"
                   data-tracking-click-info-value="{'linkClick': '${item.socialShareAltText}'}"
                   data-tracking-web-interaction-value="${item.webInteractionValue}">
                    <picture>
                        <source media="(max-width: 360px)" srcset="${item.socialShareIconMobile}"/>
                        <source media="(max-width: 576px)" srcset="${item.socialShareIconMobile}"/>
                        <source media="(min-width: 1080px)" srcset="${item.socialShareIcon}"/>
                        <source media="(min-width: 1200px)" srcset="${item.socialShareIcon}"/>
                        <img class="content-social-share-icon" alt="${item.socialShareAltText}"
                             data-nimg="fixed" decoding="async" src="${item.socialShareIcon}">
                    </picture>
                </a>
            </div>
        </div>
    </sly>
</div>