<sly data-sly-test="${wcmmode.edit}">
    <p class="cq-placeholder" data-emptytext="${component.title}"></p>
</sly>

<sly
        data-sly-use.appointmentBookingModel="com.techcombank.core.models.AppointmentBookingModel">
    <div class="booking ${appointmentBookingModel.enableTabs ? 'booking-visit':''}" data-today-label="${appointmentBookingModel.todayLabel}"
         data-tomorrow-label="${appointmentBookingModel.tomorrowLabel}"
         data-api-branch="${currentPage.path}"
            data-api-branch-suffix=""            
            data-api-service="${currentPage.path}"
            data-api-booking-slot="${currentPage.path}"
            data-api-booking-confirm="${currentPage.path}"
            data-serviceId="79">
            <input hidden name="selectedBranch" value="">
            <input hidden name="selectedService" value="">
        <div class="booking-container-wrapper">
            <sly data-sly-test="${appointmentBookingModel.enableTabs}">
                <div class="client booking-container hidden ${appointmentBookingModel.enableTabs && !wcmmode.edit ? 'active':'hidden'}">
                    <div class="type">
                        <p>${appointmentBookingModel.identifierLabel}</p>
                        <div class="client-list">
                            <div class="item">
                                <span class="personal">${appointmentBookingModel.personalLabel}</span>
                                <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-chevron-right.svg">
                            </div>
                            <div class="item">
                                <span class="bussiness">${appointmentBookingModel.businessLabel}</span>
                                <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-chevron-right.svg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service booking-container hidden">
                    <div class="type">
                        <p>${appointmentBookingModel.actionLabel}</p>
                        <div class="service-list">
                            <div class="item">
                                <span class=""></span>
                                <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-chevron-right.svg"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="branch booking-container hidden">
                    <div class="name">
                        <p>${appointmentBookingModel.branchLabel}</p>
                        <div class="search-filter">
                            <div class="city filter">
                                <div class="option">
                                    <div class="dropdown-text">
                                        <span class="dropdown-label">${appointmentBookingModel.cityLabel}</span>
                                        <span class="dropdown-body"></span>
                                    </div>
                                    <img alt="arrow down"
                                         src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/arrow-icon-down-red.svg">
                                </div>
                                <div class="select-options">
                                    <ul>
                                    </ul>
                                </div>
                            </div>
                            <div class="district filter">
                                <div class="option">
                                    <div class="dropdown-text">
                                        <span class="dropdown-label">${appointmentBookingModel.districtLabel}</span>
                                        <span class="dropdown-body"></span>
                                    </div>
                                    <img alt="arrow down"
                                         src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/arrow-icon-down-red.svg">
                                </div>
                                <div class="select-options">
                                    <ul>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="address">
                        <p>${appointmentBookingModel.branchListLabel}</p>
                        <div class="address-list"></div>
                    </div>
                </div>
            </sly>
            <sly data-sly-test="${!wcmmode.edit}">
            <div class="schedule booking-container ${!appointmentBookingModel.enableTabs && !wcmmode.edit ? 'active':'hidden'}">
                <div class="date">
                    <div class="today"></div>
                    <div class="tomorrow"></div>
                </div>
                <div class="time">
                    <p>${appointmentBookingModel.timeSlotLabel}</p>
                    <div class="time-list"></div>
                </div>
            </div>
            </sly>
            <form class="form booking-container ${wcmmode.edit ? 'active':'hidden'}">
            	<sly data-sly-test="${!wcmmode.edit}">
                <h3>${appointmentBookingModel.title}</h3>
                <div class="input-form">
                    <div class="input taxt-code">
                        <label for="name">${appointmentBookingModel.accTaxLabel}<span>*</span></label><br/>
                        <input autocomplete="off" id="taxCode" name="taxCode"
                               placeholder="${appointmentBookingModel.accTaxPlaceHolder}"
                               type="text"/><br/>
                        <p class="form-error-message" id="taxCode-error">${appointmentBookingModel.accTaxRequired}</p>
                    </div>
                    <div class="input">
                        <label for="name">${appointmentBookingModel.nameLabel}</label><br/>
                        <input autocomplete="off" id="name" name="name"
                               placeholder="${appointmentBookingModel.namePlaceHolder}"
                               type="text"/><br/>
                    </div>
                    <div class="input">
                        <label for="email">${appointmentBookingModel.emailLabel}<span>*</span></label
                        ><br/>
                        <input autocomplete="off" id="emailAddress" name="emailAddress"
                               placeholder="${appointmentBookingModel.emailPlaceHolder}"
                               type="text"/><br/>
                        <p class="form-error-message" id="emailAddress-error-required">
                            ${appointmentBookingModel.emailRequired}</p>
                        <p class="form-error-message" id="emailAddress-error-invalid">
                            ${appointmentBookingModel.emailInvalid}</p>
                    </div>
                    <div class="input">
                        <label for="phone">${appointmentBookingModel.phoneLabel}<span>*</span></label
                        ><br/>
                        <input autocomplete="off" id="phone" maxlength="10" name="phone"
                               placeholder="${appointmentBookingModel.phonePlaceHolder}"
                               type="text"/><br/>
                        <p class="form-error-message" id="phone-error">${appointmentBookingModel.phoneRequired}</p>
                        <p class="form-error-message" id="phone-error-invalid" style="display: none;">${appointmentBookingModel.phoneInvalid}</p>
                    </div>
                </div>
                </sly>
                <sly data-sly-test="${appointmentBookingModel.enableRecaptcha}">
                    <div class="captcha">
                        <sly data-sly-resource="${'recaptcha' @ resourceType='techcombank/components/form/recaptcha', decorationTagName='div'}"></sly>
                    </div>
                </sly>
                <sly data-sly-test="${!wcmmode.edit}">
                <input class="btn-submit" type="submit"
                       value="${appointmentBookingModel.ctaLabel}"/>
                       <!--book a visit analytics : start -->
                <input type="hidden" id="book-visit-analytics"
                data-tracking-click-event="bookVisit"
                data-tracking-form-info-value="{'hashedEmail': 'emailID'}"
                data-tracking-form-info-key="formInfo"
                data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': 'Other'}}"
                />
                <!--book a visit analytics : end -->
                </sly>
            </form>
            <div class="confirm-appointment hidden">
                <div class="confirm-content-wrapper">
                    <div class="comfirm-img-wrapper">
                     <span>
                        <picture>
                                 <source media="(max-width: 360px)"
                                         srcset="${appointmentBookingModel.confirmationIconMobileImagePath}"/>
                                 <source media="(max-width: 576px)"
                                         srcset="${appointmentBookingModel.confirmationIconMobileImagePath}"/>
                                 <source media="(min-width: 1080px)"
                                         srcset="${appointmentBookingModel.confirmationIconWebImagePath}"/>
                                 <source media="(min-width: 1200px)"
                                         srcset="${appointmentBookingModel.confirmationIconWebImagePath}"/>
                                 <img alt="${appointmentBookingModel.confirmationIconAlt}"
                                      src="${appointmentBookingModel.confirmationIconWebImagePath}">
                              </picture>
                        <noscript></noscript>
                     </span>
                    </div>
                    <h6 class="confirm-label">${appointmentBookingModel.confirmationMessage}</h6>
                    <h6 class="confirm-label date-appointment">${appointmentBookingModel.bookingMessage}</h6>
                    <h6 class="confirm-label ticket-number">
                        ${appointmentBookingModel.ticketNumberLabel}</h6>
                    <h4 class="confirm-ticket-number"></h4>
                    <p class="confirm-note">${appointmentBookingModel.ticketNotes}</p>
                </div>
            </div>
            <div class="loading">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="loading_backdrop"></div>
        </div>
    </div>
</sly>
