<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2017 Adobe
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<template data-sly-template.item="${@ item='The navigation item'}"
          data-sly-use.itemContentTemplate="itemContent.html">
    <sly data-sly-list.d="${resource.parent.children}">
        <sly data-sly-test="${d.name=='menuItems'}" data-sly-list.childItem="${d.children}">
            <sly data-sly-set.itemToMap="navigation${childItemList.index}"/>
            <sly data-sly-test="${childItem.menuItemType=='subnav' && itemToMap==resource.name}">
                <sly data-sly-call="${itemContentTemplate.itemContent @ item = item, isParent = true, authoredName = childItem.pageTitle}"></sly>
            </sly>
        </sly>
    </sly>
    <sly data-sly-test="${item.children.size > 0}">
        <div class="floyout-submenu">
            <ul class="cmp-navigation__group">
                <sly data-sly-list.subItems="${item.children}">
                    <li class="cmp-navigation__item cmp-navigation__item--level-${subItems.level}"
                        data-cmp-data-layer="${subItems.data.json}">

                        <sly data-sly-call="${itemContentTemplate.itemContent @ item = subItems}"></sly>

                        <sly data-sly-test="${subItems.children.size > 0}">
                            <ul class="cmp-navigation__group child__menu">
                                <sly data-sly-list.childItems="${subItems.children}">
                                    <li class="cmp-navigation__item cmp-navigation__item--level-${childItems.level}"
                                        data-cmp-data-layer="${childItems.data.json}">
                                        <sly data-sly-call="${itemContentTemplate.itemContent @ item = childItems}"></sly>
                                    </li>
                                </sly>
                            </ul>
                        </sly>

                    </li>
                </sly>
            </ul>
            <sly data-sly-resource="${'top-nav-xf' @ resourceType='/libs/cq/experience-fragments/editor/components/experiencefragment'}"></sly>

        </div>
    </sly>
</template>