<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.model="com.techcombank.core.models.CardListingResultModel"/>
<section class="container section__margin-medium">
    <div class="credit-card-comparison-result"
         data-cfPath="${model.cardCFRootPath @context='html'}"
         data-addCardUrl="${model.listingPage @context='html'}"
         data-forLabel='${model.forLabel @context="html"}'
         data-offersLabel='${model.offersLabel @context="html"}'
         data-utilitiesLabel='${model.utilitiesLabel @context="html"}'
         data-conditionsLabel='${model.conditionsLabel @context="html"}'
         data-ratesLabel='${model.ratesLabel @context="html"}'
         data-outstandingLabel='${model.outstandingLabel @context="html"}'
         data-cardOffersLabel='${model.cardOffersLabel @context="html"}'
         data-feesLabel='${model.feesLabel @context="html"}'
         data-nudgeoptions='${model.nudgeTags @context="html"}'
         data-applynowLink = '${model.regCtaMobile}'
         data-component-name="${component.title}">
        <div class="content-wrapper">
            <div class="compare-product">
                <div class="compare-product__container">
                </div>
            </div>
        </div>
        <div class="popup">
            <div class="popup-content">
                <img alt=""
                     class="close"
                     src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/icon_close_red.svg">
                <div class="popup-register_image">
                    <picture>
                        <source media="(max-width: 360px)" srcset="${model.regImgMobile}" />
                        <source media="(max-width: 576px)" srcset="${model.regImgMobile}" />
                        <source media="(min-width: 1080px)" srcset="${model.regImg}" />
                        <source media="(min-width: 1200px)" srcset="${model.regImg}" />
                        <img  alt="${model.imageRegAlt}"
                              data-nimg="responsive"
                              sizes="100vw"
                              decoding="async" src="${model.regImg}"/>
                    </picture>
                </div>
                <div class="popup-register_content">
                    <div class="popup-register_contentTop">
                        <h4 class="popup-register_title">${model.regTitle}</h4>
                        <div class="popup-register_desc">
                            <div class="popup-register_text">
                                <p>${model.regSubTitle}</p>
                            </div>
                        </div>
                        <div class="popup-register_steps">
                            <sly data-sly-list="${model.steps}">
                                <div class="popup-register_item popup-register_step">
                                    <h6><span>${itemList.count}.</span>${item.stepTitle}</h6>
                                    <div class="popup-register_titleDescOuter">
                                        <div class="popup-register_titleDesc">
                                            <picture>
                                                <source media="(max-width: 360px)" srcset="${item.stepImgMobile}"/>
                                                <source media="(max-width: 576px)" srcset="${item.stepImgMobile}"/>
                                                <source media="(min-width: 1080px)" srcset="${item.stepImg}" />
                                                <source media="(min-width: 1200px)" srcset="${item.stepImg}" />
                                                <img   alt="${item.imageStpAlt}"
                                                       data-nimg="intrinsic"
                                                       decoding="async" src="${item.stepImg}"/>
                                            </picture>
                                        </div>
                                    </div>
                                </div>
                            </sly>
                        </div>
                    </div>
                    <div class="popup-register_contentBottom">
                        <p class="popup-register_title">${model.bottomText}</p>
                        <div class="popup-register_linkGroup">
                            <div class="popup-register_linkItem">
                                <a href="${model.bottomLink}" target="${model.ctaBtmTarget}" rel="${model
                                        .ctaBtmFollow ? 'noopener noreferrer' :''}">
                                    <span class="link-text">${model.bottomLinkLabel}</span>
                                    <img alt=""
                                         src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/red-arrow-icon.svg?w=1920&q=75">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
