.coral3-Icon--coreColorStyle:before{
    content: "C₁";
	font-weight: 600;
  }

.coral3-Icon--boostColorStyle:before{
    content: "C₂";
	font-weight: 600;
  }

.coral3-Icon--genesisColorStyle:before{
    content: "C₂";
	font-weight: 600;
  }
