<section id="content">
   <div class="container" id="root" rootPath="${properties.rootPath}">
      <h2>${properties.title}</h2>
      <div  id="showMore" fde="${currentnode.path}.guides.json" class="row guide-listing">
      </div>
   </div>
   <div  class="row text-center">
      <a id="btn" class="btn btn-info">${"showmore" @ i18n, context='html'}</a>
   </div>
</section>