<template data-sly-template.autoloan="${@ calculationType,index,calculator}">
    <div class="panel-info ${index == 0 ? 'active-panel' : ''}" data-id="${index}" style="${index == 0 ? '' : 'display: none;' @context = 'styleString'}">
     <input type="hidden" class="calulator-analytics" data-tracking-click-event="calculator" data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': 'other'}}"
     data-tracking-click-info-value="{'calculatorName':'Calculate savings interest rate',
     'calculatorFields': '${calculator.valueLabelText} | ${calculator.loanAmountLabelText} | ${calculator.loanTermLabelText} | ${calculator.interestRateLabelText} |  ${calculator.disbursementDateLabelText}'}"
     />
        <span>
            <picture data-sly-test="${calculationType.carBg}">
                <source media="(max-width: 360px)" srcset="${calculationType.carBgMobile}" />
                <source media="(max-width: 576px)" srcset="${calculationType.carBgMobile}" />
                <source media="(min-width: 1080px)" srcset="${calculationType.carBg}" />
                <source media="(min-width: 1200px)" srcset="${calculationType.carBg}" />
                <img
                    decoding="async"
                    data-nimg="fixed"
                    sizes="100vw"
                    decoding="async"
                    data-nimg="fill"
                    alt=""
                    class="InsuranceGainPanel_background__v_Ipd"
                    sizes="100vw"
                    src="${calculationType.carBg}"
                    alt="${calculationType.carIconAltText}"
                />
            </picture>
        </span>
        <div class="panel-info__content">
            <div class="panel-info__content-text">
                <div class="info-content-text__icon img-medium">
                    <span>
                        <picture data-sly-test="${calculationType.carCardIcon}">
                            <source media="(max-width: 360px)" srcset="${calculationType.carCardIconMobile}" />
                            <source media="(max-width: 576px)" srcset="${calculationType.carCardIconMobile}" />
                            <source media="(min-width: 1080px)" srcset="${calculationType.carCardIcon}" />
                            <source media="(min-width: 1200px)" srcset="${calculationType.carCardIcon}" />
                            <img decoding="async" data-nimg="fixed" decoding="async" data-nimg="fill" src="${calculationType.carCardIcon}" alt="${calculationType.carIconAltText}" />
                        </picture>
                    </span>
                </div>
            </div>
            <div class="panel-info__content-text loan-info">
                <div class="info-content-text__label">
                    <div class="dark-gray">${calculationType.carMonPrincipalLabel}</div>
                    <h3 id="max-value" class="principal-money">0 ${calculationType.carCurrencyText}</h3>
                </div>
                <div class="info-content-text__label">
                    <div class="dark-gray">
                        ${calculationType.carMonIntRateLabel}
                    </div>
                    <h3 id="min-value" class="monthly-interest">0 ${calculationType.carCurrencyText}</h3>
                </div>
            </div>
            <div class="panel-info__content-text">
                <div class="info-content-text__label">
                    <div class="info-title light-gray">
                        ${calculationType.carMonInstallmentLabel}
                    </div>
                    <h3 id="total-value" class="total-pay">0 ${calculationType.carCurrencyText}</h3>
                </div>
            </div>
            <div class="panel-info__content-button">
                <a href="#" class="content-button__link loan-calc">
                    ${calculationType.carLinkText}
                    <div class="content-button__icon-arrow">
                        <p class="currency__place-holder loan-realestate__icon">
                            <img class="material-symbols-outlined" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/white-arrow-icon.svg" />
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</template>
