<template data-sly-template.decreasingbalancesheet="${@ calculationType,index,calculator}">
    <div class="panel-info ${index == 0 ? 'active-panel' : ''}" data-id="${index}" style="${index == 0 ? '' : 'display: none;' @context = 'styleString'}">
    <input type="hidden" class="calulator-analytics" data-tracking-click-event="calculator" data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': 'other'}}"
     data-tracking-click-info-value="{'calculatorName':'Decreasing balance sheet',
     'calculatorFields': '${calculator.valueLabelText} | ${calculator.loanAmountLabelText} | ${calculator.loanTermLabelText} | ${calculator.interestRateLabelText} |  ${calculator.disbursementDateLabelText}'}"
     />
        <span>
            <picture data-sly-test="${calculationType.decreasingBg}">
                <source media="(max-width: 360px)" srcset="${calculationType.decreasingBgMobile}" />
                <source media="(max-width: 576px)" srcset="${calculationType.decreasingBgMobile}" />
                <source media="(min-width: 1080px)" srcset="${calculationType.decreasingBg}" />
                <source media="(min-width: 1200px)" srcset="${calculationType.decreasingBg}" />
                <img decoding="async" data-nimg="fill" class="InsuranceGainPanel_background__v_Ipd" sizes="100vw" src="${calculationType.decreasingBg}" alt="${calculationType.decreasingImgAltText}" />
            </picture>
        </span>
        <div class="panel-info__content">
            <div class="panel-info__content-text">
                <div class="info-content-text__icon">
                    <span>
                        <picture data-sly-test="${calculationType.decreasingCardIcon}">
                            <source media="(max-width: 360px)" srcset="${calculationType.decreasingCardIconMobile}" />
                            <source media="(max-width: 576px)" srcset="${calculationType.decreasingCardIconMobile}" />
                            <source media="(min-width: 1080px)" srcset="${calculationType.decreasingCardIcon}" />
                            <source media="(min-width: 1200px)" srcset="${calculationType.decreasingCardIcon}" />
                            <img decoding="async" data-nimg="fixed" decoding="async" data-nimg="fill" src="${calculationType.decreasingCardIcon}" alt="${calculationType.decreasingImgAltText}" />
                        </picture>
                    </span>
                </div>
            </div>
            <div class="panel-info__content-text">
                <div class="info-content-text__label">
                    <div class="info-title light-gray">
                        ${calculationType.decreasingMonthlyLabelText}
                    </div>
                </div>
            </div>
            <div class="panel-info__content-text payment-detail">
                <div class="info-content-text__label">
                    <div class="dark-gray">${calculationType.decreasingFromLabelText}</div>
                    <h3 id="max-value" class="monthly-pay">0 ${calculationType.decreasingCurrencyText}</h3>
                </div>
                <div class="info-content-text__label">
                    <div class="dark-gray">${calculationType.decreasingToLabelText}</div>
                    <h3 id="min-value" class="monthly-pay to">0 ${calculationType.decreasingCurrencyText}</h3>
                </div>
            </div>
            <div class="panel-info__content-text">
                <div class="info-content-text__label">
                    <div class="info-title light-gray">${calculationType.decreasingTotalIntLabel}</div>
                    <h3 id="total-value" class="total-pay">0 ${calculationType.decreasingCurrencyText}</h3>
                </div>
            </div>
            <div class="panel-info__content-button">
                <a href="#" class="content-button__link loan-calc">
                    ${calculationType.decreasingLinkTextLabel}
                </a>
            </div>
        </div>
    </div>
</template>
