<template data-sly-template.fixedmonthlypayments="${@ calculationType,index,calculator}">
    <div class="panel-info ${index == 0 ? 'active-panel' : ''}" data-id="${index}" style="${index == 0 ? '' : 'display: none;' @context = 'styleString'}">
    <input type="hidden" class="calulator-analytics" data-tracking-click-event="calculator" data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': 'other'}}"
     data-tracking-click-info-value="{'calculatorName':'Table of fixed monthly payments',
     'calculatorFields': '${calculator.valueLabelText} | ${calculator.loanAmountLabelText} | ${calculator.loanTermLabelText} | ${calculator.interestRateLabelText} |  ${calculator.disbursementDateLabelText}'}"
     />
        <span>
            <picture data-sly-test="${calculationType.fixedBg}">
                <source media="(max-width: 360px)" srcset="${calculationType.fixedBgMobile}" />
                <source media="(max-width: 576px)" srcset="${calculationType.fixedBgMobile}" />
                <source media="(min-width: 1080px)" srcset="${calculationType.fixedBg}" />
                <source media="(min-width: 1200px)" srcset="${calculationType.fixedBg}" />
                <img decoding="async" data-nimg="fixed" sizes="100vw" src="${calculationType.fixedBg}" alt="${calculationType.fixedImageAltText}" />
            </picture>
        </span>
        <div class="panel-info__content">
            <div class="panel-info__content-text">
                <div class="info-content-text__icon loan-realestate__icon">
                    <span>
                        <picture data-sly-test="${calculationType.fixedCardIcon}">
                            <source media="(max-width: 360px)" srcset="${calculationType.fixedCardIconMobile}" />
                            <source media="(max-width: 576px)" srcset="${calculationType.fixedCardIconMobile}" />
                            <source media="(min-width: 1080px)" srcset="${calculationType.fixedCardIcon}" />
                            <source media="(min-width: 1200px)" srcset="${calculationType.fixedCardIcon}" />
                            <img decoding="async" data-nimg="fixed" decoding="async" data-nimg="fill" src="${calculationType.fixedCardIcon}" alt="${calculationType.fixedImageAltText}" />
                        </picture>
                    </span>
                </div>
            </div>
            <div class="panel-info__content-text">
                <div class="info-content-text__label">
                    <div class="info-title light-gray">
                        ${calculationType.fixedAmountLabelText}
                    </div>
                    <h3 id="max-value" class="monthly-pay">0 ${calculationType.fixedCurrencyText}</h3>
                </div>
            </div>
            <div class="panel-info__content-text">
                <div class="info-content-text__label">
                    <div class="info-title light-gray">
                        ${calculationType.fixedTotalIntLabel}
                    </div>
                    <h3 id="total-value" class="total-pay">0 ${calculationType.fixedCurrencyText}</h3>
                </div>
            </div>
        </div>
    </div>
</template>
