<template data-sly-template.leftpanel="${@ calculator}">
    <div class="panel-inputs">
        <div class="input-items">
            <div class="item__label">
                <div class="label__text" title="${calculator.valueLabelToolTip}">
                    ${calculator.valueLabelText}
                    <div class="icon-info">
                        <span data-sly-test="${calculator.valueLabelToolTip}" title="${calculator.valueLabelToolTip}">
                            <picture data-sly-test="${calculator.tooltipIcon}">
                                <source media="(max-width: 360px)" srcset="${calculator.tooltipIconMobile}" />
                                <source media="(max-width: 576px)" srcset="${calculator.tooltipIconMobile}" />
                                <source media="(min-width: 1080px)" srcset="${calculator.tooltipIcon}" />
                                <source media="(min-width: 1200px)" srcset="${calculator.tooltipIcon}" />
                                <img src="${calculator.tooltipIcon}" alt="${calculator.tooltipAlt}" />
                            </picture>
                        </span>
                        <div data-sly-test="${calculator.valueLabelToolTip}" class="tooltiptext">${calculator.valueLabelToolTip}</div>
                    </div>
                </div>
            </div>
            <div class="item__input-fields">
                <div class="input-field__currency-field" inputmode="numeric">
                    <input aria-invalid="false" type="text" maxlength="255" title="" id="bds_value" name="totalPrice" class="date-time-wrapper__input money__input-field" value="" />
                    <div class="date-time-wrapper__input-extra">
                        <p class="currency__place-holder">${calculator.valueLabelInput}</p>
                    </div>
                </div>
            </div>
            <div class="item__label">
                <div class="label__text" title="${calculator.loanAmountToolTip}">
                    ${calculator.loanAmountLabelText}
                    <div class="icon-info">
                        <span data-sly-test="${calculator.loanAmountToolTip}" title="${calculator.loanAmountToolTip}">
                            <picture data-sly-test="${calculator.tooltipIcon}">
                                <source media="(max-width: 360px)" srcset="${calculator.tooltipIconMobile}" />
                                <source media="(max-width: 576px)" srcset="${calculator.tooltipIconMobile}" />
                                <source media="(min-width: 1080px)" srcset="${calculator.tooltipIcon}" />
                                <source media="(min-width: 1200px)" srcset="${calculator.tooltipIcon}" />
                                <img src="${calculator.tooltipIcon}" alt="${calculator.tooltipAlt}" />
                            </picture>
                        </span>
                        <div data-sly-test="${calculator.loanAmountToolTip}" class="tooltiptext">${calculator.loanAmountToolTip}</div>
                    </div>
                </div>
                <div class="label__des loan-realestate__des card-article-content-des">
                    ${calculator.loanDescription}
                </div>
            </div>
            <div class="item__input-fields">
                <div class="tcb-input-range" data-value="${calculator.loanAmountSlider}" data-min="0" data-max="100" data-use-label="true" data-use-value-popover="true" data-unit="%" disabled></div>
                <div class="input-field__currency-field" inputmode="numeric">
                    <input aria-invalid="false" type="text" maxlength="255" id="bds_percent" name="selectedPrice" class="date-time-wrapper__input money__input-field" value="" />
                    <div class="date-time-wrapper__input-extra">
                        <p class="currency__place-holder">${calculator.loanAmountInput}</p>
                    </div>
                </div>
            </div>
            <div class="item__label">
                <div class="label__text" title="${calculator.loanTermToolTip}">
                    ${calculator.loanTermLabelText}
                    <div class="icon-info">
                        <span data-sly-test="${calculator.loanTermToolTip}" title="${calculator.loanTermToolTip}">
                            <picture data-sly-test="${calculator.tooltipIcon}">
                                <source media="(max-width: 360px)" srcset="${calculator.tooltipIconMobile}" />
                                <source media="(max-width: 576px)" srcset="${calculator.tooltipIconMobile}" />
                                <source media="(min-width: 1080px)" srcset="${calculator.tooltipIcon}" />
                                <source media="(min-width: 1200px)" srcset="${calculator.tooltipIcon}" />
                                <img src="${calculator.tooltipIcon}" alt="${calculator.tooltipAlt}" />
                            </picture>
                        </span>
                        <div data-sly-test="${calculator.loanTermToolTip}" class="tooltiptext">
                            ${calculator.loanTermToolTip}
                        </div>
                    </div>
                </div>
            </div>
            <div class="item__input-fields">
                <div class="input-field__currency-field" inputmode="numeric">
                    <input name="loanMonth" aria-invalid="false" type="text" maxlength="3" max="240" class="date-time-wrapper__input month__input-field" value="" />
                    <div class="date-time-wrapper__input-extra">
                        <p class="currency__place-holder">${calculator.loanTermInput}</p>
                    </div>
                </div>
            </div>
            <div class="item__label">
                <div class="label__text" title="${calculator.interestRateToolTip}">
                    ${calculator.interestRateLabelText}
                    <div class="icon-info">
                        <span data-sly-test="${calculator.interestRateToolTip}" title="${calculator.interestRateToolTip}">
                            <picture data-sly-test="${calculator.tooltipIcon}">
                                <source media="(max-width: 360px)" srcset="${calculator.tooltipIconMobile}" />
                                <source media="(max-width: 576px)" srcset="${calculator.tooltipIconMobile}" />
                                <source media="(min-width: 1080px)" srcset="${calculator.tooltipIcon}" />
                                <source media="(min-width: 1200px)" srcset="${calculator.tooltipIcon}" />
                                <img src="${calculator.tooltipIcon}" alt="${calculator.tooltipAlt}" />
                            </picture>
                        </span>
                        <div data-sly-test="${calculator.interestRateToolTip}" class="tooltiptext">
                            ${calculator.interestRateToolTip}
                        </div>
                    </div>
                </div>
            </div>
            <div class="item__input-fields">
                <div class="input-field__currency-field" inputmode="numeric">
                    <input aria-invalid="false" type="text" id="profit" name="interestRate" class="money__input-field percent__input-field" value="" />
                    <div class="date-time-wrapper__input-extra">
                        <p class="currency__place-holder">${calculator.interestRateInput}</p>
                    </div>
                </div>
            </div>
            <div class="item__label">
                <div class="label__text" title="${calculator.disbursementDateToolTip}">
                    ${calculator.disbursementDateLabelText}
                    <div class="icon-info">
                        <span data-sly-test="${calculator.disbursementDateToolTip}" title="${calculator.disbursementDateToolTip}">
                            <picture data-sly-test="${calculator.tooltipIcon}">
                                <source media="(max-width: 360px)" srcset="${calculator.tooltipIconMobile}" />
                                <source media="(max-width: 576px)" srcset="${calculator.tooltipIconMobile}" />
                                <source media="(min-width: 1080px)" srcset="${calculator.tooltipIcon}" />
                                <source media="(min-width: 1200px)" srcset="${calculator.tooltipIcon}" />
                                <img src="${calculator.tooltipIcon}" alt="${calculator.tooltipAlt}" />
                            </picture>
                        </span>
                        <div data-sly-test="${calculator.disbursementDateToolTip}" class="tooltiptext">
                            ${calculator.disbursementDateToolTip}
                        </div>
                    </div>
                </div>
            </div>
            <div class="item__input-fields">
                <div class="input-field__currency-field calendar_real_estate loan-realestate__input" inputmode="numeric" data-acceptAllDate="true">
                    <input name="startDate" aria-invalid="false" type="text" readonly class="date-time-wrapper__input calendar__input-field" value="${calculator.disbursementDatePicker}" />
                    <div class="date-time-wrapper__input-extra">
                        <p class="currency__place-holder loan-realestate__icon monthLabel" data-month-label="${calculator.decreasingMonthTextLoanTerm}">
                            <img class="material-symbols-outlined loan-realestate__icon" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/calendar.svg" />
                        </p>
                    </div>
                </div>
                <div class="calendar-popup">
                    <div class="month-line">
                        <span class="month-data">${calculator.months}</span>
                        <div>
                            <img class="prev-month nav-action" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/calendar-left-icon.svg" />
                            <img class="next-month nav-action" src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/calendar-right-icon.svg" />
                        </div>
                    </div>
                    <div class="date-line"></div>
                    <div class="day-tbl">
                        <div class="week line1"></div>
                        <div class="week line2"></div>
                        <div class="week line3"></div>
                        <div class="week line4"></div>
                        <div class="week line5"></div>
                        <div class="week line6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
