<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>

<sly data-sly-use.calculator="com.techcombank.core.models.LoanCalculator">
    <sly data-sly-test="${wcmmode.edit}">
        <p data-emptytext="${component.title}" class="cq-placeholder"></p>
    </sly>
    <div>
        <section class="container insurance-calculation decrease-interest-loan" data-total="${calculator.totalLabel}">
            <sly data-sly-test="${calculator.tabs != ''}">
                <div class="tcb-tabs" data-tabs="${calculator.tabs}"></div>
            </sly>
            <div class="insurance-calculation__container">
                <div class="insurance-calculation__content">
                    <div class="insurance-calculation__panel loan-realestate__panel" data-id="0">
                        <sly data-sly-use.template="leftpanel.html">
                            <sly data-sly-call="${template.leftpanel @ calculator=calculator}" />
                        </sly>
                        <!-- check the type -->
                        <sly data-sly-list.calculationType="${calculator.calculatorFields}">
                            <sly data-sly-test="${calculationType.calculationTypeDropdown == 'decreasingBalanceSheet'}">
                                <sly data-sly-use.template="decreasingbalancesheet.html">
                                    <sly data-sly-call="${template.decreasingbalancesheet @ calculationType=calculationType,index=calculationTypeList.index,calculator=calculator}" />
                                </sly>
                            </sly>

                            <sly data-sly-test="${calculationType.calculationTypeDropdown == 'tableOfFixedMonthlyPayments'}">
                                <sly data-sly-use.template="fixedmonthlypayments.html">
                                    <sly data-sly-call="${template.fixedmonthlypayments @ calculationType=calculationType,index=calculationTypeList.index,calculator=calculator}" />
                                </sly>
                            </sly>
                            <sly data-sly-test="${calculationType.calculationTypeDropdown == 'carLoan'}">
                                <sly data-sly-use.template="autoloan.html">
                                    <sly data-sly-call="${template.autoloan @ calculationType=calculationType,index=calculationTypeList.index,calculator=calculator}" />
                                </sly>
                            </sly>
                        </sly>
                    </div>
                </div>
            </div>
            <div class="modal">
                <div class="modal-backdrop" aria-hidden="true"></div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="modal-title">${calculator.modalHeader}</span>
                            <span class="material-symbols-outlined close-modal">close</span>
                        </div>
                        <div class="modal-inner-content">
                            <div class="table-sum">
                                <table class="table-sum-content">
                                    <thead class="tbl-header">
                                        <th class="table-cell cell-header" role="columnheader" scope="row">
                                            <span><span>${calculator.serialNoLabel}</span></span>
                                        </th>
                                        <th class="table-cell cell-header" role="columnheader" scope="row">
                                            <span><span>${calculator.repaymentPeriodLabel}</span></span>
                                        </th>
                                        <th class="table-cell cell-header" role="columnheader" scope="row">
                                            <span><span>${calculator.remainingAmountLabel}</span></span>
                                        </th>
                                        <th class="table-cell cell-header" role="columnheader" scope="row">
                                            <span><span>${calculator.originalAmountLabel}</span></span>
                                        </th>
                                        <th class="table-cell cell-header" role="columnheader" scope="row">
                                            <span><span>${calculator.interestAmountLabel}</span></span>
                                        </th>
                                        <th class="table-cell cell-header" role="columnheader" scope="row">
                                            <span><span>${calculator.sumLabel}</span></span>
                                        </th>
                                    </thead>
                                    <tbody class="tbl-body"></tbody>
                                    <tbody class="footer-table">
                                        <tr class="footer-tbl">
                                            <td class="table-cell footer-cell">${calculator.totalLabel}</td>
                                            <td class="table-cell footer-cell" colspan="2"></td>
                                            <td class="table-cell footer-cell origin_debt"></td>
                                            <td class="table-cell footer-cell profit"></td>
                                            <td class="table-cell footer-cell total_origin_and_profit"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</sly>
