//== Base
//due to fixed position of header body content overlap with header
// html{
//     --top-spacing: 4rem;
// }
// body{
//     scroll-padding-top: var(--top-spacing);
//     margin: var(--top-spacing) auto;
// }

html,
body {
  margin: 0;
  font-size: $font-size;
  font-family: $font-family;
  line-height: $font-height;
  color: $color-foreground;
  background: $color-background;

  @media (prefers-color-scheme: dark) {
    color: $color-foreground-dark;
    background: $color-background-dark;
  }
}

a {
  color: var(--primary-color);
  font-weight: 800;
  text-decoration: none;
  position: relative;
  cursor: pointer;

  &:hover {
    color: var(--primary-color);
    &:after {
      background-color: var(--primary-color);
      width: 100%;
    }
  }
  &:after {
    background-color: var(--primary-color);
    content: "";
    position: absolute;
    transition: width 1s cubic-bezier(0, 0.48, 0.19, 1.01);
    height: 10%;
    bottom: 0;
    left: -1px;
    width: 0%;
  }

  @media (prefers-color-scheme: dark) {
    color: $color-link-dark;
  }
}

// //boost brand
// .day.boost {
//   .text{
//     a {
//       color: var(--secondary-color);
  
//       &:hover {
//         color: var(--secondary-color);
//         &:after {
//           background-color: var(--secondary-color);
//         }
//       }
//       &:after {
//         background-color: var(--secondary-color);
//       }
//     }
//   }
// }
button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

//global styling for chat icons selection
.asappChatSDKBadge{
  background-color: var(--primary-color) !important;

  &:hover{
    color: var(--primary-color) !important;
    background-color: var(--color-marshmallow) !important;

    &.icon{
      fill: var(--primary-color) !important;
    }
  }
  .asappChatSDKBadge:hover .icon{
    fill: var(--primary-color) !important;
  }
}

#asapp-chat-sdk-iframe.asappChatSDKIFrame_opened{
  z-index: 9999;
}

.experiencefragment{
  position: relative;
}

// generic classes to be used to display elements based on breakpoints: mobile, tablet and desktop
// for mobile
@media only screen and (min-width: 320px) {
    .mobile-visible {
      display: block;
    }

    .desktop-visible,
    .tablet-visible {
      display: none;
    }
}

// for tablet
@media only screen and (min-width: 768px) {
    .tablet-visible {
      display: block;
    }

    .desktop-visible,
    .mobile-visible {
      display: none;
    }
}

// for desktop
@media only screen and (min-width: 1025px) {
    .desktop-visible {
      display: block;
    }

    .tablet-visible,
    .mobile-visible {
      display: none;
    }
}