@import "fonts";

$font-boost: boostnext,
proximanova,
Gotham,
Montserrat,
Trebuchet,
sans-serif;

/* Boost */
$color-brand-boost-orange-1: #f36c21;
$color-brand-boost-orange-2: #f57e20;
$color-brand-boost-orange-3: #f7901e;
$color-brand-boost-dark-blue: #003462;
$color-brand-boost-mid-blue: #0165bc;
$color-brand-boost-accent-blue: #6dcbd7;
$color-brand-boost-accent-green: #d9e25a;
$color-brand-boost-spark: $color-spark;

/* Boost Drop-shadow */
$shadow-none: none;
$shadow-small: 0 0.125rem 0.375rem 0 rgba(0, 0, 0, 0.1);
$shadow-medium: 0 0.125rem 0.375rem -0.063rem rgba(0, 0, 0, 0.25),
0 0.5rem 1rem -0.063rem rgba(0, 0, 0, 0.25);
$shadow-large: 0 0.125rem 0.5rem -0.188rem rgba(0, 0, 0, 0.25),
0 1rem 2rem -0.188rem rgba(0, 0, 0, 0.25);

* {
  /*Boost Color*/
  --color-brand-orange1: #{$color-brand-boost-orange-1};
  --color-brand-orange2: #{$color-brand-boost-orange-2};
  --color-brand-orange3: #{$color-brand-boost-orange-3};
  --color-brand-dark-blue: #{$color-brand-boost-dark-blue};
  --color-brand-mid-blue: #{$color-brand-boost-mid-blue};
  --color-brand-accent-blue: #{$color-brand-boost-accent-blue};
  --color-brand-accent-green: #{$color-brand-boost-accent-green};

  --primary-100: #FCDFD0;
  --primary-200: #FABEA0;
  --primary-300: #F79E71;
  --primary-400: #F57D41;
  --primary-500: #F25D12;
  --primary-600: #C24A0E;
  --primary-700: #91380B;
  --primary-800: #612507;
  --primary-900: #201304;

  --secondary-100: #CCD7DF;
  --secondary-200: #99B0BF;
  --secondary-300: #6688A0;
  --secondary-400: #6688A0;
  --secondary-500: #003960;
  --secondary-600: #002E4D;
  --secondary-700: #00223A;
  --secondary-800: #001726;
  --secondary-900: #000B13;

  --tertiary-100: #FDE9D2;
  --tertiary-200: #FCD3A5;
  --tertiary-300: #FABC78;
  --tertiary-400: #F9A64B;
  --tertiary-500: #F7901E;
  --tertiary-600: #C67318;
  --tertiary-700: #945612;
  --tertiary-800: #633A0C;
  --tertiary-900: #311D06;

  --neutral-50: #F9F9F9;
  --neutral-100: #F3F3F4;
  --neutral-150: #EDEDEE;
  --neutral-200: #E7E7E9;
  --neutral-300: #DCDCDD;
  --neutral-400: #D0D0D2;
  --neutral-500: #C4C4C7;
  --neutral-600: #9D9D9F;
  --neutral-700: #767677;
  --neutral-800: #4E4E50;
  --neutral-850: #3B3B3C;
  --neutral-900: #272728;

  --success-100: #CCE7D9;
  --success-200: #99CFB2;
  --success-300: #66B78C;
  --success-400: #339F65;
  --success-500: #00873F;
  --success-600: #006C32;
  --success-700: #005126;
  --success-800: #003619;
  --success-900: #001B0D;

  --danger-100: #E9D0D3;
  --danger-200: #D4A2A6;
  --danger-300: #BE737A;
  --danger-400: #A9454D;
  --danger-500: #931621;
  --danger-600: #76121A;
  --danger-700: #580D14;
  --danger-800: #3B090D;
  --danger-900: #3B090D;

  --warning-100: #FBF1CC;
  --warning-200: #F7E299;
  --warning-300: #F2D466;
  --warning-400: #EEC533;
  --warning-500: #EAB700;
  --warning-600: #BB9200;
  --warning-700: #8C6E00;
  --warning-800: #5E4900;
  --warning-900: #2F2500;
}

@include interaction-color(".boost",
  $font-boost,
  $color-brand-boost-spark,
  $color-brand-boost-spark,
  $color-brand-boost-mid-blue);

.boost {
  --primary-color-day: #{$color-brand-boost-spark};
  --secondary-color-day: #{$color-brand-boost-mid-blue};
  --primary-color-night: #{$color-brand-boost-spark};
  --secondary-color-night: #{$color-brand-boost-spark};
  --font-primary: #{$font-boost};

  h1,
  h2,
  h3,
  h4,
  h5 body {
    --font-primary: #{$font-boost};
  }

  small {
    font-family: var(--font-primary);
  }

  &.day {
    --background-primary: var(--color-brand-white);

    .text {
      a {
        color: var(--secondary-color);

        &:hover {
          color: var(--secondary-color);

          &:after {
            background-color: var(--secondary-color);
          }
        }

        &:after {
          background-color: var(--secondary-color);
        }
      }
    }
  }

  &.night {
    --background-primary: $color-coal;
  }

  .boost-free {
    --font-primary: #{$font-boost} !important;
    font-size: 96px;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 116px;
  }

  .cmp-text__text-256 {
    @include t-256();
    --font-primary: #{$font-boost};
  }

  .cmp-text__text-192 {
    @include t-192();
    --font-primary: #{$font-boost};
  }

  .cmp-text__text-128 {
    @include t-128();
    --font-primary: #{$font-boost};
  }

  .cmp-text__text-96 {
    @include t-96();
    --font-primary: #{$font-boost};
  }

  .cmp-text__text-62 {
    @include t-62();
    --font-primary: #{$font-boost};
  }

  .cmp-text__text-52 {
    @include t-52();
    --font-primary: #{$font-boost};
  }

  .cmp-text__text-44 {
    @include t-44();
    --font-primary: #{$font-boost};
  }

  .cmp-text__text-36 {
    @include t-36();
    --font-primary: #{$font-boost};
  }

  .cmp-text__text-32 {
    @include t-32();
    --font-primary: #{$font-boost};
  }

  .cmp-text__text-28 {
    @include t-28();
    --font-primary: #{$font-boost};
  }

  .cmp-text__text-24 {
    @include t-24();
    --font-primary: #{$font-boost};
  }

  .cmp-text__text-20 {
    @include t-20();
    --font-primary: #{$font-boost};
  }

  .cmp-text__text-18 {
    --font-primary: #{$font-boost};
  }

  .cmp-text__text-16 {
    font-family: var(--font-primary);
  }

  .cmp-text__text-14 {
    font-family: var(--font-primary);
  }

  .cmp-text__text-12 {
    font-family: var(--font-primary);
  }
}

/** Start: container boost styles **/
.cmp-container__bg-boost-orange-1 {
  background-color: $color-brand-boost-orange-1;
}

.cmp-container__bg-boost-orange-2 {
  background-color: $color-brand-boost-orange-2;
}

.cmp-container__bg-boost-orange-3 {
  background-color: $color-brand-boost-orange-3;
}

.cmp-container__bg-boost-dark-blue {
  background-color: $color-brand-boost-dark-blue;
}

.cmp-container__bg-boost-mid-blue {
  background-color: $color-brand-boost-mid-blue;
}

.cmp-container__bg-boost-accent-blue {
  background-color: $color-brand-boost-accent-blue;
}

.cmp-container__bg-boost-accent-green {
  background-color: $color-brand-boost-accent-green;
}

.cmp-container {
  @include linear-gradient-background(boost,
    $color-brand-boost-orange-1,
    $color-brand-boost-orange-3);
}

// border colors (boost)
.container-border-orange1 {
  --container-border-color: var(--color-brand-orange1);
}

.container-border-orange2 {
  --container-border-color: var(--color-brand-orange2);
}

.container-border-orange3 {
  --container-border-color: var(--color-brand-orange3);
}

.container-border-dark-blue {
  --container-border-color: var(--color-brand-dark-blue);
}

.container-border-mid-blue {
  --container-border-color: var(--color-brand-mid-blue);
}

.container-border-accent-blue {
  --container-border-color: var(--color-brand-accent-blue);
}

.container-border-accent-green {
  --container-border-color: var(--color-brand-accent-green);
}

//drop-shadow styles//
.boost {
  .cmp-container__drop-shadow-none {
    box-shadow: none;
  }

  .cmp-container__drop-shadow-small {
    box-shadow: $shadow-small;
  }

  .cmp-container__drop-shadow-medium {
    box-shadow: $shadow-medium;
  }

  .cmp-container__drop-shadow-large {
    box-shadow: $shadow-large;
  }
}

/** End: container boost styles **/

/** Start: RTE/Text Component styles **/

$text_color01_high:#272728; //900
$text_color02_medium:#767677; //700
$text_color03_low:#D0D0D2; //400
$text_color04_brand_invert:$color-marshmallow; // white
$text_color05_brand_primary:#F25D12; //primary 500
$text_color05_brand_secondary:#003960; // sec 500

//@at not available in wireframe title components color
$text_color03_neutral100:#F3F3F4; //100
$text_color03_neutral200:#E7E7E9; //200
$text_color03_neutral300:#DCDCDD; //300
$text_color03_neutral800:#4E4E50; //800

.boost{ 
  .cmp-text__ne400{
    .cmp-text{
     color:$text_color03_low;
    }
  }

  .cmp-text__ne700 {
    .cmp-text {
      color: $text_color02_medium;
    }
  }
  .cmp-text__ne900{
    .cmp-text{
     color:$text_color01_high;
    }
  }
  .cmp-text__invert{
    .cmp-text{
     color:$text_color04_brand_invert;
    }
  }
}


// Color Override Options //
.cmp-text__boost-orange-1 {
  color: $color-brand-boost-orange-1;
}

.cmp-text__boost-orange-2 {
  color: $color-brand-boost-orange-2;
}

.cmp-text__boost-orange-3 {
  color: $color-brand-boost-orange-3;
}

.cmp-text__boost-dark-blue {
  color: $color-brand-boost-dark-blue;
}

.cmp-text__boost-mid-blue {
  color: $color-brand-boost-mid-blue;
}

.cmp-text__boost-accent-blue {
  color: $color-brand-boost-accent-blue;
}

.cmp-text__boost-accent-green {
  color: $color-brand-boost-accent-green;
}

.cmp-text__boost-secondary-day {
  color: var(--secondary-color-day);
}

.cmp-text__boost-secondary-night {
  color: var(--secondary-color-night);
}

//text Override Options//

.boost {
  .cmp-text__text-16 {
    font-family: var(--font-primary);
  }

  .cmp-text__text-14 {
    font-family: var(--font-primary);
  }

  .cmp-text__text-12 {
    font-family: var(--font-primary);
  }
}

.cmp-text__boost-orange-1 .cmp-text-circle-ghost {
  border-color: $color-brand-boost-orange-1;
  color: $color-brand-boost-orange-1;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: inset 0 0 calculateRem(10) 0 transparentize($color-brand-boost-orange-1, 0.25), 0 0 calculateRem(10) 0 transparentize($color-brand-boost-orange-1, 0.25);
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-brand-boost-orange-1;
  }
}

.cmp-text__boost-orange-2 .cmp-text-circle-ghost {
  border-color: $color-brand-boost-orange-2;
  color: $color-brand-boost-orange-2;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: inset 0 0 calculateRem(10) 0 transparentize($color-brand-boost-orange-2, 0.25), 0 0 calculateRem(10) 0 transparentize($color-brand-boost-orange-2, 0.25);
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-brand-boost-orange-2;
  }
}

.cmp-text__boost-orange-3 .cmp-text-circle-ghost {
  border-color: $color-brand-boost-orange-3;
  color: $color-brand-boost-orange-3;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: inset 0 0 calculateRem(10) 0 transparentize($color-brand-boost-orange-3, 0.25), 0 0 calculateRem(10) 0 transparentize($color-brand-boost-orange-3, 0.25);
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-brand-boost-orange-3;
  }
}

.cmp-text__boost-dark-blue .cmp-text-circle-ghost {
  border-color: $color-brand-boost-dark-blue;
  color: $color-brand-boost-dark-blue;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: inset 0 0 calculateRem(10) 0 transparentize($color-brand-boost-dark-blue, 0.25), 0 0 calculateRem(10) 0 transparentize($color-brand-boost-dark-blue, 0.25);
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-brand-boost-dark-blue;
  }
}

.cmp-text__boost-mid-blue .cmp-text-circle-ghost {
  border-color: $color-brand-boost-mid-blue;
  color: $color-brand-boost-mid-blue;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: inset 0 0 calculateRem(10) 0 transparentize($color-brand-boost-mid-blue, 0.25), 0 0 calculateRem(10) 0 transparentize($color-brand-boost-mid-blue, 0.25);
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-brand-boost-mid-blue;
  }
}

.cmp-text__boost-accent-blue .cmp-text-circle-ghost {
  border-color: $color-brand-boost-accent-blue;
  color: $color-brand-boost-accent-blue;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: inset 0 0 calculateRem(10) 0 transparentize($color-brand-boost-accent-blue, 0.25), 0 0 calculateRem(10) 0 transparentize($color-brand-boost-accent-blue, 0.25);
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-brand-boost-accent-blue;
  }
}

.cmp-text__boost-accent-green .cmp-text-circle-ghost {
  border-color: $color-brand-boost-accent-green;
  color: $color-brand-boost-accent-green;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: inset 0 0 calculateRem(10) 0 transparentize($color-brand-boost-accent-green, 0.25), 0 0 calculateRem(10) 0 transparentize($color-brand-boost-accent-green, 0.25);
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-brand-boost-accent-green;
  }
}

.cmp-text__boost-orange-1 .cmp-text-circle-filled,
.cmp-text__boost-orange-1 .cmp-text-circle-filled span {
  background-color: $color-brand-boost-orange-1;
  border-color: $color-brand-boost-orange-1;
  color: $color-marshmallow;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: 0 0 calculateRem(10) 0 $color-brand-boost-orange-1
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-brand-boost-orange-1;
  }
}

.cmp-text__boost-orange-2 .cmp-text-circle-filled,
.cmp-text__boost-orange-2 .cmp-text-circle-filled span {
  background-color: $color-brand-boost-orange-2;
  border-color: $color-brand-boost-orange-2;
  color: $color-marshmallow;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: 0 0 calculateRem(10) 0 $color-brand-boost-orange-2
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-brand-boost-orange-2;
  }
}

.cmp-text__boost-orange-3 .cmp-text-circle-filled,
.cmp-text__boost-orange-3 .cmp-text-circle-filled span {
  background-color: $color-brand-boost-orange-3;
  border-color: $color-brand-boost-orange-3;
  color: $color-marshmallow;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: 0 0 calculateRem(10) 0 $color-brand-boost-orange-3
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-brand-boost-orange-3;
  }
}

.cmp-text__boost-dark-blue .cmp-text-circle-filled,
.cmp-text__boost-dark-blue .cmp-text-circle-filled span {
  background-color: $color-brand-boost-dark-blue;
  border-color: $color-brand-boost-dark-blue;
  color: $color-marshmallow;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: 0 0 calculateRem(10) 0 $color-brand-boost-dark-blue
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-brand-boost-dark-blue;
  }
}

.cmp-text__boost-mid-blue .cmp-text-circle-filled,
.cmp-text__boost-mid-blue .cmp-text-circle-filled span {
  background-color: $color-brand-boost-mid-blue;
  border-color: $color-brand-boost-mid-blue;
  color: $color-marshmallow;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: 0 0 calculateRem(10) 0 $color-brand-boost-mid-blue
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-brand-boost-mid-blue;
  }
}

.cmp-text__boost-accent-blue .cmp-text-circle-filled,
.cmp-text__boost-accent-blue .cmp-text-circle-filled span {
  background-color: $color-brand-boost-accent-blue;
  border-color: $color-brand-boost-accent-blue;
  color: $color-marshmallow;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: 0 0 calculateRem(10) 0 $color-brand-boost-accent-blue
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-brand-boost-accent-blue;
  }
}

.cmp-text__boost-accent-green .cmp-text-circle-filled,
.cmp-text__boost-accent-green .cmp-text-circle-filled span {
  background-color: $color-brand-boost-accent-green;
  border-color: $color-brand-boost-accent-green;
  color: $color-marshmallow;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: 0 0 calculateRem(10) 0 $color-brand-boost-accent-green
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-brand-boost-accent-green;
  }
}

.day.boost {
  .text {
    a {
      &.cmp-text__coal {
        &:hover {
          color: $color-coal;

          &:after {
            background-color: $color-coal;
          }
        }

        &:after {
          background-color: $color-coal;
        }
      }

      &.cmp-text__charcoal {
        &:hover {
          color: $color-charcoal;

          &:after {
            background-color: $color-charcoal;
          }
        }

        &:after {
          background-color: $color-charcoal;
        }
      }

      &.cmp-text__cinder {
        &:hover {
          color: $color-cinder;

          &:after {
            background-color: $color-cinder;
          }
        }

        &:after {
          background-color: $color-cinder;
        }
      }

      &.cmp-text__ash {
        &:hover {
          color: $color-ash;

          &:after {
            background-color: $color-ash;
          }
        }

        &:after {
          background-color: $color-ash;
        }
      }

      &.cmp-text__smoke {
        &:hover {
          color: $color-smoke;

          &:after {
            background-color: $color-smoke;
          }
        }

        &:after {
          background-color: $color-smoke;
        }
      }

      &.cmp-text__marshmallow {
        &:hover {
          color: $color-marshmallow;

          &:after {
            background-color: $color-marshmallow;
          }
        }

        &:after {
          background-color: $color-marshmallow;
        }
      }

      // &.cmp-text__green {
      //   &:hover {
      //     color: $color-brand-genesis-green;

      //     &:after {
      //       background-color: $color-brand-genesis-green;
      //     }
      //   }

      //   &:after {
      //     background-color: $color-brand-genesis-green;
      //   }
      // }

      &.cmp-text__boost-orange-1 {
        &:hover {
          color: $color-brand-boost-orange-1;

          &:after {
            background-color: $color-brand-boost-orange-1;
          }
        }

        &:after {
          background-color: $color-brand-boost-orange-1;
        }
      }

      &.cmp-text__boost-orange-2 {
        &:hover {
          color: $color-brand-boost-orange-2;

          &:after {
            background-color: $color-brand-boost-orange-2;
          }
        }

        &:after {
          background-color: $color-brand-boost-orange-2;
        }
      }

      &.cmp-text__boost-orange-3 {
        &:hover {
          color: $color-brand-boost-orange-3;

          &:after {
            background-color: $color-brand-boost-orange-3;
          }
        }

        &:after {
          background-color: $color-brand-boost-orange-3;
        }
      }

      &.cmp-text__boost-dark-blue {
        &:hover {
          color: $color-brand-boost-dark-blue;

          &:after {
            background-color: $color-brand-boost-dark-blue;
          }
        }

        &:after {
          background-color: $color-brand-boost-dark-blue;
        }
      }

      &.cmp-text__boost-mid-blue {
        &:hover {
          color: $color-brand-boost-mid-blue;

          &:after {
            background-color: $color-brand-boost-mid-blue;
          }
        }

        &:after {
          background-color: $color-brand-boost-mid-blue;
        }
      }

      &.cmp-text__boost-accent-blue {
        &:hover {
          color: $color-brand-boost-accent-blue;

          &:after {
            background-color: $color-brand-boost-accent-blue;
          }
        }

        &:after {
          background-color: $color-brand-boost-accent-blue;
        }
      }

      &.cmp-text__boost-accent-green {
        &:hover {
          color: $color-brand-boost-accent-green;

          &:after {
            background-color: $color-brand-boost-accent-green;
          }
        }

        &:after {
          background-color: $color-brand-boost-accent-green;
        }
      }
    }
  }

  .cmp-text__weight-exbold {
    .cmp-text {
      p,
      small,
      body{
        font-weight: $font-weight-black;
      }
    }
  }
 
  .cmp-text__weight-bold {
    .cmp-text {
      p,
      small,
      body{
        font-weight: $font-weight-bold;
      }
    }
  }

  .cmp-text__weight-regular {
    .cmp-text {
      p,
      small,
      body{
        font-weight: $font-weight-regular;
      }
    }
  }

  .cmp-text__weight-light {
    .cmp-text {
      p,
      small,
      body{
        font-weight: $font-weight-light;
      }
    }
  }

  .cmp-text__left {
    .cmp-text {
      p,
      small,
      body{
        text-align: left;
      }
    }
  }

  .cmp-text__center {
    .cmp-text {
      p,
      small,
      body{
        text-align: center;
      }
    }
  }

  .cmp-text__right {
    .cmp-text {
      p,
      small,
      body{
        text-align: right;
      }
    }
  }
}

/** End: RTE/Text styles **/

/** Start: Button Component styles **/
.boost {
  .reducedheader .cmp-button .cmp-button__text {
    --font-primary: #{$font-boost};
  }
}

.day {
  .button {
    &.cmp-button__filled {
      &.cmp-button__boost>.cmp-button {
        @include button-filled-darken($color-spark, $color-marshmallow);
      }

      &.cmp-button__boost.cmp-button__smol>.cmp-button {
        box-shadow: 0 calculateRem(3) 0 0 lighten($color-spark, 15%);

        &:active {
          transform: translateY(0.1875rem);
        }
      }
    }

    &.cmp-button__ghost {
      &.cmp-button__boost>.cmp-button {
        @include button-ghost-night($color-transperent, $color-spark);
      }

      &.cmp-button__boost.cmp-button__smol>.cmp-button {
        border-width: calculateRem(2) calculateRem(2) calculateRem(5) calculateRem(2);

        &:hover {
          border-width: calculateRem(2) calculateRem(2) calculateRem(4) calculateRem(2);
        }

        &:active {
          transform: translateY(0.1875rem);
        }
      }
    }
  }
}

.night {
  .button {
    &.cmp-button__filled {
      &.cmp-button__boost>.cmp-button {
        @include button-filled-darken($color-spark, $color-coal);
      }

      &.cmp-button__boost.cmp-button__smol>.cmp-button {
        box-shadow: 0 calculateRem(3) 0 0 darken($color-spark, 15%);

        &:active {
          transform: translateY(0.1875rem);
        }
      }
    }

    &.cmp-button__ghost {
      &.cmp-button__boost {
        &.cmp-button__standard>.cmp-button {
          @include button-ghost-standard($color-transperent, $color-spark);
        }

        &.cmp-button__smol>.cmp-button {
          @include button-ghost-smol($color-transperent, $color-spark);
        }
      }
    }
  }
}

/** End: Button Component styles **/

/** Start: Form Text Field styles **/
.boost {
  .cmp-form {

    ::placeholder {
      font-family: var(--font-primary-proximanova);
      padding-left: calculateRem(4);
    }

    :-ms-input-placeholder {
      font-family: var(--font-primary-proximanova);
      padding-left: calculateRem(4);
    }

    ::-ms-input-placeholder {
      font-family: var(--font-primary-proximanova);
      padding-left: calculateRem(4);
    }

    .cmp-form-text label {
      font-family: var(--font-primary-proximanova);
    }

    .cmp-form-text .cmp-form-text__text,
    .cmp-form-text .cmp-form-text__textarea {
      &:hover {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        background-color: $color-light-grey-light;
      }

      &:focus {
        caret-color: pink;
        color: $color-coal-light;
        border: calculateRem(3) solid $color-spark;
        outline: none;
        background-color: $color-input-background;
      }

      &:active {
        border: calculateRem(2) solid $color-spark;
        background-color: $color-input-background;
      }

      &:disabled {
        cursor: not-allowed;
        pointer-events: none;
        border: calculateRem(2) solid #C4C4C7;
        background-color: $color-light-grey-light;
      }
    }

    .cmp-form-text__help-text {
      font-family: var(--font-primary-proximanova);
    }


    .cmp-form-text__danger {
      .cmp-form-text__text {
        border: calculateRem(2) solid $color-error;
      }

      .cmp-form-text__help-text {
        color: $color-error;
      }

      .cmp-form-img__right {
        svg path {
          fill: $color-error;
        }
      }
    }

    .cmp-form-text__success {
      .cmp-form-text__text {
        border: calculateRem(2) solid $color-succes-1;
      }

      .cmp-form-img__right {
        svg path {
          fill: $color-succes-1;
        }
      }
    }
  }
}

/** End: Form Text Field styles **/


/* START: Button Enhancement changes */

.boost {
  /* Button Variables Primary*/
  $primary-interactive-01: var(--primary-500); //enabled + focus
  $primary-hover: var(--primary-500); //primary hover
  $primary-active: var(--primary-500); //primary active
  $disabled-02: var(--primary-500); //disabled background
  $focus: var(--primary-500); //focus border
  $button-primary-default: var(--primary-500); //focus border
  $button-primary-disabled: var(--primary-500); //focus border
  $icon-03: var(); // all icons colors
  $icon-04: var(); //disabled icon

  /* Button Variables Secondary*/
  $secondary-interactive-01: var(--secondary-500); //enabled + focus
  $secondary-hover: var(--secondary-500); //secondary hover
  $secondary-active: var(--secondary-500); //primary active
  $ui-disabled: var(--primary-500); //disabled background
  $focus: var(--primary-500); //focus border
  $button-primary-default: var(--primary-500); //focus border
  $button-primary-disabled: var(--primary-500); //focus border
  $icon-03: var(); // all icons colors
  $icon-04: var(); //disabled icon

  /* Button Variables tertiary*/
  $tertiary-interactive-01: var(--tertiary-500); //enabled + focus
  $tertiary-hover: var(--tertiary-500); //tertiary hover
  $tertiary-active: var(--tertiary-500); //primary active
  $disabled-02: var(--primary-500); //disabled background
  $focus: var(--primary-500); //focus border
  $button-primary-default: var(--primary-500); //focus border
  $button-primary-disabled: var(--primary-500); //focus border
  $icon-03: var(); // all icons colors
  $icon-04: var(); //disabled icon

  .button.cmp-button__primary,
  .button.cmp-button__secondary,
  .button.cmp-button__tertiary,
  .button.cmp-button__ghost,
  .button.cmp-button__danger {
    .cmp-button {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      border-radius: calculateRem(8);
    }
  }

  .button.cmp-button__no-text {
    .cmp-button {
      padding: calculateRem(12) calculateRem(16);

      .cmp-button__left,
      .cmp-button__right {
        padding: 0 !important;
      }
    }
  }

  .button.cmp-button__primary {
    .cmp-button {
      background-color: $primary-interactive-01;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      border: calculateRem(1) solid rgba(0, 0, 0, 0);

      .cmp-button__left {
        padding-right: calculateRem(8);
      }

      .cmp-button__right {
        padding-left: calculateRem(8);
      }

      span svg {
        width: calculateRem(24);
        height: calculateRem(24);

        path {
          fill: $color-marshmallow;
        }
      }

      &:hover {
        background-color: #F79E71;
      }

      &:active {
        background-color: #91380B;
      }

      &:focus {
        background-color: $primary-interactive-01;
        border: calculateRem(3) solid $primary-interactive-01;
        height: calculateRem(54);
      }

      &:disabled {
        background-color: #DCDCDD;
        pointer-events: none;
        cursor: not-allowed;
      }
    }

    &.cmp-button__disabled {
      .cmp-button {
        background-color: #DCDCDD;
        pointer-events: none;
        cursor: not-allowed;

        .cmp-button__text {
          color: #D0D0D2;
        }

        span svg path {
          fill: #99999C;
        }
      }
    }
  }

  .button.cmp-button__secondary {
    .cmp-button {
      background-color: #003960;
      border: calculateRem(1) solid rgba(0, 0, 0, 0);

      .cmp-button__left {
        padding-right: calculateRem(8);
      }

      .cmp-button__right {
        padding-left: calculateRem(8);
      }

      span svg {
        width: calculateRem(24);
        height: calculateRem(24);

        path {
          fill: $color-marshmallow;
        }
      }

      &:hover {
        background-color: #6688A0;
      }

      &:active {
        background-color: #00223A;
      }

      &:focus {
        background-color: #003960;
        border: calculateRem(3) solid #F25D12;
        height: calculateRem(54);
      }

      &:disabled {
        background-color: #DBDBDD;
        pointer-events: none;
        cursor: not-allowed;
      }
    }

    &.cmp-button__disabled {
      .cmp-button {
        background-color: #DBDBDD;
        pointer-events: none;
        cursor: not-allowed;

        .cmp-button__text {
          color: #D0D0D2;
        }

        span svg path {
          fill: #99999C;
        }
      }
    }
  }


  .button.cmp-button__tertiary {
    .cmp-button {
      background-color: $color-marshmallow;
      border: calculateRem(1) solid #F25D12;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);

      .cmp-button__text {
        color: #F25D12;
        font-size: calculateRem(18);
        font-weight: 800;
        letter-spacing: calculateRem(0.21);
        line-height: calculateRem(24);
        text-align: center;
      }

      .cmp-button__left {
        padding-right: calculateRem(8);
      }

      .cmp-button__right {
        padding-left: calculateRem(8);
      }

      span svg {
        width: calculateRem(24);
        height: calculateRem(24);

        path {
          fill: #F25D12;
        }
      }

      &:hover {
        background-color: #FCDFD0;
      }

      &:active {
        background-color: #FABEA0;
      }

      &:focus {
        background-color: $color-marshmallow;
        border: calculateRem(2) solid #F25D12;
        height: calculateRem(54);
      }

      &:disabled {
        background-color: $color-marshmallow;
        border: calculateRem(1) solid #99999C;
        pointer-events: none;
        cursor: not-allowed;
      }
    }

    &.cmp-button__disabled {
      .cmp-button {
        background-color: $color-marshmallow;
        border: calculateRem(1) solid #99999C;
        pointer-events: none;
        cursor: not-allowed;

        .cmp-button__text {
          color: #D0D0D2;
        }

        span svg path {
          fill: #99999C;
        }
      }
    }
  }

  .button.cmp-button__ghost {

    .cmp-button {
      &:active {
        border: 1px solid rgba(0, 0, 0, 0) !important;
      }

      &:focus {
        border: 3px solid #F25D12 !important;
      }
    }

    &.cmp-button__disabled {
      .cmp-button {
        .cmp-button__text {
          color: #D0D0D2 !important;
        }

        span svg path {
          fill: #99999C;
        }
      }
    }
  }

  .button.cmp-button__danger {
    .cmp-button {
      background: #931621 !important;
      border: calculateRem(1) solid rgba(0, 0, 0, 0);
      border-radius: calculateRem(8) !important;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);

      .cmp-button__text {
        color: $color-marshmallow !important;
        font-size: calculateRem(18);
        font-weight: 800;
        letter-spacing: calculateRem(0.21);
        line-height: calculateRem(24);
        text-align: center;
      }

      .cmp-button__left {
        padding-right: calculateRem(8);
      }

      .cmp-button__right {
        padding-left: calculateRem(8);
      }

      span svg {
        width: calculateRem(24);
        height: calculateRem(24);

        path {
          fill: $color-marshmallow;
        }
      }

      &:hover {
        background: #BE737A !important;
        border: calculateRem(1) solid rgba(0, 0, 0, 0);
        border-radius: calculateRem(8);
      }

      &:active {
        background: #580D14 !important;
      }

      &:focus {
        background: #931621 !important;
        border: calculateRem(3) solid #F25D12;
        height: calculateRem(54);
      }

      &:disabled {
        background: #DBDBDD !important;
        border: calculateRem(1) solid rgba(0, 0, 0, 0);
        pointer-events: none;
        cursor: not-allowed;
      }
    }

    &.cmp-button__disabled {
      .cmp-button {
        background: #DBDBDD !important;
        border: calculateRem(1) solid rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        pointer-events: none;
        cursor: not-allowed;

        .cmp-button__text {
          color: #D0D0D2 !important;
        }

        span svg path {
          fill: #99999C;
        }
      }
    }
  }
}

.button.cmp-button__only-text {
  .cmp-button {
    &:focus {
      height: calculateRem(52) !important;
    }
  }
}

/* END: Button Enhancement changes */

/* START: Accordion Enhancement colors */

$field-01: #F9F9F9; //background enabled/focus
$field-02: #E7E7E9; //backgroung hover
$field-03: #F3F3F4; //background open field
$border-focus: #F25D12; //on focus
$color05-Brand-primary: #F25D12; //Bottom line

/* END: Accordion Enhancement colors */


// Font-size Define breadcum

$label-01_breadcum:0.75rem;
$inputenabel-01_breadcum:1rem;
$link_large_primary_breadcum:1.125rem;
$product_name_bradcum:1.25rem;
$product_value_primary_breadcum:1.75rem;