// Campfire

@import "fonts";

// Font Stack Variables
$font-primary: proximanova,
Gotham,
Montserrat,
Trebuchet,
sans-serif;
$font-primary-proximanova: proximanova,
Gotham,
Montserrat,
Trebuchet,
sans-serif;
// $font-boost: boostnext, proximanova, Gotham, Montserrat, Trebuchet, sans-serif;
// $font-genesis: "Azo Sans", proximanova, Gotham, Montserrat, Trebuchet, sans-serif;

$font-weight-thin: 100;
$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

// Breakpoints Variables

$breakpoint-xxs: 320;
$breakpoint-xs: 343;
$breakpoint-sm: 704;
$breakpoint-md: 896;
$breakpoint-lg: 1208;

//Color Variables

/* Add these color values to the code */

// $colors:
//   "brand-dish-red": #f01446,
//   "brand-dish-ember": #9d2235,
//   "brand-sling-blueberry": #001e60,
//   "brand-sling-cookie-monster": #10069f,
//   "brand-sling-rock-candy": #00a3e0,
//   "brand-sling-tangerine": #ff6a13,
//   "brand-sling-mac-and-cheese": #ffa300;

/* DISH */
$color-brand-dish-red: #f01446;
$color-brand-dish-ember: #9d2235;

/* Sling */
$color-brand-sling-blueberry: #001e60;
$color-brand-sling-cookie-monster: #10069f;
$color-brand-sling-rock-candy: #00a3e0;
$color-brand-sling-tangerine: #ff6a13;
$color-brand-sling-mac-and-cheese: #ffa300;

/* OnTech */
$color-brand-ontech: #0015ea;
$color-brand-ontech-river: #0092b8;
$color-brand-ontech-sky: #aed9e6;
$color-brand-ontech-sunset: #e8603a;
$color-brand-ontech-sunrise: #f7d0c4;

/* Neutral */
$color-midnight: #000010;
$color-coal: #171725;
$color-charcoal: #292938;
$color-cinder: #525261;
$color-ash: #c4c4ca;
$color-smoke: #f5f5f6;
$color-marshmallow: #ffffff;
$color-black: #000000;

/* Primary */
$color-blaze: #e41932;
$color-water-day: #384aff;
$color-water-night: #50f3f2;
$color-water-night-blue: #00e7ff;

/* Secondary */
$color-success-day: #00873f;
$color-alert-day: #eab700;
$color-error-day: #931621;
$color-info-day: #46237a;
$color-success-night: #9de7bf;
$color-alert-night: #ffe485;
$color-error-night: #f4b4b9;
$color-info-night: #c9b4e9;

/* Boost */
// $color-brand-boost-orange-1: #f36c21;
// $color-brand-boost-orange-2: #f57e20;
// $color-brand-boost-orange-3: #f7901e;
// $color-brand-boost-dark-blue: #003462;
// $color-brand-boost-mid-blue: #0165bc;
// $color-brand-boost-accent-blue: #6dcbd7;
// $color-brand-boost-accent-green: #d9e25a;
// $color-brand-boost-spark: #f25d12;

// /* genesis */
// $color-brand-genesis-green: #00A54F;
// $color-blue-for-member: #20B0FF;
// $color-blue-for-vip: #C472A1;
// $color-blue-for-influencer: #EF7173;
// $color-blue-for-founder: #C8F16E;
// $color-blue-for-meter: #9060A8;
// $color-brand-genesis-button-gradient1: #01A259;
// $color-brand-genesis-button-gradient2: #24DDAD;
// $color-brand-genesis-mineral-green: #23E9B4;
// $color-brand-genesis-black-russian: #181725;
// $color-link-default: #00A54F;
// $color-link-disabled: #979797;
// $color-link-hover: #01A254;
// $color-link-press: #036133;
//Color CSS Variables

/* Add these color values to the code */

* {
  --font-primary: #{$font-primary};
  --font-primary-proximanova: #{$font-primary-proximanova};
  --background-primary: #{$color-marshmallow};
  --color-brand-dish-red: #{$color-brand-dish-red};
  --color-brand-dish-ember: #{$color-brand-dish-ember};
  --color-brand-sling-blueberry: #{$color-brand-sling-blueberry};
  --color-brand-sling-cookie-monster: #{$color-brand-sling-cookie-monster};
  --color-brand-sling-rock-candy: #{$color-brand-sling-rock-candy};
  --color-brand-sling-tangerine: #{$color-brand-sling-tangerine};
  --color-brand-sling-mac-and-cheese: #{$color-brand-sling-mac-and-cheese};

  /* OnTech */
  --color-brand-ontech: #{$color-brand-ontech};
  --color-brand-ontech-river: #{$color-brand-ontech-river};
  --color-brand-ontech-sky: #{$color-brand-ontech-sky};
  --color-brand-ontech-sunset: #{$color-brand-ontech-sunset};
  --color-brand-ontech-sunrise: #{$color-brand-ontech-sunrise};

  /* Neutral */
  --color-midnight: #{$color-midnight};
  --color-coal: #{$color-coal};
  --color-charcoal: #{$color-charcoal};
  --color-cinder: #{$color-cinder};
  --color-ash: #{$color-ash};
  --color-smoke: #{$color-smoke};
  --color-marshmallow: #{$color-marshmallow};
  --color-brand-black: #{$color-black};
}

:root {
  --primary-color-day: #{$color-water-day};
  --secondary-color-day: #{$color-water-day};
  --primary-color-night: #{$color-water-night};
  --secondary-color-night: #{$color-water-night};
}

// .boost {
//   --primary-color-day: #{$color-brand-boost-spark};
//   --secondary-color-day: #{$color-brand-boost-mid-blue};
//   --primary-color-night: #{$color-brand-boost-spark};
//   --secondary-color-night: #{$color-brand-boost-spark};
//   --font-primary: #{$font-boost};
// }

// .genesis {
//   --primary-color-day: #{$color-brand-genesis-green};
//   --secondary-color-day: #{$color-brand-genesis-green};
//   --primary-color-night: #{$color-brand-genesis-green};
//   --secondary-color-night: #{$color-brand-genesis-green};
//   --font-primary: #{$font-genesis};
// }

//linear gradient
@mixin linear-gradient-background($selector, $color-1, $color-2) {
  &.bg-#{$selector}-gradient-0 {
    background-image: linear-gradient(0deg, $color-1, $color-2);
  }

  &.bg-#{$selector}-gradient-45 {
    background-image: linear-gradient(45deg, $color-1, $color-2);
  }

  &.bg-#{$selector}-gradient-90 {
    background-image: linear-gradient(90deg, $color-1, $color-2);
  }

  &.bg-#{$selector}-gradient-135 {
    background-image: linear-gradient(135deg, $color-1, $color-2);
  }

  &.bg-#{$selector}-gradient-180 {
    background-image: linear-gradient(180deg, $color-1, $color-2);
  }

  &.bg-#{$selector}-gradient-225 {
    background-image: linear-gradient(225deg, $color-1, $color-2);
  }

  &.bg-#{$selector}-gradient-270 {
    background-image: linear-gradient(270deg, $color-1, $color-2);
  }

  &.bg-#{$selector}-gradient-315 {
    background-image: linear-gradient(315deg, $color-1, $color-2);
  }
}

// Primary Interaction Colors

@mixin interaction-color($brand,
  $font,
  $primary-color-day,
  $primary-color-night,
  $secondary-color-day: $primary-color-day,
  $secondary-color-night: $primary-color-night) {
  #{$brand} {
    &.day {
      --primary-color: #{$primary-color-day};
      --primary-color-hover: #{darken($primary-color-day, 5%)};
      --primary-color-active: #{darken($primary-color-day, 15%)};
      --secondary-color: #{$secondary-color-day};
      --secondary-color-hover: #{darken($secondary-color-day, 5%)};
      --secondary-color-active: #{darken($secondary-color-day, 15%)};
      --font-primary: #{$font};
    }

    &.night {
      --primary-color: #{$primary-color-night};
      --primary-color-hover: #{darken($primary-color-night, 5%)};
      --primary-color-active: #{darken($primary-color-night, 15%)};
      --secondary-color: #{$secondary-color-night};
      --secondary-color-hover: #{darken($secondary-color-night, 5%)};
      --secondary-color-active: #{darken($secondary-color-night, 15%)};
    }
  }
}

@include interaction-color("*",
  $font-primary,
  $color-water-day,
  $color-water-night);

// @include interaction-color(".boost",
//   $font-boost,
//   $color-brand-boost-spark,
//   $color-brand-boost-spark,
//   $color-brand-boost-mid-blue);

// @include interaction-color(".genesis",
//   $font-genesis,
//   $color-brand-genesis-green,
//   $color-brand-genesis-green,
//   $color-brand-genesis-green);

@include interaction-color(".ontech",
  $font-primary,
  $color-brand-ontech,
  $color-brand-ontech-sky);

// Style Tokens

$shadow-low: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.22);
$shadow-high: 0 1.3125rem 3.25rem -0.625rem rgba(0, 0, 0, 0.16);

// Mixins

@function calculateRem($size) {
  $remSize: ($size)/16;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: ($size) + px;
  font-size: calculateRem($size);
}

@mixin lineHeightSize($size) {
  line-height: ($size) + px;
  line-height: calculateRem($size);
}

@mixin font($fontsize, $lineheight) {
  @include fontSize($fontsize);
  @include lineHeightSize($lineheight);
}

@mixin interval-delay($delay, $count, $duration, $interval) {
  @for $i from 1 through $count {
    &.num-#{$i} {
      transition: all ($duration * 1s) $transition-cb ($interval * $i * 1s) + $delay;
    }
  }
}

@mixin interval-delay-reverse($delay, $count, $duration, $interval) {
  @for $i from 1 through $count {
    &.num-#{$i} {
      transition: all ($duration * 1s) $transition-cb (($interval * abs($i - $count - 1) * 1s) + $delay);
    }
  }
}

//Super Scale

/* 256 font style */
@mixin t-256() {
  @include font(256, 240);
  letter-spacing: calculateRem(-4);
}

/* 192 font style */
@mixin t-192() {
  @include font(192, 178);
  letter-spacing: calculateRem(-3);
}

/* 128 font style */
@mixin t-128() {
  @include font(128, 122);
  letter-spacing: calculateRem(-2.5);
}

/* 96 font style */
@mixin t-96() {
  @include font(96, 80);
  letter-spacing: calculateRem(-2);
}

// Typographic Scale

/* 62 font style */

@mixin t-62() {
  @include font(62, 64);
  letter-spacing: -0.54px;
}

/* 52 font style */

@mixin t-52() {
  @include font(52, 56);
  letter-spacing: -0.45px;
}

/* 48 font style */

@mixin t-48() {
  @include font(48, 50);
  letter-spacing: -0.38px;
}

/* 44 font style */

@mixin t-44() {
  @include font(44, 50);
  letter-spacing: -0.38px;
}

/* 36 font style */

@mixin t-36() {
  @include font(36, 40);
  letter-spacing: -0.3px;
}

/* 32 font style */

@mixin t-32() {
  @include font(32, 36);
  letter-spacing: -0.2px;
}

/* 28 font style */

@mixin t-28() {
  @include font(28, 32);
  letter-spacing: -0.2px;
}

/* 24 font style */

@mixin t-24() {
  @include font(24, 28);
  letter-spacing: -0.1px;
}

/* 20 font style */

@mixin t-20() {
  @include font(20, 24);
}

/* 18 font style */

@mixin t-18() {
  @include font(18, 24);
}

/* 16 font style */

@mixin t-16() {
  @include font(16, 21);
}

/* 14 font style */

@mixin t-14() {
  @include font(14, 19);
}

/* 12 font style */

@mixin t-12() {
  @include font(12, 17);
}

/* 11 font style */

@mixin t-11() {
  @include font(11, 17);
}

/* 10 font style */

@mixin t-10() {
  @include font(10, 17);
}

//Motion Variables

$transition-1: all 1s cubic-bezier(0, 0.48, 0.19, 1.01);
$transition-2: all 2s cubic-bezier(0, 0.48, 0.19, 1.01);
$transition-cb: cubic-bezier(0, 0.48, 0.19, 1.01);

// Keyframe Mixin

@mixin keyframes-animation($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@mixin prefix-property($name, $value) {
  -webkit-#{$name}: $value;
  #{$name}: $value;
}

// Global Animations

@include keyframes-animation(focus-pulse) {
  0% {
    @include prefix-property(box-shadow,
      0 0 7px 0 transparentize($color-water-night, 0));
  }

  100% {
    @include prefix-property(box-shadow,
      0 0 7px 0 transparentize($color-water-night, 1));
  }
}

// Global Mixins

@mixin focus($border-radius) {
  &:focus {
    // Remove Browser Styling
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(0, 0, 0, 0);

    // End Remove Browser Styling
    &:before {
      display: block;
      content: "";
      position: absolute;
      top: -4px;
      right: -4px;
      bottom: -4px;
      left: -4px;
      border-radius: $border-radius + 4px;
      border: solid 2px $color-water-night;
      pointer-events: none;
      animation: 1s focus-pulse ease-in-out infinite alternate;
    }
  }
}

@mixin frost() {
  backdrop-filter: blur(7px) saturate(1);
  background-color: transparentize($color-coal, 0.5);
}

/** Global Styles **/
body {
  margin: 0;
  font-family: var(--font-primary);
  font-weight: $font-weight-medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  padding: 0;

  &.day {
    background-color: var(--background-primary);
    color: $color-coal;

    &.smoke {
      background-color: $color-smoke;
    }
  }

  &.night {
    color: $color-marshmallow;
    background-color: var(--background-primary);
  }
}

body>.root.container {
  overflow: hidden;
  @include t-18();

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
}

// Super Scale Classes

.t-256 {
  @include t-256();
  font-weight: $font-weight-extrabold;
}

.t-192 {
  @include t-192();
  font-weight: $font-weight-extrabold;
}

.t-128 {
  @include t-128();
  font-weight: $font-weight-extrabold;
}

.t-96 {
  @include t-96();
  font-weight: $font-weight-extrabold;
}

// Typographic Scale Classes

.t-62 {
  @include t-62();
  font-weight: $font-weight-extrabold;
}

.t-52 {
  @include t-52();
  font-weight: $font-weight-extrabold;
}

.t-44 {
  @include t-44();
  font-weight: $font-weight-extrabold;
}

.t-36 {
  @include t-36();
  font-weight: $font-weight-extrabold;
}

.t-32 {
  @include t-32();
  font-weight: $font-weight-extrabold;
}

.t-28 {
  @include t-28();
  font-weight: $font-weight-extrabold;
}

.t-24 {
  @include t-24();
  font-weight: $font-weight-extrabold;
}

.t-20 {
  @include t-20();
  font-weight: $font-weight-extrabold;
}

.t-18,
p {
  @include t-18();
  font-weight: $font-weight-medium;
}

.t-16 {
  @include t-16();
  font-weight: $font-weight-medium;
}

.t-14 {
  @include t-14();
  font-weight: $font-weight-medium;
}

.t-12 {
  @include t-12();
  font-weight: $font-weight-medium;
}

// Default H1-6 Styles

h1 {
  @include t-44();
  font-weight: $font-weight-extrabold;
}

h2 {
  @include t-36();
  font-weight: $font-weight-extrabold;
}

h3 {
  @include t-32();
  font-weight: $font-weight-extrabold;
}

h4 {
  @include t-28();
  font-weight: $font-weight-extrabold;
}

h5 {
  @include t-24();
  font-weight: $font-weight-extrabold;
}

h6 {
  @include t-20();
  font-weight: $font-weight-extrabold;
}

@media screen and (min-width: calculateRem($breakpoint-md)) {
  h1 {
    @include t-52();
  }

  h2 {
    @include t-44();
  }

  h3 {
    @include t-36();
  }

  h4 {
    @include t-32();
  }
}

p {
  @include t-18();
  font-weight: $font-weight-medium;
}

small {
  @include t-12();
  font-weight: $font-weight-medium;
}

strong,
b {
  font-weight: $font-weight-extrabold;
}

//boost
// .boost {

// h1,
// h2,
// h3,
// h4,
// h5 body {
//   --font-primary: #{$font-boost};
// }
// &.day {
//   --background-primary: var(--color-brand-white);
// }

// &.night {
//   --background-primary: $color-coal;
// }
// }

// .boost-free{
//   --font-primary: #{$font-boost} !important;
//   font-size: 96px;
//   font-weight: 900;
//   letter-spacing: 0;
//   line-height: 116px;
// }

//genesis
// .genesis {
// &.day {
//   --background-primary: var(--color-brand-white);
//   color: var(--color-brand-black);
// }

// &.night {
//   color: var(--color-brand-white);
//   --background-primary: var(--color-brand-black);
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// p,
// section,
// div,
// span,
// strong,
// article,
// small,
// body {
//   --font-primary: #{$font-genesis};
// }

// &.day{
//   h1,
//   h2,
//   h3,
//   h4,
//   h5,
//   p,
//   section,
//   div,
//   strong,
//   article,
//   small,
//   body{
//     color: var(--color-brand-black);
//   }
// }
// &.night{
//   h1,
//   h2,
//   h3,
//   h4,
//   h5,
//   p,
//   section,
//   div,
//   strong,
//   article,
//   small,
//   body{
//     color: var(--color-brand-white);
//   }
// }

// .t-20 {
//   @include t-20();
//   font-weight: $font-weight-medium;
// }

// .t-18-regular, p {
//   @include t-18();
//   font-weight: $font-weight-regular;
// }
// .t-18-medium{
//   @include t-18();
//   font-weight: $font-weight-medium;
// }
// .t-18-bold{
//   @include t-18();
//   font-weight: $font-weight-bold;
// }

// .t-16-regular {
//   @include t-16();
//   font-weight: $font-weight-regular;
// }

// .t-16-bold {
//   @include t-16();
//   font-weight: $font-weight-bold;
// }

// .t-16-medium {
//   @include t-16();
//   font-weight: $font-weight-medium;
// }

// .t-14-regular {
//   @include t-14();
//   font-weight: $font-weight-regular
// }

// .t-14-bold {
//   @include t-14();
//   font-weight: $font-weight-bold;
// }

// .t-14-medium {
//   @include t-14();
//   font-weight: $font-weight-medium;
// }

// .t-12-bold {
//   @include t-12();
//   font-weight: $font-weight-bold;
// }

// .t-12-regular {
//   @include t-12();
//   font-weight: $font-weight-regular;
// }

// .t-12-medium {
//   @include t-12();
//   font-weight: $font-weight-medium;
// }

// .t-11-regular {
//   @include t-11();
//   font-weight: $font-weight-regular;
// }

// .t-11-medium {
//   @include t-11();
//   font-weight: $font-weight-medium;
// }

// .t-10 {
//   @include t-10();
//   font-weight: $font-weight-regular;
// }
// }

/**** Start: Mixins for button component ****/
@mixin button-filled($background-color, $text-color) {
  border: none;
  background-color: $background-color;
  box-shadow: 0 calculateRem(4) 0 0 darken($background-color, 15%);

  &:hover {
    background-color: lighten($background-color, 5%);
    box-shadow: 0 calculateRem(3) 0 0 lighten($background-color, 5%);
  }

  &:active {
    background-color: darken($background-color, 15%);
    box-shadow: 0 0 0 0 darken($background-color, 15%);
  }

  .cmp-button__text {
    color: $text-color;
  }
}

@mixin button-ghost-night($background-color, $text-color) {
  border-color: transparent;
  background-color: $background-color;
  box-shadow: 0 0 0 0 $text-color;
  border-width: calculateRem(2) calculateRem(2) calculateRem(6) calculateRem(2);
  border-style: solid;

  &:hover {
    border-width: calculateRem(2) calculateRem(2) calculateRem(5) calculateRem(2);
    box-shadow: 0 0 0 0 $text-color;
    background-color: lighten($background-color, 5%);
  }

  &:active {
    box-shadow: 0 0 0 0 $text-color;
    background-color: lighten($background-color, 15%);
    border-bottom: calculateRem(2) solid $text-color;
  }

  .cmp-button__text {
    color: $text-color;
  }
}

@mixin button-ghost-standard($background-color, $text-color) {
  border-color: transparent;
  background-color: $background-color;
  box-shadow: 0 calculateRem(0) 0 0 $text-color;
  border-width: calculateRem(2) calculateRem(2) calculateRem(6) calculateRem(2);
  border-style: solid;

  &:hover {
    border-width: calculateRem(2) calculateRem(2) calculateRem(5) calculateRem(2);
    box-shadow: 0 calculateRem(0) 0 0 $text-color;
    background-color: lighten($background-color, 5%);
  }

  &:active {
    box-shadow: 0 0 0 0 $text-color;
    background-color: lighten($background-color, 15%);
    border-bottom: calculateRem(2) solid $text-color;
  }

  .cmp-button__text {
    color: $text-color;
  }
}

@mixin button-ghost-smol($background-color, $text-color) {
  border-color: transparent;
  background-color: $background-color;
  box-shadow: 0 calculateRem(0) 0 0 $text-color;
  border-width: calculateRem(2) calculateRem(2) calculateRem(5) calculateRem(2);
  border-style: solid;

  &:hover {
    border-width: calculateRem(2) calculateRem(2) calculateRem(4) calculateRem(2);
    box-shadow: 0 calculateRem(0) 0 0 $text-color;
    background-color: lighten($background-color, 5%);
  }

  &:active {
    box-shadow: 0 0 0 0 $text-color;
    background-color: lighten($background-color, 15%);
    border-bottom: calculateRem(2) solid $text-color;
    transform: translateY(0.1875rem);
  }

  .cmp-button__text {
    color: $text-color;
  }
}

// Use for Buttons with backgrounds that must be lightened for hover and active states
@mixin button-filled-lighten($background-color, $text-color) {
  border: none;
  background-color: $background-color;
  box-shadow: 0 calculateRem(4) 0 0 lighten($background-color, 15%);

  &:hover {
    background-color: lighten($background-color, 5%);
    box-shadow: 0 calculateRem(3) 0 0 lighten($background-color, 5%);
  }

  &:active {
    background-color: lighten($background-color, 15%);
    box-shadow: 0 0 0 0 lighten($background-color, 15%);
  }

  .cmp-button__text {
    color: $text-color;
  }
}

@mixin button-filled-darken($background-color, $text-color) {
  border: none;
  background-color: $background-color;
  box-shadow: 0 calculateRem(4) 0 0 darken($background-color, 15%);

  &:hover {
    background-color: darken($background-color, 5%);
    box-shadow: 0 calculateRem(3) 0 0 darken($background-color, 5%);
  }

  &:active {
    background-color: lighten($background-color, 15%);
    box-shadow: 0 0 0 0 lighten($background-color, 15%);
  }

  .cmp-button__text {
    color: $text-color;
  }
}

@mixin button-ghost($button-color) {
  border-color: transparent;

  &:hover {
    border-color: darken($button-color, 10%);

    .cmp-button__icon {
      color: darken($button-color, 10%);
    }
  }

  &:active {
    border-color: darken($button-color, 15%);

    .cmp-button__icon {
      color: darken($button-color, 15%);
    }
  }

  .cmp-button__text {
    color: $button-color;
  }
}

/**** End: Mixins for button component ****/