@import url("https://p.typekit.net/p.css?s=1&k=bae7ipf&ht=tk&f=18438.18439.18440.18445.44524.44525.44528.44529&a=18065319&app=typekit&e=css");

@font-face {
  font-family: proximanova;
  src: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/proximanova-medium-webfont.eot');
  src: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/proximanova-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/proximanova-medium-webfont.woff') format('woff'),
        url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/proximanova-medium-webfont.woff2') format('woff2'),
        url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/proximanova-medium-webfont.ttf') format('truetype'),
        url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/proximanova-medium-webfont.svg#webfont') format('svg');
        
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: proximanova;
  src: url("/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/proximanova-mediumit-webfont.woff")
    format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: proximanova;
  src: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/proximanova-extrabold-webfont.eot');
  src: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
        url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/proximanova-extrabold-webfont.woff') format('woff'),
        url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/proximanova-extrabold-webfont.woff2') format('woff2'),
        url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/proximanova-extrabold-webfont.ttf') format('truetype'),
        url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/proximanova-extrabold-webfont.svg#webfont') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: proximanova;
  src: url("/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/proximanova-extraboldit-webfont.woff")
    format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: proximanova;
  src: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/proximanova-black-webfont.eot');
  src: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'),
        url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/proximanova-black-webfont.woff') format('woff'),
        url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/proximanova-black-webfont.woff2') format('woff2'),
        url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/proximanova-black-webfont.ttf') format('truetype'),
        url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/proximanova-black-webfont.svg#webfont') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: proximanova;
  src: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/proximanova-regular-webfont.eot');
  src: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/proximanova-regular-webfont.woff') format('woff'),
        url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/proximanova-regular-webfont.woff2') format('woff2'),
        url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/proximanova-regular-webfont.ttf') format('truetype'),
        url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/proximanova-regular-webfont.svg#webfont') format('svg');
  font-weight: 500;
  font-style: normal;
}

/* boost brand */
@font-face {
  font-family: boostnext;
  src: url("/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/boost-next-regular.woff")
    format("woff");
  font-display: auto;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: boostnext;
  src: url("/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/boost-next-regular.woff")
    format("woff");
  font-display: auto;
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: boostnext;
  src: url("/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/boost-next-heavy.woff")
    format("woff");
  font-display: auto;
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: boostnext;
  src: url("/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/boost-next-heavy.woff")
    format("woff");
  font-display: auto;
  font-weight: 800;
  font-style: italic;
}


/* genesis brand */
/* @font-face {
  font-family: "azo-sans-web";
  src: url("https://use.typekit.net/af/9aa4fe/000000000000000000013f4e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/9aa4fe/000000000000000000013f4e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/9aa4fe/000000000000000000013f4e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "azo-sans-web";
  src: url("https://use.typekit.net/af/90ca1f/000000000000000000013f4f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/90ca1f/000000000000000000013f4f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/90ca1f/000000000000000000013f4f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: "azo-sans-web";
  src: url("https://use.typekit.net/af/b714ca/000000000000000000013f4b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/b714ca/000000000000000000013f4b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/b714ca/000000000000000000013f4b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
      format("opentype");
  font-display: auto;
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "azo-sans-web";
  src: url("https://use.typekit.net/af/9dc3b1/000000000000000000013f8f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/9dc3b1/000000000000000000013f8f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/9dc3b1/000000000000000000013f8f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
} */

@font-face {
  font-family: 'Azo Sans';
  src: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-BoldItalic.eot');
  src: local('Azo Sans Bold Italic'), local('AzoSans-BoldItalic'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-BoldItalic.woff2') format('woff2'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-BoldItalic.woff') format('woff'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Azo Sans Tn';
  src: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Thin.eot');
  src: local('Azo Sans Thin'), local('AzoSans-Thin'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Thin.eot?#iefix') format('embedded-opentype'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Thin.woff2') format('woff2'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Thin.woff') format('woff'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Azo Sans Lt';
  src: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-LightItalic.eot');
  src: local('Azo Sans Light Italic'), local('AzoSans-LightItalic'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-LightItalic.woff2') format('woff2'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-LightItalic.woff') format('woff'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Azo Sans Tn';
  src: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-ThinItalic.eot');
  src: local('Azo Sans Thin Italic'), local('AzoSans-ThinItalic'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-ThinItalic.woff2') format('woff2'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-ThinItalic.woff') format('woff'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Azo Sans';
  src: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Regular.eot');
  src: local('Azo Sans Regular'), local('AzoSans-Regular'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Regular.woff2') format('woff2'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Regular.woff') format('woff'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Azo Sans Md';
  src: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-MediumItalic.eot');
  src: local('Azo Sans Medium Italic'), local('AzoSans-MediumItalic'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-MediumItalic.woff2') format('woff2'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-MediumItalic.woff') format('woff'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Azo Sans Bk';
  src: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Black.eot');
  src: local('Azo Sans Black'), local('AzoSans-Black'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Black.eot?#iefix') format('embedded-opentype'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Black.woff2') format('woff2'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Black.woff') format('woff'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Azo Sans Md';
  src: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Medium.eot');
  src: local('Azo Sans Medium'), local('AzoSans-Medium'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Medium.eot?#iefix') format('embedded-opentype'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Medium.woff2') format('woff2'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Medium.woff') format('woff'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Azo Sans Bk';
  src: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-BlackItalic.eot');
  src: local('Azo Sans Black Italic'), local('AzoSans-BlackItalic'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-BlackItalic.woff2') format('woff2'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-BlackItalic.woff') format('woff'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Azo Sans Lt';
  src: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Light.eot');
  src: local('Azo Sans Light'), local('AzoSans-Light'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Light.eot?#iefix') format('embedded-opentype'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Light.woff2') format('woff2'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Light.woff') format('woff'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Azo Sans';
  src: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Italic.eot');
  src: local('Azo Sans Italic'), local('AzoSans-Italic'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Italic.eot?#iefix') format('embedded-opentype'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Italic.woff2') format('woff2'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Italic.woff') format('woff'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Azo Sans';
  src: url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Bold.eot');
  src: local('Azo Sans Bold'), local('AzoSans-Bold'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Bold.woff2') format('woff2'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Bold.woff') format('woff'),
      url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/AzoSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

