@import "fonts";

$font-genesis: "Azo Sans",
proximanova,
Gotham,
Montserrat,
Trebuchet,
sans-serif;

/* genesis */
$color-brand-genesis-green: #00a54f;
$color-blue-for-member: #20b0ff;
$color-blue-for-vip: #c472a1;
$color-blue-for-influencer: #ef7173;
$color-blue-for-founder: #c8f16e;
$color-blue-for-meter: #9060a8;
$color-brand-genesis-button-gradient1: #01a259;
$color-brand-genesis-button-gradient2: #24ddad;
$color-brand-genesis-mineral-green: #23e9b4;
$color-brand-genesis-black-russian: #181725;
$color-link-default: #00a54f;
$color-link-disabled: #979797;
$color-link-hover: #01a254;
$color-link-press: #036133;
$color-genesis-success: #38C05D;
$color-genesis-danger: #EA4335;

/* Genesis Drop-shadow */
$shadow-none: none;
$shadow-small: 0 0.125rem 0.375rem 0 rgba(255, 255, 255, 0.1);
$shadow-medium: 0 0.125rem 0.375rem -0.188rem rgba(255, 255, 255, 0.25),
0 0.5rem 1rem -0.188rem rgba(255, 255, 255, 0.25);
$shadow-large: 0 0.125rem 0.5rem -0.188rem rgba(255, 255, 255, 0.5),
0 1rem 2rem -0.188rem rgba(255, 255, 255, 0.5);

* {
  /* genesis Color*/
  --color-brand-green: #{$color-brand-genesis-green};
  --color-brand-white: #{$color-marshmallow};
  --color-brand-mineral-green: #{$color-brand-genesis-mineral-green};
  --color-brand-black-russian: #{$color-brand-genesis-black-russian};
}

@include interaction-color(".genesis",
  $font-genesis,
  $color-brand-genesis-green,
  $color-brand-genesis-green,
  $color-brand-genesis-green);

//genesis
.genesis {
  --primary-color-day: #{$color-brand-genesis-green};
  --secondary-color-day: #{$color-brand-genesis-green};
  --primary-color-night: #{$color-brand-genesis-green};
  --secondary-color-night: #{$color-brand-genesis-green};
  --font-primary: #{$font-genesis};

  &.day {
    --background-primary: var(--color-brand-white);
    color: var(--color-brand-black);
  }

  &.night {
    color: var(--color-brand-white);
    --background-primary: var(--color-brand-black);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    --font-primary: #{$font-genesis};
  }

  &.day {

    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    section,
    div,
    strong,
    article,
    small,
    body {
      color: var(--color-brand-black);
    }
  }

  &.night {

    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    section,
    div,
    strong,
    article,
    small,
    body {
      color: var(--color-brand-white);
    }
  }

  h1 {
    @include t-44();
    font-weight: $font-weight-bold;
  }

  h2 {
    @include t-36();
    font-weight: $font-weight-bold;
  }

  h3 {
    @include t-32();
    font-weight: $font-weight-bold;
  }

  h4 {
    @include t-28();
    font-weight: $font-weight-bold;
  }

  h5 {
    @include t-24();
    font-weight: $font-weight-bold;
  }

  h6 {
    @include t-20();
    font-weight: $font-weight-bold;
  }

  b {
    font-weight: $font-weight-bold;
  }

  p {
    @include t-18();
    font-weight: $font-weight-bold;
    --font-primary: #{$font-genesis};

  }

  body {
    @include t-16();
    font-weight: $font-weight-regular;
    font-family: var(--font-primary);

  }

  small {
    @include t-12();
    font-weight: $font-weight-regular;
    font-family: var(--font-primary);
  }

  .t-20 {
    @include t-20();
    font-weight: $font-weight-medium;
  }

  .t-18-regular,
  p {
    @include t-18();
    font-weight: $font-weight-regular;
  }

  .t-18-medium {
    @include t-18();
    font-weight: $font-weight-medium;
  }

  .t-18-bold {
    @include t-18();
    font-weight: $font-weight-bold;
  }

  .t-16-regular {
    @include t-16();
    font-weight: $font-weight-regular;
  }

  .t-16-bold {
    @include t-16();
    font-weight: $font-weight-bold;
  }

  .t-16-medium {
    @include t-16();
    font-weight: $font-weight-medium;
  }

  .t-14-regular {
    @include t-14();
    font-weight: $font-weight-regular;
  }

  .t-14-bold {
    @include t-14();
    font-weight: $font-weight-bold;
  }

  .t-14-medium {
    @include t-14();
    font-weight: $font-weight-medium;
  }

  .t-12-bold {
    @include t-12();
    font-weight: $font-weight-bold;
  }

  .t-12-regular {
    @include t-12();
    font-weight: $font-weight-regular;
  }

  .t-12-medium {
    @include t-12();
    font-weight: $font-weight-medium;
  }

  .t-11-regular {
    @include t-11();
    font-weight: $font-weight-regular;
  }

  .t-11-medium {
    @include t-11();
    font-weight: $font-weight-medium;
  }

  .t-10 {
    @include t-10();
    font-weight: $font-weight-regular;
  }

  .cmp-text__text-256 {
    @include t-256();
    --font-primary: #{$font-genesis};
  }

  .cmp-text__text-192 {
    @include t-192();
    --font-primary: #{$font-genesis};
  }

  .cmp-text__text-128 {
    @include t-128();
    --font-primary: #{$font-genesis};
  }

  .cmp-text__text-96 {
    @include t-96();
    --font-primary: #{$font-genesis};
  }

  .cmp-text__text-62 {
    @include t-62();
    --font-primary: #{$font-genesis};
  }

  .cmp-text__text-52 {
    @include t-52();
    --font-primary: #{$font-genesis};
  }

  .cmp-text__text-44 {
    @include t-44();
    --font-primary: #{$font-genesis};
  }

  .cmp-text__text-36 {
    @include t-36();
    --font-primary: #{$font-genesis};
  }

  .cmp-text__text-32 {
    @include t-32();
    --font-primary: #{$font-genesis};
  }

  .cmp-text__text-28 {
    @include t-28();
    --font-primary: #{$font-genesis};
  }

  .cmp-text__text-24 {
    @include t-24();
    --font-primary: #{$font-genesis};
  }

  .cmp-text__text-20 {
    @include t-20();
    --font-primary: #{$font-genesis};
  }

  .cmp-text__text-18 {
    --font-primary: #{$font-genesis};
  }

  .cmp-text__text-16 {
    font-family: var(--font-primary);
  }

  .cmp-text__text-14 {
    font-family: var(--font-primary);
  }

  .cmp-text__text-12 {
    font-family: var(--font-primary);
  }
}

/** Start: RTE/Text styles **/

// RTE/Text color Gensis
$text_color01_high_genesis:#F9F9F9; //netural 50
$text_color02_medium_genesis:#C4C4C7; //500
$text_color03_low_genesis:#767677; //700
$text_color04_brand_invert_genesis:#272728; // 900
$text_color05_brand_primary_genesis:#23E9B4; // primary 500
$text_color05_brand_secondary_genesis:#00A54F; // sec 500

.genesis{ 
  .cmp-text__ne50gensis{
    .cmp-text {
      p,
      small,
      body {
        color:$text_color01_high_genesis;
      }
    }
  }
  .cmp-text__ne500gensis{
    .cmp-text {
      p,
      small,
      body {
        color:$text_color02_medium_genesis;
      }
    }
  }
  .cmp-text__ne700gensis{
    .cmp-text {
      p,
      small,
      body {
        color:$text_color03_low_genesis;
      }
    }
  }
  .cmp-text__invertgensis{
    .cmp-text {
      p,
      small,
      body {
        color:$text_color04_brand_invert_genesis;
      }
    }
  }
}

.cmp-text__green {
  color: $color-brand-genesis-green;
}

.cmp-text__mineral-green {
  color: $color-brand-genesis-mineral-green;
}

.cmp-text__russian-black {
  color: $color-brand-genesis-black-russian;
}

//style circle RTE
.cmp-text__green .cmp-text-circle-ghost {
  border-color: $color-brand-genesis-green;
  color: $color-brand-genesis-green;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: inset 0 0 calculateRem(10) 0 transparentize($color-brand-genesis-green, 0.25), 0 0 calculateRem(10) 0 transparentize($color-brand-genesis-green, 0.25);
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-brand-genesis-green;
  }
}

.cmp-text__mineral-green .cmp-text-circle-ghost {
  border-color: $color-brand-genesis-mineral-green;
  color: $color-brand-genesis-mineral-green;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: inset 0 0 calculateRem(10) 0 transparentize($color-brand-genesis-mineral-green, 0.25), 0 0 calculateRem(10) 0 transparentize($color-brand-genesis-mineral-green, 0.25);
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-brand-genesis-green;
  }
}

.cmp-text__russian-black .cmp-text-circle-ghost {
  border-color: $color-brand-genesis-black-russian;
  color: $color-brand-genesis-black-russian;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: inset 0 0 calculateRem(10) 0 transparentize($color-brand-genesis-black-russian, 0.25), 0 0 calculateRem(10) 0 transparentize($color-brand-genesis-black-russian, 0.25);
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-brand-genesis-black-russian;
  }
}

.cmp-text__green .cmp-text-circle-filled,
.cmp-text__green .cmp-text-circle-filled span {
  background-color: $color-brand-genesis-green;
  border-color: $color-brand-genesis-green;
  color: $color-marshmallow;

  .text.cmp-text__glow-effect-circle & {
    box-shadow: 0 0 calculateRem(10) 0 $color-brand-genesis-green
  }

  .text.cmp-text__glow-effect-text & {
    text-shadow: 0 0 calculateRem(4) $color-brand-genesis-green;
  }
}

.genesis {
  .cmp-text__weight-exbold {
    .cmp-text {
      p,
      small,
      body{
        font-weight: $font-weight-black;
      }
    }
  }
 
  .cmp-text__weight-bold {
    .cmp-text {
      p,
      small,
      body{
        font-weight: $font-weight-bold;
      }
    }
  }

  .cmp-text__weight-regular {
    .cmp-text {
      p,
      small,
      body{
        font-weight: $font-weight-regular;
      }
    }
  }

  .cmp-text__weight-light {
    .cmp-text {
      p,
      small,
      body{
        font-weight: $font-weight-light;
      }
    }
  }

  .cmp-text__left {
    .cmp-text {
      p,
      small,
      body{
        text-align: left;
      }
    }
  }

  .cmp-text__center {
    .cmp-text {
      p,
      small,
      body{
        text-align: center;
      }
    }
  }

  .cmp-text__right {
    .cmp-text {
      p,
      small,
      body{
        text-align: right;
      }
    }
  }
}

/** End: RTE/Text styles **/

//default genesis link colors
.night.genesis {
  a {
    color: $color-link-default;

    &:hover {
      color: $color-link-hover;

      &:after {
        background-color: $color-link-hover;
      }
    }

    &:active {
      color: $color-link-press;

      &:after {
        background-color: $color-link-press;
      }
    }

    &:after {
      background-color: $color-link-default;
    }
  }
}

/** Start: container styles **/

//drop-shadow styles//
.genesis {
  .cmp-container__drop-shadow-none {
    box-shadow: none;
  }

  .cmp-container__drop-shadow-small {
    box-shadow: $shadow-small;
  }

  .cmp-container__drop-shadow-medium {
    box-shadow: $shadow-medium;
  }

  .cmp-container__drop-shadow-large {
    box-shadow: $shadow-large;
  }
}

// border colors (genesis)
.container-border-brand-green {
  --container-border-color: var(--color-brand-green);
}

.container-border-brand-black {
  --container-border-color: var(--color-brand-black-russian);
}

.container-border-brand-mineral-green {
  --container-border-color: var(--color-brand-mineral-green);
}

// glow effect for border corners (genesis)
.cmp-container__corner_border_glow .cmp-container::before {
  -webkit-box-shadow: inset 3px 3px 4px 1px;
  box-shadow: inset 3px 3px 4px 1px;
  color: rgba($color-brand-genesis-green, 0.3);
}

.cmp-container__corner_border_glow .cmp-container::after {
  -webkit-box-shadow: inset -3px 3px 4px 1px;
  box-shadow: inset -3px 3px 4px 1px;
  color: rgba($color-brand-genesis-green, 0.3);
}

.cmp-container__corner_border_glow .cmp-container> :first-child::before {
  -webkit-box-shadow: inset -3px -3px 4px 1px;
  box-shadow: inset -3px -3px 4px 1px;
  color: rgba($color-brand-genesis-green, 0.3);
}

.cmp-container__corner_border_glow .cmp-container> :first-child::after {
  -webkit-box-shadow: inset 3px -3px 4px 1px;
  box-shadow: inset 3px -3px 4px 1px;
  color: rgba($color-brand-genesis-green, 0.3);
}

.genesis {
  .container.responsivegrid {
    &.cmp-container__full-width {
      .image {
        .cmp-image {
          a:hover:after {
            background-color: transparent !important;
          }

          a:after {
            background-color: transparent !important;
          }
        }
      }

      .dynamicmedia {
        .cq-dd-image {
          .s7dm-dynamic-media {
            a:hover:after {
              background-color: transparent !important;
            }

            a:after {
              background-color: transparent !important;
            }
          }
        }
      }
    }
  }
}

//border corner css
/*** Green border corner top-left top-right bottom-left bottom-right **/
.cmp-container__corner_border_top_left,
.cmp-container__corner_border_top_right,
.cmp-container__corner_border_bottom_left,
.cmp-container__corner_border_bottom_right {
  position: relative;
  padding: 0;
}

.cmp-container__corner_border_top_left>.cmp-container,
.cmp-container__corner_border_top_right>.cmp-container,
.cmp-container__corner_border_bottom_left>.cmp-container,
.cmp-container__corner_border_bottom_right>.cmp-container {
  position: relative;
  overflow: hidden;
}

.cmp-container__corner_border_top_left>.cmp-container:before,
.cmp-container__corner_border_top_right>.cmp-container:after,
.cmp-container__corner_border_bottom_right>.cmp-container> :first-child:before,
.cmp-container__corner_border_bottom_left>.cmp-container> :first-child:after {
  position: absolute;
  width: calculateRem(60);
  height: calculateRem(80);
  border-color: var(--primary-color);
  border-style: solid;
  content: " ";
  z-index: 999;
}

.cmp-container__corner_border_top_left>.cmp-container:before {
  top: 0;
  left: 0;
  border-width: calculateRem(2) 0 0 calculateRem(2);
}

.cmp-container__corner_border_top_right>.cmp-container:after {
  top: 0;
  right: 0;
  border-width: calculateRem(2) calculateRem(2) 0 0;
}

.cmp-container__corner_border_bottom_right>.cmp-container> :first-child:before {
  bottom: 0;
  right: 0;
  border-width: 0 calculateRem(2) calculateRem(2) 0;
}

.cmp-container__corner_border_bottom_left>.cmp-container> :first-child:after {
  bottom: 0;
  left: 0;
  border-width: 0 0 calculateRem(2) calculateRem(2);
}

// border corner colors
.cmp-container__border-green>.cmp-container:before,
.cmp-container__border-green>.cmp-container:after,
.cmp-container__border-green>.cmp-container> :first-child:before,
.cmp-container__border-green>.cmp-container> :first-child:after {
  border-color: var(--color-brand-green) !important;
  color: rgba($color-brand-genesis-green, 0.3) !important;
}

.cmp-container__border-black>.cmp-container:before,
.cmp-container__border-black>.cmp-container:after,
.cmp-container__border-black>.cmp-container> :first-child:before,
.cmp-container__border-black>.cmp-container> :first-child:after {
  border-color: var(--color-brand-black) !important;
  color: rgba($color-black, 0.3) !important;
}

.cmp-container__border-white>.cmp-container:before,
.cmp-container__border-white>.cmp-container:after,
.cmp-container__border-white>.cmp-container> :first-child:before,
.cmp-container__border-white>.cmp-container> :first-child:after {
  border-color: var(--color-brand-white) !important;
  color: rgba($color-marshmallow, 0.3) !important;
}

.container-border-brand-green>.cmp-container:before,
.container-border-brand-green>.cmp-container:after,
.container-border-brand-green>.cmp-container> :first-child:before,
.container-border-brand-green>.cmp-container> :first-child:after {
  border-color: var(--color-brand-green) !important;
  color: rgba($color-brand-genesis-green, 0.3) !important;
}

.container-border-brand-black>.cmp-container:before,
.container-border-brand-black>.cmp-container:after,
.container-border-brand-black>.cmp-container> :first-child:before,
.container-border-brand-black>.cmp-container> :first-child:after {
  border-color: var(--color-brand-black) !important;
  color: rgba($color-black, 0.3) !important;
}

.container-border-brand-white>.cmp-container:before,
.container-border-brand-white>.cmp-container:after,
.container-border-brand-white>.cmp-container> :first-child:before,
.container-border-brand-white>.cmp-container> :first-child:after {
  border-color: var(--color-brand-white) !important;
  color: rgba($color-marshmallow, 0.3) !important;
}

.container-border-brand-mineral-green>.cmp-container:before,
.container-border-brand-mineral-green>.cmp-container:after,
.container-border-brand-mineral-green>.cmp-container> :first-child:before,
.container-border-brand-mineral-green>.cmp-container> :first-child:after {
  border-color: var(--color-brand-mineral-green) !important;
  color: rgba($color-brand-genesis-mineral-green, 0.3) !important;
}

.container-border-coal>.cmp-container:before,
.container-border-coal>.cmp-container:after,
.container-border-coal>.cmp-container> :first-child:before,
.container-border-coal>.cmp-container> :first-child:after {
  border-color: var(--color-coal) !important;
  color: rgba($color-coal, 0.3) !important;
}

.container-border-charcoal>.cmp-container:before,
.container-border-charcoal>.cmp-container:after,
.container-border-charcoal>.cmp-container> :first-child:before,
.container-border-charcoal>.cmp-container> :first-child:after {
  border-color: var(--color-charcoal) !important;
  color: rgba($color-charcoal, 0.3) !important;
}

.container-border-cinder>.cmp-container:before,
.container-border-cinder>.cmp-container:after,
.container-border-cinder>.cmp-container> :first-child:before,
.container-border-cinder>.cmp-container> :first-child:after {
  border-color: var(--color-cinder) !important;
  color: rgba($color-cinder, 0.3) !important;
}

.container-border-ash>.cmp-container:before,
.container-border-ash>.cmp-container:after,
.container-border-ash>.cmp-container> :first-child:before,
.container-border-ash>.cmp-container> :first-child:after {
  border-color: var(--color-ash) !important;
  color: rgba($color-ash, 0.3) !important;
}

.container-border-smoke>.cmp-container:before,
.container-border-smoke>.cmp-container:after,
.container-border-smoke>.cmp-container> :first-child:before,
.container-border-smoke>.cmp-container> :first-child:after {
  border-color: var(--color-smoke) !important;
  color: rgba($color-smoke, 0.3) !important;
}

.container-border-marshmallow>.cmp-container:before,
.container-border-marshmallow>.cmp-container:after,
.container-border-marshmallow>.cmp-container> :first-child:before,
.container-border-marshmallow>.cmp-container> :first-child:after {
  border-color: var(--color-marshmallow) !important;
  color: rgba($color-marshmallow, 0.3) !important;
}

/** End: container styles **/

/** Start: Button Component styles **/
.genesis {
  .reducedheader .cmp-button .cmp-button__text {
    --font-primary: #{$font-genesis};
  }
}

.genesis.day {
  .cmp-button {
    border-radius: calculateRem(100);
    background: linear-gradient(90.95deg,
        $color-brand-genesis-button-gradient1 0.37%,
        $color-brand-genesis-button-gradient2 100%);
  }

  .button.cmp-button__filled {
    .cmp-button {
      border-radius: calculateRem(100);
      background: linear-gradient(90.95deg,
          $color-brand-genesis-button-gradient1 0.37%,
          $color-brand-genesis-button-gradient2 100%);

      .cmp-button__text {
        color: var(--color-brand-black);
      }
    }
  }


  // button gradient style class
  .button.cmp-button__gradient {
    .cmp-button {
      background: linear-gradient(90.95deg,
          $color-brand-genesis-button-gradient1 0.37%,
          $color-brand-genesis-button-gradient2 100%);

      .cmp-button__text {
        color: var(--color-brand-black);
      }
    }
  }

  .header {
    .button .cmp-button span>svg {
      vertical-align: middle;
    }

    .button.cmp-button__ghost span svg {
      path {
        fill: var(--primary-color-day);
      }
    }

    .button.cmp-button__filled span svg {
      path {
        fill: $color-marshmallow;
      }
    }
  }
}

.genesis.night {
  .cmp-button {
    border-radius: calculateRem(100);
    background: linear-gradient(90.95deg,
        $color-brand-genesis-button-gradient1 0.37%,
        $color-brand-genesis-button-gradient2 100%);
  }

  .button.cmp-button__filled {
    .cmp-button {
      border-radius: calculateRem(100);

      background: linear-gradient(90.95deg,
          $color-brand-genesis-button-gradient1 0.37%,
          $color-brand-genesis-button-gradient2 100%);

      .cmp-button__text {
        color: var(--color-brand-white);
      }
    }
  }

  .button.cmp-button__disabled {
    .cmp-button {
      border-radius: calculateRem(100);
      background: #656565;

      .cmp-button__text {
        color: #898989;
      }
    }
  }

  // button gradient style class
  .button.cmp-button__gradient {
    .cmp-button {
      border-radius: calculateRem(100);
      background: linear-gradient(90.95deg,
          $color-brand-genesis-button-gradient1 0.37%,
          $color-brand-genesis-button-gradient2 100%);

      .cmp-button__text {
        color: var(--color-brand-white);
      }
    }
  }

  .header {
    .button .cmp-button span>svg {
      vertical-align: middle;
    }

    .button .cmp-button span svg {
      path {
        fill: $color-marshmallow;
      }
    }

    .button .cmp-button {
      background-color: transparent !important;

      :active,
      :hover {
        background-color: transparent !important;
      }

      .cmp-button__text {
        color: $color-marshmallow;
      }
    }
  }
}

//gensis sticky button
.genesis-sticky {
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 9999;
}

@media (min-width: 320px) and (max-width: 415px) {
  .genesis.night {
    header {
      .button .cmp-button {
        padding: calculateRem(12);
      }
    }
  }

  .genesis.day {
    header {
      .button .cmp-button {
        padding: calculateRem(12);
      }
    }
  }
}

/** End: Button Component styles **/


/** Start: Form Text Field styles **/
.genesis {
  .cmp-form {

    ::placeholder {
      font-family: var(--font-primary-proximanova);
      color: $color-light-grey;
      padding-left: calculateRem(4);
    }

    :-ms-input-placeholder {
      font-family: var(--font-primary-proximanova);
      color: $color-light-grey;
      padding-left: calculateRem(4);
    }

    ::-ms-input-placeholder {
      font-family: var(--font-primary-proximanova);
      color: $color-light-grey;
      padding-left: calculateRem(4);
    }

    .cmp-form-text label {
      font-family: var(--font-primary-proximanova);
      color: $color-input-background;
    }

    .cmp-form-text .cmp-form-text__text,
    .cmp-form-text .cmp-form-text__textarea {
      border: calculateRem(2) solid $color-light-grey;
      background-color: $color-cinder-dark;
      color: $color-input-background;

      &:hover {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        background-color: $color-light-grey3;
      }

      &:focus {
        caret-color: $color-light-grey;
        color: $color-input-background;
        background-color: $color-cinder-dark;
        border: calculateRem(3) solid $color-brand-genesis-mineral-green;
        outline: none;
      }

      &:active {
        border: calculateRem(2) solid $color-brand-genesis-mineral-green;
        background-color: $color-cinder-dark;
      }

      &:disabled {
        cursor: not-allowed;
        pointer-events: none;
        border: calculateRem(2) solid $color-light-grey;
        background-color: $color-light-grey3;
      }
    }

    .cmp-form-text__help-text {
      font-family: var(--font-primary-proximanova);
      color: $color-input-background;
    }


    .cmp-form-text__danger {
      .cmp-form-text__text {
        border: calculateRem(2) solid $color-genesis-danger;
      }

      .cmp-form-text__help-text {
        color: $color-genesis-danger;
      }

      .cmp-form-img__right {
        svg path {
          fill: $color-genesis-danger;
        }
      }
    }

    .cmp-form-text__success {
      .cmp-form-text__text {
        border: calculateRem(2) solid $color-genesis-success;
      }

      .cmp-form-img__right {
        svg path {
          fill: $color-genesis-success;
        }
      }
    }
  }
}

/** End: Form Text Field styles **/

/*START: New Button Enhancement changes */

.genesis {

  .button.cmp-button__primary,
  .button.cmp-button__secondary,
  .button.cmp-button__tertiary,
  .button.cmp-button__ghost,
  .button.cmp-button__danger {
    .cmp-button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: calculateRem(8) !important;
      box-sizing: border-box;
    }
  }

  .button.cmp-button__no-text {
    .cmp-button {
      padding: calculateRem(12) calculateRem(16);

      .cmp-button__left,
      .cmp-button__right {
        padding: 0 !important;
      }
    }
  }

  .button.cmp-button__primary {
    .cmp-button {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      border: calculateRem(1) solid rgba(0, 0, 0, 0);
      border-radius: calculateRem(8);
      background: #23E9B4;

      .cmp-button__text {
        color: #272728;
        font-weight: 800;
        font-size: calculateRem(18);
      }

      .cmp-button__left {
        padding-right: calculateRem(8);
      }

      .cmp-button__right {
        padding-left: calculateRem(8);
      }

      span svg {
        width: calculateRem(24);
        height: calculateRem(24);

        path {
          fill: #272728;
        }
      }

      &:hover {
        background: #7BF2D2 !important;
      }

      &:active {
        background: #158C6C;
        border: calculateRem(3) solid #158C6C;
        height: calculateRem(48);
      }

      &:focus {
        background: #23E9B4 !important;
        border: calculateRem(3) solid #23E9B4 !important;
        height: calculateRem(54);
      }

      &:disabled {
        background: #767677 !important;
        pointer-events: none;
        cursor: not-allowed;
      }
    }

    &.cmp-button__disabled {
      .cmp-button {
        background: #767677 !important;
        pointer-events: none;
        cursor: not-allowed;

        .cmp-button__text {
          color: #D0D0D2;
          font-size: calculateRem(18);
          font-weight: 800;
          line-height: calculateRem(24);
        }

        span svg path {
          fill: #9D9D9F;
        }
      }
    }
  }

  .button.cmp-button__secondary {
    .cmp-button {
      background: #00A54F !important;
      border-radius: calculateRem(8);

      .cmp-button__text {
        color: #272728;
        font-weight: 800;
        font-size: calculateRem(18);
      }

      .cmp-button__left {
        padding-right: calculateRem(8);
      }

      .cmp-button__right {
        padding-left: calculateRem(8);
      }

      span svg {
        width: calculateRem(24);
        height: calculateRem(24);

        path {
          fill: #272728;
        }
      }

      &:hover {
        background: #66C995 !important;

        .cmp-button__text {
          color: #272728;
          font-weight: 800;
          font-size: calculateRem(18);
        }
      }

      &:active {
        background: #00632F !important;
        border: calculateRem(1) solid rgba(0, 0, 0, 0);
      }

      &:focus {
        background: #00A54F !important;
        border: calculateRem(3) solid #23E9B4 !important;
        border-radius: calculateRem(8);
        height: calculateRem(54);
      }

      &:disabled {
        background: #767677 !important;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        border: calculateRem(1) solid rgba(0, 0, 0, 0);
        pointer-events: none;
        cursor: not-allowed;
      }
    }

    &.cmp-button__disabled {
      .cmp-button {
        background: #767677 !important;
        pointer-events: none;
        cursor: not-allowed;

        .cmp-button__text {
          color: #D0D0D2 !important;
        }

        span svg path {
          fill: #9D9D9F !important;
        }
      }
    }
  }


  .button.cmp-button__tertiary {
    .cmp-button {
      background: #FFFFFF !important;
      border: calculateRem(1) solid #00AEEF;
      border-radius: calculateRem(8) !important;

      .cmp-button__text {
        color: #23E9B4 !important;
        font-size: calculateRem(18);
        font-weight: 800;
        letter-spacing: calculateRem(0.21);
        line-height: calculateRem(24);
        text-align: center;
      }

      .cmp-button__left {
        padding-right: calculateRem(8);
      }

      .cmp-button__right {
        padding-left: calculateRem(8);
      }

      span svg {
        width: calculateRem(24);
        height: calculateRem(24);

        path {
          fill: #23E9B4;
        }
      }

      &:hover {
        background: #D3FBF0 !important;
        border: calculateRem(1) solid #00AEEF;
        border-radius: calculateRem(8);
      }

      &:active {
        background: #A7F6E1 !important;
      }

      &:focus {
        background: #FFFFFF !important;
        border: 2px solid #23E9B4;
        border-radius: calculateRem(8);
      }

      &:disabled {
        background: #FFFFFF !important;
        border: calculateRem(1) solid #99999C;
        pointer-events: none;
        cursor: not-allowed;
      }
    }

    &.cmp-button__disabled {
      .cmp-button {
        background: #FFFFFF !important;
        border: calculateRem(1) solid #9D9D9F !important;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        border-radius: calculateRem(8);
        pointer-events: none;
        cursor: not-allowed;

        .cmp-button__text {
          color: #D0D0D2 !important;
        }

        span svg path {
          fill: #9D9D9F;
        }
      }
    }
  }

  .button.cmp-button__ghost {
    .cmp-button {
      background: $color-marshmallow !important;
      border-radius: calculateRem(8) !important;
      // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);

      .cmp-button__text {
        color: #23E9B4 !important;
        font-size: calculateRem(18);
        font-weight: 800;
        letter-spacing: calculateRem(0.21);
        line-height: calculateRem(24);
        text-align: center;
      }

      .cmp-button__left {
        padding-right: calculateRem(8);
      }

      .cmp-button__right {
        padding-left: calculateRem(8);
      }

      span svg {
        width: calculateRem(24);
        height: calculateRem(24);

        path {
          fill: #23E9B4;
        }
      }

      &:hover {
        background: #E7E7E9 !important;
      }

      &:active {
        background: #DCDCDD !important;
      }

      &:focus {
        background: #FFFFFF !important;
        border: calculateRem(3) solid #23E9B4 !important;
        border-radius: calculateRem(8);
      }

      &:disabled {
        background: #FFFFFF !important;
        border: calculateRem(1) solid #C4C4C7;
        pointer-events: none;
        cursor: not-allowed;
      }
    }

    &.cmp-button__disabled {
      .cmp-button {
        background: #FFFFFF !important;
        border: calculateRem(1) solid #9D9D9F !important;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        border-radius: calculateRem(8);
        pointer-events: none;
        cursor: not-allowed;

        .cmp-button__text {
          color: #D0D0D2 !important;
        }

        span svg path {
          fill: #9D9D9F;
        }
      }
    }
  }

  .button.cmp-button__danger {
    .cmp-button {
      background: #EA4335;
      border: calculateRem(1) solid rgba(0, 0, 0, 0);
      border-radius: calculateRem(8) !important;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);

      .cmp-button__text {
        color: #272728 !important;
        font-size: calculateRem(18);
        font-weight: 800;
        letter-spacing: calculateRem(0.21);
        line-height: calculateRem(24);
        text-align: center;
      }

      .cmp-button__left {
        padding-right: calculateRem(8);
      }

      .cmp-button__right {
        padding-left: calculateRem(8);
      }

      span svg {
        width: calculateRem(24);
        height: calculateRem(24);

        path {
          fill: #C4C4C7;
        }
      }

      &:hover {
        background: #F28E86 !important;
      }

      &:active {
        background: #8C2820 !important;
      }

      &:focus {
        background: #EA4335 !important;
        border: calculateRem(3) solid #23E9B4;
        height: calculateRem(54);
      }

      &:disabled {
        background: #767677;
        border: calculateRem(1) solid rgba(0, 0, 0, 0);
        pointer-events: none;
        cursor: not-allowed;
      }
    }

    &.cmp-button__disabled {
      .cmp-button {
        background: #767677;
        border: calculateRem(1) solid rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        border-radius: calculateRem(8);
        pointer-events: none;
        cursor: not-allowed;

        .cmp-button__text {
          color: #D0D0D2 !important;
        }

        span svg path {
          fill: #9D9D9F;
        }
      }
    }
  }
}

/*END: New Button Enhancement changes */


// Font-size Define breadcum

$label-01_breadcum:0.75rem;
$inputenabel-01_breadcum:1rem;
$link_large_primary_breadcum:1.125rem;
$product_name_bradcum:1.25rem;
$product_value_primary_breadcum:1.75rem;