//== Font

$font-family: "Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$font-size: 16px;
$font-height: 1.5;

//== Color
$color-light-grey1: #C4C4CA;
$color-light-grey2: #525261;
$color-light-grey3: #767677;
$color-light-grey-light: #E7E7E9;
$color-light-grey: #C4C4C7;
$color-ash: #C4C4CA;
$color-cinder: #525261;
$color-cinder-dark: #3B3B3C;
$color-smoke: #F5F5F6;
$color-marshmallow: #FFFFFF;
$color-charcoal: #292938;
$color-coal: #171725;
$color-coal-light: #272728;

$color-dark-slate-gray: #242432;
$color-water-day: #384AFF;
$color-water-nighty: #00E7FF;
$color-spark: #F25D12;
$color-transperent: rgba(0, 0, 0, 0);
$color-error: #931621;
$color-succes-1: #00873F;
$color-error-light: #F4B4B9;
$color-solid-orange: #F36C21;
$color-water-night-blue:#00E7FF;
$color-dropdown-border-bottom: #CCCCCF;
$color-dropdown-bottom-wrapper: #1E1E2D;
$color-dropdown-bottom-wrapper-default: #CACACD;
$color-dropdown-bottom-wrapper-border-default: #9C9CA4;
$color-dropdown-bottom-wrapper-border: #414150;
$color-dropdown-active: #20202F;
$color-dropdown-list-hover: #3A3A4D;
$color-dropdown-list-hover-night: #EBEBED;
$color-placeholder-white: #9D9D9F;
$color-input-background: #F9F9F9;


// Normal mode
$color-foreground: #202020;
$color-background: #ECECEC;
$color-link: #2020E0;

// Dark mode
$color-foreground-dark: invert($color-foreground);
$color-background-dark: invert($color-background);
$color-link-dark: invert($color-link);
// Boxshadow effect
$color-boxshadow-effect: #00000014;

