@font-face {
  font-family: 'icomoon';
  src:  url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/icomoon.eot?s7h7gh');
  src:  url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/icomoon.eot?s7h7gh#iefix') format('embedded-opentype'),
    url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/icomoon.ttf?s7h7gh') format('truetype'),
    url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/icomoon.woff?s7h7gh') format('woff'),
    url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/icomoon.svg?s7h7gh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon-custom{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: 'iconarrow';
  src:  url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/icon-arrow.eot?vgfsu5');
  src:  url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/icon-arrow.eot?vgfsu5#iefix') format('embedded-opentype'),
    url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/icon-arrow.ttf?vgfsu5') format('truetype'),
    url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/icon-arrow.woff?vgfsu5') format('woff'),
    url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/icon-arrow.svg?vgfsu5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.iconarrow{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconarrow' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'icoaccount';
  src:  url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/icomoon-account.eot?ltch11');
  src:  url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/icomoon-account.eot?ltch11#iefix') format('embedded-opentype'),
    url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/icomoon-account.ttf?ltch11') format('truetype'),
    url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/icomoon-account.woff?ltch11') format('woff'),
    url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/icomoon-account.svg?ltch11#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icoaccount {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icoaccount' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e900";
}

.icon-arrow_backward:before {
  content: "\e900";
  color: #525261;
}
.icon-arrow_forward-active:before {
  content: "\e901";
}

.icon-search-day-inactive:before {
  content: "\e915";
  color: #525261;
}
.icon-cart-day-filled-hover .path1:before {
  content: "\e903";
  color: rgb(41, 41, 56);
}
.icon-cart-day-filled-hover .path2:before {
  content: "\e904";
  margin-left: -27px;
  color: rgb(56, 74, 255);
}
.icon-cart-day-filled-inactive .path1:before {
  content: "\e905";
  color: rgb(82, 82, 97);
}
.icon-cart-day-filled-inactive .path2:before {
  content: "\e906";
  margin-left: -27px;
  color: rgb(56, 74, 255);
}
.icon-cart-day-hover:before {
  content: "\e907";
}
.icon-cart-day-inactive:before {
  content: "\e908";
  color: #525261;  
}
.icon-search-night-hover:before {
  content: "\e916";
  color: #f5f5f6;
}
.icon-search-night-inactive:before {
  content: "\e917";
  color: #c4c4ca;
}
.icon-serach-night-active:before {
  content: "\e918";
  color: #fff;
}
.icon-cart-night-active:before {
  content: "\e909";
  color: #fff;
}
.icon-cart-night-filled-active .path1:before {
  content: "\e90a";
  color: rgb(255, 255, 255);
}
.icon-cart-night-filled-active .path2:before {
  content: "\e90b";
  margin-left: -1.0498046875em;
  color: rgb(0, 231, 255);
}
.icon-cart-night-filled-hover .path1:before {
  content: "\e90c";
  color: rgb(245, 245, 246);
}
.icon-cart-night-filled-hover .path2:before {
  content: "\e90d";
  margin-left: -1.0498046875em;
  color: rgb(0, 231, 255);
}
.icon-cart-night-filled-inactive .path1:before {
  content: "\e90e";
  color: rgb(196, 196, 202);
}
.icon-cart-night-filled-inactive .path2:before {
  content: "\e90f";
  margin-left: -27px;
  color: rgb(0, 231, 255);
}
.icon-cart-night-hover:before {
  content: "\e910";
  color: #f5f5f6;
}
.icon-cart-night-inactive:before {
  content: "\e911";
  color: #c4c4ca;
}

@font-face {
  font-family: 'icon-carousel';
  src:  url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/carousel-icons.eot?lp67q1');
  src:  url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/carousel-icons.eot?lp67q1#iefix') format('embedded-opentype'),
    url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/carousel-icons.ttf?lp67q1') format('truetype'),
    url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/carousel-icons.woff?lp67q1') format('woff'),
    url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/carousel-icons.svg?lp67q1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon-carousel {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-carousel' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-slideshow-day-pause-active:before {
  content: "\e900";
}
.icon-slideshow-day-play-active:before {
  content: "\e901";
}
.icon-slideshow-night-pause-active:before {
  content: "\e902";
  color: #fff;
}
.icon-slideshow-night-play-active:before {
  content: "\e903";
  color: #fff;
}
.icon-carousel-day-flipped-left-active .path1:before {
  content: "\e904";
  color: rgb(255, 255, 255);
}
.icon-carousel-day-flipped-left-active .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(23, 23, 37);
}
.icon-carousel-day-flipped-right-active .path1:before {
  content: "\e906";
  color: rgb(255, 255, 255);
}
.icon-carousel-day-flipped-right-active .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(23, 23, 37);
}
.icon-carousel-night-flipped-left-active .path1:before {
  content: "\e908";
  color: rgb(23, 23, 37);
}
.icon-carousel-night-flipped-left-active .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-carousel-night-flipped-right-active .path1:before {
  content: "\e90a";
  color: rgb(23, 23, 37);
}
.icon-carousel-night-flipped-right-active .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}


@font-face {
  font-family: 'alert-circle';
  src:  url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/alert-circle.eot?lp67q1');
  src:  url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/alert-circle.eot?lp67q1#iefix') format('embedded-opentype'),
    url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/alert-circle.ttf?lp67q1') format('truetype'),
    url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/alert-circle.woff?lp67q1') format('woff'),
    url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/alert-circle.svg?lp67q1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.alert-circle {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'alert-circle' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Alert-Circle .path1:before {
  content: "\e900";
  color: rgb(147, 22, 33);
}
.icon-Alert-Circle .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}


@font-face {
  font-family: 'custom-dropdown-icon';
  src:  url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/dropdown/dropdown.eot?lp67q1');
  src:  url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/dropdown/dropdown.eot?lp67q1#iefix') format('embedded-opentype'),
    url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/dropdown/dropdown.ttf?lp67q1') format('truetype'),
    url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/dropdown/dropdown.woff?lp67q1') format('woff'),
    url('/etc.clientlibs/dopweb/clientlibs/clientlib-site/resources/fonts/dropdown/dropdown.svg?lp67q1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.custom-dropdown-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'custom-dropdown-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-dropdown-icon:before {
  content: "\e900";
}
