.explore-by-focus-in-author{
	top:0px !important;
}

.sidepanel-tab *, .coral3-ColumnView--selection *{
    -webkit-box-sizing: unset!important;
    box-sizing: unset!important;
}

form[action*="/content/kemin-redesign"] coral-panel-content div.rte-ui coral-buttongroup {
    visibility: visible !important;
}
 