<sly data-sly-test.empty="${!properties.timeLapse}" 
  data-sly-use.template="core/wcm/components/commons/v1/templates.html"
  data-sly-call="${template.placeholder @ isEmpty=empty}"/>
<sly data-sly-use.ld="com.kemin.redesign.core.models.herocarousel.HeroCarousel">
  <div class="hero-carousel">
    <div id="${ld.id}" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="${ld.timeLapse}" data-bs-pause="false">
      <div class="carousel-inner" data-sly-list.item="${ld.heroImages}">
        <!--Slide -->
        <div class="carousel-item ${itemList.first?'active':''}" > 
          <!-- carousel image desktop-->
          <div data-sly-resource="${item.heroImage @ resourceType='kemin-redesign/components/dynamicimage', selectors='presets.heroCarousel'}" class="feature-background desktop-image w-100"></div>
          <!-- carousel image mobile-->
          <div data-sly-resource="${item.heroImage @ resourceType='kemin-redesign/components/dynamicimage', selectors='presets.heroCarousel'}" class="feature-background mobile-image w-100"></div>
          <!--overlay image (static image)-->
          <img src="/etc.clientlibs/kemin-redesign/clientlibs/clientlib-site/resources/images/Group-2.png" class="overlay w-100" alt="...">
          <div class="carousel-caption d-md-block">
            <!--carousel text-->
            <h1 class="heading">${item.title}</h1>
            <div class="text-desc">${item.description @context='html'}</div>
          </div>
        </div>
      </div>
  
      <!--Carousel Indicator -->
      <div class="carousel-indicators" data-sly-list.item="${ld.heroImages}">
        <!--indicator for slide -->
        <div data-bs-target="#${ld.id}" data-bs-slide-to="${itemList.index}" class="indicator ${itemList.first?'active':''}" aria-current="true" aria-label="Slide${itemList.count}" data-link="${item.linkUrl @extension='html'}" data-label="${item.linkLabel}">
          <span class="icon-transition-${itemList.index}"></span>
          <style>
            #${ld.id @context='styleString'} .icon-transition-${itemList.index @context='styleString'}:before {
              background-image: url("${item.transitionIcon @context='uri'}");
              background-size: 35px 35px;
              display: inline-block;
              width: 35px;
              height: 35px;
              content:"";
            }          
          </style>
          <p class="textIcon">${item.transitionLabel}</p>
        </div>
      </div>
      <!--Featured link -->
      <sly data-sly-list.item="${ld.heroImages}">
        <div class="feature-links" data-sly-test="${itemList.first}" style="display:none;"> <a  data-cta="${item.linkLabel}" data-at="${item.linkLabel}" data-nav="Hero Carousel" data-cta-type="link" class="feature-links-url" href="${item.linkUrl}"><span class="feature-links-label">${item.linkLabel}</span><span class="icon-chevron-right"></span></a></div>
      </sly>
      <!-- progress container-->
      <div class="progress-container row">
          <div class="progress">
          </div>
      </div>
    </div>
    <!--Focus links-->
    <div data-sly-resource="${'explore-focus' @ resourceType='kemin-redesign/components/explore-focus'}" ></div>
  </div>
    <input type="hidden" id="heroWcmMode" name="heroWcmMode" value="${wcmmode.edit @ context='html'}" />
</sly>


