<sly data-sly-test="${wcmmode.edit}">
   <p class="cq-placeholder" data-emptytext="${component.title}"></p>
</sly>
<sly
   data-sly-use.atmBranchMapModel="com.techcombank.core.models.AtmBranchMapModel">
   <sly data-sly-test="${!wcmmode.edit}">   
      <section class="atm-map-component"
         data-api="/graphql/execute.json/techcombank/"
         data-api-branch="${currentPage.path}" data-api-branch-suffix=""
         data-map-key="${atmBranchMapModel.googleMapValue}"
         data-no-option="${atmBranchMapModel.noOptionMessage}"
         data-result-message="${atmBranchMapModel.resultMessage}"
         data-district-place-holder = "${atmBranchMapModel.districtLabel}"
         data-branch-label = "${atmBranchMapModel.branchLabel}">
         <div class="branches-root-item">
            <div class="branches-atm-locate">
               <div class="branches-radio-secondary">
                  <div class="branches-radio-item">
                     <label class="branches-radio-container" data-tracking-click-event="branchLocator"
                     data-tracking-click-info-value="{'customerType' : '${atmBranchMapModel.personalLabel}','branchSearchType' : '${atmBranchMapModel.atmLabel}'}"
                     data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': 'other'}}">
                        <input checked name="youAre" type="radio" value="11"/>
                        <span
                           class="branches-radio-cycle"></span> 
                        <span
                           class="branches-radio-checkmark">
                           <span>${atmBranchMapModel.personalLabel}</span>
                           <span>
                              <picture>
                                 <source media="(max-width: 360px)"
                                    srcset="${atmBranchMapModel.personalIconMobileImagePath}"/>
                                 <source media="(max-width: 576px)"
                                    srcset="${atmBranchMapModel.personalIconMobileImagePath}"/>
                                 <source media="(min-width: 1080px)"
                                    srcset="${atmBranchMapModel.personalIconWebImagePath}"/>
                                 <source media="(min-width: 1200px)"
                                    srcset="${atmBranchMapModel.personalIconWebImagePath}"/>
                                 <img alt="${atmBranchMapModel.personalIconAlt}"
                                    src="${atmBranchMapModel.personalIconWebImagePath}"> 
                              </picture>
                           </span>
                        </span>
                     </label>
                     <label class="branches-radio-container" data-tracking-click-event="branchLocator"
                     data-tracking-click-info-value="{'customerType' : '${atmBranchMapModel.businessLabel}','branchSearchType' : '${atmBranchMapModel.atmLabel}'}"
                     data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': 'other'}}">
                        <input
                           name="youAre" type="radio" value="12"/> <span
                           class="branches-radio-cycle"></span> 
                        <span
                           class="branches-radio-checkmark">
                           <span>${atmBranchMapModel.businessLabel}</span>
                           <span>
                              <picture>
                                 <source media="(max-width: 360px)"
                                    srcset="${atmBranchMapModel.businessIconMobileImagePath}"/>
                                 <source media="(max-width: 576px)"
                                    srcset="${atmBranchMapModel.businessIconMobileImagePath}"/>
                                 <source media="(min-width: 1080px)"
                                    srcset="${atmBranchMapModel.businessIconWebImagePath}"/>
                                 <source media="(min-width: 1200px)"
                                    srcset="${atmBranchMapModel.businessIconWebImagePath}"/>
                                 <img alt="${atmBranchMapModel.businessIconAlt}"
                                    src="${atmBranchMapModel.businessIconWebImagePath}"> 
                              </picture>
                           </span>
                        </span>
                     </label>
                  </div>
               </div>
            </div>
            <div class="head-title">
               <h2>${atmBranchMapModel.title}</h2>
            </div>
         </div>
         <div class="atm-map-component__container">
            <div class="atm-map_container">
               <div class="search-container">
                  <div class="search-section">
                     <div class="search-input">
                        <div class="search">
                           <div class="search-input_icon">
                              <picture>
                                 <source media="(max-width: 360px)"
                                    srcset="${atmBranchMapModel.searchIconMobileImagePath}"/>
                                 <source media="(max-width: 576px)"
                                    srcset="${atmBranchMapModel.searchIconMobileImagePath}"/>
                                 <source media="(min-width: 1080px)"
                                    srcset="${atmBranchMapModel.searchIconWebImagePath}"/>
                                 <source media="(min-width: 1200px)"
                                    srcset="${atmBranchMapModel.searchIconWebImagePath}"/>
                                 <img alt="${atmBranchMapModel.searchIconAlt}"
                                    src="${atmBranchMapModel.searchIconWebImagePath}">
                              </picture>
                           </div>
                           <input aria-autocomplete="list" aria-invalid="false"
                              autocapitalize="none" autocomplete="off" id="test"
                              placeholder="${atmBranchMapModel.searchPlaceHolder}"
                              spellcheck="false" type="text" value=""/>
                        </div>
                        <div id="atm-map-autocomplete"></div>
                     </div>
                     <div class="search-filter">
                        <div class="city filter">
                           <div class="option">
                              <input aria-hidden="true" name="cities"
                                 placeholder="${atmBranchMapModel.selectDropdown}"
                                 tabindex="-1"/> <img alt="arrow down"
                                 src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/arrow-icon-down-red.svg"/>
                              <div class="dropdown-backdrop"></div>
                           </div>
                           <div class="select-options">
                              <ul>
                                 <li value="all">${atmBranchMapModel.selectDropdown}</li>
                                 <li value="nearest">${atmBranchMapModel.branchDropdown}</li>
                              </ul>
                           </div>
                        </div>
                        <div class="district filter disable">
                           <div class="option">
                              <input aria-hidden="true" name="districts"
                                 placeholder="${atmBranchMapModel.districtLabel}" tabindex="-1"/>
                              <img alt="arrow down"
                                 src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/arrow-icon-down-red.svg"/>
                              <div class="dropdown-backdrop"></div>
                           </div>
                           <div class="select-options">
                              <ul>
                                 <li value="all">${atmBranchMapModel.selectDropdown}</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="search-type">
                        <div class="items">
                           <button class="atm-type type clicked"
                              data-tracking-click-event="branchLocator"
                              data-tracking-click-info-value="{'customerType' : '${atmBranchMapModel.personalLabel}','branchSearchType' : '${atmBranchMapModel.atmLabel}'}"
                              data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': 'other'}}">
                              <div class="atm-icon icon">                                                                
                                 <picture>
                                    <source media="(max-width: 360px)"
                                       srcset="${atmBranchMapModel.atmIconMobileImagePath}"/>
                                    <source media="(max-width: 576px)"
                                       srcset="${atmBranchMapModel.atmIconMobileImagePath}"/>
                                    <source media="(min-width: 1080px)"
                                       srcset="${atmBranchMapModel.atmIconWebImagePath}"/>
                                    <source media="(min-width: 1200px)"
                                       srcset="${atmBranchMapModel.atmIconWebImagePath}"/>
                                    <img alt="${atmBranchMapModel.atmIconAlt}" class="hide"
                                       src="${atmBranchMapModel.atmIconWebImagePath}">
                                 </picture>
                              </div>
                              <span>${atmBranchMapModel.atmLabel}</span>
                           </button>
                           <button class="cdm-type type"
                              data-tracking-click-event="branchLocator"
                              data-tracking-click-info-value="{'customerType' : '${atmBranchMapModel.personalLabel}','branchSearchType' : '${atmBranchMapModel.cdmLabel}'}"
                              data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': 'other'}}">
                              <div class="cdm-icon icon">                                                               
                                 <picture>
                                    <source media="(max-width: 360px)"
                                       srcset="${atmBranchMapModel.cdmIconMobileImagePath}"/>
                                    <source media="(max-width: 576px)"
                                       srcset="${atmBranchMapModel.cdmIconMobileImagePath}"/>
                                    <source media="(min-width: 1080px)"
                                       srcset="${atmBranchMapModel.cdmIconWebImagePath}"/>
                                    <source media="(min-width: 1200px)"
                                       srcset="${atmBranchMapModel.cdmIconWebImagePath}"/>
                                    <img alt="${atmBranchMapModel.cdmIconAlt}" class="hide"
                                       src="${atmBranchMapModel.cdmIconWebImagePath}">
                                 </picture>
                              </div>
                              <span>${atmBranchMapModel.cdmLabel}</span>
                           </button>
                           <button class="branch-type type"
                              data-tracking-click-event="branchLocator"
                              data-tracking-click-info-value="{'customerType' : '${atmBranchMapModel.personalLabel}','branchSearchType' : '${atmBranchMapModel.branchLabel}'}"
                              data-tracking-web-interaction-value="{'webInteractions': {'name': '${component.title}','type': 'other'}}">
                              <div class="branch-icon icon">                                                               
                                 <picture>
                                    <source media="(max-width: 360px)"
                                       srcset="${atmBranchMapModel.branchIconMobileImagePath}"/>
                                    <source media="(max-width: 576px)"
                                       srcset="${atmBranchMapModel.branchIconMobileImagePath}"/>
                                    <source media="(min-width: 1080px)"
                                       srcset="${atmBranchMapModel.branchIconWebImagePath}"/>
                                    <source media="(min-width: 1200px)"
                                       srcset="${atmBranchMapModel.branchIconWebImagePath}"/>
                                    <img alt="${atmBranchMapModel.branchIconAlt}" class="hide"
                                       src="${atmBranchMapModel.branchIconWebImagePath}">
                                 </picture>
                              </div>
                              <span>${atmBranchMapModel.branchLabel}</span>
                           </button>
                        </div>
                     </div>
                  </div>
                  <div class="search-result">
                     <div class="result-message"></div>
                     <div class="results">
                        <div class="show-list">
                           <div class="atm-list"></div>
                           <div class="cdm-list"></div>
                           <div class="branch-list"></div>
                        </div>
                        <div class="detail-item">
                           <div class="above">
                              <div class="comeback">
                                 <img alt
                                    src="https://d1kndcit1zrj97.cloudfront.net/uploads/left_arrow_1e3443f554.svg?w=1920&q=75"/>
                                 <span>${atmBranchMapModel.backLabel}</span>
                              </div>
                              <div class="atm">
                                 <div>
                                    <img alt src=""/>
                                 </div>
                                 <p class="name"></p>
                              </div>
                           </div>
                           <div class="under">
                              <p>${atmBranchMapModel.addressLabel}</p>
                              <p class="address"></p>
                              <a class="direction" href="#"
                                 target="_blank">${atmBranchMapModel.directionLabel}</a>
                              <div class="expand_cards_phone">
                                 <p>${atmBranchMapModel.hotlineLabel}</p>
                                 <a class="contact-number" href="#"></a>
                              </div>
                              </sly>
                              <sly data-sly-resource="${'button' @ resourceType='techcombank/components/button', decorationTagName='div'}"></sly>                            
                             <sly data-sly-test="${!wcmmode.edit}">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="map-container">
                  <iframe allowfullscreen frameborder="0" id="atm-map" loading="lazy"
                     referrerpolicy="no-referrer-when-downgrade" title="tcb-map"></iframe>
               </div>
            </div>
         </div>
      </section>   
      </sly>
</sly>