<sly data-sly-use.banner="com.kemin.redesign.core.models.banner.Banner"></sly>
<sly  data-sly-test="${banner.backgroundImage!=null}">
<style>
    .${banner.id @context='styleString'} .banner-image{
        background-image: url("${banner.backgroundImage @context='uri'}") !important;
    }
</style>
</sly>
<div class="container ${banner.backgroundImage==null? '':banner.id}">
	<div class="${banner.backgroundImage==null? 'banner-color':'banner-image'}">
		<div class="container-kemin">
			<div class="banner-container">
				<div class="row ">
					<div data-sly-resource="${'bannerContent' @ resourceType='kemin-redesign/components/container'}"></div>
				</div>
			</div>
		</div>
	</div>
</div>