<div class='dynamicimage' data-sly-template.imageInfo="${@preset}" 
	data-sly-use.dm="com.kemin.redesign.core.models.dynamicmedia.DynamicImage">
    <sly data-sly-test="${dm.dymImage}">
        <sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"
        data-sly-call="${clientLib.all @ categories='cq.dam.components.scene7.dynamicmedia,cq.dam.components.scene7.common.i18n'}" />
        <div id="${dm.mediaId}" data-current-page="${currentPage.path}" 
            data-page-locale="${dm.localeLanguage}" data-asset-path="${dm.assetPath}" 
            data-asset-name="${dm.assetName}" data-asset-type="image" 
            data-viewer-path="${dm.viewerPath}" data-imageserver="${dm.imageServer}" 
            data-videoserver="${dm.videoServer}" data-contenturl="${dm.contentUrl}" 
            data-dms7="" data-imagepreset="${preset}"
            data-alt="${dm.altText}" class="s7dm-dynamic-media">
            <img src="${dm.imageUrl}" alt="${dm.altText}">
        </div>
    </sly>
    <sly data-sly-test="${!dm.dymImage}">
        <img src="${dm.imageUrl}" alt="${dm.altText}">
    </sly>
</div>
