<div
  data-sly-use.model="com.techcombank.core.models.MultiStepFormModel"
  data-sly-use.template="core/wcm/components/commons/v1/templates.html"
  data-sly-test.hasContent="${model.numberOfSteps}">
  <sly data-sly-test="${hasContent}">
    <div class="multi-step-form" id="${model.formId}">
      <sly data-sly-repeat.stepIndex="${model.stepIndexes}">
        <div
          class="multi-step-form__step ${(stepIndex == 1 || wcmmode.edit || wcmmode.preview) ? 'active' : ''}"
          id="${model.formId}-step-${stepIndex}">
          <p data-sly-test="${(wcmmode.edit || wcmmode.preview)}">Step ${stepIndex}</p>
          <sly data-sly-resource="${'step-body' @ resourceType='wcm/foundation/components/parsys'}" />
          <sly data-sly-resource="${stepIndexList.index @ resourceType='wcm/foundation/components/parsys'}"></sly>
        </div>
      </sly>
    </div>
  </sly>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>
