<sly data-sly-set.isBackButtonEdited="true" data-sly-set.isDMEdited="true" data-sly-set.isXEdited="true" data-sly-list.child="${resource.listChildren}">
	<sly data-sly-test="${child.name=='back-button' && (child.iconUrl.length==0 || child.jcr:title.length==0)}">
		<sly data-sly-set.isBackButtonEdited="false" />
	</sly>
	<sly data-sly-test="${child.name=='dynamicmedia' && child.assetID.length==0}">
		<sly data-sly-set.isDMEdited="false" />
	</sly>
	<sly data-sly-test="${child.name=='x-button' && (child.iconUrl.length==0 || child.jcr:title.length==0)}">
		<sly data-sly-set.isXEdited="false" />
	</sly>

</sly>

<header data-sly-use.templates="core/wcm/components/commons/v1/templates.html">

	<sly data-sly-test="${isBackButtonEdited || wcmmode.edit}">
		<div class="left-btn button" data-sly-resource="${'back-button' @ resourceType='/apps/dopweb/components/button'}"></div>
	</sly>
	<sly data-sly-test="${isDMEdited || wcmmode.edit}">
		<div class="logo" data-sly-resource="${'dynamicmedia' @ resourceType='/libs/dam/components/scene7/dynamicmedia'}"></div>
	</sly>
	<sly data-sly-test="${isXEdited || wcmmode.edit}">
		<div class="right-btn button" data-sly-resource="${'x-button' @ resourceType='/apps/dopweb/components/button'}"></div>
	</sly>
</header>
<sly data-sly-call="${templates.placeholder @ isEmpty = wcmmode.edit}"/>
