<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~
  ~ Copyright 2020 Adobe. All rights reserved.
  ~ This file is licensed to you under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License. You may obtain a copy
  ~ of the License at http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software distributed under
  ~ the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
  ~ OF ANY KIND, either express or implied. See the License for the specific language
  ~ governing permissions and limitations under the License.
  ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<template data-sly-template.carousel="${@ carousel, items, componentType}" data-sly-use.cardTpl="card.html">
    <sly data-sly-test.type="${componentType ? componentType : 'carousel'}" />
    <div id="${carousel.id}" data-comp-is="${type}" class="${type}__container" data-cmp-data-layer="${carousel.data.json}" data-number-products="${properties.nrOfProducts}">
        <h2 data-sly-element="${carousel.titleType}" data-sly-test="${properties.jcr:title}" class="${type}__title ${properties.position}">${properties.jcr:title}</h2>
        <button data-carousel-action='prev' class="${type}__btn ${type}__btn--prev" type="button" style="display: none;"></button>
        <div class="${type == 'carousel' ? '{0}__cardsroot' : '{0}__root' @ format=[type]}">
            <div class="${type}__parent">
                <div class="${type}__cardscontainer" data-sly-list.item="${items ? items : carousel.items}">
                    <sly data-sly-call="${cardTpl.card @ item=item}"/>
                </div>
            </div>
        </div>
        <button data-carousel-action='next' class="${type}__btn ${type}__btn--next" type="button" style="display: none;"></button>
    </div>
</template>
