.list-card-info {
    .list-card-info__item-wrapper {
      width: 100%;
      flex: 1;
    }
    &.dark-theme {
      .list-card-info__item-wrapper {
        color: #fff;
        background: linear-gradient(0deg,rgba(0,0,0,.2),rgba(0,0,0,.2)),linear-gradient(0deg,#212121 48.82%,#8d8175 153.41%);
      }
    }
    .list-card-info__item-info-title {
      margin-bottom: 8px;
    }
    .cta-button {
      min-width: 0 !important;
    }
    &__container {
      z-index: 5;
    }
    .list-card-info {
      &__title {
        color: white;
        font-size: 1.75rem;
        line-height: 1.25;
        font-weight: 300;
        padding-bottom: 8px;
        &.loan {
          color: black;
        }
  
        @media (max-width: 767px) {
          margin-bottom: 0;
        }
      }
  
      &__container {
        .list-card-info {
          &__list-item {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px 24px;
  
            &.column-1 {
              grid-template-columns: repeat(1, 1fr);
            }
  
            &.column-2 {
              grid-template-columns: repeat(2, 1fr);
              .list-card-info {
                &__item {
                    .list-card-info {
                        &__item {
                          &-img {
                              aspect-ratio: 2.85;
                          }
                        }
                    }
                }
              }
            }
  
            &.column-3 {
              grid-template-columns: repeat(3, 1fr);
            }
  
            &.column-4 {
              grid-template-columns: repeat(4, 1fr);
            }

            &.view-more {
              .list-card-info__item-content {
                padding: 24px 16px !important;
              }
            }
            
            .list-card-info {
              &__item {
                color: black;
                position: relative;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                background-color: #fff;
                border-radius: 8px;
                box-shadow: 0 1px 4px rgb(0 0 0 / 16%);
  
                .list-card-info {
                  &__item {
                    &-img {
                      width: 100%;
                      object-fit: cover;
                      transition: all 0.3s;
                      transform: scale(1);
                      aspect-ratio: 1.77;
                      position: relative;
                      width: 100%;
                      height: 100%;
  
                      &.loan {
                        pointer-events: none;
                      }
                    }
  
                    &-content {
                      padding: 24px;
                      font-weight: 400;
                      line-height: 1.5;
                      flex: 1;
                      display: flex;
                      flex-direction: column;
                      justify-content: space-between;
                      height: 100%;
  
                      @media (max-width: 767px) {
                        padding: 16px;
                      }
  
                      .list-card-info {
                        &__item {
                          &-info {
                            &-description {
                              > h4 {
                                margin-bottom: 8px;
                              }
  
                              &--title {
                                font-weight: 600;
                                font-size: 1rem;
                                margin-bottom: 8px;
                                margin-top: unset;
                              }
                            }
  
                            &-footer {
                              font-weight: bold;
                              margin-bottom: 16px;
                            }
                          }
                        }
                      }
  
                      @media (max-width: 992px) {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                      }
                    }
                  }
                }
  
                @media (max-width: 767px) {
                  height: 100%;
                  display: flex;
                }

                &.effects-enlarge-shadow {
                  &:hover {
                    box-shadow: 0 0.0625em 0.0625em rgba(0, 0, 0, 0.25),
                      0 0.125em 0.5em rgba(0, 0, 0, 0.25),
                      inset 0 0 0 1px hsla(0, 0%, 100%, 0.1);
    
                    .list-card-info {
                      &__item {
                        &-img {
                          transform: scale(1.05);
                        }
                      }
                    }
                  }
                }

                &.effects-enlarge {
                  &:hover {
                    .list-card-info {
                      &__item {
                        &-img {
                          transform: scale(1.05);
                        }
                      }
                    }
                  }
                }

                .list-card-info__item--box {
                  overflow: hidden;
                  width: 100%;
                  height: auto;
                  min-height: 88px;
                }
  
                &.img-bottom {
                  flex-direction: column-reverse;
  
                  .list-card-info__item--box {
                    display: flex;
                  }
  
                  .list-card-info__item-content {
                    order: 2;
                  }
                }
              }
            }
          }
        }
      }
    }
    .borrow {
      .list-card-info {
        &__item {
          justify-content: unset;
  
          .list-card-info {
            &__item {
              &-content {
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
              }
            }
          }
        }
      }
    }
  
    &__item {
      &-info-card-description {
        margin-bottom: 16px;
      }
      &-action {
        &:hover {
          text-decoration: underline;
        }
        .tcb-button {
          &--link {
            &:hover {
              color: var(--primary-black);
              text-decoration: underline;
            }
          }
        }
      }
    }

    .list-card-info__view-more-btn {
      display: flex;
      justify-content: center;
      padding: 12px;
      .cta-button {
        padding: 12px;
        .cmp-button__text {
          &:hover {
            text-decoration: underline;
          }
        }

        .cmp-button__icon {
          display: block;
          width: 24px;
          height: 24px;
          -webkit-transition: all 0.3s linear;
          transition: all 0.3s linear;
        }

        &:not(.view-more) {
          .cmp-button__icon {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  @media (max-width: 991px) {
    .list-card-info {
      .list-card-info {
        &__container {
          &.view-more {
            width: calc(100% + 24px);
            margin: -12px;
          }

          .list-card-info {
            &__list-item {
              &.view-more {
                grid-template-columns: repeat(2, 1fr);
                padding: 12px;
              }
            }
          }
        }
      }
    }
  }
  
  @media (max-width: 767px) {
    .list-card-info {
      .list-card-info {
        &__container {
          &.view-more {
            width: calc(100% + 16px);
            margin: -8px;
          }

          .list-card-info {
            &__list-item {
              &.view-more {
                margin: 0;

                .list-card-info__item {
                  margin: 8px 0;
                }
              }

              .slick-slide {
                .list-card-info__item {
                  display: flex !important;
                }
              }
            }
          }
        }
      }

      .list-card-info__view-more-btn {
        .cta-button {
          padding: 0;
          justify-content: center;
        }
      }
    }

    .list-card-info .list-card-info__container .list-card-info__list-item {
      display: unset;
    }
  
    .list-card-info .slick-list {
      overflow: visible;
    }
  
    .list-card-info .list-card-info__container {
      overflow: hidden;
    }
  
    .slide-mobile-only .slick-track,
    .list-card-info
      .list-card-info__container
      .list-card-info__list-item
      .slick-track {
      display: flex;
      justify-content: flex-start;
    }
  
    .list-card-info
      .list-card-info__container
      .list-card-info__list-item
      .slick-slide
      > div {
      height: 100%;
    }
  
    .slide-mobile-only .slick-slide,
    .list-card-info
      .list-card-info__container
      .list-card-info__list-item
      .slick-slide {
      height: auto;
      padding: 8px;
    }
  
    .slide-mobile-only .slick-dots,
    .list-card-info
      .list-card-info__container
      .list-card-info__list-item
      .slick-dots {
      display: flex;
      justify-content: center;
    }
  
    .slide-mobile-only .slick-dots li,
    .list-card-info
      .list-card-info__container
      .list-card-info__list-item
      .slick-dots
      li {
      color: #c4c4c4;
      width: 8px;
      font-size: 25px;
      margin: 0 5px;
    }
  
    .slide-mobile-only .slick-active,
    .list-card-info
      .list-card-info__container
      .list-card-info__list-item
      .slick-active {
      font-size: 1rem;
      font-weight: 400;
    }
  
    .slide-mobile-only .slick-dots button,
    .list-card-info
      .list-card-info__container
      .list-card-info__list-item
      .slick-dots
      button {
      display: none;
    }
  
    .list-card-info__list-item .slick-dots li.slick-active::marker {
      color: #ed1b24;
    }
    .slide-mobile-only .list__items {
      justify-content: center;
    }
  
    .slide-mobile-only .list-tile__hero {
      min-height: 376px;
    }
  
    .slide-mobile-only .slick-dots {
      position: absolute;
      bottom: -25px;
      left: calc(50% - 30px);
    }
  
    .slide-mobile-only {
      overflow: hidden;
    }
  
    .slide-mobile-only .square .list-tile__tile-item:before {
      padding-bottom: 0;
    }
  
    .background-mobile {
      display: block;
      position: absolute;
      width: 100%;
      top: 0;
    }
  
    .background-mobile img {
      width: 100%;
    }
    .list-card-info__item-action {
      .tcb-button.tcb-button--link.tcb-button--border-on-mobile {
        width: unset;
        padding: unset;
        border: unset;
      }
    }

    .list-card-info {
      .list-card-info__list-item {
        &.stack-view {
          .list-card-info__item {
            margin: 20px 0;
          }
        }
      }
    }
  }
  