// dark header
.dark .header {
  .header_layout {
    .header-navigation,
    .navigation_primary {
      background-color: var(--secondary-grey-80);
    }

    .navigation_secondary,
    .navigation-primary_item-dropdown_list.open {
      background-color: var(--primary-black);
    }

    .navigation-primary_left
      .navigation-primary_item-dropdown_list.open
      .header_list_dropdown {
      background-color: var(--primary-black);
      .dropdown-item {
        background-color: unset;
      }
    }

    .navigation-primary_item .link_component-link .link_text,
    .dropdown_holder {
      color: var(--secondary-mid-grey-100);
    }

    .navigation-primary_item.show-active-arrow .link_component-link .link_text,
    .navigation-primary_item .link_component-link .link_text:hover {
      color: var(--secondary-gold);
    }

    .dropdown-arrow.material-symbols-outlined {
      fill: var(--secondary-mid-grey-100);
    }

      .navigation-primary_left
      .navigation-primary_item.navigation-primary_item-dropdown_list.show-active-arrow::after {
      display: none;
    }

    .navigation-primary_left .navigation-primary_item.show-active-arrow:after {
      background-color: var(--primary-black);
      left: 50%;
    }

      .navigation-primary_left
      .navigation-primary_item.discover_dropdown_btn {
      border-left: 1px solid rgb(197, 197, 197, 0.2);
    }

    .navigation-primary_item.has-right-border {
      border-right: 1px solid rgb(197, 197, 197, 0.2);
    }

    .navigation-secondary_item:before {
      background-color: var(--secondary-gold);
    }

    .navigation-secondary_item.active span {
      color: var(--primary-white);
    }

    .header-logo .link_component-link img {
      width: auto;
    }

    .language_dropdown a {
      color: var(--secondary-mid-grey-100);
    }

    .language_dropdown .active a {
      color: var(--primary-red);
    }
  }
}

@media (max-width: 1024px) {
  .header {
    .header_layout {
      .navigation_sub {
        .mobile-menu-items {
          .navigation-secondary_menu {
            .navigation-secondary_item:not(.secondary-nav) {
              .icon {
                display: none;
              }

              a {
                width: 100%;
                text-align: start;
              }
            }
          }
        }
      }
    }
  }

  .dark .header {
    .header_layout {
      height: auto;
      .navigation_secondary .navigation-secondary_menu {
        display: none;
      }

      .navigation_secondary .header-logo {
        height: 100%;
      }
  
      .navigation-secondary_actions .link_component-link {
        background-color: unset;
        .link_text {
          color: #b4a393;
        }
      }
  
      .navigation_sub {
        background-color: var(--secondary-grey-80);
        .mobile-menu {
          background-color: var(--secondary-grey-80);
          .mobile-button {
            display: none;
          }
        }
  
        .mobile-main-nav {
          background-color: var(--primary-black);
          .discover_category {
            .show-active-arrow::after {
              display: none;
            }
          }
        }
  
        .mobile-menu-items {
          background-color: inherit;
          .navigation-secondary_menu {
            padding: 0;
            .navigation-secondary_item {
              margin: 0;
              .icon {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
