.multi-step-form {
  .multi-step-form__step {
    display: none;

    @media screen and (min-width: 768) {
      .button {
        float: left;
        margin-right: 1rem;
      }
    }

    &.active {
      display: initial;
    }
  }
}
