.offer-listing-filter {
  &__header {
    background-color: gray;
    height: 5rem;
    max-height: 5rem;
  }

  &__footer {
    background-color: gray;
    height: 8rem;
    max-height: 8rem;
  }

  &__body {
    padding-left: unset !important;
    padding-right: unset !important;

    @media (max-width: 768px) {
      padding-left: unset !important;
      padding-right: unset !important;
    }

    .offer-listing-promotions {
      &__wrapper {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 24px);
        margin: -12px;

        .tcb-modal_action-bar {
          .tcb-apply-filter-button {
            padding: 0.75rem 1rem;
            display: flex;
            width: 100%;
            background-color: black;
            justify-content: space-between;
            color: white;
            font-weight: 600;
            font-size: 1rem;
            border-radius: 0.5rem;

            &:hover {
              background-color: #616161;

              img {
                filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(2105%) hue-rotate(297deg) brightness(114%) contrast(101%);
              }
            }
          }
        }

        .offer-cards {
          &__wrapper {
            .pagination {
              .pag-container {
                a:not(.active):hover {
                  background-color: rgba(0, 0, 0, 0.04) !important;
                  color: unset !important;
                  border-radius: 0.25rem !important;
                }
              }
            }
          }
        }

        .merchant-desktop-element {
          .dropdown__list {
            max-height: 25.25rem;
          }
        }
      }

      @media (max-width: 768px) {
        .search-primary-container {
          min-height: unset;
          height: fit-content;
          padding: unset;

          .search-box {
            width: 100%;

            .input-container {
              .search-box_icon {
                position: absolute;
                z-index: 10;
                height: 100%;
                display: flex;
                align-items: center;
                margin-left: 1rem;
              }
            }
          }
        }

        .offer-filter {
          &__dropdown {
            margin-bottom: unset;

            .dropdown__wrapper {
              .dropdown__display.merchant-dropdown-display {
                padding: 1rem;
              }
            }
          }
        }

        .dropdown {
          &__wrapper {
            margin-bottom: unset;
          }

          &__display {
            padding: .313rem 1.5rem .313rem 1rem;

            .sort-title {
              display: flex;
              flex-direction: column;

              .display {
                &__title {
                  color: var(--secondary-grey-60);
                  font-size: .75rem;
                }
              }
            }
          }
        }

        .merchant-mobile-element {
          .dropdown__list {
            max-height: 25.25rem;
          }
        }

        .offer-cards {
          &__container {
            flex-basis: 100% !important;
            padding: 0 0.5rem !important;
          }
        }

        .card-offer {
          &__content {
            padding: .75rem .5rem !important;
            grid-gap: .25rem !important;
            gap: .25rem !important;

            &::before, &::after {
              width: 1.125rem !important;
              height: 1.125rem !important;
            }

            .card-content {
              &__label {
                font-size: .625rem !important;
                line-height: .938rem !important;
                height: 1.875rem !important;
              }

              &__title {
                font-size: .625rem !important;
                height: 1.875rem !important;
              }

              &__description {
                font-size: .625rem !important;
                line-height: .938rem !important;
                max-height: 2rem !important;
                & > * {
                  font-size: unset !important;
                  overflow: hidden !important;
                  line-height: unset !important;
                  text-overflow: ellipsis !important;
                  word-break: break-word !important;
                  display: -webkit-box !important;
                  -webkit-line-clamp: 2 !important;
                  -webkit-box-orient: vertical !important;
                }
              }

              &__expired-date {
                column-gap: .25rem !important;
                grid-column-gap: .25rem !important;
                margin-top: 0 !important;
                margin-bottom: 0 !important;

                & > img {
                  width: 0.625rem;
                  height: 0.625rem;
                }

                &--icon {
                  width: .75rem;
                  height: .75rem;
                }

                &--date-time {
                  font-size: .625rem;
                  line-height: .75rem;
                }
              }

              &__expired-date-count-down {
                font-size: .625rem;
              }

              &__link {
                &--button {
                  .button--text {
                    font-size: .625rem;
                    line-height: .938rem;
                  }

                  .button--icon {
                    & > img {
                      width: 0.625rem;
                      height: 0.625rem;
                    }
                  }
                }
              }

              &__favorite-promo {
                & > img {
                  width: 0.625rem !important;
                  height: 0.625rem !important;
                }
              }
            }
          }
        }

        .card-promotion {
          &__list {
            overflow: unset !important;
            display: flex !important;
            flex-wrap: wrap !important;
            box-sizing: border-box !important;
          }

          &__item-wrapper {
            flex-grow: 0 !important;
            max-width: 50% !important;
            flex-basis: 50% !important;
            box-sizing: border-box !important;
          }

          &__item {
            width: unset !important;
          }
        }

        .offer-filter {
          &__checkbox-item-mobile {
            margin-bottom: 1.5rem;
            position: relative;
            line-height: 1.125rem;

            label.checkbox-item__wrapper {
              color: #616161;
            }
          }
        }

        .offer-listing-filter {
          &__button {
            margin-bottom: 1.5rem;
            padding: 0 0.5rem;
            max-width: 100%;
            width: 100%;
          }
        }
      }

      .offer-filter {
        &__checkbox-item {
          margin-bottom: 1.5rem;
          position: relative;
          line-height: 1.125rem;

          label.checkbox-item__wrapper {
            color: #616161;
          }
        }
      }

      .search-area {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        gap: 1.5rem;

        @media (max-width: 576px) {
          display: none;
        }

        .search-primary-container {
          min-height: unset;
          height: fit-content;
          padding: 0;

          .search-box {
            width: 100%;

            .input-container {
              .search-box_icon {
                position: absolute;
                z-index: 10;
                height: 100%;
                display: flex;
                align-items: center;
                margin-left: 1rem;
              }
            }
          }
        }

        .news-filter {
          margin-bottom: 0;

          .information-filter {
            &__load-more {
              margin-top: unset;
              margin-bottom: unset;

              .load-more {
                &__button {
                  background-color: black;
                  color: white;
                  height: 3.5rem;

                  &:hover {
                    background-color: var(--secondary-grey-60);
                  }
                }
              }
            }
          }
        }
      }

      .promotion-total-count {
        margin-bottom: 1.5rem;
      }

      .card-promotion {
        &__list {
          margin-bottom: 2rem !important;
        }

        &__item {
          display: flex;
          flex-direction: column;
          background-color: white;
          border-radius: .5rem;
          height: 100%;
          max-width: 25rem;

          .card-offer {
            &__image {
              max-height: 10.625rem;
              min-height: 5.5rem;
              flex-shrink: 0;
              display: flex;
              justify-content: center;

              @media (max-width: 768px) {
                height: initial !important;
              }

              &--wrapper {
                box-sizing: border-box;
                display: inline-block;
                overflow: hidden;
                width: initial;
                height: initial;
                background: none;
                opacity: 1;
                border: 0px;
                margin: 0px;
                padding: 0px;
                position: relative;
                max-width: 100%;

                .image-card-offer {
                  box-sizing: border-box;
                  display: block;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0px;
                  margin: 0px;
                  padding: 0px;
                  max-width: 100%;

                  & > img {
                    display: block;
                    max-width: 100%;
                    width: initial;
                    height: initial;
                    background: none;
                    opacity: 1;
                    border: 0px;
                    margin: 0px;
                    padding: 0px;
                  }
                }

                & > img {
                  position: absolute;
                  inset: 0px;
                  box-sizing: border-box;
                  padding: 0px;
                  border: none;
                  margin: auto;
                  display: block;
                  width: 0px;
                  height: 0px;
                  min-width: 100%;
                  max-width: 100%;
                  min-height: 100%;
                  max-height: 100%;
                  object-fit: cover;
                  object-position: center center;
                }
              }
            }

            &__content {
              padding: 1.5rem 1rem;
              display: flex;
              flex-direction: column;
              position: relative;
              height: 100%;
              width: 100%;
              justify-content: space-between;
              gap: .5rem;
              grid-gap: .5rem;

              &:hover {
                text-decoration: unset;
                cursor: unset;
              }

              .card-content {
                &__label {
                  font-size: .875rem;
                  text-transform: uppercase;
                  font-weight: 600;
                  line-height: 1.313rem;
                  letter-spacing: .125rem;
                  color: var(--accent);
                  height: 2.625rem;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  word-break: break-word;
                  margin-top: 0;
                }

                &__title {
                  font-weight: 600;
                  line-height: 1.5rem;
                  height: 3rem;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  word-break: break-word;
                  margin-bottom: 0;
                }

                &__description {
                  color: var(--secondary-grey-60);
                  flex-grow: 1;
                  overflow: hidden;
                  max-height: 2.375rem;
                  font-weight: 400;

                  & > * {
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    line-height: 1.25rem;
                  }
                }

                &__expired-date {
                  display: flex;
                  grid-column-gap: .5rem;
                  column-gap: .5rem;
                  color: var(--secondary-grey-60);
                  font-weight: 400;
                  line-height: 1.5rem;
                  margin-top: .5rem;
                  margin-bottom: .5rem;
                  align-items: center;

                  &--date-time {
                    font-weight: 400;
                    line-height: 1.5rem;
                    color: var(--secondary-grey-60);
                  }
                }

                &__link {
                  &--button {
                    position: relative;
                    display: inline-flex;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    align-items: center;
                    text-decoration: none;
                    transition: all .3s ease-in;
                    justify-content: space-between;
                    gap: .75rem;
                    background-color: inherit;
                    padding: 0;

                    .button--text {
                      font-weight: 600;
                      color: black;

                      &:hover {
                        color: red;
                      }
                    }

                    .button--icon {
                      display: flex;
                      align-items: center;
                      margin-left: 0;
                      transition: all .3s ease-in-out;
                    }
                  }
                }

                .expiry-date-section {
                  margin: 0.5rem 0;
                }

                &__expired-date-count-down {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  grid-gap: 1rem;
                  gap: 1rem;
                  max-width: 100%;

                  .progress-bar {
                    flex: 1;
                    width: 100%;
                    border-radius: 0.5rem;
                    background-color: #dedede;
                    height: 0.25rem;
                    overflow: hidden;
                    position: relative;

                    &__inner {
                      width: 100%;
                      border-radius: 0.5rem;
                      background-color: #ed1b24;
                      position: absolute;
                      top: 0;
                      left: 0;
                      bottom: 0;
                    }
                  }

                  .countdown-time {
                    font-size: 0.875rem;
                    text-align: right;
                    color: #616161;
                  }
                }

                &__favorite-promo {
                  display: flex;
                  position: absolute;
                  bottom: 0;
                  right: 0;

                  & > img {
                    width: 1.5rem;
                    height: 1.5rem;
                  }
                }

                .display-none {
                  display: none;
                }

                .display-unset {
                  display: unset;
                }
              }
            }
          }
        }
      }

      .pagination {
        margin-top: 1.5rem;

        .pag-container {
          float: right;
          display: flex;
          align-items: center;

          label {
            cursor: pointer;
          }

          &--previous {
            margin-right: 0.5rem;
          }

          &--next {
            margin-left: 0.5rem;
          }
        }

        a {
          color: black;
          margin-right: .375rem;
          font-size: 1.125rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.875rem;
          height: 1.875rem;
          max-width: 1.625rem;
          display: flex;
          align-items: center;
          text-align: center;
          padding: .25rem .5rem;

          &:last-child {
            margin-right: 0;
          }

          &.active {
            background-color: red;
            color: white;
            border-radius: .25rem;
          }

          &:hover:not(.active) {
            color: red;
          }
        }
      }
    }
  }
}