.tcb-sectionContainer {
  .input-search {
    width: 100%;
    padding: 0.75rem 3rem;
    border-radius: 0.5rem;
    background-color: #fff;
    display: inline-flex;
    border: 1px solid #e3e4e6;
    position: relative;
    outline: none;
    height: 3.5rem;
  }

  .tabs-event-card {
    .expansion-area {
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;

      .result {
        border-radius: 0.5rem;
        box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.08);
        padding: 1.5rem;
        background-color: #ffffff;
        border: 1px solid #fff;

        .result_title {
          line-height: 1.5;
          color: var(--body);
          letter-spacing: -0.01em;
          font-weight: 600;
          font-size: 19px;
        }

        .result_description {
          margin-top: 0.5rem;
          color: var(--gray-600);
        }
      }
    }

    .pagination {
      margin-top: 1.5rem;
      .pag-container {
        float: right;
      }

      a {
        color: black;
        margin-right: 0.375rem;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.875rem;
        text-align: center;
        padding: 0.25rem 0.5rem;
      }

      a:last-child {
        margin-right: 0px;
      }

      a.active {
        background-color: #ff0000;
        color: white;
        border-radius: 0.25rem;
      }

      a:hover:not(.active) {
        color: #ff0000;
      }
    }
  }
}
