/* Component Spacer */
@media screen and (max-width: 767px) {
    .spacer-lg {
      display: none;
    }
  }
@media screen and (min-width: 768px){
    .spacer-sm {
        display: none;
    }
}
/* End of Component Spacer */