.submit-button {
  max-width: 300px;
  margin: 20px auto 0 0;
  position: relative;

  > input {
    padding: 16px 24px;
    border-radius: 8px;
    background-color: var(--primary-black);
    width: 100%;
    color: var(--primary-white);
    text-align: left;
    border: none;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--light-secondary-text);
    }
  }

  img {
    position: absolute;
    display: block;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
  }
}
