.cmp-text,
.financialhighlights {
  &:has(table) {
    overflow-x: auto;
  }

  table:has(tr.alternate:first-child) {
    tr:nth-child(odd):not(:first-child) {
      background: var(--primary-white);
    }

    tr:first-child {
      border: solid 1px rgb(128, 128, 128);
    }

    th,
    td {
      border: none;
      border-bottom: 1px solid rgba(224, 224, 224, 1);
    }

    th {
      text-align: left;
      padding: 24px 24px 8px;
    }

    td {
      padding: 24px;

      &:nth-child(3n+3),
      &:first-child {
        width: 25%;
      }
    }
  }

  table {
    border-color: var(--secondary-mid-grey-60);

    tr.red,
    th.red,
    td.red {
      background: #e64d4d;
      color: var(--primary-white);
    }

    tr.white,
    th.white,
    td.white {
      background: var(--primary-white);
      color: var(--primary-black);
    }

    tr.black,
    th.black,
    td.black {
      background: var(--primary-black);
      color: var(--primary-white);
    }

    tr.blue,
    th.blue,
    td.blue {
      background: var(--primary-navy-blue);
      color: var(--primary-white);
    }

    tr.gray,
    th.gray,
    td.gray {
      background: var(--secondary-light-grey-100);
      color: var(--secondary-grey-60);
    }

    td, th {
      padding: 16px;
    }

  }
}
