.pl-20 {
  padding-inline-start: 20px;
}

li {
  &::before {
    background-color: var(--primary-black);
  }
  &::marker {
    color: var(--primary-black);
  }
  &.red-bullet::before {
    background-color: var(--primary-red);
  }
  &.red-bullet::marker {
    color: var(--primary-red);
  }
  &.blue-bullet::before {
    background-color: var(--primary-navy-blue);
  }
  &.blue-bullet::marker {
    color: var(--primary-navy-blue);
  }
  &.black-bullet::before {
    background-color: var(--primary-black);
  }
  &.black-bullet::marker {
    color: var(--primary-black);
  }
  &.white-bullet::before {
    background-color: var(--primary-white);
  }
  &.white-bullet::marker {
    color: var(--primary-white);
  }
  &.grey-bullet::before {
    background-color: var(--primary-sky-grey);
  }
  &.grey-bullet::marker {
    color: var(--primary-sky-grey);
  }
  &.gold-bullet::before {
    background-color: var(--primary-gold);
  }
  &.gold-bullet::marker {
    color: var(--primary-gold);
  }
}

.hover-underline:hover {
  text-decoration: underline;
}

.hover-color:hover {
  color: var(--primary-red);
}
