.tcb-title {
  .tcb-heading1 & {
    color: var(--primary-black);
    .dark & {
      color: var(--primary-white);
    }
  }

  .tcb-heading2 &,
  .tcb-heading3 & {
    color: var(--secondary-grey);
    .dark & {
      color: var(--primary-white);
    }
  }

  .tcb-heading1 & {
    font-size: var(--heading1-font-size);
    line-height: var(--heading1-line-height);
    font-weight: 300;
  }

  .tcb-heading2 & {
    font-size: var(--heading2-font-size);
    line-height: var(--heading2-line-height);
    font-weight: 700;
  }

  .tcb-heading3 & {
    font-size: var(--heading3-font-size);
    line-height: var(--heading3-line-height);
    font-weight: 300;
  }
}
