<div class="cmp-form-text"
     data-sly-use.text="com.dish.dopweb.core.models.form.Text"
     data-cmp-is="formText"
     data-cmp-constraint-message="${text.constraintMessage}"
     data-cmp-required-message="${text.requiredMsg}">
    <label for="${text.fieldId}" data-sly-test="${text.labelTitle && !text.hideTitle}">${text.labelTitle}<span
            data-sly-test="${text.required}">*</span></label>
    <div data-sly-test.isLeft="${text.iconPosition == 'left'}"
         class="cmp-form-img__left">
        <image src="${text.icon}"/>
    </div>
    <div data-sly-test.position="${!isLeft}"
         class="cmp-form-img__right">
        <image src="${text.icon}"/>
    </div>
    <input data-sly-test="${!useTextarea}"
           class="cmp-form-text__text ${text.fieldId}"
           data-cmp-hook-form-text="input"
           aria-label="${text.hideTitle && text.labelTitle}"
           type="${text.type}"
           id="${text.id}"
           placeholder="${text.placeHoldermsg}"
           name="${text.fieldName}"
           value="${text.value}"
           readonly="${text.readOnly}"
           required="${text.requireFlag}">

    <span class="cmp-form-text__help-text"></span>
</div>
