<div data-sly-use.modal="com.techcombank.core.models.ModalModel"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-test.hasContent="${modal.id}">
    <sly data-sly-test="${hasContent}">
        <div class="${ wcmmode.edit ? 'popup-editable' : 'popup modal-hidden' } popup-${modal.size}" id="${modal.id}">
            <div class="popup__container">
                <div class="popup__container-item">
                    <div class="popup__header">
                        <span class="popup__header-title">${modal.title}</span>
                        <span class="close popup__close-icon">
                            <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/gray-close.svg"/>
                        </span>
                    </div>
                    <div class="popup__content" style="padding:${modal.padding @context='styleString'}px;">
                        <span class="close popup__close-icon">
                            <img src="/etc.clientlibs/techcombank/clientlibs/clientlib-site/resources/images/icon_close_red.svg"/>
                        </span>
                        <sly data-sly-resource="${'modal-body' @ resourceType='wcm/foundation/components/parsys'}" />
                    </div>
                </div>
            </div>
        </div>
    </sly>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>
