<sly data-sly-test="${wcmmode.edit}">
  <p data-emptytext="${component.title}" class="cq-placeholder"></p>
</sly>
<sly data-sly-use.navEqualPanelModel="com.techcombank.core.models.NavEqualPanelModel">
  <div class="nav-equal-panel">
    <div class="with-cta-container">
      <div class="nav-equal__content">
        <div class="with-cta-root">
          <div class="with-cta-grid">
            <div class="with-cta-innergrid">
              <sly data-sly-list.navPanelSectionItem="${navEqualPanelModel.navPanelSection}">
                <div class="with-cta-grid-item">
                  <div class="with-cta-event-card">
                    <div class="with-cta-event-wrapper">
                        ${navPanelSectionItem.description @ context='html'}
                      <sly data-sly-test="${navPanelSectionItem.ctaTypeOneLabel}">
                        <div class="with-cta-event-btn">
                          <div class="with-cta-event-nav">
                            <a href="${navPanelSectionItem.ctaTypeOneLinkURL}"
                              target="${navPanelSectionItem.ctaTypeOneTarget}"
                              rel="${navPanelSectionItem.ctaTypeOneNoFollow ? 'nofollow' : ''}"
                              data-tracking-click-event="linkClick"
                              data-tracking-click-info-value="{'linkClick': '${component.title} | ${navPanelSectionItem.ctaTypeOneLabel}'}"
                              data-tracking-web-interaction-value="${navPanelSectionItem.ctaTypeOneLinkURLType}">
                              <span>${navPanelSectionItem.ctaTypeOneLabel}</span>
                               <sly data-sly-test="${navPanelSectionItem.ctaTypeOneIcon}">
                              <div class="with-cta-event-svg">
                                 <picture>
                  <source media="(max-width: 360px)" srcset="${navPanelSectionItem.ctaTypeOneIconMobileImagePath}"  />
                  <source media="(max-width: 576px)" srcset="${navPanelSectionItem.ctaTypeOneIconMobileImagePath}" />
                  <source media="(min-width: 1080px)" srcset="${navPanelSectionItem.ctaTypeOneIconWebImagePath}" />
                  <source media="(min-width: 1200px)" srcset="${navPanelSectionItem.ctaTypeOneIconWebImagePath}" />
                  <img src="${navPanelSectionItem.ctaTypeOneIconWebImagePath}" alt="${navPanelSectionItem.ctaTypeOneAltText}" />
                 </picture>
                              </div>
                              </sly>
                            </a>
                          </div>
                        </div>
                      </sly>
                      <sly data-sly-test="${navPanelSectionItem.ctaTypeTwoLabel}">
                        <div class="with-cta-event-btn">
                          <div class="with-cta-event-nav">
                            <a href="${navPanelSectionItem.ctaTypeTwoLinkURL}"
                              target="${navPanelSectionItem.ctaTypeTwoTarget}"
                              rel="${navPanelSectionItem.ctaTypeOneNoFollow ? 'nofollow' : ''}"
                              data-tracking-click-event="linkClick"
                              data-tracking-click-info-value="{'linkClick': '${component.title} | ${navPanelSectionItem.ctaTypeTwoLabel}'}"
                              data-tracking-web-interaction-value="${navPanelSectionItem.ctaTypeTwoLinkURLType}">
                              <span>${navPanelSectionItem.ctaTypeTwoLabel}</span>
                              <sly data-sly-test="${navPanelSectionItem.ctaTypeTwoIcon}">
                              <div class="with-cta-event-svg">
                                 <picture>
                  <source media="(max-width: 360px)" srcset="${navPanelSectionItem.ctaTypeTwoIconMobileImagePath}"  />
                  <source media="(max-width: 576px)" srcset="${navPanelSectionItem.ctaTypeTwoIconMobileImagePath}" />
                  <source media="(min-width: 1080px)" srcset="${navPanelSectionItem.ctaTypeTwoIconWebImagePath}" />
                  <source media="(min-width: 1200px)" srcset="${navPanelSectionItem.ctaTypeTwoIconWebImagePath}" />
                  <img src="${navPanelSectionItem.ctaTypeTwoIconWebImagePath}" alt="${navPanelSectionItem.ctaTypeTwoAltText}" />
                 </picture>
                              </div>
                              </sly>
                            </a>
                          </div>
                        </div>
                      </sly>
                    </div>
                  </div>
                </div>
              </sly>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</sly>
