<sly data-sly-test.empty="${!properties.direction}"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-call="${template.placeholder @ isEmpty=empty}"></sly>

<sly data-sly-test="${!empty}">
    <script>
        function initSpacer() {
            document.querySelectorAll('.spacer > .spacerdv').forEach(item => {
                let attribute;
                if (window.innerWidth > 1024) {
                    attribute = item.dataset.spacerDesktopValue;
                } else if (window.innerWidth >= 768 && window.innerWidth <= 1024) {
                    attribute = item.dataset.spacerTabletValue;
                } else if (window.innerWidth < 768) {
                    attribute = item.dataset.spacerMobileValue;
                }
                attribute = attribute || item.dataset.spacerDesktopValue;
                const direction = item.dataset.spacerDirection;
                if (direction === "horizontal") {
                    item.parentElement.style.width = Number(attribute) / 16 + "rem";
                } else if (direction === "vertical") {
                    item.parentElement.style.height = Number(attribute) / 16 + "rem";
                } else {
                    console.debug("Incorrect spacer direction value authored for: ", item);
                }
            });
        }
        document.addEventListener('DOMContentLoaded', initSpacer);
        window.onresize = initSpacer;
    </script>
    <div class="spacerdv ${properties.direction}"
         data-spacer-direction="${properties.direction}"
         data-spacer-desktop-value="${properties.pixels}"
         data-spacer-tablet-value="${properties.tabletSpacing || properties.pixels}"
         data-spacer-mobile-value="${properties.mobileSpacing || properties.pixels}">
    </div>
</sly>