<sly
    data-sly-use.tableModel="com.kemin.redesign.core.models.table.Table"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-test.table="${tableModel.tableData}">
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!table, classAppend='cmp-title'}"></sly>
<sly data-sly-test="${table}">
    <div class="table-container">
        <div class="table-title">${tableModel.title}</div>
        <div class="table-description">${tableModel.description}</div>
        <div class="table-component">${tableModel.tableData @context='html'}</div>
    </div>
</sly>