<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.js @ categories=['kemin.layoutcontainer']}"/>
<div data-sly-test="${wcmmode.edit}" class="cq-placeholder"></div>
    <sly data-sly-test.imageUrl="${properties.fileReference}"></sly>
    <div class="${properties.addPadding?'container-kemin':'container-fullwidth'}  ">
        <div class="layout-container-kemin" style="padding-top:${properties.toppadding @ context='styleToken'}px; padding-right:${properties.rightpadding @ context='styleToken'}px; padding-bottom:${properties.bottompadding @ context='styleToken'}px; padding-left:${properties.leftpadding @ context='styleToken'}px;" >
        <sly data-sly-test="${properties.fileName}">
            <section id="${properties.layoutcontainerID}" class="${properties.layoutbackgroundtheme}" style="background-image:url(${imageUrl && properties.fileReference @ context='uri'});background-repeat:no-repeat;background-size:cover;background-position:center;">
                <sly data-sly-include="responsivegrid.html"></sly>
            </section>
        </sly>
        <sly data-sly-test="${!properties.fileName}">
            <section id="${properties.layoutcontainerID}" class="${properties.layoutbackgroundtheme}">
                <sly data-sly-include="responsivegrid.html"></sly>
            </section>
        </sly>
    </div>
    </div>
    