.content-container input[type="text"] {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    width: 100%;
}
.content-container{
    width: 65%;
    margin: 10px auto;
}

.content-container input[type="checkbox"]{
    line-height: 20px;
	margin: 10px;
	height: 20px;
}
.content-container h1{
	margin-bottom:20px;
}

.content-container .coral-Button--primary{
	margin-top: 20px;
}

coral-datepicker input[type="text"] {
	margin-top: 15px;
}