<sly
    data-sly-use.testimonialModel="com.kemin.redesign.core.models.testimonial.Testimonial"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-test.testimonialsAuthored="${testimonialModel.testimonialItems.size!=0}">
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!testimonialsAuthored, classAppend='cmp-title'}"></sly>
<sly data-sly-test="${testimonialsAuthored}">
    <div class="testimonial">
        <div id="testimonialCaptions" class="carousel slide" data-bs-interval="false">
            <div class="carousel-inner">
                <sly data-sly-repeat="${testimonialModel.testimonialItems}">
                    <div class="carousel-item ${item.initialCssClass}">
                        <div class="image-container">
                            <div data-sly-resource="${item.backgroundImageDesktop @ resourceType='kemin-redesign/components/dynamicimage', selectors='presets.testimonial'}" class="testimonial-image background-image-desktop"></div>
                            <div data-sly-resource="${item.backgroundImageMobile @ resourceType='kemin-redesign/components/dynamicimage', selectors='presets.testimonial'}" class="testimonial-image background-image-mobile"></div>
                            <div class="gradient"></div>
                        </div>
                        <div class="carousel-caption">
                            <span class="icon-quote-open"></span>
                            <div class="testimonial-text">
                                <p>${item.quote @context='html'}</p>
                            </div>
                            <span class="icon-quote-close"></span>
                            <div class="testimonial-name">
                                <p>${item.authorInfo}</p>
                            </div>
                        </div>
                    </div>
                </sly>
                <div class="carousel-indicators">
                    <sly data-sly-repeat="${testimonialModel.testimonialItems}">
                        <li  data-bs-target="#testimonialCaptions" data-bs-slide-to="${itemList.index}" class="${item.initialCssClass}" aria-current="${itemList.first}"></li>
                    </sly>
                </div>
                <sly data-sly-test="${testimonialModel.ctaName && testimonialModel.ctaLink}">
                    <div class="testimonialLink">
                        <a data-cta="${testimonialModel.ctaName}" data-at="${testimonialModel.ctaName}" data-nav="Testimonial" data-cta-type="link" href="${testimonialModel.ctaLink @extension='html'}">${testimonialModel.ctaName}<span class="icon-chevron-right"></span></a>
                    </div>
                </sly>
            </div>
        </div>
    </div>
</sly>